[2016-09-29 04:34] pavanky commented on #1607
See this issue for more information: https://groups.google.com/forum/#!msg/arrayfire-users/ckNHX69iC_4/-dZB6muMAAAJ

[2016-10-04 06:53] ZacDiggum commented on #1568
Hi @kaatish, could you give an ETA for the solvers? I noticed [clSPARSE](https://github.com/clMathLibraries/clSPARSE#clsparse-features) already features CG and BiCGStab.

[2016-10-04 17:59] shehzan10 commented on #1603
Fixed by #1604 in hotfix-3.4.1 branch

[2016-10-04 17:59] #1603 closed

[2016-10-04 18:03] shehzan10 commented on #1568
As the milestone suggests, we expect these to be a part of the v3.5 release.

We have also added an [example for a CG solver](https://github.com/arrayfire/arrayfire/blob/hotfix-3.4.1/examples/benchmarks/cg.cpp) using both sparse and dense arrays in the hotfixes branch which will be included in the v3.4.1 release.

[2016-10-04 18:05] lucmichalski opened #1609 "Unity3D"
Hi,

Hope you are all doing well !

Is ArrayFire available for Unity Package (Android/IOs) ?

Cheers,
L.

[2016-10-04 18:44] ZacDiggum commented on #1568
Thanks for the info...

[2016-10-05 14:24] shehzan10 commented on #1609
Hi

A Unity Package for ArrayFire is something we have in the pipeline but have not started off on yet. This is definitely something we want to do.
Alternately, ArrayFire is available with may wrappers including [arrayfire-dotnet](https://github.com/arrayfire/arrayfire-dotnet) and [arrayfire-js](https://github.com/arrayfire/arrayfire-js).
However, these have not been tested in a Unity environment.

[2016-10-05 15:19] kaatish opened #1610 "randu generates values from 0 to 1 inclusive"
Floating point uniform random number generation does not exclude the value of 1.

[2016-10-05 15:24] kaatish commented on #1610
Offending lines :

- [OpenCL](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/opencl/kernel/random_engine_write.cl#L14)
- [Cuda] (https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cuda/kernel/random_engine.hpp#L32)
- [CPU] (https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/kernel/random_engine.hpp#L79)

The transformation from `unsigned` to `float` does no

[2016-10-05 15:45] pavanky commented on #1610
C++ standard has lower inclusive while the higher value is exclusive: http://en.cppreference.com/w/cpp/numeric/random/uniform_real_distribution

This will still be a problem when you are doing boxMueller transform because you end up doing log(0). Look at what the wiki explains about this: https://en.wikipedia.org/wiki/Box%E2%80%93Muller_transform

[2016-10-05 15:48] kaatish commented on #1610
Box Muller can be used with `1-u1` and `1-u2` if u belongs to [0, 1).

[2016-10-05 16:49] pavanky commented on #1610
@kaatish Does multiplying by 1.0 / UINTMAX work (as shown in the wiki example) ?

[2016-10-05 16:52] pavanky commented on #1610
Apparently this is a common bug:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=63176
https://llvm.org/bugs/show_bug.cgi?id=18767

Besides I don't think switching boxMueller to use `1-u1` and `1-u2` when one of them is `0` is a solution.

[2016-10-05 17:01] kaatish commented on #1610
@pavanky No, this doesn't work.

Why not? Box Muller transform accepts uniformly distributed random numbers. If u1 and u2 are uniformly distributed, so are 1-u1 and 1-u2.
Moreover, The value of infinity is a valid outcome of generating normal numbers. For actual calculations we would want to avoid this data point so it makes sense to avoid 0 in the transform.

[2016-10-05 17:14] pavanky commented on #1610
@kaatish Yes, they are still uniform. But there is a reason why the suggested way to implement boxmueller is to repeat until they don't fall in that range rather than subtracting the uniform numbers for 1. I assume this is because you are generating `0` (because `log(1-u1)` is `0`) with a higher probability than usual.

[2016-10-05 17:28] kaatish commented on #1610
@pavanky I see. Alright, we can have a while loop to select values from a valid range. I think it can be done easily for CBRNG types but Mersenne will be problematic.

[2016-10-05 17:37] pavanky commented on #1610
Can you check this out http://www2.econ.osaka-u.ac.jp/~tanizaki/class/2013/econome3/13.pdf

[2016-10-06 14:35] lucmichalski commented on #1609
Hi @shehzan10,

Thanks for your reply !

I do not have custom needs for the moment as I wanted to see if I can get some performances improvement of this unity package (https://www.assetstore.unity3d.com/en/#!/content/21088) with ArrayFire. Especially, on mobile devices, a couple of cool things need be tested before.

What kind of benefits ArrayFire could bring if u release a unity package for Open

[2016-10-06 14:57] shehzan10 commented on #1609
If we do go about creating a unity package, it probably won't be a sub-package for OpenCV for Unity. It will probably be something along the lines of "ArrayFire for Unity".
All I can tell you now is that, when such a package comes out, it will have the best performance code for image processing, vector and matrix algebra etc. It will probably use the GPU and multi threading as much as possible.
Th

[2016-10-06 18:52] CNugteren opened #1611 "Adding support for CLBlast"
For the past year I have been working on [CLBlast](https://github.com/CNugteren/CLBlast). I believe it will soon be mature enough to replace the clBLAS back-end which you are currently using for the OpenCL version of ArrayFire. I also saw issue #1374 which discusses some problems that CLBlast could solve (better performance on non-AMD GPUs for example). However, CLBlast still relies on the communi

[2016-10-06 19:11] shehzan10 commented on #1611
We are definitely open to providing alternates based on user choices.

Some of the requirements check out immediately, like:
* License - APACHE 2.0 is compatible.
* Cross platform
* C/C++ API is great
* float, double, cfloat, cdouble are all there

Going through your README, I have the following questions for you:
* We like to keep ArrayFire's minimum requirement to Visual Studio 2013. I see that

[2016-10-06 19:48] CNugteren commented on #1611
Thanks for your quick response! Here are answers to your questions:

1. VS 2015 is indeed a requirement because of C++11. A while back I made an attempt to start 'fixing' the code to make it compile under VS 2013. But there is just too much that isn't available - it would require re-writing parts of the code. If this is really needed I can check again what can be done, but it'll cost time. If poss

[2016-10-06 20:10] shehzan10 commented on #1611
1. VS 2015 would limit how we use CLBlast with ArrayFire. This includes building and testing on our CI server on a regular basis (this would also include building and testing CLBlast on its own on an array of architectures and devices). Essentially, it would become limited to users who are building from source on Windows.
If you can make a workaround using a different set of files, that's fine by

[2016-10-06 20:18] shehzan10 commented on #1611
Also, if you want to have a more informal chat about this, hop on to our [gitter](https://gitter.im/arrayfire/arrayfire).

[2016-10-06 20:47] pavanky commented on #1611
@CNugteren links to any benchmarks ?

[2016-10-07 14:44] shehzan10 commented on #1611
@CNugteren I just started to build CLBlast to see how it looks. And realized I had another question.
It looks like you are using **cl.h** header. What are your thoughts on moving to **cl2.hpp**? We recently made the move with ArrayFire and have only good things to say about it.
Maybe we can open a PR from our end for that.

[2016-10-07 15:17] pavanky commented on #1611
`cl.h` or `cl.hpp` ?

[2016-10-07 18:27] CNugteren commented on #1611
@shehzan10 I am using the normal `opencl.h` header, since it is available everywhere. I wrap it using `clpp11.h` (https://github.com/CNugteren/CLCudaAPI) to make it a bit more modern and make resource management (alloc/free) automatic. Surely the official headers have their benefits as well, but I don't think changing at this point will help me the project in any way.

@pavanky Some benchmark resu

[2016-10-08 03:55] WilliamTambellini commented on #492
Sparse array should now do similar job.

[2016-10-12 14:39] shehzan10 commented on #1384
CUDA 8 for OSX has been release and supports clang version 7.3.
It however does NOT support XCode 8/Clang 8.

Editing this issue to reflect that.

[2016-10-12 20:19] botev opened #1616 "Random integer sampling"
It would be nice to add to the random generators also an integer sampler. The optimal situation for such sampler would be:

1. Default sample an array from the uniform [0, n-1] for some provided integer n
2. Given a 1D array sample the integer from the corresponding discrete distribution. The 1D array should sum to 1
3. Having option for sampling with and without replacement along a certain axis (

[2016-10-12 21:20] shehzan10 opened #1617 "CPU Lapack sgetrf (LU) fails on OS X 10.11/12 when using Accelerate Framework"
The **`lu_dense_cpu`** test is failing under the following conditions:
* float / `sgetrf`
* size is greater than or equal to 128*128 elements
* Accelerate Framework on OS X 10.11 & 10.12 (El Capitan/Sierra)

Since OS X uses mandatory fallback for OpenCL Unified memory devices (CPUs/iGPUs), this makes the `lu_dense_opencl` test also fail when run on these types of devices.
And since `lu`/`sgertf` g

[2016-10-13 07:29] villekf opened #1618 "Feature request: support for sparse matrix/vector addition and subtraction"
Could it be possible to add support for the addition/subtraction of sparse matrix/vector to dense matrix/vector?

[2016-10-13 08:27] unbornchikken commented on #1323
Just curious, did you identified the issue that causes the slowdown?

[2016-10-13 14:47] shehzan10 commented on #1323
I think the performance for the OpenCL backend is better than at 3.2.2 with all the work done for the 3.4.0 release.
I tested this on a AMD Hawaii GPU.
* With regards to FFT, there is no difference.
* The NN training time for v3.3.2 is 75s and for v3.4.0 is 26s. Thats a 3x improvement.
* For the BLAS benchmark, there is a slight performance regression, about 10% depending on the sizes.

If there a

[2016-10-13 14:58] unbornchikken commented on #1323
It (was?) reproducible on Tahiti or on my Pitcairn. Just run the stock ArrayFire NN example like @pavanky  did in https://github.com/arrayfire/arrayfire/issues/1323#issuecomment-197054632

[2016-10-13 16:07] shehzan10 commented on #1323
Unfortunately, I don't readily have a Tahiti GPU to test on. Let me see if I can do anything about that.

[2016-10-13 16:30] WilliamTambellini commented on #1618
+1

[2016-10-13 17:05] pavanky commented on #1323
@shehzan10 S10000 is a thaiti GPU

[2016-10-13 18:52] shehzan10 commented on #1607
Should this return the total bytes of `a` or the actual bytes used by `b`?

[2016-10-13 19:10] pavanky commented on #1607
The former.

[2016-10-13 19:38] shehzan10 opened #1620 "Bug in sparse values dimensions when using AF_STORAGE_COO"
The values matrix is retaining the size of the original input.

source: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/arrayfire-users/ecURqLx-ufQ

[2016-10-14 02:16] WilliamTambellini opened #1622 "Bug in af::sparse(const dim_t nRows, const dim_t nCols, const dim_t nNZ, const void *const values, ...)"
Source:
const float v[] = { 1,2 };
const int rs[] = { 1,3 };
const int cs[] = { 0,0 };
af::array s = af::sparse(4,1,2,(const void*)&v[0],&rs[0],&cs[0], f32);
af_print(s);

Output:
s
Storage Format : AF_STORAGE_CSR
[4 1 1 1]
s: Values
[2 1 1 1]
    1.0000
    2.0000

s: RowIdx
[5 1 1 1]
         1
         3
-577531912
     32767
1065353216

s: ColIdx
[2 1 1 1]
         0
         0

See that RowId

[2016-10-14 02:20] WilliamTambellini commented on #1622
Reproduced in both debug and release.
does make AF crash if I try to use the sparse matrix in a matmul:
    af::array dense = af::constant(1, 1,4);
    af_print(dense);
    af_print(af::matmul(s,dense));

[2016-10-14 02:24] shehzan10 commented on #1622
The reason for that is that in CSR format the row index vector is supposed to be of size `nRows + 1` but you are passing only 2 elements.

In CSR format:
values is of size nNZ
rowIdx is of size rows + 1
colIdx is of size nNZ.

The format for which you are actually passing values is `AF_STORAGE_COO`.

Sources: [Wikipedia](https://en.wikipedia.org/wiki/Sparse_matrix#Compressed_sparse_row_.28CSR.2C_C

[2016-10-14 02:58] WilliamTambellini commented on #1622
ok thanks.
COO to CSR:
https://github.com/scipy/scipy/blob/3b36a57/scipy/sparse/sparsetools/coo.h#L34

[2016-10-14 08:11] CNugteren commented on #1611
It is now possible to compile CLBlast (the `development` branch for now) under Visual Studio 2013, so that issue is solved. Also thanks to @shehzan10 it is now possible to compile a static library.

[2016-10-14 14:48] #1622 closed

[2016-10-14 14:49] shehzan10 commented on #1620
Fixed in hotfix-3.4.1 by #1621

[2016-10-14 14:49] #1620 closed

[2016-10-14 14:49] shehzan10 commented on #1602
Fixed in hotfix-3.4.1 by #1621

[2016-10-14 14:49] #1602 closed

[2016-10-14 14:50] shehzan10 commented on #1383
Fixed in hotfix-3.4.1 by #1619

[2016-10-14 14:50] #1383 closed

[2016-10-14 16:24] DOGMAFIlms opened #1624 "ArrayFire v3.4.0"
Hello,

I just tried too install ArrayFire v3.4.0 on a Mac Pro 6,1 with OS Sierra but I get an installation failed message, any advise please?.

Thanks.

[2016-10-14 16:33] shehzan10 commented on #1624
OS X installer can fail due to failure of `brew` commands.
Our [wiki](https://github.com/arrayfire/arrayfire/wiki/Fixing-Common-OS-X-Installer-Failures) has steps to check and correct these errors.
If the examples run fine as shown in the wiki, then the installer worked fine and there should be no problems in running ArrayFire.

[2016-10-14 22:51] shehzan10 commented on #1611
@CNugteren It looks like the tester.hpp file has code that is not supported on VS 2013. Is this something that was missed or purposely left out?
The samples work fine with VS 2013.

[2016-10-15 00:25] chronweigle commented on #1054
I am experiencing this issue on an NVIDIA GT 610 running Debian 8 64-bit using the arrayfire Rust wrapper. Before setting up the nvidia device I could run arrayfire 3.4 w/ OpenCL using my CPU. Arrayfire stopped working after I set up my gpu.  I think the issue is with OpenCL 1.1, as both my GT 610 and @jramapuram GT 750M are opencl 1.1 cards.

I believe my issue is related to this [stackoverflow p

[2016-10-15 10:24] CNugteren commented on #1611
I have added support for VS 2013 for the library, the samples, the tuners, and the clients. Not yet for the tests since they required a dependency (another BLAS). I'll add support for the tests as well as soon as possible.

[2016-10-17 00:07] vakopian opened #1626 "Dockerfile for ArrayFire development"
I've seen mentioned in another thread that you use Docker for building ArrayFire.
It would be really helpful if you could publish the Dockerfile(s) you use internally since it would make setting up a development environment for ArrayFire much easier.
Ideally it would be committed into this repository so it can change together with the project as the dependencies for the whole project change.

[2016-10-17 14:25] shehzan10 commented on #1626
Unfortunately, we do NOT use a docker file for development in house. What we do is simply compile the source in a docker so that we can use older versions of GCC that will ensure the widest compatibility. We do not use it for active development and testing.
There is #1439, which is sort of asking for the same. Are you referring to that?
It would make it easier for coordination to just have one iss

[2016-10-17 14:28] shehzan10 commented on #1624
@DOGMAFIlms can you please let us know if the wiki resolved the issues?

[2016-10-17 15:51] shehzan10 commented on #1611
@CNugteren is there a way to run the **clients** from a `make` command like there is `test`/`alltest`/`ctest` for the tests?

[2016-10-17 21:09] CNugteren commented on #1611
I took a look at `tester.hpp` and `testblas.hpp` to be able to compile the tests under Windows. Actually there is a lot that is not supported, this is not trivial and thus will take a bit more time to make work (and still be nice).

About your other question: what would be the use/form of such a make command? There is an R-script in `scripts/graphs` which runs the client multiple times for specifi

[2016-10-17 21:47] shehzan10 commented on #1611
Yeah I tried to do it as well. There are many variables. That said, most of the issues are with `static consts` and list initializers which can be fixed by moving the initialization out of the class. This would not affect integrating CLBlast into ArrayFire itself, but it could affect testing that we would do on all types of hardware. I would not make this a top priority.

I wanted to run the perfo

[2016-10-18 00:43] DOGMAFIlms commented on #1624
Hello there,

I just gave up, trying to install I had to many errors.

Javier Quito Deidan
Dogma Films Ec.
Dogmafilmsec@icloud.com
Cell.:0979241745

[2016-10-18 02:04] shehzan10 commented on #1624
I think you can give the v3.4.1 installers a try. We have made a few fixes to that and it should be much better and without errors.

[2016-10-18 13:24] DOGMAFIlms commented on #1624
Hello,

I just tried and I get this error: The operation couldn’t be completed. (com.apple.installer.pagecontroller error -1.)

Javier Quito Deidan
DOGMA Films
dogmafilmsec@icloud.com
Cel. # 0979241745

[2016-10-18 18:25] shehzan10 commented on #1624
Looks like the download did not go through correctly. You can try re-downloading it. You can confirm this by checking the MD5 sum for the installer which is:
`md5 ArrayFire-v3.4.1_OSX.pkg` : **97fccd3e1d2350a99d87785b96f2583e**

[2016-10-19 16:15] deejayfrankcesco opened #1631 "ArrayFire Exception (Internal error:998)"
I tried to compile the example (on macOS Sierra 10.12): graphics -> plot3 and It return signal SIGABRT in runtime. The log in command prompt is:

---

[code]

---

I noticed that this error is present in all 3D plotting example.
What should I do?

[2016-10-19 16:53] pavanky commented on #1631
Are you running this remotely?

[2016-10-19 17:39] deejayfrankcesco commented on #1631
No, on local machine

[2016-10-19 17:46] shehzan10 commented on #1631
Am I able to reproduce this error. Will look into it.

[2016-10-19 19:43] shehzan10 commented on #1631
This issue is originating from Forge. I opened an issue there https://github.com/arrayfire/forge/issues/118.
This fix will be included in v3.4.2 of ArrayFire

[2016-10-19 19:48] shehzan10 commented on #1624
Issue has been resolved.

[2016-10-19 19:48] #1624 closed

[2016-10-20 07:01] CNugteren commented on #1611
I fixed the CLBlast testers such that they can be compiled with Visual Studio 2013 as well.

About your run-all-clients request: I still don't really see the purpose. All clients actually have different arguments, so if you are for example setting 'n' to some value it will affect the 'n' for GEMM (which is one dimension of a matrix) and the 'n' for AXPY (which is the length of the vector). I don't

[2016-10-20 13:54] shehzan10 commented on #1611
Fantastic! I'll check it out.

I don't think this is of much concern. I was asking mainly for running this on a automated system so was wondering if there is any such feature. Bash scripting works fine for me.

I think I'm more interested in the `full_test` bit of the tests that I requested in my last message. This of course concerns the tests rather than the clients.

[2016-10-20 14:42] shehzan10 commented on #1631
This issue has been fixed in [Forge](https://github.com/arrayfire/forge). If you would like to have this fixed immediately at your end, the best solution is to clone and compile Forge devel branch from source and simple replace the existing `libforge*.dylib` files in `/usr/local/lib`.

[2016-10-20 15:38] deejayfrankcesco commented on #1631
Many thanks, you are the best!
I’ll try soon!

Regards

[2016-10-20 20:40] vakopian commented on #1439
I just created a Dockerfile that compiles the current version of ArrayFire (3.4.1) on ubuntu 14.04. See below
[code]

Perhaps it can be cleaned-up by the owners and made part of the repo so it can be maintained with each new version.

[2016-10-20 20:41] vakopian commented on #1626
@shehzan10 I just added a Dockerfile in #1439. Please see if it's useful enough to be added to the repository.

[2016-10-20 20:41] #1626 closed

[2016-10-20 21:05] CNugteren commented on #1611
This is now possible through the `CLBLAST_TEST_ARGUMENTS` environmental variable. You might have to clean CMake and re-run it after you set the variable.

[2016-10-20 21:08] shehzan10 commented on #1439
I think the plan is to have one docker that can compile ArrayFire from source and another that can use the ArrayFire installer. So you have done the former.
I have assigned this issue to @mlloreda who will look into it from our end.

[2016-10-25 18:24] deejayfrankcesco commented on #1631
Perfect, It works.
When will the fixed build release?

Regards

[2016-10-25 21:51] AEHousman opened #1635 "freeing allocated host memory gives error message"
the code is very vanilla:

[code]

The text of the error message (when I put in the exception handler) is:

ArrayFire v3.4.1 (Cuda, 64-bit Windows, build b9055b1)
Platform: CUDA Toolkit 8, Driver: CUDA Driver Version: 8000
[0] GeForce GTX 970, 4096 MB, CUDA Compute 5.2
ArrayFire Exception (Internal error:998):
In function void __cdecl cuda::MemoryManager::nativeFree(void *)
In file src\backend\cud

[2016-10-25 21:54] shehzan10 commented on #1635
You should be using [`af::freeHost()`](http://arrayfire.org/docs/group__device__func__free__host.htm). af::free is for device pointers.

Use [`af::array::write()`].(http://arrayfire.org/docs/group__method__mat.htm#gaa70b253da2d32394c521a815f7627116)

[2016-10-25 22:12] henrythung commented on #1384
Downloaded CLT from https://developer.apple.com/download/more/.
another issue occurred:

[2016-10-25 22:55] AEHousman commented on #1635
Thanks! Ugh, my bad for using a stack overflow answer for my original code http://stackoverflow.com/questions/29210097/retrieving-values-from-arrayfire-array-as-standard-types-and-serialization, see code in the answer.

[2016-10-26 11:36] mlloreda commented on #1384
@henrythung it looks like you may need to install XCode if you haven't already done so.

Sources:
* http://stackoverflow.com/questions/17980759/xcode-select-active-developer-directory-error/17980786#17980786
* https://github.com/nodejs/node-gyp/issues/569

[2016-10-26 17:10] #1607 closed

[2016-10-26 17:15] #1601 closed

[2016-10-31 13:13] 9prady9 commented on #1451
@shehzan10 The change related to this has been merged into arrayfire i believe, is that correct ?

[2016-10-31 14:27] shehzan10 commented on #1451
No this hasn't. The PR in question https://github.com/arrayfire/forge/pull/116 will be a part of Forge 0.9.1/1.0 and release with ArrayFire 3.4.2.

[2016-10-31 15:44] #1635 closed

[2016-10-31 15:46] shehzan10 commented on #1635
Fixed it in the SO answer.

[2016-11-04 23:21] InBetweenNames commented on #483
What would it take to get this implemented?  I could really use this feature in my code.  Right now I'm using a workaround that involves tiling out matrices (and transposing one) and doing:

af::sum(A * B)

followed by a moddims to get the proper shape.  It does work, although memory usage is a concern and I know this probably isn't the most efficient method.

[2016-11-07 20:02] shehzan10 commented on #1618
This feature can use
CPU (MKL): [mkl_sparse_?_add](https://software.intel.com/en-us/node/590132)
CUDA: [cusparse<T>csrgeam](http://docs.nvidia.com/cuda/cusparse/#cusparse-lt-t-gt-csrgeam)

For CPU fallback and OpenCL, code will have to be written from source.

[2016-11-08 17:18] shehzan10 commented on #1513
This issue is a part of #133. In this particular example, the `memcopy` and `join` kernels have launch configuration issues. Will have a fix for these two out soon.

[2016-11-10 00:01] vakopian commented on #907
@pavanky @9prady9 As this issue has been pushed from milestone to milestone for more than a year now, I was wandering if an ***intermediate*** solution that just uses a global mutex around the thread-unsafe parts of the library (or even around *all* `af_***` functions) could be implemented quickly.
Even if the locking is very coarse-grained and crude, this would at least allow to safely run arrayf

[2016-11-10 00:49] pavanky commented on #907
@vakopian What backend are you most interested in ?

[2016-11-10 03:17] vakopian commented on #907
@pavanky
eventually cuda, but before I port everything to arrayfire, my current code is a mixture of cpu and arrayfire (with either cpu or OpenCL-cpu back-end). Is any of the back-ends thread safe currently?

[2016-11-10 05:25] pavanky commented on #907
@vakopian cpu backend is closest to being thread safe, but I am not entirely sure. There are major issues with CUDA and OpenCL being threadsafe.

[2016-11-10 20:24] vakopian commented on #907
@pavanky is there a separate branch where this development is being done? Perhaps I can contribute

[2016-11-11 06:00] pavanky commented on #907
@vakopian I have created a branch under my fork: https://github.com/pavanky/arrayfire/tree/thread-safe

Right now this is just a branch from devel. I'll begin some work over the weekend. In the meantime, can you do some testing on the CPU backend in a multi threaded environment and report back if there are any issues ?

[2016-11-11 06:18] pavanky commented on #907
In this comment I will be noting down some blockers for thread safety. The work can be distributed to people as necessary.

[ ] Have one "manager" per backend. This will reduce the number of locations static variables are defined.
[ ] Locking / Unlocking memory in memory manager when using multiple threads (possibly through a stand alone thread for memory management).
[ ] Just in time compilation

[2016-11-13 06:52] jeanromestain opened #1643 "Examples of PCA and Genetic Algo"
I was looking for a couple of example files from one your pages 3 years ago:
http://blog.accelereyes.com/blog/2013/06/05/arrayfire-examples-part-5-of-8-machine-learning/

the page is still there but the links to the files aren't; more specifically, I was looking for the pca.cpp and geneticalgorithm.cpp files from that page

if at all possible to retrieve them, it looks like they could be really us

[2016-11-16 16:02] serialhex opened #1644 "Can't use `#include <regex>` with ArrayFire"
I'm not sure if this is a problem with ArrayFire itself or Windows, but I thought I'd get better help faster if I asked here first.  Here is a gist of some example code, and the error I get when I try to compile it.  It doesn't make sense as `std::regex_search` is in a *totally* different namespace from `af::` and I'm not sure why it's barfing.  I know in the example code I don't use *anything* fr

[2016-11-16 16:16] serialhex commented on #1644
Sorry, derpy me more used to Common Lisp development where I don't have to have separate headers and implementation files.  My bad!!

[2016-11-16 16:16] #1644 closed

[2016-11-16 16:21] umar456 commented on #1644
Those errors are related to how visual studio defines min and max as macros. See this comment for a solution.
https://github.com/arrayfire/arrayfire/issues/235#issuecomment-67437768

[2016-11-16 16:33] kaatish commented on #1643
We are currently working on geneticalgorithm.cpp right now and should be completed soon. pca.cpp cannot be dealt with right now because it uses eigenvalue decomposition which we do not have right now.

[2016-11-17 01:33] jeanromestain commented on #1643
Ah OK I hadn't realized that, I thought eigen decomposition was part of the library..
Many thanks for your help with the genetic algo!

[2016-11-17 02:13] pavanky commented on #1643
@jeanromestain it was when arrayfire only supported CUDA and was still closed source. At that point it was using a propreitary licensed version of a library which can not be used with the free version.

[2016-11-17 02:30] jeanromestain commented on #1643
OK got it. I thought you would be using cuSolver at the back end for those operations

[2016-11-17 03:52] pavanky commented on #1643
@jeanromestain that blog post was from 3 years ago when arrayfire was still v2.1 and was using CULA for linear algebra.

cuSolver can be used to implement eigen value decomposition for CUDA backend, but the issue is with OpenCL backend where there is no straight forward solution. CPU backend can use any LAPACK library.

[2016-11-18 17:53] bhack commented on #1320
See also https://github.com/andravin/wincnn

[2016-11-21 18:35] pavanky opened #1646 "BUG in CUDA / OpenCL JIT"
Code to reproduce:
[code]

This happens when JIT tries to compile a kernel with too many inputs. The force evaluation criteria should be more strict.

First reported here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/nqUT8dtlxeo/Ldbi3EfjBAAJ

[2016-11-22 00:38] vakopian commented on #907
@pavanky just trying to check my understanding of the current code for the CPU back-end. Is it true that the current CPU back-end is essentially hard-coded to be single-threaded? Here is how I came to this conclusion:
1) all AF functions get "queued" before being executed. The number of queues is currently hard-coded to `1`: [platform.cpp:301](https://github.com/arrayfire/arrayfire/blob/devel/src/

[2016-11-22 01:06] pavanky commented on #907
@vakopian Yes, the CPU backend is asynchronous at the moment (i.e. the host thread is free to do other things), but the enqueued operations are done sequentially (first in first out).

[2016-11-22 18:23] shehzan10 opened #1647 "Add function to get device properties"
Add common functions like device memory size etc to `device.h`.
Add backend specific features such as cuda/opencl compute, etc to `cuda.h` and `opencl.h`.

[2016-11-23 13:30] Sitin commented on #1384
I have CUDA 8.0.46, OS X 10.12 and Xcode 8.1 but still have the same issue.

[2016-11-23 21:42] vakopian commented on #907
@pavanky So if I'm not mistaken the `queue`, `async_queue` and the related code is basically trying to implement a thread pool, right? If that's indeed the case, perhaps this (single header) [ThreadPool library](https://github.com/Youka/ThreadPool) could be used instead? I think it's the same ideas and even similar implementation, but in a cleaner and more self-contained class.

Another thing I wa

[2016-11-23 21:49] pavanky commented on #907
@umar456 is in charge of the threadpool. Umar any thoughts ?

@vakopian
The idea was to have a multi threaded cpu backend eventually. But for now it is single threaded.

As for scoped static variables being thread safe,  that will make things a lot easier. However I think we still have a couple of places which use global statics. Though these can be moved into a function that returns the static va

[2016-11-23 21:50] pavanky commented on #907
stackoverflow post talking about scoped static variables:
http://stackoverflow.com/questions/8102125/is-local-static-variable-initialization-thread-safe-in-c11

[2016-11-23 21:57] pavanky commented on #907
btw VS 2013 does not support this feature: https://msdn.microsoft.com/en-us/library/hh567368(v=vs.120).aspx.  Look under the section called "magic static".

GCC and CLANG (unless Apple dropped it) seem to support it.
VS 2015 also supports it: https://msdn.microsoft.com/en-us/library/hh409293.aspx

[2016-11-23 22:42] umar456 commented on #907
The C++11 standard says that the initialization of magic statics are thread safe. The access and modifications are not.

I fail to see the advantages of the ThreadPool library over the async_queue class. It seems to be a reimplementation of the std::async class. Just like std::async the ThreadPool returns std::futures every time something is queued. This would mean that we will need to keep track

[2016-11-24 00:58] shehzan10 opened #1648 "Cast from complex to real fails on CUDA and OpenCL backends"
Sample Code:
[code]

Does not fail on CPU backend.

[2016-11-24 01:02] pavanky commented on #1648
Hmm this should be an exception and may be a message asking the user to explicitly use `abs`, `real` or `img`.

[2016-11-24 01:07] shehzan10 commented on #1648
I believe right now it (at least CPU) is doing `abs` internally.

[2016-11-24 03:47] WilliamTambellini commented on #907
Good morning gentlemen,
Is this issue/item likely to be in 3.4.2 or is it really for 3.5 ?
Kindly

[2016-11-24 04:00] pavanky commented on #907
@WilliamTambellini I am not sure if this is possible in the timframe of 3.4.2

[2016-11-25 09:51] mmllee opened #1649 "another memory leak in indexing ? arrayfire+python"
It seems there's a leak while using arrayfire with python bindings
way to reproduce a bug:

import arrayfire as af
import numpy as np
af.set_backend('cpu') # or 'cuda', problem occurs for both
af_arr = af.np_to_af_array(np.random.uniform(size=(1000,1000,3)))
for i in xrange(10000):
    for b in xrange(32):
        af_arr[:,:,1]
    print 'iter %s' % i
raw_input('check the memory now')

on my machi

[2016-11-25 10:05] pavanky commented on #1649
Can you report the issue on the arrayfire-python repo ? https://github.com/arrayfire/arrayfire-python/issues

[2016-11-25 10:15] mmllee commented on #1649
Valgrind shows the leak happens in the /usr/lib/libaf.so.3.5.0 which is part of the arrayfire,
but sure I can report it there too

[2016-11-25 10:18] mmllee commented on #1649
okey reported it on the arrayfire-python repo: https://github.com/arrayfire/arrayfire-python/issues/104

[2016-11-25 11:00] pavanky commented on #1649
Thanks, this is most likely a bug in python implementation. I'm about to head to sleep so I'll look into it tomorrow morning :)

[2016-11-25 11:33] mmllee commented on #1649
awesome, I'd really appreciate :) currently any long lasting process is doomed :)
I'm a bit surprised that no one reported it so far :)

[2016-11-26 08:50] pavanky commented on #1649
This is a downstream bug being dealt with.

[2016-11-26 08:50] #1649 closed

[2016-11-27 21:25] adam-erickson commented on #1384
If you ever need to switch Xcode CLT back to 8.1 run this:

`sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer`

[2016-11-28 02:55] pavanky commented on #1384
@Sitin the issue description says you need to downgrade to 7.3 for CUDA to work.

[2016-11-28 17:17] Delgan opened #1650 "Incorrect output for regions() with CUDA if full component"
Hello.

I just wanted to report a bug I encountered with the function regions().

In the case of a binary image fully composed of 1, the resulting array is only composed of 0, while it should be entirely composed of 1.

The bug disappeared if I used `-lafcpu` instead of `-lafcuda`.

Here is the minimal reproducible example:
[code]

[2016-11-29 21:57] serialhex opened #1654 "Library Bindings for Common Lisp"
Contrary to popular belief, Common Lisp is alive and well!  I currently work for a company that does the majority of our work *in* Common Lisp.  Unfortunately, we are having to jump through hoops of fire in order to get the (very few) C++ libraries that we need to use working with our system as a whole (hint: it involves ZMQ and *lots* of small utilities).

One way this particular project can help

[2016-11-29 22:44] pavanky commented on #1654
@serialhex This sounds like an interesting project. The rest of @arrayfire/core-devel is busy, but I can help get this started if you are interested in contributing :)

[2016-11-30 01:30] arcfide opened #1655 "Lack of support for zero-length arrays"
I have the following sample program that fails with an "Invalid input size" error because of the zero-length dimension.

[code]

Is there any support for zero length and rank-0 arrays? If not, when is this planned?

[2016-11-30 01:31] arcfide commented on #1655
Here is an example of a rank-0 array:

[code]

[2016-11-30 01:48] pavanky commented on #1655
@arcfide

[code]

On a side note, any reason you are using C instead of C++ ?
Any reason you are using C instead

[2016-11-30 01:50] pavanky commented on #1655
Is the above solution OK, or do you specifically need to create an array using `af_create_array` with 0 elements ?

[2016-11-30 02:09] WilliamTambellini opened #1656 "Add suport for int8 matmul in afcuda"
I see these new features in cuda 8:
"Native FP16 and INT8 computation for deep learning and other workloads;" :
https://devblogs.nvidia.com/parallelforall/cuda-8-features-revealed/
This feature request is to be able to use it through AF at least for matmul and arithmetic (+ - * /)
Thanks
WT.

[2016-11-30 03:43] arcfide commented on #1655
I'll give this a try and see how it works. I'm using C right now because that's what the rest of the application is written in. Is there a serious performance penalty for using C++ instead of C? Is there some reason not to use C?

[2016-11-30 04:25] umar456 commented on #1655
There is no performance penalty for using the C++ interface. ArrayFire's C++ is much safer and easier to use. It will automatically manage resources and report errors without explicit error checks. Also indexing using the C interface is kind of cumbersome.

ArrayFire's C interface should only be used if you are interfacing with other languages or if there is an explicit requirement for C for your

[2016-11-30 05:00] arcfide commented on #1656
I would also like to mention my own interest in having general support for int8 as a feature.

[2016-11-30 05:17] umar456 commented on #1656
This is a great idea but we need to be careful to up/down convert on certain hardware when adding this feature. For example fp16 performance on compute_61(non-Tesla Pascal) cards is absolutely [abysmal](http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#arithmetic-instructions). We will also need to support this on older hardware. I wonder how cuda provides fall back in those cases.

[2016-11-30 05:19] pavanky commented on #1656
AFAIK, there is no support for half precision floating point numbers in C and C++ standards. So fp16 is going to be a bit to support in a general purpose manner.

int8 can be supported easily (although it is a bit tedious).

[2016-11-30 05:36] umar456 commented on #1656
Found [this](http://half.sourceforge.net/) library. It seems to be well documented. Probably need to run some tests on performance and compatibility with native types.

[2016-11-30 05:44] pavanky commented on #1656
@umar456 Does boost have anything similar ?

[2016-11-30 05:48] WilliamTambellini commented on #1656
Would int8 easier to implement than fp16, especially the int8 cuda8 pascal gpu backend ?

[2016-11-30 05:50] pavanky commented on #1656
@WilliamTambellini yes `int8` support is much easier to accomplish.

[2016-11-30 12:34] serialhex commented on #1654
@pavanky I probably won't be able to contribute a lot, but there are a few personal projects I've been thinking about doing where ArrayFire might come in handy (read: critical w/o a massive change in work/life balance).  Let me know if you start a project & I'll fork and give a hand where I can!

I can probably convince my boss to let me hack on this @ work for a little bit here and there (right n

[2016-11-30 16:23] WilliamTambellini commented on #1656
ok so we should better split this feature/issue in 2: int8 and fp16.
Would you mind ?

[2016-11-30 16:25] shehzan10 commented on #1656
The issue with int8 (char) is that we use it for b8. That is a differentiation we will have to keep in mind.

[2016-11-30 16:51] pavanky commented on #1656
@shehzan10 `int8_t` is a different datatype which can be used for `i8`

[2016-11-30 19:05] WilliamTambellini commented on #1656
Ok thanks.
WARNING: I have renamed this feature to "int8" in order to limit the scope to int8 support. Anyone interested by fp16 should create another github issue/ticket.
Cheers
W.

[2016-11-30 22:14] arcfide commented on #1655
I'm exploring the use of the C++ interface now and I'll report back if this works for me. What is the recommended way to create zero-length arrays in C++ then?

[2016-11-30 23:19] pavanky commented on #1655
@arcfide `array a = array()`

[2016-11-30 23:23] arcfide commented on #1655
That allows me to specify an unspecified array, but I'm talking about an array with a specific rank/shape, but with zero elements. I have two cases that I need to deal with: 1. A scalar array that has rank 0 (no dimensions), but a single scalar value; and 2. an empty array that has no values, but a non-zero rank where one, but not necessarily all, of the dimensions is zero. So, something like this

[2016-12-01 01:05] pavanky commented on #1655
@arcfide Let us say that functionality is implemented, how would you differentiate between the two *after* it is created ?

[2016-12-01 01:18] arcfide commented on #1655
The primary differences would be in their types and their shapes. For, for instance, an equality test between a `[2, 0, 4]` array and a `[1,0,3]` array would give false. The difference between an array with zero dimensions and an empty array should be obvious, because the one has a single element in it, while the other has no elements, but a rank that is higher, that is a.numdims() != b.numdims().

[2016-12-01 01:19] arcfide commented on #1655
If this is not currently available I think I can work around not having empty or scalar arrays, but I'd like to be aware of the limitation and the current plans.

[2016-12-01 01:44] pavanky commented on #1655
@arcfide AFAIK, arrayfire only supports fully empty arrays. What you are asking may be possible to implement in the future but it is not immediately obvious.

[2016-12-01 02:31] arcfide commented on #1655
Alright, thanks for the information. I'll see what I can do with that.

[2016-12-01 16:29] serialhex commented on #1654
@pavanky Things change every day!  I got the green light from my boss to work on some CL bindings, as it will speed up the overall workflow.  I won't be able to dedicate a lot time, but with your help it shouldn't take much time to get a workable project up & running.

If you want to talk more directly hit me up at my GitHub username at gmail, or justin dot patera at level3inspection.com.  I have

[2016-12-01 16:46] pavanky commented on #1654
@serialhex I created a repo for this: https://github.com/arrayfire/arrayfire-lisp. We can move the discussion about implementing it there.

[2016-12-01 16:46] #1654 closed

[2016-12-01 17:02] mlloreda commented on #1439
Okay guys,

Official `Dockerfile` is over at [arrayfire-docker](https://github.com/arrayfire/arrayfire-docker). We've also pushed an image to [Docker Hub](https://hub.docker.com/r/arrayfire/arrayfire/) - hoping to add tags soon.

The `Dockerfile` imports from Nvidia's CUDA 8 image, so be sure to use the `nvidia-docker` binary instead of vanilla `docker`.

[2016-12-05 11:44] ranjanan opened #1660 "setUnion does not work on arrays of size 1"
Unions of size 1 give the following error:
[code]

It works for arrays with 2 or more elements though.

Ref https://github.com/JuliaComputing/ArrayFire.jl/issues/99

[2016-12-05 16:16] pavanky commented on #1660
Can you show some example code in C that fails ?

[2016-12-05 16:26] 9prady9 commented on #1660
@pavanky @ranjanan Reported this on gitter earlier today and i found that the following code stub generates the error he was talking about.

[code]

If n = 1, earlier code generates the below error.

[code]

[2016-12-05 18:01] shehzan10 opened #1662 "Division by 0 is not consistent"
Code
[code]

Summary:
* Floating point ops are consistent
* `c0 / c1` and `c0 / c0` are consistent
* **`c1 / c0` is `(inf, inf)` on CPU whereas it's `(nan, nan)` on CUDA/OpenCL**

Output
**CPU**
[code]

**CUDA** (Results only)
[code]

**OpenCL** (Results only)
[code]

[2016-12-05 19:13] pavanky commented on #1662
Dividing by zero is undefined. There is no reason for them to be either `inf` or `nan` specifically.

[2016-12-05 20:26] shehzan10 commented on #1662
I understand, but shouldn't we ensure that they are consistent across backends?

[2016-12-05 20:35] pavanky commented on #1662
I don't think CPU can be consistent either. It'll depend on the whims of the compiler being used.

[2016-12-06 02:41] vakopian commented on #907
I understand what motivates the statement above, but I think it might be missing 2 important scenarios:

1) Hybrid applications that are very "parallelizable". By "hybrid", I mean applications that do lots of CPU calculations, then lots of GPU (ArrayFire), then more CPU, then more GPU, etc. And by "parallelizable", I mean it can benefit from concurrency not just from GPU, but at CPU level as well.

[2016-12-06 02:54] pavanky commented on #907
@vakopian

FYI

1) Should not require multi threading support in individual backends if you are using only one thread per backend. We may need to fix the stuff in `src/api/unified`.

2) ArrayFire is asynchronous (for the most part).You can hand off `function 1` to GPU 1, `function 2` to GPU 2, `function 3` to GPU 3 in a for loop before `function 1` is completed.  Granted this is a bit ugly but wha

[2016-12-06 02:55] pavanky commented on #907
Having said that, thread safety is still a very important feature to have.

[2016-12-06 02:58] pavanky commented on #1575
@ghisvail removing the release milestone. Please let us know if there is an update on this.

[2016-12-06 07:44] ghisvail commented on #1575
I'll re-evaluate this issue when `v3.4.2` is released. Thanks for the heads-up.

[2016-12-06 07:46] pavanky commented on #1660
@9prady9 can you fix the issue by adding `isScalar()` in `set.cpp` and then checking other functions that are using `isVector` too ?

For example I see `convolve` is also using this. We may need to punt to scalar multiplication when the kernel is a scalar instead of launching a convolve kernel.

[2016-12-06 08:58] 9prady9 opened #1664 "Memory Leak in CPU regions"
`std::map` declared [here](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/kernel/regions.hpp#L106-L109) is not clearing it's storage properly.

This was reported in google forums and the corresponding post can be found at [this URL](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/tldUree9bZE/BFeXtkVUBwAJ).

[2016-12-06 21:55] #1662 closed

[2016-12-07 00:03] vakopian commented on #907
@pavanky I'm not sure if there is a recommendation in your (1). I was just trying to say that @umar456's recommendation of "not relying on threads to improve performance" is not really viable in some important scenarios. The way I understood that recommendation was this:

_"since the GPU operations are pushed into a single queue anyway, there is no benefit nor need for multiple threads, and so des

[2016-12-07 00:19] pavanky commented on #907
@vakopian No I don't mean that at all :)

I was just letting you know the workarounds for now if this is a blocking feature.

[2016-12-07 20:48] shehzan10 commented on #1552
@streamhsa is this issue resolved?

[2016-12-07 21:37] serialhex opened #1667 "`timeit` isn't working properly."
I just noticed that `timeit` isn't working properly, output:

[code]

snippit of interest:

[code]

It's reporting that the `bench correct` function only takes ~1 sec, while it really takes ~15.  it looks like the `bench_roi` is being reported properly (and other things seem to be reported properly also).  I'm not sure if I could send code that reproduces this error fully, as it's within a proprie

[2016-12-07 21:41] shehzan10 commented on #1667
`timeit` runs multiple iterations of the same function to get an average time. It is not expected to match real time because of the multiple iterations.
The `std::chrono` code you have more or less should match if you use [`af::timer`](http://arrayfire.org/docs/timing.htm).

If you are interested, here is the code for timeit: https://github.com/arrayfire/arrayfire/blob/devel/src/api/cpp/timing.cpp

[2016-12-07 21:44] pavanky commented on #1667
@serialhex `timeit` runs several iterations, synchronizes once and returns the average time taken. This was written because this is the best way to benchmark an asynchronous function. Users not using timeit can use `af::timer()` to get begin and end times but they usually end up committing one of the following mistakes:

1) They do not call `af::sync()` in which case they are getting the time to q

[2016-12-07 21:49] serialhex commented on #1667
Ahhhhh!!! Okay, so it's just a misunderstanding on my part!!  Taking this into consideration I got the following:

[code]

with the following code:

[code]

which is *much* closer to each other (1.13s & 1.08s).  I didn't realize `timeit` was running multiple iterations.  Thanks for the clarification!!

[2016-12-07 21:49] #1667 closed

[2016-12-08 06:52] 9prady9 commented on #1660
@pavanky I have checked for other files that are using `isVector` and all of the cases seems to be of legitimate usecases. I have fixed convolve checks.

[2016-12-08 08:04] liuyang123123 opened #1669 "About ArrayFire Exception <Internal error:998>"
My CUDA version is 8.0.44, and ArrayFire Version is v3.4.1, and use the GeFore 710M GPU.
But when I run the svd example , it error. The error is

ArrayFire Exception (Internal error:998):
In function void cuda::kernel::transpose<T, conjugate>(cuda::Param<T>, cuda::CParam<T>, int)
In file src\backend\cuda\kernel/transpose.hpp:109
CUDA Error (8): invalid device function

In function void __cdecl af:

[2016-12-08 09:02] pavanky commented on #1669
@liuyang123123 710M is a Compute 2.1 card. NVIDIA deprecated their support in CUDA 8.0 and will be dropping support from CUDA 8.5

To reduce the installer size, ArrayFire 3.4 was not built with support for this GPU. If you want to continue using this GPU, down this zip files: http://arrayfire.s3.amazonaws.com/3.4.1/afcuda-3.4.1-compute20-windows.zip and replace afcuda.dll (after backing it up) in

[2016-12-08 17:13] mlloreda commented on #1384
Great news - CUDA 8.0.55 now supports Xcode 8!

Those of you who installed CLT 7.3 need to __upgrade to CLT 8.x__, otherwise building the CUDA backend will fail to build due to a missing `<string.h>`.

[2016-12-08 18:54] shehzan10 commented on #1648
Fixed in hotfix-3.4.2

[2016-12-08 18:54] #1648 closed

[2016-12-08 18:54] shehzan10 commented on #821
#1641 and #1653 Completes the scope of this issue.

[2016-12-11 17:08] CNugteren commented on #1611
Since most of the automated tests (http://ci.arrayfire.org/view/Other/) now pass successfully, I started looking at the integration of CLBlast into ArrayFire. I [forked arrayfire](https://github.com/CNugteren/arrayfire) and created a `clblast` branch.

So far I've added some CMake code and made `blas.cpp` support either clBLAS or CLBlast. However, I saw that clBLAS is also used in other parts of t

[2016-12-14 06:26] pavanky opened #1672 "Memory leak in rgb2ycbcr"
[code]

[2016-12-14 06:33] pavanky commented on #1672
@9prady9

This is the portion of the code that is buggy in ycbcr_rgb.cpp

[code]

`getArray` is not a dereference, it is a shallow copy. So the reference count is incremented. You will need to free ch{1,2,3}Temp.

A better solution would be to call `createSubArray` with the right indices instead of calling `af_index`.

Can you please fix this along with #1666

[2016-12-14 21:09] pavanky opened #1673 "Support for fp16"
This is splitting off from the issue mentioned here:
https://github.com/arrayfire/arrayfire/issues/1656

The problems mentioned in the issue include:

- no standard fp16 data type
- performance issues for certain hardware supporting native fp16.
-  lack of library support.

These issues can be solved by:

- defining a custom 16 bit floating point data type (similar to af_cfloat, af_cdouble)
- usin

[2016-12-14 21:09] pavanky commented on #1673
@WilliamTambellini thoughts ?

[2016-12-14 21:09] pavanky commented on #1673
@arrayfire/core-devel thoughts ?

[2016-12-15 02:02] 9prady9 commented on #1673
` - using fp16 for storage only, but performing compute in fp32.` - this is what `armclang` and `gcc for ARM` are doing as well. They use a type `__fp16` for storage only and promote to float in arithmetic expressions.

But, i think it's good to use use fp16 directly inside kernels (CUDA/OpenCL) in the cases where they are performing well.

In the case of CPU backend, we probably would have to def

[2016-12-15 03:05] pavanky commented on #1673
@9prady9 We need to have consistent behavior for accuracy reasons. We can't promote to fp32 in one backend while we use use native fp16 in others.

We can perhaps, at a later point, have a flag that switches the behavior as needed.

[2016-12-15 03:07] 9prady9 commented on #1673
I didn't mean use fp16 in one backend or otherwise. what i meant was that, if a given kernel performs well in both CUDA/OpenCL backend, then we can use fp16 for computation as well for that function instead of promoting it to 32-bit type.

[2016-12-15 03:19] pavanky commented on #1673
@9prady9 The problem isn't algorithm specific, it has to do with hardware.

In the other issue, @umar456  linked to the nvidia docs regarding performance. Everything other than the P100 has *worse* performance for fp16 compared to fp32. According to [wikipedia](https://en.wikipedia.org/wiki/List_of_AMD_graphics_processing_units), the performance of fp16 and fp32 on current generation AMD hardware

[2016-12-15 03:24] arcfide opened #1675 "setIntersect over singletons throws exception"
The following code fails with an abort. The exception is some sort of memory access violation. This occurs regardless of the use of iota() or constant() to create the singleton array. Using an array containing at least two elements works fine. This happens with both the CPU and the OPENCL backend.

[code]

[2016-12-15 03:27] pavanky commented on #1675
This is being fixed by https://github.com/arrayfire/arrayfire/pull/1668

This is related to: https://github.com/arrayfire/arrayfire/issues/1660

[2016-12-15 03:57] arcfide commented on #1675
Is there an estimate of how soon these fixes are likely to be in a release? I'm asking to estimate whether I need to implement workarounds for this or whether I can wait until it is fixed here.

[2016-12-15 04:15] pavanky commented on #1675
@arcfide this will be released next week. If you are in a hurry, you can hotfixes-3.4.2 branch with the patch applied.

[2016-12-16 01:27] vakopian opened #1677 "BUG in array assignment"
The following code should work, but throws an exception:
[code]
It results in
[code]

This seems to be a very corner case: Using `sz` bigger than `1` works fine. Keeping `sz = 1`, but using a condition that's not all false also works fine (e.g. using `cond = constant(1, sz, b8)`). I know empty array handling is pretty new (from https://github.com/arrayfire/arrayfire/pull/1533), so perhaps there is

[2016-12-16 16:21] shehzan10 commented on #1675
Fixed in hotfix-3.4.2

[2016-12-16 16:22] shehzan10 commented on #1675
Oops. Wrong one.

[2016-12-16 16:23] shehzan10 commented on #1646
Fixed in hotfix-3.4.2

[2016-12-16 16:23] #1646 closed

[2016-12-16 17:00] shehzan10 commented on #1513
Pushing this back to v3.5.0 so that it can use a better, more robust solution.

[2016-12-16 20:36] shehzan10 commented on #1611
Yes, that should be fine. We do something like that for the blas/lapack set up.

[2016-12-18 09:00] Chronum94 commented on #1095
Is there a particular reason why this feature has been repeatedly pushed back for over a year?

Just curious. I don't know the nuances that would be involved in implementing this, so I'm merely curious as to why it hasn't been implemented yet.

[2016-12-18 10:54] pavanky commented on #1095
@Chronum94 Mostly resulting from using the limited development time for features that have been requested more frequently.

If this is a feature that is high priority, let it be known here and the developers will use this information to re-prioritize the tasks.

[2016-12-18 22:55] vakopian opened #1678 "performance: slow conditionally indexed assignment"
I started this little analysis because nvprof showed unexpected DtoH memory copies in the code below:
[code]
I though that there was no _logical_ reason why this operation should make any device-to-host memory copy. But it turns out it does, because ArrayFire first creates an `index` object out of the `a < 0` (boolean) array. The `index` constructor calls `where`, which in turn does a (small) devi

[2016-12-19 00:05] Chronum94 commented on #1095
I cannot speak for others, but I do know of a few people (mostly in astronomy image analysis fields) who are currently improvising by doing a transpose(fft(transpose(img))) workaround instead of fft(img, direction). While this is a perfectly functioning workaround, it takes a significantly larger amount of time than I reckon the requested feature would.

Is the meanwhile, are you aware of any othe

[2016-12-19 00:16] Chronum94 commented on #1095
Performance difference data, should anyone be interested.

Using arrayfire-python wrapper:

`%timeit af.fft(a)`
`The slowest run took 5.37 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 83.4 µs per loop`

`%timeit af.transpose(af.fft(af.transpose(a)))`
`The slowest run took 4.07 times longer than the fastest. This could mean that

[2016-12-19 05:29] pavanky commented on #1678
@vakopian Can you try benchmarking `af::replace(r, r<x, 0)` ?

[2016-12-19 05:43] pavanky commented on #1095
@Chronum94 arrayfire is asynchronous, you should have an `af.sync()` after a bunch of loops to get the average time. Benchmaring the timings this way may not provide accurate results.

I understand implementing the feature can provide more performance than transposing the array twice.  But, considering that arrayfire works best with column major data and works on multiple vectors simultaneously, i

[2016-12-19 05:56] Chronum94 commented on #1095
@pavanky Many thanks for the responses. Since I started discussing this issue again here, I realized that the operation I am performing can be done with a single fft2 call. Since the literature of the implementation (and my Professor) talked about 3 ffts, I'd always implemented it as such. But it appears that the operation can be done with a single fft2 call and _then_ working with the image in Fo

[2016-12-19 13:57] ewanbarr opened #1679 "ComplexMultiply redundant operations"
In the fftconvolve.hpp (and perhaps elsewhere) for CUDA (arrayfire/src/backend/cuda/kernel/fftconvolve.hpp) complex multiplies are performed like so:

[code]

Is there a reason for this form for the multiply? It would appear to have several redundant operations that may reduce performance and do increase floating point propagation error.

The multiplies should be:

[code]

[2016-12-19 14:41] 9prady9 commented on #1679
@ewanbarr Your observation is correct and thank you for reporting it.

[2016-12-19 15:42] 9prady9 commented on #1679
@ewanbarr Fix for this should be pushed with 3.4.2 release.

[2016-12-19 17:59] vakopian commented on #1678
oh, wow. af::replace(r, r<x, 0) is faster than my special kernel! `1.2` seconds! Beautiful! Thank you very much @pavanky, I had not noticed that function before

[2016-12-19 18:03] vakopian commented on #1678
A quick follow-up question. Is there a way (or a trick) to us `af::replace` where the first argument is an `array_proxy` such as a slice?

[2016-12-19 18:06] shehzan10 commented on #1678
It should be ok as long as the size along all dimensions of `a` and `cond` match in `af::replace(a, cond, value)`.
If you are using an array as the replacement, then the `value` array also needs to match the size.

[2016-12-19 18:12] vakopian commented on #1678
@shehzan10 would that compile though? Could I pass `array_proxy` as non-const `array&`?
Actually, just checked, the following would not compile:
[code]
it gives:
```error: invalid initialization of non-const reference of type ‘af::array&’ from an rvalue of type ‘af::array’```

[2016-12-19 18:21] shehzan10 commented on #1678
Ah, I see what you mean. The `replace` function wants the result to be a reference and wont accept `r(0, span)`.
I tested this and it seemed to work:
[code]

Both A and B show the replacement.

@pavanky thoughts? And thoughts on replace accepting only references?

[2016-12-19 18:29] pavanky commented on #1678
@vakopian unfortunately, there is no easy solution. The only recommended solution is to force using `af::array` instead of `auto` like @shehzan10 showed.

[2016-12-19 18:30] pavanky commented on #1678
@vakopian Alternatively, this is going to be faster.

[code]

[2016-12-19 19:23] shehzan10 commented on #1672
Fixed in hotfix-3.4.2

[2016-12-19 19:23] #1672 closed

[2016-12-19 19:23] shehzan10 commented on #1675
Fixed in hotfix-3.4.2

[2016-12-19 19:23] #1675 closed

[2016-12-19 19:24] shehzan10 commented on #1664
Fixed in hotfix-3.4.2

[2016-12-19 19:24] #1664 closed

[2016-12-19 19:24] shehzan10 commented on #1660
Fixed in hotfix-3.4.2

[2016-12-19 19:24] #1660 closed

[2016-12-19 19:24] shehzan10 commented on #1631
Fixed in hotfix-3.4.2. Release will follow.

[2016-12-19 19:24] #1631 closed

[2016-12-19 19:25] #1679 closed

[2016-12-19 19:54] vakopian commented on #1678
@shehzan10 I'm actually very happy that it works that way, but it does seem unintuitive given the copy-on-write semantics of `array`. I would totally expect B to be copied so A can stay unchanged. For example if I did `B(0, 1) = 100;`, it would make a copy and `A` would not have changed. In fact if I do `B(0, 1) = 100;`, and _then_ use `replace(B, B < 0.5, 0)`, it would keep `A` unchanged.
So `rep

[2016-12-19 19:57] pavanky commented on #1678
@vakopian I think that is an ugly hack but needs to be done eventually :)

I'll also look into calling `replace` directly for the use case you showed here.

[2016-12-19 21:27] vakopian commented on #1678
Are you guys saying it's ok to rely on that feature of `replace`? I feel like one of these days someone will report it as a bug... Are there any other functions in the library that go around the copy-on-write semantics? If yes, and that's intentional, should that be part of the documentation/specification?

[2016-12-19 21:31] pavanky commented on #1678
@vakopian I just saw shehzan's code. That is a bug and it'll be fixed.

[2016-12-19 21:34] pavanky commented on #1678
@shehzan10 If something is breaking the copy on write semantics, please report it as a bug and do not advertise it as a feature.

[2016-12-19 23:17] vakopian commented on #1678
I think a better version for the "sliced" version is to use `select` rather than `replace`:
[code]
I think this does not break the copy-on-write semantics (because we assign to the slice proxy). Do you guys agree?

And my original benchmark code below with this pattern is still very fast (same as with `replace`):
[code]

[2016-12-19 23:45] pavanky commented on #1678
@vakopian This works too. The only problem is this may require a bit of additional memory. (since `r` exists both as input and output before rhs goes out of scope).

Btw, please use `af::sync()` before `timer::start` and `timer::stop()` for accurate timings

[2016-12-20 00:05] vakopian opened #1683 "BUG: replace does not copy on write"
In the current version of ArrayFire the array `A` in the code below is modified by calling `replace`, but it should not be, because `replace` should copy on write.
[code]

[2016-12-20 21:12] shehzan10 opened #1685 "Segmentation faults occur when array from different backend is being destroyed."
Test Code:
[code]

The segfault only happens when the setBackend is set to a non-default backend. The default backend does not segfault.

Alternately this can be confirmed by changing the order of [these](https://github.com/arrayfire/arrayfire/blob/devel/src/api/unified/symbol_manager.cpp#L162-L164) and then using the previous "default"  backend. What the reordering does is change the default back

[2016-12-20 21:18] pavanky commented on #1685
This has nothing to do with static arrays. It's because you are using a global variable. The global variable is instantiated when the program starts at which point the backend is the default one. Changing the current backend to non-default one means that the `af_destroy_array` from a different lib is being called which causes the segmentation fault.

I am willing to bet you can reproduce the same

[2016-12-20 21:21] shehzan10 commented on #1685
Just tested your code. It's working fine.

[2016-12-20 21:39] shehzan10 commented on #1685
That said, if the line `array A` is outside the main() function, then the code segfaults. Doesn't have to be static.

[2016-12-20 21:42] pavanky commented on #1685
That is happening on the RHS. Check what happens inside `operator=`. If there is an existing array `af_destroy_array` is called.

[2016-12-20 21:50] shehzan10 commented on #1685
Agreed. But that does not explain why the segfault does not show up if the array is created inside main. Any thoughts there?

[2016-12-20 21:51] pavanky commented on #1685
@shehzan10 Did you try setting OpenCL backend instead of CPU?

[2016-12-20 21:53] shehzan10 commented on #1685
I did. I tried CUDA (default) with OpenCL and CPU.
And on an AMD system, OpenCL (default) with CPU.

I also tried changing the default order (CUDA > OpenCL > CPU) to make CPU default and then test CUDA and OpenCL.

Results are consistent.

[2016-12-21 07:34] pavanky commented on #1685
@umar456 @shehzan10 This is a peculiar bug that can happen in other circumstances but is being triggered by this piece of code. Here is what is happening:

The singletons in OpenCL backend (specifically the memory manager) is being destroyed before the global variable in the sample program is being destroyed. This is the cause of the segmentation fault.

I am not sure what the best way to avoid th

[2016-12-22 08:00] svenstaro opened #1688 "3.4.2 doesn't compile"
Getting this during compilation:

[code]

gcc 6.2.1 on Arch Linux.

Weirdly enough, the compiler knows about `setAxesLimits` but not about `getAxesLimits` so probably this is not an error on my side.

[2016-12-22 08:41] 9prady9 commented on #1688
@svenstaro Because of some changes in the upstream graphics library, we had to change few things internally and what you are seeing is the because of that. do `rm -rf <build_foler>/third_party/forge` to remove the forge related external project builds and try building the code again. If that doesn't work out, just start with a clean build. I am sure one of them will get you going.

[2016-12-22 13:51] 9prady9 commented on #1688
@svenstaro Did you get a chance to revisit this problem ? If its not a problem anymore, please close the issue.

[2016-12-22 13:59] pavanky commented on #1688
@9prady9 He is the one that packages arrayfire for archlinux. I don't think the error is happening because of a left over build directory.

@svenstaro  The error sounds like it is because of `PKGCONFIG` pointing to older version of forge. Can you upgrade forge to 0.9.2 and try again?

[2016-12-22 14:05] 9prady9 commented on #1688
@pavanky But, I got the exact same error message after pulling latest devel and doing a clean build fixed it.

[2016-12-22 16:48] svenstaro commented on #1688
With forge 0.9.2 I get:

[code]

[2016-12-22 16:58] shehzan10 commented on #1688
@9prady9 are you getting the same error as well? Also if you are, did you install CUDA using package manager or installer? I am unable to reproduce this error.

[2016-12-22 17:06] svenstaro commented on #1688
Using cuda 8.0.44 from Arch, by the way.

[2016-12-22 17:25] pavanky commented on #1688
Hmm I was building the hotfixes branch on arrayfire just a couple of days ago. Let me check if forge is an issue.

[2016-12-22 17:34] shehzan10 commented on #1688
Looks like its happening on Windows too.

[2016-12-22 17:48] pavanky commented on #1688
@shehzan10 @svenstaro looks like it is a problem with cmake 3.7. 3.6 works fine.

 My desktop was still on 3.6 so it was building fine. Upgrading to 3.7 breaks. I'll see if there is an easy fix for this.

[2016-12-22 17:50] shehzan10 commented on #1688
@grzegorz-gutowski Are you using CMake 3.7 as well?

[2016-12-22 17:52] grzegorz-gutowski commented on #1688
@shehzan10 Yes. I'll downgrade cmake to 3.6.3 and check what happens.

[2016-12-22 17:55] pavanky commented on #1688
@shehzan10 I am assuming this is because 3.7 no longer generates ptx files in the format like `cuda_compile_ptx_generated_$NAME.cu.ptx`

I was relying on an undocumented feature when I added that into the build process.

[2016-12-22 17:56] shehzan10 commented on #1688
I can look into it and see whats going on.

[2016-12-22 18:00] grzegorz-gutowski commented on #1688
I confirm that downgrading cmake helped with my build.

[2016-12-23 00:17] 9prady9 commented on #1688
@shehzan10 I got the second error he reported as well which is why i tried a clean build. As in, i removed all the contents of build folder and started from scratch.

[2016-12-23 00:18] 9prady9 commented on #1688
I am using CMake 3.5.

[2016-12-23 03:24] pavanky commented on #1688
@svenstaro since the release is already out and only affects newer versions of cmake, I don't think a new release will happen.

Is there any chance you can package it using this patch:
https://github.com/arrayfire/arrayfire/pull/1689/commits/13c484e10537b52bcd012e6850520659769cece6

[2016-12-23 06:59] 9prady9 commented on #1451
ArrayFire 3.4.2 and Forge v0.9.2 have been released and corresponding checks for FontConfig are  now available in their respective release binaries.

[2016-12-23 06:59] #1451 closed

[2016-12-23 07:10] 9prady9 commented on #663
@arrayfire/core-devel Is this still an issue ?

[2016-12-23 07:10] 9prady9 commented on #480
@arrayfire/core-devel Is this still an issue ?

[2016-12-23 07:26] 9prady9 commented on #1266
Closing this issue. Feature associated with this discussion is open [here](https://github.com/arrayfire/arrayfire/issues/1106).

[2016-12-23 07:26] #1266 closed

[2016-12-23 07:28] 9prady9 commented on #1276
@pavanky Which machine has R9 380 ? Can we test this with latest releases and see if it's an issue.

[2016-12-23 07:30] 9prady9 commented on #1509
@gdkrmr Did you get a chance to try what @ghisvail suggested ?

[2016-12-23 07:32] 9prady9 commented on #1439
Closing the issue since the feature request has been addressed.

[2016-12-23 07:32] #1439 closed

[2016-12-23 07:38] 9prady9 commented on #1497
@schuhschuh Can you please verify if it's still an issue with newer CMake versions and send in a PR for it.

[2016-12-23 11:28] pavanky commented on #1276
@shehzan10 ?

[2016-12-23 11:29] pavanky commented on #480
Let's close it as won't fix considering that Intel does not support OpenCL on their current generation anyway.

[2016-12-23 11:29] #480 closed

[2016-12-23 11:29] pavanky commented on #663
Closing this. We can open if someone complains.

[2016-12-23 11:29] #663 closed

[2016-12-23 15:08] shehzan10 commented on #1276
We don't have any 380 in our build setup.

[2016-12-23 16:49] pavanky commented on #1276
@shehzan10 any amd gpu will do.

[2016-12-24 17:15] deejayfrankcesco opened #1692 "dyld: Library not loaded: @rpath/libforge.0.dylib"
Dear Sir.
I'm so sorry but I doesn't succeeded to execute the plot2D simple example.
I installed arrayfire 3.4.2 just now and I'd like to try to plot some data.
But I get this output on terminal:

Down of page

What should I do?
Best Regards and many thanks in advance

[2016-12-24 18:35] pavanky commented on #1692
Did you add arrayfire libraries to the `LD_LIBRARY_PATH` as mentioned in the link from the error?

[2016-12-24 20:24] deejayfrankcesco commented on #1692
oh yes sorry I pasted the wrong parts. The error is this:

dyld: Library not loaded: @rpath/libforge.0.dylib
  Referenced from: /usr/local/lib/libafcpu.3.dylib
  Reason: image not found

[2016-12-24 21:39] pavanky commented on #1692
Can you show the output of `ls /usr/local/lib/`

[2016-12-25 18:29] shehzan10 commented on #1692
This should be because `DYLD_LIBRARY_PATH` does not have `/usr/local/lib` as a part of it.
The quickest way to test it would be
`DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:/usr/local/lib: /path/to/arrayfire/plot2d_cpu`.

If this works, then you can add `/usr/local/lib` to you `DYLD_LIBRARY_PATH` in `.bashrc`.

[2016-12-28 10:45] bitstormGER commented on #1688
I have just compiled on arch with gcc 6.2.1 - compilation works fine with cmake-3.6 from AUR but not with cmake 3.7 from extra

[2016-12-28 16:47] pavanky commented on #1688
@bitstormGER I am going to update the aur with the patch.

[2016-12-28 16:53] pavanky commented on #1688
@bitstormGER done. Not sure if you are aware, but you can downgrade archlinux packages if you did not delete your cache. You do not need to install cmake-3.6 from aur.

[2016-12-28 17:02] pavanky commented on #1688
@bitstormGER I updated the aur package to v3.4.2 and re-enabled graphics support. You may want to upgrade.

[2016-12-28 23:34] vakopian opened #1693 "BUG: accessing deleted memory in array_proxy index"
The following code should work:
[code]
but it produces the error below:
[code]

I think this is a bug in the way memory is managed for the `af_index_t` structure within the `array_proxy`.
Below is what I think happens:
1. the `array::operator()` is called to create the `X` proxy
2. the `cond` array is first converted to a **temporary** `index` object (since `operator()` can only take `index`)
3. t

[2016-12-28 23:45] mrkwjc commented on #1669
I have similar issue with custom build on gentoo against Quadro 2000M. It seems that during compilation the compute 20 is properly recognized, at least configuration says:

-- CUDA Compute Detection Output: 20
-- CUDA Compute Detection Return: 0
-- CUDA Compute Detection Worked
-- Number of Computes Detected = 1
-- Setting Compute 20 to ON

but the examples usually end up with the title error and

[2016-12-29 02:21] pavanky commented on #1693
@umar456 ?

[2016-12-29 15:48] shehzan10 commented on #1692
@deejayfrankcesco can you provide an update on this?

[2016-12-29 15:49] shehzan10 commented on #1688
Fixed by #1689

[2016-12-29 15:49] #1688 closed

[2016-12-29 15:52] shehzan10 commented on #1669
Can you paste the first few lines of `arrayfire/build/src/backend/cuda/arith.ptx`, where `build` is the build directory.

These should look like:
[code]

[2016-12-29 15:58] shehzan10 commented on #1552
Closing this issue until there is further information.

[2016-12-29 15:58] #1552 closed

[2016-12-29 16:06] shehzan10 commented on #1390
Test this by upgrading boost compute to v1.62.

[2016-12-29 16:08] shehzan10 commented on #1359
Can you please test this with the current devel branch? This may have been fixed by #1657

[2016-12-29 16:09] eyalroz commented on #1359
Sorry, I no longer have access to a system on which I can reproduce this...

[2016-12-29 16:11] shehzan10 commented on #1359
Sure. Thanks for that update.

[2016-12-29 18:47] #1359 closed

[2016-12-29 19:01] vakopian opened #1694 "QUESTION: gfor allows adding arrays of different dimensions"
If I try to add a `3x1` array to a `3x3` array, AF throws an exception about dimensions mismatch, as expected.
However, the following code works and appears to create the correct (intuitive?) result, i.e. it adds the column vector to each of the columns in the array.
[code]
Note that the sequence `i` in `gfor` is actually not used in the code.
Is this an expected and documented behavior?

[2016-12-29 19:04] shehzan10 commented on #1694
You are not allowed to add arrays of different dimensions. If array 1 has dim `x` as `1` and array 2 has dim `x` as `n`, then you have to use `tile`. In this case, tile would be JIT, so it would not result in any additional operations.

[2016-12-29 19:06] vakopian commented on #1694
ok, shouldn't then the above code throw an exception?

[2016-12-29 19:11] shehzan10 commented on #1694
Ah, sorry misread the question.

The way gfor works is by changing the batch dimension to the 4th dimension. Even if you are not using `i` in the array operations, the "batched" flag internally will be turned true. From there on, it will allow multiple of dimensions - that is - 1xN, 1x1, NxN to be batched.

This is the correct behavior under gfor.

[2016-12-29 19:36] pavanky commented on #1694
@vakopian to expand on what @shehzan10 has said, GFOR disables dimension checks and performs broadcast operations. This is expected behavior that you are seeing.

If you think GFOR looks weird, arrayfire has another function that can make your code more C++-11y:

You could use the following:
[code]

[2016-12-29 19:36] #1694 closed

[2016-12-29 21:45] mrkwjc commented on #1669
That's what i have in arith.ptx:
[code]
Maybe there should be sm_21 because Quadro 2000M has CUDA Compute 2.1?

[2016-12-29 23:00] shehzan10 commented on #1669
Compute 20 is fine. The detection script converts 21 to 20.
Can you do:
[code]
followed by
[code]

This should give a bit of an output, but there will be one command that will start with NVCC (`/usr/local/cuda/bin/nvcc` or similar). Can you paste that here?

[2016-12-31 01:07] vakopian commented on #1694
@pavanky do you know what's better for performance
the `batchFunc` in your snippet or `a + tile(b, ...)`?

[2016-12-31 03:21] pavanky commented on #1694
@vakopian All of them end up doing the same thing internally. We usually suggest tile because it is not hiding internal behavior.

[2017-01-01 21:36] valarauca opened #1698 "https://arrayfire.com has an invalid certificate"
The arrayfire ssl certificate was valid from
`Wed, 09 Dec 2015 00:00:00 UTC` to `Fri, 23 Dec 2016 23:59:59 UTC` which has since passed.

I was attempting to register with your website when I noticed this.

I could re-create in

FireFox 50.1.0 (x64 Windows 10 Pro x64)

Chrome 55.0.2883.87m (x64 Windows 10 Pro x64)

Edge 25.10586.672.0

Mobile Safari (on iOS)

SSL Labs reports the same issue https:/

[2017-01-02 05:36] mlloreda commented on #1698
This has been taken care of. Thanks for reporting @valarauca.

[2017-01-02 05:52] mlloreda commented on #1698
@pavanky is looking into enabling [Let's Encrypt](https://letsencrypt.org/)

[2017-01-02 06:08] pavanky commented on #1698
That is going to take a bit of figuring out. But the website is back to what it used to be.

[2017-01-02 06:29] mlloreda opened #1699 "Use Let's Encrypt"
We can eliminate the task of manually regenerating key each year by using [Let's Encrypt](https://letsencrypt.org/]).

[2017-01-02 06:36] #1699 closed

[2017-01-03 11:03] mrkwjc commented on #1669
Hi!

In the meantime i switched to ArrayFire v3.4.2 (3.4.1 before) and now examples do work as expected, so the problem somehow has gone. Thanks for help!

[2017-01-04 08:26] gaika opened #1700 "JIT is not exception safe."
I'm mucking with a Julia wrapper for ArrayFire, and I get these weird dumps any time over ~10 million elements are in a vector.  Same thing would work correctly with a 1-2 million elements `s` vector. Any idea what I'm doing wrong? Underneath it is just calling `af_sum_all` over `af_mul` with batch flag on.
[code]

[2017-01-04 08:34] pavanky commented on #1700
What is the size of `s`?

[2017-01-04 08:36] pavanky opened #1701 "transform slow on AMD platform"
code to reproduce:
[code]

It takes 0.5 ms on NVIDIA GTX 950, but 60ms on AMD R9 390x.

[2017-01-04 08:38] gaika commented on #1700
[code]

[2017-01-04 08:41] gaika commented on #1700
here's another one if it is any help:

[code]

[2017-01-04 08:50] pavanky commented on #1700
Can you start julia with `AF_PRINT_ERRORS=1 julia` and try running the code again ?

[2017-01-04 08:52] gaika commented on #1700
[code]

[2017-01-04 08:59] gaika commented on #1700
Some magic value at 2_097_121
[code]

[2017-01-04 09:10] pavanky commented on #1700
@ranjanan I think the instead of printing the output of `af_error_to_string`, you could also add the output of `af_get_last_error` to the error message. It'll be useful for debugging.

@gaika I think the issue is only happening when you are trying to replicate broadcast at larger sizes.
This is because of the issue described in https://github.com/arrayfire/arrayfire/issues/133

Because you are cre

[2017-01-04 09:16] gaika commented on #1700
Thanks! It is definitely broadcast related, I'll try it with af_constant next

[2017-01-04 17:54] WilliamTambellini commented on #1673
Hi guys, sorry for the delay: on our side, we are more interested by computation speed up (the usual  linear algebra) than lowering mem space. Consequently I m not interested by "using fp16 for storage only, but performing compute in fp32". This is just simply because I m mainly into recent nvidia gpus with cool fp16 computation speed up for NeuralNetworks inference. Happy new year.

[2017-01-04 19:00] pavanky commented on #1673
@WilliamTambellini We can enable it as an option that user can toggle.

[2017-01-05 02:57] #1669 closed

[2017-01-05 03:15] #1290 closed

[2017-01-05 07:24] ranjanan commented on #1700
I got these errors when using `af_const`:
[code]

[2017-01-05 07:24] ranjanan commented on #1700
Another one:
[code]

[2017-01-05 07:57] pavanky commented on #1700
That is a weird looking kernel. Can you show me what code generated this ?

[2017-01-05 08:26] ranjanan commented on #1700
[code]

[2017-01-05 09:31] pavanky commented on #1700
ok I am able to reproduce it if I put an `af_eval(c);` between `af_constant` and `af_sub`.  Since you are using the repl, it is evaluating and printing the value which then behaves like a regular buffer.. If you can try the same code from the script, it'll behave differently..

As for your errors,
- The first error that is showing up is related to issue #133 as mentioned earlier.
- The second erro

[2017-01-05 18:54] mlloreda opened #1702 "Reduce failure due to large second dimension"
First reported [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/I8g-Ec9oK8s/UIxaZAhoEgAJ).

Failure is due to exceeding launch configuration limits on CUDA. This appears to be related to issue #133.

Code to reproduce

[code]

Error message:

[code]

[2017-01-05 18:57] pavanky commented on #1702
Not a bug in reduce. Bug in JIT. Duplicate of #133

[2017-01-05 18:58] pavanky commented on #1702
@mlloreda reopen the issue if it fails with randu instead of constant.

[2017-01-05 19:01] mlloreda commented on #1702
@pavanky, failing with `randu` as well.

[2017-01-05 19:11] mlloreda commented on #1702
@pavanky done.

[2017-01-06 08:35] hypernewbie opened #1703 "af::free conflicts with MSVC _CRTDBG_MAP_ALLOC"
The msvc library #defines free to internal debug allocator in its library headers.

[2017-01-06 13:34] 9prady9 commented on #1703
@hypernewbie Can you please update the issue description with the full compilation error message.

[2017-01-07 00:23] gaika opened #1704 "How to get the amount of free / total memory on a device?"
I'm writing a wrapper for Julia and would like to hook up Julia garbage collector to kick in when the amount of free memory on a device falls below certain limit. I don't see a function that would return this information, am I missing anything?

`af_device_mem_info` only provides used and allocated bytes, but not the amount that is still free.

`af_device_info` lacks the total memory on the device

[2017-01-07 03:47] 9prady9 commented on #1704
@gaika I am assuming you haven't already come across [this](https://github.com/JuliaComputing/ArrayFire.jl). That wrapper is officially maintained by JuliaComputing group. May be you want to check it before re-implementing the entire wrapper from scratch.

[2017-01-07 04:02] gaika commented on #1704
I'm rather unhappy with the state of the official Julia wrapper, there's no support for graphics, sparse, no garbage collection hooks, arrayfire type system is not integrated with julia type system, julia v0.6 support is broken, etc, etc. I know it is all fixable, but I've already got most of the needed functionality with half the code (mostly due to better auto-generated wrapper for C functions t

[2017-01-07 04:10] pavanky commented on #1704
@9prady9 He is reimplementing the same wrapper: https://github.com/JuliaComputing/ArrayFire.jl/pull/121

@gaika That function isn't exposed currently. This can be added to 3.5. If you can tell what you are trying to do, may be I'll let you know if there is a work around.

[2017-01-07 04:20] gaika commented on #1704
When there's a lot of ArrayFire activity and little Julia activity the Julia garbage collector is not called, but the memory on the device is exhausted as all arrayfire arrays are referenced by stale Julia objects that have not been garbage collected yet. If julia gc() is called manually these objects are reclaimed and the finalizers release arrayfire references allowing device_gc() to reclaim dev

[2017-01-07 04:25] pavanky commented on #1704
@gaika For now you can have a placeholder for memory pressure based on the number of buffers and amount of memory that is locked:

Here is what I did in the R wrapper: https://github.com/arrayfire/arrayfire-r/blob/master/R/array.R#L6
In this case memInfo[3] is amount of locked memory, memInfo[4] is number of locked buffers.

Once the amount of total memory available is exposed, you can add additio

[2017-01-07 12:46] CNugteren commented on #1611
The suggestion above is [implemented in my fork](https://github.com/CNugteren/arrayfire/tree/clblast): ArrayFire (OpenCL part) is now non-BLAS-specific and there are now two back-ends available: clBLAS and CLBlast. All the CMake logic is also ready, there is now a `USE_CLBLAS` and a `USE_CLBLAST` option. I can make a pull-request so that you can review the code?

One thing still missing from the C

[2017-01-09 23:52] pavanky commented on #1692
@umar456 can you look into this ?

[2017-01-09 23:52] pavanky commented on #1692
@mlloreda too.

[2017-01-10 22:21] mlloreda commented on #1692
I've been able to replicate this issue with all OSX installers since v3.2.

Setting `DYLD_LIBRARY_PATH` does not help.

[2017-01-10 23:48] wenatgithub commented on #1692
any workaround or no arrayfire on osx for now? thanks.

[2017-01-11 00:07] mlloreda commented on #1692
@wenatgithub, currently working on finding a workaround.

In the meantime, you can build arrayfire from source by following [these instructions](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-OSX)

[2017-01-11 01:42] mlloreda commented on #1692
@wenatgithub, @deejayfrankcesco here's a temporary work-around:

[code]

Turns out the installer isn't writing out `libforge.0.dylib`, which we'll need to fix.

[2017-01-11 02:40] wenatgithub commented on #1692
Hi Miguel,

thanks. but I got another one after following your instruction:

dyld: Library not loaded: /usr/local/lib/libglfw3.dylib

  Referenced from: /usr/local/lib/libforge.0.dylib

  Reason: image not found

Trace/BPT trap: 5

Need to install GlFW3?

best,

Wen

________________________________
From: Miguel Lloreda <notifications@github.com>
Sent: Tuesday, January 10, 2017 6:42 PM
To: arrayfi

[2017-01-11 03:59] mlloreda commented on #1692
@wenatgithub, yes, it looks like you're missing `glfw`, which you can grab via `brew`.

However, unless something went wrong with it, the installer should have taken care of that dependency for you. Did the installer finish successfully for you?

[2017-01-11 12:57] wenatgithub commented on #1692
yes, installer finished without warning or error.

________________________________
From: Miguel Lloreda <notifications@github.com>
Sent: Tuesday, January 10, 2017 8:59 PM
To: arrayfire/arrayfire
Cc: wenatgithub; Mention
Subject: Re: [arrayfire/arrayfire] dyld: Library not loaded: @rpath/libforge.0.dylib (#1692)

@wenatgithub<https://github.com/wenatgithub>, yes, it looks like you're missing glfw,

[2017-01-11 13:05] shehzan10 commented on #1692
@wenatgithub According to this, you have `libglfw.dylib` etc whereas forge is looking for `libglfw3.dylib`. Brew installs libglfw3.dylib. Did you install libglfw2 or have you installed glfw manually?
@mlloreda can you verify that Brew's `glfw3` package installs `libglfw3*.dylib`?

@wenatgithub Can you provide the log `/tmp/AFInstallerForge.err`. This may have been deleted if you restarted your com

[2017-01-11 14:37] wenatgithub commented on #1692
here you go.  it seems GLFW3 was installed...

-------------------

homebrew/core

-------------------

==> Tapping homebrew/versions

Cloning into '/usr/local/Homebrew/Library/Taps/homebrew/homebrew-versions'...

Tapped 97 formulae (126 files, 436K)

Installing GLFW3

-------------------

==> Downloading https://homebrew.bintray.com/bottles/glfw-3.2.1.el_capitan.bottle.tar.gz

==> Pouring glfw-3.

[2017-01-11 15:14] mlloreda commented on #1692
@shehzan10, yes, `brew` installs `libglfw3*.dylib`.

[2017-01-11 15:21] mlloreda commented on #1692
@wenatgithub, it appears something went wrong with your installation. Would you be able to move this conversation to our [gitter](https://gitter.im/arrayfire/arrayfire)? You can ping me there directly.

[2017-01-14 05:32] vakopian opened #1709 "QUESTION about memory management"
The following loop should be able to succeed on my nvidia GPU with 4GB of memory, because each step in the loop should only use less than 800MB. However this loop aborts after a few iterations with `CUDA Error (2): out of memory`:
[code]
I added `printMemInfo()` in each step and this is what it shows:
[code]

I have tried inserting `deviceGC` in each step in the loop, but the result is the same. I

[2017-01-14 09:14] pavanky commented on #1709
The reason for this is ArrayFire's lazy evaluation. In many cases this is a good thing because it avoids reading and writing arrays multiple times. In your example, if it did not run out of memory, the entire loop would have resulted in 20 (one for each `R`) reads and 1 write (for the final `res`). But this requires all 20 `R` arrays to exist in memory at the same time.

If arrayfire was not perfo

[2017-01-16 21:26] vakopian commented on #1709
@pavanky First of all, I'd like to thank you and the whole team for such an outstanding support; your commitment and availability is unparalleled and is highly appreciated.

I have a quick followup question:  what is the "USER LOCK"? Is it determined by the reference count of the array?

The reason for this question is that after I added some calls to `eval` it fixed (most of) the cases where "AF

[2017-01-16 21:58] pavanky commented on #1709
`USER_LOCK` only turns to YES if you have `arr.device<>()` in your code or if you explicitly use `arr.lock()`. Are you getting device pointers in your code base anywhere?

[2017-01-16 22:06] vakopian commented on #1709
Yes I do use `arr.device<>()`: I pass the GPU memory pointers to [Caffe](https://github.com/BVLC/caffe). What should I call to unlock it after caffe returns?

[2017-01-16 22:09] vakopian commented on #1709
I just saw `arr.unlock()`. Is that it?

[2017-01-16 22:16] pavanky commented on #1709
@vakopian yeah `arr.unlock()` should do it. But if caffe and arrayfire are using different streams, you'll need to synchronize arrayfire's streams (done using af::sync()) before calling `device` and synchronize caffe's streams before calling `unlock()`.

This ensures memory is not reused by arrayfire when operations are being done on another library.

[2017-01-16 22:34] vakopian commented on #1709
Yes, `unlock` made everything run properly, no more "out of memory"! Thank you very much.
Thank you for reminding me about `sync` as well. I now have to find out how to synchronize from caffe side before unlocking.

One last question about memory management. Sometimes I have code where I can't rely on c++ scope to release memory allocated in large arrays. So I created a simple function called `cle

[2017-01-17 02:13] pavanky commented on #1709
@vakopian There is no other way right now. But you don't need to use a static EMPTY_ARRAY. You can just do `arr = af::array()`. It is light weight enough to clear the memory.

I am closing the issue if this answers all the issues.

[2017-01-17 02:13] #1709 closed

[2017-01-17 02:16] pavanky commented on #1709
@vakopian BTW if you call `cudaDeviceSynchronize()` it synchronizes all calls on the device. It is costlier than syncing just the stream caffe is using, but it can be a work around for now.

[2017-01-18 07:43] unbornchikken opened #1711 "matmulTN fails when the two parameters are the same array (Intel/OpenCL)"
Original issue: https://github.com/arrayfire/arrayfire-python/pull/114#issuecomment-273244735

clinfo:

[code]

ArrayFire Python's backend and device is the default.

Error:
[code]

[2017-01-18 17:45] svanschalkwyk opened #1712 "ArrayFire OpenCL fails"
Hi
Excellent product, by the way.
I'm having a terrible time getting ArrayFire 3 built on Intel (Parallel Studio 2017 XE, Intel MKL, Intel OpenCL etc.). I used to work on Windows and this is the first excursion with Intel tools on Linux (Centos 7.3).
My setup is as follows: 2xE5-2640, 2xPhi 3020, low-performance NVidia card for display.
I believe I have all the makefile settings correct (https://g

[2017-01-18 17:48] pavanky commented on #1712
Are you trying to run OpenCL on Xeon Phi or the CPU?

[2017-01-18 17:52] svanschalkwyk commented on #1712
On both - I wanted to get it running on CPU first, then progress to Phi.

With best regards,
Steph van Schalkwyk

*Steph van Schalkwyk*
Principal, Remcam Search Engines
+1.312.281.8982    step@remcam.net  http://www.remcam.net Skype:
svanschalkwyk <https://mail.google.com/mail/u/0/#> 2223 Park Avenue St.
Louis MO 63104 USA
<http://linkedin.com/in/vanschalkwyk>

On Wed, Jan 18, 2017 at 11:48 AM, Pa

[2017-01-18 18:09] pavanky commented on #1712
@svanschalkwyk can you show the output of clinfo ? There's no reason OpenCL on CPU should cause segmentation faults.

[2017-01-18 18:10] pavanky commented on #1712
unless there is a problem with graphics. Can you try running the examples with the following environment variable set ?

`export AF_DISABLE_GRAPHICS=1`

[2017-01-18 18:25] svanschalkwyk commented on #1712
Segmentation fault (core dumped).
gdb output is:
Missing separate debuginfo for /lib64/libOpenCL.so.1
Try: yum --enablerepo='*debug*' install /usr/lib/debug/.build-id/18/de8b5046adcfe0be9627f9cdab1812fe715d89.debug
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Missing separate debuginfo for /lib64/libnvidia-opencl.so.1
Missing separate de

[2017-01-18 18:55] svanschalkwyk commented on #1712
CMakeCache.txt: https://gist.github.com/svanschalkwyk/37de7a8b12903996edd2f1d9d2a888b2

[2017-01-18 18:57] pavanky commented on #1712
@svanschalkwyk did you try running the examples with `AF_DISABLE_GRAPHICS=1` exported?

[2017-01-18 19:20] svanschalkwyk commented on #1712
Getting this on build now. Debugging
​
[ 55%] Building C object test/CMakeFiles/basic_c_opencl.dir/basic_c.c.o
[ 55%] Linking CXX executable cast_cpu
[ 55%] Linking C executable basic_c_opencl
[ 55%] Linking CXX executable regions_cpu
../src/backend/opencl/libafopencl.so.3.5.0: undefined reference to
`mkl_blas_xzdotc'
../src/backend/opencl/libafopencl.so.3.5.0: undefined reference to
`mkl_blas_xcd

[2017-01-18 20:58] svanschalkwyk commented on #1712
Removed and re-cloned arrayfire. Did clean build with devtoolset-4 compiler etc.
All openCL examples fail with segmentation fault.
So, not an Intel compiler issue.
Andreas' OpenCL tools-master produces this:
./print-devices
platform 0: vendor 'Intel(R) Corporation'
  device 0: '      Intel(R) Xeon(R) CPU E5-2630 v2 @ 2.60GHz'
platform 1: vendor 'Intel(R) Corporation'
  device 0: '      Intel(R) Xe

[2017-01-18 21:30] shehzan10 commented on #1712
Just curious if you have tried the ArrayFire installer from arrayfire.com/download?

[2017-01-18 21:35] svanschalkwyk commented on #1712
The ArrayFire*.sh file? I tried it first.

With best regards,
Steph van Schalkwyk

*Steph van Schalkwyk*
Principal, Remcam Search Engines
+1.312.281.8982    step@remcam.net  http://www.remcam.net Skype:
svanschalkwyk <https://mail.google.com/mail/u/0/#> 2223 Park Avenue St.
Louis MO 63104 USA
<http://linkedin.com/in/vanschalkwyk>

On Wed, Jan 18, 2017 at 3:30 PM, Shehzan Mohammed <notifications@gi

[2017-01-19 01:24] jramapuram commented on #1509
FYI I am getting the following failures on 3.4.2 w/ CUDA8.0 on a GTX1060 w/gcc5.4.0 & bumblebee for optimus:

[code]

[code]

[code]

[2017-01-19 02:58] pavanky commented on #1509
@jramapuram can you make sure you are running on NVIDIA GPU and not the intel OpenCL?

[2017-01-19 04:11] jramapuram commented on #1509
@pavanky : To ensure no conflict I ran `optirun -b primus bash` . From there on only the nvidia card is being used:

[code]

[2017-01-19 04:37] pavanky commented on #1509
@jramapuram can you show the output of `af::info()` ?

[2017-01-19 23:45] svanschalkwyk commented on #1712
Works on a clean Mint (Ubuntu) install. No Intel OpenCL. No Phis. GTX 960+GTX780.
May be something with Intel compilers and/or Intel OpenCL. No time to waste on them anymore. Anyone want to buy two Phi 3021P with cooling ducts?

[2017-01-20 14:09] nikkadim opened #1713 "Remove limitation of MAX_BIN in CUDA and OpenCL backends"
Looks like the maximum (MAX_BIN) is in~3000, so for f32 image I can only count on ~3000 instead of 65535, but it's not documented in here: http://arrayfire.org/docs/group__image__func__histogram.htm

[2017-01-20 14:12] nikkadim commented on #1650
It looks right to me. Because 0 is the index and intensity(label) of first and only founded region.

[2017-01-20 20:45] WilliamTambellini commented on #1673
Hi guys,
Considering:
- we are more into recent nvidia techno (cuda 8, P100, TitanX, GTX10X0, ...)
- we are more interested by computation speed up than memory saving
I m ok as long as there is a runtime option in order to impose fp16 computations for fp16 arrays.
Would it be possible ?
Cheers
W.
Ref:
https://devblogs.nvidia.com/parallelforall/mixed-precision-programming-cuda-8/

[2017-01-20 20:47] pavanky commented on #1673
@WilliamTambellini definitely possible, that's what I was suggesting.

[2017-01-20 20:55] vakopian commented on #133
I started hitting this bug recently too. Other reports have indicated a large second dimension being the culprit, but I think I have an example without a large second dimension:
[code]
This produces
[code]
It does work if I reduce `sz` to `6000`.
af_info:
[code]

[2017-01-24 04:27] kaatish opened #1715 "Setting default random engine to Mersenne gives a segmentation fault"
Code to reproduce

[code]

This does not happen when using a user created random engine.

[2017-01-24 08:13] bradleyashton opened #1717 "self test failing: unified backed"
Hi, I followed the linux build instructions, with no errors. All self tests pass, except for:

[code]
Is the GLFW error significant here? I really want to use the CUDA backend for v7.0 toolkit. Thanks a lot in advance...

[code]

[2017-01-24 09:08] 9prady9 commented on #1717
@bradleyashton You are using Tesla K40c cards and they are accelerator only cards, therefore can't use graphics functionality. To disable graphics, you can always do `export AF_DISABLE_GRAPHICS=1` from command line and the subsequent arrayfire builds/program-executions will disable graphics.

[2017-01-24 20:02] #1715 closed

[2017-01-26 09:53] bradleyashton opened #1718 "af_sync error for ArrayFire.jl benchmarks"
Although this started over at `ArrayFire.jl` I am trying this here because it seems to be an `arrayfire` issue.

Ubuntu 14, Julia v5.0. CUDA 7.0. Self tests for CUDA and arrayfire all pass.

I have narrowed it down to

[code]

so it seems that `sync()` is the culprit, located in `backend.jl`, which brings me to:

[code]

suggesting an `arrayfire` issue from a call to `af_sync` .

Any help would be

[2017-01-26 16:19] pavanky commented on #1718
@bradleyashton as I commented on the other issue, the bug is in the ArrayFire.jl implementation. The C/C++ library is fine.

[2017-01-26 16:19] #1718 closed

[2017-01-29 14:56] Giels opened #1719 "More featureful convolutions"
The convolution implementation is currently limited.

Firstly, the only operating modes involve padding the input with 0's before convolution, to reach an output size which is the same as the input's, or padding the input with 0's before convolution, to reach an output size larger than the input's.
However, it is often desirable to operate in different ways: input wrap, input mirror, input stretch

[2017-01-30 02:32] chadwackerman commented on #1703
Easy workaround:

[code]

[2017-01-30 06:32] 9prady9 commented on #1703
The function in question, `free`, is already enclosed in arrayfire(`af`) namespace to avoid conflicts with other similarly named functions in user space. Are you facing the problem even if you do `af::free` (use scope resolution operator to resolve name ambiguity) ?

[2017-01-30 10:09] pavanky commented on #1703
@9prady9 That doesn't matter for macros.

[2017-01-30 10:28] 9prady9 commented on #1703
@pavanky  In that case, what @chadwackerman suggested is the alternative. We can't fix this in any reliable manner on the library side, am i correct to think so ?

[2017-01-30 11:10] pavanky commented on #1703
@9prady9 Yep.

[2017-01-30 11:59] 9prady9 commented on #1703
Closing the issue in that case.

[2017-01-30 11:59] #1703 closed

[2017-01-31 16:05] #1549 closed

[2017-01-31 23:00] islandhx commented on #1692
The macOS installer mangled the sym links for libglfw3.dylib and libforge.0.dylib. Both threw similar errors as below:
dyld: Library not loaded: /usr/local/lib/libglfw3.dylib
  Referenced from: /usr/local/lib/libforge.0.dylib
  Reason: image not found

Using the work around mlloreda suggested fixed these issues for my installation:
ln -s /usr/local/lib/libforge.0.9.2.dylib /usr/local/lib/libforge.

[2017-02-01 00:59] gaika commented on #1345
please add batch mode for it too!

[2017-02-01 02:38] #1692 closed

[2017-02-01 02:49] gaika commented on #1401
Is `replace` in JIT? Can you add broadcast to it and `select` too?

[2017-02-01 06:52] pavanky commented on #1401
@gaika Not sure if replace can be JIT'd but select can definitely be including batch mode.

Although both of them support "batch" mode right now also.

[2017-02-01 07:10] gaika commented on #1401
Not sure how batch is supported, because when I pass arrays with different dimensions I get:
[code]

[2017-02-01 07:21] pavanky commented on #1401
@gaika can you tell me what the dimensions are for a, b, and c?

[2017-02-01 07:38] gaika commented on #1401
For example:
[code]

[2017-02-01 07:53] pavanky commented on #1401
@gaika Please don't use a 1x1 array, they are highly inefficient compared to af::constant(val, dims);

On the note of batching, I see that the conditional arrays need to match one of the input dimensions for now. This can be fixed.

[2017-02-01 16:44] kkotyk commented on #1719
By supporting strides, do you mean to incorporate decimation? Because if so that would be invaluable to my work and that of others. I'm not a developer for this package, but I just thought I would support this idea.

[2017-02-01 18:08] pavanky commented on #1719
@kkotyk I haven't heard the term decimation, but strided convolutions are used a lot in machine learning. Can you point me to some docs about this ?

[2017-02-01 18:42] kkotyk commented on #1719
@pavanky Perhaps this strided convolution refers to something else. I'm not that familiar with that term. Decimation and interpolation are techniques used to change the sampling rate of a signal. Here is a decent PDF on it. https://www.staff.ncl.ac.uk/oliver.hinton/eee305/Chapter9.pdf. In decimation for example, one cannot simply downsample a digital signal to achieve a lower sampling rate. You ha

[2017-02-01 18:48] pavanky commented on #1719
@kkotyk it sort of sounds like a strided convolution (or they atleast capture a part of the entire process).

CC'ing @kaatish.

[2017-02-01 18:54] pavanky commented on #1719
@kkotyk I'll read the paper to understand it a bit more :)

[2017-02-01 18:58] kkotyk commented on #1719
@pavanky Excellent. I am interested to hear your thoughts.

[2017-02-01 20:07] gaika opened #1721 "feature request: save screenshot of a window"
May be just a way to access current window pixels as AFArray and then `save_image` it?

[2017-02-01 20:08] pavanky commented on #1721
@gaika programatically or from the UI ?

[2017-02-01 20:09] gaika commented on #1721
programmatically

[2017-02-01 20:12] pavanky commented on #1721
@9prady9 Does this need to be implemented in forge or can this be done in arrayfire?

[2017-02-01 20:20] gaika commented on #1721
I think it should be possible in arrayfire with `glReadPixels`

[2017-02-01 22:24] shehzan10 commented on #1721
Forge has API for this https://github.com/arrayfire/forge/blob/devel/include/fg/window.h#L521. But I don't think there is a corresponding API call in ArrayFire.

[2017-02-01 22:27] pavanky commented on #1721
@shehzan10 That function doesn't take in a format. Is it figuring it out based on the extension ?

[2017-02-01 22:30] shehzan10 commented on #1721
Yeah, it's similar to ArrayFire's saveImage, just that it's saving the framebuffer.

So the only thing needed to do is to is to create API in ArrayFire that would call the forge function. Should be simple enough for an external contribution.

[2017-02-02 01:39] Giels commented on #1719
@kkotyk I was thinking of strided convolution in the sense of machine learning, as @pavanky mentions. Equation 9.1 in your first link precisely describes the operation in functional terms, so it should be synonymous to decimation.

[2017-02-02 11:40] ShyamSS-95 opened #1722 "Errors in build"
I'm trying to compile arrayfire from source on a Microsoft Azure server running Ubuntu 16.04. I've installed all the pre-requisites that have been mentioned on the wiki page. I've also installed the OpenCL runtime packages that are given on https://software.intel.com/en-us/articles/opencl-drivers#latest_CPU_runtime.

Andreas' OpenCL tools-master produces this:
./print-devices
platform 0: vendor 'I

[2017-02-02 12:16] 9prady9 commented on #1717
@bradleyashton Did you get a chance to build/run without graphics ?

[2017-02-02 12:19] 9prady9 commented on #1722
`*_unified` tests would fail until unless you do the following.
[code]
because the unified wrapper loads the actual backend libraries at run time.

Can you run the `rotate_opencl` and `scan_by_key_opencl` tests individually and share the error messages over here. You can run each of these tests by doing the following
[code]

[2017-02-02 14:18] RonRicoSuave commented on #1701
timer::stop() returns seconds, not milliseconds, so multiplying by 1000 probably isn't helping anything.

	for (int y = 0; y < 17; ++y)
		{
			gfor(seq i, 3)
			{
				c(span, span, i) = af::transform(a(span, span, i), t(span, span));
		                c.eval();
			}
		}

Time taken (for): 83.277093 ms
Time taken (gfor): 27.731510 ms

I'm also seeing a spike of ~20% total CPU use across 12 hyperthr

[2017-02-02 15:26] kkotyk commented on #1719
@Giels Right, so it appears this would be a feature that is useful in several different applications. Thanks for taking a look.

[2017-02-02 22:14] WilliamTambellini commented on #1656
I do confirm our interest in int8 mainly via cuda.
Could anyone summarize which part of ArrayFire would need to be modified in order to take advantage of INT8 hardware acceleration ?
Cheers

[2017-02-02 23:28] bradleyashton commented on #1717
oh, sorry, I should have responded, that fixed it right away, thanks a lot for this!!

[2017-02-02 23:28] #1717 closed

[2017-02-03 06:13] ShyamSS-95 commented on #1722
This is what I got for the rotate_opencl test:
[code]
This is the output for the scan_by_key_opencl test
[code]

[2017-02-03 08:00] 9prady9 commented on #1722
@ShyamSS-95 Doesn't rotate_opencl test print anything at all ? The reason i ask that is Google test prints out if there is value mismatch on two values and almost all tests compare golden result(read from disk) with the result of ArrayFire function. If there is mismatch of values, test should print it out.

Also, please do `export AF_PRINT_ERRORS=1` in the command line and then run the test to see

[2017-02-03 09:01] ShyamSS-95 commented on #1722
`export AF_PRINT_ERRORS=1` doesn't seem to print additional error information here. The following is what is displayed during the run time of the test. Last time I just gave the error summary. Is this what you were looking for?
[code]

[2017-02-03 12:16] 9prady9 commented on #1722
Yes, i wanted to see what's error message being printed when test failed.

This could be most likely related to Intel OpenCL drivers being buggy. We will look into it in any case and make sure it is indeed buggy OpenCL driver.

@arrayfire/core-devel Do we have Intel Xeon CPU (E5-2673 v3) in house ?

[2017-02-03 16:52] pavanky commented on #1722
@ShyamSS-95 Can you show the output of af::info() ?

[2017-02-03 19:38] pavanky commented on #1656
@WilliamTambellini This involves changing a lot of files across 3 backends. This is not fairly straight forward.

[2017-02-03 19:39] #1712 closed

[2017-02-04 00:23] arcfide commented on #1656
I'd just like to add my support for int8 support.

[2017-02-04 01:53] 9prady9 commented on #1722
@ShyamSS-95 I was able to run `rotate_opencl` on my Intel CPU without any issues. Given below is partial output from that test.

[code]

I have installed the drivers from [this](http://registrationcenter-download.intel.com/akdlm/irc_nas/9019/opencl_runtime_16.1.1_x64_ubuntu_6.4.0.25.tgz) URL on my Ubuntu 16.04.

[2017-02-04 08:06] ShyamSS-95 commented on #1722
@pavanky I'm getting this for `af::info`
[code]
@9prady9 I'm using the same drivers as well.

[2017-02-04 08:09] 9prady9 commented on #1722
@ShyamSS-95 May be run the test with gdb and see what does the back trace looks like. Make sure to do `catch throw` inside gdb before you run the program.

[2017-02-04 09:59] ShyamSS-95 commented on #1722
Upon running `rotate_opencl` , I got:
[code]
Running `scan_by_key_opencl` gives:
[code]

[2017-02-05 14:21] CNugteren commented on #1611
@shehzan10
What do you think, shall I make the pull request? If we wait to long the merge might become more complicated? We can still of course have clBLAS as a default and CLBlast as an optional library.

[2017-02-05 22:15] shehzan10 commented on #1611
Feel free to open a PR. That should get a productive conversation going.

[2017-02-06 03:30] wenatgithub opened #1724 "OpenCL not work with VS 2010"
Hi,
I only have VS2010 under widows 7 64bit. I installed Arrayfire binaries (3.4.2) and was able to compile and run helloworld example with both cpu and CUDA backend after changing toolset version and platform in the project file.... but I couldn't get it to work with OPENCL. see the attached screenshot. it seems even af::getDevice() will throw an error. I tried this on two machines: one with i7 2

[2017-02-06 10:14] pavanky opened #1725 "Function to return scalar value from the C api"
The C++ API is copying the entire array to host and returning one value. This is entirely unnecessary.
https://github.com/arrayfire/arrayfire/blob/devel/src/api/cpp/array.cpp#L973

It'll also be great if we can specify the n'th element to be copied.

[2017-02-06 14:57] chadwackerman commented on #1703
You could put a guard in device.h. Pretty much everyone on Windows will hit this.

[code]

[2017-02-06 16:39] pavanky commented on #1703
@chadwackerman You are the first one to bring it up. I am not sure about pretty much everyone on windows hitting this.

[2017-02-06 19:35] chadwackerman commented on #1703
Someone else brought it up. I just happened to have a solution handy from when I hit it, too.

When I'm dealing with quaternions I don't want to Google an obscure compiler error and wind up on GitHub Issue #1703. Other people might be into that sort of thing, who knows.

[2017-02-06 19:38] pavanky commented on #1703
@shehzan10 thoughts ?

[2017-02-06 19:44] pavanky commented on #1703
@chadwackerman If you feel like this is going to be a huge problem, can you send in a patch that'll reliably solve the issue ?

[2017-02-06 20:52] wenatgithub commented on #1724
Hi,
to add more info. I tried this with vs2013. still the same problem.

best,
Wen

[2017-02-06 23:11] #1724 closed

[2017-02-06 23:18] pavanky commented on #1724
@wenatgithub did you figure out what the issue was?

[2017-02-06 23:53] shehzan10 commented on #1703
I don't think there is a straight forward way to fix this in all cases. In some ways, this is similar to Windows using min/max as macros and then to use `NOMINMAX` to fix it.
In that case, there is a straight forward fix - adding a preprocessor directive. However, this again is not a universal solution that WE provide since the user still has to add it in their own project.

[2017-02-07 00:13] pavanky commented on #1703
@shehzan10 won't adding the push pop pre-processors to the header file help ?

[2017-02-07 01:28] wenatgithub commented on #1724
yes, it turns out to be the intel OpenCL driver. after installing it is fine now. surprised how that affect the CUDA card also.

[2017-02-07 01:33] pavanky commented on #1724
@wenatgithub When arrayfire initializes it tries to query all OpenCL devices. If there is a buggy implementation it could cause issues.

[2017-02-08 00:57] shehzan10 commented on #1703
I'm not entirely sure. It would need some testing to get right.

[2017-02-12 05:28] 9prady9 commented on #1722
@ShyamSS-95 I wasn't able to replicate the issue on the Intel CPU i have available with me. MAY BE the problem is specific to the Xeon CPU, i can't say for certain if that is the case either.

You may however try to build the library by disabling graphics and see how that works. You can disable building graphics in cmake options using GUI and pass the following option to cmake on command line.
`-D

[2017-02-13 12:39] ShyamSS-95 commented on #1722
@9prady9 The build for which I was testing had the `-DBUILD_GRAPHICS=OFF` option.
I had used `'cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_OPENCL=ON -DBUILD_GRAPHICS=OFF -DCMAKE_INSTALL_PREFIX=package` while building from source.
I'm able to run programs using the binaries, though.

[2017-02-13 12:46] 9prady9 commented on #1722
Can you check if you have any conflicting OpenCL run time environments installed on your machine.

[2017-02-16 07:18] ShyamSS-95 commented on #1722
How would I check for the installed OpenCL run time environments? I had only installed the Intel OpenCL runtime packages, as far as I remember. I can restart the server, and start from scratch if necessary.

[2017-02-16 07:40] 9prady9 commented on #1722
One way would be to run `locate libOpenCL.so` and try figure out how many different locations(absolute paths) have OpenCL libraries ? you can ignore soft links.

[2017-02-17 09:10] FilipeMaia commented on #482
Any progress on this one?

[2017-02-17 16:06] InBetweenNames commented on #133
What would it take to get this issue fixed in ArrayFire?  I'm able to work around it by only processing up to 65535 elements at once, but it's a bit of a hassle to do and it affects code clarity.

[2017-02-18 06:39] ShyamSS-95 commented on #1722
`locate libOpenCL.so` returned the following:
[code]
Could the alternatives be causing a problem here?

[2017-02-18 06:47] 9prady9 commented on #1722
I am assuming the libOpenCL.so under /usr/lib is a link to /opt/intel/opencl*/lib64/libOpenCL.so ?

Which libOpenCL.so is the executable using on your system ? You can find this out using the command `ldd`.

[2017-02-18 09:01] ShyamSS-95 commented on #1722
This is what I get from running `ldd`:

`libOpenCL.so.1 => /opt/intel/opencl-1.2-6.4.0.25/lib64/libOpenCL.so.1 (0x00007fa5fe574000)`

[2017-02-18 12:30] 9prady9 commented on #1722
That looks correct. At this point, I am inclined to think it is problem in Intel drivers while cleaning up resources at program exit.

[2017-02-19 15:53] Giels commented on #1719
Any update on this? @pavanky ?

[2017-02-20 22:32] WilliamTambellini commented on #907
Good morning,
What is the current status of this one: still early WIP ? halfly done ? mostly done ready for 3.5 ? done ?
Kind

[2017-02-20 23:02] pavanky commented on #907
@WilliamTambellini check #1706 for the progress being made.

[2017-02-22 07:28] pavanky opened #1728 "Adding an external device after a Manager is created causes segmentation faults"
The following code shows the failure occurring in MemoryManager, but it can happen in other managers that depend on deviceId.

[code]

[2017-02-23 06:30] alha02 opened #1729 "Feature request: Unlimited af_join_many"
I'm assuming that there are performance benefits to calling af_join_many instead of repeatedly calling af_join. If so, it would be great if the 10-array limit was removed. Would that be possible?

[2017-02-23 06:47] pavanky commented on #1729
Can you show what the use case is where you are joining many arrays ?

[2017-02-23 07:29] alha02 commented on #1729
Basically I have a rather complicated function which returns a column of bools, and
I want to merge them column-wise to a matrix of bools, because that would greatly speed
up calculations down the line.

Now I know that I could pre-allocate the matrix and use assignment to do this, but the
thing is that I am calling the library from another language, so I need to use the C-api.
And the only way to

[2017-02-23 07:41] pavanky commented on #1729
@alha02 I dont understand why you need `af_join_many` if you just have 1 vector and 1 matrix.. You can call `af_join` along any given dimension..

[2017-02-23 07:42] pavanky commented on #1729
on a related note, what language are you working on ?

[2017-02-23 07:46] alha02 commented on #1729
Yes, no I know that. But there will be many columns to join, and I dont know beforehand how many they will be. As I mentioned earlier, I was assuming a perf gain by calling join_many instead of repeatedly calling join.

Im working in Julia. Thanks for the quick replies by the way!

On 23 Feb 2017, 08:42 +0100, Pavan Yalamanchili <notifications@github.com>, wrote:

[2017-02-23 07:50] pavanky commented on #1729
@alha02 at larger number of arrays, it really doesnt matter if the function is implemented inside arrayfire or outside. You could create a new function called `join_large` and just call `join_many` in a loop for now.

That said, I still want to see your current code if possible. If you can't send it here, please ping me over here: https://gitter.im/arrayfire/arrayfire

[2017-02-23 10:24] alha02 commented on #1729
I really appreciate the offer to take a closer look, but if you think the performance is about equal for a large number of arrays then I take your word for it. I'll just do a loop on join_many as you said. Thanks again!

[2017-02-23 10:24] #1729 closed

[2017-02-25 17:42] pavanky opened #1730 "Bug in CUDA and OpenCL select when indexing"
Reproducible code:
[code]

Results:

[code]

Expected:

Bot columns should have the same output

[2017-02-25 17:48] pavanky commented on #1730
affects cuda backend too

[2017-02-26 06:49] 9prady9 commented on #1054
@arrayfire/core-devel Does this still happen on OSX? If it's not possible to fix this on our end, lets just add the `won't fix` tag and close the issue.

[2017-02-26 07:08] #1730 closed

[2017-02-28 08:51] pavanky opened #1732 "Implement shift as a JIT compiled function"
This will be a special kind of BufferNode that changes the values of indices internally.

[2017-03-03 18:03] TejasMane opened #1733 "Feature requests"
Currently, the histogram functions available in `arrayfire.graphics` and `arrayfire.image` don't support the options of `weights` unlike the histogram function available in  numpy libraries. [https://docs.scipy.org/doc/numpy/reference/generated/numpy.histogram.html](url). It would be great if a function similar to the `numpy.histogram` is available in Arrayfire as well.

[2017-03-03 18:08] pavanky commented on #1733
@9prady9 I thought we were discussing weighted histogram at some point weren't we?

[2017-03-03 18:13] pavanky commented on #1733
@TejasMane One possible work around for now would be to do the following:

- Flatten image and weight to 1D.
- map the image pixels to a bin by dividing by the number of bins
- sort by key (key being the result from previous step)
- scan by key

@kaatish do the inputs to scan_by_key need to be sorted?

[2017-03-03 19:30] kaatish commented on #1733
@pavanky Yes, `scanByKey` only scans contiguous section of keys.

[2017-03-04 02:57] 9prady9 commented on #1733
@pavanky Sure, weighted histogram looks like a good addition to have in ArrayFire. Should we also do the estimation of number of bins using an identifier like numpy is doing?

[2017-03-06 06:48] pavanky commented on #482
@arrayfire/core-devel @FilipeMaia

I think the following steps need to be done in order to enable richer support for arrayfire views.

In the backend:
- [ ] All backend APIs require parameterized output. i.e. output is created before calling a function.
- [ ] Rewrite functions / kernels to not assume stride of `1` for inner most dimension.

In the C API:
- [ ] Add `af_create_view` to `af_index_gen

[2017-03-06 22:32] umar456 commented on #482
I think the ideal way would be to implement the `af_create_view` as @pavanky suggested. I am worried about your second point regarding the requirement for the output arrays to be NULL. I am afraid that may break some assertions people may be making about our library. It won't break API but may hurt compatibility. I think it will be okay though. No one should be passing in non-zeroed structs into t

[2017-03-06 22:40] pavanky commented on #482
CC @arrayfire/dotnet-devel @arrayfire/rust-devel @arrayfire/js-devel @bitstormGER @prasunanand to notify potential change in behavior in the future.

[2017-03-06 22:42] pavanky commented on #482
Also @ranjanan and @gaika

[2017-03-07 10:38] dodobing opened #1734 "negative value of AF_MEM_INFO"
I tested what is the maximum size of array can be allocated on GTX 980Ti because of this issue. I found that two cases of allocation failure. For the case 1 below, the size of array to be allocated is larger than device memory size, it raises out of memory exception. It is quite reasonable. For the case 2 below, the array size is smaller than device memory size and no exception was occurred. Howev

[2017-03-07 10:57] 9prady9 commented on #1734
@arrayfire/core-devel I have tested this with v3.4.2 on CUDA v7.5 and haven't been able to reproduce it. MAY BE cuda 8.0 on Windows platform might help reproduce it. @pavanky Can you check this on your Linux machine with CUDA 8.0 ? - although i doubt you will see such error.

[2017-03-07 16:27] FilipeMaia commented on #482
I really like this `af_create_view` 👍 !

[2017-03-07 16:34] pavanky commented on #1734
@dodobing @9prady9 I think it is just the print statement `AF_MEM_INFO` that is bad. It uses`%ld` which converts the data type to `long` before printing. In windows this is 32 bit signed integer type. On Linux it is 64 bit signed integer type.

1946 * 1946 * 96 * 8 = 2908351488. The limit of 32 bit signed integers is 2^31 -1 which is 2147483647.

@9prady9 you can reproduce this in linux by using `

[2017-03-07 16:54] 9prady9 commented on #1734
@pavanky Makes sense.

[2017-03-07 17:10] 9prady9 opened #1735 "List projects using ArrayFire"
One location to store the list - a markdown file in the ArrayFire repository.
Please post your projects at the following link if you wish to showcase it on our wiki.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/arrayfire-users/oM20kZd6HOk

[2017-03-07 17:13] pavanky commented on #1735
@9prady9 This should be a wiki maybe ?

[2017-03-07 17:13] pavanky commented on #1735
ok nvm, I misread the title.

[2017-03-07 20:17] mchandra commented on #1735
grim : General Relativistic Implicit Magnetohydrodynamics
http://ascl.net/1702.012

GRIM (General Relativistic Implicit Magnetohydrodynamics) evolves a covariant extended magnetohydrodynamics model derived by treating non-ideal effects as a perturbation of ideal magnetohydrodynamics. Non-ideal effects are modeled through heat conduction along magnetic field lines and a difference between the press

[2017-03-08 02:13] 9prady9 commented on #1735
FDBB: Fluid Dynamics Building Blocks
https://gitlab.com/mmoelle1/FDBB

Fluid Dynamics Building Blocks (FDBB) is an expression template library for building CFD simulation tools. It provides the building blocks like inviscid and viscous fluxes, Jacobian matrices, eigenvalues/-vectors, etc

[2017-03-08 19:51] umar456 commented on #1735
Hey guys,

I have created a post on our Google Groups forums for people to post projects using ArrayFire. I think that is a more appropriate platform for this type of discussion. This issue will eventually be closed but I don't want to discourage others to showcase their work. Please post your projects at the following link and we will periodically add them to the list.

https://groups.google.com/

[2017-03-09 11:45] dodobing commented on #1734
@pavanky Yes, it works. Thanks.

[2017-03-09 16:48] #1734 closed

[2017-03-09 17:02] pavanky commented on #1734
@9prady9 can you fix this in one of the PRs you are sending ?

[2017-03-10 20:23] CNugteren commented on #1673
Regarding OpenCL: Perhaps it's useful to know that the [CLBlast OpenCL BLAS library already supports FP16](https://github.com/CNugteren/CLBlast#half-precision-fp16). Perhaps you can use it as a back-end (PR #1727 is already made), but perhaps you can also learn from it's general structure of how was dealt with FP16, or perhaps even just form it's [FP32 to FP16 conversion header](https://github.com

[2017-03-12 05:56] HongChenGuaiKe opened #1736 "How to achieve CUDA Heterogeneous parallel computing function with Arrayfire?"
I would like to add an Arrayfire code to an existing CPU program,passing the data in memory  into the GPU and using CUDA to accelerate computing, then return the results to memory finally .

## The higher goal is to achieve heterogeneous parallel computing,which means the GPU reads data from memory and calculates it while the CPU program is running at the same time.So how to achieve this function

[2017-03-12 06:19] pavanky commented on #1736
What have you tried and how did it fail ? Please show some code.

[2017-03-12 22:27] artheru opened #1737 "af::rotate need theta to be array."
A usage in my current project:

[code]

In current arrayfire, rotate doesn't accept a array "theta" parameter, but a float "theta". Thus cannot be "gfor"ed.

[2017-03-12 22:30] pavanky commented on #1737
@artheru You can currently use transform to implement what you are looking for.

[2017-03-12 23:12] artheru commented on #1737
transform works

[2017-03-13 06:24] #1736 closed

[2017-03-13 17:28] pavanky commented on #1737
@shehzan10 @9prady9 Do you guys think we should have a new rotate function to do this as well ?

[2017-03-13 17:43] shehzan10 commented on #1737
This was on the plate once when I was rewriting the `rotate` function. However, it quickly became apparent that since we use the `crop`/`expand` argument, batching this for multiple rotations under the expand option means that each image dimensions can be completely different, which is obviously not going to work.

So due to the restrictions of how batching would work for multiple rotations, this

[2017-03-13 17:49] pavanky commented on #1737
@shehzan10 how about we just limit the new function to what transform does i.e. not have crop / expand ?

[2017-03-13 17:49] pavanky commented on #1737
@shehzan10 in other words, just a wrapper around transform.

[2017-03-13 23:07] shehzan10 commented on #1737
It will end up being a wrapper around transform anyway. I don't think it is particularly effective. All this function would do is take an array of floats and convert them into an array of transform. This can quite easily be done by the user.

I see that it might make a convenience function, but I'm not sure how widely it will get used given its limitation of being cropped.

[2017-03-13 23:35] pavanky commented on #1737
@shehzan10 we can implement this in C++ instead of C.

@artheru would you be interested in contributing this ?

[2017-03-16 00:56] Chronum94 opened #1738 "Special Instructions for Arrayfire on Ubuntu VM?"
Is there anything special we should keep in mind when installing Arrayfire on a VM? I know that installing on a VM is obviously stripping it of the GPU capabilities, and this is obviously more for testing than production code, but I wanted to clear a few things up.

1. Is it a good idea to keep graphics building off? I imagine graphics building takes OpenGL, and Forge seems to be failing to build.

[2017-03-16 02:17] HongChenGuaiKe opened #1739 "Feature request: support for CSC sparse matrix convert and matmul feature"

[2017-03-16 02:33] pavanky commented on #1739
@HongChenGuaiKe CSC is just CSR transposed. If you want matmul on CSC, you can treat your sparse matrix as CSR and call matmuTN

[2017-03-16 02:37] pavanky commented on #1738
This is a good suggestion. I think this can be done. I am sure it would be hard to make it exhaustive, but we can put in the most common ones and go from there.

As for building in a VM, there shouldn't be any need for special care when installing in a VM. You can disable graphics by passing `-DBUILD_GRAPHICS=OFF` to cmake.

[2017-03-16 04:51] Chronum94 commented on #1738
I did. And it was building fine. But then the scan_by_key.cpp file takes an uncharacteristically large amount of time to compile (left it there for an hour, didn't move, nothing).

I've build AF from source a few times on Ubuntu 14.04/15.04/15.10/16.04, but this is not an issue I remember having before the last 2-3 attempts.

[2017-03-16 04:58] Chronum94 commented on #1738
I tried that, and it's building fine. But now it's gets stuck at scan by key. Not breaks out stuck, but compiling for literally 45 minutes with no progress stuck. I see it sometimes on the cpu scan by key, sometimes on the OpenCL version. The screenshot shows it stuck on the OpenCL version. It's been ~15 minutes on this line.

![screenshot 1135](https://cloud.githubusercontent.com/assets/6704979/2

[2017-03-16 05:32] pavanky commented on #1738
scan_by_key and sort_by_key take a lot of time.. there are many templated instantiations in that file.

[2017-03-16 06:12] Chronum94 commented on #1738
Thanks for the heads-up. At the risk of taking up too much time, should I be looking at CPU usage or disk usage? Because right now I'm using make -j4, and my CPU usage is at ~10% (afcpu.dir/sort_by_key.cpp.o), but my disk usage is redlined at 100%. Just want to make sure that leaving this overnight is an option.

[2017-03-16 07:19] pavanky commented on #1738
@Chronum94 The compilation is fairly memory and disk bound. Are you trying to build arrayfire devel branch or are you OK with 3.4 ?

If 3.4 is OK, you could try downloading the installer

[2017-03-16 08:15] HongChenGuaiKe commented on #1739
@pavanky matmul and matmulTN only apply to CSR.
![20170316161407](https://cloud.githubusercontent.com/assets/26355505/23987262/b09a811e-0a63-11e7-8d80-0d0eb780a1f6.png)

[2017-03-16 08:25] pavanky commented on #1739
@HongChenGuaiKe matmulTN on csr is equivalent to matmul on csc.

So you just need to "fake" arrayfire into believing that the data is in CSR format and call `matmulTN`

This is equivalent to storing the matrix as CSC and calling `matmul`.

[2017-03-16 08:47] HongChenGuaiKe commented on #1739
@pavanky Thank you for your answer, but I need to convert the CSC matrix from the Eigen library into Arrayfire's sparse matrix format, which can only be converted to CSC format.

[2017-03-16 08:52] Chronum94 commented on #1738
Just started the download on the installer. I may or may not have overlooked that there was/is a Linux installer...

Guess compiling from source just made me feel good. Aight, will install using installer.

[2017-03-16 08:55] pavanky commented on #1738
You can use this file if you dont want the graphics version: http://ci.arrayfire.org/userContent/Linux/ArrayFire-no-gl-v3.4.2_Linux_x86_64.sh

The installers from the website usually contain graphics dependencies.

[2017-03-16 09:15] Chronum94 commented on #1738
Installed the one right from the website (still has a Login wall, don't know if that's intentional or not). Had to add /usr/local/lib to LD_LIBRARY_PATH, and now everything appears to work using lafcpu (lafopencl throws an exception, I imagine because of the VM situation).

Either way, AF works now on the VM. Thank you so much for all your help at this ungodly hour. Issue can be closed unless we'r

[2017-03-16 18:51] kaatish commented on #1739
Hi @HongChenGuaiKe

I hope I can clarify what @pavanky  is saying. Suppose you have a dense matrix A, such that
[code]

Now, the CSC data structures corresponding to A is as follows :

[code]

What would happen if you treat this as a CSR matrix? Try to create the corresponding matrix. It should look like this :
[code]
As you can see, the new matrix AT is the transpose of the original dense matrix

[2017-03-17 00:04] jgbos commented on #1095
I was wondering if there has been any progress on this feature?  It is quite common to want to do an fft along a subset of dimensions.  It is the nature of my data, but mostly this will improve efficiency by allowing a batch of fft operations to be executed without copying data to and from the GPU.  For example, if I have a 3D array of `NxMxD`, I would like to perform `D`  2D ffts along the first

[2017-03-17 00:07] Chronum94 commented on #1095
I believe you can do this by using AF's slice notation, an fft2, all inside a gfor loop.

[2017-03-17 00:27] jgbos commented on #1095
ok, thanks, i'll bring that up with the Julia folks because that appears to be slow with their implementation.

[2017-03-17 00:39] Chronum94 commented on #1095
A simple pseudocode (I have not tried this, neither can I attest for its functionality) to which a few indexing changes may be necessary:

gfor(seq i, n)
yourArrayFFTd[:, :, i] = fft2(yourArray[:, :, i])

Obviously this is primitive pseudocode, but this is the principle along which I was suggesting the idea.

[2017-03-17 06:54] pavanky commented on #1095
@Chronum94 You don't exactly need GFOR for this. You can pass 3D arrays to `fft2` and it will get batched automatically.

[2017-03-17 17:28] pavanky commented on #1738
@Chronum94 closing this issue. Can you open a new one regarding the BUILD options thing?

[2017-03-17 17:29] #1738 closed

[2017-03-17 19:52] Chronum94 opened #1741 "List of CMake Build Options"
It would be a good idea to have a near-comprehensive list of build options for Arrayfire all in one place. One can obviously go and sift the entire CMakeLists file, but this addition would be great to the Wiki. It would also be a good idea to have the default values in the list, and potentially a one-line commend explaining what they do.

I can potentially compile a list of the options, so the dev

[2017-03-17 19:56] pavanky commented on #1741
btw, I just `cmake -LAH` gives you the list of all the options being used and a little bit of their explanation.

Can you check if that output is enough or if you need more info ?

[2017-03-17 20:12] Chronum94 commented on #1741
This is actually _exactly_ what I was talking about. Whether a separate list of 'commonly used options' is seen as necessary is up to the devs. Otherwise, this can be closed. Hopefully, other people looking for this feature will be led to this thread.

[2017-03-17 20:17] pavanky commented on #1741
tagging it as a question and closing the issue! I'll edit the build instructions to add commonly used options at a later point.

[2017-03-17 20:17] #1741 closed

[2017-03-18 01:25] Chronum94 opened #1742 "Add array trim feature"
A function that trims the leading and trailing zeros (if 1D) or leading and trailing rows/columns with only zeros (2D). I cannot visualize how this would be in higher dims, but it goes along the lines of returning an array with all the 'edge' zeros removed.

Example 1D:

[code]

Example in 2D:

[code]

Potential option: Choose dimension along which to trim, for dim > 1.

[2017-03-22 03:53] csarron commented on #825
Any updates on Android support?

[2017-03-22 06:45] gaika opened #1744 "AF_STORAGE_CSC is not supported"
Trying to map Julia's `SparseMatrixCSC` to ArrayFire `AF_STORAGE_CSC` and it fails with:

[code]

Was removed by https://github.com/arrayfire/arrayfire/commit/0bb9f3dedbb229b8c82702856e1a74237bfef711

Any plans to support it again?

[2017-03-22 06:57] gaika commented on #1744
Workaround from https://github.com/arrayfire/arrayfire/issues/1739 to create CSR instead doesn't help as it creates a transpose of the original matrix. `af_transpose` fails with:

[code]

[2017-03-22 08:26] pavanky commented on #1744
@gaika CSC never worked across all backends. The work around from #1739 is to use matmulTN to peform matrix multiplication. transpose doesn't work. If you *really* want to store in CSC format, you should multiply by an dense identity matrix which is not efficient.

[2017-03-22 11:51] artheru commented on #1737
Sure, I'll make a pull request with function: rotateGfor(im, angle).

[2017-03-22 15:16] pavanky commented on #1737
@artheru Since it is C++, The function `rotate` can be overloaded.

[2017-03-22 16:04] gaika commented on #1744
Ok, so a proper workaround is to transpose the sparse matrix before converting to ArrayFire.

[2017-03-22 16:14] gaika opened #1745 "af_create_sparse_array is happy to accept Int64 indexes"
but the implementation expects Int32 row and column indexes resulting in silent corruption of the matrix.

[2017-03-22 16:45] pavanky commented on #1744
I say leave this open for now. May be we can handle some of the fancy stuff internally.

[2017-03-22 16:48] pavanky commented on #1745
Hmm that should not be happenning. Thanks for raising the issue.

[2017-03-23 21:39] mlloreda commented on #1745
Code to replicate:

[code]

[2017-03-23 21:48] pavanky commented on #1745
@mlloreda there are no checks in `af_create_sparse_array` to see if input is of the requested type.

@umar456 `getArray<int>` seems to work just fine even when the original was created as `Array<long long>`. Anyway we can automatically error out in those cases ?

[2017-03-23 21:53] umar456 commented on #1745
static_asserts are the way to go for something like this. enable_if is another approach but its uglier.

[2017-03-23 22:02] pavanky commented on #1745
where would the static_assert go ?

[2017-03-23 23:10] umar456 commented on #1745
it would go in the getArray<T> funciton. Something like `static_assert(std::is_same<T, int>::value)`

[2017-03-24 04:50] 9prady9 commented on #825
@csarron As of now, there is no android support yet. As soon as we have a beta-ready support for android platform, we shall make sure to inform the community about it.

[2017-03-24 12:48] rennis250 opened #1746 "SVD and multiple matmul calls interfere with each other? Multiple SVD calls not allowed?"
Dear all,

I'm currently trying to diagnose some problems that I am having with the Rust bindings to ArrayFire. It seems part of my troubles are coming from ArrayFire itself. I have the following C++ test:

[code]

If I run this, then the second ```matmul``` stalls and starts eating up a lot of memory. I have tested that two successive ```matmul``` calls do not cause the problem. This problem happ

[2017-03-24 13:24] rennis250 commented on #1746
In addition, if I try using svd multiple times in the same block of code, then the program halts and consumes excessive amounts of memory after the second iteration (on a laptop with 8GB of RAM) or after the 5th iteration (on a machine with 256GB of RAM). Example code that does not work on the laptop:

[code]

This investigation was prompted by the similar issue for the Rust crate: https://github.

[2017-03-27 18:15] mlloreda opened #1748 "Limit factorization and decomposition functions to 2D inputs"
`lu()`, `qr()`, `svd()`, `cholesky()`, and `solve()` all need to error for 3-dimensional inputs and greater.

Relevant issue: https://github.com/arrayfire/arrayfire-rust/issues/123

[2017-03-27 18:16] pavanky commented on #1748
This is only until https://github.com/arrayfire/arrayfire/issues/483 is implemented. The current functions are not erroring out correctly.

[2017-03-29 21:03] pavanky commented on #1745
Fixed in devel.

[2017-03-29 21:03] #1745 closed

[2017-03-29 21:05] pavanky commented on #1744
Closing this because #1739 deals with similar issues.

[2017-03-29 21:05] #1744 closed

[2017-03-30 03:42] gaika opened #1749 "Support for -use_fast_math?"
Is there a way to speed up calculations with hardware intrinsic functions like  __sinf or __expf in CUDA?

[2017-03-30 04:47] pavanky commented on #1749
That reduces the accuracy so it is probably not wise to enable by default. This can probably be supported for JIT operations by using an environment variable.

[2017-03-31 19:16] jgbos opened #1750 "Support for eigenvalue decomposition"
Any plans to add support for eigenvalues?

[2017-03-31 20:56] mlloreda commented on #1750
Hey @jgbos, please see issue #904.

[2017-03-31 20:56] #1750 closed

[2017-04-02 06:24] gaika opened #1751 "memory leak in af_fir?"
[code]
This is b and x
[code]
Two more arrays are allocated.
[code]
One of them was z, the other one is marked as locked by ArrayFire, no way to release it. Note that the size of it is slightly larger than the input.

[2017-04-02 11:17] miguelteixeiragomes opened #1752 "Array based indexing with repeated indices."
When indexing an array with other arrays I get a strange behavior when the index array has repeated indices:

float idx_h[3] = { 3, 4, 3 };
array idx = array(3, idx_h);
array A = constant(0.0, 10);
A(idx) += 1.0
// I get the result { 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0 }

Is this undefined behavior? What can i expect when repeating indices.

[2017-04-02 17:47] pavanky commented on #1752
Arrayfire does not detect repeated indices. That said, the values at location 3 and 4 should both be non zero. I am not sure why only position 4 is 1.

@9prady9 can you check this ?

[2017-04-02 19:06] miguelteixeiragomes commented on #1752
Sorry, you are right, just edited the comment. So i shouldn't expect any sort of undefined behavior when repeating indices. Is there any away within ArrayFire to something similar and have the repeated indices count? I'm currently doing it by writing a CUDA kernel using atomics.

[2017-04-02 19:09] pavanky commented on #1752
@kaatish Is there an easy way to do a segmented reduction ?

[2017-04-04 02:22] joseph-zhong commented on #1384
I now get
[code]

Through `clang --version` I see the following
[code]

I have Xcode and CLT both installed and am not sure what to do?

[2017-04-04 09:11] 9prady9 commented on #1752
@miguelteixeiragomes @pavanky In zero based index, the correct places {3, 4} are set to 1.0 in the output. It is not incorrect output.

Note: If different operations are carried on different locations, then the output will be undefined because we can't guarantee which operation's result will end up in the output location.

[2017-04-04 11:25] mlloreda commented on #1384
@joseph-zhong, it looks like you've updated to Xcode 8.3, which CUDA (v8.0.61) does not yet support. :(

Downgrading to a previous Xcode 8 version should work.

[2017-04-04 11:55] mlloreda commented on #1384
For reference:

1. Log in to https://developer.apple.com/downloads/
2. Download [Xcode CLT (Command Line Tools) 8.2](http://adcdownload.apple.com/Developer_Tools/Command_Line_Tools_macOS_10.12_for_Xcode_8.2/Command_Line_Tools_macOS_10.12_for_Xcode_8.2.dmg)
3. Install CLT
4. Run `sudo xcode-select --switch /Library/Developer/CommandLineTools`
5. Verify that clang has been downgraded via `clang --ve

[2017-04-04 12:26] Smorodov opened #1753 "Sparse matrix constructor issue."
I want to create sparse matrix from rowIdx,colIdx and vals arrays. I use simple code for it

[code]
And I see that last element is still zero.

[code]

Is it a bug, or I do something wrong ?

[2017-04-04 13:32] HiCraigChen commented on #1384
Thanks a lot, @mlloreda
I have the same problem when I install tensorflow GPU version
[code]
I did your method step by step and it worked !

[2017-04-04 13:42] pavanky commented on #1753
@Smorodov `sparse` uses CSR format by default. You are trying to use COO format. You just need to pass `AF_STORAGE_COO` as an additional parameter to the `sparse` function.

[2017-04-04 13:42] #1753 closed

[2017-04-04 14:22] Smorodov commented on #1753
Ok, thanks.

[2017-04-04 16:26] 9prady9 commented on #1751
It would depend on what [Julia wrapper](https://github.com/JuliaComputing/ArrayFire.jl) is doing when you do `zz = Array(z)`. I am not familiar with Julia, may be an issue over [ArrayFire.jl](https://github.com/JuliaComputing/ArrayFire.jl) will draw the attention of Julia wrapper developers.

I tried to reproduce this behaviour using the below code, but didn't succeed. We can be of better help if

[2017-04-04 16:29] pavanky commented on #1751
@9prady9

@gaika is re-writing the Julia wrapper. Can you print what you are seeing from C++ ?

[2017-04-04 16:33] pavanky commented on #1751
@gaika I don't think `finalize(z)` is doing what you think it is doing. Can you try doing the same with a newly created array and see what happens?

[2017-04-04 16:38] 9prady9 commented on #1751
@pavanky My bad, didn't know he is working on Julia wrapper.

[2017-04-04 16:48] gaika commented on #1751
Here's the code that fails:

[code]

Uses 3 buffers at the end:

[code]

Compare with `iir` that works correctly:

[code]
using only 2 buffers at the end:

[code]

[2017-04-07 12:26] samp0 commented on #549
Hi, I'm facing very similar issue. I'm using ArrayFire 3.4.2 release on Windows7. When running your unified/basic example (http://arrayfire.org/docs/unified_2basic_8cpp-example.htm) I get the exact same  "Runtime Error! R6025 - pure virtual function call" error during application exit.

Application prints my OpenCL backend info as:

Trying OpenCL Backend
ArrayFire v3.4.2 (OpenCL, 64-bit Windows, b

[2017-04-10 11:24] dodobing opened #1754 "Memory remains on device after ArrayFire array's are cleaned up"
In my codes, it calls af::fft3 and cleans up all arrayfire arrays but memory allocated on GPU remains. For example, there is 711.16MB allocated on GPU at the beginning but it is increased to 1063.04MB at the end.

AF Memory @start
    Allocated [ Bytes | Buffers ] = [ 0 | 0 ]
    In Use    [ Bytes | Buffers ] = [ 0 | 0 ]
CUDA Memory @start [0] = {**711.16MB**/6144.00MB}
AF Memory @end of program

[2017-04-10 14:22] pavanky commented on #1754
This is possibly coming from cufft plans. They are not killed until the program goes out of scope. The 700+ MB memory used upfront is not memory used by arrayfire. It is the memory being used by the GPU if it is also being used for display or other programs using the GPU. The 300MB differential could be because of the fft3. You can try using a different (non fft) function to verify this.

[2017-04-10 14:43] dodobing commented on #1754
@pavanky  Yes, it is related to af::fft3. Is it possible to clean up them without finishing process?

[2017-04-10 15:17] oschulz commented on #451
Just curious - is this still on for v3.5.0? A multi-threaded/parallel CPU backend would be awesome.

[2017-04-10 15:25] pavanky commented on #1754
@dodobing are you running fft3 on data of different sizes ?

[2017-04-10 15:27] pavanky commented on #451
@oschulz There's been an ongoing effort to make the CPU backend thread safe: https://github.com/arrayfire/arrayfire/pull/1706

I don't think a multi-threaded CPU backend can be done by 3.5.0, but it will allow users to get benefit from data parallelism.

[2017-04-10 15:55] dodobing commented on #1754
@pavanky  Yes, I am running it on data of different size.

[2017-04-10 16:14] pavanky commented on #1754
@dodobing There is a function to limit the number of plans being used at any time. But I just looked the code and it seems to be broken..

If you can build arrayfire from source, can you try changing the following function from this file:
https://github.com/arrayfire/arrayfire/blob/2528d711f371b18c0f51d5f545737d5c62ea284f/src/backend/cuda/fft.cpp

[code]

You can then call `af_set_fft_plan_cache_s

[2017-04-11 13:58] marbre opened #1755 "Build failure: No rule to make target 'src/backend/cuda/cuda_compile_ptx_generated_arith.cu.ptx', needed by 'src/backend/cuda/arith.ptx'"
I recently tried to recompile arrayfire with cuda 8.0.61 on a Gentoo Linux amd64 machine with the following build configuration:

[code]

However, I get the following build failure:

[code]

I actually compiled arrayfire with a prior cuda version, properly 7.5.18, without problems. Any hint is appreciated.

[2017-04-11 14:17] mlloreda commented on #1755
@marbre which version of cmake are you using?

[2017-04-11 14:22] marbre commented on #1755
@mlloreda I am using cmake version 3.7.2.

[2017-04-11 14:33] mlloreda commented on #1755
Is your ArrayFire repository up to date? If not, there are two options:

1. Downgrade to a prior CMake version such as v3.6.x. Check out issue #1688 for reference.
2. Check out latest `<devel>`

[2017-04-11 14:52] mlloreda commented on #1755
Great! Thanks, @marbre!

[2017-04-11 16:04] oschulz commented on #451
Thanks, @pavanky. I guess #1706 is a necessary prerequisite for this, anyhow?

[2017-04-11 16:26] pavanky commented on #451
@oschulz There's still some debate amongst the developers on that. We could make the CPU backend be as efficient as possible for a single thread (including vectorization), but have the user run multiple threads to get the benefit of the entire CPU.

[2017-04-11 18:13] oschulz commented on #451
That would make it harder to write backend-neutral code, though, right?

[2017-04-11 18:15] pavanky commented on #451
@oschulz We could treat the each CPU thread as a "device". Again there hasn't been a decision made on it.

@umar456 can you add your thoughts too ?

[2017-04-11 18:26] pavanky commented on #451
Each core.

[2017-04-11 18:50] umar456 commented on #451
I think having a different device per NUMA core would be a better idea than per logical core. This would be similar to how ArrayFire exposes cards like the K80(which have 2 GPUs and distinct memory for each chip).

The more I think about it, the less I am interested in improving the CPU backend. We are addressing the same problems that OpenCL has already solved(runtime dispatching of vectorized co

[2017-04-12 11:38] dodobing commented on #1754
@pavanky I tested codes you suggested above but there was no changes unfortunately.

[2017-04-12 15:07] pavanky commented on #1754
@dodobing let me test this a bit.

[2017-04-12 17:24] pavanky commented on #451
I think using OpenMP to improve the CPU backend would be a nice compromise in that case. This does not take a lot of effort. Might be tricky when using OSX, but I don't think we need to worry about it.

[2017-04-12 19:38] pavolmarak opened #1756 "Copy one array to another in GFOR without additional memory consumption"
Hi everyone,

I would like to ask the ArrayFire community for help. I have the following problem:

1. I have matrix A with dimensions 2 x 2 x 3 (3D matrix, each slice has 2x2). I have another matrix B with dimensions 2 x 2.
2. I want to multiply matrix B (2x2) with each slice in A(2x2x3), (3 multiplications in total) and I want to copy/assign the result of each slice multiplication back to the ori

[2017-04-12 20:11] pavanky commented on #1756
There is no way to do what you are asking for right now.

[2017-04-12 20:16] pavolmarak commented on #1756
Could this be done without using gfor?

[2017-04-12 20:18] pavanky commented on #1756
@pavolmarak There's no way to call a function in arrayfire and not assign it to a new array. This is always  going to happen with the existing setup.

[2017-04-12 20:19] pavanky commented on #1756
But there are plans that will make it easier: https://github.com/arrayfire/arrayfire/issues/482

Please follow the discussion there.

[2017-04-12 20:23] pavolmarak commented on #1756
Or more generally, is it possible to rewrite the code and avoid additional memory allocation on assignment:

gfor(seq i,A.dims(2)){
   A(span,span,i) = A(span,span,i) *  B;
}

Thank you, I will follow the discussion you mentioned.

[2017-04-12 20:40] pavanky commented on #1756
@pavolmarak If the functionality in #482 was implemented, you'd be able to do something like this:

[code]

[2017-04-12 21:27] pavolmarak commented on #1756
Sorry for bothering you again, but maybe if I explain my problem in different way there will be some ideas how to improve my current situation.

I have only 1 GB GPU memory on my notebook GT730M card, so I cannot afford allocating too much memory.

This is my real situation that I cannot solve, this code does not work because I get out of memory message:

[code]
I need to make it working for **siz

[2017-04-12 21:31] pavolmarak commented on #1756
This is my `af::info()` output:

[code]

[2017-04-12 21:37] pavanky commented on #1756
Have you simple tried the following ?

[code]

The tile will not increase the memory of B. This operation should take about 2x the memory of A. this should still fit in your memory.

[2017-04-12 21:51] pavolmarak commented on #1756
Perfect. It works. But .....

I realized that I posted old version of my code, what I really need is this :

[code]

Thank for your quick responses.

[2017-04-12 22:01] pavanky commented on #1756
@pavolmarak try the following:

[code]

[2017-04-12 22:12] pavolmarak commented on #1756
@pavanky Right now, Mr. Pavanky, you just **saved my life**. Thank you for this fantastic help, I have been fighting with this for days, I drew sketches of arrays of all possible dimensions, nothing helped. It really needs time, experience and advice from experts like you Pavanky to start thinking in "vectorized" manner. These tricks with af::moddims, af::tile, they are simply amazing.

[2017-04-12 22:29] pavanky commented on #1756
@pavolmarak There is also an example called vectorize.cpp which you may want to check out.

[2017-04-12 22:33] #1756 closed

[2017-04-12 22:37] pavolmarak commented on #1756
Yes, of course I will definitely check this out. I have read the article about writing vectorized code but I was not able to transfer knowledge from it to my scenario.

Now, after resolving this issue, I can continue with my fingerprint recognition project, more specifically I am implementing a GPU version of Gabor filtering and I will also check out GPU accelerated convolution from your library.

[2017-04-15 02:19] kwccoin commented on #1384
## 80100 can work with some nvcc programs

I used "80100" and nvcc work for some of my other programs.

## ... but not sample

`

    ...
    nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported
    ...

`

## install CLT 8.2 it is sort of ok with message about "command line tools instance"

I google and see this discussion and thanks the hint to switch to CLT

[2017-04-15 07:34] edendekker opened #1758 "Default ArrayFire examples throw "Segmentation fault (core dumped)" on AMD HAWAII"
Ubuntu 16.04.2 LTS

ArrayFire v3.4.2

Open Source - Successfully installed Mesa OpenCL via https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers

Proprietary - Installed AMDAPPSDK-3.0 but it fails when executing clinfo because it needs AMD proprietary fglrx drivers which are not supported / compatible with Ubuntu 16.0.4.2 LTS (http://www.phoronix.com/scan.php?page=news_item&px=Ubuntu-16.04

[2017-04-15 08:52] pavanky commented on #1758
mesa OpenCL is buggy and not feature complete. This is not a problem with arrayfire.

Since you have a hawaii gpu, you may want to consider using the AMDPRO opencl drivers on top of AMDGPU open source driver (this is the setup I have on my personal machine).

[2017-04-15 09:27] edendekker commented on #1758
Ah i see. It is good to know someone else has got a Hawaii GPU to work on 16.04. I tried AMDPRO a few days ago but it broke my x windows and was unable to verify OpenCL installation. If you got it to work on top of AMDGPU i shall revisit AMDPRO and try to ssh into it and see if i can verify OpenCL and configure the display. Other than that i am happy to close this issue as it is not an ArrayFire i

[2017-04-15 09:27] #1758 closed

[2017-04-15 18:42] pavanky commented on #1758
FYI I am using archlinux not ubuntu.

[2017-04-16 10:36] pavolmarak opened #1759 "Re-writing ArrayFire code to consume less GPU memory"
Dear ArrayFire community,

I am writing to ask you for help in my **problem related to memory/managment** in my code. I will start with code snippet which I am not able to run succesfully because I am getting "Out of memory" exception (the line that triggers exception is denoted in the comment next to it). I have only 800 MB GPU memory available before computation.

Code snippet:

[code]

**Short

[2017-04-16 10:57] pavanky commented on #1759
In this particular case, you will need to run `af::eval(A)` in the short scope.

[2017-04-16 11:05] pavolmarak commented on #1759
@pavanky  Thank you pavanky for your quick response. I rewrote the code according to your recommendation this way (I added `eval()` function as the last line in the scope):

[code]

But now when I run this code I get "Out of Memory" exception in `eval()` line.

[2017-04-16 11:33] pavanky commented on #1759
Unfortunately `A *= B` is the same as the following

[code]

This means there need to exist 3 arrays in memory which means it is about 790 MB

[2017-04-16 11:50] pavolmarak commented on #1759
So it seems there is no way to overcome this problem?

[2017-04-16 22:36] pavolmarak commented on #1759
In the meanwhile, I have tried to resolve my problem, I am close to solution, but another error occured. I have this piece of code:

[code]

I get this exception/error:

[code]

What causes this?

My `af::info()`:

ArrayFire v3.4.2 (CUDA, 64-bit Windows, build 2da9967)
Platform: CUDA Toolkit 8, Driver: CUDA Driver Version: 8000
[0] GeForce GT 730M, 1024 MB, CUDA Compute 3.5

[2017-04-17 11:08] #1759 closed

[2017-04-17 11:18] pavolmarak opened #1760 "Internal Error 998 caused by af::moddims() function"
Hello everyone,

I have very simple code snippet which I am not able to run because everytime I receive **998 Internal error exception**.

**This is how my code looks like:**

[code]

**This is my error message:**

[code]

I tried doing `af::eval(A)` before and after the line with multiplication with no effect, I thought it has something to do with lazy evaluation. However, when I leave out the li

[2017-04-17 16:48] pavanky commented on #1760
Can you run your program from commandline with `AF_PRINT_ERRORS=1` exported ?

[2017-04-17 17:48] pavolmarak commented on #1760
I launched it from CMD and got this:

[code]

I am not sure if I set AF_PRINT_ERRORS correctly. I followed [(this)](https://groups.google.com/forum/#!searchin/arrayfire-users/AF_PRINT_ERRORS%7Csort:relevance/arrayfire-users/kj5r-AtBAyU/B_Zu2goODAAJ) to set it in VS2015 in Windows 10.

Go to Project Properties -> Configuration Properties -> Debugging -> Environment. Type "AF_PRINT_ERRORS=1".

[2017-04-17 18:03] pavolmarak commented on #1760
Now I launched it again and this is what I received:

![image](https://cloud.githubusercontent.com/assets/23128885/25098439/d91f9f12-23a8-11e7-86bf-6e08b90db388.png)

[2017-04-17 18:03] mlloreda commented on #1760
Issue #133 might be relevant given the fact the issue only occurs on the CUDA backend.

[2017-04-17 18:35] pavolmarak commented on #1760
I want to run it on CUDA backend. On OpenCL backend, it works.

[2017-04-17 19:37] pavolmarak commented on #1760
When I replace the line with multiplication `A=  A* af::tile(B,1,w);` by this line `A=  A* A;` there is no 998 exception. This is interesting.  It seems that `af::tile(B,1,w)` being on the right side of multiplication causes the problem.

[2017-04-17 20:41] pavolmarak commented on #1760
I found that there is a problem with the length of z-dimension (3rd dimension). If I reshape matrix `af::tile(B,1,w)` from being too deep along 3rd dimension to be too wide along 2nd dimension, it also works.

[2017-04-17 21:18] pavolmarak commented on #1760
Problem **solved**. I rewrote my program to work with matrices having not so long 3rd dimension. I moved the data from the 3rd dimension to the 2nd dimension, retaining the order by using `af::reorder()` and now everything works perfectly. Closing this issue.

[2017-04-17 21:27] pavanky commented on #1760
@pavolmarak Sorry about the bug. This is a long standing bug that should be resolved. I am going to fix this asap.

[2017-04-17 23:20] pavolmarak commented on #1760
@pavanky It is OK, I am happy that I found a way out. Maybe one more question, is there any more efficient way of doing `af::reorder()` ?

I have `af::array A(289,17,13804)` and then I want to reorder it using `af::reorder(A,0,2,1)` to get array of dimensions 289x13804x17 (I am swapping 1st and 2nd dimension). This operation takes approximately 0.0512 s and so far is the slowest stage in my algori

[2017-04-18 00:05] pavolmarak commented on #1760
I wrote something down on a piece of paper. This is what I want. From matrix A (2,8) I want to obtain new  matrix A (2,4,2).

Matrix A (2,8):
![a_old](https://cloud.githubusercontent.com/assets/23128885/25109212/79726a80-23db-11e7-9109-1055a15c988d.jpg)

Matrix A (2,4,2):
![a_new](https://cloud.githubusercontent.com/assets/23128885/25109225/8a0daf62-23db-11e7-9bc0-e0c9b5deed36.jpg)

[2017-04-18 00:16] pavanky commented on #1760
Hmm, there could be an optimization (by just changing the metadata internally) for this that isn't implemented when reorder doesn't mess with dim == 0.

[2017-04-18 00:16] pavolmarak opened #1761 "Improve performance of reorder"
Hello,

I wrote something down on a piece of paper. This is what I want. From matrix A (2,8) I want to obtain new  matrix A (2,4,2).

Matrix A (2,8):
![a_old](https://cloud.githubusercontent.com/assets/23128885/25109212/79726a80-23db-11e7-9109-1055a15c988d.jpg)

Matrix A (2,4,2):
![a_new](https://cloud.githubusercontent.com/assets/23128885/25109225/8a0daf62-23db-11e7-9bc0-e0c9b5deed36.jpg)

I want

[2017-04-18 00:18] #1760 closed

[2017-04-18 00:20] pavolmarak commented on #1760
I moved it to separate issue #1761

[2017-04-18 00:25] pavanky commented on #1761
@pavolmarak I realized there is a work around that can be done using existing functionality until this issue is fixed. It involves using functions from internal.h, I'll need some time to investigate this.

[2017-04-18 00:29] pavolmarak commented on #1761
@pavanky Perfect, I am very glad to hear that. If I got this fixed it would drastically improve my algorithm running time by reducing it by more than half. I will be trying to do that with some combination of moddims() and/or tile().

[2017-04-19 01:04] dodobing commented on #1754
@pavanky is there any update?

[2017-04-19 12:00] CaptainPaule opened #1762 "Problem with pow on Datatype c64"
Hey Folks,

look at the following code snippet

    af::array zeros = af::constant(af::cdouble(0.,0.), 1, 5, c64);
    af::array results = af::pow(zeros, 2.);
    af_print(results);

the output is:

results
[1 5 1 1]
   Offset: 0
   Strides: [1 1 5 5]
         (-nan,-nan)          (-nan,-nan)          (-nan,-nan)          (-nan,-nan)          (-nan,-nan)

It is clear that the pow operation do noth

[2017-04-19 21:18] StickyNeutrino opened #1763 "Array Serialization Feature"
As far as i am aware there is not currently a system to sterilize arrays. This would be useful for actions such as sending an array through a socket.

[2017-04-19 22:00] pavolmarak commented on #1762
@CaptainPaule Hello,

the solution you posted works the same for me, ending up with with NaNs. I do not know what is the expected result but I guess you expect array `results` to have 0 in all 5 positions.

**Goal:** to raise complex numbers [0+0i, 0+0i,0+0i,0+0i,0+0i]  to the power of 2

The only way that works for me is to create two identical arrays containg these complex and multiplying them.

[2017-04-19 22:10] pavanky commented on #1762
I think the issue is with the way `af::pow(x, v)` is implemented currently for complex numbers. It performs `exp(v * log(x))` which results in NaN because `log(x)` is NaN.

This can be fixed by going to polar form.

[2017-04-19 22:16] pavanky commented on #1763
There's currently two ways to do it.

1) Get the data pointer, and the metadata back to the host using `array.host<T>`  and `array.type()`, `array.dims()` and serialize it any format you want.

2) use [readArray](http://arrayfire.org/docs/group__stream__func__read.htm) and [saveArray](http://arrayfire.org/docs/group__stream__func__save.htm) to load from / save to a file. If you want to keep this i

[2017-04-20 20:24] pavanky commented on #1762
@CaptainPaule for now, can you try the following work around ?

[code]
This will compile to a single kernel launch so you don't have to worry about the performance.

[2017-04-21 10:29] pthon opened #1764 "Assignment broken on CPU backend."
Array value assignment changes the copied values when running on CPU using python wrapping:

*a=af.randu(2,2,2)
print a[1]
a[0] =a[1]
print a[1]*

After the assignment, the values of *a[1]* changed unexpectedly. This behaviour is not observed running on CUDA backend.
I am using ArrayFire v3.5.0 (CPU, 64-bit Linux, build 251e942) on Intel(R) Xeon(R) CPU E5-2630 0 and the current python wrapper deve

[2017-04-21 12:37] mlloreda commented on #1764
@pthon, can you raise this issue in [arrayfire-python](https://github.com/arrayfire/arrayfire-python), instead?

[2017-04-21 12:59] mlloreda commented on #1764
Thanks!

[2017-04-21 13:26] Thormidable commented on #1719
Could I put in my support for these additional features? Particularly variants of padding.

[2017-04-21 13:27] Thormidable commented on #1719
Can I add my support for this feature request?

[2017-04-21 14:19] pavanky commented on #1764
@pthon thanks for reporting this. I was able to reproduce this in C++ with the following code:

[code]

And you are right, this does not happen with CUDA backend.

[2017-04-21 14:21] pavanky commented on #1764
This is broken in 3.4.2. Could potentially be broken from earlier.

[2017-04-21 15:31] pavanky commented on #1754
@dodobing I need some more time to test this.

[2017-04-21 16:18] kkotyk commented on #1719
@Thormidable Are you able to create a pull request so the project members can review your work?

[2017-04-21 16:19] kkotyk commented on #1719
@Thormidable Or are you just in favor for this too :p

[2017-04-22 04:11] #1751 closed

[2017-04-22 04:11] #1762 closed

[2017-04-22 04:11] #1764 closed

[2017-04-22 16:22] #16 closed

[2017-04-23 20:30] pavolmarak commented on #1761
@pavanky

Hello pavanky,
any progress on this?

[2017-04-23 23:35] pavanky commented on #1761
@pavolmarak can you try the PR from #1766 ?

[2017-04-23 23:36] pavanky commented on #1761
Sorry about the delay!

[2017-04-23 23:57] pavanky commented on #1722
Closing this issue because it seems to be an issue with the opencl driver.

[2017-04-23 23:57] #1722 closed

[2017-04-24 11:12] Thormidable commented on #1719
I'm just in favour of this.

I have (very quickly) bashed together some very simple arrayfire code to do padding of various types. It's pretty simple  but I'm happy to drop it here if it would be useful.

[2017-04-26 08:35] Isachenko commented on #1384
Hi have the same problem, have tried @mlloreda solution.
But after I switched to version 8.2 I got error message
"nvcc fatal   : GNU C/C++ compiler is no longer supported as a host compiler on Mac OS X."
after running make command.
Looks like it try to run gcc instead of clang now. Don't know what to do.

[2017-04-26 12:28] mlloreda commented on #1384
@Isachenko have `CC` or `CXX` been set on your system?

[2017-04-26 19:00] Isachenko commented on #1384
@mlloreda no, both this variables are empty, if I understand you right.

[2017-04-27 00:08] mlloreda opened #1768 "Different device pointer returned following arithmetic operations"
Happening after passing the device array as an operand to arithmetic operations. All backends exhibiting this behavior.

[code]

[2017-04-28 21:59] #1761 closed

[2017-04-28 23:02] NataliaDiaz commented on #1384
I still get the same error when following the downgrading steps (in the last step installing Torch  ./install.sh):

`
nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported
nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported
CMake Error at THC_generated_THCHalf.cu.o.cmake:207 (message):
  Error generating
  /Users/natalia/t

[2017-04-28 23:05] pavanky commented on #1384
@NataliaDiaz What is the version of CUDA you have ?

[2017-04-28 23:13] NataliaDiaz commented on #1384
nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Sun_Sep_18_22:16:08_CDT_2016
Cuda compilation tools, release 8.0, V8.0.46

on OS X Sierra

[2017-04-28 23:25] mlloreda commented on #1384
@NataliaDiaz what does `clang --version` return?

[2017-04-28 23:27] mlloreda commented on #1384
@Isachenko next step would be to check your symlinks. Make sure that you are pointing to `clang` and not GNU `gcc`.

[2017-04-29 00:05] pavanky commented on #1384
@NataliaDiaz you need v8.0.**55**, please check the nvidia website and download the right version.

[2017-04-29 07:27] NataliaDiaz commented on #1384
My clang version is Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin16.5.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2017-05-01 17:55] mlloreda commented on #1384
@NataliaDiaz you have two options:

1. Update to the latest CUDA (v8.0.61) or
2. Downgrade to CLT 7.3

[2017-05-01 21:43] guillochon commented on #1384
@mlloreda I logged into the the Apple Developer page but your direct link to XCT 8.2 redirects me to https://developer.apple.com/unauthorized/. Instead people should visit https://developer.apple.com/download/more/ and search the list there for XCT 8.2.

[2017-05-01 22:20] mlloreda commented on #1384
@guillochon interesting - the link still works for me after logging in but thanks for the heads up!

[2017-05-02 05:37] NataliaDiaz commented on #1384
I has same issue as @guillochon
Le mar. 2 mai 2017 à 00:20, Miguel Lloreda <notifications@github.com> a
écrit :

[2017-05-05 05:14] dodobing commented on #1754
@pavanky If there is any change or idea, I want to test it on my side. Thx.

[2017-05-08 10:40] jramapuram commented on #1518
+1 : I would like to add it would be useful to benchmark the BLAS / conv routines against the following as well:

  1) tensorflow
  2) torch / pytorch

[2017-05-08 15:06] 9prady9 opened #1772 "Bug in replace_scalar"
Inconsistent behaviour of `replace` and `replace_scalar` functions although [documentation](http://arrayfire.org/docs/group__data__func__replace.htm#ga13a51c418de0201102413f05aae45ccd) claims similar behaviour.

[code]

[2017-05-10 18:43] FilipeMaia commented on #1768
In certain situations `af_get_device_ptr()` causes a copy. If you don't want this behaviour try `af_get_raw_ptr()`.

[2017-05-10 19:19] pavanky commented on #1611
This is merged into devel.

[2017-05-10 19:19] #1611 closed

[2017-05-11 12:37] Thormidable commented on #483
Could I also request this feature

[2017-05-11 14:24] zhanxw opened #1774 "gfor crashed the program"
Can you please help to avoid gfor related crash?

The relevant codes are below. It is to center a matrix for each column vector.

[code]

In the above, the gfor statement caused the crash.
If I changed gfor to for loop (the commented out part), the program will run smoothly.

Here is the af::info outputs() and crash message:

[code]

Thanks.

[2017-05-11 16:06] pavanky commented on #1774
Hmm this is related to #1702 and #133

[2017-05-12 14:32] zhanxw commented on #1774
Thanks. #1702 and #133 do seem to be related, so this issue is closed.

[2017-05-12 14:32] #1774 closed

[2017-05-17 00:34] shobhit9391 opened #1777 "reorder after tile returns input matrix without re-ordering"
In the following code, af::reorder() returns the original matrix without reordering the elements. The platform is Nvidia Jetson TX2.

[code]

Output on TX2
[code]

af::info:
[code]

[2017-05-17 00:46] pavanky commented on #1777
Introduced by https://github.com/arrayfire/arrayfire/pull/1766

[2017-05-17 02:24] ibell opened #1778 "Schur decomposition"
I am aware of PR #904 that will add generic eigenvalue solving to all backends - awesome!  Can't wait!

In the meantime, a smaller subset of eigenvalue problems are those where the matrix is upper Hessenberg, as is the case in the transpose of the companion matrices of Chebyshev expansions (my use case; see https://github.com/usnistgov/ChebTools).  To get the eigenvalues of upper Hessenberg matric

[2017-05-17 04:44] saethlin opened #1779 "Nonsensical OpenCL build error"
`Could NOT find OpenCL (missing: OpenCL_LIBRARY) (found version "2.0")`

I have `opencl-headers` installed. What does this error message mean?

[2017-05-17 05:01] 9prady9 commented on #1779
It seems like you have installed only headers. I assume this some Linux distribution, did you install the OpenCL binary package ? Please show the output of the following command
[code]

[2017-05-17 05:21] saethlin commented on #1779
Yes, I am using Ubuntu 16.04.

I installed `ocl-icd-opencl-dev` which appears to be the `.so` for OpenCL, but:
[code]

[2017-05-17 05:29] pavanky commented on #1779
That isn't an OpenCL driver as far as I can tell.

[2017-05-17 05:31] saethlin commented on #1779
Nope, managed to find an SDK and it builds now.
Still salty about that error message though.

[2017-05-17 05:31] #1779 closed

[2017-05-17 05:39] pavanky commented on #1779
That is standard CMake boilerplate.

[2017-05-17 11:05] Thormidable opened #1781 "clfft Teardown warning being generated when unloading OpenCL library"
**Version:**
 - V3.4.2

**Branch**
- master

**Issue:**
 - AF OpenCL library generates a warning indicating that clfft teardown has not been called.
 - Warning is generated when unloading a dll linked against the AF OpenCL library.
 - Linking dll against clfft and calling clfftteardown as the last call during unloading does not remove the warning.

[2017-05-17 11:22] 9prady9 commented on #1781
On Windows, Intel's OpenCL implementation had a bug(at the time of fft feature addition) that causes the program to crash on exit even though the program execution reached end of `main()` and all resources are freed appropriately. AMD's OpenCL lib didn't exhibit such behaviour. Therefore, for Windows we skip calling `clfftTeardown` while releasing the library resources.

[2017-05-17 11:33] 9prady9 commented on #1781
If you are building on devel branch, you can edit [this section](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/opencl/fft.cpp#L55-L65) of code to fix the warning for your system. Note that this change might break the program on Intel's devices.

[2017-05-17 15:20] Thormidable commented on #1781
Thank you, I'll close the issue and investigate a work around at our end.

[2017-05-17 15:20] #1781 closed

[2017-05-17 16:02] navidR commented on #1688
Please backport this patch to latest stable version : v3.4.2 branch. Is it possible ?

[2017-05-17 16:11] pavanky commented on #1688
@navidR There should be a new release in a few days.

[2017-05-17 16:25] WilliamTambellini commented on #1204
On my side I ve been using the nvidia profiler but not ideal.
Would also like for af to have his own profiler, at least a simple loger reporting the time spent per af methods and/or kernel at exit time.

[2017-05-17 16:43] mabl opened #1782 "Crash on Intel Beignet when calling clGetGLContextInfoKHR in markDeviceForInterop"
Dear all,

I am not sure, if this is a Beignet bug, or if arrayfire is to blame here. I would still like to document my findings:

I have a segmentation fault when calling into `clGetGLContextInfoKHR` in `DeviceManager::markDeviceForInterop` . I'm still building a debug beignet build to see what is going on there. Still, this problem can be circumvented when running without graphics (setting env v

[2017-05-17 22:22] #907 closed

[2017-05-17 22:22] #1728 closed

[2017-05-17 22:22] #1754 closed

[2017-05-17 23:41] #1777 closed

[2017-05-18 04:49] #1772 closed

[2017-05-18 10:00] mabl commented on #1782
Judging from the issues page of beignet it says:

[code]

I just wonder why I hit this now and not earlier....

[2017-05-18 10:30] Thormidable commented on #1768
Hi All,
   I've checked the V3.4.2 Release interface and I can't find a function called af_get_raw_ptr().
 I can find af_get_data_ptr() but this would require us to copy data out and in to Arrayfire, causing quite an overhead.

Following your comment, we have added a af_sync(-1) after af_get_device_ptr() to force the system to wait for any operations, generated by af_get_device_ptr(). Is this the

[2017-05-18 16:11] pavanky commented on #1768
@Thormidable `af_get_raw_ptr` is not included when you include `arrayfire.h`. You will need to include `af/internal.h`. This was done because it is a bit unsafe and the behavior can change between versions.

[2017-05-18 18:33] pavanky commented on #1782
@mabl Closing the issue because it looks like it is not an issue in arrayfire.

[2017-05-18 18:33] #1782 closed

[2017-05-19 06:36] pavanky commented on #1768
@mlloreda @Thormidable  To expand upon @FilipeMaia's comment, `af_get_device_ptr` creates a lock on the device memory. This behhavior was done so that arrayfire does not accidentally free up or over write device memory.

I am closing this issue because this is expected behavior.

[2017-05-19 06:36] #1768 closed

[2017-05-19 15:07] kaatish commented on #1778
I am assuming it should be easy. AFAIK Schur decomposition is typically implemented using repeated QR decomposition. I am not sure, if that is the proper numerically stable method to achieve it. Any thoughts?

[2017-05-22 12:18] ShyamSS-95 opened #1794 "Request for 6D Array structures"
Our research group requires the need for 6D array structures for some of our computations. I'd appreciate it if the same could be implemented with the changes also made to the python wrapper.

In particular, we make use of the following functions from the library:`approx2`, `reorder`, `shift`, `moddims`, `tile`, `sum`, `min`, `max`

[2017-05-22 15:16] #1264 closed

[2017-05-22 15:43] #1735 closed

[2017-05-22 16:49] #1610 closed

[2017-05-22 22:53] derwentx commented on #1384
To anyone stuck on this. Even though you might change the xcode version with xcode-select, and your clang version might say it's an older version, for some reason the compiler that ends up being used is still the latest version of XCode. Renaming the latest version of xcode.app to xcode_<new_version>.app after installing the older version to xcode_<old_version>.app fixed this for me.

[2017-05-24 17:48] WilliamTambellini opened #1801 "crash in cuda::compileKernel() when multithreading"
Using :
- AF devel (commit e59eb93c16b08ff790a68b6be85ba1b51773ad01)
- dozen of cpu threads,
- AF crashs in cuda::compileKernel() in backend/cuda/jit,cpp:

cuda::compileKernel() calls:
    CU_CHECK(cuLinkComplete(linkState, &cubin, &cubinSize));
    CU_CHECK(cuModuleLoadDataEx(&module, cubin, 0, 0, 0));
    CU_CHECK(cuModuleGetFunction(&kernel, module, ker_name + 1));

People on the web seem to wo

[2017-05-24 17:56] pavanky commented on #1801
@WilliamTambellini without showing what the error is it is really hard to tell what the problem is. Btw the commit you linked to is NOT master. It is still in development branch.

[2017-05-24 18:03] WilliamTambellini commented on #1801
Hi @pavanky
Sure, here is the stack trace:
3  qsort qsort.c
9  cuModuleLoadDataEx
10 cuda::compileKernel(const char *, std::string)
11 cuda::getKernel(std::vector<cuda::JIT::Node *> const&, std::vector<int> const&, std::vector<cuda::JIT::Node *> const&, std::vector<cuda::JIT::Node_ids> const&, bool) [clone .constprop.380]
12 void cuda::evalNodes<float>(std::vector<cuda::Param<float>>&, std::vector

[2017-05-24 18:11] pavanky commented on #1801
@WilliamTambellini The thread safety branch was merged because it was stable enough for other developers to start testing it,  work on it and figure out the bugs. There's some kinks to work out. This is a development branch for a reason..

[2017-05-24 22:34] WilliamTambellini commented on #1801
@pavanky thanks. Just retried using the master branch and see the same crash:

3  qst      qsort.c                       150  0x7ffff44d8e0e
4  qst      qsort.c                       196  0x7ffff44d902c
5  qsort    qsort.c                       49   0x7ffff44d92c8
11 cuModuleLoadDataEx  0x7fff9eb0af35
12 cuda::compileKernel(const char *, std::string)
13 cuda::getKernel(std::vector<cuda::JIT::Node

[2017-05-24 22:42] pavanky commented on #1801
master branch is not thread safe at all. The thread safety is still under devleopment in the devel branch.

[2017-05-25 10:04] Chronum94 opened #1802 "Add bits to build instruction on Linux"
The build instructions for Linux are somewhat lacking in a few critical details:

1. AMDAPPSDK-3.0 installs with a broken symlink: https://community.amd.com/thread/202003 There is already an issue on this, and the suggestion there is to go to /opt/AMDAPPSDK-3.0/lib/x86_64, and then executing `sudo ln -sf sdk/libOpenCL.so.1 libOpenCL.so`.

2. On Ubuntu 17.04 (and almost certainly a few more recent

[2017-05-25 15:16] pavanky commented on #1802
The wiki is can be edited by anyone. Can you go ahead and do it?

[2017-05-25 15:16] #1802 closed

[2017-05-26 04:28] 9prady9 commented on #772
@pavanky @mlloreda @umar456 Can we have this tested on AMD APU for Linux ? It is definitely not an issue on Windows for AMD APU the last time I checked.

[2017-05-30 15:10] bzcheeseman opened #1806 "Problem when building with -DUSE_SYSTEM_CLBLAST"
I get the following error when I try to use a CLBlast that I've already installed. This is during the arrayfire `make -j8` step. I ran
[code]
 I'm running OSX 10.12.4, clang -v outputs
[code]
The error is
[code]

Any ideas as to the cause? I've tried deleting the build directory of both projects and simply reinstalling, but that doesn't seem to help.

[2017-05-30 15:34] WilliamTambellini commented on #1801
In in cuda/jit.cpp cuda::getKernel(), locking just before searching for kernels seems to avoid the crash:
...
 std::lock_guard<std::mutex> lock(getKernelMutex);
 kc_t::iterator idx = kernelCaches[device].find(funcName);
...
@umar456 @pavanky : would there be better/faster ?
Regards
WT

[2017-05-30 16:24] pavanky commented on #1806
@bzcheeseman You should probably try to install the latest (development) version of CLBLAST. @CNugteren had to make a few changes to CLBLAST to get it to fully integrate with arrayfire.

[2017-05-30 16:26] bzcheeseman commented on #1806
I have the master branch installed right now, is there something more recent?

[2017-05-30 16:29] pavanky commented on #1806
@bzcheeseman Hmm. Did your Xcode change between the compilation of your CLBLAST and the version being used to build arrayfire ?

Other than that I am out of ideas. @CNugteren thoughts?

[2017-05-30 16:32] bzcheeseman commented on #1806
@pavanky Nope, it was all the same - compiled within minutes of each other. I'm trying to tune CLBlast to my device (NVIDIA GT 650M) because the performance un-tuned was not great.

I'm trying with `gcc-7`/`g++-7` right now, I'll post if it works.

[2017-05-30 21:17] bzcheeseman commented on #1806
I managed to hack something together by using the tuners anyway - if you edit the `build_CLBlast` file to turn on the tuners, you can go into the CLBlast-ext-build directory and run the tuners (with some directory magic) and then just install as normal. It's harder than if you can use the system CLBlast but at least it compiles 😄

[2017-05-31 06:50] CNugteren commented on #1806
The original issue you posted seems like a simple linking issue. I don't think I have tested ArrayFire with a separate installation of either clBLAS or CLBlast. @pavanky : Is the library designed at all to do this?

Otherwise I would just install CLBlast separately, run the tuners, remove CLBlast, install ArrayFire with CLBlast integrated, modify the CLBlast source code (if needed for the new tuni

[2017-05-31 07:30] bzcheeseman commented on #1806
@CNugteren To be fair I found the option while reading the `CMakeLists.txt` file in `backends/opencl`.

I tried that, and had an error happen where I would try and call matmul on a matrices of size 5x6000 and 6000x3 (respectively) and get a segfault error. I'm back to the clBLAS install for now.

Funny thing on the tuners - when I run them it only gets as far as Xgemm 1024x1024x1024 (iirc) when I

[2017-05-31 07:39] CNugteren commented on #1806
@bzcheeseman Yes, please do open an issue on the CLBlast page. I'll take a look at them. And yes, CLBlast supports batched GEMM, but it is not used/integrated into ArrayFire.

[2017-05-31 07:50] bzcheeseman commented on #1806
I was hoping it might be when I installed it 😛 turns out it's not though (as you say)

[2017-05-31 10:13] pavanky commented on #1806
@CNugteren Arrayfire should link with external libraries just fine. But this looks like a possible issue with c++ name mangling.. I don't entirely know what's going on here

[2017-05-31 10:16] pavanky commented on #1806
@CNugteren Arrayfire should link with external libraries just fine. But this looks like a possible issue with c++ name mangling.. I don't entirely know what's going on here

[2017-05-31 13:52] mhdarr opened #1808 "Access violation on exit of simple CCL application"
Using OpenCL backend
A simple program using CCL throws an exception on exit.
Issue does not occur on CUDA or CPU backend.
When rolled back from latest NVIDIA driver back to older one, problem is fixed as well.
![exception](https://cloud.githubusercontent.com/assets/13642399/26634861/ce830c54-460f-11e7-8cbb-29cea8be5bae.png)
![callstack](https://cloud.githubusercontent.com/assets/13642399/26634880/

[2017-05-31 21:02] CNugteren commented on #1806
Perhaps @bzcheeseman compiled ArrayFire and CLBlast with different compilers? The first thing to try of course is to run a `make VERBOSE=1` and check the linker command and see whether CLBlast is actually linked. Then you can inspect the CLBlast library to see if the asked-for symbols are indeed present or not.

[2017-05-31 21:04] bzcheeseman commented on #1806
@CNugteren Same compiler - I checked. I'll try to see if I can't get more information with verbose flags.

[2017-06-01 06:56] CNugteren commented on #1806
Thanks for the verbose output. I don't see any `-lclblast` or similar (can't find `clblast` at all) in the linker command, so I don't think it is currently trying to link against CLBlast at all. I don't have time right now to look into the ArrayFire CMake files. Perhaps @pavanky can do that? Or otherwise I'll do it in a few days.

[2017-06-01 18:23] bzcheeseman commented on #1806
I looked at the CMakeLists.txt file and here's the thing.

This is in the opencl backend
[code]

as is this
[code]
which means cmake can't find CLBlast properly so those variables just aren't getting set.

[2017-06-02 18:43] WilliamTambellini opened #1811 "crash in af_sparse_matmul when multithreading"
My app is crashing in af_sparse_matmul() when multithreaded:
- AF devel branch commit e59eb93c16b08ff790a68b6be85ba1b51773ad01
- os: ubuntu 16
- gcc 6
- backend : cuda via AF unified

bt from gdb:
3  qsort qsort.c                       79   0x7ffff44d7cf8
20 cuda::Array<float> cuda::matmul<float>(common::SparseArray<float>, cuda::Array<float>, af_mat_prop, af_mat_prop)
21 af_sparse_matmul(void * *

[2017-06-02 20:40] pavanky commented on #1811
We really need reproducible code.. without it there's no guarantee that this isn't because of user error.

[2017-06-02 23:09] WilliamTambellini opened #1812 "memleak in unified::openDynLibrary()"
Hi guys,
 Valgrind is complaining about a memleak in unified::openDynLibrary():

==7092== HEAP SUMMARY:
==7092==     in use at exit: 366,053 bytes in 2,538 blocks
==7092==   total heap usage: 244,040 allocs, 241,502 frees, 43,236,004 bytes allocated
==7092== 1,448 (56 direct, 1,392 indirect) bytes in 1 blocks are definitely lost in loss record 2,224 of 2,244
==7092==    at 0x4C28E85: operator new(

[2017-06-03 01:59] pavanky commented on #1812
The stack trace says the leak is coming from a standard library.

[2017-06-03 02:00] pavanky commented on #1812
I'll try to double check this using a stand alone test tomorrow.

[2017-06-05 06:56] zhanxw opened #1813 "Control memory usage of arrayfire"
Hello,

I am trying to understand how array fire allocates memory on a GPU card using CUDA.
When I compared the outputs from af::printMemInfo() and cudaGetMemInfo(), there is a big differences. For example, when I just started program, cudaPrintMemInfo already reported 82.8M memory. Then I allocated two matrices. Array fires reported ~192MB memory usage, while cudaGetMemInfo reported ~349MB. I pro

[2017-06-05 07:30] pavanky commented on #1813
@zhanxw You have to understand that the GPU can be used by other processes (like CUDA contexts, the display driver, other programs utilizing the GPU). ArrayFire is only measuring the memory *it* uses and does not provide a global view of the total memory used by the device.

1) The reason you are seeing memory being used (82MB) under "begin" is because your GPU is being used by other processes. Yo

[2017-06-05 07:30] #1813 closed

[2017-06-05 15:41] mlloreda commented on #1808
@mhdarr this appears to be an issue with the driver, thus probably out of our control.

Would you be able to post relevant code for us to reproduce the issue?

[2017-06-05 22:22] WilliamTambellini opened #1814 "crash in cleanDeviceMemoryManager() when multithreading"
Hi all
AF devel sometimes crash in cleanDeviceMemoryManager() when multithreading.

[code]

Here is the bt of the crashing thread:
[code]

If that could help: the other threads were on the following tasks when the app crashed:
[code]

No I dont have steps to reproduce, this is reference for @umar456.

[2017-06-05 22:29] pavanky commented on #1814
@WilliamTambellini Are you sharing arrays across threads ? You can't give stack traces without background expecting a fix.

[2017-06-06 05:47] zhanxw commented on #1813
Thanks for the clear explanation.

[2017-06-07 02:34] WilliamTambellini commented on #1801
https://github.com/arrayfire/arrayfire/pull/1815

[2017-06-08 21:13] WilliamTambellini commented on #1812
valgrind on the unified example "basic_unified" seems to confirm leaks :
LEAK SUMMARY: definitely lost: 1,864 bytes in 17 blocks

Using the latest AF devel:

LD_LIBRARY_PATH=/usr/local/cuda/nvvm/lib64:~/repos/arrayfire/build/lib/ valgrind ./basic_unified

simplified outputs:

` LD_LIBRARY_PATH=/usr/local/cuda/nvvm/lib64:~/repos/arrayfire/build/lib/ valgrind ./basic_unified
==15526== Memcheck, a me

[2017-06-08 21:42] WilliamTambellini commented on #1812
A little deeper for a simple 1 line program just calling af::getDeviceCount():

`LD_LIBRARY_PATH=/usr/local/cuda/nvvm/lib64:~/repos/arrayfire/build/lib/ valgrind --leak-check=full --show-leak-kinds=definite --num-callers=20 ./simple

==29979== Memcheck, a memory error detector
==29979== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==29979== Using Valgrind-3.11.0 and LibVEX; reru

[2017-06-08 22:16] pavanky commented on #1812
The stack traces are all over the place. None of which seems to indicate an actual problem with a leak inside

[2017-06-08 22:31] pavanky commented on #1812
@WilliamTambellini Most of the issues you see here are coming from the STL functions that arrayfire uses, and are only occurring at exit. This should not be an issue according to valgrind: http://valgrind.org/docs/manual/faq.html#faq.reports

That said there is one legitimate issue (the places where it shows compileKernel). There is a `unique_ptr<char>` instead of `unique_ptr<char[]>` in jit.cpp

[2017-06-08 22:35] umar456 commented on #1812
Yeah, I will have a PR tonight

[2017-06-09 05:33] 9prady9 commented on #1812
@pavanky and @umar456 I believe these are fixed in https://github.com/arrayfire/arrayfire/pull/1799 already.

[2017-06-09 10:38] polarathene opened #1817 "1-bit depth png support"
I believe this should be directed to FreeImage, but one of the AF devs has pointed me to raising an issue here. [Original issue from rust wrapper repo](https://github.com/arrayfire/arrayfire-rust/issues/139#issuecomment-307352999), if a program saves an image as PNG which uses only 0 and 255 values, image editors optimize this to 1-bit depth which ArrayFire cannot load.

I've not tested it, but cr

[2017-06-09 18:16] mlloreda commented on #772
Sure thing, @9prady9. It'll be nice to finally have an update on this issue.

[2017-06-09 20:32] WilliamTambellini commented on #1811
seems to be fixed by
https://github.com/arrayfire/arrayfire/pull/1815

[2017-06-10 12:05] polarathene opened #1818 "Request: Stream Compaction / Conditional Reduction"
Would it be possible to add a method to compact an Array? Similar to `select()` but only returning an Array of true values(rather than replacing false with a scalar or another Arrays values). This appears to be called Steam Compaction.

I raised an [issue on the Rust wrapper repo](https://github.com/arrayfire/arrayfire-rust/issues/141) with a usecase. I link to an nvidia blog article and another a

[2017-06-10 12:51] polarathene opened #1819 "Scalar replace a single row/column"
[Feature requested on the Rust wrapper repo](https://github.com/arrayfire/arrayfire-rust/issues/145#issuecomment-307546606), redirected to the main repo to raise the request:

I am wanting to efficiently update a single column with a large amount of rows to a single value. This is apparently in the works for `select()` as linked below. I've been directed here to request equivalent improvement/supp

[2017-06-10 14:14] umar456 commented on #1818
This can be done easily using indexing, and the where function:

[code]

Results:
[code]

You can read more about indexing in this blog post: https://arrayfire.com/indexing-with-arrayfire/

[2017-06-10 14:30] polarathene commented on #1818
@umar456 When using `where()/locate()` on elements within the 100mil-1bil range performance is quite slow in comparison to other operations. As stated, transfer time aside, the process is considerably faster on CPU.

If I don't need indices that `where()/locate()` provides and want to reduce an array without the large delay(over 400x as much as my other operations), from sources I've linked it app

[2017-06-10 14:33] umar456 commented on #1819
This can also be performed by indexing.

[code]

[code]

I am going to leave this issue open because I may not have understood your qestion.

[2017-06-10 14:34] polarathene commented on #1818
@umar456 When intending to process large datasets for hours, such a delay is really adds up to processing time. Is this feature request going to be disregarded because there are current less efficient approach available? Or can this request still be considered for a future release considering AF is all about parallelism and performance?

[2017-06-10 14:54] umar456 commented on #1818
I am not sure if I understand. We are performing a scan operation to generate these results. Can you show me how you are benchmarking the CPU and GPU operations?

[2017-06-10 15:17] polarathene commented on #1818
@umar456 I was timing between each method. I've seen that this is not neccessarily accurate due to async calls and JIT? I would have method calls to AF before and after that were fairly consistent in time for each method despite the order. `locate()` and `set_intersect()` methods were ones that would take hundreds of ms to perform, while basic math operations or comparisons were fast.

Creating a

[2017-06-10 16:01] polarathene commented on #1819
I'm not sure if the same can be done via the Rust wrapper, from memory indexing returned a new array of the indices you provided, rather than allowing you to only apply an operation to a subset of the original array.

Hence the request, perhaps the Rust wrapper just needs to provide a method to do this, on the related thread `replace()` and `select()` were mentioned as solutions when updated in fu

[2017-06-10 16:05] umar456 commented on #1818
Here is what I see on my system:

[code]

Result:

[code]

As you can see the CUDA backend is a good bit faster than the CPU backend. Are you not seeing similar results?

[2017-06-10 16:30] polarathene commented on #1818
When referring to CPU equivalent of `where()/locate()` I was referring to my host language(Rust) processing an array/vector of the result data from AF, not AF doing the operation on CPU backend.

[code]

I will try create a sample program and time like you have with eval and sync calls(I've not been using these, so perhaps my timing is inaccurate for AF).

[2017-06-10 16:53] pavanky commented on #1818
@umar456 This is fairly similar to `where` but would replace the last step. Instead of writing out the global indices, it will just write out the original values.

[2017-06-10 19:59] polarathene commented on #1818
@umar456 Here is the Rust equivalent as best I can translate, @pavanky can probably confirm:

[code]

Output:
[code]

With sync and eval removed:
[code]

Mostly the same?

I used this measurement for time on my own code for locate() and the eq() statement before it:

[code]

The 400ms+ I experienced earlier would have been when I was creating my dataset on the CPU and transferring to AF to put on

[2017-06-11 08:08] adib commented on #1384
I'm stuck. Both Xcode and CUDA are at their latest release versions.

    clang --version
    Apple LLVM version 8.1.0 (clang-802.0.42)
    Target: x86_64-apple-darwin16.6.0
    Thread model: posix

CUDA Driver version: 8.0.83

	nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported
	make[2]: *** [lib/THC/CMakeFiles/THC.dir/THC_generated_THCSleep.cu.o] Error 1

[2017-06-11 09:42] adib commented on #1384
Uninstalled Xcode 8.3.3, installed Xcode 8.2 into `/Applications/Xcode.app` and now compilation fails due to a missing header file

    In file included from <built-in>:337:
    In file included from <command line>:15:
    In file included from /usr/local/cuda/include/cuda_runtime.h:116:
    /usr/local/cuda/include/common_functions.h:65:10: fatal error: 'string.h' file not found
    #include <stri

[2017-06-14 10:33] pthon commented on #1113
I am trying to optimize physical simulations where I operate on 4D arrays (dimensions [n0, n1, n2, n3=3] in the af::array container, with n0.n1,n2 being the spacial discretization and n3=3 being the components of the vector field).

As the cross product is not implemented yet I tried several methods and timed them, with the currently fastest method being:

[code]

Could any of you think of a more

[2017-06-14 17:31] WilliamTambellini opened #1823 "af::setDevice() bug when multithreading"
Good morning
Here is a bug I see when multithreading using the latest AF devel branch commit 269bb5b31248d6855867966fa670c9e55e5326f8
using the cuda backend :
- on a multi gpu machine (I experiment on a 4 titanX machine, but should nt matter which model)
- call af::setDevice(0) from the main thread at program init
- create different matrices from different threads
- see (using for example nvidia-s

[2017-06-14 17:34] pavanky commented on #1823
This change may cause issues on some machines if running in exclusive mode:
https://github.com/arrayfire/arrayfire/commit/2ad3f93727a1fbce97fbd3934daf02dff7ae57dd#diff-f5155a3669ca28eba996382dcede4d7dR77