[2016-03-16 08:15] Brainiarc7 commented on #1338
You may want to refer to this on modifying the setting for Double precision on the GPU's panel:

http://forums.evga.com/When-to-Use-Double-Precision-under-NVIDIA-Control-Panel-Manage-3D-Settings-m2252867.aspx

[2016-03-16 08:40] Brainiarc7 commented on #1338
Also, refer to Arrayfire's wiki entry on Double precision perf:

http://arrayfire.com/explaining-fp64-performance-on-gpus/

[2016-03-16 10:05] pavanky commented on #1338
@Brainiarc7 Our blas example uses single precision. Double precision performance is not relevant here.

[2016-03-17 08:34] Brainiarc7 commented on #1338
Thanks for the clarification, @pavanky

@romeric , try unchecking the setting for Double precision perf if your Nvidia control panel has it.
When activated, the option cuts GPU perf for FP16 and FP32 math to ~50%.

[2016-03-17 15:37] Haider-BA opened #1342 "function for Mesh Grid (2D and 3D) and comprehensive Documentation"
Hello,

I want to request new function to create 2D and 3D mesh grid just like in matlab `[X,Y] = meshgrid(xgv,ygv)`. However this could be done by using **Tile**, **moddims** and **seq** in ArrayFire but it looks cumbersome e.g. ` array x = tile(moddims(seq(nx),nx,1), 1,ny);
    array y = tile(moddims(seq(ny),1,ny), nx,1);`.

Documentation is not comprehensive for the functions/methods available

[2016-03-17 18:28] shehzan10 commented on #1342
You can simply use [range](http://arrayfire.org/docs/group__data__func__range.htm).
All you need to do is
[code]

[2016-03-17 18:50] pavanky commented on #1342
I think the problem is you are searching for terms you learnt from a different language. Our documentation is quite clear about what range does. We can perhaps be more explicit in our tutorials to point the users in the right direction.

I am closing the issue because the requested feature is readily available.

[2016-03-17 18:50] #1342 closed

[2016-03-17 20:58] pavanky opened #1344 "Moving from cl.hpp to cl2.hpp in OpenCL backend."
`cl2.hpp` seems to be the way forward. it is backwards compatible with older versions of OpenCL as well as OpenCL 2.0. It also seems to have a more terse way of dealing with some commonly used functionality.

Things to do for this to happen:

- [x] Remove `cl.hpp` from the source repo.
- [x] Add `cl2.hpp` as an [external dependency](https://github.com/KhronosGroup/OpenCL-CLHPP) similar to boost co

[2016-03-17 21:01] pavanky commented on #1271
@ghisvail can you check the build status with `3.3.1` ?

[2016-03-17 21:08] pavanky opened #1345 "Make select a JIT operation"
This would require creating a new JIT node called trinary (ternary?) node or generalizing `UnaryNode` + `BinaryNode` to be `FunctionNode`.

[2016-03-17 21:35] shie0041 opened #1346 "Support One-to-One batch mode in transform"
Allow batch-mode processing for translate() to allow

1. The same image to be translated according to specified vectors of row and column shifts.
2. Multiple images to be translated by the same scalar row and column shifts.

This is useful in image processing, for instance, to register and add multiple images to reduce noise. An implementation of this capability in the generalized transform() func

[2016-03-17 21:42] shehzan10 commented on #1346
In response,
 1. This is supported, but through transform. [This](https://groups.google.com/forum/#!topic/arrayfire-users/0jE6xQD_OVo) is this relevant discussion about how to create the transformation matrices. For each set of row/column shifts, it should be a different channel in the transformation matrix. That is, if you have N shifts, then your transformaion matrix will be of size 3x2xN.
 2. T

[2016-03-17 23:53] ZacDiggum opened #1347 "feature request: inplace fftshift"
In numpy as well as in afnumpy is a function called fftshift().
Imagine sectioning an array in four quadrants. fftshift() interchanges the 1st and 3rd quadrant and the 2nd and 4th, crosswise. Of course, one can do that with indexing and a tmp array, but it's slow... A fast inplace fftshift() sure would be nice...

[2016-03-18 00:09] pavanky commented on #1347
@ZacDiggum You can implement fftshift using our [shift](http://arrayfire.org/docs/group__manip__func__shift.htm) function. You can look at my [stackoverflow answer](http://stackoverflow.com/a/5915502/2192361) to see how it can be done. This is definitely faster than using indexing.

That said `shift` is not inplace. I am leaving the issue open with the edited subject.

[2016-03-18 01:53] Brainiarc7 opened #1348 "Invalid checksum for BoostCompute"
See build log:

-- Boost version: 1.60.0
-- BoostCompute...
--   getting https://github.com/boostorg/compute/archive/v0.5.tar.gz
--   validating /tmp/nix-build-arrayfire-3.3.3.drv-0/build/third_party/compute-0.5.tar.gz
CMake Warning at CMakeModules/build_boost_compute.cmake:47 (MESSAGE):
  /tmp/nix-build-arrayfire-3.3.3.drv-0/build/third_party/compute-0.5.tar.gz:
  Invalid check sum d41d8cd98f00b2

[2016-03-18 02:06] shehzan10 commented on #1348
`d41d8cd98f00b204e9800998ecf8427e` is the checksum for an empty file, ie `touch empty.txt` will give that checksum.
The primary mode of download is using CMake's File Download. However, this is known to fail on some systems and return the specified checksum. So we added a fallback using wget. [Here is the relevant code](https://github.com/arrayfire/arrayfire/blob/hotfix-3.2.2/CMakeModules/build_bo

[2016-03-18 02:07] Brainiarc7 commented on #1348
You can pull in the correct checksum from here: https://github.com/Brainiarc7/arrayfire/blob/devel/CMakeModules/build_boost_compute.cmake

[2016-03-18 02:07] Brainiarc7 commented on #1348
Oh, sorry, early reply.

Let me add wget as an input and retest.

[2016-03-18 02:14] Brainiarc7 commented on #1348
Here's the entire log:

`phase `unpack' succeeded after 0.1 seconds
starting phase `patch-usr-bin-file'
phase `patch-usr-bin-file' succeeded after 0.0 seconds
starting phase `patch-source-shebangs'
patch-shebang: ./CMakeModules/osx_install/cpu_scripts/postinstall: changing `/bin/bash' to `/gnu/store/x8dmdlrn5qn0wrbcnngj55y3ab73h0pp-bash-4.3.42/bin/bash'
patch-shebang: ./CMakeModules/osx_install/cu

[2016-03-18 02:16] shehzan10 commented on #1348
So this is where wget is failing. It's unable to resolve github.com, which is the root cause of failure. Why wget is failing, that I cannot say.

[2016-03-18 02:17] Brainiarc7 commented on #1348
Yes.

Failing within GNU Guix, and passing outside the build system.

[2016-03-18 02:26] pavanky commented on #1348
Does GNU GUIX build system support downloading from the internet at build time ?

[2016-03-18 03:33] Brainiarc7 commented on #1348
@pavanky yes, it does.

In this case, though, it fails. Badly.

[2016-03-18 13:45] shie0041 commented on #1346
Sorry - in the relevant discussion you linked to, Pavan recommended creating a feature request to support batch mode, hence this request.

One thing I found in regards to this:  I have an array of images called scenes that is 128x128x50x1 and a transform matrix T that is 3x2x50x1.  I thought I would be able to batch-mode transform these via:

array batch = transform(scenes, T, scenes.dims(0), scen

[2016-03-18 14:31] shehzan10 commented on #1346
So transform does batch mode both ways. That is if you have an N channel image and M transforms,  then each of N is going to return M images for the transforms.  That's why you see 2500 channels.
If you are using the same transform and tiling it 50 times, that's wrong. You technically have one transform and you can just use that. It will be applied to all image channels.

[2016-03-18 14:34] shie0041 commented on #1346
How do I get transform() to work in Identical Batches mode?  Based on the documentation for convolve2() I thought I had it write in that both the images and the transform matrix have the same number of elements in the third dimension.

Thanks, by the way.

[2016-03-18 15:10] Brainiarc7 commented on #1348
I have figured out the problem, in part, at least.

When fetching Arrayfire's source code via git, it also requires fetching extras via git submodules.
At the moment, I'm failing to dom so within Guix and this is why the configuration stage fails.
See my scheme file here for more details:

https://github.com/Brainiarc7/guix-bioinformatics/blob/master/gn/packages/arrayfire.scm

Maybe someone can tr

[2016-03-18 15:14] shehzan10 commented on #1348
We provide a git-less source package that includes the submodules with all our releases. You can find it under the [github releases section](https://github.com/arrayfire/arrayfire/releases). Quick note, download the link from arrayfire.com rather than the tar-balls generated by github. The github generated tarballs do not include submodules.

The one caveat is that we do not ship external dependen

[2016-03-18 15:22] Brainiarc7 commented on #1348
Thanks a lot for the clarification.

[2016-03-18 15:27] shehzan10 commented on #1346
Yeah we missed that one-to-one case (my bad). We covered 3 case of batching, but missed one.

The long way around is to run the code and then call indexing to pick out the right channels.
I haven't benchmarked it, but I think for now using a for loop would be the way to go. It should not be a significant performance hit.
[code]

I'll be renaming the topic and see how we can incorporate a one-to-on

[2016-03-18 15:31] shie0041 commented on #1346
Thanks.  I've got the for-loop coded now, so I'll leave it as-is.  I'm in the process of trying to optimize/simplify my code by replacing for loops with vectorized code wherever possible.

[2016-03-18 18:28] Brainiarc7 commented on #1348
From the GNU Guix developers' input on the same:

"In Guix, builds are performed in an isolated container where there is
*no* external network access.  It must be this way because otherwise
builds would be non-deterministic. The only exception is for "fixed
output derivations", whose checksum is known in advance, which
wouldn't be the case here.  So, the problem lies with Arrayfire's
build system.

[2016-03-18 18:44] pavanky commented on #1348
@Brainiarc7 The problem is not with arrayfire's build system. We only download boost compute if it is not available on the system. Ideally the package should be packaged with the distro (like Debian and Gentoo were doing). So for boost compute you either begin packaging it for GNU GUIX or wait until it is part of the official boost package from Boost 1.62.

However that will not solve the issue wi

[2016-03-18 18:44] #1348 closed

[2016-03-18 18:58] Brainiarc7 commented on #1348
Ok, thanks.

[2016-03-19 16:03] zburazin commented on #1335
Sorry, I forgot to answer this question. I use X2GO + OpenVPN to acces the remote machine

[2016-03-20 08:29] pavanky opened #1350 "Do not destroy externally added device, queue and context for OpenCL backend"
This will cause interop problems in languages where the contexts are cleaned up automatically by the other library

[2016-03-21 04:39] 9prady9 commented on #1350
In that case, we probably should do a `retain` on those ocl objects when they are provided to ArrayFire and then a `release` when ArrayFire is done using that object. Right ?

[2016-03-21 10:39] pavanky commented on #1350
@9prady9 That sounds like the simplest solution yes.

[2016-03-21 16:26] cbodenst commented on #482
I am just pushing this feature because it is import for machine learning tasks(>= 2D data) , to get a different view on the data, equal to moddims, but without doing a copy on the underlying data. Is there a workaround for this right now?

[2016-03-21 16:53] jeremysalwen commented on #482
This is the workaround I used for my project:

https://github.com/jeremysalwen/DeepFire/blob/master/include/ArrayRef.hpp

It is not well tested.

[2016-03-21 18:03] pavanky commented on #1346
The missing case could be fixed easily for our next bugfix release.

[2016-03-21 21:07] FilipeMaia commented on #482
I think this is a great feature, as it gives the possibility to create "views".
I think the biggest issue is that I don't think the current JIT implementation plays well with this.
But I would really like to have it.

[2016-03-22 00:42] Reithan opened #1351 "Uninstaller doesn't remove from non-default install location"
After acquiring the 3.3.1 no-GL installer, it detects that ArrayFire is already installed and attempts to run the uninstaller. However, uninstaller attempts removal from default location, while my install was at G:\ArrayFire. No actual uninstall took place.

[2016-03-22 18:24] pavanky opened #1352 "Errors not being handled properly in C++ API for binary functions"
Code to reproduce:

[code]

[2016-03-23 10:42] zburazin commented on #1335
Any progress @syurkevi ? :D

[2016-03-23 13:55] mricherzhagen opened #1355 "array assignment using arrays as indices needs a lot of memory"
I have the following code:

	const int N = 70000;

	af::array target = af::constant(0, 10, N, s32);
	target(af::constant(1, N), af::seq(0, N - 1)) = 1;

which fails with

[code]

The `af::constant(1, N)` is only for testing purposes.  I tried a normal array with values between 0 and 9 before, but it failed with the same error.

Doing the Math in my head i only see a potential for a ( N * 10 + N +

[2016-03-23 14:02] pavanky commented on #1355
@mricherzhagen ArrayFire does not do numpy type indexing. In the arrayfire code you showed you are trying to indexing 70000, 70000 array but your input is only 10 x 70000.

To achieve what you want you need to do something like this in arrayfire:

`target(af::seq(N) * target.dims(0) + a) = 1;`

There is no other solution for now.

[2016-03-23 14:02] #1355 closed

[2016-03-23 14:05] mricherzhagen commented on #1355
The code worked for small N, though...

Thanks for that workaround.

[2016-03-23 14:08] FilipeMaia commented on #1355
As pavanky said arrayfire and numpy work differently.  For example if one has [0,1],[0,1] as the two arrays for numpy this would mean that the coordinates retrieved would be [0,0],  [1,1] while for arrayfire it would be [0,0], [0,1], [1,0], [1,1]. Arrayfire takes all possible combinations between the elements of the two arrays instead of combining only those at the same position.

[2016-03-23 14:46] pavanky commented on #1355
It is either a coincidence it worked or you did not verify the results properly. It *should not* work.

[2016-03-23 14:48] pavanky commented on #1355
Btw we have this issue open to implement the functionality for indexing: https://github.com/arrayfire/arrayfire/issues/902

I think I will update it to mention assignment as a requirement as well.

[2016-03-23 14:54] FilipeMaia commented on #902
If you want to support this I think it would be important to allow mixing of spans, sequences and coordinate lists, e.g. `getValues(A, span, Y, Z)` to get a set of rows from a volume.

[2016-03-23 14:55] pavanky commented on #902
@umar456 @FilipeMaia One alternative is to implement this through functions like this:

[code]

Alternatively we could overload `[]` to have a different behavior compared to `()`

[code]

The second solution would require proxies and some lazy evaluation of expressions. We would also probably need to force the indices to always be `array` and never support `seq`.

[2016-03-23 14:56] pavanky commented on #902
a third option is to do this:

[code]

Ignore the name, it can be anything we want.

[2016-03-23 14:57] FilipeMaia commented on #902
@pavanky I like that option with the tuple.

[2016-03-23 14:58] FilipeMaia commented on #902
Although there is a difficulty with the tuple syntax is you want to have the following `getValues(A, x, span, z)`.

[2016-03-23 15:00] FilipeMaia commented on #902
This might be somewhat relevant https://github.com/seberg/numpy/blob/indexing-nep/doc/neps/indexing.rst

[2016-03-23 15:41] pavanky opened #1356 "Clean up the interface with Freeimage"
Right now we are loading in raw data and ignoring any changes that might occur because of the system architecture.  We have fixes in places for certain cases, but that is not the proper way to deal with the data.

Free image documentation specifies how to do this. Check out page 28 of the pdf from here:
[FreeImage3154.pdf](https://github.com/arrayfire/arrayfire/files/186314/FreeImage3154.pdf)

[2016-03-23 15:49] 9prady9 commented on #1356
@pavanky @shehzan10 As part of this, can we use the c++ API of freeimage if it helps us reduce the amount of freeimage code inside ArrayFire ?

[2016-03-23 16:03] 1IfByLAN2IfByC opened #1357 "Norm not returning same value for [0, 0, 1] and [1, 0, 0] vectors"
When calling the c++ norm function, if the first element of a row vector is zero _norm_ returns 0. See sample output below.

First element nonzero (correct)
--------------------------------------------------
norm(testme)
[1 1 1 1]
    0.0000
testme
[1 3 1 1]
    1.0000     0.0000     0.0000

Second element nonzero (wrong)
----------------------------------------------------
testme
[1 3 1 1]
    0.

[2016-03-23 16:10] #1357 closed

[2016-03-23 16:12] 1IfByLAN2IfByC commented on #1357
norm returns a double but can be typecast to an array of length norm. the spookiness was coming from that.

[2016-03-23 16:47] pavanky commented on #1357
Hmm we should really avoid that.

[2016-03-23 17:50] pavanky commented on #1073
@mlloreda

Look at this file:

https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/fftconvolve.cpp

[2016-03-23 17:52] pavanky commented on #1350
Fixed in hotfix-3.3.2

[2016-03-23 17:52] #1350 closed

[2016-03-23 17:53] pavanky commented on #1352
Fixed in hotfix-3.3.2

[2016-03-23 17:53] #1352 closed

[2016-03-23 18:04] pavanky commented on #938
@mlloreda Test this on the following devices:

- K20 (CUDA and OpenCL backends)
- W8100 (OpenCL backend)
- Any Xeon CPU (CPU backend)

[2016-03-23 18:11] pavanky commented on #394
@shehzan10 compute currently has stable sort. Can you look into integrating it ?

[2016-03-23 18:46] shehzan10 commented on #1351
This is reproduced only when older version is installed to a non-default location and the uninstaller is called by a newer version of the installer. There is an installer available in the older version's non-default install location which still uninstalls the files correctly.

I'm working on a fix for this.

[2016-03-23 19:04] pavanky opened #1358 "Improve sort performance for matrices and volumes"
Right now we are performing `N` sorts of size `M`  for an `M x N` matrix.

A faster solution might be to do the following internally:

[code]

This requires about `3XMxN` temporary storage. But that might be OK upto certain sizes. We might have to do a hybrid algorithm that does this both the for loop and this for larger sizes.

[2016-03-23 19:05] pavanky commented on #1358
This can probably be generalized for sorting along other dimensions using the following code:

[code]

[2016-03-23 19:07] pavanky commented on #1358
Reference benchmark using the following code a GTX 950:
[code]

[code]

[2016-03-23 19:33] syurkevi commented on #1335
So to get a minimal helloworld.cpp example working in eclipse:
* New -> Empty C++ Project -> **use defaults in wizard**
* right click on project -> New File (main.cpp) -> copy paste hello world code
* right click on project -> Properties -> Build -> Settings -> Then choose the "Tool Settings" tab
    * under C++ Linker > Libraries
        * add **nvvm**
        * add **afcuda**
    * under C++ Lin

[2016-03-23 19:49] pavanky commented on #1335
@zburazin Closing the issue. Let us know if this causing an issue for you.

P.S. You can replace `afcuda` with `af` for unified, `afopencl` for opencl and `afcpu` for cpu backends.

We suggest you add `af` for maximum compatibility. If you do this, you will need to append path to arrayfire libs to `LD_LIBRARY_PATH` flag.

[2016-03-23 19:49] #1335 closed

[2016-03-23 21:52] shehzan10 commented on #1351
I've fixed this in the installer generator (not a part of ArrayFire).
The updated installers will be shipped with v3.3.2.

[2016-03-23 21:52] #1351 closed

[2016-03-24 10:42] eyalroz opened #1359 "FTBFS on Fedora 22: CBLAS installed but not found when using GNU GSL BLAS"
I have GNU GSL's cblas installed, having

[code]

etc. on my system (a Fedora 22 on Linux x86_64). And yet, when I cmake ArrayFire, I get:

[code]

Either this is a bug, or the error message needs to be more specific about what exactly it's missing.

[2016-03-24 13:59] pavanky commented on #1359
@eyalroz We did not anticipate someone using `libgslcblas.so`.  Up until this point I thought it had a different API. I will look into fixing this.

[2016-03-24 14:27] eyalroz commented on #1359
For now my sysadmin installed libopenblas-dev (and maybe some other packages), and I got past that issue (and to another one).

[2016-03-24 14:31] eyalroz opened #1360 "FTBFS on Fedora 22: ‘JPEG_GREYSCALE’ was not declared"
After supposedly having obtained all of the required libraries, I started the build. At some point I get this:

[code]
I'm not sure which library this regards, but I do have

[code]
(copied those from my `CMakeCache.txt`), so I should be OK; if not, I should have been notified of something missing.

[2016-03-24 14:34] shehzan10 commented on #1360
This is a freeimage enum that should be there in the header file (/usr/include/FreeImage.h).
Can you also confirm the version of freeimage you are using? You can do this either from the package manager or the version information from the freeimage header file.

[2016-03-24 14:37] eyalroz commented on #1360
A snippet from `/usr/include/FreeImage.h`:
[code]
And here are all the definitions beginning with JPEG_ in that file:
[code]
No enum though.

[2016-03-24 14:41] eyalroz commented on #1360
Oh, [here's a clue](http://freeimage.sourceforge.net/changeslog.html): It looks like JPEG_GRAYSCALE was added to FreeImage with v3.15.4 , and that Fedora 22, for some odd reason, sticks to 3.10.0.

Well, I guess you need to have some version check in your `CMakeModules/FindFreeImage.cmake`.

[2016-03-24 14:43] ZacDiggum opened #1361 "fftconvolve performance"
In fftconvolve.cpp I noticed nextpow2 several times. Do the fft based convolutions pad to power of 2 sizes? Because clfft

That might lead to smaller array sizes and thus improved performance and lower memory demands.

[2016-03-24 14:51] eyalroz opened #1362 "Bulding on a GPU-less machine: No (obviousl) way to set target CUDA Compute Capability"
I'm building (well, trying to build) ArrayFire 3.3.1 on a machine with no relevant GPU (but with CUDA 7.5). What I'm getting is that Compute Capabilities 20, 30 and 50 are enabled. But what if I'm targetting a device with is 35 (3.5) or 52 etc.?

I should be able to specify - say, in an environment variable - the target compute capability values I want. You'll note that in CUDA's samples Makefiles

[2016-03-24 14:54] pavanky commented on #1361
@ZacDiggum Here's a demonstration of the performance on a R9 390x:
[code]

The space requirements may be better, but the performance is much lower.

[2016-03-24 14:55] shehzan10 commented on #1362
Those are the default computes ArrayFire picks up when there is no GPU. You have 2 options to specify computes:
* -DCOMPUTES_DETECTED_LIST="SM;SM;SM" (semicolon separated list of 2 digit compute versions). This automatically disables compute detection.
* -DCUDA_COMPUTE_XY=ON, where XY is the 2 digit compute version. If you do not want the CUDA to detect computes, then set -DCUDA_COMPUTE_DETECT=OFF

[2016-03-24 14:55] #1362 closed

[2016-03-24 14:56] pavanky commented on #1361
This is how it is on CUDA on a K20

[code]

[2016-03-24 14:57] pavanky commented on #1361
FFTW seems to do better on the CPU:
[code]

[2016-03-24 14:59] eyalroz commented on #1362
@shehzan10 : Perhaps you could consider mentioning these two (or at least the first one) in the message about choosing the default 20-30-50 combination?

[2016-03-24 15:05] pavanky commented on #1360
Wow, never thought Fedora will have an older package from an older Ubuntu release. We were trying to target versions from Ubuntu 14.04 under the assumption that most other distros will have the packages by now. Looks like Fedora missed out on this for some reason..

[2016-03-24 15:12] shehzan10 commented on #1362
We'll look into it.

[2016-03-24 15:18] eyalroz opened #1363 "Print better error message when cuda driver library is not found by CMake"
After getting past other build issues with ArrayFire v3.3.1, I get:
[code]
If I add the following snippet to `CMakeLists.txt`:
[code]
and do `export CUDA_CUDA_LIBRARY=/path/to/cuda/lib64/libcudart.so`, then CMake happily (?) continues beyond this point. But that's not quite a solution...

PS - Sorry about filing lots of bugs on the same day... think about it as free QA on Fedora :-)

[2016-03-24 15:28] pavanky commented on #1363
@eyalroz Please try not to include stuff like `for no good reason`. Just because you do not understand what the error means does not mean there is no good reason for this failure. ArrayFire needs to link with `libcuda.so` which is obviously not present on your system. `libcudart.so` is `CUDA_CUDART_LIBRARY`. Pointing `CUDA_CUDA_LIBRARY` to it does not fix the issue.

`libcuda.so` is usually instal

[2016-03-24 15:32] pavanky commented on #1360
@shehzan10 just check for the missing macro and raise an error saying free image on system does not support this image mode.

[2016-03-24 15:35] eyalroz commented on #1363
First - CUDA_CUDA_LIBRARY is an internal variable, not a missing environment variable. The user building ArrayFire should not need to know why that would not be set. So, I stand by my claim that this is "for no good reason". You could emit a message such as "Could not find libcuda.so" or "CUDA driver missing", and that would at least let us know what you were expecting.

[2016-03-24 15:37] pavanky commented on #1363
@eyalroz We are just using built in CMake Modules. We did not create this variable. Please forward your complaints in their direction.

[2016-03-24 15:37] shehzan10 commented on #1360
The better option is to check `#ifdef JPEG_GREYSCALE`

[2016-03-24 15:38] ZacDiggum commented on #1361
How are 1536 and 1920 powers of 3 or 5? I mean for example an array of size 2049 gets padded to 4096 instead of 2187 (power of 3). Or when convolving two 2049 arrays one could pad to  6561 (power of 3)  instead of 8192...

[2016-03-24 15:45] pavanky commented on #1361
@ZacDiggum I was checking for a combination of 2, 3 and 5. I could check the sizes you mentioned as well.

[2016-03-24 15:48] pavanky commented on #1361
As you can see 2187 is faster than 4096, but 6561 is slower than 8192. It'll require a lot of tuning to get the best out of it..

[code]

[2016-03-24 15:48] pavanky commented on #1360
@shehzan10 that's what I meant.

[2016-03-24 15:51] ZacDiggum commented on #1361
Ah okay, I'm convinced. :-) You also checked the combinations, that's smart. Okay, nevermind.

[2016-03-24 15:52] pavanky commented on #1363
@eyalroz After thinking it over a little, it does seem like trying to print out a better error message might be useful in this particular case as it is not immediately obvious as other errors from CMake.

[2016-03-24 15:53] eyalroz commented on #1363
Maybe I should write them. But... I never had this problem. I mean, I write CUDA code (obviously not covering as much of the functionality as ArrayFire) and use CMake's FindCUDA module, and have not ever gotten this complaint just because the driver was unavailable.

Are you really sure the driver is necessary for _building_ ArrayFire, as opposed to _using_ it?

[2016-03-24 15:55] pavanky commented on #1363
@eyalroz one of the CUDA libraries we use brings in `libcuda.so` as a dependency. I do not remember which one.

[2016-03-24 15:57] #1361 closed

[2016-03-24 16:48] eyalroz commented on #1363
When I copy libcuda.so manually from a machine with that file, I get:

[code]
So... do I need libcuda.so, libcuda.so.1, or both? If it's the latter, how do I tell CMake what to use when?

[2016-03-24 16:49] Brainiarc7 commented on #1362
Is this documented?

It'd be good to have separate documentation on the same (As regards configuration options available via CMake) to avoid such situations.

[2016-03-24 16:52] shehzan10 commented on #1363
libcuda.so should simply be a simlink to libcuda.so.1. The runtime on all linux distribution loads the liblibrary.so.version file and not just the so file.

[2016-03-24 21:40] Botev commented on #1320
Well, I still have no time doing this so far, but I found another project, where this is implemented. Might be worth looking at it if someone get's to a point of doing implementation: https://github.com/Maratyszcza/NNPACK

[2016-03-25 13:39] eyalroz commented on #1360
With FreeImage 3.17, downloaded from the FreeImage website, the Fedora 22 build concludes, woo-hoo.

Also, instead of just #ifdef JPEG_GRAYSCALE, you could consider doing:

[code]

[2016-03-25 14:08] pavanky commented on #1360
@eyalroz send in a PR!

[2016-03-25 14:09] pavanky commented on #1360
@eyalroz to `hotfix-3.3.2` not devel.

[2016-03-25 14:13] eyalroz commented on #1360
@pavanky : I'm not much of a git/github person;  can you spell out what that means? Also, that was a "hand-created diff", I didn't actually check anything out (yet).

[2016-03-25 14:19] pavanky commented on #1360
@eyalroz nevermind, @shehzan10 tells me he already fixed it his fork and it will be merged into devel soon.

In case you want to contribute in the future, you can follow this document: https://github.com/arrayfire/arrayfire/wiki/Contribute-code-using-github

[2016-03-26 14:14] unbornchikken commented on #1323
Hi. Does 3.3.1 resolves the issue with the NN example or that's just for the FFT?

[2016-03-26 16:20] pavanky commented on #1323
Just fft.

[2016-03-26 16:25] afhuertass opened #1364 "Application Doesn't stop after calculations are done"
Hi. I have a code with something the next structure

[code]
which has to be called thousands of times. Ux, Uy,Uz and rhos are 3D arrays and fs is a  STL vector strcuture. But the problem is that the process never stop once the calculations are done, i check this with a cout in the class destructor. It keeps running and dont release the memory in the GPU. I tested this in a TeslaK40 and in my perso

[2016-03-26 17:03] pavanky commented on #1364
@afhuertass

1) We need a more stand alone case to reproduce this. The file you linked to is too big to narrow down.

2) What version of arrayfire and what GPU are you using?

[2016-03-26 17:42] afhuertass commented on #1364
Hi
@pavanky  here is the af::info() for the GPU used:
[code]
 The code has a single class and i just realize it hangs even if the programm doest nothing ( setting my step variable to cero ) just creating that Class lead to that behavior.

I create other repository holding just the headers of the class and the constructor, even that simple code dies runing in the mentioned GPU ( the gpu is a server

[2016-03-26 19:34] pavanky commented on #1364
@afhuertass Do you see the problem when you run other arrayfire examples?

[2016-03-26 19:54] afhuertass commented on #1364
yes ... i tested a few, the blas and the examples of a blog post called "How to write vectorize code"

but is really weird cause i remember that before i tested them and worked just fine.  it can be caused by other process running in the GPU? . other guy has a process in there and its being running for several days ( i haven't talk to he, to ask what is doing in the machine)
here is what the nvidi

[2016-03-26 19:54] pavanky commented on #1364
@afhuertass FYI you can use https://gist.github.com/ to copy one off files. You dont need to create a new repo.

[2016-03-26 20:16] pavanky commented on #1364
@afhuertass can you run some cuda samples from the cuda toolkit ? I am not sure what's happening, but could it be that someone else is also using the server right now ?

[2016-03-26 20:22] pavanky commented on #1364
@afhuertass And yes another GPU process can definitely slow things down. However the `nvidia-smi` is showing that the other process is only happening on GPU0, is your problem happening on GPU1 as well?

[2016-03-26 20:53] afhuertass commented on #1364
@pavanky
Yes i run my process in the other GPU ( i run things in GPU1 ) . and there is no other process. I feel realy confused because i been battling with this for weeks. At the begining i thought it was a problem of my code ( something like the implementation of my problem was leaking memory or something ) but now i see it can't run correclty a simple process. with this problem i think that even

[2016-03-26 21:56] pavanky commented on #1364
@afhuertass The performance seems to be about par for a K40. I don't think this is a problem with arrayfire.

Can you test any other CUDA program on your machine ?

[2016-03-27 00:31] afhuertass commented on #1364
Hi  again @pavanky and thank for your time and interest.

No .. i try the examples in the cuda Toolkit but the same behavior is found, they hang and do nothing forever. At this point for sure is not an ArrayFire issue, but you have any idea of what could be?

thanks.

[2016-03-27 05:45] pavanky commented on #1364
@afhuertass a reboot may fix the issue but I am running out of ideas..

[2016-03-27 21:29] colbyshores opened #1365 "errors when using ArrayFire v3.3.1 on Ubuntu 14.04, 32bit Linux and ArrayFire-Python"
Im getting an error when I try an run the "Hello World" example on Ubuntu 14.04, ArrayFire v3.3.1 using the ArrayFire-Python bindings.
Im on a Tegra K1 based system and it returns the same error in file data.cpp at the same line reguardless of wither I am using Cuda or CPU.
I have attached my output from the python interpreter.  I know that Cuda is working because af.info() is reporting it's detec

[2016-03-27 21:58] pavanky commented on #1365
@colbyshores you should be opening python related issues [over here](https://github.com/arrayfire/arrayfire-python/issues). Closing this here and opening in the proper place.

[2016-03-27 21:58] #1365 closed

[2016-03-28 15:24] shehzan10 commented on #1362
We'll looking into adding a Wiki entry for all the cmake options.

[2016-03-28 20:38] pavanky opened #1369 "Add option to disable CPUID in cmake"
Failing to compile because of `CPUID` on 32bit linux VMS on 64bit machines when using KVM (did not test on virtualbox).

Right now `USE_CPUID` is being picked up automatically based on architecture. We should have an option to disable it from `cmake`.

[2016-03-28 21:01] shehzan10 commented on #1369
I think the thought was that because `USE_CPUID` is defined in the header file, it can be disabled easily. I may be wrong, but I don't think there is a singe rule to govern the availability of CPUID.

[2016-03-28 21:14] pavanky commented on #1369
@shehzan10 I don't mean to automatically detect in cmake, but give the user the ability to disable it. I am fixing it.

[2016-03-28 22:20] pavanky opened #1370 "Feature Request: clamp"
This can be implemented as following in C++:

[code]

However it might be better to use builtin functions if possible. This can be added to JIT once a node with 3 inputs is available as discussed here: https://github.com/arrayfire/arrayfire/issues/1345

[2016-03-29 19:34] shehzan10 commented on #1363
Fixed in hotfix-3.3.2.

[2016-03-29 19:34] #1363 closed

[2016-03-29 19:34] shehzan10 commented on #1360
Fixed in hotfix-3.3.2.

[2016-03-29 19:34] #1360 closed

[2016-03-29 19:35] shehzan10 commented on #1362
Added comments in the hotfix-3.2.2 branch to show the compute options when default computes are being used. The CMake entries will be added on a wiki page soon.

[2016-03-29 19:55] eyalroz opened #1372 "Feature Request: Opt-out of features requiring a CUDA driver installed"
Sometimes you want to build GPU-targetted code not on the machine with the actual GPU, e.g. usually a machine without an appropriate GPU driver. While some features of ArrayFire require the presence of this driver (for reasons not entirely clear to me, but then - I don't use those features) - in the form of `libcuda.so`; but many/most features don't need it and would build just fine in its absence

[2016-03-29 23:01] altaybrusan commented on #444
When we could test it? :)

[2016-03-30 01:16] afhuertass commented on #1364
Regarding this issue, there is something new.

I'm not any more with this problem, the system was not reboot. The only thing different was that the proccess in the other Card stop running.  so i don't know what could be happening... maybe a bad hardware setup?

Thanks for your time and previus answers.

[2016-03-30 01:16] #1364 closed

[2016-03-30 01:39] pavanky commented on #1364
@afhuertass I should have asked you to try this earlier.. ArrayFire goes through the list of all devices when starting up. Perhaps that was slowing down the startup time..

If you see something like this happening next time try running `export CUDA_VISIBLE_DEVICES=1` (assuming GPU0 is taken up by something else) in command line before running CUDA / arrayfire code. This flag will only show the sec

[2016-03-30 01:49] pavanky commented on #444
@altaybrusan I put it up as a feature request for next release. It'll be a few weeks.

[2016-03-31 20:51] pavanky commented on #394
I think we can close this because of #573 considering there's stable alternatives now.

[2016-04-02 21:36] altaybrusan commented on #444
Thanks

[2016-04-04 12:58] pavanky opened #1374 "Performance improvements to BLAS in OpenCL for non AMD GPU hardware"
Currently using clBLAS:
- NVIDIA hardware gets about 50% of what cuBLAS delivers.
- Intel GPUs deliver about a 6th of their peak value (could be because of it's vector based architecture)
- CPU performance is about a 6th of their peak value

Some of this can be mitigated by using different parameters in clBLAS build script, but that does not work well with arrayfire.

There are a few ways we can d

[2016-04-04 13:07] pavanky commented on #1374
Relevant Link from Intel:

Getting performance out of [Intel Graphics](https://software.intel.com/en-us/articles/sgemm-for-intel-processor-graphics). It however uses intel specific extensions.

[2016-04-04 13:07] pavanky commented on #1374
@arrayfire/core-devel thoughts ?

[2016-04-04 13:13] bkloppenborg commented on #1374
Assuming clBLAS is willing to accept specializations for non-AMD hardware, I'd say we should push the changes upstream. Perhaps there we could do runtime detection of the architecture and then use custom/optimized kernels?

[2016-04-04 14:43] guacamoleo commented on #1374
If its just GEMM you're referring to, the AutoGEMM framework already supports specific parameters for Hawaii and Fiji as devices, and someone out in the clBLAS ether can add another specification for an Nvidia GPU. That would be relatively easy.

But its also possible that all AutoGEMM kernels will work poorly on Nvidia hardware for some fundamental architectural reason, in which case someone woul

[2016-04-05 11:54] ZacDiggum opened #1375 "Feature Request: 2D DCT and IDCT"
Hi,
I made myself a 2D discrete cosine transform (DCT-II) and its inverse (DCT-III) based on matrix multiplication as described [here](http://people.missouristate.edu/jrebaza/assets/10compression.pdf). It outperforms Scipy's DCT especially with some odd combinations of array dimensions. Python code is attached.

[dct_matmul.zip](https://github.com/arrayfire/arrayfire/files/204354/dct_matmul.zip)
I

[2016-04-05 14:30] ZacDiggum opened #1376 "Feature Request: enable clFFT pre- and post-callbacks"
[Here](http://developer.amd.com/community/blog/2016/01/07/improve-fft-post-processing-performance-using-clfft-post-callback/l) it says that clfft is able to bake pre- and postprocess callbacks into the fft kernel. Is it possible to expose this feature using af-provided functions like transpose and (fft)shift? There seems to be a speedup of almost 2x compared to invoking the kernels one after anoth

[2016-04-05 18:11] pavanky commented on #1374
@guacamoleo mostly gemm. From what I understand AutoGEMM can only be tweaked at compile time. SO it may not be feasible for us to ship a general version clBLAS that works decently across multiple architectures.

[2016-04-05 18:50] kknox commented on #1374
@pavanky
I think it is feasible to support multiple architectures, @guacamoleo was stating you could.  I think the point he is trying to state, is that the nvidia architecture COULD be so different than AMD, that his generator does not even try to emit kernels 'different' enough to be optimal on Nvidia.  If that's the case, then the generator needs to be updated to be 'smarter' to cover those miss

[2016-04-05 20:55] shehzan10 opened #1377 "Bug in seq -> array operator"
Reported here: https://groups.google.com/forum/#!topic/arrayfire-users/Zh8fcKXLNk8

[code]

This prints out a dimension of 32.

[code]

This prints out a dimension of 31.

[2016-04-05 22:47] pavanky commented on #1374
@kknox We are going to do that as the first step and report back.

However there's also the issue with architectures like Intel that require vectorized operations. I think clBLAS just went away from such implementations.

If we had a single path those types of devices could take, would it be OK send it upstream (which means maintaining additional code) or should we handle it in arrayfire?

[2016-04-06 03:22] kknox commented on #1374
@pavanky

To make sure we are on the same page, are you saying the intel runtime prefers vector registers such as float4, double2?   That would be a perfect example of needing to add a new strategy to the autogemm heuristics.

We would accept upstream contributions such as this as long as we can verify that performance on our own targets isn't degraded.  We have no problems with accepting uplift t

[2016-04-06 04:30] pavanky commented on #1374
@kknox

Yes this is what I mean.

I am guessing this is a bit more involved than tweaking the parameters as discussed [in this issue](https://github.com/clMathLibraries/clBLAS/issues/220).

:+1: Glad to hear.

[2016-04-06 04:54] pavanky commented on #1377
This is not a bug.

`af::seq` overloads `*` which changes the `start`, and `end` creating a new range.

[2016-04-06 04:54] #1377 closed

[2016-04-06 05:27] pavanky commented on #1375
@ZacDiggum This is fairly straight forward to implement :+1:

However isn't it faster to implement it [using FFT](https://en.wikipedia.org/wiki/Discrete_cosine_transform) instead ? Matrix multiplications are `n ^ log2(7)` while a 2D FFT is on the order of `C * N ^ 2 log(N)` (I think C ~= 20 here).

[2016-04-06 07:27] FilipeMaia commented on #1375
The FFT based algorithm is the way to go, except for very small sizes.

[2016-04-06 11:29] ZacDiggum commented on #1375
The fft algorithm needs a mirrored array. Like DCT(M*N)=FFT(2*M*2*N). On the other hand the matmul based DCT needs an additional coefficient matrix and its transpose. I tried out both and for large M,N matmul surprisingly was a little faster. Maybe the memory management starting to shovel around arrays...
Filipe, did you compare both algorithms and find a distinct winner for large arrays?
Either w

[2016-04-06 11:55] ZacDiggum commented on #1375
You would also have to zeropad that mirrored array to nextpow2. I'm still undecided myself. Depends on the available memory and the actual array dimensions.

[2016-04-06 13:54] FilipeMaia commented on #1375
On my tests for a 1D 2048 array the FFT based algorithm was about 10x faster.

[2016-04-06 13:56] FilipeMaia opened #1378 "CPU async causing crashes"
See arrayfire/arrayfire-python#75.

[2016-04-06 14:11] ZacDiggum commented on #1375
I meant more like 2048x2048 and up, leading to 4096x4096 with the fft algorithm. I have a feeling that clfft performance decreases with large 2d arrays. But looking at complexity, it should be faster, yes. I think I'll use both ways depending on the array size.

[2016-04-06 15:18] guacamoleo commented on #1374
It would be considerable work to vectorize AutoGEMM; here's an example of a 4x4 micro-tile (each thread computes 16 elements of C matrix):
Each work-group is 16x16 threads, with a micro-tile of 4x4 elements, the work-group computes 64x64 elements of C.
Thread 0,0 of the work-group computes C elements:
    0,0; 0,16; 0,32; 0,48
    16,0; 16,16; 16,32; 16,48
    32,0; 32,16; 32,32; 32,48
    48,0; 4

[2016-04-06 15:31] pavanky commented on #1378
@FilipeMaia What is the gcc version being used on the travis instance ?

[2016-04-06 15:35] pavanky commented on #1375
@ZacDiggum Can you show how you are creating the inputs for the FFT based DCT?

[2016-04-06 15:37] FilipeMaia commented on #1378
g++-4.8 amd64 4.8.1-2ubuntu1~12.04

[2016-04-06 15:40] pavanky commented on #1378
@FilipeMaia We've noticed failures on older versions of gcc. From what I remember `gcc-4.8.2` was causing failures but `gcc-4.8.4` was working fine.

Is there anyway the gcc version on the travis instance can be upgraded?

[2016-04-06 15:41] FilipeMaia commented on #1378
It might be, I'll see if I can get it.

[2016-04-06 16:00] ZacDiggum commented on #1375
You have to mirror reflect the input array in order to make it even-symmetric.
`def dct_fft(arr):
    N, M = arr.dims()
    tmp = af.constant(0., d0=2*N, d1=2*M, dtype=arr.dtype())
    tmp[:N,:M] = arr
    tmp[:N,M:] = arr[:,::-1]
    tmp[N:,:] = tmp[:N,:][::-1,:]
    return 4*np.pi**2/M/N*af.real(af.fft2(tmp))[:N,:M]`
I've found this in the literature. On wikipedia however this seems to be the DC

[2016-04-06 16:03] pavanky commented on #1375
@ZacDiggum can you just time the last line ? If we are implementing DCT inside arrayfire everything else would be a single kernel call.

[2016-04-06 16:06] FilipeMaia commented on #1375
You should do it using 2 1D FFTs otherwise you waste most of the computations.
It could be further optimized by using appropriate phase shift tricks although I haven't done it yet.

[2016-04-06 16:10] ZacDiggum commented on #1375
@FilipeMaia But is the equation correct? Because results between matmul and scipy match, but not between fft and scipy.
@pavanky fft: 0.068s for 1024x1024
matmul: 0.048s
without creating necessary arrays.

[2016-04-06 16:13] pavanky commented on #1375
@ZacDiggum I think the equation is correct. I think what @FilipeMaia is asking is to do something like this ?

**transpose(dct(transpose(dct(in))))**

And you only implement a 1D DCT

[2016-04-06 16:19] FilipeMaia commented on #1378
It could be the gcc version. I couldn't get 4.8.4, but I'm trying 4.9.2 and I have 2 runs and no seg faults yet.

[2016-04-06 16:20] pavanky commented on #1375
@ZacDiggum you could probably further speed it up by using `fftR2C` instead of using `fft`.

`fftR2C` only keeps the non redundant data from the real to complex transform. `fft` internally converts everything to a complex -> complex transform and holds on to the entire data.

[2016-04-06 16:21] ZacDiggum commented on #1375
Sorry, I don't get it. I thought, 2D FFT is carried out as dimension-wise 1D FFT.

[2016-04-06 16:23] pavanky commented on #1375
@ZacDiggum look at this stack overflow answer: http://stackoverflow.com/questions/15978468/using-the-scipy-dct-function-to-create-a-2d-dct-ii

This is true, but for DCT you only need to pad along the dimension FFT is being performed on. If you use FFT2 from the start, you are padding both sides and creating an input that's 4x the size. If you utilize 1D FFTs, you only pad upto 2x the size at each

[2016-04-06 16:26] pavanky commented on #1378
@FilipeMaia Let me know if it breaks, I can reopen the issue. If not we'll close it as a known problem for older versions of gcc.

[2016-04-06 16:26] #1378 closed

[2016-04-06 16:27] ZacDiggum commented on #1375
Okay, cool, I'll try that. Actually I use the scipy dct with axis arg as reference.

[2016-04-06 16:27] FilipeMaia commented on #1375
@ZacDiggum here's some dct code, although one should be able to get at least a factor of 2 better:

[code]

[2016-04-06 16:34] FilipeMaia commented on #1378
Pretty sure it's a gcc problem. 10 build/runs and no problems with the new gcc. It would be nice to have cmake spit out a warning for such issues.

[2016-04-06 16:35] pavanky commented on #1378
@FilipeMaia Thanks for the suggestion.

@shehzan10 any chance we can have a warning based on gcc version < 4.8.4 saying that CPU async  fails intermittently and ask the user to turn async off ?

[2016-04-06 16:47] ZacDiggum commented on #1375
Could you show me how to extend this to 2D?

[2016-04-06 16:51] pavanky commented on #1375
@ZacDiggum

[code]

[2016-04-06 18:24] FilipeMaia commented on #1375
@ZacDiggum If you pass the pre-calculated shifts this one is a bit more than twice as fast as the previous one:

[code]

[2016-04-06 18:37] pavanky commented on #1375
Hmm. If `range` became a JIT function it shouldn't matter if phase_shift is pre-calculated or not. We'll have to consider that.

[2016-04-06 19:06] ZacDiggum commented on #1375
@FilipeMaia Thanks for your help, great work! To get the behaviour of scipy's dct with [orthonormal normalization](https://docs.scipy.org/doc/scipy/reference/generated/scipy.fftpack.dct.html#scipy.fftpack.dct), multiply the result of the 1D dct for each axis like this:
[code]

[2016-04-06 20:26] shehzan10 commented on #1378
Yeah we could probably do that.

[2016-04-06 23:36] pavanky opened #1379 "Remove MAX_BINS limitation for histograms"

[2016-04-07 23:59] shehzan10 commented on #1378
I'm not entirely sure if ArrayFire built with Async on GCC >= 4.8.4 will run fine on systems with older GCC. Might need to test this one.

[2016-04-12 20:07] pavanky commented on #1369
Fixed in hotfix-3.3.2

[2016-04-12 20:07] #1369 closed

[2016-04-12 21:31] shehzan10 commented on #868
Add new random number generation functions as JIT operations on uniform/normal random number generation:

* exponential(lamdba): `x = log(1 - u) / (-lambda)`, where u is the uniform number
* gamma(r, lambda)
* chi-squared: gamma distribution with r = n / 2, lambda = 2.
* non-central chi-squared
* Poisson

Useful links:
https://en.wikipedia.org/wiki/Relationships_among_probability_distributions
htt

[2016-04-12 22:17] pavanky opened #1381 "Generalize strides"
**Pros**:

`no-op` in the following statements refer to no kernel launch. it would require some changes to meta-data.

- `transpose` and `reorder` are now no-ops (we can have an additional parameter if we want to force copies).

- All indexing is now a no-op.

- `wrap` and `unwrap` can be no-ops in a few cases and would not require additional memory.

- `tile` can be a no-op without  additional me

[2016-04-12 22:19] pavanky commented on #1381
To reduce the incidence of bugs / performance regressions, we could only enable this type of functionality if a (environment?) flag is set or if it is compiled with this support.

[2016-04-13 17:12] pabloqb opened #1382 "Typo in arrayfire_opengl_interop/utility.h"
at line 77
`std::cerr << "ERROR: GLFW wasn't able to initalize" << std::endl;`

Shouldn't be `initialize`?

Best,
Pablo.

[2016-04-13 17:43] pavanky commented on #1382
This is not part of this repo.

[2016-04-13 17:43] #1382 closed

[2016-04-14 15:07] pavanky opened #1383 "Enable radix 7,11,13 for OpenCL FFTs"
This is in the develop branch right now: https://github.com/clMathLibraries/clFFT/pull/142

[2016-04-14 18:56] mlloreda opened #1384 "NVCC does not support Apple Clang version 8.x"
Error message: `nvcc fatal   : The version ('80000') of the host compiler ('Apple clang') is not supported`

Steps to fix:
1. Log in to https://developer.apple.com/downloads/
2. Download [Xcode CLT (Command Line Tools) 7.3](http://adcdownload.apple.com/Developer_Tools/Command_Line_Tools_OS_X_10.11_for_Xcode_7.3/Command_Line_Tools_OS_X_10.11_for_Xcode_7.3.dmg)
3. Install CLT
4. Run `sudo xcode-sele

[2016-04-15 17:06] shehzan10 commented on #1175
It looks like this is happening when destroying graphics resources. Can you try setting the environment variable `AF_DISABLE_GRAPHICS=1` and try it again?

[2016-04-18 12:51] grzegorz-gutowski opened #1386 "rgb2gray misbehaves for non-float inputs"
The following code:
`auto rgb = af::array(10, 10, 3, af_dtype::u8);`
`auto gray = af::rgb2gray(rgb);`
gives wrong values and segfaults.
I think that the implementation of `rgb2gray` wrongly uses array `in`, where it should use `input` (which is `in` cast to float) (lines 45-47 in arrayfire/src/api/c/rgb_gray.cpp).

[2016-04-18 14:29] pavanky commented on #1386
@grzegorz-gutowski Can you check if the PR fixes the problems on your end.

[2016-04-18 17:14] shehzan10 commented on #394
Although there is a different function for stable_sort_by_key in boost compute, the regular sort_by_key is also stable.

[2016-04-18 17:14] #394 closed

[2016-04-19 01:47] pavanky commented on #1386
Fixed in hotfix-3.3.2 branch.

[2016-04-19 01:47] #1386 closed

[2016-04-19 08:56] maciej-bendkowski opened #1388 "GPU-dependent sudden fftConvolve slow down"
Profiling a mean filter implementation, I noticed a sudden slow down in fftConvolve applied to a single channel image with a kernel of size 109x109 (constant(1,kernel_size,kernel_size) / (kernel_size * kernel_size)). Using a Tesla C250 2688MB with compute 2.0 the profiled convolution took about 300 us. After a certain (large but always constant) amount of frames, the same convolution took up to 60

[2016-04-19 12:27] pavanky commented on #1388
@maciej-bendkowski How are you timing the code ? If you are not calling `af::sync()` explicitly before the end of the timer, you are only noticing the time it takes to **launch** the CUDA kernels, not finish them.

On older hardware (such as the Tesla C2050), the calls become synchronous after the queue gets to a certain length. This may be the reason you are seeing proper times after queuing up c

[2016-04-19 13:19] maciej-bendkowski commented on #1388
@pavanky I was not synchronizing the device explicitly - thank you for your suggestion. Synchronization yields a steady ~6300 us, which seems to be in accordance with the previous observations. That being said, is there a way I can look up the current task queue size, so to confirm the issue?

[2016-04-19 15:07] pavanky commented on #1388
@maciej-bendkowski There could be various limitations to this queue size. I don't recall any documentation for this, but just know it from experience and talking to other CUDA programmers.

You could run the program in the NVIDIA profiler to get better information.

I am closing the issue because the original question has been answered.

[2016-04-19 15:07] #1388 closed

[2016-04-19 15:18] maciej-bendkowski commented on #1388
@pavanky Thank you.

[2016-04-23 17:36] pavanky opened #1390 "Improve OpenCL sort_by_key when performing descending sort"
This will be fixed upstream:
https://github.com/boostorg/compute/pull/593

Include it in 3.4.0

[2016-04-24 09:14] pavanky commented on #1358
Fixed in hotfix-3.3.2

[2016-04-24 09:14] #1358 closed

[2016-04-24 09:26] pavanky commented on #1072
@jramapuram for the first function, are you talking about a random shuffle ?

[2016-04-24 09:27] pavanky commented on #1054
@andreabedini Sorry about not checking back. Is this still an issue.

[2016-04-24 09:37] #573 closed

[2016-04-24 09:45] jramapuram commented on #1072
Yup, random shuffle (something like knuth shuffle) but on rows (or columns) instead of fully random of all elements. This is needed for shuffling training data instances for example.

[2016-04-24 17:00] shehzan10 commented on #1072
Just thinking about it, it can be done using sort_index/sort_by_key. If you want to randomize the indices per column, this is something you can do.
[code]

Explanation: The shuffled_indices actually start as a range of [0, dim(0)] repeated for every column. Since the randomizer has different values for every column, the shuffled_indices come out to be shuffled based on the randomizer.

If you dont

[2016-04-24 17:53] jramapuram commented on #1072
@shehzan10 : Will this be faster than the method below?
[code]

[2016-04-25 17:34] ZacDiggum opened #1392 "integrated / dedicated GPU crash"
Hi,
my system has an Intel HD 4600 iGPU and an R390X dGPU. When one screen is connected to the dGPU only or two screens are connected to the iGPU and the dGPU respectively, everything works fine. When one screen is connected to the iGPU only, arrayfire_python crashes with:
`OSError: exception: access violation writing 0x0000000000000000`
and examples from arrayfire's install folder also crash.
I t

[2016-04-25 17:46] pavanky commented on #1392
@ZacDiggum can you test our nogl installer from here:
http://ci.arrayfire.org/userContent/Windows/ArrayFire-no-gl-v3.3.1-f53efc3.exe

[2016-04-25 17:47] jramapuram commented on #1054
@pavanky : yes this is till an issue. This seems to be the issue that I see here https://github.com/arrayfire/arrayfire-rust/issues/60#issuecomment-214251484

Seems to be OpenCL on Nvidia on OSX

[code]

[2016-04-25 17:58] ZacDiggum commented on #1392
Yep, that one works without problems. Thanks, I'll keep that in mind.

[2016-04-25 18:02] #1392 closed

[2016-04-25 20:20] pavanky commented on #1392
Related to https://github.com/arrayfire/arrayfire/issues/1276

[2016-04-25 22:21] shehzan10 commented on #1072
I'm not completely sure. If you can give me the benchmark time of the function for the sizes you are testing, I can probably give you a better answer.

Also are you looking to to shuffle it in a particular order? Or is it a matter more random is good.

You should be able to test it yourself once the v3.3.2 installers are out (probably on 4/26/2016).

[2016-04-26 15:42] Botev opened #1396 "Make reductions a JIT function"
An example of this is if we have two matricies A-mxk, and B-nxk then the results i a matrix C-mxn, such that:
`C_i_j=sum_k f(A_m_k, B_n,k)`
for some function `f`. Note that if `f` is identity this is just GEMM.
Here is @pavanky gist for the example: https://gist.github.com/pavanky/5c2ee34314e20605625bdc7b2bc54fea

[2016-04-27 17:41] pavanky opened #1398 "Bug in af::seq when using floating point numbers"
`af::seq(0, 2.9, 0.1)` returns only 20 elements.

A possible work around for now:

[code]

[2016-04-27 19:13] pavanky opened #1399 "Implement range and iota as JIT operations."

[2016-04-27 19:19] pavanky opened #1400 "Use nvrtc for CUDA JIT"

[2016-04-27 19:20] pavanky opened #1401 "JIT improvements for 3.4.0"
place holder issue to track JIT improvements for 3.4.0

Convert to JIT:
- [ ] [Reductions](https://github.com/arrayfire/arrayfire/issues/1396)
- [ ] [range and iota](https://github.com/arrayfire/arrayfire/issues/1399)
- [ ] [select](https://github.com/arrayfire/arrayfire/issues/1345)

New functions:
- [ ] [clamp](https://github.com/arrayfire/arrayfire/issues/1370)

Behavior changes:
- [ ] [Compili

[2016-04-27 19:21] pavanky commented on #1401
@arrayfire/core-devel any other suggestions we can think of ?

[2016-04-27 19:39] FilipeMaia commented on #482
Any hope of getting this in 3.4.0?

[2016-04-27 19:54] pavanky commented on #482
@FilipeMaia I'll try. But this probably won't help anything python related.

[2016-04-27 19:59] FilipeMaia commented on #482
@pavanky Why not? Wouldn't I be able to get array indexing operations return array references?

[2016-04-27 20:08] pavanky commented on #482
@FilipeMaia This issue is for tracking the C++ implementation. I am not sure any changes are required in the C API. I could be wrong

[2016-04-27 21:33] FilipeMaia commented on #482
@pavanky

[code]

[2016-04-27 21:50] pavanky commented on #482
@FilipeMaia We can do this by using temporary memory right in the C++ API without changing the behavior of C API (I think).

[2016-04-27 21:55] FilipeMaia commented on #482
@pavanky It seems to me that `array::array_proxy` would have something to do with this but I remember being told not to use it.
If I can get this and be able to pass `B` around to other functions (as a an array reference not as an array) and stuff that would be great.

[2016-04-29 00:30] pavanky opened #1402 "Improved error messages and fallback options graphics functions"
Right now trying to run graphics example on CUDA GPUs without display attached fail with [errors such as these](https://github.com/arrayfire/arrayfire-python/issues/78).

We should look into providing a warning message about GL sharing being unavailable and that it is using fallback instead.

We can sort of do that in OpenCL backend by setting a flag, but the CUDA backend has no such option.

[2016-04-29 00:32] pavanky opened #1403 "Integrate with new Forge APIs"
May need deprecation of existing API and adding of new graphics API in arrayfire.

[2016-04-29 21:33] drufat opened #1405 "Initialize from an existing memory buffer with the CPU backend without copying"
I would like to use arrayfire with the CPU backend, and I am unsure about how to avoid data copying. Is it possible for arrayfire to use an existing memory buffer without copying its content? Essentially, I am looking to create a "view" over existing preallocated data that will allow me to use the functionality that arrayfire provides without having to copy back and forth between my own representa

[2016-04-29 21:38] pavanky commented on #1405
@drufat

You can avoid additional copy at the beginning and the end by doing the following in the CPU backend:

[code]

[2016-04-29 21:38] #1405 closed

[2016-04-29 21:40] pavanky commented on #1405
This works because `afHost` performs an additional copy, where as `afDevice` just wraps an existing pointer.

[2016-04-29 21:43] pavanky commented on #1405
As for creating view, it may be more complicated than that. We have an open issue to tackle that issue: https://github.com/arrayfire/arrayfire/issues/482

[2016-04-29 21:49] drufat commented on #1405
Using `Y.device<float>()` would make it hard to seamlessly switch backends though. When using the CPU backend your function would return a pointer to host memory, whereas when using the GPU backend it would return a pointer to device memory. I was hoping to be able to run the same code both on the CPU and the GPU without making any changes to the source code.

[2016-04-29 21:56] pavanky commented on #1405
@drufat
The current behavior is to keep the API consistent..

- If you use `A.host<T>()` in any backend, modifying the data pointed to does not modify the original array.

- If you use `A.device<T>()` in any backend, modifying the data pointed to modifies the original array.

If we implemented what you are asking, you still have special behavior for one specific backend. You are still handling CPU

[2016-04-30 13:33] drufat commented on #1405
Thank you for the explanation.

[2016-05-02 13:39] grzegorz-herman opened #1406 "size_of is missing a case for u64"
The internal function `size_of(const dtype)` does not have a case for `u64`. Moreover, the default returns `sizeof(float)` instead of failing.

In consequence, bad things happen when the function is used with this data type. For example, calling `pinned(count, u64)` does *not* fail, but allocates only *half* of the memory requested -- an error which might be really hard to debug!

As a side note,

[2016-05-02 13:52] pavanky commented on #1406
@shehzan10 There are *two* size_of functions internally. The one retunring array::bytes() has u64/s64. The one being used for `af::alloc` does not.

@grzegorz-herman We have fall back options for this. If you know the data type ahead of time, use `af::alloc<T>(count)`. If you do not, use `af::alloc(arr.bytes(), u8);`

[2016-05-02 13:53] pavanky commented on #1406
@grzegorz-herman Whatever I said about `af::alloc` is true for `af::pinned` as well.

[2016-05-02 14:11] grzegorz-herman commented on #1406
@pavanky The first workaround does not work: `af::pinned<T>` is not instantiated for `unsigned long long`. And if it were, it would end up making the same mistake (this is how I encountered the issue). The second workaround works fine only if the element count comes from another `array`.

[2016-05-02 14:50] pavanky commented on #1406
@grzegorz-herman Hmm. When we pushed 64 bit int support, it looks like we only went into the C API thoroughly. The C++ API has some loose ends.

[2016-05-02 14:56] pavanky commented on #1406
@grzegorz-herman btw the template can be instantiated in user code.

[code]

[2016-05-02 15:00] pavanky commented on #1406
Ah I see the above code will still have the same problem.

you can try this

[code]

[2016-05-04 20:41] #1398 closed

[2016-05-04 20:41] #1406 closed

[2016-05-09 23:02] pavanky opened #1410 "unwrap much slower on CUDA compared to OpenCL on same GPU"
Code to reproduce:

[code]

-------

**Results**

OpenCL:
[code]

CUDA:
[code]

[2016-05-09 23:24] shehzan10 commented on #1410
Caused by using dim_t (x64: long long int) in CUDA Kernels. Causes performance regression.
Also applies to approx, wrap.

[2016-05-12 00:06] shehzan10 opened #1413 "Bug in timeit"
`timeit` is giving incorrect results. There are the following issues:
* Its taking the minimum time
* It might not sun a significant number of iterations
* This can result in weird results.

Sample code to reproduce
[code]

[2016-05-12 16:40] shehzan10 commented on #1402
We could run [cudaGLGetDevices](http://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__OPENGL.html#group__CUDART__OPENGL_1g3471ecaa5b827c94f2c55ab51fde1751) to check if CUDA-OpenGL interop is available.

[2016-05-12 18:29] pavanky commented on #1402
@shehzan10 go ahead and do it :+1:

[2016-05-14 05:55] #1346 closed

[2016-05-14 05:55] #1410 closed

[2016-05-15 22:58] #1402 closed

[2016-05-16 08:34] WilliamTambellini opened #1417 "Crash in machine_learning/neural_network_cpu TNJ::BinaryNode"
Got random crashes in  machine_learning/neural_network_cpu
using AF3.3.1 examples compiled with gcc 4.8 64b under centos7:

[code]

[2016-05-16 09:53] pavanky commented on #1417
@WilliamTambellini can you try running the example with the following environment variable set?

`export AF_SYNCHRONOUS_CALLS=1`

[2016-05-16 20:44] AEHousman opened #1418 "gray2rgb() should work for images of size Nx1 (and 1x1) too"
currently, gray2rgb() requires numdims() == 2, which appears to be an unnecessary restriction.

There's a workaround for the Nx1 case (out = gray2rgb(in.T()).T(), but that fails if in is 1x1.

[2016-05-17 02:34] WilliamTambellini commented on #1417
Hi Pavan
Yep it works when forcing sync calls.
Thanks
WT.

[2016-05-17 04:15] pavanky commented on #1417
@WilliamTambellini We noticed a similar bug was occurring on compilers older than gcc 4.8.4. With arrayfire 3.3.2, we now throw a warning and prompt the user to disable asynchronous build for cpus.

[2016-05-17 04:15] #1417 closed

[2016-05-17 06:37] Brainiarc7 opened #1419 "Linear Algebra is disabled on OpenCL"
Hello there,

I'm currently running an Arrayfire benchmark on some new hardware and I'm coming across this error:

ArrayFire Exception (Function not configured to build:302):
In function cholesky
In file src/backend/opencl/cholesky.cpp:92
Linear Algebra is disabled on OpenCL

In function int af::cholesky(af::array&, const af::array&, bool)
In file src/api/cpp/lapack.cpp:86

Is there a way I can co

[2016-05-17 10:47] pavanky commented on #1419
@Brainiarc7 Linear algebra is disabled if CPU backend or OpenCL backend can not find `liblapacke` library on Linux.

[2016-05-17 12:36] Brainiarc7 commented on #1419
Hello,

I have already installed liblapacke on Ubuntu as instructed on the wiki.

Currently running Ubuntu 16.04

[2016-05-17 13:31] shehzan10 commented on #1419
Did you install liblapack too?

Can you paste the output of `cmake -LA | grep -i lapack` and `cmake -LA | grep -i blas`.

[2016-05-17 14:05] #1413 closed

[2016-05-17 14:05] #1418 closed

[2016-05-17 18:13] shehzan10 commented on #1419
Can you edit `CMakeModules/FindLAPACKE.cmake` and before the last `MARK_AS_ADVANCED`, add:

[code]

[2016-05-17 20:31] mchandra opened #1421 "How to compute over a subset of an array"
Consider the following arrays

[code]

How does one compute `c = a + b`, but only over a select few points, say those stored in a separate `array indices`. Something like:

[code]

The idea is to avoid doing the computation over the whole `256 x 256 x 256` domain, and instead do it only over `indices` which in our case is much lesser than the full domain.

[2016-05-17 20:33] shehzan10 commented on #1421
[indexing documentation](http://arrayfire.org/docs/indexing.htm)?

[2016-05-17 20:37] mchandra commented on #1421
Ah, thanks! Will try that out.

[2016-05-17 20:45] pavanky commented on #1421
@mchandra you actually gave the solution yourself :-/ `array c = a(indices) + b(indices);` works.

[2016-05-17 20:45] #1421 closed

[2016-05-18 00:32] Brainiarc7 commented on #1419
Here you go:

LAPACKE_ROOT_DIR   :
LAPACK_INCLUDES    :
LAPACKE_INCLUDES   :   /usr/include
LAPACKE_INCLUDE_DIR:
LAPACK_LIB         :
LAPACKE_LIB        :   /usr/lib/liblapacke.so;/usr/lib/liblapack.so;/usr/lib/libblas.so
LAPACK_LIBRARIES   :
CMake Warning at src/backend/cpu/CMakeLists.txt:75 (MESSAGE):
  LAPACK not found.  Functionality will be disabled

[2016-05-18 00:44] shehzan10 commented on #1419
I'm not entirely sure whether you set those manually.
If one of `LAPACKE_LIB` or `LAPACK_LIB` are not defined, then `LAPACK_LIBRARIES` is not defined ([source](https://github.com/arrayfire/arrayfire/blob/devel/CMakeModules/FindLAPACKE.cmake#L146)) - and `LAPACK_LIBRARIES` are required by the argument handler.

So if you are defining those manually, you are better of defining `LAPACK_LIBRARIES` and

[2016-05-18 08:37] marbre commented on #1419
I have a similar issue while trying to upgrade the Gentoo ebuild to arrayfire 3.3.2:

[code]

The changes pushed with commit d4fb656e09dd89994ae65bf643cfefe2f58f3f47 to `CMakeModules/FindLAPACKE.cmake` cause the problem. `LAPACKE_LIB` is set, but since `LAPACK_LIB` is not, `LAPACK_LIBRARIES` is finally not set.

[2016-05-18 11:20] 9prady9 commented on #1419
@marbre & @Brainiarc7
 We have been able to reproduce this issue on our end and we are looking into it.

[2016-05-18 12:08] 9prady9 commented on #1419
@marbre and @Brainiarc7
As a temporary work around, please try the following patch to arrayfire source and see if that fixes your issue.

[code]

[2016-05-18 12:16] marbre commented on #1419
@9prady9 Thanks for taking care. Unfortunately, the patch does not fix the problem on Gentoo.

[2016-05-18 13:30] Brainiarc7 commented on #1419
Alright, I'll test this patch and provide feedback.

[2016-05-18 13:57] shehzan10 commented on #1419
@marbre the commit you reference is fine. The problem really is that the LAPACK_LIB is not being found because (I think) lapacke is being found using package config and never goes to the else part that actually sets the libraries.

I think the package config part is whats making it not work for @Brainiarc7 too.

The solution for this would be to exclude the `LAPACKE_LIB AND LAPACK_LIB` condition i

[2016-05-18 14:02] shehzan10 commented on #1419
Try this patch
[code]

[2016-05-18 14:12] Brainiarc7 commented on #1419
Will test.

The first build run is still in progress.

[2016-05-18 14:16] marbre commented on #1419
@shehzan10 You are absolutely right, LAPACKE is found by pkgconfig. My first comment on this issue might not have been detailed enough. `SET(LAPACK_LIBRARIES ${LAPACKE_LIB} ${LAPACK_LIB})` was executed unconditionally before commit d4fb656e09dd89994ae65bf643cfefe2f58f3f47, which I wanted to point out.

Your patch solves the problem. I just did not realized that the condition might be change in tha

[2016-05-18 14:17] shehzan10 commented on #1419
Thanks for the update. I'll push the patch.

[2016-05-18 14:39] Brainiarc7 commented on #1419
Hello there,

The patch seems to have corrected the problem.

I can now run LAPACK's Cholesky OpenCL routines with the benchmark utility, thanks.
Will let you know if any other feature test fails :-)

[2016-05-18 14:42] shehzan10 commented on #1356
The part about adding C++ API would require linking with FreeImagePlus. This is generally a different package on most linux distros. I don't have a problem with it, but it is another dependency. So that needs to be taken into consideration.

[2016-05-18 16:15] WilliamTambellini commented on #1417
superb. thanks.

[2016-05-18 21:46] jramapuram commented on #1054
Any update on this? Still an issue on  97e1666

[2016-05-18 21:51] pavanky commented on #1054
@jramapuram any chance you are using a GT 650M GPU ?

[2016-05-18 21:52] jramapuram commented on #1054
Nope 750M

[2016-05-18 21:56] pavanky commented on #1054
OK we'll get on to it ASAP.

[2016-05-18 21:57] jramapuram commented on #1054
Thanks very much! Let me know if you need anything tested

[2016-05-19 21:07] Brainiarc7 commented on #1002
Hello,

Your [documentation](http://arrayfire.org/docs/interop_opencl.htm) still refers to this issue as open.
Please update.

Regards,

Brainiarc7.

[2016-05-19 21:45] pavanky commented on #1002
@Brainiarc7 The docs are going to be fixed for 3.4.0 based on this PR: https://github.com/arrayfire/arrayfire/pull/1422

[2016-05-23 09:13] grzegorz-gutowski opened #1424 "Median operation is not applicable to one-element arrays"
Running the following code:
`auto ar = af::array(1, s32);
auto med = af::median<int>(ar);`
ends with an exception:
`ArrayFire Exception (Invalid input size:203):
In function double median(void* const&) [with T = int; af_array = void*]`

[2016-05-23 13:45] Brainiarc7 commented on #1419
Marking issue as closed as it has been solved by an issued patch.

[2016-05-23 13:59] pavanky commented on #1419
@Brainiarc7 This will be closed when the patch is merged into devel.

[2016-05-23 14:01] Brainiarc7 commented on #1419
Alright, thanks for the notification.

[2016-05-23 19:15] #1419 closed

[2016-05-23 19:15] #1424 closed

[2016-05-23 19:17] pavanky commented on #1390
Clearning the milestone because the performance improvements did not make it to boost compute 1.61

[2016-05-24 21:45] pavanky commented on #1054
Tested some in arrayfire. It looks like the queue may be getting messed up somehow. Not entirely sure how this is happening.

We noticed the following two scenarios:

1) If enough kernels are launched, the failure happens if `getQueue().finish()` is called.

2) Even when calling only one kernel from arrayfire, the issue can be reproduced at
 `getQueue().enqueueReadBuffer()` when printing the outpu

[2016-05-24 21:45] pavanky commented on #1054
Not able to reproduce this in stand alone code used here so far: https://gist.github.com/mlloreda/8f078f4e53877957004feb1f2fc24664

[2016-05-24 21:56] jramapuram commented on #1054
@pavanky : Hmm, maybe the best recourse is to `git bisect` this issue?
This error was not prevalent in 3.0 as far as I remember as I did use CL on Nvidia.

[2016-05-25 00:26] pavanky commented on #1054
@jramapuram There's a similar issue on boost compute: https://github.com/boostorg/compute/issues/615

The error they are seeing is identical to what we are seeing. I think it may have been a driver update that broke this not an arrayfire update.

You could always try older version of arrayfire and see if it works.

[2016-05-25 09:52] jramapuram commented on #1054
@pavanky : It works on 3.0 as stated. Just tried it:
[code]

Here is my cmake output:
[code]

clFFT version:
[code]

[2016-05-25 10:35] pavanky commented on #1054
@jramapuram thank's that'll be helpful!

[2016-05-25 11:56] ranjanan opened #1425 "Fill the output of af_create_indexers with af_span by default"
I wrote the following test program in C (skipped out the function and header files):
[code]
When I set talk about indexing in the second dimension, my index function segfaults at that particular line with the comment. This is because the `create_indexers` creates garbage objects by default.

After a discussion with @9prady9 and @pavanky , it seems that by default, `af_create_indexers` should retur

[2016-05-25 12:31] pavanky commented on #1425
@9prady9 can you write up an example as well in the documentation for this as well ?

[2016-05-25 17:35] pavanky commented on #1054
@jramapuram Can you see the output of `af::info()` ? We changed the order in which GPUs appear sometime after 3.0. You might be running the test on the iris pro..

[2016-05-25 17:52] pavanky commented on #1054
@jramapuram ok I just had @mlloreda test 3.0 on his machine. It works because the default GPU is Iris Pro. If we sent the GPU to nvidia, then the test still fails on 3.0. It looks like an OSX update broke it.

[2016-05-25 18:28] jramapuram commented on #1054
Ah nice, good catch.

[2016-05-26 13:56] FloopCZ opened #1428 "Poor slicing performance compared to NumPy"
ArrayFire slicing seems to suffer from a performance issue. Consider the following python code, that:
- calculates the dot product of two matrices, first using NumPy, than ArrayFire
- calculates each column/row of the dot product separately by slicing a single column/row from one of the matrices

[code]

The results are following:

[code]

The results suggest that with slicing, arrayfire performan

[2016-05-26 14:16] bkloppenborg opened #1429 "[OpenCL] Template specialization in af/opencl.h causing multiple definitions at link time."
The presence of the template specialization for `af::array::device` in `af/opencl.h` precludes the ability to include the header from multiple files as it results in conflicting definitions at link time.

[2016-05-26 14:54] pavanky commented on #1428
Please move the issue to https://github.com/arrayfire/arrayfire-python

[2016-05-26 14:54] #1428 closed

[2016-05-26 15:01] pavanky commented on #1428
Actually I just created it there. We can continue the discussion on https://github.com/arrayfire/arrayfire-python/issues/84

[2016-05-27 21:18] shehzan10 opened #1431 "Support for CUDA 8"
[CUDA 8 Release Candidate](https://developer.nvidia.com/cuda-toolkit) is out.

Check for build and test support.
Also add CUDA Compute 6.0 (Pascal) Architecture support.

[2016-05-27 21:55] shehzan10 commented on #1384
This issue does not affect CUDA >= 8.0

[2016-05-28 08:27] Brainiarc7 commented on #1002
Okay.

[2016-05-30 10:34] 9prady9 commented on #1425
Resolved by #1426

[2016-05-30 10:34] #1425 closed

[2016-05-30 10:42] 9prady9 commented on #1302
This issue seems to be related to improper fontconfig installation. Closing the issue.

@arrayfire/core-devel  May be we can add this information to some OSX page in our documentation ?

[2016-05-30 10:42] #1302 closed

[2016-05-30 18:39] #1431 closed

[2016-05-30 23:49] pavanky commented on #1429
Fixed in devel

[2016-05-30 23:49] #1429 closed

[2016-05-31 14:50] jramapuram commented on #1072
Hey @shehzan10 , so the idea is this right: Generate uniform random values (same dims as matrix). Then sort them (via sort_index) and use that to run `sort_by_key` ?  I'm not quite sure I get how `sort_by_key` 's actual 'key' matrix works. Here is what I tried, but haven't quite been able to get it right [tried a few permutations].

[code]

Results [first is true array, second is randomizer and th

[2016-05-31 15:27] pavanky commented on #1072
@jramapuram

A random shuffle can be implemented like this:

[code]

You don't need 2 sorts.

[2016-05-31 15:32] shehzan10 commented on #1072
It helps to think of the keys+values as a pair. For example, if you want top sort a complex number by just its real component. If the real component is being reordered, the imaginary component will follow the same rule.
The principle also applies to sort_by_key.

@pavanky wouldn't a single sort_by_key be better than sort+indexing?

Here's what I have
[code]

[5 3 1 1]
    0.0000     5.0000    10.0

[2016-05-31 15:34] UniqueFool commented on #1374
On a more general note, it may be worth looking at dynamic kernel-tuning, even if just as a temporary workaround, e.g. using something like [CLTune](https://github.com/CNugteren/CLTune)

[2016-05-31 15:43] UniqueFool commented on #821
It may be also worth taking a look at one of these two libraries, both of which are MIT-licensed and seem to have bleeding-edge sparse matrix support, often even outperforming other alternatives:

https://github.com/ddemidov/vexcl
http://viennacl.sourceforge.net/

[2016-06-01 06:56] pavanky commented on #821
@UniqueFool any links to said benchmarks ?

[2016-06-01 06:59] pavanky commented on #1072
@shehzan10 shuffle needs to preserve rows when shuffling columns and vice versa. You can see that the row `0.7402 0.4464 0.7762` is no longer held together. If we had mixed batch support for sort_by_key we could use what you suggested, but we do not have that at the moment.

[2016-06-01 08:53] UniqueFool commented on #821
I guess, it would be best to ask them directly, because their benchmarks are mentioned in their docs.
Anyway, here's the corresponding ViennaCL benchmark:

http://viennacl.sourceforge.net/viennacl-benchmarks.html

In the case of VexCL, the benchmarks seem to be part of the source tree: http://sbel.wisc.edu/documents/TR-2015-01.pdf

[2016-06-01 10:01] pavanky commented on #821
Looks like VexCL only has SpMV which is technically just a scan_by_key operation.

We'll need to benchmark ViennaCL with cuSparse 7.5 and clSparse to get a better understanding of their capabilities.

[2016-06-01 10:44] UniqueFool commented on #821
They do have a few benchmarks in their repository, i.e. either these could be adapted or used "as is": https://github.com/viennacl/viennacl-dev/tree/master/examples/benchmarks

BTW: Here's a stackoverlow discussion comparing vexCL and viennaCL: http://stackoverflow.com/questions/20154179/differences-between-vexcl-thrust-and-boost-compute

[2016-06-01 10:53] pavanky commented on #821
I am aware of the projects. What was surprising is the claim that they beat cuSparse on NVIDIA hardware. I'll need to verify the results independently.

[2016-06-01 10:55] UniqueFool commented on #821
yes, doing that makes obviously sense before spending any time coding something ...

[2016-06-01 18:13] FloopCZ opened #1437 "Poor performance of CPU copy kernel"
The CPU copy kernel does not use BLAS, it is single threaded and it is very slow. Its speed is worse than matrix multiplication (even though the corresponding complexities are O(n^2) vs O(n^3)). Consequently, this behavior results in poor performance of slicing.

Consider the following code.
1) It creates a clone of matrix A using multiplication by Identity matrix.
2) It creates a clone of matrix

[2016-06-01 20:09] shehzan10 commented on #1437
Not being dismissive about the performance. It does make sense.
What you are seeing is true because:
* MKL is multi-threaded whereas ArrayFire's internal deep copy is sequential. So it is not guaranteed that this will be replicated when compiling with other BLAS libraries (something ArrayFire will continue to support).
* You are using square matrices. I'm not completely sure how this would play ou

[2016-06-01 20:16] shehzan10 commented on #1437
Can you also benchmark std::memcpy by getting the host pointer from the arrays?

[2016-06-01 21:17] FloopCZ commented on #1437
Sure. I have appended the following code:
[code]
And now, the results are following:
[code]

[2016-06-01 21:20] shehzan10 commented on #1437
Oh you are not copying it, it's just getting the pointer. You should do
[code]

[2016-06-01 21:24] FloopCZ commented on #1437
Sorry for that. I have fixed the code and the results are following:
[code]
I do not actually think you do use the std::memcpy internally. If I analyze the code correctly, you use the following nested loops:
[https://github.com/arrayfire/arrayfire/blob/0caaefd8ae2519aa716811dc87a58ae7fb885cd3/src/backend/cpu/kernel/copy.hpp#L40-85](url)

[2016-06-01 21:51] FloopCZ commented on #1437
Additionally, I believe that calling A.host() copies the data already:
https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/array.cpp#L29-51
so the results might be significantly biased. The first set of results, where only a single memcpy is performed, might be more accurate and it is also in accordance with Python's NumPy:
[code]
Results:
[code]

[2016-06-02 01:39] pavanky commented on #1437
@FloopCZ you are right. `A.host` performs a memcpy. `A.device` just returns a pointer.

[2016-06-02 11:37] UniqueFool opened #1439 "docker image ?"
According to github, there have been several attempts at providing a docker image for arrayfire, e.g.: https://github.com/ozzyjohnson/docker-arrayfire

Many of these are meanwhile outdated - and it used to be really tedious to provide such images because nvidia didn't provide OpenCL support - as of 2 weeks ago, there is now experimental OpenCL support for nvidia docker images: https://github.com/N

[2016-06-02 15:43] FloopCZ commented on #1437
Thank you for the fix, however, it only fixes the case of af::array::copy() function. It does not help with the slicing performance, not even when an entire array is spanned. Consider the following code:
[code]
and a more complicated case where the sliced array is not even linear, but still it could be copied column by column:
[code]
Performance of both these cases is still terribly poor:
[code]
I

[2016-06-02 15:55] pavanky commented on #1437
@FloopCZ I know, I was working on that yesterday before I had to sleep.

[2016-06-02 16:39] UniqueFool opened #1441 "ANN/machine learning specific backends ?"
One of the more common/most useful use cases for arrayfire is undoubtedly machine learning using ANNs, and in fact, even the docs/examples specifically discuss artificial neural networks, and @unbornchikken [confirmed that arrayfire works very well](https://github.com/arrayfire/arrayfire-js/issues/10) for this particular use case.

In addition, there is a separate project implementing a deep learn

[2016-06-02 16:41] pavanky commented on #1441
@UniqueFool we want to grow [arrayfire-ml](https://github.com/arrayfire/arrayfire-ml) to be that.

[2016-06-02 16:41] #1441 closed

[2016-06-02 17:12] UniqueFool commented on #1441
ok, thanks for clarifying - I wasn't aware of that obviously. At least the idea wasn't totally novel (or bad) then ;-)

[2016-06-02 19:25] cmyr commented on #292
I had this same issue, and it was also a broken link: the correct target was in `$AMDAPPSDKROOT/lib/x86_64/sdk`. after `ln -sf sdk/libOpenCL.so.1 libOpenCL.so` make install worked correctly.

[2016-06-03 02:00] Reithan opened #1442 "Convolve3 Produces an Error is the Z-Dimension is 1"
When using ```af::convolve3```, if the 3rd dimension of either the signal or filter (dim 2), is 1, it will produce an error.

Easy repro:

[code]

[2016-06-03 05:48] pavanky opened #1443 "Increase the maximum number of fft caches"
100 may be?

[2016-06-03 06:27] 9prady9 commented on #1443
I think, the memory usage will bump up if we do this. Won't it ?

May be we can give a function and let the user play with the plan cache size?

[2016-06-03 07:37] pavanky commented on #1443
I don't think it will. Can you investigate on nvidia gpu + nvidia-smi ?

[2016-06-03 09:52] 9prady9 commented on #1443
Actually, cuFFT has a API function [`cufftGetSize`](http://docs.nvidia.com/cuda/cufft/#function-cufftgetsize) that i added in our plan cacher to spit out work area sizes for each plan we create for the following test example. You can find the example code output below as well.

[code]

[code]
The work area size seems to be increasing with the size of inputs.

[2016-06-03 15:28] pavanky commented on #1443
Can you check for larger sizes (like 4096 x 4096) ?

[2016-06-03 16:40] pavanky commented on #1437
Fixed in devel. Thanks @FloopCZ

[2016-06-03 16:40] #1437 closed

[2016-06-03 22:15] AEHousman opened #1446 "Add a bit more hair to the window support"
I would like to be able to get keypress events and mouse events (motion and button) inside the !mywin.close() loop.

If you don't want to support callbacks, then the alternative is to poll if there's an event and then get the event information.

[2016-06-03 22:21] shehzan10 commented on #1446
All of ArrayFire's graphics support comes from [Forge](https://github.com/arrayfire/forge).
There is already an issue on Forge to deal with [event handling](https://github.com/arrayfire/forge/issues/41). I believe there has already been some work done on this and is in progress.

We are looking into when we can add it into ArrayFire as there is a significant change in API, some of which will resul

[2016-06-03 22:25] pavanky commented on #1446
Don't close this until we have it in arrayfire.

[2016-06-04 18:09] FloopCZ opened #1449 "Poor performance of basic operations on CPU"
Although arrayfire/arrayfire#1440 increased the performance of my ArrayFire code about 6 times, it is still about 3 times slower than its NumPy version (written in Python). Consider the following simple operations:
[code]
Their direct NumPy counterparts are:
[code]
Let us measure the performance in both ArrayFire and NumPy by repeating the operations 10000 times on matrices of size 512x512.
Arrayf

[2016-06-04 21:44] pavanky commented on #1449
This is a [known issue](https://github.com/arrayfire/arrayfire/issues/1226). We did not target CPU backend for performance. It was a fallback option if CUDA and OpenCL were not available on the machine. OpenCL on CPU gives the desired performance in most cases.

That said we are addressing some of that for 3.4.0.

Closing because it is a duplicate.

[2016-06-04 21:44] #1449 closed

[2016-06-04 23:58] FloopCZ commented on #1449
Ok, that sounds reasonable. Unfortunately, for me, the OpenCL backend has similar performance on the simple operations, plus the matrix multiplication is incredibly slow:
[code]
Using htop, I can see that the CPU is running on full power on all 8 virtual threads, however, the real time is very slow anyway.

Using OpenCL on GPU, the results are slightly better, but still slow (at least compared to

[2016-06-05 04:10] pavanky commented on #1449
1) you are getting 2.8s for 10000 iterations. That is about 0.28ms per iteration. There's overhead of launching kernels and other things associated when using OpenCL. At smaller sizes like 512 x 512, the times you are seeing have large kernel launch overheads.

2) There is also an issue with OpenCL backend compiling the kernels on the fly. Can you try running the tests *once* (including evals) bef

[2016-06-05 04:27] pavanky commented on #1449
I tried to benchmark the code my machine with these changes. It looks like numpy is faster than CPU + OpenCL even after this. But something I noticed was that numpy's `np.sum(A, d)` would be equivalent of `af::sum(A, A.dims() - d)` because of the way memory is laid out. When I changed the arrayfire code to use `af::sum(A, 1)` in arrayfire, here are some results (I ended up using 1000 iterations in

[2016-06-05 11:40] FloopCZ commented on #1449
Thank you for such a thorough answer!

1) The proper coalescing (summing rows instead of columns) indeed significantly improved the performance of my code. Thanks for reminding me of that!

2) AF_OPENCL_CPU_OFFLOAD=1 improved the performance of matrix multiplication on CPU. In my opinion, it should be turned on by default when the device is CPU. One does not expect matrix multiplication to be 20x

[2016-06-05 20:47] pavanky commented on #1449
Our opinion is the OpenCL backend gets you most of the way there until we improve the CPU backend.

Intel's OpenCL implementation is opaque to us. AFAIK, there's no way to control this.

ArrayFire really thrives when you are using multiple matrices / arrays simultaneously. Are you always working with one small matrix at a time ?

[2016-06-05 21:37] UniqueFool commented on #1449
that is correct, OpenCL merely gives you functional compatibility, but doesn't provide performance-compatibility - which makes sense actually, kernels will typically need to be customized for different back-ends, as they tend to contain lots of backend/hardware-specific assumptions depending on the platform they're written for

OpenCL is basically a problem-specification thing, and if the problem

[2016-06-05 22:09] mchandra commented on #1449
4) On both my computers, the OpenCL backend produces drastically different (and wrong) results than CPU and CUDA backends (on both CPU and GPU). But that is for another issue report.

^That is worrisome.

[2016-06-05 22:15] UniqueFool commented on #1449
http://arxiv.org/pdf/1503.06532.pdf

ing hundreds or more of short kernels. OpenMP is
traditionally used to run longer-running code segme
nts in parallel, which would lessen relative thread
management  costs.  [...] OpenCL does invo
lve more programming overhead. The  steeper
learning  curve  and the  need  to  perform more setup  a
re  an inherent  part  of  working  with  a system
designed  prim

[2016-06-06 00:07] AEHousman opened #1450 "array.device is sometimes returning raw pointers"
I am mixing CUDA and arrayfire code extensively. I am using CUDA surface objects, so I need to do a copy from the arrayfire device memory to the cuda array memory. Currently, I'm using cudaMemcpy3D(), and I am assuming that the arrayfire data is in packed form, in H x W x C order (height varies first.) I'm using float32 elements here.

Here's the code I use:

[code]

I use the following to get the

[2016-06-06 00:11] pavanky commented on #1449
I'd rather wait until there is a bug report.

[2016-06-06 00:13] pavanky commented on #1450
@AEHousman What version of arrayfire are you using?

[2016-06-06 00:16] AEHousman commented on #1450
Arrayfire 3.3.2 (CUDA, 64-bit windows, build f65dd97)
Platform: CUDA Toolkit 7.5, Driver: CUDA Driver Version: 8000
[0] GeForce GTX 970, 4096 MB, CUDA Compute 5.2

[2016-06-06 00:23] AEHousman commented on #1450
If you need me to, I can pull together a test case you can run. I thought I'd ask the question first, since if the answer is, no the array data isn't always packed, then that's clearly the issue.

[2016-06-06 00:34] AEHousman commented on #1450
Okay I found a workaround.

If I do `in = subwindow(in).copy();` things work. Ditto if I change subwindow to:

[code]

What's going on?

[2016-06-06 00:40] pavanky commented on #1450
@AEHousman Hmm. This shouldn't happen in 3.3.2. We implemented [this feature](https://github.com/arrayfire/arrayfire/issues/1131) for 3.3.2 that should have fixed the issue. But if it is still happening, then it is a bug that we need to fix.

In any case, the best way to handle this (if you don't want additional copies) is to call `getRawPtr(in)`, along with `getOffset(in)` and `getStrides(in)` wh

[2016-06-06 00:42] pavanky commented on #1450
`.device()` is supposed to perform the memory copy when it is called on indexed arrays. If you are calling an additional copy, something is broken and needs to be fixed.

Once fixed, you can use `.device<>` if you prefer simplicity, or use the technique mentioned in the previous comment if you prefer performance.

[2016-06-06 00:44] AEHousman commented on #1450
ooh, thanks! I'll go change my code to use getRawPtr() et. al.

[2016-06-06 00:46] pavanky commented on #1450
FYI `strides[d]` will tell you the distance between consecutive elements along dimension `d`.

[2016-06-06 00:52] AEHousman commented on #1450
Hmm, I'm still looking for getRawPtr, getOffset, strides[] -- do I need to include something other than arrayfire.h ?

[2016-06-06 00:55] pavanky commented on #1450
Ah sorry, include `af/internal.h`.

Since this exposes the internals directly, we only wanted people to use them when they *really* need it and know what they are doing :)

This is, though very unlikely, the behavior of these functions may change slightly in the future.

We will document them once we feel like the internal layout is not going to change.

[2016-06-06 01:00] AEHousman commented on #1450
OK, thanks. Since cudaMemcpy3D only allows you to specify one stride (wtf, Nvidia??) I suspect I'll need to make an explicit copy whenever getStrides() returns something that cudaMemcpy3D can't handle.

[2016-06-06 14:31] HaDeP opened #1451 "Failed to build forge on Ubuntu 15.10"
Hi,

I'm trying to build ArrayFire. Cmake worked like a charm but the make command failed with:

root@deadman:/home/deadman/Downloads/arrayfire/build# make
Scanning dependencies of target forge-ext
[  0%] Creating directories for 'forge-ext'
[  0%] Performing download step (git clone) for 'forge-ext'
Cloning into 'forge-ext'...
Switched to a new branch 'master'
Branch master set up to track remote

[2016-06-06 14:42] 9prady9 commented on #1451
@HaDeP Attached make output doesn't say anything about why forge failed to build, can you run the command `make VERBOSE=1` and see if the output shows anything about why forge failed to build ?

[2016-06-06 16:18] HaDeP commented on #1451
Thanks 9prady9 for the comment. Running `make VERBOSE=1` doesn't seem to give me an additional hint why forge failed to build. Everything is doing well until:

[  0%] Performing update step for 'forge-ext'
cd /home/deadman/Downloads/arrayfire/build/third_party/forge/src/forge-ext && -DCMAKE_SOURCE_DIR:PATH=/home/deadman/Downloads/arrayfire/build/third_party/forge/src/forge-ext
/bin/sh: 1: -DCMAKE_

[2016-06-06 16:22] shehzan10 commented on #1451
I assume you are using the arrayfire devel branch to build from source.

Can you print the output of `cmake -LA | grep -i GL`.

Also, to just build forge you can do `make forge-ext`. That way other ArrayFire targets are not built and mix the output.

[2016-06-06 16:40] HaDeP commented on #1451
Thanks @shehzan10 for the comment. The output you asked for:
-- Removing /home/deadman/Downloads/arrayfire/test/gloh_nonfree.cpp from ctest
-- Removing /home/deadman/Downloads/arrayfire/test/gloh_nonfree.cpp from ctest
BUILD_SINGLE_TEST_FILE:BOOL=OFF
GLEW_INCLUDE_DIR:PATH=/usr/include
GLEWmxd_LIBRARY:FILEPATH=/usr/lib64/libGLEWmx.so
GLEWmxs_LIBRARY:FILEPATH=/usr/lib64/libGLEWmx.a
OPENGL_INCLUDE_DI

[2016-06-06 16:42] shehzan10 commented on #1451
Can you also print the one from Forge?
If you want you can run it without the pipe-to-grep and paste the output here or link a gist with the output.

[2016-06-06 17:16] HaDeP commented on #1451
Sure:

-- The C compiler identification is GNU 5.2.1
-- The CXX compiler identification is GNU 5.2.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check

[2016-06-06 17:25] shehzan10 commented on #1451
@9prady9 maybe we should have a way to make this error more verbose when used with ArrayFire.

[2016-06-06 17:42] HaDeP commented on #1451
Well, well ... my fault then ... I had the lib in my system but the path was messed up. Build fontconfig again and now it works as it should.
Thanks to both of you and sorry for the inconvenience.

[2016-06-06 17:43] shehzan10 commented on #1451
Sure, no problem.
We'll leave this issue open to investigate how we can best get the errors to show up better.

[2016-06-07 03:13] Reithan opened #1452 "NVidia driver crash on reorder with bad sequences."
The code:

[code]

Produces a crash on NVidia with OpenCL on driver 368.22 on a GTX 970.

[2016-06-08 21:15] UniqueFool opened #1455 "using a bindings generator (SWIG) ?"
@shehzan10 mentioned that it would be more appropriate to raise this question here, referring to https://github.com/arrayfire/arrayfire-project-templates/issues/6#issuecomment-224666909

Thank you

[2016-06-08 23:50] pavanky commented on #1455
@UniqueFool SWIG offers a quick (and in my opinion dirty) way to get started with a new language wrapper. We did not go down that route because the estimated time to write a SWIG wrapper + customize it for the language + add language specific extensions was not that much faster than doing it using the language's FFI.

But if this something others are showing interest in, we could look into this in

[2016-06-09 20:24] #1443 closed

[2016-06-09 20:24] #1442 closed

[2016-06-13 18:36] pavanky opened #1457 "Make AMD platform to be consistent with the rest"
Currently it is set to 16 for AMD, but 20 for everything else. This is because the program seems to be hanging when calling `clBuildProgram` for larger kernels.

[2016-06-13 18:36] pavanky commented on #1457
I have not been able to reproduce this in stand alone code.

[2016-06-13 18:40] pavanky commented on #1029
@rggjan This is now possible by creating your own OpenCL-OpenGL interop context and adding it to arrayfire.

@bkloppenborg has an example [over here](https://github.com/bkloppenborg/arrayfire-interop-examples/blob/master/opengl/afopengl-opencl.cpp).

We are going to create a blog post / tutorial out of it at some point. I am closing this issue for now. If you feel like this does not resolve your p

[2016-06-13 18:40] #1029 closed

[2016-06-14 07:41] rggjan commented on #1029
Awesome, thanks :)

[2016-06-14 19:38] #1344 closed

[2016-06-15 08:28] helian3699 opened #1458 "Arrayfire in FPGA"
I want to know how to use Arrayfire in FPGA by use SDAccel?
In SDAccel, It just say they can support Arrayfire library but do not introduction how to use Arrayfire.

[2016-06-15 11:07] frank-otto opened #1459 "Errors when CUDA-MPS is active"
Hi,
when the NVIDIA CUDA Multi Process Service (MPS) is active, I encounter two problems:
a) the opencl backend doesn't work
b) the unified backend cannot invoke the cuda backend

To reproduce, run "nvidia-cuda-mps-control -d" as root, then test with the "examples/helloworld":
- helloworld_cpu works
- helloworld_cuda works
- helloworld_opencl yields error:
[code]

- helloworld_unified yields error

[2016-06-15 19:51] pavanky commented on #1459
@frank-otto I have been able to reproduce the OpenCL issue but not the unified backend. Can you double check if unified still fails? Could it potentially be someone else was using the GPU simultaneously?

[2016-06-15 20:08] pavanky commented on #1459
Verified the following  stand alone code works but opencl backend fails with `nvidia-cuda-mps-control -d` running

[code]

[2016-06-15 20:23] pavanky commented on #1459
Able to reproduce the same problem using this stand alone code.
[code]

[2016-06-15 20:31] pavanky commented on #1459
After having looked into `cl.hpp` and `cl2.hpp`, the problem seems to be `clCreateContext` (in failure case) vs `clCreateContextFromType` (in working case). This is most likely an NVIDIA bug that I am skeptical that they will fix.

We could change our device manager to use `clCreateContextFromType`, but that would create OpenCL contexts with more than 1 device which is different from 1 device to 1

[2016-06-15 20:47] pavanky commented on #1459
Nevermind, I was testing this incorrectly. Even the first C++ code segment I posted is failing now.

[2016-06-15 20:49] pavanky commented on #1459
@frank-otto can you test the first stand alone code snippet on your machine ? This could potentially be NVIDIA blocking all non CUDA applications running when this daemon is enabled.

[2016-06-16 15:00] #388 closed

[2016-06-16 16:13] itsnarsi opened #1461 "Which version of opencl in arrayfire 3.3.2"
I'm just wondering which version of opencl is supported in the newest version of Arrayfire.

It feels like it is version 1.2. If so are there any future plans for opencl 2.0?

[2016-06-16 18:12] pavanky commented on #1461
@itsnarsi It is just a matter of API. As far as I can tell there's very little that OpenCL 2.0 offers performance wise that improves upon 1.2. If there are any specific instances where this is true, please let us know so we can add that functionality for the devices that do support it.

Also we plan to have base support 1.2 as long as NVIDIA does not move ahead to a newer OpenCL version.

[2016-06-16 18:12] #1461 closed

[2016-06-17 00:12] bkloppenborg commented on #1458
@helian3699 , could you point us to the specific page on the Xilinx website which gave you this impression? I think [it was this page](http://www.xilinx.com/products/design-tools/software-zone/sdaccel.html#libraries) which might have caused some confusion. Our company, called ArrayFire, writes libraries for Xilinx FPGAs and provides training on SDAccel in North America. Our flagship product, also

[2016-06-17 00:12] #1458 closed

[2016-06-17 09:38] Godisemo opened #1463 "Complex square root"
Is it possible to implement the csqrt function for ArrayFire? It is used quite a lot in my scientific computations.

[2016-06-17 10:21] 9prady9 commented on #1463
@Godisemo

As of now, the `af::sqrt` function doesn't handle complex type arrays. However, you can easily work around this by doing something such as below

[code]

You are always welcome to contribute the missing feature.

[2016-06-17 10:25] Godisemo commented on #1463
Thanks for the quick reply. This is precisely the solution I am working on right now.

Would you expect this to give good performance?
Is complex square root something you could consider adding?

[2016-06-17 10:44] 9prady9 commented on #1463
Basic functions such as `real`, `imag`, etc. combined with JIT capability of ArrayFire are what makes our library unique. A more sophisticated function can be written out using much simpler functions similar to the way complex square root is implemented in above code stub.

On my laptop with NVIDIA GT 650M mobile card, above code is getting an average run time of 23 milliseconds for complex array

[2016-06-17 15:19] pavanky commented on #1463
We have https://github.com/arrayfire/arrayfire/issues/769 to address this issue. When we do implement this, it will look more or less like what @9prady9 suggested internally. There will not be a performance hit.

BTW if you do decide to contribute, it will need to use our internal API so it will not be exactly similar to what pradeep suggested here.

[2016-06-17 15:21] pavanky commented on #1463
One quick addition to the solution pradeep has given use to add the following as the first line:

[code]

[2016-06-17 15:23] pavanky commented on #1463
Considering that you have a work around for now and that it is a duplicate of #769, I am closing the issue for now. If you have any questions, we can still continue the discussion.

[2016-06-17 15:23] #1463 closed

[2016-06-17 22:06] #1247 closed

[2016-06-18 21:10] mchandra commented on #1247
Thank you for addressing this issue. It has improved the performance of our code significantly. The parts of our code which had the above bottlenecks are now getting a good fraction of peak machine bandwidth, and are giving the same speed expected from hand tuned kernels.

[2016-06-19 02:14] frank-otto commented on #1459
@pavanky, thanks for looking into this issue.

Sorry for the delay, the GPU machine has busy and I couldn't run tests in the previous days. Now I had a chance to test the snippet you posted. I compiled with:

The results with MPS running are:

And without MPS:

As for the unified backend, it still fails for me with the "out of memory" error on trying to use the CUDA backend dynamically. I am certa

[2016-06-19 03:27] pavanky commented on #1459
@frank-otto Ok, it looks like there's nothing we can do about the OpenCL backend, because it seems to be failing in a stand alone application independent of arrayfire.

As for the unified backend, this is weird. Can I get an output of `af::info()` with MPS disabled?

[2016-06-19 03:28] pavanky commented on #1459
Also an output of `nvidia-smi` and `nvidia-smi -a` when MPS is failing would be good.

[2016-06-20 11:03] frank-otto commented on #1459
@pavanky, this is the code I use to get af::info output:

[code]

And I compile it with:

With MPS running, the output is:

Without MPS running, the output is:

**Without MPS**, the output of `nvidia-smi` is:
[code]

And output of `nvidia-smi -a`:
[code]

**With MPS running**, `nvidia-smi` ouputs:
[code]

Note: the _nvidia-cuda-mps-server_ only shows up after a CUDA application was run (the failin

[2016-06-20 15:53] Godisemo commented on #769
This is a list of all functions from the standard C complex.h header. I think it would be nice to have all of these implemented in ArrayFire as well. Maybe I can get some help to fill in which functions already exists? I could probably help out with implementing a few of these, but since I'm not very familiar with the ArrayFire internals i need some quick guidance to get started.

- [ ] `double

[2016-06-20 17:13] pavanky commented on #769
@Godisemo thanks for creating a comprehensive list! I checked some of the functions that are already supported. Thanks for the offer of helping out, but I think it is easiest if I pushed all of these in myself for now :) It'll only take me a couple of hours to implement them.

The reason it hasn't been added so far is because our development is usually request based. And your request pushed it up

[2016-06-20 17:17] Godisemo commented on #769
Ok, great! Looking forward to the list being completed. 😃

[2016-06-20 17:28] pavanky commented on #769
@Godisemo If you have some time, can you ping me on our gitter channel ? https://gitter.im/arrayfire/arrayfire

[2016-06-20 17:45] pavanky commented on #769
I realized that there's a reference function for [exp](https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/unary.cpp#L108) already implemented.

@Godisemo offered to help us out with this following the reference :)

[2016-06-20 20:18] pavanky commented on #1457
Able to reproduce with this: https://gist.github.com/pavanky/c1986058a68115f1c754087aa415e625

[2016-06-21 01:18] Godisemo commented on #769
I added code for sqrt and log in PR https://github.com/arrayfire/arrayfire/pull/1466 but since I can't manage to compile it on my computer it is untested. Could you test it for me before I continue?

[2016-06-21 18:06] #1457 closed

[2016-06-22 00:46] Brainiarc7 opened #1469 "Build failure on devel branch with both CUDA 7.5 and 8.0 on Ubuntu 16.04 LTS"
Hello guys,

I'm running into this build failure caused by this specific error:

[code]

At first, it looks like a problem with liblapack, yet the issue persists when I explicitly disable the OpenCL back-end.

To my understanding, lapack (and lapacke) are called upon when building the OpenCL backends (with the non-free methods selected and enabled in cmake).

Let me know if you need any further in

[2016-06-22 02:22] pavanky commented on #1469
Which branch are you testing?

[2016-06-22 02:35] shehzan10 commented on #1469
It looks it you compiled lapack and lapacke from source. As the error says, you should use -fPIC option when compiling lapack and lapacke if using static libraries. This does not affect shared libs.

Even the CPU backend uses these libraries, so the error must be from afcpu when OpenCL is turned off,

Use of lapack and lapacke does not depend on the BUILD_NONFREE option. The are always used unless

[2016-06-22 19:03] VitorGuizilini opened #1471 "Eigen with MKL + Arrayfire = Wrong Eigen results for matrix multiplication"
I recently bumped into the following potential bug while trying to use Arrayfire and Eigen+MKL in the same C++ code:

1) I define two NxN matrices in Eigen
2) I calculate the product between the two Eigen matrices
3) I transfer these matrices to the GPU using Arrayfire
4) I calculate the product between the two Arrayfire matrices

If I don't define USE_MKL_BLAS (code gets roughly 2x slower) everyt

[2016-06-22 19:06] pavanky commented on #1471
@vguizilini can I get some code to see how you are doing this ?

[2016-06-22 22:04] pavanky opened #1472 "Improve automatic eval heuristics for JIT"
Right now it naively checks for

- The length of the JIT tree to be less than 20
- The number of buffer nodes in the tree
- The cumulative memory used by the JIT tree

Problems with this:

- JIT trees can easily be bigger than 20 without causing performance bottlenecks.
- Removing the length check may result in unnecessary tree traversals.
- Removing all the checks may cause unneeded memory pressu

[2016-06-22 22:10] umar456 opened #1473 "Make rand functions part of JIT"
The random functions in are currently not part of JIT. This means that ArrayFire allocates and creates random values for each call of the function before it can be used by other JIT nodes.

With the help of the multi-eval functionality recently added to JIT, we could calculate the random values as part of the JIT engine and write the random values to memory thereby reducing the kernel launch overh

[2016-06-23 01:51] Brainiarc7 opened #1474 "Building ArrayFire with MKL"
Hello guys,

I have installed Intel's MKL toolkit (Parallel Studio XE 2016 update 1) and I'm using the module system to activate it:

`module load mkl`

The module file is as follows:

[code]
I can confirm that the module loads successfully and that ICC (The Intel C Compiler and extras) are loaded and available on the system path when called upon:

[code]
Now, on building Arrayfire, here's the con

[2016-06-23 01:59] pavanky commented on #1474
You just need to export the root path of MKL to `INTEL_MKL_ROOT`. Arrayfire should pick up the rest.

[2016-06-23 02:02] Brainiarc7 commented on #1474
Alright, thanks.

Running a rebuild :-)

[2016-06-23 03:22] pavanky commented on #1474
@Brainiarc7 any progress?

[2016-06-23 03:26] Brainiarc7 commented on #1474
@pavanky , yes.

The build completed successfully, but at the moment, two tests are failing.
Most likely unrelated to Intel's MKL.

[code]
So yeah, successful build, two failed tests.

Unrelated, is it possible to speed up Arrayfire's builds via ccache?

I find that repeated builds are slow. (Lots of Thrust, maybe?)

[2016-06-23 03:30] pavanky commented on #1474
@Brainiarc7 what version of cuda are you building with (and what GPU are you using)? MKL should not affect CUDA.

[2016-06-23 03:31] Brainiarc7 commented on #1474
CUDA 8, and a GeForce GTX 980M (SLI)

[2016-06-23 03:33] pavanky commented on #1474
Can you create a separate issue about the CUDA failures. They are unrelated. If you can run those tests individually and post the output to the new issue, it'd be great.

[2016-06-23 03:33] #1474 closed

[2016-06-23 03:35] pavanky commented on #769
@Godisemo looks like `arg` is done but is not checked over here. Or is it a case of `carg` doing something different than what `arg` does in arrayfire?

[2016-06-23 03:49] Brainiarc7 commented on #1474
Sure, thanks.

[2016-06-23 08:50] Godisemo commented on #769
Yes, I thought I checked that one earlier. I might want to write a templated version though, to help clean up the code a bit.

[2016-06-23 09:09] Godisemo commented on #769
I have added code for all but two of the functions now, `cpow`which is not unary and `cproj` which I don't really understand.

What remains is writing tests, and some code cleanup. I think there might be room for simple optimizations as well.

[2016-06-23 19:27] pavanky opened #1475 "bilateral slower on CUDA compared to OpenCL"
[code]

[2016-06-23 19:43] pavanky commented on #1475
On GTX 950:
[code]

[2016-06-23 20:33] pavanky commented on #1475
Same issue with Kepler
[code]

[2016-06-25 05:45] shehzan10 commented on #1469
Can you provide any update on this?
Also are there any issues related to CUDA in this as the title suggests? I think the issue is more about user compiled lapack/lapacke.

[2016-06-25 13:01] Brainiarc7 commented on #1469
Hello guys,

As previously stated by @pavanky , this was strictly related to lapacke.
An uninstallation of the previous lapacke (user-compiled) fixed the build issue.
The builds and the tests complete successfully with CUDA 8.0, for now.

[2016-06-25 14:55] #1469 closed

[2016-06-30 05:22] kahrabji08 opened #1480 "Can not run computer vision/ image proceeding examples"
Hi,

Am facing trouples with running any example that contain openning a window. specifically from the computer vision or image processing examples. other examples are working fine.

I keep getting this output when I run harris example for instance:
[0] Unknown: Unknown, 15973 MB, Max threads(1)
** ArrayFire Harris Corner Detector Demo **

GLX: Forward compatibility requested but GLX_ARB_create_co

[2016-06-30 06:12] 9prady9 commented on #1480
@kahrabji08 ArrayFire Graphics requires OpenGL 3.3 at the least. It doesn't seem like your rendering hardware doesn't have that capability. Also, I can't tell what is the CPU/GPU from `af::info` call in the examples. What is the configuration of the system your are trying ArrayFire on ?

Alternatively, if you want to ignore graphics for time being. you do the following to disable graphics temporar

[2016-06-30 06:46] kahrabji08 commented on #1480
My cpu specifications are:
Processor: Intel® Xeon(R) CPU E5-1620 v3 @ 3.50GHz × 8
Graphics : Gallium 0.4 on llvmpipe (LLVM 3.4, 256 bits)

also from command line using : lspci
03:00.0 VGA compatible controller: NVIDIA Corporation GM107GL [Quadro K620] (rev a2)

I tried to check my OpenGL version using:
glxinfo | grep "OpenGL version"
OpenGL version string: 2.1 Mesa 10.1.3

I think I don't have the

[2016-06-30 07:43] 9prady9 commented on #1480
Yes, that is correct, the required OpenGL version is >= 3.3. To get latest OpenGL, I think you need to have latest drivers from NVIDIA.

- is your monitor's port connected to graphics card or to the port on motherboard ?
- Are you using open source drivers for your graphics card ?

can you please paste the output of command `nvidia-smi` here.

[2016-06-30 08:56] kahrabji08 commented on #1480
The monitor is connected to graphics card.

Output is:
nvidia-smi: command not found

[2016-06-30 09:50] 9prady9 commented on #1480
Can you try this `locate nvidia-smi` and then run the tool with full path given by locate command?

[2016-06-30 10:20] kahrabji08 commented on #1480
I tried and it gave no output

[2016-06-30 10:26] 9prady9 commented on #1480
That is odd, even if something is wrong. It should say something like error thrown or no device found etc.
Worst case, it should crash. Can you try some standalone cuda examples and check if you are able to run any CUDA program at all ?

Also, we have CPU backends, can you try running `helloworld_cpu` if that is working fine and what device information is that giving ?

[2016-07-01 03:24] kahrabji08 commented on #1480
Am not sure what is wrong.

The output of helloword_cpu:

ArrayFire v3.3.2 (CPU, 64-bit Linux, build f65dd97)
[0] Unknown: Unknown, 15973 MB, Max threads(1)
Create a 5-by-3 matrix of random floats on the GPU
A
[5 3 1 1]
    0.5488     0.8579     0.6459
    0.5928     0.5449     0.3844
    0.7152     0.8473     0.4376
    0.8443     0.4237     0.2975
    0.6028     0.6236     0.8918

Where can I fi

[2016-07-01 04:16] 9prady9 commented on #1480
they should be there in the same folder as cpu examples just with different suffix `_cuda`.

[2016-07-01 07:02] kahrabji08 commented on #1480
I didn't have the rquired driver previously. thus there were no cuda examples. I installed the drivers from [https://developer.nvidia.com/cuda-downloads](url) and rebuilt the library

The output of nvidia-smi and the output for helloword_cuda is shown below:
![image](https://cloud.githubusercontent.com/assets/16088425/16514134/a696de02-3f9c-11e6-9c2d-bbf93ae11e76.png)

But I still get the same err

[2016-07-01 07:23] 9prady9 commented on #1480
Makes sense, if you don't have drivers the cmake will automatically skip building CUDA related examples. The drivers i have on my Arch Linux setup are `367.27` but i guess `352.** `is not that old to have an ancient OpenGL version. You should at least have 3.3. Are you able to run any OpenGL application ? Or is it just ArrayFire graphics that is causing the issue ?

[2016-07-01 07:28] kahrabji08 commented on #1480
Am not familair with openGL. I don't have other applications. I just want the Arrayfire.

[2016-07-01 07:38] kahrabji08 commented on #1480
I tried to search about OpenGL installation. I installed some libraries like GLEW and so. but now am not sure whether I have necessary dependencies or not.

[2016-07-01 08:10] 9prady9 commented on #1480
We use an upstream project known as [forge](https://github.com/arrayfire/forge) for graphics in ArrayFire. You can try the examples in that directly. If you have CUDA SDK installed, then forge has CUDA examples also. Those should help us identify/eliminate ArrayFire from cause of issues.

Note:
You can find the list of dependencies for building ArrayFire [here](https://github.com/arrayfire/arrayfi

[2016-07-01 08:29] kahrabji08 commented on #1480
I checked the dependencies. Most of them were already installed, but two were new. Then I tried and it did not work.
Then I started the PC and it worked!!!

Am really thankful.
Regards,

[2016-07-01 08:29] #1480 closed

[2016-07-02 01:16] vguizilini commented on #1471
Here is a minimal example:

------------------------------------------------------------------------------------------------------------------
#include <stdio.h>

#define EIGEN_USE_MKL_ALL

#include <arrayfire.h>
#include <Eigen/Core>

int main()
{
    int n = 40;

    Eigen::MatrixXf eig1( n , n );
    eig1.setRandom();

    Eigen::MatrixXf eig2( n , n );
    eig2.setRandom();

    Eigen::MatrixX

[2016-07-02 01:37] pavanky commented on #1471
@vguizilini can you also printout the output of af::info() ?

[2016-07-02 02:34] vguizilini commented on #1471
ArrayFire v3.1.0 (CUDA, 64-bit Linux, build 1a52ee1)
Platform: CUDA Toolkit 7.5, Driver: 361.42
[0] GeForce GTX 970M, 6144 MB, CUDA Compute 5.2

[2016-07-02 03:14] pavanky commented on #1471
@vguizilini That's not even a released version of arrayfire. It's a commit from a development branch from several months ago. Is there any reason you are still on that version of arrayfire ? Can you try the latest version of arrayfire ?

[2016-07-02 03:15] pavanky commented on #1471
P.S. I tested the code you submitted with the released version of v3.1.0 and the latest release v3.3.2. Both produce proper results.

[2016-07-02 11:23] vguizilini commented on #1471
I just downloaded and compiled the source files from here:

https://github.com/arrayfire/arrayfire/tree/master

Now, af:info() gives me this:

ArrayFire v3.4.0 (CUDA, 64-bit Linux, build 3ceb2f9)
Platform: CUDA Toolkit 7.5, Driver: 361.42
[0] GeForce GTX 970M, 6144 MB, CUDA Compute 5.2

And the results are still wrong. Can you show me which version you downloaded, so I can try it?

[2016-07-02 15:50] pavanky commented on #1471
Which version of eigen and MKL are you using ?
What are the outputs you are seeing?

[2016-07-02 16:59] vguizilini commented on #1471
Eigen: 3.2.8 and 3.3-beta (tried both)
Following advice from somewhere else, I tried disabling MKL support and adding AVX and FMA support, which indeed solved the problem. But it is still much faster if I maintain MKL, so I would prefer to keep that.

MKL: 11.2
I tracked the issue to the BLAS library in MLK, since 34 is the threshold for Eigen to start using its optimization routines.

I changed t

[2016-07-02 17:13] pavanky commented on #1471
I really do not sure if this is an arrayfire problem. The only thing I can think of asking you to try is to include `arrayfire.h` *after* `Eigen/Core`. It could potentially be that arrayfire and eigen are both defining a same flag that is causing a problem.

[2016-07-02 17:18] pavanky commented on #1471
@vguizilini can you also show how you are compiling the code?

[2016-07-02 17:40] vguizilini commented on #1471
I tried every possible combination of header orderings, but nothing seems to work.  I am using the following CMakeLists.txt:

[code]

[2016-07-07 14:31] esproff opened #1482 "Request for polygamma function implementation"
How difficult would it be to implement the polygamma function?  Or at the very least just the digamma function.

[2016-07-08 18:50] pavanky commented on #1482
@esproff Is there any documentation / papers we can follow to implement these functions ?

[2016-07-08 22:15] amellnik opened #1483 "ArrayFire installer erased my PATH"
The installer replaced my entire path with `%AF_PATH%\lib` rather than appending it...  This was on Windows 7 x64 with a very long path.

[2016-07-08 22:18] esproff commented on #1482
@pavanky,

I'd have to do some search for the polygamma function, but I think for now I'd be happy with just the digamma function.  The digamma function is originally defined for just the positive reals, but has an analytic continuation to the entire complex plane with the exception of the non-positive integers (0, -1, -2, ...), where it has simple poles (well-behaved singularities).

So depending

[2016-07-08 22:22] pavanky commented on #1483
Hmm this seems to be a bug with the software we are using to create the installer + limitation with windows path length.

@shehzan10 is there any way we can find the number of characters inside `%PATH%` from the installer and do the following in case it becomes too long ?
- Copy contents of `%PATH%` to `%OLD_PATH%`
- Append `%AF_PATH%` to `%OLD_PATH%` and store it under `%PATH%` ?

[2016-07-08 22:29] pavanky commented on #1482
@esproff considering all of these functions are element wise arithmetic operations, this entire function will be at most 1 single kernel call.

Can't you call this function in Julia using the appropriate gpu arrays  ?

[2016-07-08 22:31] pavanky commented on #1482
I'll also consider adding this to v3.4.0 if we have enough time.

[2016-07-08 22:42] amellnik commented on #1483
To anyone else who is having a bad Friday afternoon due to this: see the second answer [here](http://superuser.com/questions/265532/how-to-extract-environment-variables-from-system-restore-point-windows-7-64-bit/265575#265575).

[2016-07-08 22:47] esproff commented on #1482
@pavanky,

I originally tried to get something like this working but couldn't, and at the time I thought it had to be implemented on your end for some reason.  However I've come to learn that they still haven't worked out the GPU garbage collection issues on the Julia end, and so running for-loops like you would need for numerical approximations causes rapid performance degradation.

So I guess ul

[2016-07-09 01:37] pavanky commented on #1483
@amellnik terribly sorry about this. We should have been more careful about this.

[2016-07-09 01:48] amellnik commented on #1483
@pavanky -- no harm done -- it gave me a bit of a fright but it turned out to be fairly easy to recover from.  Cheers -A

[2016-07-09 04:57] shehzan10 commented on #1483
Umm, I'm not really sure why this happened. The installer never touches the"System" PATH.

Unless you are using a really old version of ArrayFire (<= v2.0), the following are the facts:
* While redoing our installer for v2.1, we discovered that Windows/NSIS has a 1024 character limit on the environment variables. This caused issues in our own testing so we made sure never to touch the system PATH.

[2016-07-09 05:32] amellnik commented on #1483
@shehzan10 This was my user path, and I necessarily have more than 1024 characters in it.

[2016-07-09 05:44] shehzan10 commented on #1483
Yeah that would be the issue then.

One trick I've found is to split the variables so that path itself remains small, and ArrayFire itself is an example of this.
I have don't something like
[code]
This is especially useful for something like CUDA. They add a full path to the variable whereas simply using %CUDA_PATH% shortens it quite a lot.
We could have added the entire path for ArrayFire but hav

[2016-07-09 05:51] pavanky commented on #1483
@shehzan10 I meant we should do something like this if the length of PATH is too big:

If `PATH` was `PATH1;PATH2;...PATHN;`, Change the setup to be the following

`OLDPATH=PATH1;PATH2;...PATHN;`
`PATH=%OLDPATH%;%AF_PATH%`

[2016-07-09 15:38] skleinbo opened #1484 "CPU Backend performance Linux vs. OSX"
Hi,

I build ArrayFire 3.4.0 against MKL on both Linux and OSX.

While on OSX the `blas_cpu` benchmark performs nicely (i5 Haswell generation)

[code]

performance on Linux is dreadful (i5 Skylake generation)

[code]

Generating the arrays in the second case alone takes forever. CUDA and OpenCL performance are fine.

Maybe I linked against the wrong libraries? In both cases `cmake` found the MKL l

[2016-07-09 17:59] pavanky commented on #1484
@skleinbo Can you show the output of `ldd blas_cpu` and `ldd libafcpu.so`

[2016-07-09 19:02] skleinbo commented on #1484
@pavanky
__`ldd blas_cpu`__
[code]
__`ldd libafcpu.so.3`__
[code]

Hmm, it's linked against both `libmkl_rt` and `libcblas`. Might that be the problem, or is it expected?

[2016-07-09 22:40] pavanky commented on #1484
@skleinbo that may be the problem. I wonder how that happened.

Can you tell me how you compiled with MKL ?

[2016-07-10 08:43] #1472 closed

[2016-07-10 10:13] skleinbo commented on #1484
@pavanky Fixed it :) Sort of... After changing
https://gist.github.com/skleinbo/cbf5840a5b5e228907d95f59aeb033e9

everything links against `libmkl_rt` only. Performance is much better too
[code]
Although it's still about a factor 2-3 slower than on the Mac, which I find weird.

The fix works for me with cmake 3.5.1.

Note that I removed the `_bug_*` variables, because even though `_search_include`

[2016-07-10 10:17] pavanky commented on #1484
@skleinbo that should not be needed.. depending on how you enabled MKL.

BTW, can you give the exact model numbers of the processors you have? A few i5s are dual cores while others are quad cores, so you may have to account for it performance wise.

[2016-07-10 10:31] skleinbo commented on #1484
Just did
[code]
All the cmake files query that variable.
I also tried setting the mklvars by hand `/opt/intel/mkl/bin/mklvars.sh intel64 lp64` but that didn't change anything.

Still, `${library}` is a typo, is it not?

And no, both CPUs are quad cores :)

[2016-07-11 00:08] pavanky opened #1485 "helloworld example does not work on CUDA 8 + devel on compute 6.1 GPUs"

[2016-07-11 04:24] kahrabji08 opened #1486 "OpenCV interoperability"
Hi,
Am trying to use these functions [https://github.com/arrayfire-community/arrayfire_opencv](url) in order to incorporate array fire to my previous OpenCV projects. Is these functions valid? because when I tried to include it to my project I got this error:

/home/mohamed/Hassan/arrayfire/arrayfire-project-templates/test/src/af_cv.hpp:39:22: fatal error: af/utils.h: No such file or directory
 `#

[2016-07-11 05:26] pavanky commented on #1486
@kahrabji08 That repo uses an older version of arrayfire.

@syurkevi is working on adding this support for v3.4.0
please follow https://github.com/arrayfire/arrayfire/issues/529 for future updates.

[2016-07-11 05:26] #1486 closed

[2016-07-11 06:37] pavanky commented on #1485
Fixed in devel.

[2016-07-11 06:37] #1485 closed

[2016-07-11 13:40] schuhschuh opened #1488 "System header of ArrayFire installation included during build"
When building ArrayFire from sources on OS X using CMake+XCode while having an installation of the binaries via Homebrew in `/usr/local` results in the header files from `/usr/local/include` to take precedence over the header files in the ArrayFire source tree.

I suspect there needs to be a `[target_]include_directories(BEFORE ...)` somewhere in the CMakeLists.txt files.

[2016-07-11 13:55] pavanky commented on #1488
@schuhschuh The relevant part starts from line 110 in `arrayfire/CMakeLists.txt`. Can you verify if adding `BEFORE` fixes the issue on your end ?

If it does, would it be possible for you to send in a PR fixing this issue ?

[2016-07-11 14:22] schuhschuh commented on #1488
Thanks for the pointer, I'll give it a try.

[2016-07-13 06:54] gvgit opened #1489 "Inconclusive error message when using Sift"
When using Sift without being compiled into Arrayfire, I got a exception wihtout any hint. I've had to ask around in Arrayfires forum to get a hint to set AF_PRINT_ERRORS. A better exception message would have been great.

[2016-07-13 14:03] pavanky commented on #1489
What error message are you seeing?

[2016-07-13 15:02] gvgit commented on #1489
this exception is thrown:

terminate called after throwing an instance of 'af::exception'
  what():  ArrayFire Exception(303): Unknown error
In src/api/cpp/sift.cpp:26

[2016-07-13 15:09] gvgit opened #1490 "Copy an array to host and a bunch of errors"
Code below is compiling fine, but I can't copy the array to host which drives me crazy.

Is there a bug? The copying of features to host works like `` feat.getX().host<float>(); `` (not in code below).

[code]

[2016-07-13 15:37] pavanky commented on #1489
What version of ArrayFire are you using ?

[2016-07-13 15:39] gvgit commented on #1490
Is af::createStridedArray the place I have to look at?

[2016-07-13 15:42] pavanky commented on #1490
How familiar are you with C/C++ ? `sizeof(float *)`  is returning the size of the pointer which is always 8 for 64 bit architectures. There is no way to check how many elements there are in a C style pointer.

Is that the only issue you are seeing ? Because if you wanted to be safe, you could do something like this instead:

[code]

[2016-07-13 16:12] gvgit commented on #1490
Hehe, you're right, I never trained C too much. Just plain C++ and never got in touch with ``sizeof``.

[2016-07-13 16:12] #1490 closed

[2016-07-13 16:31] schuhschuh opened #1492 "XCode link error regarding forge library file non-existent"
When building the latest devel branch on OS X 10.11 with XCode, I get the following linker error. Note that the library is in the `Release` subdirectory rather at `/Users/as12312/Software/ArrayFire/Xcode/third_party/forge/src/forge-ext-build/src/Release/`.

[code]

[2016-07-13 17:00] schuhschuh commented on #1492
FYI: Working on a fix...

[2016-07-13 17:37] schuhschuh opened #1494 "'Expected expression' error in opencl tests due to undefined TEST_DIR"
When building with `BUILD_TEST` option `ON` in Xcode, I get multiple `Expected expression` errors in lines which use the `TEST_DIR` macro. Detailed error message for `moments_opencl`, and similar errors for `harris_opencl`:

[code]

[2016-07-13 17:41] schuhschuh commented on #1494
This argument suggests rather that the `TEST_DIR` is not defined properly:
`-D TEST_DIR=\\/Users/as12312/Software/ArrayFire/test/data\\`

[2016-07-13 17:43] schuhschuh commented on #1494
And here the CMake code that causes the issue in `test/CMakeLists.txt:134`:

[code]

Preparing a PR...

[2016-07-13 17:45] pavanky commented on #1494
There should probably be a cleaner way to do this than having special cases for generators.

@9prady9 any idea why we have this sequence of slashes ?

[2016-07-13 17:47] schuhschuh commented on #1494
Looking at it, it seems it should be the same for any generator, i.e., the else branch. Trying it with my version of CMake (3.5.2) and Xcode (7.3.1). Possibly this was a fix for an issue with earlier versions of either of these... ?

[2016-07-13 17:48] pavanky commented on #1494
@schuhschuh Can we wait until @9prady9 responds ? He is in a different time zone so it may be a while before he gets a chance to look at it :)

[2016-07-14 05:28] 9prady9 commented on #1494
@pavanky  @schuhschuh
This additional conditional statement was added about an year ago for `Xcode` generators as they needed extra escape characters to appropriately define the path via macro. With the latest versions (either Xcode or CMake), this may not be an issue any more. I will have to check with which version the issue got fixed.

[2016-07-14 08:54] gvgit opened #1495 "af::sift - How to use only n-best-features simillar to openCV?"
Hi all,

I'm looking for a way to use `af::sift` in a way to restrict the size of features, in particulary I wan't to calculate only the best n features (if n < all).

as this [Arrayfire reference](http://arrayfire.org/docs/group__cv__func__sift.htm#ga0a0eb54eea99248c9e8c3983c9765a11) states, `af::sift` uses `feature_ratio` as

And the next sentence is

So I took a look at [openCV](http://docs.ope

[2016-07-14 09:19] schuhschuh opened #1496 "ld: file not found: @rpath/CUDA.framework/Versions/A/CUDA for architecture x86_64"
- OS X 10.11.5
- CMake 3.5.2
- Xcode 7.3.1
- CUDA SDK 7.5

[code]

Adding `-F/Library/Frameworks -Xlinker -framework -Xlinker CUDA` to the linker command fixes the issue. Taken from [this SO thread](http://stackoverflow.com/questions/11632919/cuda-programming-and-xcode).

[2016-07-14 09:27] schuhschuh commented on #1494
See [release notes of CMake 3.5.0-rc3](https://cmake.org/pipermail/cmake-developers/2016-February/027841.html):

* The "Xcode" generator was fixed to escape backslashes in strings
  consistently with other generators.  Projects that previously worked
  around the inconsistecy with an extra level of backslashes
  conditioned on the Xcode generator must be updated to remove the
  workaround for CMak

[2016-07-14 09:28] schuhschuh commented on #1494
Shall I submit a PR with the fix for CMake >= 3.5 ?

[2016-07-14 09:32] 9prady9 commented on #1494
@schuhschuh Sure, please send it in. Thank you for looking into it.

[2016-07-14 10:10] schuhschuh opened #1497 "Ninja error: "missing and no known rule to make it""
Using the Ninja generator (or Code Blocks - Ninja), fails with the following error when trying to build right from the start.
- Ubuntu 14.04 / OS X 10.11
- CMake 3.3.1

[code]

[2016-07-14 10:14] schuhschuh commented on #1496
I can fix this by adding these `LINK_FLAGS` to the properties of the test executable targets in the `CREATE_TESTS` macro in `test/CMakeLists.txt`:

[code]

You think that's an appropriate way to resolve this issue?

[2016-07-14 10:17] schuhschuh commented on #1497
Changing
[code]
to
[code]
in `CMakeModules/build_cl2hpp.cmake` fixes it.

[2016-07-14 10:29] schuhschuh commented on #1494
@9prady9 OK, just noticed the message. I'll remove the other PR then.

[2016-07-14 10:33] 9prady9 commented on #1494
@schuhschuh That's fine, leave it as it is now. We will take care of it.

[2016-07-14 10:34] 9prady9 commented on #1494
Never mind, just saw that you already closed #1499

[2016-07-14 10:53] schuhschuh opened #1500 "Wrong MKL architecture path when building on Ubuntu 14.04 x86_64"
When trying to build the library on Ubuntu 14.04, the following linker error occurs and the Intel MKL linker path in the argument list points to `-L/opt/intel/mkl/lib/ia32` rather than `-L/opt/intel/mkl/lib/intel64`:

[code]

Note that in CMake, the following related variables are set as follows:
[code]
Setting the `CBLAS_mkl_rt_LIBRARY` path manually to `/opt/intel/mkl/lib/intel64/libmkl_rt.so` r

[2016-07-14 11:08] schuhschuh commented on #1500
Some debug messages printed in `CMakeModules/FindCBLAS.cmake`:
[code]

Had to set `INTEL_MKL_ROOT_DIR` to `/opt/intel/mkl`.

Also the LAPACK path was set to `ia32` subdirectory, but setting `LAPACKE_ROOT_DIR` (spelling mistake in `FindLAPACK.cmake`... should be `LAPACK_ROOT_DIR`) to the same path did not help. It still used the library `/opt/intel/mkl/lib/ia32/libmkl_rt.so`. Needed to set it manua

[2016-07-14 11:54] schuhschuh commented on #1500
I then get linker errors regarding missing LAPACKE symbols when building `src/backend/opencl/magma/magma_cpu_lapack.h`. Settings LAPACKE_LIBRARY to /usr/lib/liblapacke.a didn't help. Giving up on the Ubuntu 14 build for now...

[2016-07-14 13:41] pavanky commented on #1500
How are you compiling with MKL support?

[2016-07-14 15:07] schuhschuh commented on #1500
I've basically followed the [Build Instructions for Linux](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux). First install all the packages listed with apt-get. Then use CMake 3.3.1 to configure the build tree using the Ninja generator. Here it sets the variables as stated in the issue description which result in the reported linker error "/usr/bin/ld: cannot find -lmkl_rt

[2016-07-14 15:11] schuhschuh commented on #1500
BTW Using the `/usr/lib/liblapacke.a` library installed by the `liblapacke-dev` package as stated in the build instructions instead of the MKL library didn't help either. It is missing the same symbol definitions.

The issues here are actually somewhat two related separate issues. The one about ArrayFire finding the wrong MKL library if `INTEL_MKL_ROOT_DIR` is not set, and the other of missing sym

[2016-07-14 15:18] gvgit commented on #1495
As in my previous post mentioned, the backend is the place to look. Here's arrayfire's [sift cpu implementation](https://github.com/arrayfire/arrayfire/blob/2ecff9818f23c2b0fd35ab992d4e00f17fa039b9/src/backend/cpu/kernel/sift_nonfree.hpp). Now I'm aksing myself which arrays in these function has to been changed to get n best features? My first bet is at line 1096 before function:

``
calcOrientati

[2016-07-14 15:31] pavanky commented on #1495
@gvgit this would require some further investigation on our end.

[2016-07-14 15:33] pavanky commented on #1500
@schuhschuh

Using MKL in arrayfire is a little bit weird because it's symbols are different than the others.

 Can you try exporting export `INTEL_MKL_ROOT=/opt/intel/composerxe-2011.1.107/mkl` and configuring cmake freshly ?

[2016-07-14 15:34] gvgit commented on #1495
How much hours would you need to add such an openCV like behaviour?

[2016-07-14 15:37] schuhschuh commented on #1500
That does seem to work better. Paths for CBLAS/MKL, LAPACKE, and FFTW all point to the MKL library in this root directory after configure. I do get the following warning, though:
[code]

[2016-07-14 15:48] pavanky commented on #1495
@gvgit we have no intention of fully supporting SIFT considering that it is patent encumbered. It exists for purely academic reasons like it does in OpenCV.

A work around might be to use a high enough feature ratio and then pick the N best features based on score yourself.

[2016-07-14 15:52] gvgit commented on #1495
@pavanky such a workaround would mean to calculate all descriptors for each image

[2016-07-14 15:58] pavanky commented on #1500
@schuhschuh can you test the build with the following patch applied ?

[code]

[2016-07-14 16:08] pavanky commented on #1495
@gvgit I'll see if we can do something about it for our next release (should happen sometime this month)

[2016-07-14 16:19] gvgit commented on #1495
@pavanky Thanks a lot

[2016-07-14 19:02] schuhschuh opened #1502 "API function to query status of device memory user lock"
Functions that access the device memory of an `array` using the `device()` function have to call `unlock()` to unset the user lock when done. However, when the device memory was actually claimed previously by client code that wants to manage the memory itself, this function should indeed not unset the user lock. A function to query the status of the user lock would be needed, such as:

[code]

[2016-07-14 19:17] pavanky commented on #1502
@schuhschuh unlocking multiple times will not cause an issue. If it is causing an issue, there is a bug somewhere.

Is there any other use case for the islocked function ?

[2016-07-14 19:19] schuhschuh commented on #1502
I'm not concerned about calling unlock twice/unnecessarily. I am concerned about calling it although the function is not supposed to unlock it yet because the caller itself wants to keep the lock.

[2016-07-14 19:22] pavanky commented on #1502
@schuhschuh ok that makes sense :+1:

[2016-07-14 21:21] schuhschuh opened #1503 "Explicit instantiation for array::device<void>()"
Minor request following up on the Gitter chat with @pavanky regarding the template argument needed to get a device memory pointer, I wonder if it would be reasonable to add an explicit instantiation of the function for `T=void`?

Would be more explicit than `void *ptr = a.device<char>()`, suggesting the template type would actually match the unknown data type. Also, when calling a function overloa

[2016-07-15 09:46] schuhschuh commented on #1502
Another idea would be to instead of (or besides) adding a new `islocked` function, the user lock could as well be a reference counter. Then each `lock` or implicit `device` lock must be matched with a corresponding `unlock` call.

[2016-07-15 10:49] gvgit commented on #1495
In [src/backend/cuda/kernel/sift_nonfree.hpp](https://github.com/arrayfire/arrayfire/blob/2ecff9818f23c2b0fd35ab992d4e00f17fa039b9/src/backend/cuda/kernel/sift_nonfree.hpp) at line 329 a function is defined called ``sub``.

I can't find any call of this function. Am I right? Is it removable?

[2016-07-15 17:41] pavanky opened #1504 "Add support for STL containers"
The following type of functionality needs to be supported:

Getting data from an af::array:
[code]

Creating af::array:
[code]

[2016-07-15 17:47] pavanky commented on #1502
@schuhschuh using a counter based lock will require the user to be extremely careful about the number of locks and unlocks they are calling.

I think the better solution is to have different unlock mechanisms for stuff that is locked by `array.lock()` and `array.device()` or by using a method to query the status of the lock.

[2016-07-15 18:22] pavanky opened #1505 "Interop with thrust::device_vector"
Implement this in `af/cuda.h`

[2016-07-15 18:48] pavanky opened #1506 "Add support for std::copy"

[2016-07-19 07:03] gdkrmr opened #1508 "compiling on ubuntu 14.04"
on ubuntu 14.04 running:
`cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CUDA=ON -DBUILD_OPENCL=ON`
gives me the following error:

[code]

I compiled glew (3.2, cloned from the git repository) myself like described here:
https://github.com/arrayfire/arrayfire/wiki/GLFW-for-ArrayFire

then I tried:
`cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CUDA=ON -DBUILD_OPENCL=ON  -DGLEWmxd_LIBRARY=/usr/local/lib

[2016-07-19 07:19] pavanky commented on #1508
Those are instructions for GLFW not GLEW. You can install GLEW using `sudo apt install libglew-dev`

[2016-07-19 07:42] gdkrmr commented on #1508
`libglew-dev` is already installed

[2016-07-19 08:09] pavanky commented on #1508
Forgot to mention that you need `libglewmx-dev` as well.

The instructions to install all dependencies are here:
https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux

[2016-07-19 08:09] #1508 closed

[2016-07-19 08:17] gdkrmr commented on #1508
i just figured that out myself, it is compiling right now, I wonder how I missed it, because I followed the instructions on that page.
Thanks for the prompt reply!

[2016-07-19 12:56] gdkrmr opened #1509 "failed tests"
The following tests failed on v3.3.2, happy to provide more information if needed:

[code]

[2016-07-19 15:25] pavanky commented on #1509
Can you run those tests individually to show what is failing?

You can run them by going into the build directory and running the following
[code]

[2016-07-20 06:38] gdkrmr commented on #1509
./test/cholesky_dense_cpu
[code]

./test/cholesky_dense_opencl
[code]

./test/qr_dense_opencl
passed when I ran it separately.

[2016-07-20 07:24] pavanky commented on #1509
Are you using atlas for lapacke or are you using some other library as an alternative?

[2016-07-20 07:39] gdkrmr commented on #1509
Are you using the system libraries? On ubuntu 14.04 I am using openblas.

[2016-07-20 17:57] brryan commented on #799
Just wanted to add that I have a similar issue with the `af::setUnion` function. One would expect the union of an empty array and a length > 0 array to return the second array. It would be very convenient to not have to handle the four possible cases (first input array empty, second input array empty, both input arrays empty, neither input array empty) explicitly in my code.

[2016-07-21 07:38] mricherzhagen opened #1510 "CUDA-Aware MPI with `device<>()`-pointer needs `af::sync()`"
I tried to use CUDA-Aware MPI together with ArrayFire and encountererd a problem: my code produced different results when using CUDA-Aware MPI in comparison to when the data is copied to the host memory and transfered using normal MPI communication.

When i tried to investigate this i wanted to compare the data that was send over CUDA-MPI with the data that was send using normal MPI, so i tried  t

[2016-07-21 11:38] schuhschuh opened #1511 "Reduction along first dimension of 2D array fails with CUDA Error"
When using the functions `min`, `max`, or `median` on a multi-dimensional `array` (i.e., 2D in my case), I get the CUDA Error: Invalid configuration argument. This depends on the particular size of the (first) dimension which corresponds to the number of elements within a local filter window.

The following test code shows that it works fine for a 1D array as well as a reduction of a 2D array alon

[2016-07-22 11:04] grzegorz-gutowski opened #1513 "memcopy and join have launch configuration issues"
Hello,
I'm running the following code that exploits wrap/unwrap to mix/unmix channels of an rgb image.

[code]

I get the following CUDA/AF Internal error:

[code]

When dimensions of the image are halved then everything runs fine.
I'm using ArrayFire v3.3.2 (CUDA, 64-bit Linux, build f65dd97).

[2016-07-22 14:27] pavanky commented on #1513
What GPU are you using?

[2016-07-22 14:42] grzegorz-gutowski commented on #1513
GTX950 and GTX980 - same results on both.

[2016-07-23 14:09] Brainiarc7 opened #1514 "Could not find FFTW3 at the configuration stage with Intel MKL used for the CPU backend"
Hello there,

I've ran into a problem configuring Arrayfire's CPU backend to use Intel's MKL, and here is the output from CMake:

[code]

And attached below are the CMake logs (secret gists)

1. [CMakeOutput.log](https://gist.github.com/Brainiarc7/f566d5b8bfc159c1f0fa3bf4707f76c2)
2. [CMakeError.log](https://gist.github.com/Brainiarc7/d1f8b27098bef2831122dc09c4da6d95)

Platform used: Ubuntu 16.04

[2016-07-23 22:30] pavanky commented on #1514
Can you try it with this patch applied? https://github.com/arrayfire/arrayfire/issues/1500#issuecomment-232709196

[2016-07-24 11:29] Brainiarc7 commented on #1514
Okay, will do.

[2016-07-24 17:11] tdsmith opened #1515 "GLEWmx support dropped from GLEW 2.0"
Homebrew noticed that GLEW 2.0 dropped support for GLEW MX, which Arrayfire uses. There's some relevant discussion on the glew repo: https://github.com/nigels-com/glew/issues/38 and here's a relevant commit: https://github.com/nigels-com/glew/commit/a4aa9b2717bb62fbd826b960a914a30303fb07af

Just wanted to make sure you were aware. Thanks!

[2016-07-24 22:25] mchandra opened #1516 "Indexing question"
I have a a 4D array `A(N1, N2, N3, N)`, and a list of indices `index(N, N, N)`
I need to do the following:

[code]

In the above, `N1, N2, N3` are spatial indices each equal to 64, whereas `N = 10`, and `0 < index(i,j,k) < N`. How do I convert the above into vectorized arrayfire code?

Thanks

[2016-07-24 22:28] pavanky commented on #1516
[code]

[2016-07-24 22:28] #1516 closed

[2016-07-24 22:30] pavanky commented on #1516
If `index` is of size `[N1, N2, N3]`, you could simply do the following

[code]

[2016-07-24 22:31] pavanky commented on #1516
OK I see the problem now,

it should be more like

[code]

[2016-07-24 22:37] mchandra commented on #1516
Thanks! Will try it out.

[2016-07-24 22:40] mchandra commented on #1516
Can you explain what's going on here:

[code]
The first three spans I understand, what's the `tile(flat(index), N)` doing?

Thanks

[2016-07-24 23:23] mchandra commented on #1516
Btw, would the following also work:

[code]

[2016-07-25 04:53] 9prady9 commented on #1515
@tdsmith Thank you for reporting this. Yes we are aware of this change, the graphics upstream [forge](https://github.com/arrayfire/forge) utilizes GLEW, but we will most probably replace GLEW with [glbinding](https://github.com/cginternals/glbinding) via [forge PR](https://github.com/arrayfire/forge/pull/89). Most of the work is already complete, we are in the process of testing it on multiple pla

[2016-07-25 04:53] #1515 closed

[2016-07-25 06:12] 9prady9 commented on #1516
`tile` repeats given array elements along specific dimension. In this case, it is repeating the flattened array index N times along first(0th) dimension.

Doing just `A= A(tile(flat(index), N)))` will only extract the elements indexed using the indices inside array `index`, it won't retain the corresponding elements along first, second and third dimensions which you are trying to keep in the final

[2016-07-25 11:05] sirinath opened #1517 "Support for Algorithmic Skeletons, Data Flow, FRP, FBP"
Can you add support for [algorithmic skeletons](https://en.wikipedia.org/wiki/Algorithmic_skeleton), [Data Flow](https://en.wikipedia.org/wiki/Dataflow), [FRP ](https://en.wikipedia.org/wiki/Functional_reactive_programming), [FBP ](https://en.wikipedia.org/wiki/Flow-based_programming) as a more higher abstraction with support for tensors like in http://www.aleatk.com/, tensorflow.org for numeric c

[2016-07-25 12:05] sirinath opened #1518 "Benchmarks / Performance Tracking Against Other Frameworks in Comparable Areas"
A question any person exploring this project the 1st time would be how well do you beat the competition.

Has this being benchmarked against frameworks like [Yeppp!](http://www.yeppp.info/), [NNPACK](https://github.com/Maratyszcza/NNPACK) in comprairable areas? Can the optimisation you have beat a PeachPy kernel in other areas also. I think you should be able as machines can out do hand tuned code

[2016-07-26 07:04] 9prady9 opened #1519 "Swapped X and Y display in plot3 and scatter3?"
The following issue was reported by Miha Lunar in ArrayFire google groups.

Issue
-----
I'm using the 3.3.2 binaries (build f65dd97) on 64-bit Windows 10.

Here's a screenshot of the issue, where the points should've been drawn on the X axis instead of the Y axis:
https://dl.dropboxusercontent.com/u/14681/ArrayFire.png

Here's a sample project with a VS2015 64-bit solution and a prebuilt debug bin

[2016-07-26 16:37] schuhschuh commented on #1500
@pavanky Sorry, I just noticed your comment/patch! Will try.

[2016-07-26 16:56] schuhschuh commented on #1500
I can confirm that with this patch and exporting `INTEL_MKL_ROOT=/opt/intel/composerxe-2011.1.107/mkl` before running CMake fixes this issue and ArrayFire/CMake picks up the right paths.

[2016-07-27 19:26] pavanky commented on #1504
Being handled here:
https://github.com/arrayfire/arrayfire-extras

[2016-07-27 19:26] #1504 closed

[2016-07-27 19:26] pavanky commented on #1505
being handled here: https://github.com/arrayfire/arrayfire-extras

[2016-07-27 19:26] #1505 closed

[2016-07-27 19:26] pavanky commented on #1506
Moving feature request to https://github.com/arrayfire/arrayfire-extras

[2016-07-27 19:26] #1506 closed

[2016-07-27 19:29] pavanky commented on #1504
https://github.com/arrayfire/arrayfire-extras/issues/2

[2016-07-27 19:29] pavanky commented on #1505
https://github.com/arrayfire/arrayfire-extras/issues/3

[2016-07-27 19:30] pavanky commented on #529
Being handled here: https://github.com/arrayfire/arrayfire-extras/issues/4

[2016-07-27 19:30] #529 closed

[2016-07-27 19:32] pavanky opened #1520 "Add option to pull in headers from arrayfire-extras to the build / install process"
The headers should be pulled into `include/af/extras/` and can be included in examples / other programs by using `#include <af/extras/foo.h>`

[2016-07-28 16:37] grzegorz-gutowski commented on #1513
Today, I've tried the same code with github head:

    ArrayFire v3.4.0 (CUDA, 64-bit Linux, build 072d507)
    Platform: CUDA Toolkit 7.5, Driver: 361.42
    [0] GeForce GTX 980, 4096 MB, CUDA Compute 5.2

and there is no runtime error, but I get wrong results: after chanel mixing/unmixing the arrays differ! Small arrays are still ok.

[2016-07-28 17:06] pavanky commented on #1513
@grzegorz-gutowski We haven't fixed the original bug..  I just checked same commit on my GTX 950 and still get the original error.

Are you sure you are running the same code ?

[2016-07-28 17:12] pavanky commented on #1513
@grzegorz-gutowski BTW, this is a simpler way to achieve what you are trying to do and also has the benefit of not erroring out.

[code]

[2016-07-28 20:13] #769 closed

[2016-07-28 20:13] #1492 closed

[2016-07-28 20:13] #1494 closed

[2016-07-29 07:21] Brainiarc7 commented on #1514
Update:

The build works fine with the patch applied. I had to correct the INTEL_MKL_ROOT variable in my module file to `/opt/intel/compilers_and_libraries_2016.1.150/linux/mkl`

[2016-07-29 09:06] grzegorz-gutowski commented on #1513
@pavanky Thanks for the solution: it's cleaner and works great for me.
I confirm that the behavior of builds 072d507, and f65dd97 differs with the same example code.

[2016-08-01 19:54] pavanky opened #1529 "Lazy evaluation is too lazy"
The following examples do not work anymore due to increased memory usage:

- rbm
- fractal

[2016-08-02 04:49] bluehope opened #1530 "Support eigen?"
How could I obtain eigenvalues and eigenvectors using arrayfire?

It seems like there was some support before (https://www.accelereyes.com/arrayfire/c/group__factor__mat.htm#gaf97c09bd475b8e0b415de3e73e8a5589), but I can't find them for now.

[2016-08-02 05:42] pavanky commented on #1530
That was before we went open source. We were using a commercially licensed library at that point. This is not an option right now.

[2016-08-02 05:47] bluehope commented on #1530
@pavanky I see, by the way cuBLAS and MKL supports eigenvector & eigenvalue functions.
http://www.culatools.com/cula_dense_programmers_guide/
Is there any plan to wrap those functions?

Eigenvector, eigenvalue problems are one of mostly used functions for scientific computings.
I hove arrayfire to support eigen related routines.

[2016-08-02 07:29] pavanky commented on #1530
There's an open issue over here: https://github.com/arrayfire/arrayfire/issues/904

cuBLAS only implements BLAS routines. cuSolver has the LAPACK routines and right now they do not support eigen value decomposition (only supports SVD under the "eigen" functions). MKL does support it, but that adds support for CPU backend.

MAGMA / clMAGMA does support eigen value decomposition which we can borrow,

[2016-08-02 07:29] #1530 closed

[2016-08-04 03:02] kahrabji08 opened #1531 "ORB exception"
Am trying to use ORB function . My code is huge, here is what i think is relevant

[code]

The program runs fine mostly but sometimes I get the following error:

[code]

An sometimes I get this

[code]

[2016-08-04 07:20] streamhsa opened #1532 "facing build issue while compiling usign make"
I  was trying to build OpenCL version . CMake was all good, while giving make ,i m facing the below issue . Can you please help me resolve these.

[ 11%] Linking CXX shared library libafopencl.so
[ 43%] Built target afopencl
[ 53%] Built target af
[ 54%] Built target googletest
[ 54%] Built target backend_unified
[ 55%] Linking CXX executable ycbcr_rgb_opencl
//usr/lib/liblapacke.so.3: undefined r

[2016-08-04 10:47] bkloppenborg commented on #663
@shehzan10 I caught this in the benchmark suite. I don't think we've seen this error for some time now. Unless you have seen it, I think we can close this issue.

[2016-08-04 10:48] bkloppenborg commented on #597
@pavanky , given the success of the benchmark suite, do you think we can close this issue or would you rather wait until we publish benchmarks on our blog?

[2016-08-04 10:53] shehzan10 commented on #663
I remember Peter showing me a case where it was still failing. I can't remember the reproduction of that so can't verify it being resolved.
Im fine with closing this issue until we get a more concrete bug report.

[2016-08-04 10:53] shehzan10 commented on #597
I think we should wait to publish.

[2016-08-04 14:36] WilliamTambellini commented on #597
Good morning gentlemen,
Are the results of such benchmark somewhere online ?
Cheers
W.

[2016-08-04 14:44] bkloppenborg commented on #597
At the moment, no. I've been a bit too busy with clients lately to put them up on our website (there were some minor visualization things we needed to fix prior to this). We have a planned release of ArrayFire coming up this month I suspect I'll post something online shortly after August 15.

[2016-08-04 15:03] pavanky commented on #1532
It looks like you do not have a blas library on your machine. Can you try installing openblas or atlas and see if it resolves the issue?

[2016-08-04 20:27] #1514 closed

[2016-08-04 20:27] #1500 closed

[2016-08-05 04:18] pavanky commented on #1400
Made sort of unnecessary because of https://github.com/arrayfire/arrayfire/pull/1534

Removing milestone but keeping the issue open to come back in the future.

[2016-08-05 07:24] streamhsa commented on #1532
thank you pavan, after installing openblas and atlas its building fine.

but while testing 2 tests are failed. (manual_memory_test_opencl , backend_unified)
here providing the specific test results.

root@HY-IN-SC01-958:/opt/arrayfire/build1# cd test/
root@HY-IN-SC01-958:/opt/arrayfire/build1/test# ./manual_memory_test_opencl
Running main() from gtest_main.cc
[==========] Running 1 test from 1 tes

[2016-08-05 07:50] shehzan10 commented on #1532
The manual_memory test is designed to fail by allocating too much memory.

The backend_unified test requires that the AF_PATH/lib/ directory is added to your LD_LIBRARY_PATH.
For this you can do `make install` and then add install_path/lib to LD_LIBRARY_PATH.

[2016-08-05 12:34] abhijithch opened #1535 "Unsupported gpu architecture"
While building arrayfire from source, with the given options for `cmake` I am getting the following error,
[code]

Is there a way to identify and mention the architecture type? I tried with the option, `-DCUDA_GENERATION=Auto` but this did not help.

[2016-08-05 12:37] shehzan10 commented on #1535
Are you using CUDA 7.5 or CUDA 8.0RC?
CUDA 7.5 does not support any 6x computes as those were released quite recently. You will have to compile with CUDA 8.0RC.

[2016-08-05 21:02] mchandra opened #1536 "Working example kernel"
It would be very convenient if there were a working example kernel, say to compute `c = a + b`, where `a, b, c` are each an `array`, instead of the empty shell function (`src/backend/opencl/kernel/example.cl`) that exists now. Would be much easier for users to modify that, and implement custom algos as kernels.

Thanks!

[2016-08-06 21:06] UniqueFool commented on #1535
is there any way to extend the cmake heuristics to detect this requirement and notify the user accordingly ?

[2016-08-06 22:40] pavanky commented on #1535
Our CMake file for our CUDA backend is too complicated already. The effort needed to maintain this is too high compared to the amount of times this problem occurs.

[2016-08-07 18:59] UniqueFool commented on #1535
ok, thanks for the info - just in case, the OpenCV project apparently ran into a similar cuda/cmake issue, and they're discussing a thrust related workaround: https://github.com/opencv/opencv/issues/6632

http://answers.opencv.org/question/95991/opencv-30-build-error-cuda-80/

(for the record, I obviously don't know if arrayfire is currently using thrust or planning to anytime soon)

[2016-08-07 22:20] jramapuram opened #1537 "Discussion: Manager for Unified Devices"
So I'm been building [hal](https://github.com/jramapuram/hal) and have had to glue together some code to manage arrays across opencl/cuda/cpu boundaries. I use arrayfire-cpu for loading my data after which I use the code below to do a GPU copy [ML requires these constant swapping operations as we deal with minibatches]. Sure I could just use native float's and such, but that loses the power of af!

[2016-08-08 03:24] pavanky commented on #1535
@UniqueFool I have been told by @shehzan10 that it is a fairly simple thing to add to CMake. Sorry to jump the gun.

[2016-08-08 03:27] pavanky commented on #1537
Bringing it to @umar456's attention as well.

@jramapuram This is a good solution but is not easy to implement *properly*. Thanks for starting the conversation. I opened a related issue sometime ago: https://github.com/arrayfire/arrayfire/issues/1268

May be we can have a solution that solves both problems.

[2016-08-08 11:24] ZacDiggum opened #1538 "Feature Request: non-local means denoising"
Hi,
since AF already offers a couple of image filters, maybe you could add the popular non-local means filter?
Here are two papers on how to the fft-based fast nlm works:
[GPU Based Fast Non Local Means Algorithm](http://www.joig.org/uploadfile/2015/0911/20150911035858832.pdf)
[FAST NON-LOCAL ALGORITHM FOR IMAGE DENOISING](http://cs.nju.edu.cn/ywguo/webs/paperdownload/Fast_Non-Local_Algorithm_for_

[2016-08-08 13:57] svenstaro commented on #1515
In Arch Linux this problem is currently blocking a rebuild and arrayfire and forge might get dropped due to this. Is there a patch for this?

[2016-08-08 14:02] pavanky commented on #1515
@svenstaro forge was not ready earlier. We just had enough functionality to use with ArrayFire.

We are in the process of changing a lot of it's API right now. I'd say dropping forge until it hits 1.0 would be the solution.

[2016-08-08 14:13] svenstaro commented on #1515
Ok.

[2016-08-10 09:36] jramapuram commented on #1537
@pavanky : Definitely. I think the two are highly correlated. It will definitely be a non-trivial solution, but I think a thread per context makes the most sense in my mind. There would be a sort of 'manager' thread that enqueue's data & engages a conditional wait for each 'backend' thread. So, standard event loop. I think the problem as I mentioned is that currently we need a new **process** per

[2016-08-11 00:48] drufat opened #1540 "MX support likely to be omitted from future releases of GLEW"
According to [this](https://github.com/nigels-com/glew/issues/38#issuecomment-170005710), MX support is going to be removed from GLEW. Currently it does not seem possible to build arrayfire without MX support. Would it be possible to build arrayfire on systems where libGLEWmx.so is missing? For example, the latest version of ArchLinux provides no libGLEWmx.so file.

[2016-08-11 01:03] pavanky commented on #1540
We are moving away from glew for future releases.

Refer to https://github.com/arrayfire/arrayfire/issues/1515 for more info.

[2016-08-11 01:03] #1540 closed

[2016-08-11 07:49] ben310773 opened #1541 "Create array from existing cuda device pointer"
I tried a simple code and I received a segmentation fault when I ran it.
--------------------------------------------------------------------
[code]
----------------------------------------------------------------------

Is there a bug in the this array constructor? Or is it something I have done wrong.
My arrayfire version is 3.3.2 on (CUDA 64-bit Linux) CUDA Toolkit 7.5.

[2016-08-11 07:59] FilipeMaia commented on #1541
Are you sure the cudaMalloc succeeded?

On Thursday, August 11, 2016, ben310773 <notifications@github.com> wrote:

[2016-08-11 12:41] ben310773 commented on #1541
Yes it succeed. I left out the checkCudaErrors( ) wrapper when I post the msg. I am more inclined to think arrayfire's array constructor of type afDevice failed. Have you tried it in your codes?

[2016-08-11 14:14] pavanky commented on #1541
Are you sure it is happening at the constructor?

[2016-08-11 15:20] shehzan10 commented on #1532
Can you provide an update if the `backend_unified` test has passed? If it has, I think this issue can be closed.

[2016-08-11 16:12] streamhsa commented on #1532
yes it passed. thank you ..you can close this

[2016-08-11 16:12] #1532 closed

[2016-08-11 23:55] ben310773 commented on #1541
The type afHost works when I allocate memory on the host. But afDevice failed when memory was allocated using cudaMalloc. Nothing is wrong with the cudaMalloc function. The rest of the portions of my code works well. Do you mind elaborate on what you think can go wrong? I mean how to check that it is not happening at the constructor? The documentation doesn't seem to imply the array constructor re

[2016-08-12 00:00] pavanky commented on #1541
Do you by chance have multiple cuda gpus on your machine?

[2016-08-12 00:03] ben310773 commented on #1541
No. I only have a single GPU card in my computer. Quadro 2000.

[2016-08-12 00:04] pavanky commented on #1541
Can you also replace your cudaMalloc with af::alloc<float>(1024 * 2048); and see if that works?

[2016-08-12 00:05] pavanky commented on #1541
I mean af::alloc<float>(1024 * 2048)

[2016-08-12 00:07] pavanky commented on #1541
Damn the mobile version of website is omitting templates. Try this

af::alloc<float>(1024 * 2048)

[2016-08-12 00:08] ben310773 commented on #1541
I just tried and it failed too. seg fault

[2016-08-12 00:09] umar456 commented on #1541
af::alloc\<float\>(1024*2048)

[2016-08-12 00:10] ben310773 commented on #1541
I mean the af::alloc() didn't return any error but once I called the array afDevice constructor, it failed.

[2016-08-12 00:17] pavanky commented on #1541
@ben310773 can you post the entire code snippet instead of just the constructor ?

[2016-08-12 00:22] ben310773 commented on #1541
Due to security reasons, my working computer is separate from my internet computer. I have created a small program just to test the array constructor. The entire code is as below:

#include <cuda,h>
#include <arrayfire.h>
using namespace af;
int main(int argc, char **argv){
    cudaDeviceReset();
    float *d_x = NULL;
    d_x = (float *)af::alloc<float>(1024*2048);
    if(d_x == NULL) printf("Err

[2016-08-12 00:23] ben310773 commented on #1541
I don't know why the include header cuda.h and arrayfire.h didn't appear above.

[2016-08-12 00:25] ben310773 commented on #1541
One typo error: 1024 * 2048 in the af::alloc()

[2016-08-12 00:25] umar456 commented on #1541
You have to add backslash before the `<' for it to show up. Also try to use the template version of af::alloc

[2016-08-12 00:26] ben310773 commented on #1541
Ah I see. I did used the template version but it didn't show up over here.

[2016-08-15 12:05] pavanky opened #1543 "Add operator support for complex literals"
For example doing something like the following should work:

[code]

Note: This is only supported in C++14 so we'll have to enable it after checking with proper flags.

[2016-08-15 21:35] #1535 closed

[2016-08-16 12:41] abhijithch commented on #1535
Thanks, updating CUDA did fix my problem, though temporarily. I am afraid I have got into the Ubuntu login loop problem after now.

[2016-08-17 18:24] pavanky commented on #306
tile is JIT for necessary cases now so this should no longer be an issue.

[2016-08-17 18:24] #306 closed

[2016-08-17 20:20] #1496 closed

[2016-08-17 21:07] musm opened #1549 "Mention julia wrapper"
Would be nice to also mention https://github.com/JuliaComputing/ArrayFire.jl as a wrapper for ArrayFire.

[2016-08-17 22:35] pavanky commented on #1549
@musm We need to discuss internally how we can mention third party maintained wrappers.

[2016-08-22 00:31] WilliamTambellini commented on #821
Hi guys,
I see this issue to be in AF 3.4, to be released in few days.
Is this issue almost done ?
Thanks

[2016-08-22 09:49] shehzan10 commented on #821
You can follow the progress in #1319.  It will be a part of the 3.4.0 release.

[2016-08-22 12:39] pavanky commented on #821
@WilliamTambellini To add to what @shehzan10 said, CUDA and CPU backends are supported right now in a feature branch. We are in the process of adding support for the OpenCL backend.

[2016-08-22 15:03] #799 closed

[2016-08-25 02:43] ben310773 commented on #1541
So nobody encounter this fault except me? Did anyone tried it recently and it works?

[2016-08-25 03:19] pavanky commented on #1541
@ben310773 I have tried this and have not been able to reproduce it on multiple machines. I am not sure why it is failing only your machine..

Can you display the output of `af::info` ?

[2016-08-25 04:17] ben310773 commented on #1541
af::info gives:
ArrayFire v3.3.2 (OpenCL, 64-bit Linux, build f65dd97)
[0] NVIDIA : Quadro 2000, 961MB

I am using CUDA, may I ask why info specifies OpenCL?

[2016-08-25 05:02] pavanky commented on #1541
@ben310773 if you are using the unified backend, arrayfire tries to use the following backends in order

- CUDA
- OpenCL
- CPU

If it is going to OpenCL backend, it usually means it can not find `libnvvm`.

You'll need to `export LD_LIBRARY_PATH` to include `/path/to/cuda/nvvm/lib64`

This should allow you to use CUDA backend

[2016-08-25 05:03] ben310773 commented on #1541
Hi Pavanky,
I think it works now. I realize the backend falls onto OpenCL. I re-read the installation procedure and ensure the LD_LIBRARY_PATH are specified so that CUDA backend can be used. Thanks very much for the af::info tip.

[2016-08-25 09:23] streamhsa opened #1552 "Is arrayfire building and testing applicable for RHEL 7.2?"
Hi,
I need some info about support of this app on RHEL 7.2. Is it supported?
This app needs cmake >2.8.12 and RHEL 7.2 has latest package 2.8.11 only on default OS or yum install.

Building cmake 2.8.12 is failing due to dependency issue. I have followed page : http://www.shisaihua.com/install-cmake-2-8-12-on-el7/

Is anyone is facing such issue or have any solution? If any handy page which i can

[2016-08-25 13:49] #1541 closed

[2016-08-25 13:55] pavanky commented on #1552
We build our installers on Centos 6.x. We successfully built CMake 2.8 on that machine without any issues. We haven't explicitly tested on 7.x.

That said, if you have root privileges on the redhat machine, can you try enabling the EPEL repos as mentioned here: https://fedoraproject.org/wiki/EPEL

After this you can install cmake 3.x using `yum install cmake3`.

[2016-08-25 14:54] WilliamTambellini commented on #1552
I m mainly working on CentOS 7.2 and if I remember right cmake 2.8 is too old to build AF examples so I m using cmake 3.

[2016-08-25 16:20] ghisvail commented on #1509
The OpenBLAS package on Ubuntu 14.04 only provides the BLAS interface, not LAPACK. You must have a different library providing LAPACKE. If you're going to use OpenBLAS on Ubuntu 14.04, I'd advise you to build it from source and compile AF against that one instead.

[2016-08-25 16:33] ghisvail opened #1553 "OpenCL test failures with pocl"
I compiled the latest tip of ArrayFire in `devel` and tested it against the most recent release of `pocl` available in Debian testing.

Backend details:
[code]

Summary of `ctest --output-on-failure --force-new-ctest-process  -R opencl -E "large|dense"`
[code]

Most errors are of the form:
[code]

Besides this one:
[code]

Detailed log:
[af-opencl-tests.log.zip](https://github.com/arrayfire/arrayf

[2016-08-25 17:11] shehzan10 commented on #1553
[code]

Actually this is not a failure. It's just printing the statement out from the error log. The test itself is called "InvalidArgsMissingFile", so we are checking if the error is being correctly set.

Of course, eventually this file too fails with the same LLVM error according to the log.

[2016-08-25 17:49] ghisvail commented on #1553
Could [this](https://github.com/pocl/pocl/issues/360) be related?

[2016-08-25 19:32] pavanky commented on #1553
@ghisvail can you confirm what the latest release of pocl is in debian ?

[2016-08-25 19:53] ghisvail commented on #1553
0.13

[2016-08-25 19:54] pavanky commented on #1553
@ghisvail I tested the devel branch with 0.13. The problem seems to occur somewhere in in the random number generation code.

I tried replacing `randu(a, b)` with `cpu_randu<float>(af::dim4(a, b))` in a couple of tests and it looks like the tests run fine.

Considering that we are rewriting random number generation, we'll again test it after https://github.com/arrayfire/arrayfire/pull/1551 is merg

[2016-08-25 19:56] shehzan10 commented on #1553
I think it is a possibility, but the performance would probably take a significant hit.
Additionally, the random test would still need to run those functions, so that would still fail.

Let's take a call after the random number generation is merged.

[2016-08-25 20:00] pavanky commented on #1553
@ghisvail after I read through the linked issue and removing the cache (as suggested in the last comment) fixed the issue for 1 run. But subsequent runs cause the same issue. Deleting the cache again fixes it for one run. It looks like there's some kind of a bug in pocl's caching mechanism.

[2016-08-26 07:37] ghisvail commented on #1553
Thanks guys for investigating this. Seems that the problem is located upstream, either in `pocl` or `llvm`. Still worth keeping this issue open anyway. I'll try to keep track with the progress upstream.

[2016-08-26 08:21] streamhsa commented on #1552
Thanks. Repos are updated already. I have just installed cmake3 and proceeded.
Problem is that RHEL does not have all required files for the Arrayfire which we can get easily for Ubuntu.
Can someone help any RHEL files corresponding to install libglew-dev ,libglewmx-dev ,libglfw3-dev using YUM.

[2016-08-26 13:22] pavanky commented on #1552
@streamhsa if you are not going to use graphics, you do not need any of them. Just pass `-DBUILD_GRAPHICS=OFF` to your cmake config.

[2016-08-30 09:47] cbodenst opened #1557 "Error during install on Arch-Linux"
I want to install arrayfire from the pacman repository.
I am able to  install arrayfire with
`pacman -S arrayfire`
and I can compile code but at runtime I get a segmentation fault.
simple minimum example:
[code]
[code]
When I try to compile with a specific backend I get the following error:
[code]
 Maybe I have to say that my BLAS installation is **OpenBLAS**

When I try to install arrayfire from

[2016-08-30 10:16] pavanky commented on #1557
Archlinux updated libGLEW which got rid of GLEWmx. I don't think @svenstaro had the time to update the arrayfire package to remove the forge and libGLEW dependency.

as for arrayfire-git, the error you are seeing is a bit weird. I maintain that package and I just tried installing it using `CC=/usr/bin/gcc-5 pacaur -S arrayfire-git` and it works fine.. It looks like the aur package did not clone th

[2016-08-30 10:23] pavanky commented on #1557
I also just updated the PKGBUILD to use `gcc5`.

[2016-08-30 14:10] cbodenst commented on #1557
tahnk you for the fast response, butz I still getting the error about missing async_queue.hpp.

[2016-08-30 14:13] pavanky commented on #1557
Can you show the output of the first few lines from the aur build ?

[2016-08-30 14:16] cbodenst commented on #1557
[code]

[2016-08-30 14:31] shehzan10 commented on #1557
The `async_queue.hpp` file is available from the `threads` submodule of ArrayFire (`src/backend/cpu/threads/`).

To fetch the submodule manually, you will either need to do `git submodule update --init --recursive`.
ArrayFire's CMake includes code to check for missing submodules and pulls them. This is the relevant line in the build output:

Can you list the files in `src/backend/cpu/threads/`.

*

[2016-08-30 14:40] cbodenst commented on #1557
the `src/backend/cpu/threads/` is empty. I wonder why my build system should not be to access the internet.
Can you tell me why the pacaur package is not complaining about missing GLEWmx lib, which will be checked during `cmake`?

[2016-08-30 14:41] pavanky commented on #1557
@cbodenst can you delete your temporary pacaur files and try rebuilding again ? It looks like pacaur failed to fetch the submodule earlier and is still using older temp files.

[2016-08-30 14:46] cbodenst commented on #1557
Ok this seems to fix it, the compilation is in progress, and the src/backend/cpu/threads/` containing the files `async_queue.hpp  LICENSE  Makefile  parallel.hpp  test.cpp`.
Thank you... so my system was the fault. I'm sorry.

[2016-08-30 14:48] #1557 closed

[2016-08-30 14:48] pavanky commented on #1557
@cbodenst it's ok :)

[2016-08-30 18:51] pavanky opened #1558 "symbols of af::eval with multiple parameters different in 3.3 and devel"
They were inline function calls earlier. They are now part of the library. This needs to be fixed.

[2016-08-30 18:58] pavanky commented on #1039
This is fixed in devel

[2016-08-30 18:58] #1039 closed

[2016-09-02 20:18] pavanky commented on #1403
Fixed by #1555

[2016-09-02 20:18] #1403 closed

[2016-09-03 05:39] #1289 closed

[2016-09-04 06:25] pavanky opened #1562 "Add new interpolation methods"
A good list is available [here](http://paulbourke.net/miscellaneous/interpolation/)

- [x] Cosine
- [x] Cubic
- [x] Spline (Fixed by #1289)

Support all AF_INTERP enums for the following functions:

- [x] resize (done by falling back to scale for new methods)
- [x] transform (scale, rotate, skew, translate etc)
- [x] approx2

[2016-09-05 08:25] 9prady9 commented on #1519
This will be fixed in devel after #1478

[2016-09-06 01:12] pavanky commented on #821
This is fixed in devel

[2016-09-06 01:12] #821 closed

[2016-09-06 06:45] ghisvail commented on #821
What did you guys end up using for sparse support on CPU and OpenCL? Your own impl, or a dependency?

[2016-09-06 07:04] 9prady9 commented on #821
@ghisvail CPU and OpenCL only support CSR/COO to dense conversions and they are in-house implementations.

[2016-09-06 10:36] lukasbindreiter opened #1564 "2D Binary Dilation behaves incorrectly (compared to numpy and wikipedia definition)"
There seems to be an issure regarding the [dilation](http://arrayfire.org/docs/group__image__func__dilate.htm) function:

Suppose I have to following input:
![Dilation Input](http://i.imgur.com/COENzDp.png)
and dilate it with this mask:
![Dilation mask](http://i.imgur.com/7HtKlce.png)

The expected output is seen in the below figure on the left, which was calculated in python using the function `s

[2016-09-06 12:39] 9prady9 commented on #1564
@lukasbindreiter

I was able to reproduce the issue in CUDA & OpenCL backends, however the issue seems to manifest only along edges, interior regions of the 2d area has correct values.

CPU backend seems to give the correct result. Can you please verify the result of CPU backend again. Also, are you using arrayfire built from source or using via installer ?

[2016-09-06 13:46] shehzan10 commented on #821
You can see the features currently supported on the top comment in this issue.
Right now, CPU can either use MKL or a fallback native code.
OpenCL is completely written from scratch. clSPARSE had not one but many deal breakers for us to use.

The following items are going to be supported in the near future (may not happen prior to 3.4):
* Transpose support
* Conversion between storage formats
* Op

[2016-09-06 14:05] lukasbindreiter commented on #1564
I installed Arrayfire using the Windows installer.

The issue also exists when using the CPU backend for me.
The issue occurs for every `1` with only `0` as neighbours, no matter if the `1` ist at the edge of the image or not.

Here is the complete code I used:

[code]

And the output:
[code]

[2016-09-06 14:07] pavanky commented on #1564
@lukasbindreiter we fixed something recently on devel. @9prady9 are you checking on the devel branch?

[2016-09-06 14:24] 9prady9 commented on #1564
@lukasbindreiter We shall update here once we fix it in devel.
@pavanky Yes, i was checking on devel. Hence, i asked him if he installed from binaries/packages or built it from source. I have fixed the problem in my local branch, will send a PR.

[2016-09-06 18:02] shehzan10 opened #1567 "Ship Forge Headers and CMake with ArrayFire Installer"
Ship Forge headers and CMake config files along with ArrayFire.
This will allow users to directly link with Forge if they wish to.

[2016-09-06 19:19] pavanky commented on #1564
@lukasbindreiter Slightly off topic, but the visualizations look cool. What are you using to generate this ? We can perhaps include some of the image examples in our documentation.

[2016-09-06 19:48] kaatish commented on #905
This only works when `U^-1 == V'`. Then, the SVD factorization will cancel out the unitary matrices to give the formula you are using. Moreover, it requires that `A` should be invertible, otherwise `U` and `V` would be of different dimensions, hence `A^2 = U * S * V' * U * S * V'` would not even be computable.

[2016-09-06 20:19] kaatish opened #1568 "Iterative solvers"
- [ ] Conjugate Gradient
- [ ] Bi Conjugate Gradient
- [ ] Bi Conjugate Gradient Stabilized
- [ ] Generalized Minimal Residual Method

[2016-09-06 20:22] kaatish commented on #904
Updates

cusolver supports eigenvalues decomposition in CUDA 8
openCL needs porting from clMagma.

[2016-09-06 21:25] #1564 closed

[2016-09-06 21:26] #289 closed

[2016-09-06 21:26] #1562 closed

[2016-09-06 21:28] #868 closed

[2016-09-06 21:32] kaatish opened #1569 "New random generation distributions"
Add new random number generation functions as JIT operations on uniform/normal random number generation:

- [ ] exponential(lamdba): x = log(1 - u) / (-lambda), where u is the uniform number
- [ ] gamma(r, lambda)
- [ ] chi-squared: gamma distribution with r = n / 2, lambda = 2.
- [ ] non-central chi-squared
- [ ] Poisson

Useful links:
https://en.wikipedia.org/wiki/Relationships_among_probability

[2016-09-07 06:22] lukasbindreiter commented on #1564
Thanks :). These visualizations were generated using `matplotlib`. [Here](https://gist.github.com/lukasbindreiter/3efa8f4e5e924bd435b66ea925048058) you can find the code I used to generate them.

[2016-09-07 20:04] pavanky commented on #1553
@ghisvail #1551 fixed the issue for arrayfire. The problem still exists upstream pocl and may arise in other situations.

I am closing the issue. Let's open a new issue if you any specific failures.

[2016-09-07 20:04] #1553 closed

[2016-09-07 23:54] #1475 closed

[2016-09-07 23:54] #1536 closed

[2016-09-07 23:55] #1503 closed

[2016-09-08 10:15] ghisvail opened #1575 "Follow-up testing with pocl"
I followed up on my testing of AF with `pocl` after the initial problems reported in #1553 were fixed (thanks!). I started from afresh with an up-to-date repository and the `pocl` cache completely cleared. Here are the results:

build command: `cmake .. -DBUILD_GRAPHICS=OFF -DBUILD_CUDA=OFF -DBUILD_CPU=OFF -DBUILD_OPENCL=ON -DBUILD_TEST=ON`

test command: `ctest --output-on-failure --force-new-cte

[2016-09-08 18:23] #1325 closed

[2016-09-08 18:29] pavanky commented on #1271
@ghisvail I think it is safe to say we don't have the resources to debug issues on platforms we do not have access to.

[2016-09-08 18:38] ghisvail commented on #1271
I ended up disabling the `imageio` tests which made all builds succeed. All major architectues build cleanly [now](https://buildd.debian.org/status/logs.php?pkg=arrayfire&ver=3.3.2%2Bdfsg1-4). Perhaps, it would be worth closing this bug now as `WONTFIX`.

Still  a bit surprised that `amd64` succeeds but not `kfreebsd-amd64` due to a test failure with `index_cpu`. The same failure also happened dur

[2016-09-08 19:09] pavanky commented on #1271
@ghisvail that is indeed weird.. I am not entirely sure why that might happen.

We should be able to support `amd64` for other kernels / operating systems (albeit a bit slowly) as it is mostly a matter of getting a vm up and running.

If you see the same problem happening again on 3.4, please let us know.

[2016-09-08 19:09] #1271 closed

[2016-09-08 19:16] pavanky commented on #1575
@ghisvail

- bilateral is definitely an implementation bug. We can incorporate a work around for pocl for now.
- we have not touched `transpose_inplace` in a few releases, so it looks like a regression from their end. I'll double check by testing against their older releases.

- homography needs further investigation.

[2016-09-09 10:41] ghisvail opened #1579 "More robust CBLAS / LAPACKE detection"
As discussed privately with @pavanky, detection of CBLAS and LAPACKE could get some love. I tried a few things but getting something generic enough proved to be quite tricky. I am opening this issue as a thread to explore the use cases and possible scenarii that the detection should cover.

CMake already has detection for the `BLAS` and `LAPACK` but lacks CBLAS / LAPACKE. The following blog [post]

[2016-09-09 14:59] pavanky commented on #1579
- (2) and (3) sound fine, but I think (1) should take precedence when both are available.
- (1) does not sound too different from our existing setup does it ?

[2016-09-09 15:15] ghisvail commented on #1579
Indeed, I numbered 1, 2, 3 in order of priority.

The existing setup looks like a modified *copy* of upstream CMake [FindBLAS](https://github.com/Kitware/CMake/blob/master/Modules/FindBLAS.cmake) / [FindLAPACK](https://github.com/Kitware/CMake/blob/master/Modules/FindLAPACK.cmake).

From a maintenance perspective, I wonder whether it would just be simpler to call upstream FindBLAS / FindLAPACK dir

[2016-09-09 15:40] pavanky commented on #1579
@ghisvail that sounds simpler yes :)

Have you made any progress on this or do you want us to look at implementing it as well ?

[2016-09-09 15:42] ghisvail commented on #1579
I am in the process to, I just wanted to validate the logic with you guys first. That will be a good learning exercise on my end, since I need to implement something similar for a different project.

[2016-09-09 15:44] pavanky commented on #1579
@ghisvail It'll be nice if you can get a clean enough implementation that you can upstream to CMake itself :)

It is painful to see each scientific computing library implementing their own versions of these files!

[2016-09-09 15:46] ghisvail commented on #1579
That is the plan indeed.

Agreed.

[2016-09-09 15:58] pavanky opened #1580 "Release 3.4.0 checklist"
Change external builds to tags

- [x] Forge
- [x] glbinding
- [x] clBLAS
- [x] clFFT
- [x] Boost.Compute

-------------------------------------

- [x] Update version number to 3.4.0
- [x] Update release notes
- [x] Update any licensing information

[2016-09-09 16:04] #1519 closed

[2016-09-09 16:06] pavanky commented on #1182
Fixed by #1566

[2016-09-09 16:06] #1182 closed

[2016-09-11 23:29] #1370 closed

[2016-09-11 23:29] #1502 closed

[2016-09-11 23:29] #1558 closed

[2016-09-11 23:29] #1450 closed

[2016-09-11 23:29] #1529 closed

[2016-09-12 00:00] pavanky opened #1583 "Homography broken on CPU + OpenCL implementations"
It looks like assumptions are made based on the architectures and certain `barrier(CLK_MEM_FENCE)` are missing.

[2016-09-12 00:01] pavanky commented on #1575
@ghisvail

- reg bilateral: implemented a work around for bilateral.

- reg transpose: tried building older versions of pocl without success. But this test is not failing on any other opencl implementations including CPU versions from Intel and AMD. Any chance you can test this on an older version yourself ?

- reg homography: This is failing on multiple CPU OpenCL implementations. I created this

[2016-09-12 08:02] ghisvail opened #1585 "FTBFS: error: reference to ‘array’ is ambiguous"
Tried to compile the latest tip of `devel` (2f474a804a381915770981f518493204bb53d3c1) on Debian, but getting a `error: reference to ‘array’ is ambiguous` in `test/clamp.cpp`. Sounds like someone perhaps brought `std::array` to the `af` namespace, hence the ambiguity?

Detailed error:
[code]

[2016-09-12 08:21] pavanky commented on #1585
@ghisvail my bad. I put both `using namespace std` and `using namepsace af` in the test.

I wonder what options are different in debian testing that it is catching this that other distros are not.

For reference, we use Debian 8 for building PRs, centos 6.x for building branches, I develop on archlinux, others at arrayfire use ubuntu 16.04.

[2016-09-12 08:25] pavanky commented on #1585
Oh we are not even including `<array>`, so it is weird that there is a conflict. It could potentially be an issue because of some system header automatically pulling it in.

Anyway I am going to fix this in #1584

[2016-09-12 08:29] ghisvail commented on #1585
The default compiler. Debian 8 has gcc-4.9 and builds in c++03 by default, Ubuntu 16.04 has gcc-5.3.1 (not sure what the default is, probably c++11), Debian testing and next Ubuntu both have gcc-6.1.1 with c++14 as default.

[2016-09-12 08:31] pavanky commented on #1585
Archlinux has 6.1.1 (which is what I develop on). It looks like the difference is in the gtest being compiled.

[2016-09-13 02:38] #1583 closed

[2016-09-13 02:38] #1585 closed

[2016-09-13 02:39] shehzan10 commented on #1580
Checklist for v3.4.0 completed.

[2016-09-13 02:39] #1580 closed

[2016-09-13 02:40] pavanky commented on #1264
@shie0041 can

[2016-09-13 02:40] pavanky commented on #1264
@shie0041 can you check if the latest devel fixes this issue?

[2016-09-13 02:41] pavanky commented on #1575
Alright fixed bilateral and homography.

Any update on the trials about transpose?

[2016-09-13 04:23] shehzan10 commented on #1567
Fixed by #1577

[2016-09-13 04:23] #1567 closed

[2016-09-13 14:37] shie0041 commented on #1264
Pavan,

Thanks for the heads up.  I’ll have to take a look at this next week as I’m in some training courses all week through Friday.

Best regards,
Eric Shields

From: Pavan Yalamanchili [mailto:notifications@github.com]
Sent: Monday, September 12, 2016 8:41 PM
To: arrayfire/arrayfire <arrayfire@noreply.github.com>
Cc: Shields, Eric A <eashiel@sandia.gov>; Mention <mention@noreply.github.com>
Sub

[2016-09-13 17:45] pavanky commented on #1264
@shie0041 we just released v3.4.0 that should contain the fix. You need not build it from source.

[2016-09-14 17:18] shehzan10 commented on #1451
@9prady9 Can you test this and see how we can make a CMake error from Forge show up in ArrayFire. The best was to test this would be to modify the build_forge.cmake file and explicitly set fontconfig to empty. Then see if you can make CMake errors from forge show up in ArrayFire.

[2016-09-14 17:24] pavanky commented on #486
Since we added support for complex numbers for the math functions, the "safe" way to use to do the operations would be to use complex numbers.

[2016-09-14 17:24] #486 closed

[2016-09-14 17:32] pavanky commented on #967
Closing it since it is not a bug in release mode and affects only one architecture.

[2016-09-14 17:32] #967 closed

[2016-09-14 19:14] shehzan10 commented on #1246
Closing this issue as it no longer appears to occur.

[2016-09-14 19:14] #1246 closed

[2016-09-15 21:24] shehzan10 commented on #1483
We have updated the installer to use a special build of NSIS which allows strings upto 8192 characters (up from 1024).
I think this mitigates the possibility of something like this occurring again.

The updated installer was used to build the ArrayFire v3.4.0 installers which can now be downloaded from arrayfire.com. You can confirm downloading the latest installers using the checksums below.

Che

[2016-09-15 21:24] #1483 closed

[2016-09-16 14:45] shehzan10 commented on #1552
@streamhsa If you wish to build with ArrayFire 3.4.0, then you do not need `libglew-dev` and `libglewmx-dev` anymore, only `libglfw3-dev`.
For yum, the package is `glfw`. Please verify the version of the package to be >= 3.1 (3.0.4 will also work, but there are some bugfixes in 3.1 that fix issues we have discovered). If this package is not available, then we have provided the [build instruction f

[2016-09-16 15:34] shehzan10 commented on #1028
I think the problem with the second part is that the compiler does not know whether to do the `array::opertator+()` or `seq::operator+()`. Which is trickling down and causing dimensional issues.

When it does the `seq::operator+()` the result is
[code]

But when it does the `arrayfire::operator+()`, the result is
[code]

Clearly there is a difference. This is mostly because gfor makes the batching

[2016-09-16 15:57] #1294 closed

[2016-09-18 17:35] vakopian opened #1594 "Change initial values of min and max to be +/- infinity"
I think this was missed in the 3.4 release.
As per  https://github.com/arrayfire/arrayfire/pull/1547#issuecomment-240919098

[2016-09-19 06:25] 9prady9 commented on #1451
We can add the following checks in forge project's [FindFontConfig](https://github.com/arrayfire/forge/blob/devel/CMakeModules/FindFontConfig.cmake) that will stop cmake processing completely if fontconfig files are not found.

[code]
I verified this patch by forcing FONTCONFIG variable values to empty from forge build files in `build/thirdparty` folder.

As far as ArrayFire project is concerned,

[2016-09-19 08:29] lukasbindreiter opened #1596 "Nearest Neighbour Distance Calculation wrong results on CUDA and OpenCL Backend"
There appears to be an issue in the nearest neighbour function in the CUDA and OpenCL Backend (CPU returns the correct results).
Here is a small Test Case Illustrating the issue:

[code]
The formula for calculating the sum of square distance between Point p1 and p2 is: `(p1.x - p2.x)^2 + (p1.y - p2.y)^2`
When trying to calculate the distance of every point in query to (5 | 5) the CPU Backend retur

[2016-09-19 10:56] pavanky commented on #1596
I am fixing this

[2016-09-19 15:17] pavanky commented on #1596
@lukasbindreiter I am using your reproducible code as a test if you don't mind :)

[2016-09-19 16:09] lukasbindreiter commented on #1596
Sure no problem :smile:

[2016-09-19 18:21] shehzan10 commented on #1451
@9prady9 Can you paste the CMake Log from ArrayFire when Forge as third party build fails to find FontConfig?

[2016-09-20 07:02] 9prady9 commented on #1451
CMake log would not report any errors and it can't unless we add fontconfig dependency inside ArrayFire. However, by adding aforementioned checks to forge's `FindFontConfig` we can ensure the compilation halts completely with last error message similar to the following.

[code]

SInce it is fatal_error, the whole build process will be halted even if you launch other threads `make -j4`.

[2016-09-20 13:03] shehzan10 commented on #1451
Looks good to me. Can you send a PR?

[2016-09-20 22:16] shehzan10 opened #1597 "Allow eval() for sparse inputs"
Missed adding eval support for Sparse in front end. eval is supported by the SparseArray class internally.
This just requires changing the getInfo function in af_eval().

[2016-09-21 04:12] ranjanan opened #1601 "Feature request: dot returning scalar"
Could `dot` be made to return a scalar?

As @pavanky was saying, maybe a `af_dot_all` like an `af_sum_all` maybe?

[2016-09-21 14:41] shehzan10 commented on #1597
Fixed by #1598

[2016-09-21 14:41] #1597 closed

[2016-09-21 14:41] shehzan10 commented on #1596
Fixed by #1595

[2016-09-21 14:41] #1596 closed

[2016-09-21 14:42] shehzan10 commented on #1594
Fixed by #1595 in hotfix-3.4.1

[2016-09-21 14:42] #1594 closed

[2016-09-21 14:57] shehzan10 opened #1602 "Add OpenCL-CPU Fallback for Sparse Functions"
This would be similar to CPU fallback for BLAS/LAPACK when running on a Unified Memory device (CPU/Integrated Graphics).

Should be be available only when compiled with MKL.

[2016-09-21 16:08] 9prady9 opened #1603 "bug in Window::surface function - incorrect surface rendering."
This has been initially been reported via [google group forum post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/SMfSfcXVeCM/Qo3R4oc1CAAJ).

Code to reproduce the bug is given below.

[code]

[2016-09-25 20:21] pavanky opened #1606 "Strided convolutions"
Instead of the window moving continuously, it needs to skip the specified amount of rows and columns.

[2016-09-28 20:59] samedling commented on #1384
First of all, CUDA 8.0 isn't widely available yet as it hasn't been officially released.  Second, even CUDA 8 doesn't work with the current version of the Apple LLVM (version 8.0.0).  It produces the following error message:
`nvcc fatal   : The version ('80000') of the host compiler ('Apple clang') is not supported`

[2016-09-28 22:08] gmachiraju commented on #1384
^Running into the same error message, @samedling

[2016-09-28 22:11] shehzan10 commented on #1384
Thanks for your feedback. Unfortunately, this is an issue for CUDA to handle rather than ArrayFire. We are just a consumer on this front. That's why we have marked it as a known issue.

CUDA 8 has been release as of today. However, as far as I can see, there is no download available for OSX.

[2016-09-29 04:28] pavanky opened #1607 "Create a function to return allocated bytes"
Currently there is no real way to query the number of bytes being held by the original array after doing something like this:

[code]