[2015-05-04 17:02] anshumang commented on #638
Got it :+1:

[2015-05-04 17:04] anshumang commented on #638
hmm..that's weird..
ldd output =>
ldd ./src/backend/cuda/libafcuda.so
        linux-vdso.so.1 =>  (0x00007fffa5dd0000)
        libcudart.so.6.5 => /usr/local/cuda/lib64/libcudart.so.6.5 (0x00007f5a4613b000)
        libcublas.so.6.5 => /usr/local/cuda/lib64/libcublas.so.6.5 (0x00007f5a44698000)
        libcufft.so.6.5 => /usr/local/cuda/lib64/libcufft.so.6.5 (0x00007f5a41c74000)
        libnvvm.so.

[2015-05-04 17:06] shehzan10 commented on #638
Would you mind doing a clean build from scratch? Delete the build directory and start again.
From the output you gave, it doesn't look like it actually tried to link free image.

So delete the directory and run the steps again. Before doing make after cmake, check the freeimage values as earlier to verify. And then build it

[2015-05-04 17:12] anshumang commented on #638
Works finally.
Output =>
ArrayFire v3.0.beta (CUDA, 64-bit Linux, build 393d00d)
Platform: CUDA Toolkit 6.5, Driver: 346.29
[0] Tesla K40c, 11520 MB, CUDA Compute 3.5
-1- Tesla C2050, 3072 MB, CUDA Compute 2.0
** ArrayFire Harris Corner Detector Demo **

Corners found: 4

corners_x [4 1 1 1]
   Offsets: [0 0 0 0]
   Strides: [1 4 4 4]
       240
       240
       399
       399

corners_y [4 1 1 1

[2015-05-04 17:12] #638 closed

[2015-05-05 18:11] 9prady9 commented on #565
Fixed by #642

[2015-05-05 18:11] #565 closed

[2015-05-05 21:36] umar456 opened #644 "Make af::array display const correct behavior"
Const arrays can be changed by assignment operations. For example the following code works:
[code]
This can be a surprise to someone who works with c++ code. Can be fixed if we define const and non-const member functions for all indexing.

[2015-05-05 21:39] umar456 commented on #644
I created a prototype to fix this issue in the proxy class but its messy. It would require some cleanup.

[2015-05-06 19:23] pavanky commented on #595
@bkloppenborg Is this issue fixed ?

[2015-05-06 19:25] 9prady9 commented on #549
@KoldoRamirez Can you please download the latest nightly and check if the problem is still present.

[2015-05-06 19:25] bkloppenborg commented on #595
Linux is complete. OSX packages as a self-extracting zip. Not sure if this is the ideal solution. Instructions need to be written for non-package manager solutions.

[2015-05-06 19:27] pavanky commented on #595
I think we can close this issue then.

[2015-05-06 19:27] #595 closed

[2015-05-06 19:41] pavanky opened #646 "Support moddims inside GFOR"

[2015-05-06 19:55] #626 closed

[2015-05-06 19:56] pavanky commented on #626
The problem seems to be the libOpenCL.so file that is installed from "ocl-icd" package in AUR. Removing the package and performing a clean build solved the problem.

[2015-05-06 21:52] #282 closed

[2015-05-06 23:50] #644 closed

[2015-05-07 07:41] KoldoRamirez commented on #549
Hello 9prady9

I have just downloaded the binaries and tried the sample.

Linking afOpenCL and calling deviceprop() and isDoubleAvailable() my system reports three devices:

0. Name 'Intel(R)_HD_Graphics_4000', platform 'OpenCL', toolkit 'Intel(R) OpenCL', compute '1.1', double available 'no'
1. Name 'Quadro_K1000M', platform 'OpenCL', toolkit 'NVIDIA CUDA', compute '1.1' , double available 'yes'

[2015-05-07 15:11] 9prady9 commented on #549
@KoldoRamirez Thank you for sharing the detailed information. Your observation is correct, we are noticing this problem with only Intel devices and only on windows platform. Unfortunately, we didn't get a break at this issue yet, but we are looking into it and will update this issue whenever there is an update from our side.

Regards,
Pradeep.

[2015-05-08 06:28] KoldoRamirez commented on #549
Thank you 9prady9. I am sure you will solve it.
It is an issue for my as in my company all laptops have Intel and just a few have Nvidia GPUs.

[2015-05-11 18:25] pavanky opened #655 "FEATURE: Setting seed for random number generation"

[2015-05-11 18:26] pavanky opened #656 "ArrayFire exceptions should return a trace of functions previously called before the exception."
This can be done by storing to a global error string rather than printing to screen.

[2015-05-12 22:26] shehzan10 commented on #526
In PR #657, added capability to use FFTW, ACML and/or MKL. This involves simply changing the FFTW CMake paths. Notes will be added to the wiki.
ArrayFire windows installer will be shipping with either ACML or MKL (TBD).

[2015-05-12 22:26] #526 closed

[2015-05-12 22:56] #7 closed

[2015-05-12 22:58] pavanky commented on #7
@Kerkil The functions are in devel now. The OpenCL versions dont work with intel GPUs on OSX right now. Other than that they are pretty close to stable.

[2015-05-13 07:37] RoyiAvital commented on #7
@pavanky, Could you recap the current state?
If I'm on Windows or OSX and there's no GPU, what would be used?
If I have GPU (OpenCL) what would be used?

Does any of those require downloading another pack or is it built in the installer on your site?

Thank You.

[2015-05-13 07:40] pavanky commented on #7
@RoyiAvital

We still do not support automatic switching of backends, you will need to recompile the code with the necessary backend. If you do not have a GPU on a machine you can use the CPU backend. If you have a NVIDIA GPU you can use the CUDA version, if not you can use the OpenCL version.

The installer with linear algebra is not available right now. We are in the process of making the instal

[2015-05-13 07:42] RoyiAvital commented on #597
This would be great.

Don't forget CPU with internal GPU's.
I'm really interested in the [Intel Core - i7 4770R](http://ark.intel.com/products/76642/Intel-Core-i7-4770R-Processor-6M-Cache-up-to-3_90-GHz).

[2015-05-13 07:43] pavanky commented on #597
Yes, you can use OpenCL on those devices.

[2015-05-13 07:43] RoyiAvital commented on #544
Nice,
Things really shaping up well.

[2015-05-13 07:45] RoyiAvital commented on #7
@pavanky,
I didn't get.

Let's say I'm a developer, I'm writing a code using ArrayFire.
I compile it and send it to another machine.

Let's say I have OpenCL GPU and he doesn't, will it work?
What CPU back end will be used?

[2015-05-13 07:51] pavanky commented on #7
You can write code *once* using ArrayFire. You can then compile three versions.

- application_cpu.exe
- application_cuda.exe
- application_opencl.exe

To *compile* these files you do not need to have any special hardware on the development machine. You just need ArrayFire installed on the machine.

Based on the hardware available, the user can run one of these three files and get the same behavio

[2015-05-13 10:03] FilipeMaia opened #658 "Logical ops array type inconsistent"
When doing something like c = a < b; the type of c is u8 which is not considered a boolean according to c.isbool(). This doesn't make sense and causes problems if one tries to use the result for example on a call to where(c,a,b) (c will be interpreted as an array of indices instead of a boolean array which the user would expect).
There seems to be two possible solutions. Either make the operators

[2015-05-13 17:27] pavanky commented on #658
@FilipeMaia This bug has been fixed in devel. I am assuming you are using the installer from the website. We are going to make a final release pretty soon so you should have an installer with the fixed version. If not you can build the devel branch to get the fix.

Here is my experiment:

[code]
Output:
[code]

[2015-05-13 17:27] #658 closed

[2015-05-13 17:44] pavanky opened #661 "solve and inverse failing on Windows + NVIDIA for OpenCL backend"
- Problems occurring in clblas.

[2015-05-13 17:45] pavanky opened #662 "Linear algebra functions not working on OSX intel GPU"

[2015-05-13 17:45] pavanky commented on #606
@bkloppenborg Is this necessary after especially after the post build instructions we have ?

[2015-05-13 17:58] bkloppenborg commented on #606
After people install ArrayFire we should have something in the example directory that tells them how to use it. Perhaps just a README file that points to our docs or wiki would be sufficient.

[2015-05-13 17:59] pavanky commented on #606
Fair enough. Just put what information you think is relevant.

[2015-05-13 21:01] pentschev opened #663 "ORB failing on NVIDIA OpenCL backend with exception"
ORB fails on NVIDIA with OpenCL backend. The issue originates in boost.compute sort. The behaviour can be reproduced by running ORB for about 1k times on 1080p images.

The boost.compute file `include/boost/compute/algorithm/detail/radix_sort.hpp` has some hardcoded sort parameters, in specific the parameter `k`, which is currently set to `4`. The remaining part of the code should be able to handl

[2015-05-13 21:20] pavanky commented on #291
@xyang2013 Can you check to see if #329 is resolved now ?

[2015-05-13 23:50] #101 closed

[2015-05-13 23:50] #656 closed

[2015-05-13 23:52] umar456 commented on #655
Fixed by #664

[2015-05-13 23:52] #655 closed

[2015-05-14 08:42] FilipeMaia opened #665 "Bug in af_get_last_error"
[err_common.cpp:157](https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/err_common.cpp#L157 src/api/c/err_common.cpp) is ```str[*len] = '\0';``` when it should be ```(*str)[*len] = '\0';```
This also prevents compilation with clang.

[2015-05-14 13:17] pavanky commented on #665
@FilipeMaia Do you want to send in a pull request to fix this ?

[2015-05-14 13:25] FilipeMaia commented on #665
Sure.

[2015-05-14 14:10] #665 closed

[2015-05-14 15:13] FilipeMaia opened #668 "Certain functions in dim4.hpp are not exported"
Certain functions in [dim4.hpp](https://github.com/arrayfire/arrayfire/blob/devel/include/af/dim4.hpp), which is part of the API headers, are declared without the AFAPI (e.g. [```bool isSpan(const af_seq &seq)```](https://github.com/arrayfire/arrayfire/blob/devel/include/af/dim4.hpp#L80)).
They are also defined not in src/api  but in [src/backend](https://github.com/arrayfire/arrayfire/blob/devel/

[2015-05-14 18:21] FilipeMaia opened #670 "array_proxy::unlock() and array::unlock() are missing"
They are declared in the API but not defined anywhere.

[2015-05-14 18:33] #668 closed

[2015-05-14 18:33] #670 closed

[2015-05-14 19:02] pavanky commented on #306
This feature is currently implemented using tile explicitly. Perhaps a more specialized function might be useful.

[2015-05-15 17:08] #308 closed

[2015-05-15 17:08] #347 closed

[2015-05-15 17:08] #589 closed

[2015-05-15 17:08] bkloppenborg commented on #308
Danke!

[2015-05-16 09:32] FilipeMaia opened #676 "af::where return type incompatible with large arrays"
Currently af::where() returns an array with type u32.
This makes it impossible to use it with arrays with more than 32bit elements.

[2015-05-16 17:18] pavanky commented on #676
Other examples include the following:

- histogram (probably not an issue)
- min(val, idx, in); (and max)
- sort(val, idx, in);
- set operations (setunique, setunion, setintersect)

I am not sure if I am missing anything else.

There are two ways we can go about doing this:
1) Always return u64. This may slow things down because you are writing 2x the amount of data.
2) Have special versions of th

[2015-05-16 17:19] pavanky commented on #676
@umar456 @9prady9 @pentschev @shehzan10 @bkloppenborg thoughts ?

[2015-05-16 17:24] shehzan10 commented on #676
I remember when we had dim_type as long, the performance of transpose was really slow and only then did we change dim_type to int.
I think we should do it the same was we do it for float/double, ie. 32 for all types equal or smaller and 64 for 64-bit ones

[2015-05-16 17:58] FilipeMaia commented on #676
I agree, the 2nd case seems preferable.

[2015-05-16 20:50] umar456 commented on #676
I think it would be pretty rare were this would become an issue. For example with the current implementation the array has to be larger than 16GB if it has 32bit values or 4GB if it was u8 before this becomes a problem. Adding a new function for these situations might be overkill. I am going to add a couple of additional options:

3. We return an array which is u64 if one of the dimensions of the

[2015-05-16 21:01] FilipeMaia commented on #676
I misread option 2. I also prefer option 3 (return a u64 array only when necessary).

[2015-05-16 21:57] pavanky commented on #676
The problem with (3) is the inconsistent behavior it might provide when trying to get data back to host. The amount of work required internally for option (3) and option (2) is essentially the same. That being said there are some functions that behave like this (switching between `float` and `double`) already.

I agree that option (3) is the least disruptive. However this requires more book keepin

[2015-05-17 01:12] pentschev commented on #676
I think option 2 is better, option 3 is nice but potentially confusing for
the user, better to let the user decide.

On Sat, May 16, 2015 at 5:57 PM, Pavan Yalamanchili <
notifications@github.com> wrote:

[2015-05-17 14:18] futurely opened #677 "Add support for N-D arrays (for N greater than 4)"
Your CEO said that the C functions supported up to 4-D arrays in his talk at this year's NVIDIA GTC while [Blobs are N-D arrays (for N not necessarily equals 4)](https://github.com/BVLC/caffe/pull/1970) in Caffe.

@umar456, your ml_lab implemented neural networks that were much more concise than Caffe. What do you think about this?

[2015-05-17 16:05] munnybearz opened #678 "Sort function - wrong index values (CPU backend)"
ArrayFire v3.0.beta (CPU, 64-bit Mac OSX, build 1e1e85b)

The index values returned by the sort function are wrong:

[code]

Output:

[code]

Expected output:

[code]

[2015-05-17 16:10] shehzan10 commented on #678
The indices are correct.
The way indices are represented are `val = array(inds)`.
So [1, 2, 3] = [2, 3, 1](2, 0, 1).

Can you describe why you expected them to be 1, 2, 0?

[2015-05-17 16:14] #678 closed

[2015-05-17 16:15] munnybearz commented on #678
Ahhh I seee.. sorry, I thought the indices were indices of the original array! I will adjust my code

[2015-05-17 17:10] pavanky commented on #677
We are going to either integrate with or implement features available in Caffe and Torch.  Most of these extra dimensions are for holding data in a particular format and do not signify a specific meaning. This will require us to implement classes on top of the existing af::array class to emulate more "dimensions".

However we can not change the underlying base class.

[2015-05-17 17:10] #677 closed

[2015-05-18 12:04] jramapuram opened #681 "Provide interface for Rust"
Rust has recently had it's 1.0 stable release. It would be epic to have an arrayfire rust interface to call into the library's c API. Not sure if this is something you guys would be interested in.

[2015-05-18 12:46] pavanky commented on #681
Can we move the discussion to here: https://github.com/arrayfire/arrayfire_rust/issues/1

[2015-05-18 12:46] #681 closed

[2015-05-18 14:16] #13 closed

[2015-05-18 14:38] umar456 commented on #676
Most of the time this will not be an issue. `where` is usually used as an intermediary operation meaning that the result is passed into another function which does additional processing. Different types can be handled at runtime for the most part. The only issue I see with option 3 is if the user wants to perform `where(idx).host<uint>()`. In that case the user will have to call the `as` function

[2015-05-18 15:26] pavanky commented on #676
On that related note, should we automatically cast and handle "`foo.host<other_type())`" ? I think this should make things easier from the user perspective.

[2015-05-18 18:27] ghisvail opened #682 "Missing copyright header in some source files"
The following source files have missing copyright headers in the v3.0beta release:
./include/af/timing.h
./src/api/cpp/regions.cpp
./src/api/cpp/seq.cpp
./src/api/cpp/data.cpp
./src/api/cpp/timing.cpp
./src/backend/opencl/math.cpp
./src/backend/cuda/JIT/types.h
./src/backend/cuda/math.cpp

[2015-05-18 19:27] #682 closed

[2015-05-19 18:22] xumbu opened #687 "extremely slow on gpu (running the helloworld example with opencl)"
Hi.

I saw your Webinar on AMDs YT Channel yesterday and think arrayfire could be a great library for my linear algebra stuff.

I started checking out the examples... But most examples are surprisingly slow when I use OpenCL.

When I run it on my CPU (i5) it finishes almost immediately.
With OpenCL it takes a few seconds!

GPU: AMD Radeon R9 280
OS: Windows 10

When I loop the complete function, O

[2015-05-19 18:59] pavanky commented on #687
@xumbu The OpenCL backend compiles the kernels during the first run. In our experience the AMD OpenCL driver takes longer than other platforms to compile the kernels. Due to the nature of OpenCL, we can not ship pre-compiled kernels (this would mean we are limiting the hardware we support).

For long running algorithms this should not be a problem because ArrayFire caches the necessary kernels aft

[2015-05-19 18:59] #687 closed

[2015-05-19 19:24] xumbu commented on #687
Good to know. :)
I was just surprised.

Thanks for your fast response!

[2015-05-20 02:04] futurely opened #688 "Integrate with cuDNN that the most popular deep learning frameworks have adopted"
The recently released [cuDNN](https://developer.nvidia.com/cuDNN) v2 has superior performance acceleration compared with any other deep learning kernels. "Several widely used machine learning frameworks support cuDNN acceleration, including UC Berkeley’s Caffe, NYU's Torch, and University of Montreal’s Theano, as well as many other software projects."

Lack of cuDNN is a major blocker to implement

[2015-05-20 04:44] pavanky commented on #688
This needs to be a separate project or a fork. We can not support cuDNN in mainline arrayfire as it is hardware specific.

[2015-05-20 06:18] futurely commented on #688
Even CXXNET has caught up.
https://github.com/dmlc/cxxnet/search?utf8=%E2%9C%93&q=cudnn

Those DL libraries use compile time flags to set macros to enable cuDNN acclerated codes. If the users don't have the required hardware and opt out cuDNN, the legacy GPU kernels still function well.

I wonder if you want to do some benchmarks against some other implementations before giving up.
https://github.

[2015-05-20 07:05] pavanky commented on #688
I didn't say we are giving up. I was just making a point that the development for this should perhaps happen in a different repo.

[2015-05-20 21:38] ghisvail opened #692 "ArrayFire versioning scheme"
Dear ArrayFire developers,

Could you guys clarify the versioning scheme you have adopted for the ArrayFire development ? I saw that each backend has a soversion set to the major version of ArrayFire, which is currently 3. Does it mean, you guys commit not to break the ABI for subsequent minor releases of the project, i.e. 3.1, 3.2...?

Best regards,
Ghis

[2015-05-20 22:14] pavanky opened #693 "Memory leak in indexing"
[code]

[2015-05-20 22:15] pavanky commented on #693
Reproduced using cpu backend.

[2015-05-21 02:00] umar456 commented on #692
Hi ghisvail

We are committed to solidifying the ABI before we release. We are currently in the process of auditing our interface to make sure we can keep this contract for the foreseeable future. We plan to follow the guidelines outlined in the [Apache Portable Runtime Project](https://apr.apache.org/versioning.html).

[2015-05-21 02:39] umar456 commented on #688
I think what @pavanky is trying to say is that cDNN is an excellent library but it need to be used in conjunction with ArrayFire rather than a part of ArrayFire itself. Perhaps a machine learning library which makes use of ArrayFire and cuDNN. We have plans to create something like this in the near future.

[2015-05-21 09:12] ghisvail commented on #692
Thanks for clarifying. That would be great if you guys conform with the APR guidelines from a packaging point of view. Good luck with that and keep up the good work !

[2015-05-21 13:53] #692 closed

[2015-05-21 20:52] munnybearz opened #696 "Link failures following fce4ad5"
My software fails to link following commit fce4ad5. I've isolated it to that change by continuously rebuilding arrayfire and trying to link my software. The commit before that one works fine.

The link errors appear like this:

[code]

I'm using clang++ 3.6.1 and G++ 5.1.0 on Ubuntu x86_64. Let me know if you need any more info.

[2015-05-21 21:08] pavanky commented on #696
@munnybearz Can you do a clean build and see if this is still failing ? If some of the files are pre-compiled this may be causing issues.

[2015-05-21 21:15] munnybearz commented on #696
Hi Pavan,

Thanks for responding so quickly as usual :)

I started by completely deleting the arrayfire directory and downloading the latest devel source to build from scratch, which still gave the link errors. Then I did the following sequence of commands each time to test the next commit:

(in arrayfire/build)
git reset --hard <commit id>
rm -rf *
cmake .. -DCMAKE_BUILD_TYPE=Release
make -j10
ma

[2015-05-21 21:17] pavanky commented on #696
That should be sufficient for arrayfire. But the link errors you are seeing seem to come from your project. So I am assuming some object files in your project are not deleted ? Or perhaps your project is finding header files from an older version of ArrayFire.

[2015-05-22 03:43] umar456 opened #697 "Incorrect behavior when indexing with single element"
Indexing with single element on a ND array should return the element at the linear location of the array.

[code]

The above code returns the first row instead of the first element.

[2015-05-22 12:57] shehzan10 commented on #697
It's because the default arguments for array proxy are span now. They were 0 before proxy was added.

[2015-05-22 12:59] umar456 commented on #697
They were separate functions before. It should be a simple fix.

[2015-05-22 17:47] pavanky commented on #661
Fixed by #695

[2015-05-22 17:47] #661 closed

[2015-05-22 17:57] pavanky commented on #696
@munnybearz any updates

[2015-05-22 20:52] munnybearz commented on #693
The seq memory leak is fixed, but the array usage one still leaks:

[code]

[2015-05-22 21:05] munnybearz commented on #696
Hi. I haven't been able to solve this so far :(

I've definitely cleaned every trace of compiled files in my project dir. I've been really trying to figure out why it won't link. I'm using the -v option in the compile and link commands and it looks correct. The include path list shows the include directories being used and I checked that array.h and defines.h were updated.

For now I've just branc

[2015-05-22 21:08] pavanky commented on #696
is this happening for all backends or just cpu ?

[2015-05-22 21:08] pavanky commented on #696
Can you also post a sample of your project so we can try to reproduce the problem ?

[2015-05-22 21:23] pavanky commented on #696
btw, can you check if you are able to build tests in arrayfire ?

[2015-05-22 21:24] munnybearz commented on #696
Hi, yes all the tests and examples build. I haven't tried the opencl backend. I'll prepare an EC2 ami which shows the issue.

[2015-05-22 21:32] pavanky commented on #696
@munnybearz hey I think we just figured out the issue. If you are testing this, can you put "#define ARCH_64" before including any ArrayFire headers and see if that fixes the issue ?

[2015-05-22 21:34] munnybearz commented on #696
ah that looks interesting! Ok I'm rebuilding the latest devel arrayfire libs now and will try this define. will update in a mo

[2015-05-22 21:43] munnybearz commented on #696
YES THAT WORKED!! I added a -DARCH_64 in my compiler flags and I can build and link successfully now with the latest devel :+1:

[2015-05-22 21:50] pavanky commented on #696
Arlight, thanks for confirming! We are fixing it in our library as we speak.

[2015-05-22 22:00] #696 closed

[2015-05-22 22:43] pavanky commented on #692
I think we need to be explicit about the architectures we are willing to maintain ABI stability for in each version. There may be architectures on which ArrayFire **builds** that we do not have internally.

For this reason, I think it is fair to start the "contract" for the following architectures on Linux.

- x86
- x86_64
- ARM
- ARM64 (using gcc)

[2015-05-23 07:17] munnybearz commented on #693
I think I see why this memory leak is happening. I think the weak copy semantics are wrong in af_weak_copy.

**api/cpp/index.cpp**
[code]

Currently the weak copy does this:

**api/c/data.cpp**
[code]

I believe there are 2 problems here.

First, it is not a weak copy because of this line:
[code]
This ends up copying the shared_ptr to the data in the underlying Array object. So now the index is a

[2015-05-23 07:29] pavanky commented on #693
@munnybearz Your commit is the proper fix for the issue. The internal behavior is working as expected. The naming of the function is a bit confusing. We should perhaps have called it `af_shared_copy` instead of `af_weak_copy`. I think we will change the name to reflect this.

The problems you are seeing started occurring recently because of the proxy class we introduced to clean up a lot of kludge

[2015-05-23 07:34] munnybearz commented on #693
ahh I see! ok thanks for the explanation, that makes sense.

PR #699 created

[2015-05-23 15:33] Giels opened #700 "gfor incorrect result and bug with inplace operations in gfor"
http://archive.arrayfire.com/arrayfire/c/page_gfor.htm
specifies that the following invocations of gfor should be equivalent:

[code]
(Although I realize the documentation for gfor is out of date, given that it uses array rather than seq).

But that is not the case in 3.0_beta:

[code]

[code]
(Assignments for any but the first element were skipped - changing `last` or `inc` doesn't affect this re

[2015-05-23 15:48] Giels commented on #700
Looks like the first problem is actually an issue with the documentation, since the arguments are passed to seq via __VA_ARGS__, and seq uses begin, end, step order instead of begin, step, end as is the case in the documentation.

[2015-05-23 18:50] pavanky commented on #700
@Giels This is definitely a bug. This may be related to #697 Thanks for reporting this.

[2015-05-23 18:51] pavanky commented on #700
Yes, this is a problem in documentation. We need to fix it.

[2015-05-25 11:10] #693 closed

[2015-05-25 11:13] pavanky commented on #700
This is fixed in the current documentation in devel. It will be fixed on the website is updated.

[2015-05-25 11:15] pavanky commented on #697
The indexing part is fixed. The assignment parts need to be fixed.

[2015-05-25 11:38] pavanky commented on #693
@munnybearz I ran it for a couple of minutes using the cpu backend and monitored the usage. The memory spikes a bit initially (probably because the memory manager is allocating new buffers because of `where(A > 0.5);` is generating arrays of different sizes. It does get stable after a few seconds though.

[2015-05-25 11:41] munnybearz commented on #693
Hi Pavan. Thanks very much for fixing this :+1: . I'll let you know if I find any more :-)

[2015-05-25 11:42] pavanky commented on #693
This fix was all @umar456.

[2015-05-25 12:10] pavanky commented on #596
Functions to document:

[code]

Enums to document:

[code]

Classes / structs to document:
[code]
macros to document
[code]

[2015-05-25 12:11] pavanky commented on #596
Other issues to fix:

- Examples tab in documentation are picking up files from tests rather than examples directory (ex: blas.cpp and fft.cpp)

- Release notes needs to be updated

- Update the version number.

[2015-05-25 14:18] shehzan10 commented on #254
We have been able to use the Intel compiler and MKL to compile (however not the OpenCL backend with the intel compiler).
You can use the arrayfire-windows-scripts (https://github.com/shehzan10/arrayfire-windows-scripts) to use MKL (see the options in common.bat). In rebuild_arrayfire.bat use the following lines just after "echo Generation CMAKE"
[code]

[2015-05-25 14:21] pavanky commented on #596
Documentation needs to be made better for the following functions:

[code]

[2015-05-25 14:30] #606 closed

[2015-05-26 17:31] umar456 opened #704 "Fix const correctness for row/col operations"
The row and col operations are constant member functions but they return a reference to a non-const array_proxy object. This will allow for the editing of const array objects using these functions.

[2015-05-26 18:20] #704 closed

[2015-05-26 21:41] bkloppenborg opened #709 "GCC compiler warnings"
Here is a list of compiler warnings I get when compiling ArrayFire from scratch. None of them are particularly troubling:

CMake warnings:

    Manually-specified variables were not used by the project (gtest):

    CMAKE_CXX_FLAGS_LIBSTDCPP
    -- Build files have been written to:: arrayfire/build/third_party/gtest/src/googletest-build

GCC unused variables

    arrayfire/src/backend/cpu/inverse.

[2015-05-26 23:14] pavanky commented on #709
We can't fix google test. The bufferFree stuff is a bug in the compiler I think. I ran through the logic and it looks right. It can potentially be be "fixed" by making data to be `nullptr`.

The other two sets of warnings, I fixed it in a branch. This will be in devel soon.

[2015-05-27 00:30] pavanky commented on #709
Alright the black_scholes and opencl/magma warnings have been fixed in devel.

[2015-05-27 00:51] #10 closed

[2015-05-27 00:51] #11 closed

[2015-05-27 00:51] #549 closed

[2015-05-27 00:54] 9prady9 commented on #549
@KoldoRamirez Can you test your code now with latest devel ?

[2015-05-27 00:55] pavanky commented on #211
Fixed by #707

[2015-05-27 00:55] #211 closed

[2015-05-27 10:55] KoldoRamirez commented on #549
Sorry, the exception remains: "Runtime Error! R6025 - pure virtual function call"

Library used from last binaries.

info() reports this:
ArrayFire v3.0.beta (OpenCL, 64-bit Windows, build a4a26ce)
[0] INTEL   : Intel(R) HD Graphics 4000
-1- INTEL   : Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz
-2- Experimental OpenCL 2.0 CPU Only Platform: Intel(R) Core(TM) i5-3320M CPU @
2.60GHz

[2015-05-27 11:09] ghisvail opened #712 "Release tarball with content of submodules"
Dear ArrayFire developers,

It would simplify downstream packaging of ArrayFire a great deal if you guys could provide additional release tarballs with the content of the submodules. The tarballs generated from the git tags omit these, which means neither the documentation nor the test suite can be built correctly from source.

These additional release tarballs could be provided via Git releases m

[2015-05-27 13:10] pavanky commented on #712
Hi Ghisvall,

We are infact trying to make a release this week (possibly today!). Please watch out.

[2015-05-27 13:12] pavanky commented on #712
Also the submodules are only necessary for ~~building~~ **running** the examples and tests. Is this necessary for the packages ?

[2015-05-27 13:14] pavanky commented on #549
HI

This is using the latest commit from master branch. We were talking about the devel branch. Can you give that a shot ?

[2015-05-27 13:18] pavanky commented on #549
Or are you using the installer from the website to check this ?

[2015-05-27 14:02] ghisvail commented on #712
Awesome ! Congrats !

Examples no. Test suite most certainly yes.

[2015-05-27 14:03] shehzan10 commented on #712
Correction: Examples do requires the assets submodule. These contain data like images, mnist data.

[2015-05-27 15:12] pavanky opened #713 "Inconsistent camel case"
- [x] alltrue --> allTrue
- [x] anytrue --> anyTrue
- [x] setunion --> setUnion
- [x] setunique --> setUnique
- [x] setintersect --> setIntersect
- [x] fftconvolve --> fftConvolve
- [ ] medfilt --> medianFilter (medFilt) ?
- [ ] corrcoef --> corrCoef ? (this is similar to matmul, should it even change?)
- [x] meanshift --> meanShift
- [x] colorspace --> colorSpace

[2015-05-27 15:13] pavanky commented on #713
@umar456 We need to figure this out today.

[2015-05-27 15:13] pavanky commented on #713
@pentschev add stuff as you find here.

[2015-05-27 15:17] pavanky commented on #713
While I am here, shouldn't these also change:

- erode3d --> erode3
- dilate3d --> dilate3 ?

[2015-05-27 15:17] pentschev commented on #713
Also those:

* deviceprop --> deviceProp
* colorspace --> colorSpace
* histequal --> histEqual

[2015-05-27 15:19] pavanky commented on #713
- rgb2gray --> rgbToGray
- rgb2hsv --> rgbToHsv
- hsv2rgb --> hsvToRgb
- gray2rgb --> grayToRgb

[2015-05-27 15:23] pavanky commented on #713
I think deviceInfo feels more natural than deviceProp.

[2015-05-27 19:20] ghisvail opened #715 "Allow usage of system-installed GTest for the build of the test suite"
Dear ArrayFire developers,

It would be nice from a packaging perspective to modify the build system slightly so that the test suite can be built using the system-distribution GTest rather than the embedded one. Perhaps with a conditional include of "build_gtest.cmake" based on the results of a ```find_package(GTest)``` ?

EDIT: typo

Cheers,
Ghis

[2015-05-27 19:31] shehzan10 commented on #715
I double checked this. We did that have before.
@pavan @umar I'll add an option now for USE_SYSTEM_GTEST, which when turned on uses find_package(gtest).

[2015-05-27 20:24] shehzan10 commented on #715
Fixed by #716

[2015-05-27 20:24] #715 closed

[2015-05-27 20:40] pavanky commented on #715
@ghisvail Can you verify if this fixes your issue ?

[2015-05-27 20:51] pavanky commented on #483
These functions error out in 3.0. Pushing the feature request for a later release.

[2015-05-28 01:34] Keno opened #719 "Cmake fails to build forge"
Hi there,

I'm trying to build arrayfire and the make command failed with:

[code]

Any ideas?

[2015-05-28 01:43] shehzan10 commented on #719
Can you tell me which version of CMake you are using?
And try by changing these lines in CMakeModules/build_forge.cmake
[code]
to
[code]

[2015-05-28 01:47] Keno commented on #719
Yep, that worked.

[2015-05-28 01:48] Keno commented on #719
I was just using `cmake -DGLFW_LIBRARY=~/.julia/GLFW/deps/usr/lib/libglfw.dylib -DGLFW_INCLUDE_DIR=~/.julia/GLFW/deps/usr/include/`. I also tried using Ninja, but that failed for other reasons, so I decided to try makefiles first.

[2015-05-28 01:50] Keno commented on #719
Also
[code]

[2015-05-28 01:59] umar456 commented on #700
Documentation not updated...yet

[2015-05-28 01:59] pavanky commented on #697
Fixed by #720

[2015-05-28 01:59] #697 closed

[2015-05-28 03:59] #713 closed

[2015-05-28 06:25] KoldoRamirez commented on #549
Hello Pavan. I am checking this with the installer.

On Wed, May 27, 2015 at 3:18 PM, Pavan Yalamanchili <
notifications@github.com> wrote:

[2015-05-28 07:02] pavanky commented on #549
We have not updated the installer on the website yet. This is currently fixed in the devel branch of our repo

[2015-05-28 07:39] ghisvail commented on #715
All good guys, thanks for addressing this.

[2015-05-28 07:57] ghisvail opened #721 "Centralized location for path management"
Dear ArrayFire developers,

This is more of a suggestion than a requirement, but for downstream packaging (again) we often need to relocate part of the installation tree to more suitable locations. As it stands now, that means patching individual CMakeLists.txt files in the ArrayFire source tree, which is not ideal and could be made easier by centralizing path management.

Could you guys provide s

[2015-05-28 13:46] pavanky commented on #721
@ghisvail Can you send in a PR with the suggested changes ? It would be easier this way than us trying to figure out which parts of the installation need to be configured individually.

[2015-05-28 13:51] bkloppenborg commented on #721
@ghisvail , I guess you are suggesting we set up some options like what follows, correct?

[code]

[2015-05-28 14:12] ghisvail commented on #721
@bkloppenborg
Yes something along these lines would be perfect. I would also add the following:
[code]

@pavanky
I am happy to submit a PR for this, unless @bkloppenborg is already on it.

[2015-05-28 14:15] bkloppenborg commented on #721
@ghisvail , please feel free to submit a PR. The CMake configure scripts for ArrayFire use a relative path to keep the code portable, so we might need to modify the scripts slightly.

[2015-05-28 18:00] ghisvail commented on #721
@bkloppenborg
Yes I figured the RPATH stuff on OSX may become broken as a result. I don't have an OSX dev machine to test that on though.

You guys might also want to take this opportunity to enable RPATH support (optionally please) on Linux.

[2015-05-28 18:29] bkloppenborg commented on #721
@umar456 , could you verify these modifications did not break the RPATH on your Mac?

[2015-05-28 18:44] #412 closed

[2015-05-28 21:09] bkloppenborg opened #727 "Fractal example close button not functional"
The close button on the fractal example does not close the window.

[2015-05-28 22:19] umar456 opened #731 "Missing functions"
- [ ] arg (phase angle in radians)
- [ ] epsilon
- [ ] erfinv
- [ ] erfcinv
- [ ] factorial
- [ ] trunc
- [ ] pow2
- [ ] root
- [ ] sign
- [ ] nonzeros

Either we add these functions or we talk about them in release notes

[2015-05-28 23:02] pavanky commented on #731
- mul has been changed to prod
- nonzeros was a C only api. The C++ was called count.
- We can't do anything about Eigen, SVD, matpow, hessenberg (no upstream support)
- filter was a wrapper around convolve. We had it for legacy reasons. I dont see why we should continue supporting it.

[2015-05-28 23:07] pavanky commented on #731
Realistically the following functions need to be done be:

- [ ] arg (phase angle in radians)
- [ ] epsilon
- [ ] erfinv
- [ ] erfcinv
- [ ] factorial
- [ ] trunc
- [ ] pow2
- [ ] root
- [ ] sign
- [ ] rank
- [ ] det
- [ ] minfilt (wrap around erode)
- [ ] maxfilt (wrap around dilate)

[2015-05-28 23:07] umar456 commented on #731
* nonzeros was an af::array member function
* should we create a mul function in compatible and deprecate it?
* I figured. I wanted a comprehensive list
* deprecate?

[2015-05-28 23:10] pavanky commented on #731
About non zeros.. yeah it was a member function because it did something special for sparse matrices. We can add it back, but I don't think it does anything useful.

- We can put mul and filter in compatible.h if need be.

[2015-05-28 23:55] ckeitz commented on #483
Pavan, can you clarify explicitly whether this means that matrix multiply is not available within gfor? I am currently getting incorrect results when I use it inside gfor for batch sizes larger than ~5 (small matricies on the order of [40,20] x [20, 40]) - interestingly it seems to work correctly in small batches and I'm nowhere near out of memory.

An aside - is there a registry of functions that

[2015-05-28 23:57] pavanky commented on #483
It is most definitely not supported in the open source version. We were not throwing errors before. I changed this behavior couple of days ago. We will add support for it before next release.

[2015-05-29 00:27] ckeitz commented on #483
Thanks for the quick reply! Glad to know the issue :+1:

[2015-05-29 06:29] KoldoRamirez commented on #549
Uups. I will try it this weekend.

[2015-05-29 10:07] unbornchikken opened #735 "Memory leak in OpenCL backend"
Continued from this: https://github.com/arrayfire/arrayfire/pull/734

The actual issue is there: https://github.com/unbornchikken/arrayfire/blob/devel/src/backend/opencl/Array.cpp#L283

Look, if there is an OpenCL buffer, and there is a CLBuffer reference to this in the heap, and this CLBuffer never gets deleted, then the reference wil hold forever, and OpenCL buffer won't get released, because **

[2015-05-29 10:17] unbornchikken commented on #735
Just for the record, if I remember correctly, command queue holds references to passed memory arguments. If it's true then my PR was correct as was, because despite data_buf gets released when stack collapses, the queue will hold an other reference to data. I don't remeber if queu behaves like this or not though.

[2015-05-29 12:16] pavanky commented on #735
Keep in mind that cl::Buffers do not increment the reference count on creation (i.e. they do not call clRetainMemObject). However they do decrement the reference count in the destructor (i.e. they call clReleaseMemObject).

This results in a reference count being decreased by 1 when a cl::Buffer takes in a cl_mem and then goes out of scope (instead of just keeping the original reference count). Th

[2015-05-29 12:31] unbornchikken commented on #735
Yeah I missed that Buffer(cl_mem) is just calls Wrapper(cl_mem), so this actually doesn't get leaked on the GPU side, that's why you haven't noticed it with a GPU profiler. PR updated. Thanks.

[2015-05-29 12:35] pavanky commented on #735
No worried. I lost a bet once to @umar456 making similar assumptions to what you did.

[2015-05-29 12:52] #735 closed

[2015-05-29 14:12] pavanky commented on #719
@shehzan10 Can this issue be marked as resolved or do we need to fix something on our end ?

[2015-05-29 14:29] pavanky commented on #712
@ghisvail I am new to the difficulties of packaging, so please bear with me for a bit.

I just realized another issue that might come into play. ArrayFire ~~depends~~ *might depend* on development version of clFFT and clBLAS for some bug fixes. This is alright if you are statically linking those libraries with ArrayFire.

Considering that @kif (https://github.com/kif) is working on integrating clF

[2015-05-29 14:34] #721 closed

[2015-05-29 14:42] shehzan10 commented on #719
I'm not sure what the cause of this is. We haven't heard of this problem from any other users. I thought it might be an older CMake version, but that does not seem to be the case.

The solution I gave will fix it. But maybe once we find the cause, the fix would propbably be different.

[2015-05-29 14:51] ghisvail commented on #712
I actually took over Jerome for clFFT and I am also taking care of clBLAS ^^.

That would be the aim, having the packaged version of the ArrayFire OpenCL backend depend on the packaged version of clBLAS and clFFT. Dyanmic linking allows us to have a single place to fix bugs (the package itself).

Not quite sure what you mean here. Do you have an example in mind ?

Again not sure which situations y

[2015-05-29 15:05] pavanky commented on #712
Ah good to know. I just saw him interacting with the clFFT devs some time ago. Thanks for clearing it up.

No the API is stable. The problems will be with accuracy and functionality on various OpenCL based devices.

Given the wide range of quirks and inconsistencies in OpenCL runtimes, clMathLibraries and arrayfire are broken on a few platforms. Sometimes it is the problem with the OpenCL runtimes

[2015-05-29 15:10] ghisvail commented on #712
Absolutely, we can (and will) cherry-pick commits to provide bug-fixed packages.

[2015-05-29 15:14] pavanky commented on #712
About the original subject of this issue, is it OK to host the tarball on our CI server ? How often will it be hit with downloads?

[2015-05-29 15:33] ghisvail commented on #712
The Debian BTS monitors new releases using a watch file (which defines a perl regexp to extract the upstream version from the URL where release tarballs are hosted). The BTS does *not* perform any download.

This tarball would be typically downloaded once per new release by the package maintainer and then be committed to our mirror in compressed form. As long as you guys provide a reliable locatio

[2015-05-29 15:35] pavanky commented on #712
This should be possible. I think we will just put it on our main website as it has a more reliable server than our CI.

[2015-05-29 15:46] ghisvail commented on #712
Can't you guys just do it via Github releases ?

[2015-05-29 15:47] pavanky commented on #712
That would be ideal, but from what I can see I don't think we can include the submodules. If we can, we will just go down that route.

[2015-05-29 15:48] pavanky commented on #712
Nevermind, I did not look hard enough. I think it is possible.

[2015-05-29 22:04] pavanky opened #738 "CMakeLists.txt in examples directory does not let you disable backends"
- If it finds the necessary config files, it tries to build the examples for all the backends.

[2015-05-30 18:08] #738 closed

[2015-05-31 09:17] pavanky commented on #250
fixed in devel.

[2015-05-31 09:17] #250 closed

[2015-05-31 09:31] pavanky commented on #731
Finished the necessary functions for 3.0

[2015-05-31 12:42] ghisvail commented on #712
Maybe a stupid question, but why provide gtest as a submodule when you can do it with ExternalProject_Add as it is done in clBLAS / clFFT ?

ExternalProject_Add sounds to me like a more reasonable approach + it is easier to patch for using a system provided one like in Debian.

FYI, Debian and I believe does not actually provide a compiled libgtest (so find_gtest would be useless actually), since

[2015-05-31 13:06] shehzan10 commented on #712
Personally, I think it is fair to have gtest downloaded with the external build. I have wondered the same but never got around doing something about it.

With regards to using the system directory to build gtest, I think it is one too many options for the user, and probably redundant. The redundancy coming from the fact that any developer could build gtest in the system directory and simply use th

[2015-05-31 13:40] ghisvail commented on #712
Actually Google explictly discourage to do so:
https://code.google.com/p/googletest/wiki/V1_7_FAQ#Why_is_it_not_recommended_to_install_a_pre-compiled_copy_of_Goog

Which means USE_SYSTEM_GTEST / findgtest is sort of useless.

We cannot use any remote resources at build time. However, this is not a problem with gtest because ExternalProject can use local source directories, using the two options I

[2015-05-31 13:42] ghisvail commented on #712
FYI, I validated this approach on clBLAS successfully.

[2015-05-31 14:06] shehzan10 commented on #712
As I said, I think its fine to have the build_gtest like clBLAS does. I am aware of google tests discouraging gtest from system. That's why we build it at compile time.

What I'm not clear about is do you want the source for that build to be downloaded from git or be from the source package (/usr/src) or both (depending on an option the user can set)?

[2015-05-31 14:11] umar456 commented on #712
@ghisvail with regard to gtest. See issue #424
Gtest is being built as an external project. We are using the submodule directory as the source. We can update the [external project command](https://github.com/arrayfire/arrayfire/blob/devel/CMakeModules/build_gtest.cmake#L49) to use the debian source directory instead of the provided submodule if necessary.

[2015-05-31 14:46] shehzan10 opened #743 "Build CUDA backend with multiple compute options"
Currently, CUDA backend allows only a single compute version. Add support for multiple compute versions to be compiled simultaneously.

[2015-05-31 15:02] ghisvail commented on #712
@shehzan10

We would use the content of /usr/src/gtest regardless of whether the content of test/gtest is provided in the release tarball.

@shehzan10 , @umar456

Since this is Debian specific (other distros may handle gtest differently), I guess no further options should be provided. IMO, it is not worth for you guys to maintain yet another build option just for this. Even usage of USE_SYSTEM_GTE

[2015-05-31 18:45] pavanky commented on #712
We had gtest as an external module before. The problem was the repo we were trying to download from was highly unreliable and it would fail to download often. So we did two things simultaneously to address this problem.

1. Change the repo to a more reliable one
2. Move from external module to a submodule.

Now submodules have the benefit of being downloaded only once where as external modules are

[2015-05-31 19:01] KoldoRamirez commented on #549
Sorry. For now I cannot compile OpenCL version (CPU version yes). Opened a question in Google Groupd here (https://groups.google.com/forum/#!topic/arrayfire-users/oRafHz8LL44)

[2015-05-31 23:29] munnybearz opened #744 "array_proxy indexing"
Hi guys,

With the new array_proxy class, I can't seem to be able to do things like this:

[code]

The first call to rows() gives an array_proxy, and the second call to rows() gives me a compiler error saying there is no rows() method in the array_proxy class:

[code]

I'm currently working around this by doing:

[code]

Please could you advise if the functionality has been dropped or is an oversi

[2015-05-31 23:32] umar456 commented on #744
Looks like we missed a couple of member functions. Should be fixed soon.

[2015-05-31 23:37] #727 closed

[2015-06-01 00:19] gpryor opened #746 "add gitter"
like... https://github.com/Yonaba/30log

e.g. : https://gitter.im/Yonaba/30log?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2015-06-01 02:26] pavanky commented on #743
fixed by #747

[2015-06-01 02:26] #743 closed

[2015-06-01 13:35] pavanky opened #750 "Make all submodules external projects"
This would make it easier for us to package all the necessary files to build arrayfire into a single archive. It would also reduce the pain of us having to update the submodule tags frequently. We could point assets and data dirs to always download master.

Things to change

- [ ] arrayfre/data
- [ ] arrayfire/assets
- [ ] gtest

[2015-06-01 13:36] pavanky commented on #750
@umar456 @shehzan10 thoguths ?

[2015-06-01 13:45] umar456 commented on #750
If you want to make gtest a external project then fine. but we need to keep data and assets as submodules because if we update the data in the future it will break older test commits.

[2015-06-01 13:49] pavanky commented on #750
I was just suggesting we can link to master. We can link external builds to a particular commit as well (like we are doing for clBLAS, clFFT and Boost.Compute).

[2015-06-01 13:50] shehzan10 commented on #750
So solve the problem that umar states, we can use commit IDs. They'll work same was as the submodule commits work.

See build_boost_compute.cmake

[2015-06-01 13:55] pavanky commented on #750
I emailed github support asking if there was a way to automatically archive submodules in their "releases". This is the response I received:

So I guess that is a reasonable alternative to what I am suggesting here. If you guys feel like it's too much work to change the submodules, we can just do this.

[2015-06-01 16:25] ghisvail commented on #712
FYI, regarding the issue, I can also provide a custom target in the downstream packaging which would be responsible for cloning the repository and its submodules and pack it to a release tarball, which would then be used for packaging. Let me know if that suits you guys better.

[2015-06-01 16:26] pavanky commented on #712
@ghisvail when #750 is resolved, we won't have to worry about sub module dependencies. Hopefully this will be fixed today.

[2015-06-01 16:30] ghisvail commented on #712
Brilliant

[2015-06-02 02:01] pavanky commented on #712
@ghisvail Looks like we can't remove the submodule dependency n time for 3.0. We will manually upload the 3.0 with submodules. We will try to fix the issue before the next minor release.

[2015-06-02 03:10] #744 closed

[2015-06-02 08:23] unbornchikken commented on #719
I'm also having issue of building forge on Windows. The problem is, it has dependency on freetype2, that forge tries to clone, but it fails with no avail error:

git://git.sv.nongnu.org/freetype/freetype2.git

I have to manually change repo url to:

http://git.savannah.gnu.org/cgit/freetype/freetype2.git

in `build\third_party\forge\src\forge-ext\CMakeModules\build_freetype.cmake` after configure.

[2015-06-02 08:29] ghisvail commented on #712
Sounds good to me.

No pressure on my end :). You guys should take your time to find what works best for the project.

[2015-06-02 13:20] shehzan10 commented on #719
Thanks for reporting this. We'll make the changes in forge.

[2015-06-02 13:43] shehzan10 commented on #719
This has been fixed in forge. Can you delete the third_party directory and try again.

[2015-06-02 13:56] unbornchikken commented on #719
It works at my side on Windows, thanks.

[2015-06-02 13:57] shehzan10 commented on #719
Great. I'm closing this issue. @Keno if the problem persists, please reopen this.

[2015-06-02 13:58] #719 closed

[2015-06-02 16:03] pavanky commented on #712
@ghisvail github is limiting the archive to 10MB. We uploaded the source code with submodules to our website. You can find the link at the top of this page:

https://github.com/arrayfire/arrayfire/releases/tag/v3.0.0

[2015-06-02 16:03] #712 closed

[2015-06-02 16:03] pavanky commented on #321
This is available now from here: https://github.com/arrayfire/arrayfire/releases/tag/v3.0.0

[2015-06-02 16:03] #321 closed

[2015-06-02 16:09] pavanky commented on #700
Updated docs. Will be uploading the installers soon.

[2015-06-02 16:09] #700 closed

[2015-06-02 16:09] #596 closed

[2015-06-02 21:32] marbre opened #761 "FindCBLAS.cmake should use pkg_config to find CBLAS"
I am currently preparing an ebuild to package arrayfire-3.0.0 for the [Gentoo science overlay](https://github.com/gentoo-science/sci). Ebuilds to build 3.0_beta and from git are already available.
I noticed that a patch I wrote for the previous ebuilds is still necessary to find CBLAS. On Gentoo CBLAS can be found via `pkg_config`, as done with applying this [patch](https://github.com/marbre/sci/b

[2015-06-03 14:22] unbornchikken opened #764 "Missing function: corrcoef returning an array holding a complex value"
Every functions in [statistics category](http://www.arrayfire.com/docs/group__basicstats__mat.htm) returns array counterparts along values, only corrcoef doesn't. I think it should be there aswell.

[2015-06-03 14:25] unbornchikken opened #765 "Inconsistent naming convention of functions"
I can see that cameCase and lowercase naming of functions is mixed. It seems newer ones are cameCased and old ones are lowercased. Is there a plan to move toward cameCase naming convention for all functions?

[2015-06-03 14:48] shehzan10 opened #766 "Support Visual Studio 2015"
The following tasks need to be completed for Visual Studio 2015 Support:

- [x] Merge PR #760
- [x] Fix scope resolution in tests
- [x] Send in a PRs to clBLAS, clFFT, Forge
- [x] Build FreeImage Static with VS 2015. Also send in PR to upstream.
- [x] Await CUDA support for VS 2015

[2015-06-03 15:31] 9prady9 commented on #765
@unbornchikken Yes, we are following cameCased naming convention for 3.0 version (Version 2.1 used to have lowercased naming convention). To avoid breaking old code straight away, we added lowercased functions as well for this release, but they are marked as deprecated and any use of those functions should throw a warning during user application code compilation. If you do find anything that is no

[2015-06-03 17:30] pavanky commented on #765
We deprecated lower case only functions. The only exceptions I can remember are moddims and matmul

Are there other functions you found that are not camel case?

[2015-06-03 19:59] unbornchikken commented on #765
I think you've already figured out that I'm the guy who's making the [Node.js binding of Array Fire](https://github.com/unbornchikken/fire-js). So I think I've been seeing more Array Fire functions beside each other recently than you have. :D

Here is what I've found so far:

[code]

Actually I'm creating corrected aliases in Fire.js, eg: https://github.com/unbornchikken/fire-js/blob/master/src/ma

[2015-06-03 20:08] pavanky commented on #765
I am sorry but almost all of these are standard names used in the C / C++ Standard libraries. We are only trying to camel case our *function* names (not methods) if they  something we came up with. If this is the entire list, I think we are going to close this as wont fix.

[2015-06-03 20:08] #765 closed

[2015-06-03 20:26] unbornchikken commented on #765
I understand. It's your decision but I think it could be better to stick with the convention that standard lib uses altogether then instead of mixing things up, because it's kinda confusing. Anyway I wish that issue be the toughest one that I can come up with while I'm on the porting work. :) Now I gotta go to figure out how to do `gfor` in Node.js. Thanks for your time!

[2015-06-03 20:31] pavanky commented on #765
I highly suggest you not use `gfor` as is when porting to other languages. Under the hood all it does is the following. This is a nicety that we enabled back in the day, but all the functionality that uses gfor can be accomplished without using it.

We have an alternative function called `batchFunc` which uses function pointers that provides essentially the same functionality.

[2015-06-03 20:37] unbornchikken commented on #765
It's new for me. I cannot see anything about it in the documentation. Could you point me to the right direction? Should I open a new issue for this question?

[2015-06-03 20:39] pavanky commented on #765
A new issue would be better. We have purposely left batchFunc out of the documentation for now.

[2015-06-03 20:44] unbornchikken opened #768 "batchFunc instead of gfor?"
Hi,

You've mentioned that in another issue that `gfor` is not the right way of doing `gfor` :), gotta use `batchFunc` instead. So, what is `batchFunc`? It's not int the documentation. Can I see an example? What's the status of `gfor`, is it considered as deprecated?

Thanks.

[2015-06-04 00:05] pavanky commented on #768
@unbornchikken gfor is not deprecated, but it is also hard to port it to new languages (especially ones without macro support). The essence of gfor or batchFunc is to enable support batched operations. There are many cases that can be termed as batched operations.

**Case 1: Same operation on all elements**

For example if you want to do an operation on each element of array `A` you could do somet

[2015-06-04 00:05] #768 closed

[2015-06-04 01:19] pavanky opened #769 "complex support for mathematical functions"
- trigonometric functions
- exponential functions

[2015-06-04 04:34] unbornchikken commented on #768
excellent clarification, thanks. maybe it is a good idea to put this into the wiki, isn't it? btw in javascript i have macros by using eval.

[2015-06-04 05:12] unbornchikken commented on #768
oh, and i think that this auto batching functionality should be documented on functions those support it, shouldn't it?

[2015-06-04 06:26] unbornchikken commented on #768
Please ignore my last comment, it was from my cellphone, I didn't check docs of convolve2. I can see now that convolve2 documents this behavior pretty well.

[2015-06-04 10:24] unbornchikken opened #771 "Question: calculating the inverse of a matrix"
Is there a function or is there a plan to include a function for matrix inverse calculation? I'm trying to implement Levenberg–Marquardt for a NN. I can do LU decomposition of course, but it might be more performant when there is a direct support for it.

[2015-06-04 10:28] jramapuram commented on #688
Can cuDNN not be integrated into the src/backend/cuda calls?
Obviously cuDNN cannot help improve OpenCL, CPU backends..

[2015-06-04 11:26] pavanky commented on #771
There is a function called [inverse](http://www.arrayfire.com/docs/group__lapack__ops__func__inv.htm).

[2015-06-04 11:26] #771 closed

[2015-06-04 11:28] unbornchikken commented on #771
How did I miss this is beyond me. Extra mega uber cool! Thanks!

[2015-06-04 11:28] pavanky commented on #771
There is also [solve](http://www.arrayfire.com/docs/group__lapack__solve__func__gen.htm) which might be appropriate for Levenberg-Marquardt.

[2015-06-04 11:30] unbornchikken commented on #771
Yes, it is. Awesome, thanks.

[2015-06-04 11:52] pavanky commented on #688
@jramapuram The base ArrayFire needs to be the following.

- Provide highly performant parallel programming primitives that enable users to build high level programs.

- Provide the same consistency across all platforms.

We would love to support cuDNN in ArrayFire. But it is too high level of a library and also device dependent. I think the best course of action for us would be to start a machine

[2015-06-04 11:52] #688 closed

[2015-06-04 11:54] jramapuram commented on #688
Makes sense, thanks!

[2015-06-04 12:19] pavanky commented on #294
This is documented and pushed out in 3.0

[2015-06-04 12:19] #294 closed

[2015-06-04 12:20] pavanky commented on #528
This is duplicate of #118

[2015-06-04 12:20] #528 closed

[2015-06-04 12:29] pavanky commented on #766
@shehzan10 Does the ArrayFire binary work with VS 2015 ? Or is this more of an internal change ?

[2015-06-04 12:30] pavanky opened #772 "Fix graphics bugs on OSX and AMD GPUs on linux"
This might be a problem in upstream, bug in forge. Creating this issue as a place holder for upstream.

Issue was noticed on the following platforms:
- [x] OS X
- [ ] Integrated Graphics Card on AMD APUs.

Will mark them as they are fixed.

[2015-06-04 12:38] pavanky commented on #156
The external parameters are consistent. The internal stuff needs to be cleaned up.

[2015-06-04 15:11] shehzan10 commented on #766
When using the binaries, the header defines.h needs to change, but for now user's can fix it at their end. The binaries themselves do not need to change.

The tasks listed above are for building ArrayFire from source on Visual Studio 2015.

[2015-06-04 15:12] pavanky commented on #766
Can you create a subtask for the hotfix then ? We can send it out in 3.0.1

[2015-06-04 15:13] pavanky commented on #766
More importantly, does the snprintf stuff need to be in our header file ?

[2015-06-05 05:10] 9prady9 commented on #772
Issue was noticed on the following platforms:
- [ ] OS X
- [ ] Integrated Graphics Card on AMD APUs.
Will mark them as they are fixed.

[2015-06-05 05:12] 9prady9 opened #780 "Add unit tests for statistics wrapper functions"
* [x] mean
* [x] var
* [x] stdev
* [x] cov
* [x] median
* [x] corrcoef

[2015-06-05 07:47] KoldoRamirez commented on #549
Excellent. Problem solved. Thank you!

[2015-06-05 12:57] unbornchikken opened #781 "Docs are not accessible from the left side menu"
If I open up the docs at function list (http://www.arrayfire.com/docs/group__arrayfire__func.htm), and hit sin, I get:

http://www.arrayfire.com/docs/group__arith__func__sin.htm

If I open up the categorized list (http://www.arrayfire.com/docs/group__trig__mat.htm), and hit sin from there, I get:

http://www.arrayfire.com/docs/group__arith__func__sin.htm

So far so good. But hitting sin from http:

[2015-06-05 13:06] pavanky commented on #781
The second and third links are exactly the same.. I also tried going doing this manually in two different browsers. I am not able to reproduce this error.

[2015-06-05 13:11] unbornchikken commented on #781
Clearing the browser cache solved the problem for me, sorry. Atleast you known that cachning is working properly.

[2015-06-05 13:11] #781 closed

[2015-06-06 14:03] CsatiZoltan opened #782 "Blue screen of death under Intel HD Graphics in OpenCL"
Running the built-in example pi.cpp with the OpenCL configuration caused a blue screen of death when invoked with the command-line argument responsible for the device. Processor: Intel Celeron 1000M.
P.s.: In version 3.0 beta this bug hasn't occurred.

[2015-06-06 14:07] CsatiZoltan opened #783 "Graphics does not work in none of the configurations"
I am using an Intel Celeron 1000M processor and no discrete video card. I cannot run the examples that require graphics under none of the configurations (CPU, OpenCL, CUDA). The fact that CUDA doesn't work is natural, since the is no CUDA-capable GPU in my laptop.

[2015-06-06 16:17] 9prady9 commented on #783
@CsatiZoltan  Can you please run the graphics example from command line after you set the variable `AF_PRINT_ERRORS` to `1`. For windows, it would be `set AF_PRINT_ERRORS = 1` and then run the graphics example. It should print out some error information, can you share that over here. Does any window show up ? or the program crashes right away ?

[2015-06-06 16:21] 9prady9 commented on #782
@CsatiZoltan How did you acquire ArrayFire ?

* If you used installer, can you try installing ArrayFire using the non-graphics installer.
* If you built it from source, please try building ArrayFire without graphics and run the pi example again.

This should let us if this problem is related to ArrayFire-graphics or OpenCL as a whole on your machine.

[2015-06-07 15:39] KoldoRamirez opened #784 "OPENCL matrix initialization problem"
When initializing bidimensional array with host array with afOPEN_CL only first data is copied.
If the array is unidimensional, it is initialized properly;

Tested code
[code]

Output with afCPU
[code]

Output with afOPEN_CL
[code]

Using moddims the result is the same:
[code]

[2015-06-07 18:33] shehzan10 commented on #784
I tested this and it seems to work fine on my devices, however, I do not have a HD Graphics device.

Can you test your other devices and see if the problem persists?

[2015-06-07 20:07] KoldoRamirez commented on #784
It only fails with device 0 (Intel(R) HD Graphics 4000). The devices 1 and 2, based on CPU, work perfectly.

[2015-06-07 22:36] shehzan10 commented on #784
I was able to get my hands on the HD graphics (4600) machine and it works fine for me.

Can you run the helloworld example? The D array in the helloworld example is initialized using the host array method. Let's see if you face the same problem there too.

I tried add/changing the following:
* using floats instead of ints
* explicitly passing and not passing afHost

In all cases it worked fine. So

[2015-06-08 03:30] pavanky commented on #782
@9prady9 We do not have the non graphics installer on our website.

@shehzan10 Can you link to a non graphics build from our ci ?

[2015-06-08 03:32] pavanky commented on #784
@KoldoRamirez Can you mention the driver version you are using ?

[2015-06-08 08:11] KoldoRamirez commented on #784
This is the output of helloworld:
[code]

[2015-06-08 08:14] KoldoRamirez commented on #784
This is curious. Running this code:
[code]
This is got:
[code]
Unidimensional array is well initialized, but when converting it to bidimensional, it fails.

[2015-06-08 08:26] KoldoRamirez commented on #784
Hello Pavanky. These are the device properties:
[code]

[2015-06-08 09:03] CsatiZoltan commented on #783
Running the example conway_CPU.exe from ../examples/graphics forder under 64bit Windows 7 shows a blank window with title "Conway's Game of Life using ArrayFire" and then crashes. According to the command prompt:
`c:\Program Files\ArrayFire\v3.0.0\examples\graphics>set AF_PRINT_ERRORS = 1

c:\Program Files\ArrayFire\v3.0.0\examples\graphics>conway_cpu.exe
ArrayFire v3.0.0 (CPU, 64-bit Windows, bui

[2015-06-08 09:07] CsatiZoltan commented on #782
@9prady9 I downloaded it from the Arrayfire website http://arrayfire.com/download/ version Windows, v3.0 (64-bit).

[2015-06-08 13:00] pavanky commented on #784
@KoldoRamirez you are using a relly old driver which may be buggy. Can you install the following:
https://downloadcenter.intel.com/download/24964/Intel-Iris-Iris-Pro-and-HD-Graphics-Driver-for-Windows-7-8-8-1-64-bit

[2015-06-08 13:13] unbornchikken opened #785 "Question: synchronization of array constructors"
There http://www.arrayfire.com/docs/group__opencl__mat.htm you write:

*"Please note: the af::array constructors are not thread safe. You may create and upload data to cl_mem objects from separate threads, but the thread which instantiated ArrayFire must do the cl_mem to af::array conversion."*

Is it correct? Because if ArrayFire methods are not thread safe, that not inherently means that those a

[2015-06-08 14:44] KoldoRamirez commented on #784
Hello Pavanky. Both Dell (http://www.dell.com/support/home/es/es/esdhs1/product-support/servicetag/7ZT0LV1/drivers?s=BSD) and Microsoft (through the update driver option in System) say that my driver is updated.

I have downloaded the installer in the link you enclosed but when running it says "Error: This computer does not meet the minimum requirements for installing the software.".

Dell reports

[2015-06-08 17:54] shehzan10 commented on #782
Download: [Windows Installer without Graphics](http://ci.arrayfire.org/view/Installer/job/arrayfire-windows-installer/lastSuccessfulBuild/artifact/ArrayFire-nogl-v3.0.0-c047384.exe)

[2015-06-08 18:44] FilipeMaia opened #787 "af::array::array_proxy::array_proxy(const array_proxy &other) broken"
The [current implementation](https://github.com/arrayfire/arrayfire/blob/devel/src/api/cpp/array.cpp#L562) dereferences ``impl`` before it being allocated.

[2015-06-08 18:52] pavanky commented on #787
@FilipeMaia Can you send this PR to our hotfixes-3.0.1 branch? I think this is important fix that should go in there.

[2015-06-08 19:31] CsatiZoltan commented on #782
Thanks. Was the problem with my machine?

[2015-06-08 20:07] pavanky commented on #782
@CsatiZoltan We are not sure. We do not have a similar machine to test on our end. Can you check if the installer without graphics is running correctly ?

[2015-06-08 22:30] #787 closed

[2015-06-08 22:56] umar456 commented on #785
We are not using thread local storage for these variables so they can be accessed by multiple threads.  That statement is correct in that we do not currently have any mechanism to protect memory being accessed from multiple threads. There are a few static variables which need to be protected before we can guarantee the thread safety of the library. There are also some issues with OpenGL/OpenCL whi

[2015-06-09 06:59] unbornchikken commented on #785
Thanks.

The situation that I having at [Fire.js](https://github.com/unbornchikken/fire-js) is that arrays are created on main and on libuv's thread pool's threads too, and functions called with this manner too. If an ArrayFire function has a predictable O(1) time of execution on all supported platform then it's wrapped synchronously, if not, then it wraped asynchronously. The latter means they ar

[2015-06-09 08:59] CsatiZoltan commented on #782
Can I install the no-graphics version while the graphics version is still installed, or I have to uninstall that before?

[2015-06-09 10:39] pavanky commented on #782
@CsatiZoltan It is best if you uninstall the previous version.

[2015-06-09 12:17] pavanky opened #790 "Support in place FFTs"
Performing FFTs on large data sets will result in the GPUs running out of memory. Having inplace support would be beneficial in such cases.

[2015-06-09 12:24] pavanky opened #791 "Reduce the memory overhead for copy-on-write"
Assignment operation performs a copy-on-write. However this is not necessary if there are no additional references to the array being assigned. We should check for this and reduce the memory overheads accordingly.

There are two ways to do this:

- Keep the list of child arrays referencing the parent. Make the copies of either the parent or the children based on the memory considerations. This wil

[2015-06-09 12:29] pavanky opened #792 "Implement af::copy()"
This is a variation of to array.copy() and array.write(). This is a temporary work around to perform the assignment operator without the copy on write.

[code]

[2015-06-09 12:30] pavanky commented on #792
@umar456 I am not entirely sure if this function serves any purpose once #791 is resolved. But it would be nice to have a function that works around the copy-on-write.

[2015-06-09 12:37] glehmann opened #794 "build failure with Mac OS X 10.8"
Mac OS X 10.8 is using libstdc++ from gcc 4.2.1, that does not have `shared_ptr` defined in `std`.

    /tmp/arrayfire--forge20150609-12531-4ixan6/forge-af3.0/src/font.hpp:65:14: error: no type named 'shared_ptr' in namespace 'std'

it is possible to use libc++, but it becomes quite difficult to link with other libraries.

[2015-06-09 12:37] pavanky commented on #792
The code could be as simple as this:

[code]

[2015-06-09 12:39] glehmann commented on #794
Note that I'm perfectly fine if you say that libc++ is mandatory — this is either to get a fix, or to make it clear that arrayfire should not be packaged in homebrew for Mac OS X 10.8.

[2015-06-09 12:44] pavanky commented on #794
Can you post the issue to https://github.com/arrayfire/forge ?

[2015-06-09 12:48] pavanky commented on #794
The easiest fix would be to have a flag that uses boost when it can not find C++11 support. That said we are using `shared_ptr` in arrayfire as well (in CPU and OpenCL backends). Why is the issue not popping up over there ?

[2015-06-09 12:56] glehmann commented on #794
Sorry I've been able to go a bit further, following the advices from https://github.com/Homebrew/homebrew-science/pull/2353
`std::shared_ptr` is found now. Note that I had the same problems in arrayfire — just copied the wrong error message.

I still have a problem though:

[code]

any idea?

[2015-06-09 12:59] pavanky commented on #794
@umar456 Can you look at this ?

[2015-06-09 13:29] FilipeMaia opened #795 "Indexing causing crashes"
The following programs causes a crash on my system:

[code]

The result is:
[code]
I'm not sure what's the cause. The crash only happens sometimes, and sometimes the exception is different suggestion some uninitialised memory or something.

[2015-06-09 13:42] umar456 commented on #794
Thats an odd error because we are including the [complex header](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/cast.hpp#L14). I can't seem to reproduce it on 10.9. Do you know the compiler being used on your machine?

[2015-06-09 13:58] umar456 commented on #795
The array_proxy class should not be created in user code. It is only used for internal purposes to assign and index an array in a consistent format. You can achieve the same thing by assigning the A(idx) value to an af::array object:

[code]

This should be documented in the array_proxy class definition or we need to somehow prevent the creation of these classes in user code.

[2015-06-09 14:03] pavanky commented on #795
I think we should just document it for now. No need to change the class.

[2015-06-09 14:13] umar456 commented on #792
This would be a useful function but we need to think of a better name. Perhaps overwrite, modify, or assign. Copy could have several meanings in C++ which could become confusing.

[2015-06-09 14:59] shehzan10 commented on #784
Looks like this is a known problem from the intel forums. Try the solutions on these links:
https://communities.intel.com/message/216054

http://www.intel.com/support/graphics/sb/CS-022355.htm

[2015-06-09 19:05] 9prady9 commented on #772
OS X issues are fixed and currently available in devel.

[2015-06-09 22:54] FilipeMaia opened #799 "zero length arrays cause problems"
The following program shows a problem but I think the issues are more widespread:
[code]
This program outputs:
[code]

Zero length arrays are not uncommon; in my case I stumbled on it as the result of a where() call.
A few of the problematic asserts I found:
- [af_reorder](https://github.com/arrayfire/arrayfire/blob/master/src/api/c/reorder.cpp#L33)
- [af_moddims](https://github.com/arrayfire/arra

[2015-06-10 03:09] shehzan10 commented on #784
I was able to install the [HD 3000 driver](https://downloadcenter.intel.com/download/24971/Intel-HD-Graphics-Driver-for-Windows-7-8-8-1-64-bit) on my laptop (i7 2720 + HD Graphics 3000). However, I eventually realized that the driver meant for HD Graphics < 4000 only includes OpenCL Runtime for CPU and not for the graphics GPU. So I have not been able to get OpenCL on the HD 3000 on my laptop.

Th

[2015-06-10 08:02] KoldoRamirez commented on #784
Uuups. It seems that Dell is smarter than us. I have followed the instructions but finally Windows opens up a window telling that the installed driver is the best for the computer and refuses to install the newest just unzipped from Intel...
Sincerely, HD4000 is a low end card for laptops so AF performance with it is not the best, and I understand if you prefer not to support it

[2015-06-10 18:40] 9prady9 opened #804 "Add HDR Tone Mapping Function"
This enables `af::Window::image()` to render HDR images
that are loaded using `af::loadImage`

Tentative API looks as follows
[code]
where `ToneMapFunc`/`af_tone_map_t` will be an enum with values such as follows
- Linear
- Logarithmic

Please feel free to add any tone mapping methods (some type of text book equations that we can use in an Open Source library) to the above list. I am still explori

[2015-06-11 17:30] #784 closed

[2015-06-11 17:30] pavanky commented on #784
Closed the issue as it seems to be a problem with the driver.

[2015-06-11 18:34] pavanky commented on #746
It is done: https://gitter.im/arrayfire/arrayfire

The badge is going to be pulled into master from hotfixes branch.

[2015-06-11 18:34] #746 closed

[2015-06-12 07:57] munnybearz opened #809 "gtest submodule not found"
Unable to build ArrayFire. Tested on Ubuntu 14.04 and Mac OS X Yosemite

➜  /tmp  git clone https://github.com/arrayfire/arrayfire.git
Cloning into 'arrayfire'...
remote: Counting objects: 22591, done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 22591 (delta 20), reused 0 (delta 0), pack-reused 22523
Receiving objects: 100% (22591/22591), 5.04 MiB | 2.82 MiB/s, done.
Resolving d

[2015-06-12 12:08] shehzan10 commented on #809
This issue has already been fixed in the hotfix branch via c3f83cd7. We will be merging it into the other branches today.

Google changed their git Http protocol from http to https which is the reason it's broken.

Ill leave this issue open until we merge the branches.

[2015-06-12 19:11] munnybearz opened #812 "Build error - forge.h: No such file or directory"
Hi.. It's really not my day today :(. Run into another build issue..

[code]

I had a look around.. it looks like there is an extra fg/ subdirectory:

[code]

I changed CMakeModules/build_forge.cmake from:

[code]
to:
[code]

and it compiles now, but I am getting loads of link errors:

[code]

help :(

[2015-06-12 19:12] pavanky commented on #812
We are fixing it as we speak :p

[2015-06-12 19:14] shehzan10 commented on #812
For the undefined references you need to install xorg-dev. See this page for more https://github.com/arrayfire/arrayfire/wiki/GLFW-for-ArrayFire

[2015-06-12 20:14] munnybearz commented on #812
Ah thanks Shehzan. I didn't do the -DBUILD_SHARED_LIBS=ON when building glfw. Now it builds fine :)

[2015-06-12 20:40] pavanky commented on #812
fixed in hotfixes branch

[2015-06-12 20:40] #812 closed

[2015-06-12 21:16] munnybearz opened #813 "All CPU backend tests fail"
I promise this is the last one from me today..

I've built ArrayFire on both devel and hotfixes, but all the CPU tests fail.

This is a snippet of my Dockerfile showing the commands I'm building with:

[code]

The "make test" step fails:

[code]

Do you have any ideas what could be wrong?

[2015-06-12 21:17] pavanky commented on #813
There is a dll that is probably missing. Can you just run ./test/info_cpu and show the output ?

[2015-06-12 21:19] pavanky commented on #813
Also what is the base distro you are using for this ?

[2015-06-12 21:20] munnybearz commented on #813
Ah perfect thank you! It showed:
[code]

So I fixed it with:

[code]

Will put that at the top of the Dockerfile now :)

Base distro was Ubuntu 14.04

[2015-06-12 21:21] pavanky commented on #813
btw, can you get on gitter: https://gitter.im/arrayfire/arrayfire This would be better for quick communication.

[2015-06-12 21:25] pavanky commented on #813
I just saw that you are using 14.04. So glfw3 is installed from source. This means the **correct** fix is to have `LD_LIBRARY_PATH` to your bashrc.

[2015-06-12 21:25] #813 closed

[2015-06-13 02:55] pavanky commented on #809
fixed in master and devel.

[2015-06-13 02:55] #809 closed

[2015-06-13 11:03] FilipeMaia opened #816 "Illegal casting"
Hi,

The code for [`getInfo()`](https://github.com/arrayfire/arrayfire/blob/master/src/backend/ArrayInfo.cpp#L30) seems to lead to undefined behaviour:
[code]
as arr is of type af_array which is a pointer to a type derived from ArrayInfo.
Check http://stackoverflow.com/a/5445220.

[2015-06-13 12:36] CsatiZoltan commented on #783
I also tried to run those graphics-based examples on another computer (Intel Core i5 2500K, Nvidia GeForce GTX 560) with CUDA installed but experienced the same issue. Strange, because everything other than graphics works like a charm.

[2015-06-13 19:54] pavanky commented on #816
I think the problem only when multiple inheritance is in play. The SO answer deals with such a case. This should not be a problem in our case.

@umar456 any thoughts?

[2015-06-13 19:57] 9prady9 commented on #783
@CsatiZoltan We have made some major changes to how OpenGL rendering happens in the upstream library ([forge](https://github.com/arrayfire/forge)) used by ArrayFire for graphics. We are going to make a hot fix release (3.0.1) for ArrayFire on Monday. Also, you need OpenGL 3.3 capable hardware for ArrayFire graphics to work.

We will upload the 3.0.1 installers on Monday, please give it another try

[2015-06-14 05:02] umar456 commented on #816
I can see this being a problem with multiple inheritance but since we only have one base type it is a standard upcast which is safe in C++. I don't think we even need the `reinterpret_cast` in this case. The `static_cast` should be able to handle the conversion. This has been tested on multiple compilers(msvc, clang++, g++, icc) and we haven't run into any issues.

[2015-06-14 05:02] #816 closed

[2015-06-14 12:45] CsatiZoltan commented on #783
I have already downloaded it from ci and installed. The good news is that some graphics examples run correctly (like `fractal`, ). However, when an image is loaded (like `fast`) or in some machine_learning examples (where there is no graphics at all) I get a run-time error. The interesting is that in case of `fast`, the error "FreeImage Error Handler: FreeImage_Load: failed to open file ../../asse

[2015-06-14 16:10] shehzan10 commented on #783
If you have copied the examples into a different directory, then you will need to change the ASSETS_DIR macro. Go into Project Properties -> C/C++ -> Preprocressor -> Preprocressor Definitions. Change ASSETS_DIR to point to the location of AF_PATH/assets.

Note: We can't use $(AF_PATH)/assets because AF_PATH contains the Path using \, which when read by C++ uses it as escape characters which messe

[2015-06-14 16:49] shehzan10 commented on #783
http://arrayfire.com/installer_archive/3.0.1/ArrayFire-v3.0.1.exe this should make the examples portable without modification

[2015-06-15 18:34] pavanky opened #821 "Sparse matrix support for all backends"
Figure out the list of alternatives that exist and implement the following functions:

- [x] Sparse matrix Creation
  - [x] From Dense
  - [x] From CSR arrays
  - [x] From COO arrays
- [ ] Format Conversion
  - [x] To Dense
  - [ ] CSR <--> COO
- [x] Matrix multiply
  - [x] CSRMM (sparse matrix, dense matrix with options for sparse)
  - [x] CSRMV (sparse matrix, dense vector with options for spars

[2015-06-15 18:35] pavanky opened #822 "Sparse matrix support for CUDA backend"
Use cuSparse to implement the following.

- [ ] Sparse (CSR) matrix creation
- [ ] Conversion to dense
- [ ] Matrix multiply (vector and matrix)
- [ ]  CSR to CSC conversion

[2015-06-15 18:36] pavanky opened #823 "Sparse matrix support for OpenCL backend"
Use clSPARSE to implement the following functionalities.

- [ ] Sparse (CSR) matrix creation
- [ ] Conversion to dense
- [ ] Matrix multiply (vector and matrix)
- [ ]  CSR to CSC conversion (does not exist in clSPARSE)

[2015-06-16 14:34] unbornchikken commented on #791
Does array's copy constructor involves copy-on-write too?

[2015-06-16 14:36] unbornchikken opened #824 "Missing functions from the docs"
Missing functions from the documentation that I've noticed so far:

- constant (C++)
- scalar

[2015-06-16 14:53] pavanky commented on #791
`array::copy()` performs a deep copy. Everything performs a copy on write.

[2015-06-16 14:57] pavanky commented on #451
@nathanjackson Considering that clang is getting OpenMP in 3.6, we think OpenMP should be in the main CPU backend. We noticed that you began some work on this. Can you come over https://gitter.im/arrayfire/arrayfire so we can discuss more about this ?

[2015-06-16 15:08] unbornchikken commented on #791
I have the follwing situation: in the Node.js wrapper I have to put the wrapped instances to the heap. Since arrays are not moveable, I have to use its copy contructor. The original array goes out of scope immediatwlly, I'm holding the reference only for the one in the heap. Does ot involve deep copying, or not?

[2015-06-16 15:12] pavanky commented on #791
You are wrapping the C++ API. We increment the reference count when you are doing the copy constructor, so the internal data is not destroyed when the `array` is destroyed. The underlying data is only destroyed when the reference count hits zero.

The way you are handling it in the project right now should be fine.

[2015-06-16 15:16] pavanky commented on #791
This is the relevant code. You can see that we are retaining the internal object (incrementing the ref count)  and holding on to a separate reference of the internal data structure.

[code]

[2015-06-16 16:39] jas99 opened #825 "Android support"
Do you guys support arrrayfire on android devices?

[2015-06-16 17:12] 9prady9 commented on #825
@jas99  We did have Android specific binaries in ArrayFire 2.1. However, 3.0 hasn't been tested on Android platform yet, but we do have plans to do it in the future.

[2015-06-16 17:58] pavanky commented on #168
The API should look like the following:

[code]

- wx, wy will give window dimensions
- sx, sy will give stride dimensions

[2015-06-16 20:10] jas99 commented on #825
@9prady9 That was hell of quick response. Nice to know that; is it low pirority.
And when you say future whats your gut felling; near or far future.

Thx

[2015-06-16 20:24] 9prady9 commented on #825
@jas99 Glad to be of help. It is on lower side of priority in terms of near future(next couple of months). We want to iron out any bugs in the library and add some additional features such as thread safety etc. and then try it out on Android platform.
@pavanky Do you want to add anything else ?

[2015-06-16 20:25] pavanky commented on #825
@jas99 There are multiple ways ArrayFire can be supported on Android.

- We can support NEON-accelerated version of our CPU backend.
- We can support OpenCL accelerated versions for GPUs.
- We can build a new backend on top of renderscript.

The 2.1 version @9prady9  mentioned used OpenCL.

That said, OpenCL on Android is tricky because not all manufacturers ship OpenCL libraries on their phones.

[2015-06-17 04:35] jas99 commented on #825
@9prady9 @pavanky Thx guys for the prompt responses. Really helps clear things up.

[2015-06-17 04:35] #825 closed

[2015-06-17 07:49] FilipeMaia opened #826 "Certain hotfixes not applied to the devel branch"
Some of the fixes that go to the hotfixes branch are missing from the devel branch.
The one that bit me again was issue #787.

[2015-06-17 07:55] FilipeMaia commented on #826
My bad, forgot to merge properly.

[2015-06-17 07:55] #826 closed

[2015-06-17 13:59] 9prady9 commented on #782
@CsatiZoltan Did you get a chance to check this again ?

[2015-06-17 14:00] 9prady9 commented on #783
@CsatiZoltan Is this still a persistent issue ?

[2015-06-17 14:48] CsatiZoltan commented on #782
Fortunately blue screen doesn't occur any more, "just" the program termination (I use version 3.0.1., build 17db1c9 with the same configuration as mentioned at the beginning of this post). By the way, if I run the OpenCL backend with command-line argument 1 (i.e. on the processor), I get the following results:
device: 0.87702 seconds
   host: 1.44039 seconds
How should I interpret them? The GPU of

[2015-06-17 14:49] CsatiZoltan commented on #783
As soon as I get home, I try it out!

[2015-06-17 14:52] 9prady9 commented on #782
Yes, Device is taking less time than the host for computing Pi using Monte-Carlo method.

I didn't quite understand what you meant by program termination ? is it natural termination or otherwise ?

[2015-06-17 17:04] CsatiZoltan commented on #782
I use a Hungarian Windows 7, so I don't know the exact name for the crash. However, it should somehow read as "abnormal program termination" (this kind occurs for example when you don't free allocated memory in Visual Studio).

[2015-06-17 17:06] 9prady9 commented on #782
Does it throw any message with the words "pure virtual function" or something of sorts ?

[2015-06-17 17:07] CsatiZoltan commented on #782
No, it doesn't, just crashes.

[2015-06-17 17:14] 9prady9 commented on #782
Oh, i forgot to mention something earlier. Can you run the program from command line after doing
`SET AF_PRINT_ERRORS = 1` . This should print additional information when the program crashes.

[2015-06-17 17:19] CsatiZoltan commented on #782
I will definitely try it tomorrow on that laptop and write you what happens. By the way, is that normal that on a computer where I have a core i5 2500K processor with built-in GPU (HD graphics 3000) and a discrete GPU (Geforce GTX 560), Arrayfire only offers the CPU and the Geforce GPU, not the integrated GPU?

[2015-06-17 17:20] 9prady9 commented on #782
I think you need to install Intel OpenCL run time library for the integrated GPU to actually show up as a valid OpenCL device.

[2015-06-17 18:48] CsatiZoltan commented on #782
I can't install it, because it causes error similar to this message: the installer does not fulfil the minimum requirements. Since I have Windows 7 64 bit, I chose: https://downloadcenter.intel.com/download/24964/Intel-Iris-Iris-Pro-and-HD-Graphics-Driver-for-Windows-7-8-8-1-64-bit . Nevertheless, it is not a very important feature for me, hence I have a discrete GPU. Thanks for your instructions.

[2015-06-17 19:16] CsatiZoltan commented on #783
With the new installer, the only error it puts while building the `kmeans` example is:
`ArrayFire Exception(203): Invalid input size
In C:\workspace\af_inst_source\src\api\cpp\array.cpp:530`.
I also modified the preprocessor to point to the installation directory\folder_where_kmeans_is, but the result is the same. By the way, I installed Arrayfire to a different drive, not C:\, where the OS is.

[2015-06-17 19:22] CsatiZoltan commented on #783
I reinstalled into the default installation path, but the result is the same.

[2015-06-17 19:30] 9prady9 commented on #783
Glad the issue is resolved.

[2015-06-17 19:30] #783 closed

[2015-06-18 07:04] CsatiZoltan commented on #782
I retested the OpenCL issue and posted three images about it. First, I run it from the command line and then the solution file was debugged in Visual Studio. The cursor shows where the problem occurred.

![pi](https://cloud.githubusercontent.com/assets/12742890/8225723/5596ee72-1598-11e5-8ef1-78c55be319a7.PNG)
![pi_debugger](https://cloud.githubusercontent.com/assets/12742890/8225725/5597cf4a-1598

[2015-06-18 14:08] 9prady9 commented on #782
@CsatiZoltan Thank you for sharing the info. I think this needs further investigation to pint point the root cause of the issue. AS we have already said, we do not have Intel Celeron 1000M in house but i saw that you also mentioned another processor ' i5 2500K'. Is this issue happening on both of the machines with these processors ?

In any case, i have to check if the i5 you mentioned is availabl

[2015-06-18 14:57] ghisvail opened #827 "Provide a changelog in the source tree"
It does not need to be particularly detailed, but a changelog would be a nice thing to have. Choice of naming convention and format is up to you.

[2015-06-18 15:02] ghisvail opened #828 "Possibly unnecessary include in cpu backend"
Is this line:

[code]

needed in L34 of `src/backend/cpu/CMakeLists.txt`?

The CPU backend of `v3.0.0` used to build fine. `v3.0.1` now requires OpenGL due to the presence of this line. I commented it and the package built fine, which makes me question its utility.

EDIT: missing punctuation

[2015-06-18 15:26] pavanky commented on #827
@ghisvail We already have a release notes page: https://github.com/arrayfire/arrayfire/blob/master/docs/pages/release_notes.md

Do you want something more specific?

[2015-06-18 15:27] shehzan10 commented on #828
The line you mention, I remember removing it via https://github.com/arrayfire/arrayfire/commit/829ddcb783b7fe58888391ee48b43aff067309f4#diff-3c4bf77faa47ca50746b12d0fdde2d0fL13. I'm not quite sure how it made its way back into the code.

It is redundant since we set the include files in the main CMakeList.
Do you want to send in a PR for this?

[2015-06-18 15:28] ghisvail commented on #828
I will

[2015-06-18 15:29] ghisvail commented on #827
My bad, I just did not search deep enough. I am used to changelog files at the root of the source tree. That's fine as it is. Closing.

[2015-06-18 15:29] #827 closed

[2015-06-18 15:29] pavanky commented on #828
@shehzan10 looks like it was reintroduced during a merge. Perhaps an incorrectly done merge conflict resolution.

[2015-06-18 15:30] shehzan10 commented on #828
Yeah that's what I assumed happened.

[2015-06-18 16:53] #828 closed

[2015-06-18 17:06] umar456 opened #832 "Make CPU backend Async"
The OpenCL and CUDA backend functions in ArrayFire are asynchronous whereas the CPU backend is not. We need to unify the behavior of all of the backends so that they are consistent.

Function coverage w.r.t each file in `<REPOSITORY_ROOT>/src/backend/cpu/*.cpp`:
- [x] approx.cpp
- [x] Array.cpp
- [x] assign.cpp
- [x] bilateral.cpp
- [x] blas.cpp
- [x] cholesky.cpp
- [x] convolve.cpp
- [x] copy.cpp

[2015-06-18 17:10] pavanky commented on #832
I think this should be merged with https://github.com/arrayfire/arrayfire/issues/113

[2015-06-18 17:10] 9prady9 commented on #832
Are you computations going to be moved to a secondary thread ?

[2015-06-18 17:13] umar456 commented on #832
@pavanky I think this is a different issue. We are not exposing the queue with this but eventually that issue will also need to be addressed.

@9prady9 Yeah, I think that is the only way.

[2015-06-18 19:07] unbornchikken commented on #832
And don't forget to make other blocking stuff asynchronous on GPU backends too. I mean compiling and/or loading kernels. Anything that blocks. Thanks.

[2015-06-18 19:13] 9prady9 opened #834 "cpp version of constant is not in correct group in documentation"
http://www.arrayfire.com/docs/group__data__func__constant.htm

Constant function group in the documentation doesn't show cpp interface.

[2015-06-18 20:15] pavanky commented on #834
Duplicate of https://github.com/arrayfire/arrayfire/issues/824

[2015-06-18 20:15] #834 closed

[2015-06-19 06:41] CsatiZoltan commented on #782
Unfortunately I cannot select the GPU of the i5 processor, because OpenCL does not recognise it and - as I have written above - I cannot install the OpenCL runtime library.

[2015-06-19 07:39] pannous opened #836 "Looking for CL_VERSION_* - not found"
cmake complains:
Looking for CL_VERSION_* - not found
 even though OpenCL is successfully installed and used in other apps on the Mac.

 what might have gone wrong?

[2015-06-19 10:49] pavanky commented on #836
Is it finding other OpenCL versions ?

[2015-06-19 10:50] pannous commented on #836
no

[2015-06-19 11:19] pavanky commented on #836
Can you tell us the OS version you are using ?

[2015-06-19 11:20] pannous commented on #836
OpenCL is successfully installed and used in other apps **on the Mac**.

[2015-06-19 11:21] pavanky commented on #836
@pannous I was asking if you are using Yosemite or Mavericks or something else.

[2015-06-19 11:23] pannous commented on #836
sorry, Yosemite

[2015-06-19 11:27] CsatiZoltan opened #837 "How to cite ArrayFire?"
I am working on a project and I used ArrayFire in that work. How can I refer to it? A bibtex-like entry would help me a lot if you provided.

[2015-06-19 11:30] pavanky commented on #836
This is what the output of cmake looks on our OSX build machine (also uses Yosemite)
[code]

It does not find CL_VERSION_X_Y, but it does find the OpenCL framework. The `not found` messages are pretty harmless.

Is cmake is finding OpenCL.framework on your machine ?

[2015-06-19 11:33] pannous commented on #836
ouch, yes, please kill me.

 I will eventually open another ticket for the build errors which we are getting

[2015-06-19 11:33] #836 closed

[2015-06-19 11:35] pannous opened #838 "error: unknown type name 'dim_t'"
Compiling /opt/arrayfire/src/backend/opencl/kernel/transpose.cl to C++ source
In file included from /opt/arrayfire/src/backend/cpu/convolve.cpp:12:
In file included from /opt/arrayfire/src/backend/ArrayInfo.hpp:11:
/opt/arrayfire/src/backend/defines.hpp:20:13: warning: 'STATIC_' macro redefined
    #define STATIC_ inline
            ^
/usr/local/include/af/defines.h:34:10: note: previous definitio

[2015-06-19 11:37] pannous commented on #838
removing old install helped
mv /usr/local/include/af /usr/local/include/af.x

[2015-06-19 11:37] #838 closed

[2015-06-19 14:04] 9prady9 commented on #782
@CsatiZoltan Unfortunately, we don't have the I5 you mentioned in our stock as well. I am afraid, you have to debug this problem in Debug mode which won't be of much help unless you are using ArrayFire Debug Binary. I don't think you can find them on our website ( @pavanky correct me if i am wrong) but you can build them yourself. Instructions for that are available [here](https://github.com/array

[2015-06-19 23:39] shehzan10 opened #839 "Bug in grad"
CUDA and OpenCL have a bug that causes the second last column and row to get wrong values.
Occurs for sizes > 32.

[2015-06-20 00:05] shehzan10 commented on #839
Correction: Only happens for 32n + 1  on dim0 and 8n + 1 on dim1

[2015-06-21 00:40] pavanky commented on #839
@shehzan10 Can you reply in the forum mention that it has been resolved and the fix should be out in the installers next week.

[2015-06-21 05:40] #839 closed

[2015-06-23 14:40] pavanky commented on #837
@CsatiZoltan [This](https://scholar.google.com/citations?view_op=view_citation&hl=en&user=Kgv4NKsAAAAJ&citation_for_view=Kgv4NKsAAAAJ:9yKSN-GCB0IC) is the only paper we have right now. It describes a really old version of ArrayFire.

 However we are working on a technical paper describing our latest changes. It will be ready in a few days. If you have pressing deadlines, use the paper above. If no

[2015-06-23 14:42] pavanky opened #844 "Implement lock and unlock in C and C++ API"
[code]

`array::lock()` will be useful when you want arrayfire to not destroy the data pointer when the created array goes out of scope.

`array::unlock()` will be useful when a user wants to give back control to arrayfires memory manager.

[2015-06-23 14:42] CsatiZoltan commented on #837
It is not urgent.

[2015-06-23 14:44] pavanky commented on #837
BTW, is this for a paper or a software you are writing ?

[2015-06-23 14:47] bkloppenborg commented on #837
You can use the following bibtex citation for the present time:

[code]

[2015-06-23 14:52] bkloppenborg commented on #837
Humm... we should also include funding acknowledgement somewhere too.

[2015-06-23 14:54] shie0041 opened #845 "exp() of a complex number"
It would be useful if exp() handled complex inputs.  One solution would be to allow a second argument for the function representing the imaginary part of the input.  For example

exp(A,B)

could be calculated as cos(A) + i*sin(B).  An alternative would be to have the function auto-recognize whether the input is complex.  If so it would perform this operation under the hood.

[2015-06-23 15:04] pavanky commented on #845
@shie0041 The formula is a bit wrong, check #352 for the proper formula.

[2015-06-23 15:04] #845 closed

[2015-06-23 17:36] CsatiZoltan commented on #837
It will be an article.

[2015-06-24 10:11] CsatiZoltan opened #846 "Wait bar"
It would be nice if a wait bar like MATLAB's `waitbar` would be implemented and would be available in for and gfor loops.

[2015-06-24 10:23] pavanky commented on #846
gfor is technically not a "loop". It asks the program to perform all the batched operations inside the code block to be done in parallel.

As for doing it in a for loop, waitbar is just a glorified `printf`. You can achieve what you want with the following macro.

[code]

Then you can do something like this:

[code]

[2015-06-24 10:38] pavanky commented on #750
Making them external projects does not solve the issue the original issue I was thinking about. closing as won't fix.

[2015-06-24 10:38] #750 closed

[2015-06-24 10:45] pavanky commented on #844
I don't see a case when `array::release()` will ever be useful. Infact it may be dangerous to introduce it!

[2015-06-24 11:09] FilipeMaia commented on #844
I guess the obvious case is if you called retain, but later changed your mind. Sure if can be dangerous, and you should point that out in the documentation, but as with any powerful tool, one has to use it wisely.

[2015-06-24 11:16] pavanky commented on #844
@FilipeMaia The way `retain` works is that it increments the internal data pointer by creating a new `af_array`. So the `release` needs to be called on the new `af_array`. Calling release on the old array will cause double free issues. So the use cases will be something like the following.

Simple usecase
[code]

If you want to release later.

[code]

[2015-06-24 11:20] pavanky commented on #844
Thinking about it, whatever I mentioned now feels a bit kludgy. I am going to rethink the way it is implemented.

[2015-06-24 11:28] pavanky commented on #844
Incrementing the reference count seems to be a rather bad way to do this. We have internal functions that remove a buffer from the memory manager entirely. We can expose those functions from the C api and use them as lock and unlock as needed.

[2015-06-24 11:48] CsatiZoltan commented on #846
All right, but I thought of a graphical display, like [this](http://www.mathworks.com/help/matlab/ref/waitbar.html). Is it difficult to create for a person who is not proficient in C++ and graphics?

[2015-06-24 11:49] pavanky commented on #846
@9prady9 Can we do something in forge ?

[2015-06-24 11:56] CsatiZoltan commented on #846
What do you mean? I don't know this expression.

[2015-06-24 11:57] pavanky commented on #846
@9prady9  is one of our developers. forge is our graphics library. I was pinging him to see if something like this can be done in our graphics library and then used in arrayfire.

[2015-06-24 11:59] CsatiZoltan commented on #846
Oh, I see.

[2015-06-24 12:54] 9prady9 commented on #846
@CsatiZoltan & @pavanky Sure, it can be done. We need to work out the details of how it would fit into forge and the code flow. I am not aware of this `waitbar` from matlab. From the look of it, it seems to be like just a progress bar. So, probably it will be a window of it's own (more like a class of it's own type) but with a bar indicating progress and some text above it.

[2015-06-24 15:16] CsatiZoltan commented on #846
I agree, that window should just serve as a progress bar.

[2015-06-24 15:40] umar456 commented on #846
This function is out of the scope of ArrayFire. ArrayFire is a compute library, and it should not be responsible for UI related operations like this. I can see many issues which will complicate building, shipping, and it will add unnecessary OS specific dependencies into the library.

[2015-06-24 17:21] #844 closed

[2015-06-24 17:22] #824 closed

[2015-06-24 17:24] #792 closed

[2015-06-24 17:25] CsatiZoltan commented on #846
Ok, logical.

[2015-06-24 17:41] #254 closed

[2015-06-24 17:43] #108 closed

[2015-06-24 17:47] elfring commented on #108
I suggest to reconsider the consequences of [the following wording](http://c0x.coding-guidelines.com/6.10.2.html "Source file inclusion") from [the section "16.2 Source file inclusion"](http://open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf "C++ working draft") in the standard specification for the programming language "C++".
[code]

* How do you think about to avoid "a duplicated file sear

[2015-06-24 17:56] pavanky commented on #108
@elfring While that policy is solid in general, `arrayfire.h` should include the header files from the local directory. This is the reason we enforced double quotes instead of the angle brackets. In all other places we follow the standard you mention.

[2015-06-24 17:57] pavanky commented on #376
Moving the feature request to [arrayfire_ml](https://github.com/arrayfire/arrayfire_ml/issues/21)

[2015-06-24 17:57] #376 closed

[2015-06-24 17:58] elfring commented on #108
There are different opinions about the handling of the involved implementation-defined behaviour.
* I would generally prefer to exclude the potential for the inclusion of header files from unexpected directories. Can such a security detail become a bit more important?
* Is there a speed difference measurable if a file is not found outside the specified include directories and the search will be re

[2015-06-24 18:03] pavanky commented on #348
While we don't have a version of arrayfire that works in the browser, we have a node wrapper available over here: https://github.com/arrayfire/arrayfire_js

[2015-06-24 18:16] pavanky commented on #108
Can you elaborate on this. From my reading of the spec, the compiler will look for `af/defines.h` in the same directory containing `arrayfire.h` is located. *Not* user code.

[2015-06-24 18:27] elfring commented on #108
Can it occasionally happen that the "same directory" is not the include folder that you really want to reuse for your application programming interface?

[2015-06-24 18:31] pavanky commented on #108
No. It can not from what I understand.

Unless there is a concrete example rather than a thought experiment, this issue is staying closed.

[2015-06-24 21:12] alcinos commented on #198
I'm facing a similar issue. I'm on Arch, and I've openblas-lapack installed (https://aur.archlinux.org/packages/openblas-lapack/). It should provide blas, cblas and lapack, so in my understanding I shouldn't have to install any further library (wiki suggests cblas, but it is conflicting)

Any thoughts ?

[2015-06-24 21:26] pavanky commented on #198
@alcinos My main distro is arch, so we sort of test it on a daily basis ;)

If you are on arch, try installing this package: https://aur.archlinux.org/packages/arrayfire-git/

You will need to install openblas from aur and lapack from extra to get the optimum configuration before installing arrayfire.

If you have issues, don't hesitate to contact me here or on [gitter](https://gitter.im/arrayfire

[2015-06-26 05:43] CsatiZoltan commented on #782
I managed to install the OpenCL driver and now ArrayFire recognises the integrated GPU. So it was the problem, thanks. The topic can be closed.

[2015-06-26 05:57] 9prady9 commented on #782
I am glad that you got it working. Happy Coding!

[2015-06-26 05:57] #782 closed

[2015-06-26 07:22] unbornchikken opened #856 "Should foreign language wrappers aware about array_proxy?"
Hi,

While implementing [Node.js wrapper](https://github.com/arrayfire/arrayfire_js) I've realised that some operations like indexing returns array_proxy instead of array. At the current implementation I don't care about this class, just use its implicit array conversion operator and store the array instance in my wrapper class: https://github.com/arrayfire/arrayfire_js/blob/master/src/arraywrappe

[2015-06-26 12:50] Medivhita commented on #357
Added this feature in 3.0.1 installer?

[2015-06-26 14:56] umar456 commented on #856
TLDR
--------
array_proxy is an implementation of the proxy pattern which assists in assignment and indexing. Anyone using ArrayFire should not be using/creating this object directly. For all intents and purposes, it should be treated as an af::array object.

Proxy Class
----------------
The `array_proxy` class is created when performing indexing and assignment. It is returned by indexing operatio

[2015-06-26 16:36] unbornchikken commented on #856
Ok, so I'm good with that array poiner then. Just for the record since v8 is in C++ and Node wrapper is just a v8 wrapper, there is no reason to reinvent the C++ API again, I'm happy with the included one. ;)

[2015-06-26 16:36] #856 closed

[2015-06-26 16:48] unbornchikken commented on #856
Just for the other record, when I started the work, I had considered to use the C API with node-ffi without a C++ layer whatsoverer, but unfortunatelly ffi libraries are too slow to wrap anything that is about the performance. There are too much overhead involved on each call.

[2015-06-26 17:37] pavanky commented on #357
@nathanjackson The performance on 16 bit operations is going to be on par or worse than 32 bit operations. Unless you are worried about memory, I think converting to 32 bit and operating on them should be fine. We will leave this issue open for now and address this when we are doing push for mobile / embedded version of arrayfire.

[2015-06-26 17:55] umar456 commented on #856
Yeah, for this project were you are making use of the V8 engine, so the C++ interface is fine. I was referring to other languages were name mangling would be an issue.

[2015-06-26 18:14] #846 closed

[2015-06-26 18:42] unbornchikken commented on #856
Yeah, ive realised it since.Thanks for the explanation, i think i should review my assign method because of this.

[2015-06-27 11:19] unbornchikken opened #858 "Make sure all functions have asynchronous counterparts"
The following functions doesn't have counterparts returning an array:

- [ ] det
- [ ] norm
- [ ] rank
- [ ] corrcoef
- [ ] cholesky
- [ ] choleskyInPlace
- [ ] det
- [ ] norm
- [ ] orb
- [ ] fast

When a scalar is returned from a function, it acts as a synchronization point. Having these functions return `array` should solve that problem.

[2015-06-27 14:29] pavanky commented on #858
`det`, `norm` and `rank`, by definition always return scalars. Other functions where we have both scalars and `array`, they are doing different things.

For example `array b = sum(a);` adds all the elements in a column and returns a vector equal to the number of rows. `flot c = sum<float>(a)` adds **all** elements in an array to return a scalar.

Such a differentiation can not be made for the func

[2015-06-27 15:59] unbornchikken commented on #858
Maybe I was not clear. It returns a value that means it involve a host to device copy, which involve a sync if there are items in the queue. However if I want to compute something involves this value, I have to copy it back to host in some way. If something gives a scalar, it should not do the above if i dont want to see the result. An array could hold a scalar couldnt it?

[2015-06-27 16:04] pavanky commented on #858
@unbornchikken Thanks for clearing it up. I changed the issue to reflect your intent.

[2015-06-27 16:06] unbornchikken commented on #858
Thanks. If I remember correctly, corcoeff has this issue too.

[2015-06-27 16:27] pavanky commented on #764
Merging the issue with #858

[2015-06-27 16:27] #764 closed

[2015-06-27 16:27] pavanky commented on #858
@unbornchikken Merged the two issues together.

[2015-06-28 03:56] munnybearz opened #859 "Memory leak in af::copy()"
ArrayFire v3.0.2 (CUDA, 64-bit Linux, build 0c828ed)

The following code is able to blow the GPU memory:

[code]

[2015-06-28 13:18] munnybearz opened #860 "Incorrect af::max() calculation when input array has an af::NaN"
ArrayFire v3.0.2 (CPU, 64-bit Linux, build 0c828ed)

The following code produces an incorrect af::max() result:

[code]

The output says the max is 0.5328, whereas I can see it is 0.7556:

[code]

Also when the last value in the array is NaN, max returns NaN.. it seems its running max is reset when it hits a NaN

[2015-06-28 13:49] pavanky commented on #860
@umar456 There are two ways we can deal with this:

- Always ignore nan and do the operations on the remaining values. This will not affect `min` and `max`, but I am not sure what the behavior of `sum` should be when an array has nans.

- Provide a new entry point where users who think their array might contain nans and provide them with an option to ignore it.

There will not be much performance

[2015-06-28 14:03] nathanjackson commented on #357
Could we add a constructor to read in 16 bit signed\unsigned into 32-bit floats?

[2015-06-28 19:42] munnybearz commented on #799
Agreed, I do things like this in my code:
[code]

I'd love to be able to simplify this code to:

[code]

I can't do this right now because sometimes isNaN will return an empty vector and then the assign will fail.

[2015-06-29 03:21] Keno opened #861 "Build fails with Ninja"
[code]
It works fine with make (`-j1`) though, so this might just be a missing dependency.

[2015-06-29 03:35] pavanky commented on #861
@Keno as a temporary solution you can run cmake with `-DBUILD_GRAPHICS=OFF` to continue using ninja. In the mean time we'll try to figure out what the issue is.

[2015-06-29 03:36] Keno commented on #861
As I mentioned, it works fine with `make`, so I'm all set. This is just FYI so that the next user might have better luck ;).

[2015-06-29 03:44] pavanky commented on #861
@Keno Looks like it is a problem when building forge. I am moving the bug upstream. Closing this issue for now.

[2015-06-29 03:44] pavanky commented on #861
Perhaps I will need to reopen this because the forge tag needs to be updated to fix the issue in arrayfire.

[2015-06-29 15:31] paoloviviani opened #862 "SVD for all backends"
Do you plan to implement the Singular Value Decomposition based on cuSolver anytime soon?
Thanks!

[2015-06-29 16:39] pavanky commented on #862
@paoloviviani Our first attempt was to support the basic matrix factorizations. We will try to support SVD by the 3.1 release if everything goes according to plan.

[2015-06-29 16:41] paoloviviani commented on #862
Thanks! do you have a roadmap for the release of the next versions?

[2015-06-29 16:43] pavanky commented on #862
You can look at our milestones page: https://github.com/arrayfire/arrayfire/milestones
Here is a blog post describing our release cycles: http://arrayfire.com/arrayfire-release-cycle/

Right now we have set 3.1 for the end of July / early August.

[2015-06-29 17:37] umar456 commented on #860
I think we can ignore `nan`s for `min` and `max`. For sum and other reduction functions we should return `nan`.

[2015-06-29 17:39] pavanky commented on #860
There may be use cases in statistics where the option to ignore nans is useful. We need a mechanism to do that for sum / mean / std etc as well.

[2015-06-29 17:41] shehzan10 commented on #860
Is it possible to use a state variable rather than an option in the API? That way the API remains consistent. Something like
`af_ignore(AF_NaN_REDUCTION | AF_NaN_ALL | AF_NaN_STATISTICS);`
The arguments being enums.

[2015-06-29 17:56] paoloviviani commented on #862
Great, thanks!

[2015-06-29 19:53] #859 closed

[2015-06-29 19:53] #861 closed

[2015-06-29 19:53] pavanky commented on #861
@Keno This is now fixed in the devel branch.

[2015-06-29 19:54] Keno commented on #861
Thanks you!

[2015-06-29 20:32] paoloviviani opened #864 "32bit Support"
Is it possible to use/build Arrayfire on 32bit platforms? At least for the CPU backend, as CUDA dropped 32bit support from version 7 onwards.

[2015-06-29 20:49] pavanky commented on #864
@paoloviviani Which OS are you looking at ? We have Linux version building on 32 bit systems for Tegra. We have had *some* success of doing the same on Windows but we don't plan to actively support it.

[2015-06-29 20:59] paoloviviani commented on #864
I'm interested in both Windows and Linux (mostly Windows), but the target architecture would be x86. I can understand that there is no will to support win32 architectures, but I was asking since that would probably be a dealmaker for me, as I need backward compatibility with win32 stuff.

[2015-06-29 21:11] pavanky commented on #864
@shehzan10 has some information about how to build ArrayFire on 32 bit windows. It should **build** fine. We just do not actively test it. If you face some problems, you can create issues and we will try to figure it out.

[2015-06-29 21:58] 9prady9 commented on #119
Add the following queryable information to opencl::DeviceManager class
- [ ] Type of local memory
- [ ] Check for device specific local memory limitations
- [ ] Launch configuration (global, local work group sizes) for given kernel
- [ ] Vectorization options.
- [ ] Type of device.

[2015-06-29 23:33] shehzan10 commented on #864
To build CPU (and OpenCL) for 32 bit, you will need to do the following:
* Obtain/Build 32-bit versions of the dependencies (FFTW, LAPACKE, FreeImage, GLFW, GLEW)
* Build with generator as "Visual Studio 12 2013".

You can modify the [arrayfire-windows-scripts](https://github.com/shehzan10/arrayfire-windows-scripts) to work with the 32-bit versions.

[2015-06-30 09:41] pavanky commented on #864
@paoloviviani

As shehzan mentioned the biggest issue for building 32 bit libraries is getting the 32 bit libraries. We have not invested time in it because we do not have enough demand for it.

However we have customized solutions available from our company. If you want to pursue that route, you can contact us via support@arrayfire.com

[2015-06-30 09:41] #864 closed

[2015-06-30 09:48] paoloviviani commented on #864
Ok, thanks for the useful information!

[2015-06-30 14:15] pavanky opened #868 "Improved uniform random number generation"
Add the following types of random number generators across all backends to make them consistent

- [x] Mersenne twister (present in cuRand and std::random, not present in clrng)
- [ ] xorwow (present in curand, needs cpu and opencl implementations)
- [ ] MRG32K3a (present in curand and clrng, needs cpu implementation)
- [x] Threefry (from Random123) (needs to be ported from Random123 to CUDA and C

[2015-06-30 14:17] pavanky opened #869 "Add all to all support for convolutions"
Example:

[code]

[2015-06-30 16:15] #791 closed

[2015-06-30 16:44] pavanky opened #871 "select and replace for all backends"
The API should be as follows:

[code]

[2015-07-01 11:28] CsatiZoltan opened #872 "New plotting functions"
Will ArrayFire have various new plotting functions, like surface plot, mesh plot, volume visualization functions, etc., such as Jacket had?

[2015-07-01 13:47] pavanky commented on #872
@CsatiZoltan For various reasons we can not reuse the graphics functions Jacket had. We have begun a independent library, [forge](https://github.com/arrayfire/forge) that uses more modern versions of OpenGL and is also more modular.

Please file any visualization requests you have over there. Once the necessary functions are available upstream in forge, they will be available fairly quickly in arr

[2015-07-01 13:47] #872 closed

[2015-07-02 13:51] unbornchikken commented on #858
Added more missing functions. I belive that's it.

[2015-07-02 13:52] pavanky commented on #858
What makes cholesky, fast and or blocking / synchronous ?

[2015-07-02 13:58] unbornchikken commented on #858
Cholensky returns a value about that it succeeded or not, that has to involve a host to device copy hasn't it? Fast returns `features`, but it's numFeatures attribute is a value to not an array, so to know it, there should be a host to device transfer, hence int have to be a sync. point, right?

Or am I missed something?

[2015-07-02 14:01] unbornchikken commented on #858
* i meant device to host of course

[2015-07-02 14:05] pavanky commented on #858
cholesky in cpu and opencl backends does not involve a copy. For whatever weird reason nvidia decided to put the status variable on the gpu which does involve a copy. The return value should necessarily be on the host, we can not have it on the device. The same goes for numFeatures for fast and orb (and `where`)

[2015-07-02 14:08] unbornchikken commented on #858
I see. Pleaseremove ones those should be at host side.

[2015-07-02 14:25] unbornchikken commented on #858
A question. There is my original addition list in case if you're tune up the above:

 cholesky
 choleskyInPlace
 det
 norm
 orb
 fast

Despite those have results in the host or the device, can we say that is there cases for each one when they block? I mean should I wrap them all asynchronously? For eaxample cholesky involves copy on CUDA so I should wrap that asynchronously for sure. But the other

[2015-07-02 14:36] pavanky commented on #858
I think cholesky fast and orb should be wrapped asynchronously.

For the other functions we can add functions that return `arrays`. You should probably wrap the existing functions that return scalars as async as well because they may be useful in a few other situations.

[2015-07-02 14:39] unbornchikken commented on #858
Thanks. Will do in https://github.com/arrayfire/arrayfire_js/issues/2.

[2015-07-02 21:32] pavanky opened #876 "Bug when doing binary operations on complex inputs of mixed types"

[2015-07-02 21:56] #860 closed

[2015-07-02 23:10] pavanky commented on #858
@unbornchikken

I just remembered all Lapack functions in CUDA and OpenCL backend are blocking at some point. I think you should create async apis for all the functions in `af/lapack.h` as well.

[2015-07-02 23:38] pavanky opened #878 "Make tile a JIT function"
More often than not tile is used to increase the dimensions for performing batched operations.

If `tile` became a JIT function, it would reduce the need to have huge temporary storage.

[2015-07-02 23:38] pavanky commented on #878
Need to benchmark this before making a decision.

[2015-07-03 09:47] unbornchikken commented on #858
Thank you. Lemme know if you find anything else.

[2015-07-03 09:52] unbornchikken commented on #832
Since you gotta create a worker thread, you could improve this methods with it to make'em non blocking on CUDA and OpenCL too: https://github.com/arrayfire/arrayfire_js/issues/2

[2015-07-03 15:43] #876 closed

[2015-07-03 18:32] 9prady9 opened #879 "graphics issue"
Following code stub is causing a crash on all three backends. Need to investigate further.
https://gist.github.com/ckeitz/24a14678ab23be41ce47

[2015-07-03 20:08] ckeitz opened #880 "Resize ArrayFire graphics windows"
Would be handy to have a simple call for resizing `af::Window` objects: `imgWind.resize(sizex, sizey);`

[2015-07-04 11:30] klemmster commented on #862
Hey,

integrating cuSolvers SVD, I've stumbled over "Remak 1: **gesvd** only supports m>=n" (as well as remark 2, but that's just an annoyance, not a problem)
The problem I'm trying to solve has m<n, so I won't polish my implementation. If anyone is interested in it, I've uploaded the (working, but not thorowly tested code [here](https://github.com/klemmster/arrayfire/tree/cusolver_svd)

Sorry for

[2015-07-04 12:39] unbornchikken commented on #824
- [ ] lookup
- [ ] array operator%

[2015-07-04 15:59] pavanky commented on #862
@klemmster That is a great start! Can you send in a PR to `svd` branch here after the following fixes:

- I made a comment that needs fixing in the CUDA backend.
- Can you also add stumps for OpenCL backend ? Right now the CPU and OpenCL backend erroring out with the following exceptions is good enough. `CPU_NOT_SUPPORTED()` and `OPENCL_NOT_SUPPORTED()`
- The code style is not a blocker for us as

[2015-07-04 16:06] pavanky commented on #862
Now that is out of the way, lets talk about supporting `m < n`.

From what I understand, the following property holds true.

if `u`, `s`, `vt` are the decomposition of `a`, the decompositions of `transpose(a)` will be `vt`, `transpose(s)` and `u`.

You can then use this property to support `m < n` internally.

[2015-07-04 19:27] klemmster commented on #862
@pavanky Wow, I didn't really expect any feedback to my message, let alone a review of the code! Expect a PR soon.

Regarding the math: Do'h!. Of course, thanks for taking the time to jot that down for me!

[2015-07-04 22:17] pavanky opened #881 "Bug in vector version of median"
Code to reproduce:

[code]

[2015-07-04 22:17] pavanky commented on #881
This is fixed in a branch I am working on.

[2015-07-06 04:56] alcinos opened #884 "Mean computation overflows"
When the sum of the array doesn't fit in the target datatype (even if the mean does)
See #883 for relevant tests

[2015-07-06 08:10] pavanky commented on #884
This might be a bigger problem to address than a simple change to `mean`. The problem likely occurs because the function the reduction function keeps the running sum in the same datatype as the input (in case of floating point numbers) causing the overall overflow errors.

I think the best way to deal with this without breaking ABI and API from 3.0 release would be to leave the default behavior as

[2015-07-06 10:11] unbornchikken commented on #858
@pavanky Is array.copy a blocking one?

[2015-07-06 10:13] pavanky commented on #858
It is not in CUDA and OpenCL.

[2015-07-06 10:58] unbornchikken opened #885 "Documentation for 3.1.0"
https://github.com/arrayfire/arrayfire/issues/824 continued.

- [x] lookup
- [x] af_lookup
- [x] af_index_gen
- [x] af_assign_gen
- [x] af_assign_seq
- [x] array operator%
- [x] array.T
- [x] array.H
- [x] everything in af/cuda.h
- [x] C functions in af/opencl.h

----

Broken documentation

- [x] complex(real, imag) does not show up

[2015-07-06 12:00] pavanky commented on #885
array.S ?

[2015-07-06 12:02] unbornchikken commented on #885
Sorry, H.

[2015-07-06 13:08] pavanky opened #886 "Change Version.cmake to 3.1"

[2015-07-06 13:17] pavanky opened #887 "Add version guards for new functions going to 3.1"
The following macros need to be added:

[code]

For the 3.1 release `#define AF_API_VERSION 31` and  will be defined.

Once the macros have been defined, all new functions added since 3.0 will be inside an `#if AF_API_VERSION >= 31` guard. The list of new functions include:

This enables the users to revert back to an older version of the header file by simply doing something like this in user cod

[2015-07-06 13:18] pavanky opened #888 "Update release notes for 3.1"

[2015-07-06 13:44] pentschev commented on #887
I think it would be simpler to have a macro that would allow comparison:

[code]

[2015-07-06 13:46] pavanky commented on #887
Well that would be simpler yes. However we are using `AF_VERSION` as a string currently. We can perhaps appropriate a different name.

[2015-07-06 13:48] pentschev commented on #887
Yeah, forgot about it. We can use something like `AF_VERSION_NUM`, I can't think of anything more appropriate right now.

[2015-07-06 13:56] pavanky commented on #878
Because of limitations of JIT, the JIT version of tile is limited to singleton dimensions only. This can still be very beneficial.

[2015-07-06 14:02] pavanky commented on #878
`tile2` from the following benchmark represents what is going to happen with the JIT version of tile.
[code]

[2015-07-06 14:04] pavanky commented on #878
Benchmarks on GTX 680:

CUDA:

OpenCL:

Note that OpenCL JIT has had some optimizations in my branch that I have not yet ported over to CUDA backend.

[2015-07-06 14:07] pavanky commented on #878
Benchmark on i7 3770k:

CPU:

OpenCL:

[2015-07-06 14:12] pavanky commented on #878
Benchmark on S10000:

OpenCL:

[2015-07-06 14:15] pavanky commented on #878
Benchmark on E5-2560v2

CPU:

OpenCL:

[2015-07-06 14:16] pavanky commented on #878
Looks like the only slow down occurs for the Xeon using OpenCL. It could be due to the high cache available on that device. However the performance benefits of combining TILE with other JIT operations might result in performance improvements in a few common cases.

[2015-07-06 14:33] shehzan10 commented on #887
We can use AF_API_VERSION.
We could possibly then use AF_FORCE_API_VERSION if we want to force a specific version.

Note: Ideas from cuda.h.

[2015-07-06 14:36] pentschev commented on #887
+1 for the above.

[2015-07-06 14:37] pavanky commented on #887
`AF_API_VERSION` it is.

[2015-07-06 15:51] alcinos commented on #884
Maybe it is more of an algorithmic problem (the sum + division is maybe not the best way to compute the mean)? The problem can indeed be easily solved for small datatypes (char, uchar,…) by computing the sum in "bigger" datatypes. But this doesn't work if the datatype is already the biggest available (double)…
This post http://stackoverflow.com/questions/571986/finding-mean-of-array-of-ints discus

[2015-07-06 15:53] pavanky commented on #884
@alcinos That algorithm does not look like it is parallelizeable

[2015-07-06 15:55] pavanky commented on #884
Hmm on second thought it could be. I need to think a little bit more about this.

[2015-07-06 19:56] 9prady9 commented on #879
@ckeitz I have fixed this in the upstream, it should be in devel by end of this week.

[2015-07-06 22:18] #869 closed

[2015-07-06 22:18] #878 closed

[2015-07-06 22:18] #881 closed

[2015-07-07 13:20] ghisvail opened #890 "Source files without copyright information"
Applied to tag ```v3.0.2```:

[code]

[2015-07-07 17:35] pavanky commented on #890
This is fixed in devel and will be available in 3.1

[2015-07-07 17:35] #890 closed

[2015-07-07 17:36] pavanky commented on #886
Fixed in devel.

[2015-07-07 17:36] #886 closed

[2015-07-08 16:17] FilipeMaia opened #894 "af::index copy constructor and assignment lead to double free"
The copy constructor and assignment operator for af::index are not explicitly defined so their are created by the compiler, who just copies the impl private member. If af::index contains an af_array that array handle is copied without increasing the reference count. This leads to a double free when both the original and the new af::index are destroyed.

The following code exemplifies the problem:

[2015-07-09 20:38] FilipeMaia commented on #799
Also empty sequences could be potentially useful.

[2015-07-10 12:31] unbornchikken opened #896 "CUDA backend repeats last error forever"
@ debug_cuda.hpp line 23

You're using `cudaPeekAtLastError`, but it never reset error state to cudaSuccess, so any subsequent operation call will reports that last error forever. I believe `cudaGetLastError` should be used here instead.

[2015-07-10 16:52] #894 closed

[2015-07-10 18:28] #896 closed

[2015-07-12 20:43] ckeitz commented on #879
@9prady9 awesome, thanks!

[2015-07-13 13:45] pavanky opened #898 "randn on CPU is generating the same sequences for repeated invocations"

[2015-07-13 13:45] pavanky opened #899 "af_not is not working"

[2015-07-13 15:04] pavanky opened #900 "Add 64 bit integer support for relevant functions"
List of functions:

- [x] bilateral
- [x] iota
- [x] range
- [x] diff1
- [x] diff2
- [x] minfilt
- [x] medfilt
- [x] maxfilt
- [x] flip
- [x] histogram
- [x] af_join_many
- [x] match_template
- [x] mean_shift
- [x] median
- [x] median_all
- [x] morph
- [x] morph3d
- [x] accum
- [x] set unique
- [x] set intersect
- [x] shift
- [x] sobel
- [x] sort
- [x] tile

[2015-07-13 15:06] pavanky opened #901 "Rank produces incorrect results"
The following should print 3, but prints 2.

       float ha[] = {1, 4, 7, 2, 5, 8, 3, 6, 20};
        af::array a(3, 3, ha);

        af_print(a);
        printf("%d\n", rank(a));

[2015-07-13 15:07] pavanky opened #902 "Index based on co-ordinates"

[2015-07-13 15:10] FilipeMaia commented on #902
What does this mean?

[2015-07-13 15:14] pavanky commented on #902
@FilipeMaia Updated.

[2015-07-13 15:16] pavanky opened #903 "Possibly add device properties for CPU backend"
Right now it just provides a warning and does not return anything.

One bit of feedback we received over email says the following:

@umar456 @shehzan10 @9prady9 thoughts ?

[2015-07-13 15:19] umar456 commented on #903
It should be possible via https://en.wikipedia.org/wiki/CPUID

[2015-07-13 15:21] FilipeMaia commented on #902
Yes, that would be great!

[2015-07-13 15:31] pavanky opened #904 "Add eigen value decomposition for all backends"

[2015-07-13 15:31] pavanky opened #905 "Add support for Matrix power"
This requires [Eigen Value decomposition](https://github.com/arrayfire/arrayfire/issues/904) to be supported.

[2015-07-13 15:51] shehzan10 commented on #903
If we are going to provide any information, we might as well go all the way and do it properly.
I think it would be best to write a simple library for this. There are a few that exist for Java (https://github.com/dblock/oshi) but nothing for C/C++.

[2015-07-13 16:49] shehzan10 commented on #900
- [ ] bilateral
- [ ] iota
- [ ] range
- [ ] diff1
- [ ] diff2
- [ ] minfilt
- [ ] medfilt
- [ ] maxfilt
- [ ] flip
- [ ] histogram
- [ ] af_join_many
- [ ] match_template
- [ ] bilateral
- [ ] mean_shift
- [ ] median
- [ ] median_all
- [ ] morph
- [ ] morph3d
- [ ] accum
- [ ] set unique
- [ ] set intersect
- [ ] shift
- [ ] sobel
- [ ] sort

[2015-07-13 17:01] pavanky commented on #903
Here is my suggestion:

- d_name can be retrieved from CPUID and the number of cores can be appended to it.
- d_platform will be just CPU to be "CPU"
- d_toolkit will be the compiler + version
- d_compute will either be "unknown" or "SSE2/SSE3/AVX" if we can query the hardware capability.

At the very least we should return something like "x86_64 8 core", "CPU", "gcc 5.1", "unknown"

[2015-07-13 17:02] pavanky commented on #900
@shehzan10 Can you modify the original issue ?

[2015-07-13 17:09] shehzan10 commented on #903
Problems with this approach:
* CPUID is mainly for x86. ARM, powerpc etc have special registers. Hence the implementation will be extremely messy.
* The compiler version for the library may be different from the compiler version for the application/examples

[2015-07-13 17:11] pavanky commented on #903
@shehzan10

- Agree about CPUID
- I think it is important to provide information about what the compiler is compiled with. It should not matter if the downstream applications are compiled with something else.

[2015-07-13 17:12] umar456 commented on #903
It could also be important to list the BLAS and FFT libraries used.

[2015-07-13 17:13] pavanky commented on #903
That information is not important for this function. We can have it in the backend specific headers.

[2015-07-13 22:48] #898 closed

[2015-07-13 22:48] #899 closed

[2015-07-13 22:48] #901 closed

[2015-07-14 12:00] munnybearz opened #907 "Make sure all backends are thread safe"
Hi team,

Currently I'm saturating my GPU, which is cool. But on the same server I can have more GPU's - eg. an Amazon g2.8xlarge instance has 4 Nvidia K520's. I want to be able to use them too.

I want to be able to launch 4 threads and allocate each one a GPU for them to work on. I was reading the documentation for cudaSetDevice() and I believe it is possible to do this, but I think it requires

[2015-07-14 13:53] pavanky commented on #907
@munnybearz We are trying to make the library thread safe. Once this is done, we'll have an example demonstrating what you request.

[2015-07-14 13:54] munnybearz commented on #907
Awesome I'm really looking forward to that then!!

[2015-07-14 15:52] shehzan10 commented on #900
Issues with the unsupported functions:
* Image processing functions currently have not been added.
* Sort: Boost.Compute uses long instead of long long which causes incompatibility issues.
* Set, Median uses sort

[2015-07-14 18:49] 9prady9 opened #911 "susan corner dectector"
[Susan Corner Detector](https://en.wikipedia.org/wiki/Corner_detection#The_SUSAN_corner_detector)

[2015-07-15 20:14] pavanky opened #912 "Default values of rgb2gray and gray2rgb are not consistent."
If you do gray2rgb(rgb2gray(image)) you get different values compared to the input. I think this should result in the same output.

[2015-07-15 21:03] pavanky opened #913 "Default values for scale throw exceptions"
scale takes in odim0 and odim1 to be 0, but errors out for those values.

[2015-07-15 21:46] FilipeMaia opened #914 "Multiplication of real array with complex scalar gives real result"
The following example shows the problem:
[code]
The output is:
[code]

showing that the result is not of complex type. Multiplication of two arrays works correctly.

[2015-07-15 21:52] FilipeMaia commented on #914
By the way this only seems to happen for floating point arrays, integer arrays behave properly.

[2015-07-15 22:26] pavanky commented on #913
@shehzan10 I am pushing this in a PR I am sending in.

[2015-07-15 22:26] pavanky commented on #794
@glehmann Is this still a problem ?

[2015-07-16 09:38] FilipeMaia opened #916 "af::conjg() raises error on real inputs"
Calling af::conjg() on a real inputs raises Invalid input argument raises. Is this on purpose? It seems overly restrictive. To me it seems more natural to return a copy of the input.

[2015-07-16 12:50] 9prady9 commented on #912
@pavanky `rgb2gray` is calculated using `r*0.2126f+g*0.7152f+b*0.0722f` however, `gray2rgb` is mere tiling of gray scale image along the channel dimension or channels that are created using different scale factors for each channel. Irrespective of the method used for conversion, it is not possible for `gray2rgb(rgb2gray())` to result in original color image without any additional information.

[2015-07-16 13:37] pavanky commented on #912
Closing because silly on my part.

[2015-07-16 13:37] #912 closed

[2015-07-16 15:28] #913 closed

[2015-07-16 15:28] #914 closed

[2015-07-16 15:28] #916 closed

[2015-07-16 20:31] 9prady9 commented on #911
@pentschev I am thinking of the following API, let me know what you think. I might have missed some parameters, not sure though.

[code]

[code]

[2015-07-16 22:18] pentschev commented on #911
@9prady9 looks good, I would suggest only some name changes (I feel they are too long), plus, you need a feature_ratio (as FAST has) since we don't know in advance the number of features in an image, so we would like to keep this adjustable. Another argument that may be useful is the edge length (which necessarily has to be >= radius-1, if edge is 0, use radius-1), but we may still provide this ar

[2015-07-16 22:27] 9prady9 commented on #911
@pentschev Sure, will add those changes.

[2015-07-17 20:29] maxineliuqun opened #917 "Displaying one channel image"
Hi, I am working on medical imaging processing a lot, so all the images are one-channel grayscale images. I would like to display the images, but found out that "image()" in "window" class only supports three-channel images. Is there any way I can get around it or I need to wait until the new feature comes out? Thanks!

[2015-07-17 20:37] 9prady9 commented on #917
@maxineliuqun grayscale images are supported currently, can you please elaborate on the problem you are facing ?

[2015-07-17 23:55] maxineliuqun commented on #917
Thank you for the response. I am trying to send you an image, but it is way too big, so I will send you an email with that image. In order to let other people see it as well, I will explain it in a short way: I have a raw image in a size of 2456*3052, float, intensity ranging from about 200.0f to 255.0f. I read the image in, and tried to display it, but it would not show up. However, when I clicke

[2015-07-20 09:32] pavanky opened #918 "Add support for events in all backends"

[2015-07-20 09:35] pavanky commented on #918
@umar456 suggestions? I have no specific ideas about how we can go about doing this.

[2015-07-20 13:19] 9prady9 commented on #917
@maxineliuqun I looked at the code you posted to my email and there are couple of issues with it. To load an image, we have a function [`af::loadImage`](http://www.arrayfire.com/docs/group__imageio__func__load.htm) that helps you load images. Since we use Freeimage to read images from disk, we support all the formats supported by the upstream. When I tried loading the image using `loadImage` funct

[2015-07-20 16:08] jramapuram commented on #313
This would be very useful to have when incorporating arrayfire into other languages such as Rust.

[2015-07-20 17:19] maxineliuqun commented on #917
Thank you for looking into the code and image. I tested it again, the maximum of the "img" is 241.613, and the minimum of the "img" is 199.538. So it looks like the code is alright. Try to change the "newImage.raw" path in the code into wherever you saved the image. I made that mistake before. I tried the "loadImage" API call before, it also threw me an error, and that's why I thought that it migh

[2015-07-20 17:27] 9prady9 commented on #917
@maxineliuqun Also, i forgot to mention something earlier, when you are not using grid mode (i.e. you didn't call Window::grid) function, you don't need to call Window::show, Window::image will do the buffer swap for you. In your code, you were doing the following
[code]
Let me know if that did change any output on your end.

Regarding, the file, i just copied the file you provided to the source f

[2015-07-20 17:42] 9prady9 commented on #917
@maxineliuqun I checked the path and seems i used wrong path for image file. Now i am able to see a white background, it has speckle noise on it. my code didn't have the `wnd.show` call after `wnd.image`. Is what i see correct ?

[2015-07-20 17:45] maxineliuqun commented on #917
Ah, I see. Yeah, I deleted "wnd.show()", and now it all worked! Thank you so much. A quick question, do you know why "loadImage" does not support this type of image? I checked the document, too. It said it could support raw image, as long as the data type is supported. In this case, it is float (actually the  original image is unsigned short, and since it does not support this type, I converted it

[2015-07-20 17:56] 9prady9 commented on #917
No problem.

Yes, i was under the same impression that it should be loaded without any issues.  The [freeimage website](http://freeimage.sourceforge.net/) is still down, so i can't access their documentation still.

[2015-07-20 18:27] maxineliuqun commented on #917
I will check with it when it is up running again. Thank you so much for the help!

[2015-07-20 18:28] 9prady9 commented on #917
Your welcome.

Closing the issue.

[2015-07-20 18:28] #917 closed

[2015-07-21 13:48] paulheideman opened #919 "Building on Ubuntu 14.04"
Hi,

I get this problem when build on Ubuntu 14.04, am I missing a dependency maybe?

[code]

[2015-07-21 13:54] 9prady9 commented on #919
@paulheideman Do you have X libs installed ? Forge's upstream libraries use X libs, and this should be available on Ubuntu by default right ?

[2015-07-21 14:04] paulheideman commented on #919
I have these packages installed:
[code]
Are they the ones you're asking about?

[2015-07-21 14:12] shehzan10 commented on #919
Can you check whether you have the following packages:
* libxinerama-dev
* libxrandr-dev
* libxi-dev
* libxcursor-dev

These are a subset of packages that should be installed when xorg-dev is installed.

[2015-07-21 14:16] paulheideman commented on #919
Yup, got them.

[2015-07-21 14:19] shehzan10 commented on #919
Ok. The for an unknown reason libforge is not linking correctly with these.
Can you do `ldd /home/paul/dev/arrayfire/build/third_party/forge/src/forge-ext-build/src/libforge.so` and paste the output.

[2015-07-21 14:31] paulheideman commented on #919
[code]

[2015-07-21 14:42] shehzan10 commented on #919
That's weird. The third party build of forge should use glfw3.
And GLFW3 is not one of the dependencies for forge in the log you showed here.

I thought to ask whether you have glfw3 installed, but that is not the case because cmake itself would fail. But just out of curiosity, did you install GLFW 2 or GLFW 3?

[2015-07-21 14:47] paulheideman commented on #919
I built it from source from your link, so I guess 3, but maybe I missed a step.

[2015-07-21 14:48] paulheideman commented on #919
Here is the install manifest if that helps:
/usr/local/include/GLFW/glfw3.h
/usr/local/include/GLFW/glfw3native.h
/usr/local/lib/cmake/glfw/glfw3Config.cmake
/usr/local/lib/cmake/glfw/glfw3ConfigVersion.cmake
/usr/local/lib/cmake/glfw/glfwTargets.cmake
/usr/local/lib/cmake/glfw/glfwTargets-noconfig.cmake
/usr/local/lib/pkgconfig/glfw3.pc
/usr/local/lib/libglfw3.a

[2015-07-21 14:52] shehzan10 commented on #919
Ah got it.
You built only the static lib. That's why it doesn't show up on the ldd.
When you use static lib, you have to link all the X libraries explicitly to the executables, and hence the undefined references.

On the [GLFW-for-ArrayFire](https://github.com/arrayfire/arrayfire/wiki/GLFW-for-ArrayFire) page we have `cmake .. -DBUILD_SHARED_LIBS=ON`. Ensure the option is set.

[2015-07-21 15:12] paulheideman commented on #919
That works! Thanks!

[2015-07-21 15:13] #919 closed

[2015-07-22 00:27] felipegb94 opened #920 "Segmentation fault during runtime in OSX"
Hi,
I just installed ArrayFire through homebrew and I created the following simple program:
[code]
The program compiles correctly, but when I run it gives me the following output and ends in a seg fault:
[code]
It seems that the program is running correctly but since it is not able to create a GLFW window it crashes. I tried this in one of the examples programs (pi.cpp) and it the program ran corr

[2015-07-22 00:35] pavanky commented on #920
Can you try installing our binary package to see if it works: http://arrayfire.com/installer_archive/3.0.2/ArrayFire-v3.0.2_OSX.pkg

This will help us narrow some issues. Right now the topic seems too broad to narrow down.

[2015-07-22 19:36] shehzan10 commented on #920
I believe this issue was fix in 3.0.1.
If you wish to continue with the brew build of 3.0.0, you can use `AF_DISABLE_GRAPHICS=1 ./myexec`. This will disable all graphics APIs.

[2015-07-23 02:43] felipegb94 commented on #920
I installed the arrayfire pkg when I ran the same program I got the following runtime error:

[code]
I know you get that error when cuda is not installed or nor available, but I have an intel gpu so I need to run af with OpenCL.

I did the `AF_DISABLE_GRAPHICS=1 ./myexec` fix and it worked (with the brew installation). I'm not going to be doing any graphics programming so I decided to go with that

[2015-07-23 02:43] #920 closed

[2015-07-29 18:28] 9prady9 opened #923 "Possibly a JIT/Graphics bug in CPU backend"
Following code stub displays incorrect image of an indexed array if no eval is called on that particular array.

[code]

You can also find the whole example code [here](https://gist.github.com/9prady9/e8d08e19f2bea0da7b1c)

[2015-07-30 15:20] bkloppenborg commented on #663
After running the benchmark suite on several machines with different GPUs and drivers, this bug has become even more mysterious. This issue appears to only impact NVIDIA GPUs; however, it appears to correlate with neither specific hardware nor driver revisions. Here are the results of my tests:

machine | GPU | driver version | result
afw0 | Tesla K20c | 346.59 | fails |
afw0 | Quadro K4000 | 346.

[2015-07-30 15:25] pavanky commented on #663
@bkloppenborg We depend on a particular version of boost compute. Can you change the tag in `build_boost_compute.cmake` to master and devel to see if the problem still persists.

[2015-07-30 19:42] bkloppenborg commented on #663
Using the current git master (9b3965878d87505ce4399a996b44fe39) of boost compute and the plot thickens

machine | GPU | driver | version | benchmark | arrayfire tests
--- | --- | --- | --- | ---
afw0 | Quadro K4000 | 346.59 | failed on 4k images | passed
afw0 | Tesla K20c | 346.59 | failed on 4k images | passed
afw1 | HD 7970 | N/A | passed | failed (see below)
belle | Quadro 6000 | 346.46 | passe

[2015-07-31 03:41] pavanky commented on #663
Failures on `afw1` are occurring on non modified arrayfire as well. Could be a driver issue. Other AMD GPUs are running fine (patton - S10000, bender - AMD A10 APU)

[2015-07-31 05:41] kylelutz commented on #663
The `k` parameter for the radix-sort algorithm dictates how many bits of each value we sort per pass. Setting `k` to `2` will use less memory in each work-group, but result in double the number of sort passes which could have a negative effect on performance. The current version of Boost.Compute allows tuning this parameter per-device, but, like you said, the default value (if no tuning is loaded)

[2015-07-31 18:16] pavanky opened #924 "Assigning single element array to a vector array is broken"
code to reproduce:

[code]

This code worked in 2.1

[2015-07-31 21:58] #911 closed

[2015-08-03 14:17] willyd opened #925 "ArrayFireConfig.cmake does not work on windows"
After installing ArrayFire v3. And setting ArrayFire_DIR to C:/Program Files/ArrayFire/v3/cmake. CMake complains that the library:

 C:/Program Files/lib/af${backend}/lib does not exist.

Removing 2 lines in ArrayFire${backend}.cmake fixes the problem:

    # Compute the installation prefix relative to this file.
    get_filename_component(_IMPORT_PREFIX "${CMAKE_CURRENT_LIST_FILE}" PATH)
    get_

[2015-08-03 14:22] pavanky commented on #925
Did you install ArrayFire from source or from the binary?

[2015-08-03 14:24] willyd commented on #925
From the binary.

[2015-08-03 14:27] pavanky commented on #925
For windows you should be able to use Visual Studio without using cmake. What is the situation you are using cmake in windows ?

[2015-08-03 14:30] willyd commented on #925
I already have a project using CMake on Windows and wanted to try ArrayFire inside this project. I understand that I can specify the libraries by hand in VS but since the cmake config file are installed I suppose they should work.

[2015-08-03 14:31] pavanky commented on #925
Fair enough. We will look into resolving this for 3.1

[2015-08-03 14:34] willyd commented on #925
Thank you very much.

[2015-08-03 17:42] pavanky opened #926 "Change default stream of CUDA backend"
The default stream used to launch all CUDA kernels should not be stream 0. Launching a kernel on stream0 synchronizes all other streams.

We should create a new stream and use that instead.

Changes to make:
- Launch all kernels with a stream parameter

[2015-08-03 21:23] #168 closed

[2015-08-03 21:27] 9prady9 opened #927 "Maximally stable extremal regions"

[2015-08-03 21:36] #533 closed

[2015-08-03 21:36] 9prady9 commented on #533
#231

[2015-08-03 21:44] #348 closed

[2015-08-03 22:04] 9prady9 commented on #926
include/af/cuda.h:
* afcu_get_stream
* afcu_get_native_id

[code]

[2015-08-03 22:12] pavanky commented on #785
@umar456 @unbornchikken What is the status of this issue ? Can this be closed ? Are there any actionable items that need to happen ?

[2015-08-03 22:18] #263 closed

[2015-08-03 22:19] #225 closed

[2015-08-04 04:49] #785 closed

[2015-08-04 14:57] shehzan10 commented on #925
I personally don't think the cmake files that get shipped with the installer do a particularly good job of finding ArrayFire on windows. These files are auto generated and tweaking them might be more work than is worth. IMOI, the best solution is to ship a FindArrayFire.cmake file (custom for windows) that users like yourself can copy into your source code and use it easily.

Eventually, I think w

[2015-08-04 19:11] shehzan10 commented on #231
How about the following:
[code]
We will also overload the << and >> operators on the array class.

I think this should allow reading/writing multiple arrays.

Once we settle on an API, then we can discuss the layout of the file.

[2015-08-04 19:24] pavanky commented on #231
@shehzan10 no STL in our C++ interface unless the function is self contained in the header.

Can you also add another C function like this:

[code]

This is like `af_print` but it stores to char buffer instead of console.

[2015-08-04 22:25] shehzan10 opened #930 "ImageIO in Memory"
The plan is to add API to allow images to be loaded from/written to host side memory. FreeImage has the necessary API to do this.

Possible ArrayFire side API is:
[code]

In save to memory, the stream needs to be freed using FI API call at the end of its use.
We can either copy it into a user defined buffer and return this to the user (immediately deleting the stream) and ask the user to free that

[2015-08-04 22:28] 9prady9 commented on #930
shouldn't loadImageFromMemory take meta data to figure what the data layout is ?

[2015-08-04 22:30] shehzan10 commented on #930
The ptr should contain binary data including the image type, sizes etc. In a general case, loadImageFromMemory should be called only on a ptr that is returned from saveImageFromMemory.

[2015-08-05 00:29] jramapuram opened #932 "OSX Installer Fails [v3.02]"
OSX V10.10.4 w/radeon HD6750M
No detailed error message is displayed: it just says it fails
However, I still see files in /usr/local/lib and /usr/include.

[2015-08-05 01:04] pavanky commented on #932
What do you mean "fail" ?

BTW OpenCL support on OSX is fairly terrible. Surprisingly NVIDIA is the only one that works well on OSX.

[2015-08-05 18:58] #544 closed

[2015-08-05 18:59] #926 closed

[2015-08-06 01:33] jackstonea opened #934 "how to convert c32 to f32?"
after a fft2 and  ifft2 ,i got a c32 type array,so how to convert it to f32,i think it should be the same with original image.thx!

[2015-08-06 02:10] pavanky commented on #934
@jackstonea

`ifft2(in)` always returns complex numbers. Just call `real(fft2(in))`.

#613 will give you the ability to use Real-to-Complex and Complex-to-real transforms.

[2015-08-06 02:11] #934 closed

[2015-08-06 22:29] ghisvail commented on #925
Isn't it the purpose of the CMake package registry and [`export`](http://www.cmake.org/cmake/help/v2.8.12/cmake.html#command%3aexport) function for automatic detection on Windows ?

[2015-08-07 00:04] jramapuram commented on #932
Grr looks like a homebrew issue, sorry. @pavanky : I thought Nvidia's OCL implementation was terrible?

[code]

[2015-08-07 00:04] #932 closed

[2015-08-07 14:25] 9prady9 commented on #532
The coefficients for RGB to YCbCr conversion are slightly off on wikipedia but they are accurate on the integer portion of the floating point values.

[2015-08-07 14:55] 9prady9 commented on #532
@pavanky @sgarizvi Would [this](http://www.fourcc.org/fccyvrgb.php) be a good source? the site provides crowd sourced information of media codecs and formats.

[2015-08-07 14:56] pavanky commented on #532
They have citations, so I think it should be fine.

[2015-08-07 16:36] #613 closed

[2015-08-07 16:36] #790 closed

[2015-08-07 18:55] pavanky opened #938 "Compare performance of fftConvolve with the following alternative implementation"
[code]

[2015-08-07 19:15] #879 closed

[2015-08-07 19:15] #880 closed

[2015-08-08 00:23] mjabri opened #939 "Problems when compiling ArrayFire for CUDA"
I built ArrayFire on a VM Ubuntu 12.04.5) for cpu backend and tested OK.
Now i am building for a CUDA backend on a machine with GeFore 980m (other sw like Caffe work well with GPU). I am having the following errors. Any hints/solutions are appreciated.

[ 47%] Building CXX object src/backend/cuda/CMakeFiles/afcuda.dir/memory.cpp.o
[ 47%] Building CXX object src/backend/cuda/CMakeFiles/afcuda.dir/p

[2015-08-08 05:36] mjabri commented on #939
Problem was boost installation problem. It now builds ok.

[2015-08-08 05:36] #939 closed

[2015-08-08 23:16] mjabri opened #940 "some tests are failing in make test (cpu backend)"
After building on a laptop with Ubuntu 12.04.5 GeForce 980m and running tests using "make test", some cpu backend tests are failing (7 of them). Note the same tests succeed on a build i made on a Ubuntu 12.04.5 VM (cpu backend of course). I show the output of the tests (including failed ones) below. Any hints or advice is appreciated.
Thanks!

Here the output of "make test"

Running tests...
Test

[2015-08-08 23:49] pavanky commented on #940
I think you built arrayfire with LAPACK switched off for CPU backend. This can happen automatically if cmake does not find the necessary libraries. Can you run just one test `./test/lu_dense_cpu` and show the output.

[2015-08-09 00:14] mjabri commented on #940
Here the output:
Running main() from gtest_main.cc
[==========] Running 26 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 26 tests from LU
[ RUN      ] LU.InPlaceSmall
[       OK ] LU.InPlaceSmall (28 ms)
[ RUN      ] LU.SplitSmall
[       OK ] LU.SplitSmall (1 ms)
[ RUN      ] LU.floatBigSquare
[       OK ] LU.floatBigSquare (63 ms)
[ RUN      ] LU.floatBigRect0

[2015-08-09 00:16] pavanky commented on #940
But the test is passing now..

[2015-08-09 00:22] mjabri commented on #940
Sorry, that was test of build on VM but run on PM. I am rebuilding on PM and will put output of test.

[2015-08-09 01:08] mjabri commented on #940
Here is the output of test ./test/lu_dense_cpu when built on PM. I can now see a number of C++ exceptions when the test is run, and they do relate to LAPACK. But the configs are almost identical...

Running main() from gtest_main.cc
[==========] Running 26 tests from 1 test case.
[----------] Global test environment set-up.
[----------] 26 tests from LU
[ RUN      ] LU.InPlaceSmall
unknown file: F

[2015-08-09 02:22] pavanky commented on #940
Can you ensure that you have lapacke installed on the vm ?

[2015-08-09 02:33] mjabri commented on #940
You mean the PM? The build on the VM does not fail, even when run on the PM.

[2015-08-09 02:36] pavanky commented on #940
@mjabri Since this looks like a build issue, can we move the discussion to here: https://gitter.im/arrayfire/arrayfire

[2015-08-09 02:36] #940 closed

[2015-08-10 12:40] #871 closed

[2015-08-10 12:44] pavanky commented on #799
While this particular issue hasn't been solved, two new functions are in devel that might be helpful.

@munnybearz

Instead of doing values(isNaN(values)) = 0, you could do this:

[code]

[2015-08-10 12:46] pavanky commented on #799
There is also this:

[code]

This does an element wise operation in the following manner:

[code]

If you want similar operation done in place use `replace` as mentioned in the previous comment.

[2015-08-10 12:47] pavanky commented on #871
@bkloppenborg select and replace are now in devel.

[2015-08-10 21:33] shehzan10 commented on #925
I'm not sure about how CMake detects things on windows. From the closest comparison, FindCUDA.cmake, it is a simple file that anyone can copy and include in their project. I have not seen any *-config.cmake files on windows (like the ones we ship with linux). I think it's better to ship a simple FindArrayFire.cmake file with the installer.
Alternatively, we can write a universal FindArrayFire.cmak

[2015-08-10 21:55] shehzan10 commented on #925
I created this file https://gist.github.com/shehzan10/1c41396aafb4a843c191 (not tested). But I think this should do the trick.
I simply gets AF_PATH from the environment and then sets everything up. I'll try setting up some test for this.

[2015-08-10 22:23] shehzan10 commented on #925
Update: I tested the file on windows and it works perfectly. Had to fix a typo but thats it.

I used @bkloppenborg's https://github.com/bkloppenborg/arrayfire-cmake-example to test this. I simply added the FindArrayFire.cmake file to the CMakeModules directory and it worked like a charm.

[2015-08-10 22:50] bkloppenborg commented on #925
Humm. The `FindArrayFire.cmake` script shouldn't be needed if the `ArrayFireConfig.cmake` script is working correctly as they do essentially the same thing.

[2015-08-10 23:07] shehzan10 commented on #925
I agree. But I don't know if they work (and how they work) on windows. I've never had a good experience with those on windows.

[2015-08-11 17:22] munnybearz commented on #799
Thank you guys. Both these methods are useful. I will give it a go

[2015-08-11 19:00] munnybearz commented on #799
both the replace() and select() functions massively worsened performance for me (0.4x), so I'm back to doing:

[code]

FYI my values data is f64, dims 54000 x 200 x 1 x 1

[2015-08-11 23:48] pavanky commented on #799
@munnybearz Is the performance for when the if condition true ?

[2015-08-12 04:17] munnybearz commented on #799
Yes it is almost always true

On 12 August 2015 at 00:48, Pavan Yalamanchili <notifications@github.com>
wrote:

[2015-08-12 16:48] willyd commented on #925
I beleive that `PackageConfig.cmake` files are the recommended (or more modern) approach to package resolution on any platform with CMake enabled libraries. With the targets exporting feature, they make it easy for a package to expose its requirements to consuming projecs: preprocessor definitions, include directories, libraries. This is also doable with a find package module but much harder in my

[2015-08-12 16:54] pavanky commented on #925
@willyd I agree. We will not be dropping `ArrayFireConfig.cmake`

We are trying to resolve the original issue before 3.1

[2015-08-12 16:54] pavanky commented on #925
Having said that, @shehzan10's solution can be used as a work around until we fix the issue.

[2015-08-12 17:36] ghisvail commented on #925
Isn't that what the whole package registry thing is about on Windows:

http://www.cmake.org/cmake/help/v3.0/manual/cmake-packages.7.html

[2015-08-12 22:29] #923 closed

[2015-08-12 22:29] #352 closed

[2015-08-12 22:31] 9prady9 commented on #532
Fixes by #942

[2015-08-12 22:31] #532 closed

[2015-08-12 22:35] pavanky commented on #887
@9prady9 @shehzan10 @pentschev

Can you append the list of new functions being added to 3.1 in this issues description ?

[2015-08-12 22:44] munnybearz opened #946 "Use multiple ArrayFire backends in the same program"
I'd really like to be able to use multiple ArrayFire backends in the same program, and transfer arrays between them.

I have a use case where I have a very large array - much more than 4 GB so it kills my graphics card.  However I only do intense calculations on a subset of that data. It seems to me the large array is better suited to be managed by the CPU backend (where it is free to use as much

[2015-08-12 22:49] pavanky commented on #946
This is a duplicate of https://github.com/arrayfire/arrayfire/issues/232

[2015-08-12 22:49] #946 closed

[2015-08-12 23:14] pavanky opened #947 "Update tags for ArrayFire dependencies to latest stable version"
- [x] Boost Compute
- [x] clBLAS
- [x] clFFT
- [x] Forge

[2015-08-12 23:40] tdsmith commented on #794
Yes, this is still a problem on OS X 10.8. Here is a log of a failing build: https://gist.github.com/95ce627dcb1ed4736967

The compiler configuration is as follows:
OS X: 10.8.5-x86_64
Xcode: 5.1.1
CLT: 5.1.0.0.1.1396320587

[2015-08-13 02:32] tdsmith commented on #794
I should note that neither Gaëtan or I actually intend to use the software on 10.8 ourselves, but we noticed this failing on Homebrew's build server. I would personally be content with a declaration that Arrayfire supports 10.9+.

[2015-08-13 06:38] shehzan10 commented on #947
The last time I checked, I think clBLAS/clFFT had components from OpenCL 1.2 added to its develop branch. Just be mindful of this when updating.

[2015-08-13 10:57] pavanky commented on #794
@umar456 What do you think about supporting only 10.9+?

[2015-08-13 13:24] 9prady9 commented on #947
@pavanky Forge has been updated. I did this in yesterday's PR #942

[2015-08-13 22:01] shehzan10 commented on #925
@ghisvail Thanks for pointing that out. I was not aware of that. Let me experiment  and if successful, we'll add it to the installer.

[2015-08-13 23:29] shehzan10 commented on #925
So there are 2 parts to this:

1. The registry thing that @ghisvail mentioned is to allow automatic detection of the ArrayFire install directory. I have added this to our installer.

2. TL;DR: Fixed the original issue. Should be in the 3.1 installer.
Upon a little bit of digging (and actually reading the comment), those lines are to move from the CMake config files directory to the installation di

[2015-08-13 23:37] #231 closed

[2015-08-13 23:38] pavanky commented on #887
@shehzan10 Update the list of functions here

[2015-08-14 00:13] shehzan10 commented on #887
Here is a preliminary list:
- [ ] AFAPI array sum(const array &in, const int dim, const double nanval);
- [ ] AFAPI array product(const array &in, const int dim, const double nanval);
- [ ] AFAPI af_err af_sum_nan(af_array *out, const af_array in, const int dim, const double nanval);
- [ ] AFAPI af_err af_product_nan(af_array *out, const af_array in, const int dim, const double nanval);
- [ ] AFAP

[2015-08-14 02:36] pavanky commented on #887
@shehzan10 is this a result of grep :p ? Looks good and comprehensive!

[2015-08-14 03:15] shehzan10 commented on #887
Yeah `git diff v3.0.2 HEAD include/af | grep AFAPI`.  That gave a good list but had to remove the functions that were moved between files.

[2015-08-17 11:59] AgapovO opened #949 "build cpu with MKL Lapack from source code"
An error appears during the assembly of the project from source code when using MKL as lapack library. Declaration of MKL lapack functions (mkl_lapack.h) do not coincide with the functions which are used in the arrayfire lib.

[2015-08-17 13:24] pavanky commented on #949
@AgapovO Our CMake file does not automatically find MKL. For now you have to set things up manually. We need to resolve this at some point.

For reference, this is what we use for our binary installers:

On Linux:

[code]

On Windows:

[code]

[2015-08-17 13:43] AgapovO commented on #949
"Our CMake file does not automatically find MKL"

I'm not talking about that. I linked MKL libes. But when I builded the project error occurs.  Declaration of MKL lapack functions (mkl_lapack.h) do not coincide with the functions which are used in the arrayfire lib.   For example. A prototype is used in the file "cholesky.cpp" is

    int LAPACKE_dpotrf(ORDER_TYPE, char, int, T*, int);.

But same

[2015-08-17 13:45] pavanky commented on #949
You need to pass "-DUSE_CPU_MKL=ON" flag to cmake for CPU backend and "-DUSE_OPENCL_MKL=ON" to cmake for compiling OpenCL backend.

[2015-08-17 14:14] AgapovO commented on #949
I build on windows using scripts. I attached my "common.bat".

[code]

[2015-08-17 14:18] pavanky commented on #949
@shehzan10 can help you out with windows.

[2015-08-17 14:22] AgapovO commented on #949
Thank you. I will ask him about it.

[2015-08-17 14:28] pavanky commented on #949
He will reply here soon. I was just getting his attention to this issue :)

[2015-08-17 14:29] shehzan10 commented on #949
So we use lapacke rather than lapack. The only place where we use lapack is OSX, which for now is not relevant to this discussion.

I'm curious as to why you found the need for mkl_lapack.h while building. Our source code only includes mkl_lapacke.h. Can you tell me more about this error?

[2015-08-17 14:40] AgapovO commented on #949
I use MKL 10.2.6.037. I can't find "mkl_lapacke.h" and manually change "mkl_lapacke.h" to "mkl_lapack.h" in your source code. I think that's why there was the error. Tell me where to find mkl_lapacke.h.

[2015-08-17 15:00] shehzan10 commented on #949
That makes more sense.

We use the Intel Composer 2015 at our end which includes MKL. I'm not sure how the versions correspond to yours. A quick search led me to this (https://software.intel.com/en-us/articles/which-version-of-the-intel-ipp-intel-mkl-and-intel-tbb-libraries-are-included-in-the-intel) page which says composer xe has version 11. I tried looking up where lapacke was added, and it see

[2015-08-17 15:08] AgapovO commented on #949
Thank you for help. I will try install Intel Composer with MKL 11.

[2015-08-17 17:04] pavanky commented on #949
Closing the issue for now.

 @shehzan10 Can you update the requirements (in the wiki and other place) for MKL version to be at least 11 ?

[2015-08-17 17:04] #949 closed

[2015-08-17 19:55] 9prady9 commented on #903
@pavanky @umar456 using `cpuid` getting the information on x86 arch seemed fairly easily enough. But, on ARM, it seems like we need privileged access to read cp15 registers that can provide us with the cpuid information. Let me know how should we proceed. I personally think, we don't have any other option other than reading `/proc/cpuinfo` on ARM machines but again i don't know how this would work

[2015-08-17 21:37] pavanky commented on #903
@9prady9 Let the thread and other fields for ARM be "unknown"  for 3.1. We'll deal with this later. Just support x86 fully for now.

[2015-08-17 21:42] 9prady9 commented on #903
ok. Will send in a PR soon with x86 details.

[2015-08-18 06:39] rggjan opened #950 "Fix documentation for af::array constructors"
In the documentation of the af::array constructor it is unclear when the data from a host pointer is copied. In most of the constructors documentation:

http://www.arrayfire.com/docs/group__construct__mat.htm#ga8c330c41d6e06b0dea9377ef02762c6f
http://www.arrayfire.com/docs/group__construct__mat.htm#gabd3d95b130bdb2d7e713414687e6b15a
http://www.arrayfire.com/docs/group__construct__mat.htm#gaaa8fab9

[2015-08-18 10:58] ghisvail commented on #823
Could `clSPARSE` be used for the linear algebra part ?

[2015-08-18 11:40] rggjan opened #951 "Const array_proxy indexing throws linking error"
// This works
    const af::array a(100, 100);
    af::array b = a.cols(0, 20);
    b = b.rows(10, 20);

    // This works
    af::array a(100, 100);
    af::array b = a.cols(0, 20).rows(10, 20);

    // This fails
    const af::array a(100, 100);
    af::array b = a.cols(0, 20).rows(10, 20);

The linker error is the following:

    main.cc.obj : error LNK2019: unresolved external symbol "__declsp

[2015-08-18 13:52] 9prady9 commented on #950
@rggjan We apologize for the misleading statement in the documentation. Yes, as of 3.0.2 the copies are synchronous and are blocking in nature. However, this is going to change with 3.1.0 minor release. From 3.1.0 on-wards, these constructor calls will result in asynchronous copy, hence making the above statement valid with the correction of the word `synchronous` to `asynchronous`. This behavior

[2015-08-18 14:22] rggjan commented on #950
Good to know, thanks for the clarifications!

[2015-08-18 16:05] pavanky commented on #950
@rggjan Sorry about the confusion. The constructors are still going to be blocking and synchronous in 3.1.0 as well. We made other kinds of internal memory copies asynchronous internally.

 The documentation is wrong simply. We need to fix it.

[2015-08-18 16:08] 9prady9 commented on #950
@rggjan My bad i got confused with some other changes we did for memory copies internally.What @pavanky says is correct.

[2015-08-18 18:18] pavanky commented on #823
Yes that was the idea. clSPARSE was not public information when the issue was opened :p

[2015-08-18 18:20] pavanky commented on #823
I fixed the description now :)

[2015-08-19 07:39] #903 closed

[2015-08-19 15:43] AgapovO opened #956 "incorrect transposition"
I use arrayfire lib with Intel MKL on the windows. There is the problem with the function

[code]
from include\af\blas.h. When I make conjugate transpose of a matrix this function works fine. But when I try make conjugate transpose of a vector (matrix with size N*1) this function make transpose only (without conjugation).

[2015-08-19 15:46] ghisvail opened #957 "FTBFS on Linux i386 due to redefinition of af::dtype_traits<unsigned>"
In an attempt to package the OpenCL backend for Debian, building the project for i386 raises the following error:
[code]
Which likely comes from the fact that on i386, `size_t` is a typedef of `unsigned` for which there is already a definition inside `include/af/traits.hpp`.

The following fixed the issue, but seems quite fragile to me:
[code]

Besides, `size_t` is not OpenCL specific (unlike `clf

[2015-08-19 15:46] shehzan10 commented on #956
A quick look at the code and yes, this is a bug. When the input is a vector, we simply change the meta data.
A fix for this should be out soon.

[2015-08-20 16:34] #930 closed

[2015-08-20 16:34] #956 closed

[2015-08-20 16:34] #957 closed

[2015-08-20 17:48] pavanky commented on #887
[ ] af_wrap
[ ] wrap

[2015-08-21 16:41] umar456 commented on #950
ne098541wtmjbagimqwy256in8v264519ypnj a

[2015-08-21 16:41] umar456 commented on #950
8q9v8y26452y7wr5n3i1fzdxusqmkhedglnrsuvxy1346-[\][

[2015-08-22 03:56] #951 closed

[2015-08-24 04:29] pavanky opened #963 "af_info giving incorrect results with latest cl.hpp"
The platform name being shown is always the first platform that is detected.

Output of `info_opencl` test from older version:

[code]

Output of `info_opencl` from the latest build:

[code]

[2015-08-24 04:38] pavanky commented on #963
Here is the output of simple `af::info()`

[code]

This is supposed to show 3 devices.

[2015-08-24 04:40] pavanky commented on #963
`getDeviceCount()` appears to work normally. Something seems to be off about `af::info()`

[2015-08-24 04:43] pavanky commented on #963
Looks like `getInfo()` from opencl backend is returning the results properly.

[2015-08-24 04:54] pavanky commented on #963
Alright figured out the problem.

- `std::cout << getInfo();` seems to display the results properly.
- `printf("%s", getInfo().c_str());` bombs out.

This is because all strings being returned by the latest `cl.hpp` have a null termination character at the end. It looks like `std::cout` seems to just ignore null terminator when working with `std::strings`, but not when dealing with C strings.

[2015-08-24 15:00] #429 closed

[2015-08-24 15:00] #795 closed

[2015-08-24 15:00] #887 closed

[2015-08-24 15:00] #950 closed

[2015-08-24 15:00] #963 closed

[2015-08-24 15:02] pavanky commented on #947
Moving to 3.2 because of failures.

[2015-08-24 16:39] 9prady9 opened #967 "blas opencl test failed in debug mode with AMD CPU implementation"
`blas_opencl` test failed on my machine(i5-4690k, AMD R9 290 DualX) - it was clean build from scratch. All the other tests passed.

Did blas from opencl backend undergo any changes ?

Note: The blas_opencl tests seg faults while running MultiGPUSquare_CPP test.

[2015-08-24 16:58] 9prady9 commented on #967
This could very well may be an issue only with my machine, opencl backend is reporting two machines with ID 0 twice.

Tried running `info_opencl` test on one of the build machine with AMD card in it, same error - same device reported multiple times with same device id.

[2015-08-24 17:02] 9prady9 commented on #967
#964 had a change that is related to this, but the issue still seems to be not fixed.

[2015-08-24 18:51] pavanky commented on #967
#964 and #963 are resolved. Look at the tests:
http://ci.arrayfire.org/job/arrayfire-linux-test/branch/devel/899/console

Make sure you built cleanly from devel.

[2015-08-24 21:54] 9prady9 commented on #967
Both of my trials were clean builds from devel. To make sure that it is not just my machine, i tried it on one of the build machine with AMD GPU on it (I have already mentioned this in one of the above comments).

[2015-08-24 21:55] pavanky commented on #967
This is not failing on jenkins. I am not sure what you are testing.

[2015-08-24 22:05] pavanky commented on #967
This is output of info_opencl on our AMD build machine:

[code]

This is the output of blas_opencl
[code]

[2015-08-24 22:05] 9prady9 commented on #967
i did not change anything to test anything specifically. `blas_opencl` failed on my machine when i did `make test`. While debugging that, i ran `info_opencl` test, which showed incorrect information about the devices on the machine.

I am just running `info_opencl` & `blas_opencl` from the tests we have. However, i think this incorrect device information is happening only on the machines with AMD

[2015-08-24 22:06] pavanky commented on #967
@9prady9 I have been testing this on AMD machines all day. Why can't you simply post a sample output ?

[2015-08-24 22:35] 9prady9 commented on #967
i noticed this in debug mode build, not release mode. too late to mention that, but forgot to mention it earlier.

[2015-08-25 21:01] #709 closed

[2015-08-25 21:01] #862 closed

[2015-08-26 18:45] #924 closed

[2015-08-26 19:42] maxineliuqun opened #972 "af::plot function"
Hi,

I am trying to use "af::plot" to plot a vector, but it does not display any plots. Here is a sample code:

		int width = 2540;
		af::array Y = af::constant<float>(62280.0, (width), f32);
		af::array X = af::seq((double)1, (double)width);

		af::Window plotWin("plot");
		while (!plotWin.close())
			plotWin.plot(X, Y);

I would appreciate any help! Thanks!

[2015-08-26 21:23] 9prady9 commented on #972
@maxineliuqun I was able to reproduce the issue and i am looking into it. Will let you know as soon as we find something useful. Thanks for reporting this.

[2015-08-26 21:29] 9prady9 commented on #972
I believe this is an upstream up from forge where one of the corner cases wasn't appropriately handled. Will fix it in the upstream and it should get fixed in ArrayFire once Forge tag# is updated.

Upstream bug [reference](https://github.com/arrayfire/forge/issues/44)

[2015-08-26 21:47] maxineliuqun commented on #972
Thank you for looking into it, Pradeep!

On Wed, Aug 26, 2015 at 3:29 PM, Pradeep Garigipati <
notifications@github.com> wrote:

--
Qun (Maxine) Liu,
Software Engineer,
Varian Medical Systems, Inc.
Email: maxineliuqun@gmail.com
Website: qunmaxineliu.weebly.com

[2015-08-27 20:48] #885 closed

[2015-08-27 20:48] #888 closed

[2015-08-27 20:48] #972 closed

[2015-08-27 20:49] 9prady9 commented on #972
@maxineliuqun this is fixed in devel now.

[2015-08-28 19:22] pavanky opened #976 "Support reverse indexing when first index is af::end"
https://github.com/arrayfire/arrayfire-python/issues/24#issuecomment-135806472

[2015-08-28 23:31] pavanky commented on #232
@munnybearz @Kerkil @naspert Check out #977

[2015-08-30 00:00] #925 closed

[2015-08-30 00:10] umar456 commented on #794
We will only be supporting ArrayFire on OSX 10.9 and later.

[2015-08-30 00:10] #794 closed

[2015-08-31 06:27] pavanky opened #978 "Support batches along indices for approx1 and approx2"
Currently each batch of the input uses the same pos0 and / or pos1.  New functionality would enable each batch of inputs to have their own set of positions to approximate.

[2015-08-31 15:08] shehzan10 commented on #978
Why does this need 3.2? We can ship it in 3.1.1. There is not change in API.

[2015-08-31 15:09] pavanky commented on #978
@shehzan10 This is a feature improvement not a bug fix.

[2015-09-01 03:09] #978 closed

[2015-09-01 16:57] pavanky opened #980 "Add the ability to set devices using native Ids for CUDA and OpenCL"
For OpenCL:

[code]

For CUDA:

[code]

[2015-09-01 20:41] shehzan10 commented on #980
We should probably add the API for get native device id too.
This is already available in the backends, just a matter of exposing the API.

[2015-09-01 20:42] pavanky commented on #980
@shehzan10 It was already added in 3.1.0

[2015-09-02 16:53] shehzan10 opened #981 "Sum of indexed array returns incorrect values"
Source: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/MxGMBrZebzc/K6FcF5KBGAAJ

[code]

Outputs:
[code]

CPU is working fine, CUDA and OpenCL give wrong results.
I checked with a constant(1, 4, 1) as well. The results for CUDA and OpenCL are still incorrect.

[2015-09-02 20:53] pavanky opened #984 "List of functions added for 3.2"
Maintaining this list so we can add version guards before the release.

C API
- [ ] af_set_backend
- [ ] af_get_backend_count

C++ API
- [ ] setBackend
- [ ] getBackendCount

[2015-09-03 13:41] FilipeMaia opened #985 "Expose Array<T>.isOwner() function"
Currently there's no way to know if an array is an indexed array or not and certain functions (such as af_moddims) behave differently depending on the type of the array.
Exposing Array<T>.isOwner() would allow the user to predict figure this out.

[2015-09-03 14:27] pavanky commented on #985
`af_get_ref_count` is a good indicator.

[2015-09-04 13:51] FilipeMaia opened #986 "Update README"
It says that the binaries available are 3.0 beta but there are already 3.1 binaries.

[2015-09-04 18:40] shehzan10 commented on #986
Fixed by e87a0034db4377b9c15c88e36d769b59f12e6c7b

[2015-09-04 18:40] #986 closed

[2015-09-07 13:15] superchromix commented on #357
this would be very useful - I am also working with 16-bit image data

[2015-09-07 22:46] marbre opened #987 "tar xvfj arrayfire-full-3.1.0.tar.bz2: "tar: This does not look like a tar archive""
Finally trying to get a working arrayfire build for Gentoo finished, I ran into the following issue, when working with the full source code archive:
[code]
Gentoos latest stable versions are
* bzip2 Version 1.0.6, 6-Sept-2010.
* tar (GNU tar) 1.27.1

`bunzip2 arrayfire-full-3.1.0.tar.bz2 && tar xvf arrayfire-full-3.1.0.tar` works fine. Any suggestions?

I would like to avoid overwriting the defaul

[2015-09-07 22:52] pavanky commented on #987
@marbre Thanks for reporting this. We'll try to update the archive soon.

[2015-09-08 14:46] pavanky commented on #987
The archive has been updated to the proper format now.

[2015-09-08 14:46] #987 closed

[2015-09-08 14:47] pavanky commented on #987
@marbre Just reminding you that you may need to remove the *_nonfree*" files from the repo depending on the policies of gentoo.

[2015-09-08 14:59] marbre commented on #987
I think as long as the nonfree code isn't build, and the default is currently set to not build it, and nothing from it is installed by cmake this shouldn't be a problem(?).
Anyway, I will add the license and an optional use flag to enable it, if the user wishes to do .

[2015-09-08 15:00] pavanky commented on #987
@marbre The default options do not build it.

[2015-09-08 17:39] pavanky commented on #761
This is fixed in hotfixes-3.1.1

[2015-09-08 17:39] #761 closed

[2015-09-09 09:38] cornsuite opened #992 "OSX build for cuda toolkit 7.5"
The ArrayFire 3.1.0 installation package for OSX seem to contain a version of `libafcuda.3.1.0.dylib` library that has been linked with NVIDIA CUDA Toolikt version 7.0.
However, CUDA Toolkit 7.0 is not available even in the nvidia archives: https://developer.nvidia.com/cuda-toolkit-archive. Thus the ArrayFire install package for OSX is currently not usable: when running a simple program linked wit

[2015-09-09 09:47] shehzan10 commented on #992
We will be shipping v3.1.1 built with CUDA 7.5. The ArrayFire v3.1.0 installers will remain CUDA 7 and will not be upgraded. We are looking at releasing v3.1.1 early next week.

It looks like the archives are not linked properly on NVIDIA's website. I guess they'll fix this sooner rather than later.

[2015-09-09 10:16] FilipeMaia commented on #992
In the meantime you can get packages directly from http://developer.download.nvidia.com/compute/cuda/repos/

[2015-09-09 10:17] FilipeMaia commented on #992
Oh I see you want the OSX version: http://developer.download.nvidia.com/compute/cuda/7_0/Prod/network_installers/cuda_7.0.29_mac_network.dmg

[2015-09-09 11:48] marbre opened #993 "Install destination of CMake configuration"
Currently, or at least with the ebuilds for Gentoo Linux I have written, the CMake configuration of ArrayFire is installed to `/usr/share/ArrayFire/cmake/`. Shouldn't the configuration be installed to `/usr/share/cmake/ArrayFire/`?

[2015-09-09 11:53] marbre commented on #987
Thank you for the updated archive. We now ArrayFire 3.0.2 and 3.1.0 with CPU, CUDA and OpenCL backend available for Gentoo (provided in the gentoo-science overlay).

Next, the ebuilds will probably be improved to allow BUILD_GRAPHICS and BUILD_NONFREE.

[2015-09-10 07:08] mickeyil commented on #357
Could you add 16-bit support to saving images from array data? (such as 16-bit .png)

[2015-09-11 02:55] vakopian commented on #992
Thank you. Please, feel free to close the issue

[2015-09-11 02:56] cornsuite commented on #992
Thank you very much

[2015-09-11 02:56] #992 closed

[2015-09-11 17:10] 9prady9 opened #995 "opencl sort_by_key and sort_index failing intermittently"
uncomment the following tests after the issues is fixed:
[code]

[2015-09-13 12:48] pavanky commented on #981
This is fixed and present in master.

[2015-09-13 12:48] #981 closed

[2015-09-13 12:48] pavanky commented on #976
This is fixed and in master.

[2015-09-13 12:48] #976 closed

[2015-09-13 12:51] pavanky commented on #232
This is now present in devel branch as a new backend library.

[2015-09-13 12:51] #232 closed

[2015-09-13 12:51] pavanky commented on #946
This is now present in devel branch as a new backend library that loads other backends at runtime.

[2015-09-14 14:50] pavanky commented on #993
@marbre

This option is configurable. You can set it using the `AF_INSTALL_CMAKE_DIR` option. You can use it to put the cmake files anywhere gentoo expects them to be.

[2015-09-14 14:50] #993 closed

[2015-09-14 14:51] pavanky commented on #993
You can look at the other available options in `CMakeModules/AFInstallDirs.cmake`

[2015-09-14 16:48] shehzan10 commented on #766
Visual Studio 2015 support for CUDA has been added in NVIDIA Nsight™ Visual Studio Edition 5.0 Release Candidate 1

[2015-09-14 18:24] pavanky commented on #821
@shehzan10 Can you look at the potential library options for CPU sparse support?

Some of these functions are fairly easy to implement. We could implement our own versions if there are not any standard free libraries out there.

[2015-09-14 20:41] yshady opened #1000 "Undefined References when using dim4 operators"
Hello,

I have arrayfire built and linked to successfully. I also have build UNIFIED option to ON. All tests run to completion, and I was able to write my own functions using various array functions. However, when I try to use dim4 arithmetic operators (such as dim4 range = end-start;) I get link errors: undefined reference to `af::operator-(af::dim4 const&, af::dim4 const&)'

[2015-09-14 20:45] pavanky commented on #1000
@yshady Thanks for catching that. We will fix this shortly.

For now you can add `AFAPI ` at the beginning of the lines 56, 57 and 58 in the file `af/dim4.hpp`. This should fix the link issues for you.

[2015-09-14 20:55] yshady commented on #1000
Thanks @pavanky! That did the trick.

[2015-09-15 09:59] marbre commented on #993
@pavanky Thank you for clarification and the hint on `CMakeModules/AFInstallDirs.cmake`.

[2015-09-15 14:13] pavanky commented on #1000
This is now fixed in devel.

[2015-09-15 14:13] #1000 closed

[2015-09-15 15:04] AlexHild opened #1002 "Using arrayfire with external OpenCL context"
To use arrayfire together with external libraries it would be helpful if external contexts could be used.

1) Minimum solution:
Allow the user to call something like afcl_init(device_id, context); before using the library.

2) Great solution:
Allow the user to switch between different contexts, or even different queues calling something like: afcl_set_context(context), afcl_set_device(device_id),

[2015-09-15 15:19] pavanky commented on #1002
The first option would be easier to implement with the current framework.

The second one requires some additional investigation.

[2015-09-15 19:36] yshady opened #1003 "FFT for a signal of not a power of 2 dimension throws Exception(202)"
This code:
``array test = randu(32,32);
test = fft2(test);``
builds and runs successfully. While:
``array test = randu(34,34);
test = fft2(test);``
fails with ``ArrayFire Exception(202): Invalid input argument. In ~/arrayfire/src/api/cpp/fft.cpp:29``

Do FFTs only work with power of 2 dimensions?

[2015-09-15 19:40] pavanky commented on #1003
@yshady The OpenCL version requires the fft lengths to have prime factors among the following {2, 3, 5}.

In this case `34` has a prime factor of 17.  This is not supported.

[2015-09-15 19:40] #1003 closed

[2015-09-15 19:42] pavanky commented on #1003
What are the operations you are doing post fft? In many signal processing applications, you can pad the input with zeros to get the same results as the unpadded versions.

[2015-09-15 19:45] yshady commented on #1003
I think that's what I'll end up doing. Pad -> FFT -> operations -> IFFT -> truncate. I am mainly using the CUDA backend, and am currently porting some code to arrayfire that used cuFFT without problems.

[2015-09-15 19:48] pavanky commented on #1003
@yshady That size should be supported on the CUDA backend and only be a problem with OpenCL. Are you sure you are using ArrayFire with the CUDA backend ?

That said, padding to power of 2 -> fft -> ops -> ifft -> truncate is actually a lot faster than doing operations on non powers of 2. Even if the other sizes are supported, if the algorithm can take benefit of this behavior, it should do so for

[2015-09-15 20:02] yshady commented on #1003
I had both backends built, and thought CMAKE will magically pick the best (CUDA) to link against. You are right, after rebuilding arrayfire with just the CUDA backend. The above snippet worked.

[2015-09-16 22:01] FilipeMaia opened #1004 "CUDA backend activates all available GPUs"
Currently the CUDA backend activates all available GPUs in `DeviceManager`.

This is a problem in a host with multiple GPUs and where the GPUs are set to Thread or Process Exclusive. If you have two users trying to run arrayfire code, the second one will not find any available GPUs, even though the first user is probably just using one GPU.

Is there a way to tell arrayfire not to be greedy and on

[2015-09-16 22:03] pavanky commented on #1004
@FilipeMaia I am not sure what you mean "Process Exclusive". With the vanilla configuration I am pretty sure two users can use different gpus of arrayfire at the same time.

[2015-09-16 22:22] pavanky commented on #1004
After further investigation, short of exporting `CUDA_VISIBLE_DEVICES`, I do not think there is an easy solution for this.

[2015-09-18 08:16] pavanky opened #1005 "Bug in indexing + reductions"
[code]

[2015-09-18 08:17] pavanky commented on #1005
Might be related to #981

[2015-09-18 08:20] pavanky commented on #1005
Only seems to be a problem with indices. Values seem to be correct.

[2015-09-18 08:26] pavanky opened #1006 "Bug in complex reductions in OpenCL backend"
[code]

[2015-09-18 08:27] pavanky commented on #1006
This code results in the OpenCL kernel not compiling

[2015-09-18 17:17] ghisvail opened #1008 "Test suite failures on i386 (CPU backend)"
The following tests fail for `v3.1.1` on `i386`:
[code]

The verbose output of CTest gives:

for `test_median_cpu`:
[code]

for `test_reduce_cpu`:
[code]

[2015-09-18 17:20] pavanky commented on #1008
@ghisvail It looks like the test failures are merely precision issues. Can you change the precision limits for the failing tests and send in a PR ?

[2015-09-18 18:30] ghisvail commented on #1008
Very likely.

In `test_median_cpu`, the actual difference translates into different order of magnitude between floating-point (1E-8) and integer precision tests (from 1E1 to 1E3). So using a static tolerance value is probably not a good idea.

For `test_reduce_cpu`, I tried using `ASSERT_FLOAT_EQ` instead of the stricter `ASSERT_EQ`, but the test is still failing intermittently because the resulti

[2015-09-18 22:52] pavanky commented on #1005
This is caused by two issues:

- On OpenCL the look up names for different template parameters were causing a conflict.

- On CUDA + OpenCL, the index values are coming out incorrectly for

[2015-09-19 10:43] marbre commented on #1004
@pavanky

[code]

http://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html#group__CUDART__TYPES `cudaComputeMode`.

This can set on Linux with `nvidia-smi` (snippet of `nvidia-smi --help`):
[code]

[2015-09-19 21:08] ghisvail commented on #1008
Considering my earlier observations, I don't expect the resolution of this bug to be this trivial. As much as I would like to help, I can't commit to fixing this issue in my limited spare time. Packaging ArrayFire and its dependencies is already quite time consuming.

From the packaging side, I intend to drop the failing tests temporarily and reference this issue for the rationales behind the drop

[2015-09-19 21:10] pavanky commented on #1008
@ghisvail You can drop it for 3.1.1. I'll need to set up a 32 bit OS and test this. We'll try to resolve this by 3.1.2 hopefully.

[2015-09-20 19:58] ghisvail commented on #1008
Understood. I will soon be submitting `v3.1.1` to Debian unstable with the test suite bypassed for non 64-bit architectures.

[2015-09-21 12:06] rggjan opened #1010 "Histogram function broken for Cuda, OpenCL"
When running the following code on Windows with ArrayFire v3.1.1, the results are completely broken for Cuda and somewhat broken for OpenCL (assuming the CPU version is correct), unless line 22 is uncommented (which should not change the results):

	#include <arrayfire.h>

	#include <cstdint>

	int main() {
	    af::array image = af::readArray("C:/Users/rggjan/tmp/image.raw", "test2");
	    af::ar

[2015-09-21 14:59] shehzan10 commented on #1006
Fixed by PR #1009

[2015-09-21 14:59] #1006 closed

[2015-09-21 14:59] shehzan10 commented on #1005
Fixed by PR #1009

[2015-09-21 14:59] #1005 closed

[2015-09-21 15:34] pavanky commented on #1010
@rggjan Thanks for reporting this. This is a bug caused by indexing of segmentation. This is an easy fix.

[2015-09-21 15:39] 9prady9 commented on #1010
@rggjan
* Your CPU results are consistent with what i am seeing on my end.
* CUDA & OpenCL backend - i guess what @pavanky suggested might fix this.

@pavanky
However, when i tried histogram on an image, i noticed the following behavior. All backends are producing consistent results for integral data types, however they differ from the results of float, double (results of float & double are matchi

[2015-09-21 15:40] pavanky commented on #1010
@9prady9 Histogram in CUDA and OpenCL is not using offsets properly.

[2015-09-21 17:39] 9prady9 commented on #1010
Never mind guys, i did a mistake in the test code stub, was using same floating point array as `.as(s32)` and comparing the results with integral type's results. Hence the discrepancy. There is no issue with histogram function on any backend.

[2015-09-21 20:12] pavanky opened #1011 "Reductions after indexing when array size < 4096 are failing."
To reproduce:

[code]

[2015-09-21 22:23] jramapuram opened #1013 "AF_MAT_CONJ error building opencl backend"
On `fe1f289` & trying to build OpenCL[ATI based] for OSX.
Is there a missing enum or include?

[code]

[2015-09-21 22:29] jramapuram commented on #1013
was pulling in `/usr/local/include/af` erroneously.

[2015-09-21 22:29] #1013 closed

[2015-09-22 02:48] pavanky commented on #1010
@rggjan This is fixed in the hotfixes-3.1.2 branch. The fix will come to devel later this week.

[2015-09-22 02:48] #1011 closed

[2015-09-23 08:52] ghisvail opened #1015 "FTBFS on several architectures due to assembly code"
The Debian builders reported the following build error (`error: impossible register constraint in 'asm'`) on the following architectures: `arm64`, `mipsel` and `powerpc`.

Individual logs for each build can be found [here](https://buildd.debian.org/status/package.php?p=arrayfire#issues-arrayfire).

[2015-09-23 15:00] pavanky commented on #1015
We do not use assembly code in arrayfire. The only restriction is C++11.

[2015-09-23 15:01] shehzan10 commented on #1015
@pavanky it is used in cpu/platform.cpp. I believe it was added for the CPU af::info when @9prady9 added new information.

[2015-09-23 15:02] pavanky commented on #1015
Well shit I take it back. I think we are using it inside platform.

[2015-09-23 15:02] 9prady9 commented on #1015
@pavanky The CPU backend uses it to extract system information, however this code should not execute on ARM as it is defined with a conditional block for `execute if not arm` - which i think explains why it is throwing up for mipsel and powerpc.

[2015-09-23 15:04] ghisvail commented on #1015
I was about to say: "but the error message says..."

[2015-09-23 15:04] pavanky commented on #1015
@9prady9 I checked their logs. It is throwing the errors on `arm64`. Can we flip the condition to be x86 / x86_64 only ?

[2015-09-23 15:04] 9prady9 commented on #1015
We should do that. But out of curiosity, do we even support mipsel and powerpc ?

[2015-09-23 15:13] pavanky commented on #1015
@9prady9 I was going to clarify that.

@ghisvail

We can fix trivial things such as this, but for reference we only plan to support ARM (32 bit now, 64 bit in future) and x86 (64 bit regularly, 32 bit when required) for the forseeable future. We might end up supporting PowerPC at some point if we get access to said hardware but we will can not support arrayfire on hardware that we do not have acce

[2015-09-23 15:25] ghisvail commented on #1015
Understood. I cannot prevent the builders to work on all  architectures, but I will focus my reporting on bugs affecting the architectures you listed to be officially supported.

[2015-09-23 17:05] pavanky commented on #1015
We have a fix in hotfixes-3.1.2 branch that should hopefully fix this.

[2015-09-23 17:06] pavanky commented on #1015
@ghisvail [This](https://github.com/9prady9/arrayfire/commit/e5b8788f7ff5ace55be0c2057c77868336d75780) is the relevant commit in case you are interested in patching 3.1.1. We are planning to release 3.1.2 next Monday in case you want to wait.

[2015-09-23 17:13] ghisvail commented on #1015
Perfect, thanks for addressing this. I'll submit an update and check the builders. Then, I'll drop the patches once 3.1.2 is out.

[2015-09-23 23:04] shehzan10 commented on #1008
The reduce failure is because of a precision error. This is a simple fix by using assert_near.

The median issue is happening because of the data that is generated. Using randu with ints/unsigned ints creates really large numbers. This is somehow messing with the algorithm.
The fix for this is to generate the data as float, multiply it with a factor (1e6) and then cast it into s32/u32 arrays.
I am

[2015-09-24 01:15] pavanky commented on #1015
@shehzan10 shouldn't we reopen this issue then ?

[2015-09-24 01:16] shehzan10 commented on #1015
I think @9prady9 was working on it. He would be in a better position to decide that.

[2015-09-24 08:22] aelialper opened #1019 "CUDA examples libafcuda - libnvvm version mismatch"
The examples do compile with CUDA (version 7.5), but when I try to run them I get the following error:

dyld: Library not loaded: @rpath/libnvvm.3.dylib
  Referenced from: /usr/local/lib/libafcuda.3.dylib
  Reason: Incompatible library version: libafcuda.3.dylib requires version 3.0.0 or later, but libnvvm.3.0.0.dylib provides version 0.0.0
Trace/BPT trap: 5

[2015-09-24 11:57] shehzan10 commented on #1019
Did you append the NVVM path to your DYLD_LIBRARY_PATH? It should be as follows.
[code]

[2015-09-24 14:36] Pascal-J opened #1020 "languages using C interface do not have single precision float datatypes"
version 3.1.1 win64

The J language can pass  single or double precision float from its 64 bit version.  It is able to truncate them, and pass it to Afire, and if the device supports double precision, it appears to be ok, only if doubles are passed, though there is weird behaviour when passing single.

The major problem is for a device that does not support double precision.  There is no way for J

[2015-09-24 14:47] Pascal-J commented on #1020
NICE TO HAVE REQUEST:

device that doesn't support doubles could silently convert to single when in fb64 mode?  Or perhaps return error but also create array anyway?

[2015-09-24 15:24] pavanky commented on #1020
I think a new function needs to be added that creates float `af_array` if double precision is not supported.

Something along the lines of

`af_create_array_fallback` or something such.