[2015-09-24 15:47] 9prady9 commented on #1015
@pavanky From the logs provided by @ghisvail the build was a success for `i386` architecture. Also, we were able to build ArrayFire on a 64bit VM (@shehzan tested this out on one of our local machines). So, i guess it is only an issue on VM of 32bit architecture. I don't think we need to reopen this issue.

[2015-09-24 16:23] Pascal-J commented on #1020
or a boolean flag.  It simplifies scripting language bindings for sure if only longs and doubles (and perhaps bytes and complex) are/want to be used.

The new function idea is probably better than a boolean flag, because I think everyone would want the ERRORS=OFF flag, and so those everyone would just bind to the new function, and old code is unaffected.

[2015-09-24 16:42] aelialper commented on #1019
The DYLD_LIBRARY_PATH and the DYLD_FALLBACK_LIBRARY_PATH variables are set, sorry I should have told you what I did already in the first place. Output of otool -L shows the following:

@rpath/libnvvm.3.0.0.dylib (compatibility version 0.0.0, current version 0.0.0)

And the error message says that it requires 3.0.0, so there is one discrepancy there, relevant or not... Only the _cuda binaries have

[2015-09-24 17:05] shehzan10 commented on #1019
The information you have provided is consistent with what I'm seeing on our build machine. Unfortunately, our build machine does not have CUDA device so we do not run it through its paces regularly.

From what I understand its a bug from CUDA 7.5. If you see the same lib in CUDA 7.0, it shows the correct compatibility and current version.
[code]

If you have CUDA 7 installed, you can simply change

[2015-09-24 19:36] maxineliuqun opened #1021 "Support for O(1) median filter"
Hi,

I am using a median filter with the kernel size 129 * 129 for a customer of mine. The traditional median filter is in the complexity of O(n^2logn), and even I use arrayFire median filter, it still runs for 30 mins. Here is a well-known paper that can run median filter with O(1) complexity (http://vision.gel.ulaval.ca/~perreaul/publications/Id699_2007.pdf). OpenCV is using this algorithm, and

[2015-09-24 19:53] pavanky commented on #1021
That is an approximate algorithm and seems to be fairly sequential. It may not be possible to do this in constant time on the GPU.

[2015-09-24 19:57] pavanky commented on #1019
@umar456 Can you look at this ?

[2015-09-24 19:59] pavanky commented on #1019
@aelialper Can you tell us which version of ArrayFire you are using ? And also let us know how you installed it ? (i.e. build from source or did you use the installer ?)

[2015-09-24 21:01] aelialper commented on #1019
I installed using the binary installer about two weeks ago, and I'm pretty sure I didn't do anything else in between now and then. Here are the versions I found on my machine:

/usr/local/lib/libafcpu.3.1.0.dylib
/usr/local/lib/libafcpu.3.dylib
/usr/local/lib/libafcpu.dylib
/usr/local/lib/libafcuda.3.1.0.dylib
/usr/local/lib/libafcuda.3.dylib
/usr/local/lib/libafcuda.dylib
/usr/local/lib/libafopen

[2015-09-25 02:00] Pascal-J opened #1022 "bug: scalar + vector behaviour is wrong"
The correct behaviour for scalar + vector should be:  (J code)

      7 7 7 7 7 + i.5
    7 8 9 10 11
      7 + i.5
    7 8 9 10 11

arrayfire gets the vector + vector equivalent version right, but for the scalar + vector:

      'J a_base_ =. Achk i.5' inl <'afopencl'
    0 1 2 3 4
      'J b_base_ =. Achk 7' inl <'afopencl'
    7
      'JR a_base_ add~ b_base_ ' inl <'afopencl'  NB. tilde invert

[2015-09-25 09:00] ghisvail commented on #1015
I have updated the builders with a patch containing the commit. Now ArrayFire builds on `powerpc` and `mipsel`, but still fails on `arm64` and `ppc64` with the same error. Logs are available [here](https://buildd.debian.org/status/package.php?p=arrayfire#issues-arrayfire).

[2015-09-25 11:13] umar456 commented on #1022
I am not sure how you implemented the `add` function but I think the issue is popping up because you need to use the constant function to create the `b_base_` array that has the same size as the `a_base_` array. `constant` is a JIT function so memory will not be allocated and the operation will be performed as expected. You can look at the C++ binding's [`operator+`](https://github.com/arrayfire/a

[2015-09-25 11:41] umar456 commented on #1020
We should have a function which will create an array from host data of a different type. For example, we can have a function which will convert a double host data to a float af_array.

Example:
[code]

I don't want ArrayFire to convert data implicitly in case the device doesn't support `f64`. This can lead to problems where ArrayFire will fail at different locations based on the capabilities of th

[2015-09-25 12:52] umar456 commented on #1019
Works on my machine™.

This is using a clean install of the CUDA Toolkit 7.5.18 and the latest ArrayFire(v3.1.1) binaries from our website on OSX 10.9.5

[code]

Try installing the latest version of ArrayFire and make sure you have the latest CUDA install. Hopefully that will fix the issue.

If that doesn't work you could try to change the install name on the libafcuda.dylib.
[code]

[2015-09-25 13:24] 9prady9 commented on #1015
Reopening the issue since it is still failing on `arm64` and `ppc64`.

@ghisvail I was under the impression that `powerpc` is nothing but `ppc64`, does just `powerpc` mean 32-bit ?

I might know what is the issue. It is mostly associated with `__LP64__` preprocessor macro, we are checking for to decide when to use `cpuid`, along with other architecture macros. It could be that this is macro `__LP6

[2015-09-25 14:26] ghisvail commented on #1015
@9prady9 yes `powerpc` is 32-bit.

[2015-09-25 14:36] shehzan10 commented on #1019
Umar is right. This should work with 3.1.1.

CUDA 7.5 build for afcuda was added with v3.1.1. afcuda v3.1.0 was built with CUDA 7. Hence you are seeing the error.

[2015-09-25 14:39] shehzan10 commented on #1015
@ghisvail would it be possible for you to test the PRs #1023 and #1018 on the failing machines? We want to do a code freeze today for 3.1.2 and release the installers by monday. If you can confirm everything is good, that would definitely help.

[2015-09-25 14:53] ghisvail commented on #1015
I can submit a new release, but I am not sure you will have the results on time for today's code freeze. Is that ok?

[2015-09-25 14:57] Pascal-J commented on #1022
interesting approach.  From the function signatures for constant, they are vectors (or higher dimensioned) arrays.  The behaviour of a scalar array when applied to a vector (with a basic  function (rank 0 functions such as + - * exp div mod) is to (should) behave as though it is auto expanded into a "constant".

I haven't looked at behaviour of constant yet, and if it does this, that is quite cool

[2015-09-25 14:57] 9prady9 commented on #1015
I am fairly confident that this latest fix should resolve the issue. But we can keep this issue open until the release results are available to us.

[2015-09-25 14:57] shehzan10 commented on #1015
Ok I'll shortly merge both those PRs into the hotfixes branch. You can send those off for confirmation. Once its ok from there, we'll merge it into master over the weekend.

[2015-09-25 15:13] ghisvail commented on #1015
Ok let me know when the merging is done and I'll update the packaging with the corresponding patches.

[2015-09-25 15:22] aelialper commented on #1019
Thank you for your help, I will reinstall and we'll go from there :)

[2015-09-25 15:42] 9prady9 commented on #1022
@Pascal-J

I have tested the following snippets on current master and both of them seem to work fine on CPU, OpenCL backends.

First snippet uses `af_create_array` and the later `af_constant` to create the `af_array`'s.
[code]

[code]

Can you please check if you are using the latest release(3.1.1).

[2015-09-25 16:08] Pascal-J opened #1024 "Design: out paramter to af_add and other functions"
the call,
 af_add (aptr, aptr, bptr, 0) is an attempt to have the result of add overwrite the lhs argument.

the operation does not raise an error, but accessing aptr afterwards does. the "feature request behaviour" that I'm not sure is possible with current interface:

if out = 0, create new afarray
if out points to existing afarray (part I'm unsure is possible), then "overwrite" the contents of

[2015-09-25 16:21] Pascal-J commented on #1022
I am using 3.1.1.  The difference in my test is that my cover function for array_create (A) uses s64 as data type.  Both 7 and 0 1 2 3 4 below are s64.

The specific nonsense result of 7 1 9 3 11 (from 7 + 0 1 2 3 4) has a pattern to it, the result is 7 0 7 0 7 + 0 1 2 3 4 .  That looks to me as though there is a mistaken expansion that takes the 64bit number 7 as 2 32 bit numbers 7 0.

[2015-09-25 16:38] 9prady9 commented on #1022
Yes, i noticed the pattern of even indices with wrong values. Will check the code with `s64` now.

[2015-09-25 16:57] 9prady9 commented on #1022
I have just tried the above snippets by changing the data to be `s64` and the snippets gave correct results on my end.

[2015-09-26 03:09] pavanky commented on #1024
@Pascal-J There is no easy way to check for "existing af_array". If the output is not initialized properly to any value, it can randomly point to a pre-allocated pointer. If that occurs you are introducing incorrect releases of memory locations.

The current behavior replaces the array being pointed and **leaks** memory equivalent to the old pointer. It does not crash.

The out parameter is a poin

[2015-09-26 03:12] pavanky commented on #1024
Also the behavior you are asking for is to trivial to implement in a language wrapper. This is exactly what we are doing for the Java wrapper.

[2015-09-26 03:16] pavanky commented on #1020
Alternatively we could do something like

[code]

This will be useful if people want to use f64 when possible and fall back to f32 if f64 is not available. I think this  has its uses over explicitly converting the data type each time.

[2015-09-26 03:16] #1024 closed

[2015-09-26 12:44] #1019 closed

[2015-09-26 15:29] pavanky commented on #1022
@Pascal-J Please try to write the same code in C and see if the bug exists. We can not debug J code on our end. If the code works fine in C but fails in J, the problem lies  in the J wrapper rather than C.

This is the reason I asked you to create a new repo for the J wrapper because that would be more appropriate place to discuss issues like this.

It looks like @9prady9 tried the code snippet in

[2015-09-26 15:29] #1022 closed

[2015-09-26 15:33] #1015 closed

[2015-09-26 15:34] #1008 closed

[2015-09-26 22:14] RoyiAvital commented on #804
What on your list now?

[2015-09-26 22:57] 9prady9 commented on #804
@RoyiAvital We haven't started working on this yet. The issue is currently on TODO list. What do you have on mind ?

[2015-09-27 00:44] vakopian opened #1028 "gfor example doesn't work"
According to the documentation (http://www.arrayfire.com/docs/page_gfor.htm#gfor_iterator) the gfor iterator can be used in expressions:
[code]
This example does not compile with g++ nor with clang. They both complain about

If I change `k+1` to `k+1.0` to avoid the ambiguity (i.e. force a double), the program compiles, but fails at runtime:

In "arrayfire/src/api/cpp/array.cpp:926" thrown in the

[2015-09-28 07:12] rggjan opened #1029 "ArrayFire to OpenGL"
Is it possible to go from ArrayFire to OpenGL and back using an AMD graphics card?

There is an article on how to do it using CUDA (http://arrayfire.com/remote-off-screen-rendering-with-opengl/). Any hints on using a similar method for OpenCL, so it can be used cross-platform?

What I would like to do in the end is take an af::array, convert it to an OpenGL texture and render it with my custom sha

[2015-09-28 07:37] rggjan commented on #1010
I just downloaded and installed the new Release 3.1.2.

Unfortunately, I still see exactly the same results when running it (both for CUDA and for OpenCL wrong results).

Did I miss something?

[2015-09-28 07:40] pavanky commented on #1010
@rggjan can you print the output of af::info()?

[2015-09-28 07:41] rggjan commented on #1010
There you go:

    Device[1] has no support for OpenGL Interoperation
    ArrayFire v3.1.2 (OpenCL, 64-bit Windows, build 77128bb)
    [0] NVIDIA  : GeForce GTX 980
    -1- INTEL   : Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz

[2015-09-28 15:50] 9prady9 commented on #1029
@rggjan
As per the current state of the ArrayFire framework, it is not possible to do this over OpenCL backend. Reason being, currently we do not expose the API necessary to allow the user to set an OpenCL context or pass on an OpenGL context for sharing. The issue #1002 is related to the same topic. Once we have the functionality being discussed in #1002 implemented in ArrayFire, you would be abl

[2015-09-28 17:22] Pascal-J opened #1030 "bug: 0 div 0 is wrong on opencl gpu"
0 div 0 is 0 (correct) on afcpu and afopencl if device is APU (supports f64)

0 div 0 is 2 (?) on afopencl GPU device (no f64 support)

does arrayfire have the concept of infinity (as an array member)?  How do you pass through C?

[2015-09-29 07:05] rggjan commented on #1029
Thanks for the explanations.

My use case is actual 3D rendering: I would like to process an image (out of a video stream) with arrayfire functions, and then use that as a texture in an interactive 3D OpenGL scene.

I don't think rendering triangles and polygons with arrayfire makes a lot of sense, so I would like to go with direct OpenGL for that.

I can currently do this by copying the data from

[2015-09-29 13:56] 9prady9 commented on #1029
Agree, we currently do not have the capability to render polygons or 3D scene directly through our graphics API. Hopefully, we will reach there at some point in future.

Just to remind you again, the above discussed issue is the case with OpenCL backend only, CUDA works fine since it doesn't need to expose context and related attributes for OpenGL interoperability to work.

[2015-09-29 14:19] 9prady9 commented on #1010
I think i narrowed it down to where the issue is - doesn't seem like histogram is the culprit. It is in the following line
[code]
When I split it as following
[code]
There was no difference on the output of `test_ ` variable. However, `hist_vector` has different values on `cuda` and `cpu` backends. Interestingly, this difference beings much earlier in case of `opencl`, the result of `where` functi

[2015-09-29 15:23] Pascal-J commented on #1030
More bugs on opencl GPU (that doesn't support double precision).  Actually general bug with opencl (found after I started post)

in J,  https://github.com/Pascal-J/Jfire

P is afcpu device 0
G is opencl device 1  (GPU without double support)
i. is equiv to iota.  sum is af_sum with left arg, dim  .  A creates array s64 Af creates f32.  J is polymorphic get_data_ptr.  M as a suffix is just memory m

[2015-09-29 16:36] Pascal-J opened #1032 "Design: Many functions artificially require floats"
matmul, set_unique (intersect/union too I think) all give errors if trying to use arrays of type s64 or s32.

There are likely several more.

Especially for s64, it would be nice to have the possibility to use without internal conversion to doubles.

[2015-09-29 16:45] shehzan10 commented on #1032
This is a limitation of the blas libraries(BLAS/MKL/cublas/clblas etc) in the backends. All blas api works for float/double/complex. There are no functions for integer types in these libraries.

[2015-09-29 16:52] shehzan10 commented on #1032
set functions may be a different case. There is a little bit of type incompatibility between the boost.compute and arrayfire. For 64-bit ints, ArrayFire uses long long (ensures 64-bit irrespective of OS) whereas Boost.Compute uses long (32 bit on windows). Because of this we have not moved towards adding s64/u64 to sort and any functions that may depend on sort, including set functions.

[2015-09-29 17:21] pavanky commented on #1030
@Pascal-J if you are reporting here, please report some code that the engineers can reproduce and debug. We are not familiar with J at all and posting J code here is of no use.

[2015-09-29 17:21] pavanky commented on #1030
Like I mentioned in another issue, if the code can not be reproduced in pure arrayfire we can not call it a bug.

[2015-09-29 18:00] Pascal-J commented on #1030
I did my best to clarify for those who use just C.  I'd expect that someone can read it, but I'll retry my best.

for div, issue

af_div(result, (array scalar 0), (array scalar 0), 1)  is 2 on GPU device of opencl.  I can try batchmode 0 if you care.

For the sum problems, if that is not clear, I recommend the following test:

Make a 10 x 5 array with iota, and the equivalent in C.

If sum by colu

[2015-09-29 18:28] pavanky commented on #1030
@Pascal-J When you say (array scalar 0), how are you creating it ?

[2015-09-29 19:07] Pascal-J commented on #1030
dimensions 1 1 1 1 and value 0

same 2 result occurs if I do array size 3 1 1 1 and values 0 1 2

[2015-09-30 01:22] pavanky commented on #1030
Reference: http://www.informit.com/articles/article.aspx?p=1732873&seqNum=10

We are just following the C / OpenCL reference behavior.

I was under the impression that you were talking about floating point types and kept the issue open because the output should have been NaN.

[2015-09-30 01:46] Pascal-J commented on #1030
The "Iverson convention" for array languages is 0 div 0 = 0 as followed by afcpu, and 1 of my opencl devices.  If its the device's choice to do what it wants then I guess there is nothing you can do about it, but I still thought I should point it out.  This behaviour seriously narrows computing applications though.

The more definite bug is opencl's sum handling, though.

[2015-09-30 02:24] Pascal-J commented on #1030
I'm no longer experiencing the strange results on sum.  I've not made any code changes though.

[2015-09-30 07:04] rggjan commented on #1029
Yes, thanks for the reminder. However, we need to run our code also on AMD graphics cards, so the CUDA solution only works in a limited number of cases for us...

[2015-09-30 07:07] rggjan commented on #1010
Interesting findings, thanks for digging into this.

I tried making the test case as simple as possible, to make it easier to debug (the actual code I use is much more complicated). However, I can imagine it is still hard to pinpoint the problem, since the input data is quite big.

[2015-09-30 12:19] ghisvail opened #1035 "Test_missing_cpu failing with default BLAS implementation on Linux"
Using the default BLAS implementation on Linux (libblas-dev on Debian / Ubuntu) instead of OpenBLAS results in a successful build of ArrayFire 3.1.2, but `test_missing_cpu` fails with:

[code]

This is the only test failing.

[2015-09-30 12:57] aelialper opened #1036 "Convolution inside GFOR"
When I try to do convolution inside a GFOR loop, I get an exception. The convolve documentation says it does up to 3D, and it seems like the 4th dimension is somehow also the "gfor" dimension.  So how do I batch process the convolution in this scenario:

[code]

[2015-09-30 15:14] 9prady9 commented on #1029
Ah, makes sense.

[2015-09-30 15:24] 9prady9 commented on #1036
Are you trying to batch the data along both 3rd and 4th dimension ? or just 3rd dimension - in this case what is the 4th dimension data holding (for 2d convolution with 2d kernel - Array size [m, n, 1, p] doesn't make much sense ?)

[2015-09-30 16:05] pavanky commented on #1036
@aelialper you need to use `convolve2` for 2D convolution. The regular `convolve` does not support batch mode.

As @9prady9 mentioned you do not need GFOR for this case. What you want can simply be done like so:

[code]

[2015-09-30 16:07] pavanky commented on #1035
@ghisvail The error means that LAPACK library was not found while building ArrayFire. You are not seeing other failures because I assume you are skipping *_dense*

[2015-09-30 16:08] pavanky commented on #1035
BTW OpenBLAS works because it provides both BLAS and LAPACK.

[2015-09-30 16:20] ghisvail commented on #1035
My bad, I misread the build log. It indeed logs that LAPACK is missing and that the functionality is disabled. Closing.

[2015-09-30 16:20] #1035 closed

[2015-09-30 21:52] aelialper commented on #1036
Yeah, I have to admit that it didn't occur to me to break the loop, convolve, and then restart another loop. Thank you.

[2015-10-01 00:06] #1036 closed

[2015-10-01 15:19] 9prady9 commented on #772
@pavanky Are you still seeing this problem on AMD APUs ?

[2015-10-01 17:10] pavanky commented on #772
@9prady9 Last I checked, it is still an issue.

[2015-10-01 19:36] #780 closed

[2015-10-01 19:36] #980 closed

[2015-10-01 21:10] ghisvail opened #1038 "Random test failures on arm64 builds"
It was [reported](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=800384) to me that the Debian autobuilders experienced random test failures for `arm64`. Each time the build was done on a different machine and the failing test was different. The package eventually build successfully but this is probably symptomatic of a problem.

All the logs are available [here](https://buildd.debian.org/statu

[2015-10-01 21:18] #1021 closed

[2015-10-01 21:37] maxineliuqun opened #1039 "Support for 1D median filter"
Does ArrayFire support 1D median filter? It looks like that the function "af::medfilt" only supports 2D images. Here is a sample code:
		float a[] = { 1, 2, 3, 4, 5, 6, 7, 8, 9 };
		af::array A(9, a);
		af::print("orig A: ", A);
		af::array B = af::medfilt(A, 3, 1);
		af::print("filtered B: ", B);
It breaks on me in the memory.

Thanks!

[2015-10-01 21:58] shehzan10 commented on #1038
All the tests in the log that fail are SEGFAULTs that are happening after the tests pass successfully. I'm not sure I can pin point this without having access to one of these type of architectures.

Internally, we test on the tegra which is an armv7l (32 bit) and do not see any such issues.

[2015-10-01 22:03] 9prady9 commented on #1039
@maxineliuqun Yes, your observation is correct - currently, `af::medfilt` supports only 2D square filter sizes.

[2015-10-01 23:13] jramapuram commented on #918
How about doing what librdkafka does? I.e. register callbacks and provide a poll() method that the use will have to call when desired to execute the events that are queued (calling the callback multiple times until all events have been dispatched).

[2015-10-01 23:16] jramapuram commented on #905
Actually this is better done with SVD as it supports non-square matrices:

[code]

S is easy to square as it is a diagonal matrix and the square is just the square of each element in the diagonal.

[2015-10-02 06:36] ghisvail commented on #1038
I understand. May I propose to leave this issue open, and wait and see what happens with the next couple of releases.

I will soon be pushing an update which will enable builds of ArrayFire for architectures which do not have OpenBLAS. Maybe those will provide us with better pointers as to where the potential problem is. Then, you guys can decide for the best course of actions.

Sorry I cannot be

[2015-10-02 06:50] pavanky commented on #1038
@ghisvail Can you tell us what board is being used by Debian for building 64 bit ARM architectures ? We might consider getting one.

[2015-10-02 06:51] ghisvail commented on #1038
No idea, I will ask them and report back.

[2015-10-02 06:59] ghisvail commented on #1038
Information about our `arm64` port are [here](https://wiki.debian.org/Arm64Port).

They mention 2 particular machines used by the porters, [this](https://db.debian.org/machines.cgi?host=asachi) and [this](https://db.debian.org/machines.cgi?host=turfan). Both seems to use the [following board](https://wiki.ubuntu.com/ARM/Server/Install/Mustang).

Hope this helps.

[2015-10-02 07:07] pavanky commented on #1038
@ghisvail Thanks for that information, We will look into it.

[2015-10-02 10:37] ghisvail commented on #1038
The new upload (`3.1.2+dfsg1-2`) built the first time this time around on `arm64`. The difference is that we now use standard BLAS / LAPACK for the build instead of OpenBLAS to build on more architectures. OpenBLAS can be selected at install time via `update-alternatives`.

[2015-10-02 10:38] ghisvail commented on #1038
It is probably unrelated to this issue but I wanted to clarify the difference between the latest build and the one I reported the bug from.

[2015-10-02 10:43] svenstaro opened #1040 "undefined reference to `af_save_image_memory' when freeimage is absent"
So when compiling the newest release (also happens on git master) I get this:

    [ 45%] Linking CXX executable approx1_cpu
    ../src/backend/cpu/libafcpu.so.3.2.0: undefined reference to `af_save_image_memory'

Using gcc 5.2.

make verbose=1 output is:

    [ 45%] Linking CXX executable approx1_cpu
    cd /home/svenstaro/src/arrayfire/build/test && /usr/bin/cmake -E cmake_link_script    CMakeFi

[2015-10-02 10:59] pavanky commented on #1040
Can you cd into your build directory and run "cmake .." and build again ?

[2015-10-02 11:01] pavanky commented on #1040
These kind of issues arise when we add new functions to our library that happen to be in new files. CMake does not seem to pick up the new files when building arrayfire.

running "cmake .." should pick up the new files and fix the compilation issues.

[2015-10-02 11:07] svenstaro commented on #1040
Well this is a brand new clone so I'm not sure it will result in any changes but I will try.

[2015-10-02 11:11] pavanky commented on #1040
Ah crap, I see what is happening now. Would it be possible for you to install free image on your machine as a temporary work around ? The symbols implemented when freeimage is not available is still using an older API causing the issue.

[2015-10-02 11:12] svenstaro commented on #1040
Hang on I will try that.

[2015-10-02 11:28] pavanky commented on #1040
@svenstaro I am in charge of [the aur package](https://aur4.archlinux.org/packages/arrayfire-git/) as well. I am going to try and implement the suggestions you've made there :)

[2015-10-02 11:39] svenstaro commented on #1040
Oh cool stuff. I'm in the process of creating an official package in Arch because I like this lib.

[2015-10-02 11:41] pavanky commented on #1040
@svenstaro Ah much appreciate it :D  I see that you are an Arch developer. Let me know if you want me to hand off the AUR package to you if you want to experiment a bit.

[2015-10-02 11:45] svenstaro commented on #1040
Nah man it's cool, as long as you do regular releases I'm fine with the stable release. I would just recommend you to always use devtools to build your package even in AUR to build them in an isolated environment. Instead of running makepkg, run extra-x86_64-build. It will error for your package because it is not self-contained and depends on the users system which it shouldn't. I will show you my

[2015-10-02 11:47] pavanky commented on #1040
@svenstaro Thanks for the feedback, I will look forward to it.

[2015-10-02 11:57] pavanky commented on #1040
This issue will be on our hotfixes branch pretty soon and in the master in a week or so.

[2015-10-02 12:36] pavanky opened #1042 "Bugs in OpenCL kernels when offset is not added to inputs"
Potentially affected kernels include:

- [x] assignKernel (assign.cl)
- [x] locate_features (fast.cl)
- [x] convert (hsv_rgb.cl)
- [x] iir_kernel (iir.cl)
- [x] indexKernel (index.cl)
- [x] lookupND (lookup.cl)
- [x] nearest_neighbour_unroll (nearest_neighbour.cl)
- [x] nearest_neighbour (nearest_neighbour.cl)
- [x] select_matches (nearest_neighbour.cl)
- [x] initial_label (regions.cl)
- [x] scan_

[2015-10-02 12:39] pavanky commented on #1042
@shehzan10 do you want to have a go at this ?

[2015-10-02 12:44] pavanky commented on #1042
nvm I have begun some work on this

[2015-10-02 20:00] pavanky commented on #1040
The fix is in hotfixes-3.1.3 branch

[2015-10-02 20:00] #1040 closed

[2015-10-02 20:16] svenstaro opened #1043 "How to build arrayfire with CUDA support on systems not running a CUDA driver?"
The use case here is that I want to build arrayfire with CUDA support on a server system that doesn't have the CUDA driver installed.

From the log:

[code]

But also:

[code]

Other packages such as blender that also heavily rely on CUDA work just fine in this setup. I need arrayfire to support this behavior since I'm currently trying to create an official Arch Linux package for it.

The interest

[2015-10-02 20:24] shehzan10 commented on #1043
So the compute detection can fail and that's why you are seeing the fall back computes of "20, 30, 50". If you want to just build one of them, use -DCOMPUTES_DETECTED_LIST="20;30;..." (or whichever you prefer). You can also use -DCUDA_COMPUTE_20(or other compute)=ON to select each compute independently. To turn off autodetection, use -DCUDA_COMPUTE_DETECT=OFF.

For libcuda, it comes from the drive

[2015-10-03 16:23] spider-mario opened #1044 "fft fails when using OpenCL on Intel Celeron 877"
Hi,

The `fft` function family appears not to work when using the OpenCL backend on this particular CPU. I am using the Intel OpenCL Runtime.

(This might very well be a bug in the runtime.)

Here is the output from `clinfo`:

[code]

In the examples bundled with arrayfire, `benchmarks/fft` runs fine with the CPU backend:

[code]

However, with the OpenCL backend, it does not:

[code]

[2015-10-03 16:29] spider-mario commented on #1044
Interestingly, the example in [the README](https://github.com/arrayfire/arrayfire/blob/e87a0034db4377b9c15c88e36d769b59f12e6c7b/README.md) does work… this does look like an obscure bug in Intel’s runtime.

[2015-10-03 20:18] spider-mario commented on #1044
[Apparently, this is, indeed, an Intel bug.](https://github.com/clMathLibraries/clFFT/issues/80)

My bad.

[2015-10-03 20:18] #1044 closed

[2015-10-04 05:43] pavanky commented on #1043
Considering that [the package](https://www.archlinux.org/packages/community/x86_64/arrayfire/?utm_source=dlvr.it&utm_medium=twitter) has been updated, I am closing the issue.

[2015-10-04 05:43] #1043 closed

[2015-10-05 11:46] rggjan opened #1045 "memory leak in af::median"
Using af::average to repeatedly calculate the average of an image works fine, and takes **less than a second**:

    try {
      for (int i=0; i<1000; i++) {
        std::cout << "I: " << i << std::endl;
        af::array a = af::randn(1000, 1000);
        af_print(af::mean(af::flat(a)));
      }
    } catch (af::exception &exception) {
      std::cout << "Exception: " << exception.what();
    }

[2015-10-05 20:40] shehzan10 opened #1047 "Fix windows build with blas excluding MKL"
Currently the builds on windows fail when not using MKL.
This is probably because of the cmake options/defines.

[2015-10-06 03:42] Pascal-J commented on #918
af_err array_callback(af_array array_to_wait_on, int callbacktoken, usercallbackfunctionwhenready)

would be nice. callbacktoken is the parameter that callback function would receive.  The event is fired when the target array has all of its values computed.  J can receive callbacks.

That seems like the one event that is useful.  An alternate method would be to just have

bool is_array_complete(af

[2015-10-06 14:12] 9prady9 commented on #918
@pavanky We can implement something like Qt does, SIGNALS & SLOTS. To avoid from the scratch implementation, we can use boost which has Signals and Slots that can be customized to our need.

[2015-10-06 15:24] rggjan opened #1049 "Perspective image transforms with ArrayFire?"
Is there a possibility to do perspective transformations with arrayfire?

There is a function `af::transform`, but it only allows a 3x2 matrix instead of a 3x3 matrix that would be required for perspective transformations....

[2015-10-06 16:12] Pascal-J commented on #918
Another possible advantage related to this proposal would be to make JIT async.  Its still related to signal/event/callback/poll to isthisarrayready(), but the opportunity would be to return an af_array pointer immediately, and do the JIT on a private thread to the dll.

[2015-10-06 23:35] shehzan10 commented on #1047
Corresponding user forum post: https://groups.google.com/d/msg/arrayfire-users/vpkoOMR4_8k/0s32iIWmBgAJ

[2015-10-07 15:09] pavanky commented on #1047
Fixed in hotfixes-3.1.3

[2015-10-07 15:09] #1047 closed

[2015-10-07 15:09] pavanky commented on #1045
Fixed in hotfixes-3.1.3

[2015-10-07 15:09] #1045 closed

[2015-10-08 21:26] pentschev commented on #1049
Hi @rggjan,

I'm planning to add such functionality in the next couple of weeks. Meanwhile, it's fairly simple to do that on top of ArrayFire:

Consider you have four 3D points (3rd dimension is set to 1.0 for all points in this case),
[code]

and a 3x3 transformation matrix,
[code]

The implementation would look like:
[code]

In the above sample, xt and yt will both have 4 elements (i.e., x and y

[2015-10-09 07:36] rggjan commented on #1049
Hi @pentschev thanks for the code! I think thats a good start. What's missing here is of course all the interpolation logic etc for actually interpolating the pixels of an image, and not just 3D vectors.

Looking forward to the 3.2.0 :)

[2015-10-09 13:41] pentschev commented on #1049
Hi @rggjan, just to be sure we are on the same page, besides the perspective transform (that transform only the coordinates), you would also like to have a function that is sometimes referred as [warp perspective] (http://docs.opencv.org/modules/imgproc/doc/geometric_transformations.html#warpperspective), is that right?

[2015-10-09 13:56] rggjan commented on #1049
Yes, exactly.

As far as I can see, [af::transform](http://www.arrayfire.com/docs/group__transform__func__transform.htm#ga3677c5a534ca50a9c8a2611fe0728fd8) is pretty much the same as [cv::warpAffine](http://docs.opencv.org/modules/imgproc/doc/geometric_transformations.html#warpaffine), and what would be cool to have is an arrayfire function similar to [cv::warpPerspective](docs.opencv.org/modules/

[2015-10-09 13:59] rggjan commented on #1049
Looking at the af::transform [cuda kernel](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cuda/kernel/transform_interp.hpp#L48) for example, I assume its just the lines 48 to 53 that would need to be adapted to the more general transformation matrix.

[2015-10-09 14:21] pentschev commented on #1049
Thanks for pointing that out, I think you are right, the changes to those lines may be enough. I will certainly try to get this done for 3.2.0.

This thread should remain open until these two functions are implemented:
- [ ] Perspective Transform (compute new coordinates according to a 3x3 transformation matrix);
- [ ] Warp Perspective (interpolate image according to input coordinates and a 3x3 tr

[2015-10-12 05:24] andreabedini opened #1054 "SIGSEGV using OpenCL backend"
Hi there,

I downloaded and compiled ArrayFire but I get a SIGSEGV running any test or example that use the OpenCL backend.

[code]

Backtrace of the crashed thread

[code]

Full backtrace at http://pastebin.com/yqsNyDe5

I looked around but I couldn't find any useful info. Happy to debug more if someone guides me.

edit: this is on OSX 10.11

[2015-10-12 11:48] pavanky commented on #1054
Can you tell us the hardware you are running on?

[2015-10-12 15:05] ghisvail opened #1055 "Test failures on selected architectures"
I left the Debian builders running for a week with the latest `v3.1.2`. It builds fine on all architectures but the test suite fails for a number of architectures.

Looking at the build logs, all these architectures fail on the same tests:
[code]

`orb`, `imageio` and `harris` apparently fail with a tolerance / expected value error, whereas `susan` generates a malloc error.

As always the full bui

[2015-10-13 00:26] andreabedini commented on #1054
thanks @pavanky

[code]

cuda and cpu backends work just fine.

[2015-10-13 05:46] pavanky commented on #1054
@umar456 Can you look into this?

[2015-10-14 19:51] ghisvail commented on #1055
FYI, the latest version of ArrayFire cannot migrate to Debian testing (the future stable release), although the mandatory rest period in unstable has passed, because of the [missing build on powerpc](https://packages.qa.debian.org/a/arrayfire.html).

[2015-10-15 01:16] 9prady9 opened #1057 "Implement new graphics functions from Forge in ArrayFire"
The API could possibly look like below:

- [x] `af::Window::surface(af:: array Z)`
- [x] `af::Window::surface(af::array X, af::array Y, af:: array Z)`
- [x] `af::Window::plot3(af::array points)` - 3d line/scatter plots.

Please also implement the multi-view related changes corresponding to the above functions.

[2015-10-15 01:17] 9prady9 commented on #1057
@shehzan10 @umar456 @pavanky
Can you please provide your inputs on how ArrayFire API for the new functions should like so that Stefan can work on it.

[2015-10-15 17:44] mchandra opened #1058 "Can't find source code for PDE examples"
Hi, are the following examples still available?

http://blog.accelereyes.com/blog/2013/07/03/arrayfire-examples-part-7-of-8-pde/

[2015-10-15 17:54] pavanky commented on #1058
We have not added the examples to the open source project yet. We have an issue to do that over here: https://github.com/arrayfire/arrayfire/issues/413

[2015-10-15 17:54] #1058 closed

[2015-10-15 17:54] 9prady9 commented on #1058
@mchandra
Graphics functionality in ArrayFire 3.x is not on feature parity with v2.1 as of now. The example and the blog post you are looking at is published before 3.0 release. We plan to finish the required functions to implement this example by ArrayFire 3.2 release, which is going to be in another couple of weeks. You can follow the progress of these functions on this issue #1057 . As soon as

[2015-10-15 18:03] mchandra commented on #1058
Thanks. I actually have zero interest in the graphics. My main curiosity is regarding how best to implement differential operators using arrayfire, which I was hoping to glean from those examples.

Should I be doing something like:
[code]

[2015-10-15 18:05] pavanky commented on #1058
@mchandra You can find the old examples in here: https://github.com/pavanky/arrayfire_examples/tree/master/pde

The examples may some changes to work with ArrayFire 3.x because of API changes.

[2015-10-15 18:07] pavanky commented on #1058
As for differential operators, we have [diff1](http://www.arrayfire.com/docs/group__calc__func__diff1.htm), [diff2](http://www.arrayfire.com/docs/group__calc__func__diff2.htm) and [grad](http://www.arrayfire.com/docs/group__calc__func__grad.htm) which may be useful for you.

[2015-10-15 18:13] mchandra commented on #1058
Thanks for the code. Those functions will work if the underlying data is smooth, but if it has shocks, like in a compressible fluid simulation, then one needs to use slope limited derivatives. See slopeLim() in https://github.com/AFD-Illinois/grim/blob/master/src/reconstruct/reconstruct.c

It basically takes in three values, left, center and right and spits out the slope. I wonder how best that fu

[2015-10-15 21:35] shehzan10 commented on #924
I tested this for a matrix and that seems to fail (not covered in this issue). It looks like matrix and other higher dimensions worked in 2.x.
It also looks like binary ops worked for single value array + vector/matrix pairs in 2.1.
Any thoughts on supporting those?

Some sample code:
[code]

[2015-10-16 04:11] pavanky commented on #924
@shehzan10 `M(span) = S` should work. Can you verify that?

[2015-10-16 15:07] shehzan10 commented on #924
Yeah that works. But no arithmetic/elwise operations.

[2015-10-17 22:35] shehzan10 opened #1060 "OSX Installer Upgrades"
- [ ] Upgrade installer to include unified backend

~~- [ ] Allow installation location if possible~~ Won't fix / Dropped

[2015-10-18 02:53] #1042 closed

[2015-10-18 02:53] shehzan10 commented on #1042
Closed by #1061

[2015-10-19 14:51] shehzan10 commented on #924
Should we reopen this for 3.2?

[2015-10-19 15:14] shehzan10 opened #1063 "Allow images IO with different types"
Currently image IO is only using floats.

[2015-10-19 15:15] shehzan10 commented on #357
Creating issues https://github.com/arrayfire/arrayfire/issues/1063 for ImageIO and closing this.

[2015-10-19 15:15] #357 closed

[2015-10-20 10:13] jramapuram opened #1067 "Unified API: Add function to return WHICH backends are available"
Currently `af_get_backend_count` returns the number of available backends, however it would be useful to expose **which** backends are available (or separate functions for `af_is_cuda_available`, etc). This calculation is already being done internally during the function call.

[2015-10-20 13:28] shehzan10 commented on #1067
I recommend changing [these](https://github.com/arrayfire/arrayfire/blob/devel/include/af/defines.h#L330) enums to values of 2^x, that way we can return an int which is the sum of all the enabled backends. This way we do not need to add a function/argument for each backend.

The API would then look like
[code]

An alternate to doing this is simply to use try catch as is done in the [unified/basic]

[2015-10-20 13:30] jramapuram commented on #1067
Yea, that should work well actually.
I'm currently doing the try/catch scenario, however seems kludgy to have to catch exceptions when the logic is already checking apriori.

[2015-10-20 15:26] jramapuram opened #1068 "Unified API: Add a member to Array that indicates it's backend type"
If I have an `Array` created using `afcpu` and one on say a cuda device using `afcuda` then I would expect the following to throw an exception (or err code in C):

[code]

It currently just `SEGFAULT`'s which I think is terrible behavior.

To do this there needs to be some sort of internal flag in the `Array`, eg: `array.backend()` & the library needs to handle this logic internally.

[2015-10-21 15:00] #1060 closed

[2015-10-21 15:00] #541 closed

[2015-10-21 15:00] #1067 closed

[2015-10-22 07:10] jramapuram opened #1072 "Implement Shuffle"
example signature:

[code]

where `const int seq_dim` is the dim onto which shuffling takes place.

Furthermore, it would make sense implementing something like this to resolve the above:

[code]

[2015-10-22 07:35] pavanky commented on #1072
I have to ask, are you using the entire array at any point or are you using columns only ?

[2015-10-22 07:39] jramapuram commented on #1072
So this problem arose for me because I'm trying to shuffle prior to training to improve convergence.
My samples are vectors that are row ordered (but can be column ordered in the general case).

So I can't quite shuffle the entire array, but just shuffle the row/columns preserving the entire vector held within them. The `index` & `assign_seq` solution is far too slow for this.

[2015-10-22 07:42] pavanky opened #1073 "Add correlation filter support"
Feature requested from here:

https://groups.google.com/d/msgid/arrayfire-users/fa53d049-b546-48df-a2d1-dcb58baab245%40googlegroups.com?utm_medium=email&utm_source=footer

This looks like it is very similar to convolution without flipping the kernel / filter.

[2015-10-22 07:44] pavanky commented on #1073
This can be done using ffts in the following manner:

[code]

[2015-10-23 00:08] shehzan10 commented on #1073
Given that your have put the solution here, what, if any, is the plan of action to add this to ArrayFire. Will we add it as a wrapper function (like median etc), or implement it completely from scratch?

[2015-10-23 05:05] pavanky commented on #1073
@shehzan10 We can implement fftCorr (or fftCorrelation?) inside `src/api/c` for now, but I would like to see a stand alone corr / correlation as a generalization of convolution kernels eventually.

[2015-10-23 21:13] mchandra opened #1074 "convolution with 1D filters for 3D data"
I need to perform convolve() on data with the input signal

signal(Nx, Ny, Nz, numberOfSignals)

with the following filters

float centralDiff[]  = { 1, 0,-1};
float forwardDiff[]  = { 1,-1, 0};
float backwardDiff[] = { 0, 1,-1};

where centralDiff, forwardDiff, and backwardDiff all need to be applied individually to Nx, Ny  and Nz.

What would the most efficient way to call convolve() to perform

[2015-10-24 20:55] mchandra commented on #1074
Would this be an optimal code for separable convolution along a single direction in 3D?

    float centralDiff[]  = { 1, 0,-1};
    float forwardDiff[]  = { 1,-1, 0};
    float backwardDiff[] = { 0, 1,-1};

    array centralDiff3DAlongX1(3, 1, 1, centralDiff);
    array forwardDiff3DAlongX1(3, 1, 1, forwardDiff);
    array backwardDiff3DAlongX1(3, 1, 1, backwardDiff);

    array filterX1 = af::con

[2015-10-25 02:38] shehzan10 commented on #1074
Have you looked at http://www.arrayfire.com/docs/group__convolve__mat.htm?
Also, the way you are creating your filter is highly redundant. You can simply do
[code]

[2015-10-25 04:59] mchandra commented on #1074
Oops you're right, your code is far more elegant.

The following code is based on the documentation you linked to

[code]

Is the above ok or do you think there's a better way to use convolve()? Many-to-many batched mode perhaps, where the 3 filters are applied to numberOfSignal inputs simultaneously, instead of using gfor() over the signals?

Also, when convolve() is called, is it evaluated immed

[2015-10-25 05:48] mchandra commented on #483
Will release 3.2 allow for solve() inside a gfor() loop?

Thanks,
Mani

[2015-10-26 19:25] mchandra opened #1075 "solve() inside gfor() for a large number of independent matrices"
Right now, `solve()` is not optimized to solve for a large number of independent linear systems `A_i x_i = b_i`, where `i = 1,..., N`

`solve()` uses `magma_getrf_gpu()` (https://github.com/maxhutch/magma/blob/master/src/sgetrs_gpu.cpp) from Magma as its backend. Magma also has `magma_sgetrs_batched()` (https://github.com/maxhutch/magma/blob/master/src/sgetrs_batched.cpp) which could be used for b

[2015-10-27 10:49] pavanky commented on #1075
@mchandra We use a modified version of clmagma only for OpenCL backend. We use cusolver for CUDA and lapack / mkl for CPU backends. The sgetrs_batched is only supported in magma (not clmagma) as far as I can tell. It would be really hard for us to add a new dependency for just one function.

However we can implement a faster (less stable) implementation of solve for small matrix sizes using Gaussi

[2015-10-27 12:55] pavanky commented on #1074
`convolve` does not work inside gfor. You should be using `convolve3` for this.

[2015-10-27 18:51] mchandra commented on #1074
Can `convolve3` be used in the Many-to-Many batched mode? i.e., `Nfilters` with sizes `(N1, N2, N3)` applied to an array with dimensions `(Nx, Ny, Nz, Nsignals)`

Or would it be better to simply write a `for` loop over `Nsignals`?

Thanks

[2015-10-27 18:53] pavanky commented on #1074
You don't need a for loop. Batch mode should be available for this function.

[2015-10-27 18:57] mchandra commented on #1074
Is the following correct:
Inputs:
- filter with dimensions  `(N1, N2, N3, Nfilters)`
- signal with dimensions `(Nx, Ny, Nz, Nsignals)`

Output:
- array with dimensions `(Nx, Ny, Nz, Nfilters x Nsignals)`

[2015-10-27 19:02] mchandra commented on #1075
I have about `10^5` dense matrices with size `10 x 10`

Note that cuSolver has a batched linear solver too:
 - http://devblogs.nvidia.com/parallelforall/parallel-direct-solvers-with-cusolver-batched-qr/
 - http://docs.nvidia.com/cuda/cusolver/#glu-intro

[2015-10-28 05:09] holocronweaver commented on #1002
New ArrayFire user here. Hesitant to adopt AF into larger projects until this feature is implemented. CL context control needs to be in hands of users. In most of my cases AF would be an accessory library for making working with OpenCL easier, not the primary OpenCL interface.

[2015-10-28 06:21] pavanky commented on #1074
Sorry I misunderstood your question.

What you are asking for is not possible.

[2015-10-28 06:38] mchandra commented on #1074
Yes, you're right. I tried and it failed because of invalid input sizes. I ended up looping over the signals, while using the batched many filter mode.

You can close the issue.

Thanks

[2015-10-28 13:59] #1074 closed

[2015-10-29 14:39] shehzan10 commented on #766
Closed by #1064

[2015-10-29 14:39] #766 closed

[2015-10-29 14:40] shehzan10 commented on #413
SWE added by @umar456 in PR #1065

[2015-11-02 13:36] FilipeMaia opened #1078 "isnan/isinf for complex arrays"
Support for isnan() and ininf() for complex arrays is missing.
It's quite an essential function.

[2015-11-02 16:41] #1063 closed

[2015-11-02 22:20] mchandra opened #1080 "Copy part of array into another array"
The following seems to give an error:

[code]
How do I copy a subsection of A into B?

Thanks,
Mani

[2015-11-02 22:30] shehzan10 commented on #1080
Although the total number of elements may be the same, the order is not.
You are trying to copy a [1 x 10 x 10] section into a [10 x 10] array.

There are many options to get around it, the simplest one is to do something like:
[code]

I must point out that when doing indexing, it is best to use the constant value at the highest dimension possible. This results in more memory being coalesced. The

[2015-11-02 22:35] mchandra commented on #1080
Ok thank you.

To deal with memory coalescing is precisely why I want to copy to B. I have a bunch of operations I want to perform on the data and so instead of doing something like
[code]
, I want to make a copy and then work on it.

Is the following code equivalent to what you wrote?
[code]

[2015-11-02 22:38] shehzan10 commented on #1080
Well, sometimes you just can't avoid doing some bad memcpys. So its best to keep them to a minimum.

Yes the reorder would do the same thing.

[2015-11-02 22:40] mchandra commented on #1080
Thanks!

Before closing the issue, I'd just like to point out here for future reference that in arrayfire, even if the array is 1D, 2D, or 3D, when using af_print, it always shows up as a 4D array with the later dimensions set to 1.

[2015-11-02 22:40] #1080 closed

[2015-11-02 22:45] shehzan10 commented on #1080
Yes thats how the data is always stored. The higher dimensions are set to singletons.

[2015-11-03 06:47] pavanky commented on #1080
@mchandra If you want to avoid non-coalesced accesses, I'd suggest using reorder and then indexing on third dimension in the following manner.

[code]

[2015-11-03 12:42] umar456 opened #1082 "Modify the loadImageT functions to specify the return value type."
The current implementation of the loadImageT function will return a different type based on the format of the input image. This can cause issues in programs which will accept images from its users.

Change the loadImageT function to specify the output image type. If no type is specified then revert to loadImage functionality.

Also change the name of the function. The T is ambiguous. This function

[2015-11-03 13:27] pavanky commented on #1082
@umar456 The goal of loadImageT was to *not* change the data type from what is stored internally. I agree with changing the name, but what you are suggesting should ideally be a different function.

For example:

- loadImage -- loads as chars or floats only
- loadImageNative/loadImageT -- uses native type
- loadImageType or something else -- User specifies the data type.

I strongly disagree with

[2015-11-03 14:51] shehzan10 commented on #1082
I agree with @pavanky. The goal of this function is to load the image as-it and not mess with the type/data.

I agree we should change name. I thought this would be done as a part of the PR review but got missed.
Change output type, I disagree. This is essentially the same as using a `.as` on the result array. It does not need to be a part of the load image function. I dont even think we should ha

[2015-11-03 15:40] pisto opened #1083 "Building the OpenCL backend without image support is broken"
[code]

[2015-11-04 15:21] pisto opened #1086 "Exception thrown in cl::Platform::getDevices when using pocl"
The code uses `clGetDeviceIDs` to find the number of available devices, then allocate an array of `cl_device_id`s and call it again to get the IDs. However, if the platform does not contain GPU devices, an exception will be thrown because `n == 0` and `clGetDeviceIDs` will return `CL_INVALID_VALUE` because the array of `cl_device_id`s will be non-null. Cp https://www.khronos.org/registry/cl/sdk/1.

[2015-11-04 15:37] pavanky commented on #1086
@pisto This is actually a bug in pocl that I [sent a patch to](https://github.com/pocl/pocl/commit/bfee547c3233656d831fc847354d52463e7d6f73) a while ago.

If you are using the latest release, it should be fixed.

[2015-11-04 15:37] #1086 closed

[2015-11-04 16:03] pisto commented on #1086
Are you sure? It looks to me that the OpenCL is used incorrectly and it is right that `clGetDecideIDs` returns an error in that case. However, I didn't think about it thoroughly.

[2015-11-04 16:36] pavanky commented on #1086
@pisto We are using cl.hpp which is distributed by Khronos. The error you are seeing is from an exception being thrown from that file. We are not doing anything special in arrayfire that might break it.

 I sent the patch upstream which I thought was the fix and was accepted by upstream.

[2015-11-04 23:20] mchandra opened #1088 "Installers built without graphics"
Hi,

I'd like to request builds without graphics be made available alongside the regular builds. Many clusters don't have the required graphics libs installed and having builds with no graphics would be very convenient.

[2015-11-05 05:28] pavanky commented on #1088
@mchandra We are going to talk about this internally. But for now, no graphics installers are available CI from here: http://ci.arrayfire.org/userContent/Linux-MKL/ArrayFire-no-gl-v3.1.3_Linux_x86_64.sh

[2015-11-05 05:28] #1088 closed

[2015-11-05 05:37] mchandra commented on #1088
Thanks! These builds are very helpful.

[2015-11-05 13:08] pavanky commented on #1083
@shehzan10 is this fixed in devel now?

[2015-11-05 13:10] pisto commented on #1083
I believe the issue was this trivial thing https://github.com/shehzan10/arrayfire/commit/61c3adfc8a4fb97c959405f74c312b2a57c27e11#diff-634e69e87bde39637b53b6fa85e32842L378

[2015-11-05 13:11] pavanky commented on #1083
yeah, looks like it is in devel.

[2015-11-05 13:11] #1083 closed

[2015-11-05 14:00] pavanky commented on #133
@umar456 This is only going to be a limitation for pre-kepler cards. Do we need to worry about the issue or leave it as a known issue ?

[2015-11-05 14:02] umar456 commented on #133
We should support everything CUDA supports. At least things that are not deprecated in the new versions.

[2015-11-05 14:07] pavanky commented on #133
hmm  but it only affects Fermi GPUs in weird configurations (eg: very tall). The architecture is 5 years old at this point and adding support around the limitation requires quite a bit of change in code.

[2015-11-05 15:15] shehzan10 commented on #1083
Yes it it. I missed closing it when I pushed the fix.

[2015-11-05 18:01] 9prady9 commented on #1010
@rggjan Is this still an issue with latest devel ?

[2015-11-05 18:02] 9prady9 commented on #1057
Finished with PR #1066

[2015-11-05 18:02] #1057 closed

[2015-11-05 18:22] pavanky commented on #1010
@9prady9 I don't think we fixed the issue.

[2015-11-05 18:45] 9prady9 commented on #1010
@rggjan OpenCL backend has been fixed by @pavanky . We shall update here once the CUDA backend  has also been fixed.

[2015-11-05 20:17] #900 closed

[2015-11-05 20:22] #1078 closed

[2015-11-05 20:22] #1082 closed

[2015-11-06 07:42] rggjan commented on #1010
Sounds great, thanks for the progress so far!

[2015-11-06 15:26] pavanky commented on #1010
@rggjan While there is something wrong with CUDA backend with the existing code, shouldn't the following line:

[code]
be changed to

[code]

[2015-11-06 15:52] rggjan commented on #1010
@pavanky Hmm... thats a good point, I didn't notice it before. In my code it is correct, when I wrote this test example code I seemed to do a mistake.

Maybe the current version even does something illegal?

[2015-11-06 15:56] pavanky commented on #1010
@rggjan The code in the issue creates out of bounds accesses. However that behavior should be the same for all backends. I am trying to figure out why CUDA backend is giving different results.

Anyway, thanks to the typo, we found and fixed a bunch of corner cases in ArrayFire :D

Can you check if the proper code is working with the latest devel ?

[2015-11-06 16:23] rggjan commented on #1010
@pavanky  I can't test my code right now, but I will test it and tell you if its fixed as soon as possible.

Does the code give the same results for cuda, opencl and cpu if you change the line to include af::seq(x, x+w-1)?

[2015-11-06 16:32] pavanky commented on #1010
@rggjan Yes.

[2015-11-06 18:41] pavanky opened #1092 "Results from out of bounds indexing is different in CUDA"
[code]

[2015-11-06 18:42] pavanky commented on #1092
@9prady9 The problem seems to be the trimIndex function in CUDA backend. More specifically the "abs(ret_val)". I am not sure why that is returning 0. This is causing the out of bounds outputs to be incorrect. Can you look into it?

[2015-11-06 18:43] pavanky commented on #1010
I have narrowed down the remaining issue to this ticket: https://github.com/arrayfire/arrayfire/issues/1092

I am closing this issue since everything else seems to be fixed.

[2015-11-06 18:43] #1010 closed

[2015-11-06 21:06] 9prady9 commented on #1092
@pavanky I really don't understand the error! `abs()` is indeed returning 0's. I did this `val > 0 ? val : -1*val` and it worked as expected. Below change is working as expected, shall we push that as fix ?
[code]

[2015-11-06 21:46] 9prady9 commented on #1073
correlation is nothing but convolution without kernel inversion/flip. But @pavanky i didn't quite understand what you meant by stand alone corr as generalization of convolution kernels ?

[2015-11-07 12:26] pavanky commented on #1073
@9prady9 I meant creating a boolean flag that tells the internal code if convolution is to be performed or correlation.

[2015-11-07 12:28] pavanky commented on #1092
@9prady9 If you use fmod, anything above 2^24 will lose precision. I think the problem is occurring because abs is returning float in this particular case.

[2015-11-07 17:28] 9prady9 commented on #1073
Sure, just didn't quite get what you meant earlier :smile:

[2015-11-07 17:32] 9prady9 commented on #1092
True & agree, which is precisely why i didn't send this fix directly. Not sure, one thing i have noticed is that, when i do `abs((long int)ret_val)` it gives correct abs value, but the later operation of modulo `%`  gives 0 always - which is the weird behaviour i was talking about towards end of my previous comment. I will dig more into this today again.

[2015-11-08 23:23] mchandra opened #1094 "Error in Matrix-Vector product"
The following code produces an error

[code]

[code]

Replacing `array c = A*b` with `array c = dot(A, b)` produces the following (different) error:

[code]

I'm using http://ci.arrayfire.org/userContent/Linux-MKL/ArrayFire-no-gl-v3.1.3_Linux_x86_64.sh

[2015-11-09 02:28] pavanky commented on #1094
@mchandra For matrix multiply, you need to use `af::matmul`.

 `*` performs element wise operation and is returning the appropriate error.

`af::dot()` only supports vectors as inputs and is returning the appropriate error.

[2015-11-09 06:57] mchandra commented on #1094
Thanks! I followed the example
[code]

given here http://www.arrayfire.com/docs/page_gfor.htm under "Multiplications" and it led to the above errors. However, `matmul` works

[2015-11-09 11:57] pavanky commented on #1094
Hmm, that documentation is outdated and needs to be fixed. Thanks for pointing it out.

[2015-11-09 15:26] knightd94 opened #1095 "Feature Request: Choose FFT dimension"
Add functionality to allow user to choose the dimension across which an FFT takes place.

For example, for a one dimensional FFT of a two dimensional matrix, ArrayFire currently does the FFT across the leading dimension. Allow the user to specify for the FFT to take place across the second dimension if desired.

For in-place transforms, a function prototype might be *af::fftInPlace(array, dim)* wi

[2015-11-09 19:18] mchandra commented on #1094
Its interesting that an earlier version of arrayfire was able to do batched liner algebra operations, which is very useful. Why do the later versions not have the capability?

[2015-11-10 07:21] pavanky commented on #1094
@mchandra The older versions were just doing a for loop internally. We felt like that was not a "true" batched operation and decided to let the users do it externally.

That said, I do understand that looping internally may reduce a few unnecessary memory copies.

[2015-11-11 00:50] #1092 closed

[2015-11-11 09:25] jramapuram opened #1098 "Generic Graph based Automatic Differentiation"
So tensorflow is out now. Any thoughts on paralleling graph based auto-differentiation in AF?
Would be really neat to have something like this that works via JIT.

[2015-11-11 15:04] shehzan10 commented on #663
Can we revisit this and verify whether this is still an issue?

[2015-11-11 15:07] shehzan10 commented on #731
Marking minfilt, maxfilt, det, rank, svd as completed

[2015-11-11 15:42] pavanky commented on #663
move it to be resolved later

[2015-11-11 19:01] #1068 closed

[2015-11-12 04:03] pavanky opened #1101 "Unnecessary copy being performed when calling flat / moddims"
Here is some code to reproduce the problem:
[code]

The issue occurs because internally `b` is not treated as an owner and any modifications of b force a copy.

The way to fix this is to check when the indices refer to the entire array and call `af_retain_array` instead calling `createSubArray`.

[2015-11-12 19:34] shehzan10 commented on #984
Completed by #1091 and #1097

[2015-11-12 19:34] #984 closed

[2015-11-13 23:06] maxineliuqun opened #1105 ""gfor" on CPU backend"
Does "gfor" work on CPU backend? I know that it would not parallel the computation like what is on GPUs, but I assumed it would just do the sequential computation, like a regular "for" loop. However, I found that it actually crashed the program. Is that true? Just would like to confirm with you. Thanks!

[2015-11-14 17:51] shehzan10 commented on #1105
GFor does work on the CPU backend, but as you rightly pointed out, it would be quite similar in performance to a for loop.

Without looking at your code I cannot tell you why its failing. If you can attach a code segment along with the error you are seeing, that would be helpful.

[2015-11-15 18:34] 9prady9 opened #1106 "Support to read video files and capture streaming frames from camera"
Currently, thinking of using ffmpeg as backend for this based on the licencing of ffmpeg use for open source projects.

[2015-11-16 09:45] ghisvail opened #1107 "Test suite failures v3.2.0 / amd64"
I just checked out the latest release `v3.2.0` and ran the build of the CPU backend successfully. Some tests do fail however:
[code]

Verbose output of the testsuite:
[code]

[2015-11-16 14:33] shehzan10 commented on #1107
The rank and homography tests failed cuz of missing files. Are you sure you updated the submodules?

[2015-11-16 16:05] ghisvail commented on #1107
Seems that they were all caused by a bad update of the submodules.

[2015-11-16 16:05] ghisvail commented on #1107
My bad. God I hate submodules.

[2015-11-16 16:07] shehzan10 commented on #1107
We changed the submodules behavior a little bit in CMake. Previously, if the submodules weren't cloned, CMake would throw a warning.

Now, CMake initializes and updates the submodules if they are not found.https://github.com/arrayfire/arrayfire/blob/devel/test/CMakeLists.txt#L69

[2015-11-16 16:15] ghisvail commented on #1107
It does not check whether the submodules are at the right commit-id though, does it?

Here my mistake was that I merged the content of `v3.2.0` to the packaging branch (where the non-free stuff are stripped out) but did not update the submodules commit-ids appropriately.

[2015-11-16 16:16] shehzan10 commented on #1107
Right. That it does not do.

[2015-11-16 16:47] #1107 closed

[2015-11-16 19:38] ghisvail commented on #1107
On the same topic, I cannot get the testsuite of the unified backend to work. I am building with `BUILD_CPU` and `BUILD_UNIFIED` enabled. The testsuite for the CPU backend runs fine but all tests of the unified backend fail with the following exception:
[code]

What am I doing wrong?

[2015-11-16 19:57] 9prady9 commented on #1107
The libraries created by the build (and all dependencies) should be in LD_LIBRARY_PATH (for linux & OSX) for unified backend to run properly.

[2015-11-17 17:38] ghisvail opened #1108 "Make the ArrayFire testsuite a separate project"
As for the [examples](https://github.com/arrayfire/arrayfire/blob/devel/examples/CMakeLists.txt), it would be really nice to make the testsuite a separate project, and to support building the tests either with the ArrayFire targets or existing binaries.

The specific use case I have in mind concerns continuous integration inside Linux distributions [1][2], whereby binary packages gets automaticall

[2015-11-17 17:47] pavanky commented on #1108
@ghisvail From what I understand, you want the ability to build and test the test files from a fresh checkout (of arrayfire) without actually building the libraries (and perhaps use libraries present in the system already).

Is this a fair assessment?

[2015-11-17 18:07] ghisvail commented on #1108
Exactly.

Ideally, from an arbitrary location with write access, I'd like to be able to do:
[code]
and get CMake to use the packaged version of ArrayFire (via `find_package`).

[2015-11-17 20:23] dardok commented on #1106
Just met one of your guys at SC15 and he said I should suggest gstreamer integration for this purpose.  A suite of arrayfire plugins for gstreamer would be awesome...

[2015-11-17 20:33] pavanky commented on #1106
It looks like gstreamer is licensed under LGPL. We'll need to figure out if that is going to be an issue.

[2015-11-17 20:37] 9prady9 commented on #1106
Actually, ffmpeg also using LGPL 2.1, although if we don't use some portions of it, we can use it under GPL.

[2015-11-18 06:20] jramapuram commented on #1098
Hey @pavanky , the reason I added it here is because it is a generic tool, not just ML related. Eg: someone wants to use af to run some physics flow models. That doesn't quite fit into the ML paradigm, but is still graph differentiation. Being able to run an af expression such as
[code]
 is a non-ML item. It requires the building of a graph and derivating via application of the chain & product rul

[2015-11-18 11:46] pavanky commented on #1098
Reopening the issue because the functionality could be implemented here eventually.

[2015-11-20 10:04] bhack commented on #1098
@pavanky Do you think that Arrayfire could backend tensorflow instead of Eigen library that is CPU and CUDA only?

[2015-11-20 10:20] jramapuram commented on #1098
+1

[2015-11-20 11:28] pavanky commented on #1098
@bhack It could be possible, but we haven't really optimized the CPU backend for performance yet. This could change in the future.

[2015-11-23 02:59] svenstaro opened #1113 "Where is the cross function?"
I see dot is there but at least OpenCL defines the cross function for calculating the vector cross product but it seems absent from arrayfire as if it was forgotten. Any reason as to why or am I just not looking correctly?

[2015-11-23 20:41] unbornchikken opened #1117 "3.2 cannot compile examples on Linux"
On Linux Mint 17.2 compiling examples I get:

[code]

[2015-11-23 20:43] shehzan10 commented on #1117
This is a known issue. Please follow https://github.com/arrayfire/arrayfire/pull/1104/files

[2015-11-23 20:43] pavanky commented on #1117
@unbornchikken This is fixed in the `hotfixes-3.2.1` branch.

Check the following commit:
https://github.com/arrayfire/arrayfire/commit/ca0c7cc10ba044887a44b6b900da03311fb1d453

[2015-11-23 20:43] #1117 closed

[2015-11-24 09:01] rggjan opened #1118 "af::gaussianKernel is extremely slow (10ms to calculate 3 floats)"
I'm just optimizing my application, and found one bottleneck is the af::gaussianKernel function that I execute once per frame (since the kernel size could potentially change).

Running this line:

    af_print(af::gaussianKernel(3, 1, 2));

outputs:

    [3 1 1 1]
    0.3192
    0.3617
    0.3192

The execution time for this is between 10ms and 11ms on the Cuda backend (ArrayFire 3.2.0) with a Nvi

[2015-11-24 12:53] pavanky commented on #1118
@rggjan How are you timing this ? Can you run the same thing multiple times and see what you are getting ?

[2015-11-24 14:15] rggjan commented on #1118
This is within a larger arrayfire application. When I run it multiple times, I always get around 10 or 11 miliseconds, with little variance. It is timed using std::chrono::high_resolution_clock.

However, I just wrote a small standalone application to test this, and here it doesn't seem to be happening:

    #include <arrayfire.h>

    #include <chrono>

    int64_t GetTime() {
      using namespa

[2015-11-24 20:27] unbornchikken opened #1122 "AF 3.2 carshes with Arithmetic exception on Linux"
Donno if it's a duplicate or not, I haven't found similar issue there yet. Today I've upgraded ArrayFire.js to support 3.2. Windows is fine, but on Linux, my tests crashes as soon as I create a new array with an Arithmetic exception. Created a screenshot, when you can see the issue and the stack trace.

http://imagizer.imageshack.us/a/img903/7073/AErESV.png

[2015-11-24 20:48] shehzan10 commented on #1122
I don't see any information about the exception code. I can't see the full line of arrayfire code either. Can you provide the relevant line of code as well as the full exception being generated.

[2015-11-24 20:54] unbornchikken commented on #1122
Hi, I've debuged firther.

The cause of the crash is that:

https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/platform.cpp#L118

On my computer, default case selected, and mNumSMT stays on zero, so I get divide by zero at:

https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/platform.cpp#L121

[2015-11-24 21:00] shehzan10 commented on #1122
Yeah this was an experimental CPU information tool we added in 3.2. It seems like this part of fetching CPU information is more fragmented than we expected (doesn't work on arm/ppc etc).

@pavanky maybe we should add a runtime variable that disables this in 3.2.1.

[2015-11-24 21:02] unbornchikken commented on #1122
How should I disable that check? Are there any workarounds?

[2015-11-24 21:09] shehzan10 commented on #1122
Are you using the installer or building arrayfire from source? If you are building from source, you could comment out the relevant parts in [getInfo()](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/cpu/platform.cpp#L194).

If you are using the installer, there isn't much you can do at this point. getInfo will always get called. It's like the initialization function.

[2015-11-24 21:10] 9prady9 commented on #1122
@unbornchikken Can you tell me the CPU this code is running on ?

[2015-11-24 21:14] unbornchikken commented on #1122
I can live with 3.1 latest till this issue gets fixed.

I'm on my old ThinkPad R500 with:

[code]

[2015-11-24 21:22] 9prady9 commented on #1122
@unbornchikken thank you. Will try to get my hands one of those or a similar one.

As a temporary fix, we can default the value of `mNumSMT` to one instead of zero in the constructor initialization. That should get rid of the divide by zero exception.

[2015-11-24 21:28] unbornchikken commented on #1122
That would do definitely. Which is the last version of AF release that is not affected by this? Unfortunatelly I get that crash with 3.1.3 too.

[2015-11-24 21:36] 9prady9 commented on #1122
I believe it is 3.1.0 in which CPUID based code first landed into a release. So, to avoid this issue on this CPU, you need to revert back to 3.0.2.

[2015-11-24 21:40] unbornchikken commented on #1122
Since I wanted to add and test ArrayFire 3.2 support to ArrayFire.js, I'm gonna build a 3.2 from source with that mNumSMT(1) fix applyed. Thanks for your help.

[2015-11-24 21:42] 9prady9 commented on #1122
Sure, since 3.2.1 is around the corner(30th Nov), you can stick with 3.2.  We will try to push a fix for this in 3.2.1.

[2015-11-25 11:45] botev opened #1123 "Operator max K values"
It would be nice if there is an out of the box operator `max(K)`. This is very similar to `max`, but instead gives back not the maximum, but the K maximum values (and potentially having the same interface for returning the indexes of these values).

[2015-11-25 14:37] shehzan10 commented on #1123
You can do a `sort` followed by indexing as:
[code]

You can also do the same thing with sortIndex and sortByKey.
Documentation: http://www.arrayfire.com/docs/group__sort__mat.htm

[2015-11-25 15:36] FilipeMaia opened #1124 "Make the strides of an array available"
Right now there doesn't seem to be a way to enquire about the strides of an array.
It would be useful to have this information available.

[2015-11-26 17:46] rggjan opened #1126 "Crash when using af::replace or af::select"
When I execute the following code (which should be completely independent and have no side effects):

[code]

My program starts to crash (after some time) in a completely unrelated function, when I'm creating a new array (I'm sorry I cannot pin it down further):

[code]

Its a really bad crash: I get an arrayfire exception and a message from the NVidia driver, that it stopped and recovered.

The a

[2015-11-26 22:16] Botev commented on #1123
That is true, however it will definitely be a lot more computation for a complete sort, especially in the case where `k << n`, compared to a specialized operator.

[2015-11-27 07:43] pavanky commented on #1123
@Botev This kind of operation is relatively hard to achieve in parallel without performing the sort operation.

[2015-11-27 11:32] Botev commented on #1123
@pavanky However, essentially you need a partial sort, and more specifically you would prefer something like quick sort, where you can fastly discard and not sort big parts of the arrays. For instance when you partition the array, if the bigger partition has number of elements more than K you can automatically discard the lower partition.

[2015-11-28 19:53] AEHousman opened #1127 "Using gfor instead of equivalent code triggers an exception"
The following code triggers an exception. Commenting out the USE_FAIL_CASE define uses logically equivalent code that works just fine.

[code]

[2015-11-29 20:02] shehzan10 opened #1128 "Forge enums being used without WITH_GRPAHICS"
This causes ArrayFire builds without forge to fail.

See https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/plot.cpp#L60

[2015-11-29 20:39] pavanky commented on #1128
We also can't have C++ API inside the C function..

[2015-11-29 20:44] shehzan10 commented on #1128
It's not used in the API themselves. It's used inside the C-api and in a common wrapper function.
Additionally, it cannot be used here without the WITH_GRAPHICS definition https://github.com/arrayfire/arrayfire/blob/devel/src/api/c/plot.cpp#L116

[2015-11-29 20:45] pavanky commented on #1128
Alright :+1:

[2015-11-29 21:14] pavanky commented on #1126
@rggjan We can not reproduce the problem with the code supplied here. If you are building arrayfire from source, can you build it in debug mode and display the error you are seeing ?

[2015-11-29 21:19] pavanky commented on #1118
@rggjan Since arrayfire is asynchronous, if you do not put `af::sync` at the right places, the time taken from the earlier operations is also timed.

Even in this code sample you have here, you are displaying the time taken to generate gaussianKernel as well as copy to host and display them.

I am closing this issue for now unless we can get some reproducible code for this.

[2015-11-29 21:19] #1118 closed

[2015-11-29 21:20] pavanky commented on #1105
Closing issue because there hasn't been any further information.

[2015-11-29 21:20] #1105 closed

[2015-11-29 22:52] pavanky opened #1129 "Bug when indexing with span along trailing dimensions"
af::array mask  = af::randu(1, 10);
    af_print(mask(0, af::seq(10))); // Works correctly
    af_print(mask(0, af::span)); // Prints only one element

[2015-11-29 23:08] pavanky opened #1131 "Expose functions to provide information about the memory layout of arrays"
- [x] Strides
- [x] isContinguous (isLinear?)
- [x] isOwner
- [x] deviceOffset (for OpenCL backend)
- [x] rawDevicePointer

[2015-11-29 23:08] pavanky commented on #1124
Dealing with this issue over here: https://github.com/arrayfire/arrayfire/issues/1131

[2015-11-29 23:08] #1124 closed

[2015-11-29 23:08] pavanky commented on #985
Dealing with this issue over here: https://github.com/arrayfire/arrayfire/issues/1131

[2015-11-29 23:08] #985 closed

[2015-11-29 23:09] pavanky commented on #1124
@FilipeMaia Let me know if you want any other helper functions that might be helpful.

[2015-11-30 08:09] rggjan commented on #1118
Ok, thanks for looking into it, anyway!

I'll update you if I can find a more reproducible sample...

[2015-11-30 13:10] rggjan commented on #1126
I just did. You can see the stacktrace with debugging symbols in the attached screenshots (I can reproduce it every time and easily do more debugging if I can help):

![capture](https://cloud.githubusercontent.com/assets/128554/11472134/b7e29c58-976a-11e5-8279-d109297090e1.PNG)

All version work perfectly fine in the CPU backend. However, using the OpenCL backend also makes it crash (I have no deb

[2015-11-30 14:09] pavanky commented on #1126
Are you using any custom CUDA kernels in your program ?

[2015-11-30 14:10] rggjan commented on #1126
No, only "pure" ArrayFire. Some stuff in OpenGL runs at the same time, but thats completely independent (no shared context).

[2015-11-30 14:58] pavanky commented on #1126
Is there anyway we can get a stand alone code to reproduce this ?

[2015-11-30 15:48] rggjan commented on #1126
Ok, I tried to strip it down as much as possible. I can reliably reproduce it with the following code.

Using version 1 or 2 (as before), I get the following output:
[code]

Using version 3 works fine, and prints all numbers from 1 to 100.

The code might not make a lot of sense anymore at that point, since I tried to remove all parts not essential to the crash. (I hope I didn't introduce any out

[2015-11-30 21:02] pavanky opened #1134 "Functions to allocate and free host side memory"
ArrayFire is allocating memory for `char` buffers for functions like `af_device_info` and `af_get_last_error`. If the user is trying to free them using an alternative standard library (i.e. one that is different from the one ArrayFire was compiled with), then there will be exceptions thrown. This can happen when ArrayFire is compiled with visual studio and user is trying to use the C functions fro

[2015-11-30 21:21] pavanky opened #1135 "Fix array.device behavior"
Currently we have the following known issues:

--------------------------------------------

**Problem**: Arrays may be strided, but this information is unknown to the user. The user just gets the raw pointer.

**Possible Solution**: Provide the stride and offset information to the user.

--------------------------------------------

**Problem**: When other arrays are pointing to the same device a

[2015-11-30 21:58] pavanky commented on #1101
@FilipeMaia Because of current limitations, I am reverting the behavior of `device` (not `flat`) to perform an additional memory copy. We'll be adding a new function called `rawPtr` or something similar for the next release that will behave as you expected.

This is related to the issues mentioned here: https://github.com/arrayfire/arrayfire/issues/1135

[2015-11-30 22:00] pavanky commented on #1101
That said, I think we can verify `flat` is not doing a memory copy by checking `deviceMemInfo`.

[2015-11-30 22:39] #1128 closed

[2015-12-01 00:42] pavanky commented on #1135
For now fixing this by copying the data in both cases. We'll need a new function that returns the raw pointer with stride information for next release.

[2015-12-02 01:53] pavanky commented on #1122
Fixed in hotfixes-3.2.1

[2015-12-02 01:53] #1122 closed

[2015-12-02 01:54] pavanky commented on #1108
Fixed in hotfixes-3.2.1

[2015-12-02 01:54] #1108 closed

[2015-12-02 01:54] pavanky commented on #1101
Fixed in hotfixes-3.2.1

[2015-12-02 01:54] #1101 closed

[2015-12-02 01:54] pavanky commented on #1127
Fixed in hotfixes-3.2.1

[2015-12-02 01:54] #1127 closed

[2015-12-02 01:54] pavanky commented on #1129
Fixed in hotfixes-3.2.1

[2015-12-02 01:54] #1129 closed

[2015-12-02 01:54] pavanky commented on #1135
Fixed in hotfixes-3.2.1

[2015-12-02 01:54] #1135 closed

[2015-12-02 07:38] unbornchikken commented on #1122
Thanks. Keep up the good work, this library is still one of the most awesome on Github!

[2015-12-05 10:38] #1002 closed

[2015-12-05 10:39] pavanky commented on #1002
@AlexHild @holocronweaver This is now possible with the devel branch in arrayfire. It will make it to the release version of arrayfire in version 3.3.0.

[2015-12-05 14:33] 9prady9 commented on #1029
@rggjan PR #1140 has been merged into devel now. If you use devel branch and build an executable, in that build of ArrayFire you should be able to do what we were discussing earlier.

The first stable release with this feature will be 3.3.0 release.

[2015-12-07 08:22] rggjan commented on #1029
Great, thanks :)

[2015-12-07 11:23] unbornchikken opened #1142 "Question about copy on write behavior"
Let's say, I have something like the following in my code (kinda pseudocode):

[code]

So, my assumption is that there is no copy happens till we reach the point of mutation, right? My question is which is the point where `sub2` copies its content from `sub`, and `sub` copies its content form `arr` exactly?

This is important to known to wrap things properly in garbage collected languages, because

[2015-12-07 13:45] pavanky commented on #1142
@unbornchikken You are right. But even when the original goes out of scope, the code still works because the arrays are not pointing to original arrays but the shared data pointer held by the original. This means the data is not freed even if the original goes out of scope. It is only freed after all references are destructed.

[2015-12-07 13:56] ghisvail opened #1143 "CBLAS detection does not work on Ubuntu 14.04"
Trying to generate the packaging for the older but still widely used Ubuntu 14.04 LTS, the CBLAS detection step fails, despite the headers and libs being [present](http://packages.ubuntu.com/trusty/amd64/libblas-dev/filelist) on the system.

The main difference between `libblas-dev` from Ubuntu 14.04 and current Debian is the lack of pkgconfig file, which means the CBLAS detection skips the pkgcon

[2015-12-07 14:21] unbornchikken commented on #1142
My question was about the situation, when the derived ones goes out of scope in a garbage collected environment. In this case, those are not destroyed yet, so the copy will happen when the original one mutated, beacuse there is no way for ArrayFire to know that the derived ones are garbage till they hasn't get collected.

That's why I'm on implementing an easy to use RAII pattern for ArrayFire.js.

[2015-12-07 14:21] #1142 closed

[2015-12-07 16:33] pavanky opened #1144 "Create gravity simulation example in ArrayFire"
Similar to what is happening here: http://jsfiddle.net/unkking88/30c69sa9/

[2015-12-07 17:38] shehzan10 opened #1145 "Memory leak in CUDA Random number generation"
curandStates are allocated using cudaMalloc which is not freed at the end of the program.

Create a manager class to handle this.

[2015-12-07 18:06] pavanky commented on #1143
@ghisvail The alternative is looking for `libcblas` which is where most distros have the C wrapper around blas. It's going to be a pain to implement special cases for all the different distros. Ideally upstream should be dealing with, but we have added a bunch of special cases ourselves.

That said, `atlas` an alternative to `cblas` works just fine on Ubuntu. Can't the package just depend on atlas

[2015-12-07 19:04] ghisvail commented on #1143
It could, but it would break support for the [alternatives mechanism](https://wiki.debian.org/DebianAlternatives).

FYI, Ubuntu 14.04 is likely to stay for quite a while in research / production environments (still supported for 3+ years). But I can understand your reluctance to spend valuable dev time on this. I will maintain a patch for this particular issue downstream then.

[2015-12-07 19:13] pavanky commented on #1143
@ghisvail Can you check if the following patch works ?

[code]

If it does, I think we can just add this.

[2015-12-07 19:44] ghisvail commented on #1143
I'll have a look and report back.

[2015-12-07 19:48] pavanky commented on #1143
I am working in a docker container to figure this out. The patch above doesn't work.

[2015-12-07 20:02] pavanky commented on #1143
@ghisvail found a patch that will work. We'll be pushing it to hotfixes-3.2.2

[2015-12-07 21:24] pavanky commented on #1143
@ghisvail #1146 should fix the issue you are seeing

[2015-12-08 08:57] ghisvail commented on #1143
I applied your fix to the packaging of `v3.2.1` and it worked for both Debian and Ubuntu.

[2015-12-08 14:37] Botev opened #1150 "Allow providing an output storage for operators on device."
Sometimes it could be useful to pass a device pointer to an operator, which to point to an already allocated device memory, and to be used for the outer storage of the operator.

The use case I have is something along the lines of
[code]
The last line will lead to a new memory allocation. However, knowing the fact that A is no longer used it would be benefitial to be able to explicitly do somethin

[2015-12-08 14:44] pavanky commented on #1150
@Botev We can not do what you are asking for. It breaks API and creates more issues than it is worth. If you really want to do something like this, I suggest using the C API entirely where you have complete control of when an array gets freed.

If you prefer using C++, It is up to the user to do one of the following.

1) Use pointers to arrays and delete them when they are no longer needed.

2) Sc

[2015-12-08 14:44] #1150 closed

[2015-12-08 14:47] 9prady9 commented on #1150
@Botev I wasn't suggesting passing device pointer to functions. Was only saying that you can create a new array from another array's device pointer the way i suggested if we have an additional constructor `array(dim4 dims, dim4 strides, T * ptr, af::source )`

[2015-12-08 19:59] pavanky commented on #1143
Fixed in hotfixes-3.2.2

[2015-12-08 19:59] #1143 closed

[2015-12-08 20:00] #1145 closed

[2015-12-08 20:00] ghisvail commented on #1143
Perfect. Thanks for taking care of this.

[2015-12-09 02:15] camviluong opened #1151 "Problem when using ArrayFire with MFC"
I create a MFC application with Visual Studio wizards! After setting Preprocessor and link library then build it! Error occurs!

c:\program files\arrayfire\v3\include\af\algorithm.h(86): error C2059: syntax error: 'const'
AFAPI array min(const array &in, const int dim = -1);

I dont know what happend! Can use ArrayFire with MFC Application? I am using Visual Studio 2015 enterprise

[2015-12-11 21:12] ghisvail opened #1157 "test-select-cpu fails on Ubuntu 16.04 for i686"
This issue was reported to me by an Ubuntu contributor. Since Ubuntu 16.04 will become the next LTS, it might be worth also testing future releases of AF for it.

The current Debian package fails to build on Ubuntu 16.04 on their 32-bit architecture (i686). The other architectures build fine. Please find below the relevant section of the build log containing the offending test. Sounds like another

[2015-12-11 21:15] ghisvail commented on #1157
FYI, since `i686` is considered a major architecture in Ubuntu, this FTBFS prevents the migration of version `3.2.x` in the Ubuntu archive. This is why Ubuntu is still stuck at version `3.0.2`, which is the last version that built successfully built on all supported architectures.

[2015-12-11 22:46] pavanky opened #1159 "Implement af_info_string"
Instead of printing to string, send the output to a string.

[2015-12-12 08:16] unbornchikken opened #1160 "Need help: cannot figure out how indexing works"
Hi,

I have two arrays:

1:
[code]
2:
[code]
What I wanna do is select values from array 2 along the first dimension by index of corresponding values from array 1, so:

[code]

So I wanna end up with an array of:
[code]

Tried `lookup` but that seems does entirely different thing that I want. I can see that there is `af_index` in the C interface, but the documentation doesn't mention any C++ count

[2015-12-12 16:12] pavanky commented on #1160
There is no function to do this. You can do what you want by doing something like this. Assume array 1 is idx, array 2 is A.

[code]

[2015-12-12 16:12] #1160 closed

[2015-12-12 16:30] unbornchikken commented on #1160
That will do, thanks.

[2015-12-12 19:50] Botev opened #1161 "Valgrind gives memory leaks"
Hi,
I've compiled a very simple program of arrayfire, however when ran trough Valgrind gives me errors. The program is:
[code]
When I run this trough Valgrind I get:
[code]
I'm not really that much an expert, but is this something that is suppose to happen or am I doing it wrong?

[2015-12-12 21:08] pavanky commented on #1161
All of these seem to come from FreeImage and not arrayfire.

[2015-12-13 15:59] shehzan10 commented on #1161
Some digging around and this is apparently not a leak in FreeImage either.

FreeImage Issue: http://sourceforge.net/p/freeimage/discussion/36109/thread/38054fa4/
OpenExr Mailing list discussion on this: http://lists.nongnu.org/archive/html/openexr-devel/2013-11/msg00000.html

[2015-12-13 15:59] #1161 closed

[2015-12-14 15:36] shehzan10 commented on #1157
As you know, we don't publish 32-bit support. But just to see if its an easy fix, can you give a link to the build failures?

[2015-12-14 15:52] LocutusOfBorg commented on #1157
https://launchpad.net/ubuntu/+source/arrayfire/3.2.1+dfsg1-1
here we are!
(sorry for stepping in, I'm the original contributor, and Debian sponsor of the package)

[2015-12-14 15:56] pavanky commented on #1157
@LocutusOfBorg @ghisvail  Thanks. I think we've found the issue. This should be fixed by 3.2.2.

So is the plan to include arrayfire in the Ubuntu 16.04 repos ? If so what is the latest you can update the packages ? I am asking because we might have the next major release (3.3) before that point.

[2015-12-14 16:13] LocutusOfBorg commented on #1157
https://wiki.ubuntu.com/XenialXerus/ReleaseSchedule 18 feb 2016 I think

[2015-12-14 16:27] pavanky commented on #1157
@LocutusOfBorg excellent. Right now 3.3 is scheduled for February 11. But we can move it forward or test the beta versions to try and get 3.3 into Ubuntu :)

[2015-12-14 17:19] shehzan10 commented on #1159
* Do we need a c++ API for this? If yes what should this return?
* Should we accept a pre-allocated string or allocate it within arrayfire (will require #1134)

[2015-12-14 20:11] ghisvail commented on #1157
Thanks Gianfranco for stepping in. The latest update to the packaging, which brings the missing OpenCL and unified backends, is currently waiting in the new queue for approval. Depending on how fast the process is going, I may cherry-pick the fix to this issue to `3.2.1`. Otherwise, it will come with the update to `3.2.2`.

I am happy to coordinate with @pavanky to get `3.3` packaged on time for t

[2015-12-14 20:23] pavanky commented on #1157
@ghisvail The last week or so will most likely will be in feature freeze. We can begin testing on the feature branch from the last week of January to ensure it builds and works fine on debian and ubuntu systems.

BTW, would it be possible for ubuntu to have the CUDA library as well ?

[2015-12-14 21:08] 9prady9 commented on #1106
We have an option of using native frameworks for this task.

- [AV Foundation](https://developer.apple.com/av-foundation/) on OSX - i believe it comes with the OS, no redistribution issue.
- [DirectShow](https://msdn.microsoft.com/en-us/library/dd375454.aspx) on Windows - part of Windows SDK, we don't need to redistribute the libs.
- [GStreamer](http://gstreamer.freedesktop.org/) on linux - LGPL.

[2015-12-14 23:07] pavanky opened #1164 "Do not error out when printing empty arrays."
Just print `<empty>`

[2015-12-14 23:12] shehzan10 commented on #1164
This issue is technically a subset of https://github.com/arrayfire/arrayfire/issues/799

[2015-12-14 23:38] pavanky commented on #1164
@shehzan10

Let us deal with trivial ones first. This function does not change the behavior much, so I think it can be done in a bugfix release.

[2015-12-15 11:43] ghisvail commented on #1157
The package has been accepted quicker than I thought so I can submit an update with the cherry-picked fix. Could you guys point me to the exact commit-id of the fix? Cheers.

[2015-12-15 14:30] shehzan10 commented on #1157
This fixes the select tests https://github.com/arrayfire/arrayfire/commit/52a8409cb510083e242cf5280bdc63a173ff7902

[2015-12-15 14:34] LocutusOfBorg commented on #1157
cherry-picked and build started here
https://launchpad.net/~costamagnagianfranco/+archive/ubuntu/locutusofborg-ppa/+packages

[2015-12-15 14:55] ghisvail commented on #1157
@LocutusOfBorg do you want to keep the fix downstream in Ubuntu instead? I am fine either or.

[2015-12-15 14:56] LocutusOfBorg commented on #1157
I can't upload on ubuntu yet, so maybe debian is better :)
just ping me with a dsc ;)

[2015-12-15 14:57] ghisvail commented on #1157
Good, you'll have something ready later today.

[2015-12-15 15:42] LocutusOfBorg commented on #1157
wonderful! the package has been successfully built on my ppa, so I can upload as soon as you have a dsc.

[2015-12-15 15:47] pavanky commented on #1157
Alright, I am closing the issue since it looks like it's resolved. Let me know if we need to reopen this again.

[2015-12-15 15:47] #1157 closed

[2015-12-15 18:56] #1134 closed

[2015-12-15 18:56] #1159 closed

[2015-12-16 12:39] ghisvail opened #1165 "Cannot run tests without FreeImage."
I tried to rebuild the packaging without FreeImage since the imageio testsuite is failing on some architectures which you guys don't officially support. The testsuite builds successfully but running it produces the following outcome:
[code]

[2015-12-16 14:45] shehzan10 commented on #1165
I tried doing this when I was separating out the test. Unfortunately there is no neat way to do it.

Here are the options:

1. We remove each test manually (like we do for sift/manual_memory) in CMake. The problem with this is that each time a new test is added that uses image io, it will need to be added here. The solution to this would be to make it like testname_imageio.cpp and then we can look

[2015-12-16 14:48] umar456 commented on #1165
3. We could get rid of the dependency on free image for those tests. Create a PFM of the images used by those tests and create a simple loader (I have one here somewhere). That way we don't have to unnecessarily disable any tests.

[2015-12-16 16:01] pavanky commented on #1165
Using PFM images is going to blow up the size of the arrayfire-data repo. I highly recommend against it.

[2015-12-16 16:04] umar456 commented on #1165
That is better then not running tests

[2015-12-16 16:06] 9prady9 commented on #1165
Is this for package on some OS's package manager ?

[2015-12-16 16:14] pavanky commented on #1165
@umar456 @9prady9 That's my point. We test this with freeimage in jenkins so I don't see the point of enabling tests without freeimage.

[2015-12-16 16:17] 9prady9 commented on #1165
I don't see the need either if this is for just packaging purposes.

[2015-12-16 19:25] shehzan10 opened #1167 "Disable LAPACK tests at runtime"
Currently LAPACK tests can be disabled using ctest -E dense.
Add a function that can check availability of lapack functionality, similar to noDoubleTests.

[2015-12-16 19:26] shehzan10 opened #1168 "Add isLAPACKAvailable and isImageIOAvailable functions"
These are similar to af::isDoubleAvailable().

Do this after hotfixes-3.2.2 is merged into devel.
Update noImageIOTests() and noLAPACKTests() in testHelpers.hpp to use these functions.

[2015-12-16 21:13] shehzan10 opened #1170 "Change CPU random number generator from default_random_engine to mt19937"
The default_random_engine is an implementation based engine. In our tests we found that the first element generated by this is always a multiple of the seed (seed x 0.0000078259).

Changing this to mt19937 fixes this issue and makes it consistent across implementations.

[2015-12-16 21:28] Botev opened #1171 "Batched dot and matrixmul operation"
It would be very nice if there are batched version of these two BLAS operations, doesn't really matter on which dimension the batch would be. Note that for the MM this means that the inputs will be 3D Tensors.

[2015-12-16 21:46] pavanky commented on #1171
Isn't batched `dot` just a matrix multiply ? I understand the need for batched matrix multiply though.

[2015-12-16 21:47] pavanky commented on #1171
BTW this is a duplicate of #483

[2015-12-16 21:47] #1171 closed

[2015-12-16 21:50] Botev commented on #1171
You are correct, maybe reatracted it to only batched MM.

[2015-12-16 22:22] shehzan10 opened #1172 "Create a macro to display memory info from memory manager"

[2015-12-16 22:23] shehzan10 opened #1173 "Add a function to display the pointer and size info of all the buffers in the memory manager"
Info per buffer:
* Pointer
* Size
* In Use or Free

[2015-12-17 00:48] shehzan10 commented on #1165
Merged into hotfixes-3.2.2

[2015-12-17 00:48] #1165 closed

[2015-12-17 00:48] shehzan10 commented on #1167
Merged into hotfixes-3.2.2

[2015-12-17 00:48] #1167 closed

[2015-12-17 00:48] shehzan10 commented on #1170
Merged into hotfixes-3.2.2

[2015-12-17 00:48] #1170 closed

[2015-12-17 00:48] shehzan10 commented on #1172
Merged into hotfixes-3.2.2

[2015-12-17 00:48] #1172 closed

[2015-12-17 00:48] shehzan10 commented on #1164
Merged into hotfixes-3.2.2

[2015-12-17 00:48] #1164 closed

[2015-12-18 10:35] Botev commented on #483
Maybe adding and batched version of `gaussian kernel` would be good as well. Again by batch I mean having 3D tensor inputs, where one dimension is the same.

[2015-12-18 17:27] paolobardella opened #1175 "Access violation on Windows+OpenCL when graphics is enabled"
On Windows 8.1 64bit, Visual Studio 2013/2015, Open CL on ATI card, I get an Access Violation Exception with the simple code

[code]

The error occurs both in Debug and Release mode, at the application exit.
![accessviolation](https://cloud.githubusercontent.com/assets/13315243/11902832/f613cad0-a5b4-11e5-9359-5f2abb1496b5.png)

[2015-12-19 17:37] FilipeMaia opened #1177 "Allow specifying the stride when creating arrays from device memory"
It would be useful if one could pass stride argument to `af_device_array()`.

[2015-12-19 18:36] pavanky commented on #1177
This will be a bit hard because ArrayFire currently does not support negative strides or strides along the leading dimension. We'll need to add that support internally before we do this.

[2015-12-19 18:38] FilipeMaia commented on #1177
Sure, you don't have to support all possible strides. I was only thinking of allowing those strides that Arrayfire already does internally. You could document the supported strides and return error for the others.
If more strides became possible in the future it would be easy to adjust things.

[2015-12-19 19:14] pavanky commented on #1177
Alright, we'll do this alongside this issue: https://github.com/arrayfire/arrayfire/issues/1131

[2015-12-21 00:31] mchandra opened #1179 "Using arrayfire with cython"
I have a function in C++

[code]

which I want to call in python. So I tried wrapping it using Cython, however the `array` object is not a native Cython type and so one needs to declare the type in a .pxd file which is very tedious. Is there an easy way to do this using the existing arrayfire-python bindings?

[2015-12-21 00:57] pavanky commented on #1179
I am not sure this is the right place for you to ask this question. Our C++ wrapper does not do anything special. You will need to look at cython examples of how to integrate with C++ code.

[2015-12-21 00:57] #1179 closed

[2015-12-22 15:52] pavanky opened #1181 "Add backend and device id information to af_array"
3.2 implemented a function called `getBackendId`, but that does not provide us information about the device the array was created on. We will need to return information about the device the array was created on so the user is aware if they can be inter-op'd on or not.

~~Considering that the unified backend is more orless thread safe~~(It is not thread safe). The arrays returning the same backend

[2015-12-22 19:29] 9prady9 opened #1182 "Support for setting axis limits for graphics"

[2015-12-25 02:08] pavanky opened #1184 "Look at additional default paths for unified backend"
Linux always installs to `/opt/arrayfire-3` and OSX always installs to `/usr/local`

We should perhaps look at these two locations as well when loading `libafcuda`, `libafcpu` and `libafopencl`.

[2015-12-25 02:13] pavanky commented on #1184
Additionally, it should also set the error string asking the user to set "AF_PATH" when returning the `501` error.

[2015-12-28 21:16] pavanky opened #1186 "Always set error string before returning errors"
The way to deal with this would be to have a macro something along the lines of `AF_ERROR`. Instead of throwing an exception, this just sets the error string and returns the error.

Here are the culprits

[code]

[code]

[2015-12-28 22:54] 9prady9 opened #1187 "Move all environment variables used by ArrayFire to a Global config file"
Potential options:
- JASON file
- XML file

[2015-12-28 22:58] pavanky commented on #1187
@arrayfire/core-devel I think if we figure out a good location, it might be time to dump the compiled kernels as well. For example `nvidia` dumps all their kernels in `~/.nv` on linux.

[2015-12-28 23:42] 9prady9 commented on #1187
JASON parsers i found so far:
- [jsmn(Jasmine)](http://zserge.com/jsmn.html) - Not header only, but extremely small foot print is what the developer claims - MIT License
- [json](https://github.com/nlohmann/json) - Header only and looks nice - MIT license.
- [picojson](https://github.com/kazuho/picojson) - Header only - 2-clause BSD license.
- [rapidjson](https://github.com/miloyip/rapidjson) - MI

[2015-12-28 23:55] bkloppenborg commented on #1187
Don't forget JSONCPP:

https://github.com/open-source-parsers/jsoncpp

I've used it in a few of my projects. It is fairly simple. MIT licensed.

Brian

[2015-12-29 15:24] shehzan10 commented on #1184
Adding via #1185
[code]

Note: This will only lead to finding libaf*. Dependencies such as NVVM etc will have to be added to LD_LIBRARY_PATH as shown in [Unified Backend](http://www.arrayfire.com/docs/unifiedbackend.htm) doc.

[2015-12-29 15:30] shehzan10 opened #1188 "Clean up exception messages (internal error)"
An example of exception messages being thrown currently is:
[code]

There are 2 problems with this:
1. It gives the user no information about which function is actually throwing the exception
2. Users using the installer version are seeing paths from the installer projects on CI.

Fix this by changing the error message to include the function name, and only use the base file name along with line n

[2015-12-29 15:32] shehzan10 opened #1189 "Show function name in af::exception"
Add a constructor that would print the function name as well.
Ref #1188

Complete this after #1184 is merged into devel

[2015-12-29 15:32] shehzan10 commented on #1186
Created AF_RETURN_ERROR macro in err_common.hpp

[2015-12-29 19:29] shehzan10 opened #1191 "Add a test for unified backend"
* Should test setBackend and a basic function
* Should test all backends available
* Should handle being linked with afcpu, afcuda, afopencl

[2015-12-29 22:19] shehzan10 opened #1192 "Build only backend and info tests for unified backend"
Building all tests for unified backend is time consuming and redundant.
The backend test covers a simple test case.

More advanced tests can be added in the future if they are relevant to unified.

[2015-12-29 22:50] pavanky opened #1193 "Add new build target to reduce compilation times"
This option should disable all optimizations. This would be useful during development as well as decrease times to test Pull Requests.

[2015-12-30 00:33] pavanky opened #1196 "Use CPU libraries when possible for CPU OpenCL devices"
For example it might be faster to use MKL / OpenBLAS when performing linear algebra functions or FFT operations for CPU devices.

There are two ways it can be achieved.

1) Copy data to "host" memory, do the operation, copy back. This might be useful only after a particular size.

2) Consider using clEnqueueMapBuffer. Check if the performance of this function is faster than dual copies mentioned i

[2015-12-30 00:33] pavanky commented on #1196
@arrayfire/core-devel Do you guys think we should try to squeeze this in for 3.2.2 ?

[2015-12-30 00:45] 9prady9 commented on #1196
I think option (2) does a hidden copy back to device memory when we un-map the cl_mem object. So, we would still be having two copies.

[2015-12-30 00:51] shehzan10 commented on #1196
I think it should go into 3.3. There is no need to rush it.

[2015-12-30 07:21] #1191 closed

[2015-12-30 07:21] #1188 closed

[2015-12-30 07:21] #1186 closed

[2015-12-30 07:21] #1184 closed

[2015-12-30 07:23] #1144 closed

[2015-12-30 19:13] shehzan10 commented on #1192
Fixed by #1185

[2015-12-30 19:13] #1192 closed

[2015-12-30 19:34] shehzan10 opened #1199 "Sort tests alphabetically"
Tests are not sorted right now. Use CMake sort to sort them alphabetically.

[2015-12-30 20:18] #1199 closed

[2015-12-30 20:18] #1193 closed

[2015-12-31 05:59] #832 closed

[2015-12-31 21:54] mchandra opened #1203 "Automated way to count flops"
Is there a function in arrayfire that can be called that can count the flops between a segment of code. Something like:

[code]

[2015-12-31 22:02] pavanky commented on #1203
@mchandra This is very impractical and provides fairly bad info if we did implement it. Very few algorithms are compute bound so their flop count will be very low.

There are also several algorithms that have different flop counts based on who you ask. I think the best solution would be to provide the raw times and just let the users figure out the flops of the algorithms.

[2015-12-31 22:03] #1203 closed

[2015-12-31 22:07] mchandra commented on #1203
Well, it would also be good to provide the number of memory accesses etc. But I understand what you mean.

[2015-12-31 22:17] pavanky opened #1204 "Discussion: Profiler for arrayfire"
Let this be a free for all. Any ideas on how this can be implemented are welcome. Any ideas about what needs to be reported is also welcome.

[2015-12-31 22:18] pavanky commented on #1203
@mchandra Alright, I created an issue to deal with the broader profiling issue over here: https://github.com/arrayfire/arrayfire/issues/1204

[2015-12-31 22:19] mchandra commented on #1203
Thanks!

[2015-12-31 22:20] mchandra commented on #1204
Can the JIT in arrayfire be used for this? Since it is already enumerating the operations to be performed over some data.

[2015-12-31 22:21] pavanky commented on #1204
@mchandra Sure but that limits the amount of functionality that can be profiled.

[2015-12-31 22:44] shehzan10 opened #1205 "Rename af_(lock/unlock)_device_ptr"
These names are misleading.

Rename
[code]

Mark af_lock_device_ptr and af_unlock_device_ptr as deprecated.

[2016-01-01 23:40] mchandra commented on #1204
You mean because of functions like say `solve()` which are not under JIT? I think thats ok cause for the standard functions, one generally has an idea of the complexity. My main worry is my hand coded functions which are really just various combinations of the basic math operations. I could count the operations manually but exploiting JIT to do it would be cool.

[2016-01-02 00:43] shehzan10 opened #1206 "Fix compiler warnings thrown by Clang"
Look at http://ci.arrayfire.org/job/arrayfire-osx/job/pr-build/243/consoleFull for a sample build log for clang.

[2016-01-02 21:03] AEHousman opened #1209 "diag() has odd behavior when applied to 1D arrays"
As expected,
[code]
throws an exception for invalid size. Remarkably, though,
[code]
works! If `<anything>` is zero, foo's dimensions are 3,3,1,1. If `<anything>` is -6, foo's dimensions are 9,9,1,1. So it really is anything.

I was expecting diag to work only with 2D arrays,  and if we were really pedantic, 1D arrays with 0 or negative values of the index `<anything>`. (I'm fine with it working w

[2016-01-02 21:09] pavanky commented on #1209
@AEHousman I think the confusion is because of the way `diag` implements the `true` and `false` options.

- When option is set to `true`, input needs to be a diagonal matrix and output is a particular diagonal.
- When option is set to `false`, input needs to be a diagonal and the output is a diagonal matrix using the input along the specified diagonal.

I hope that clears things up

[2016-01-02 21:09] #1209 closed

[2016-01-02 21:26] AEHousman commented on #1209
Ahh, thanks. I misread the documentation (as usual!) It's possible the C interface is actually clearer; using an arg to switch the mode of a function completely (which is why I misunderstood it!) might be suboptimal.

[2016-01-03 05:08] pavanky commented on #1209
Yeah we might add two functions to be more explicit in the future.

[2016-01-03 08:05] #1206 closed

[2016-01-03 08:05] #1168 closed

[2016-01-03 08:05] #1173 closed

[2016-01-03 08:05] #1189 closed

[2016-01-03 08:05] #1205 closed

[2016-01-03 08:26] pavanky opened #1210 "CUDA backend does not build with Boost 1.60"
Apparently something in this combination requires setting `-std=c++11`. This needs fixing.

https://svn.boost.org/trac/boost/ticket/11852

[2016-01-03 09:05] pavanky commented on #1210
Compiling with `-std=c++11` with gcc 5.3.0 and CUDA 7.5 results in the following:
[code]

Compile error:

[code]

[2016-01-03 10:01] pavanky commented on #1210
Well the simplest fix seems to be to use `__STRICT_ANSI__` for boost 1.60.

@umar456 do you mind if I force this for all versions ? This only seems to affect custom, compiler defined, data types anyway.

[2016-01-03 18:26] dpo opened #1212 "Build error on OSX"
I'm trying to update the Homebrew formula for `arrayfire` to version 3.2.2 but I'm running into this:
[code]
There are other errors. Here is the [full log](https://gist.github.com/anonymous/a5fed14e8ae209148d3e). I'm on OSX 10.9. I get the same errors with clang and gcc5.

[2016-01-03 18:34] shehzan10 commented on #1212
From your [logs](https://gist.github.com/anonymous/a5fed14e8ae209148d3e#file-01-cmake-L55), I see that you are using the [af3.0.1](https://github.com/arrayfire/forge/tree/af3.0.1) tag of forge.

With each ArrayFire release we create a Forge tag as well. So you should be using Forge tag [af3.2.2](https://github.com/arrayfire/forge/tree/af3.2.2) .

That should fix the issue you are having. You can c

[2016-01-03 20:39] dpo commented on #1212
Thanks! It seems to build now, but I'm getting an error during install:
[code]
I tried configuring CMake with `-DBUILD_EXAMPLES:BOOL=OFF` but that leads to the same error. Any ideas? Here are [update logs](https://gist.github.com/e4c0f6b1f3b95835c362
) (scroll to the bottom of [this log](https://gist.githubusercontent.com/anonymous/e4c0f6b1f3b95835c362/raw/3e2ca231de06466b860cbbaeb218894d78ba5b3e/

[2016-01-03 22:15] dpo commented on #1212
Here's a bit more info:
[code]
(note: `/tmp` and `/private/tmp` are the same location). So `arrayfire-3.2.2/assets` is empty, but there is `arrayfire-3.2.2/build/examples`.

[2016-01-04 00:19] shehzan10 commented on #1212
Did you clone submodules?
You can either do `git clone --recurive` (when cloning) or `git submodule update --init --recursive` after cloning.

[2016-01-04 01:27] dpo commented on #1212
I downloaded the latest release. I didn't clone the git repository. Homebrew formulas should download a stable release and not rely on a moving target. How are users supposed to get submodules then?

[2016-01-04 02:01] dpo commented on #1212
Works now. Many thanks!

[2016-01-04 02:01] #1212 closed

[2016-01-04 02:25] shehzan10 commented on #1212
Right, we are aware of that and that's why we host our own sources which include the submodules. These are linked under "Release Notes" in each release and will be pointed to by an arrayfire.com/arrayfire_source link. You will be able to find them here http://arrayfire.com/arrayfire_source/

Note: As of posting this message, we are experiencing technical issues with arrayfire.com. You can download

[2016-01-04 04:13] dpo opened #1213 "Build error on OSX 10.11"
Sorry to bother, but I've got another build error, on OSX 10.11 this time. I'm using the 3.2.2 tag and version af3.2.2 of Forge. The error I'm getting is:
[code]
Here's the [full log](http://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/3886/version=el_capitan/consoleFull).

Thanks for any help!

[2016-01-04 08:23] pavanky opened #1214 "Create a unified memory manager class / framework for all backends"
This way we do not need to replicate the changes done in all three backends.

[2016-01-04 11:18] pavanky commented on #133
I stand corrected. The limit for y and z dimensions is still 65535 and we hit this limit for certain configurations. We should look into fixing this properly.

[2016-01-04 11:20] pavanky commented on #133
@shehzan10 do you want to take a shot at figuring out how to deal with this ?

[2016-01-04 20:15] #1210 closed

[2016-01-04 22:53] pavanky commented on #1213
@dpo Can you post the log to a gist and link it here?

[2016-01-05 21:22] mchandra commented on #904
Hi, any update on the eigen function? Thanks!

[2016-01-05 21:46] pavanky commented on #904
@mchandra We are waiting for upstream support for the CUDA backend. If CUDA 8 is released before arrayfire 3.3 (and has eigen value support), we can push that functionality in.

[2016-01-05 21:47] mchandra commented on #904
Thanks! What about the CPU and OpenCL backends?

[2016-01-05 23:53] mchandra opened #1217 "Installers linked with CUDA 7.0"
Hi, are there installers built without graphics linked with CUDA 7.0? Unfortunately, all the clusters I have access to have only CUDA 7.0 and lower (stampede at TACC and UIUC's campus cluster). Thanks!

[2016-01-06 02:01] pavanky commented on #904
@mchandra We try to keep feature parity between all backends. We'll most likely not begin work on CPU and OpenCL backends until the CUDA backend is supported (CUDA being the most used backend for ArrayFire).

If there is enough demand for CPU and / or OpenCL, we will create a separate branch with the functionality added for the two backends.

[2016-01-06 02:02] pavanky commented on #1217
@mchandra It is fairly easy to build arrayfire. It would strain CI frame work a bit to build / test with older versions of CUDA.

Is there any reason you do not want to build arrayfire from source ? It is fairly easy to build on Linux where all the necessary dependencies exist.

[2016-01-06 20:19] mchandra commented on #1217
The compilers available on those machines don't support C++11, and I remember trying to compile arrayfire on them and it did not work. Is there a way I can compile on a machine with all the dependencies, package arrayfire as the bash script and then install it on the target machine? Thanks!

[2016-01-06 21:03] pavanky commented on #1217
If you just want to build the CUDA backend, you don't need C++11. You can disable the remaining backends (and use the libraries from the installers for those backends if needed).

Does the cluster have boost available ?

[2016-01-06 21:15] mchandra commented on #1217
Yes, boost is available on all the clusters I am using.

[2016-01-06 21:22] pavanky commented on #1217
@mchandra you should be able to build the CUDA backend just fine without using C++11. You can run the following commands:

[code]
This should create `libafcuda.so` in `arrayfire/build/package/lib`

[2016-01-06 21:23] pavanky commented on #1217
BTW what is the compiler version available on the cluster ?

[2016-01-06 21:25] mchandra commented on #1217
Thanks for the instructions! I'll try them out now.

Here's what is available:
[code]

[2016-01-06 21:32] pavanky commented on #1217
Is there no other compiler available on the machine ? What does ``which gcc` -- version`  return

[2016-01-06 21:33] mchandra commented on #1217
Yes, gcc is available too:

[code]

Btw, I get the following errors during configure:

[code]

[2016-01-06 21:45] pavanky commented on #1217
@mchandra looks like it is going to be a bigger hassle to resolve this than create room for one build in our CI.

Can you email technical@arrayfire.com so we can send you the link to an installer with 7.0 sometime later this week ?

[2016-01-06 21:45] #1217 closed

[2016-01-06 21:48] mchandra commented on #1217
Thanks a lot @pavanky

Is there some bug in the build system that doesn't allow the use of CUDA 7.0? I can open a new issue for that.

[2016-01-06 21:56] FilipeMaia commented on #1217
[code]
suggests that even with the right binaries you will need to ask the administrator to upgrade the CUDA driver.

[2016-01-06 22:12] pavanky commented on #1217
@mchandra can you check what is the driver version you have on the machine ?

`cat /proc/driver/nvidia/version`

[2016-01-06 22:13] mchandra commented on #1217
[code]

[2016-01-06 22:20] pavanky commented on #1217
@mchandra This is too old for CUDA 7.0 like @FilipeMaia mentioned. We are not entirely sure which version of CUDA is supported with that driver. perhaps 6.5 ? Any chance you can talk to the admins into upgrading the driver ?

[2016-01-06 22:22] mchandra commented on #1217
I could, and I know from past experience any package upgrade requests are completely useless. I'm now trying on another machine (TACC Stampede). Will let you know if it works.

[2016-01-07 12:07] ghisvail commented on #1055
Alirght, most problems were fixed with `v3.2.2`.

The following architectures (mips, powerpc, s390x) still fails because of one unit test: `Test_imageio_cpu`. This failure could well be endianness related, since all three architectures are big-endian.

[2016-01-07 15:44] shehzan10 commented on #1055
I checked the logs for the powerpc and s390x. It doesn't seem to be an endian related thing as other tests in the file are passing.
I noted that the PNG and BMP tests are failing for saveImage whereas the JPG tests are passing, which is highly peculiar.
Do you think there could be an issue with upstream libraries such as libpng?

If I gave to you a patch for the tests that would show more informat

[2016-01-07 15:48] LocutusOfBorg commented on #1055
Hi @shehzan10, I can test patches on porterboxes with not too much issues.

Just give me a commit id and I'll do a test build :)
(I leave Ghislain to answer to other points).

[2016-01-07 15:51] shehzan10 commented on #1055
I don't think I'll be committing to this arrayfire repo as its more of a debugging thing rather than a official bug fix. I can do 1 of 2 things:
1. Create a git patch and upload it to this issue.
2. Commit it to a branch in my personal arrayfire fork.

What would you prefer?

[2016-01-07 15:55] LocutusOfBorg commented on #1055
also a patch here is fine :)

[2016-01-07 15:55] LocutusOfBorg commented on #1055
I can wget github.com/project/name/commitid.patch also

[2016-01-07 16:05] shehzan10 commented on #1055
Attaching patch.
Note: Had to rename extension .patch to .txt to attach to the issue.

[test_imageio_v3.2.2.txt](https://github.com/arrayfire/arrayfire/files/81353/test_imageio_v3.2.2.txt)

[2016-01-07 16:26] ghisvail commented on #1055
@shehzan10 Because they take too much time to execute on some architectures.

[2016-01-07 16:33] ghisvail commented on #1055
@LocutusOfBorg you are gonna have to teach me this one day :)

[2016-01-07 17:00] LocutusOfBorg commented on #1055
@ghisvail you just need to be a DM and ask for access, or be a DD and have it
https://db.debian.org/machines.cgi :)

[2016-01-07 18:02] pavanky commented on #1055
@ghisvail FYI if you build arrayfire with OpenBLAS instead of ATLAS or Netlib BLAS, the tests will be significantly faster. The atlas library shipped on most distros  (atleast the debian based ones) uses only one core. The Netlib BLAS library also uses only one core at a time.

If there is an option to use OpenBLAS during the build phase and let the user choose whatever BLAS alternative he wants l

[2016-01-07 18:03] pavanky commented on #1055
@ghisvail can you also strikeout the issues that are fixed and perhaps add anything new you are seeing in the original description ?

[2016-01-07 18:20] ghisvail commented on #1055
@pavanky Thanks for the suggestion. The packaging already takes advantage of OpenBLAS if installed as a [BLAS alternative](https://wiki.debian.org/DebianScience/LinearAlgebraLibraries). However, not all architectures supports it so the default should remain Netlib for now.

[2016-01-07 18:21] ghisvail commented on #1038
This issue was not reproduced for the 3.2.x series of packaging. Closing.

[2016-01-07 18:21] #1038 closed

[2016-01-08 08:38] LocutusOfBorg commented on #1055
here you have the log file!
(only the testsuite run)
[log.zip](https://github.com/arrayfire/arrayfire/files/82404/log.zip)

[2016-01-08 13:12] pavanky commented on #1055
Interesting. It looks like the channels are flipped (bgr vs rgb) for whatever reason. Other than that the data looks good.

[2016-01-08 13:56] pavanky commented on #1055
@LocutusOfBorg

Can you test again with the following patch ?

 https://github.com/arrayfire/arrayfire/pull/1218

[2016-01-08 14:52] Markus-Goetz opened #1219 "expose getActiveBackend()"
It would be useful to be able to query which actual backend is currently being used when arrayfire is in the unified backend mode. As far as I can see this information is available internally via the AFSymbolManager class and its getActiveBackend() method, but is not exposed as an API call. Does anything speak against making this call available in the next release?

[2016-01-08 15:06] LocutusOfBorg commented on #1055
testing, it will take a little bit to build (26% now)

[2016-01-08 16:13] LocutusOfBorg commented on #1055
seems to be working correctly @ghisvail hot fix in Debian?
[code]

[2016-01-08 16:16] ghisvail commented on #1055
I am on it. What's the commit hash of the fix ?

[2016-01-08 16:21] LocutusOfBorg commented on #1055
[code]
enjoy!

(YMMW, just issued some stuff)

[2016-01-08 16:22] shehzan10 commented on #1055
I think we can merge it in so that you can use the commit from the arrayfire org repo.

[2016-01-08 16:28] LocutusOfBorg commented on #1055
as you wish, even better that way, so the commit id is easily searchable on main history
(even if I think on the next release it will be dropped because already applied)

[2016-01-08 16:33] ghisvail commented on #1055
Since I am using the upstream git repo for the packaging, I'd prefer to
cherry-pick the fix from there.

Thanks guys for fixing this btw.

[2016-01-08 16:37] shehzan10 commented on #1055
Ok, thats done.

Are there any other code patches you are using that we could integrate? If I remember correctly, I believe you are using a couple of patches for CMake config.

[2016-01-08 16:39] shehzan10 commented on #1055
The link to the patch is https://github.com/arrayfire/arrayfire/commit/5940d4bc93a5f644ffb51d699d6effa2564418c1.patch

[2016-01-08 17:36] dpo commented on #1213
@pavanky Sorry for the slow reply. I don't have direct access to a 10.11 machine, only through Travis and the brew bot, but `arrayfire` now compiles correctly on all of 10.9, 10.10 and 10.11. There might have been an OS update in the interim. So it looks all good. Thanks for the assistance!

[2016-01-08 17:36] #1213 closed

[2016-01-08 18:15] pavanky commented on #1219
@Markus-Goetz This can be added easily. It was an oversight we missed it in the last release.

As a hack you can do `getBackendId(constant(0, 1))`; This does not create any device memory so the overhead is fairly low.

[2016-01-08 19:17] pavanky commented on #1030
closing because no longer an issue.

[2016-01-08 19:17] #1030 closed

[2016-01-08 19:19] ghisvail commented on #1055
@shehzan10 Thanks for providing the commit id.

I have already forwarded all patches that could be relevant to you guys. The remaining ones are Debian specific.

[2016-01-08 19:19] pavanky commented on #615
@shehzan10 Can you check if this is still a problem in the release-test ? branch

[2016-01-08 20:49] shehzan10 commented on #615
The provided snipped is no longer throwing any errors. Marking this as completed in the clUpdates PR #1202

[2016-01-09 04:33] shehzan10 commented on #995
I tested this after #1202 and can't reproduce this any more. Can anyone else check too?

[2016-01-09 06:45] 9prady9 commented on #995
@shehzan10 will check and let you know.

[2016-01-09 07:11] 9prady9 commented on #995
@shehzan10 The tests passed fine on my machine which has NVIDIA GT650M, but we should test this on some AMD GPU.

[2016-01-10 05:04] shehzan10 commented on #995
I confirmed with multiple runs on both Intel and AMD  devices, and Linux and Windows that this is no longer happening with the PR #1202.

@pavanky if you can test this and verify, then we'll mark it as resolved in #1202 and uncomment the disabled tests from this issue.

[2016-01-10 05:12] pavanky commented on #995
@shehzan10 uncomment the tests in the PR. Let jenkins run the tests.

[2016-01-10 05:15] shehzan10 commented on #995
I tested it manually on Window-02 (AMD machine), Linux-03 (AMD) and both ran fine. Ill send the commit tomorrow.

[2016-01-10 05:17] shehzan10 commented on #1004
I believe (after running simple helloworld tests) that this was fixed by #1180. If someone can double check and close this issue, please do.

[2016-01-10 05:31] pavanky commented on #1004
@FilipeMaia can you check  this ?

[2016-01-10 18:16] shehzan10 opened #1223 "OSX Installer Fixes"
Currently, the CMake config files are part of the "Extra" package in the OSX installer.

When one or more of the libs are not selected to be installed and the extra package is, then the ArrayFireBackend.cmake files for the backend are installed anyway.

This will cause errors when building with cmake, which will complain about missing libs.

My suggestion is as follows:
* The ArrayFireBackend.cmak

[2016-01-10 21:31] #615 closed

[2016-01-11 08:18] Markus-Goetz commented on #1219
Hi pavanky, thank you, much appreciated!

[2016-01-11 11:46] FilipeMaia commented on #1004
Yes now one process does not block all the GPUs.
But still problems remain in multi GPU machines.
Arrayfire always picks the same GPU, even if it's already busy and in exclusive mode.
So starting two processes gives the following crash:
[code]

[2016-01-11 12:21] pavanky commented on #1004
@FilipeMaia Ideally the driver should hide the GPU from a secondary process when running in exclusive mode. Showing the GPU and erroring out seems to be a counter intuitive.

Either ways, can you run this with AF_PRINT_ERRORS=1 ? The documentation seems to be scarce about how to deal gracefully with exclusive compute modes. May be we can hack something together for these use cases.

[2016-01-11 12:38] FilipeMaia commented on #1004
@pavanky I agree the documentation doesn't say much. The initial device you get is guaranteed to be available, but for the others one has to try out and check the error codes. I haven't seen any nicer way to deal with this.

This is the output with AF_PRINT_ERRORS on:
[code]

[2016-01-11 13:00] Markus-Goetz opened #1224 "Inplace transpose for non-square, multi-dimensional arrays"
Hi guys,

I see why it is easier to implement inplace tranpose for square arrays only, but it would be really nice to have it for non-square matrices as well. Reason being: the data that comes in, is usually defined in row-major order (C/C++ arrays or data from files e.g. binary packed, csv, hdf5, ...), contrary to arrayfires' column major layout. After ingesting the data, I usually go about to tr

[2016-01-11 13:13] pavanky commented on #1004
@FilipeMaia can you apply this one patch and see if it changes anything ?

[code]

[2016-01-11 13:18] shehzan10 commented on #1004
This makes sense as its an issue with the CUDA driver. Even on single GPUs its going to be a problem if the user chooses to run it on the same device.

The best we can do, is perhaps "hide" the device from the user if it throws an error at cudaStreamCreate. This was the device manager will pick the next device. Alternatively, instead of hiding the device, we can try to set the next device and see

[2016-01-11 13:26] FilipeMaia commented on #1004
@pavanky Same error with the patch applied.

@shehzan10 If you're running exclusive process on a single GPU of course you can't run two arrayfire processes. But when you have free GPUs things should just work, and right now they don't because arrayfire it's actively picking a busy device instead of just taking the one that the CUDA driver assigned to it in the beginning of the process.
Not hiding,

[2016-01-11 22:29] shehzan10 commented on #1224
In place transpose operations for rectangular matrices don't work well on GPUs. In-direct solutions are to add memory and then transpose, but this isn't optimal for various reasons.

If you do not want to keep extra memory around, you can do something like this:

[code]

This should remove any memory that was used by the initial array, and only keep the transposed version.

[2016-01-11 23:12] pavanky commented on #1224
Alternatively, if you are working with matrix multiplication or other linear algebra operations, you can pass the appropriate flags that will avoid the additional copies.

[2016-01-12 06:30] mchandra opened #1226 "Improve CPU JIT performance."
Consider the following code

[code]

Here is the output:

[code]

Are the numbers as expected?

Thanks,
Mani

[2016-01-12 13:17] pavanky commented on #1226
Can you time it with the af::sync() outside the loop ?

[2016-01-12 13:23] pavanky commented on #1226
Nvm, I just checked it on a similar machine. The CPU fall back mechanism is fairly slow (especially the element wise operations) and exists solely for being a fallback mechanism for now. We are investigating ways to improve performance.

[2016-01-12 15:33] #1214 closed

[2016-01-12 15:56] shehzan10 opened #1227 "Add tests for 16bpc/48bpp images in ImageIO"
* Use 16-bit/48bpp PNG Images to tests
* Load using both loadImageNative and loadImage (and save image)
* Add 8-bit image tests for Native functions

[2016-01-12 15:57] shehzan10 opened #1228 "Bugs in ImageIO"
* Fix handling 16-bpc images in saveImage
* Fix offset for grayscale images in saveImageNative

[2016-01-12 16:58] shehzan10 opened #1230 "Use single memory struct vector for CUDA Pinned Memory Manager"
CUDA Pinned memory manager is device independent. Use a single vector instead of n-devices.

[2016-01-14 01:36] #995 closed

[2016-01-14 01:36] #1004 closed

[2016-01-14 01:36] #1227 closed

[2016-01-14 01:36] #1228 closed

[2016-01-14 01:36] #1230 closed

[2016-01-14 01:36] #1196 closed

[2016-01-14 01:36] #1219 closed

[2016-01-14 18:16] Botev opened #1231 "Port CTC to arrayfire"
I'm not sure this is not more appropriate for arrayfire-ml, however this is a primitive operation (much like convolution is) so I'm writing it here. Recently, the guys from baidu made a proper fast implementation of this. The repo is here https://github.com/baidu-research/warp-ctc, they also have and a link to a paper. It would be nice for some of the future releases this to be included.

[2016-01-15 14:50] blazzter opened #1233 "Difference of Gaussians DoG sigma: change type int/float?"
Hi, is there a reason why DoG filter takes integers for Gaussian radius/sigma? Such filter is defined generarly with real numbers and even some specific values - e.g. for Laplacian approximation are decimal combinations. This restrict spatial resolition of the filter.

[2016-01-15 16:02] pavanky commented on #1233
@blazzter A gaussian kernel technically has infinite dimensions with the values becoming smaller as the move out from the center. We need to cut it off at some point to get a discrete kernel that can be used for image processing. The row and column values provide the limits we are considering.

That said, the sigma values are still use double precision. You can choose to create gaussian kernel of

[2016-01-15 16:02] #1233 closed

[2016-01-15 17:00] blazzter commented on #1233
Just to confirm, difference of gaussians is based on different sigma values of gaussian smoothing for the same image.

DoG is defined - you choose 2 radius sizes, gaussian kernel code then assigns sigma according to these - this seems little odd here. Then it does 2 convolutions and difference and gives output

I would suggest to use something like Dog(input, sigma1, sigma2, radius/size)
inside of

[2016-01-15 18:43] pavanky commented on #1233
@blazzter Sorry about that. I did not realize you were talking about dog, I somehow read that as af::gaussianKernel.

We wanted af::dog() to support the basic functionality. But if you wanted more fine grain control, you cal just do the following:

[code]

[2016-01-15 22:23] mchandra opened #1234 "Optimal cache use using blocking"
Hi,

Suppose I have a bunch of operations to be performed on the same data, like
[code]

How do I ensure optimal use of the cache? That is, I want to load chunks of `data1, data2, data3, data4` and then use them throughout `func1` to `func10` before moving onto the next chunk. Should I be using `gfor` in some way? I think this has to do with "In-Loop Reuse" in http://www.arrayfire.com/docs/page_gf

[2016-01-16 09:22] mchandra commented on #1234
Would `dist_tile1` in http://arrayfire.com/how-to-write-vectorized-code/ be the solution to this?

[2016-01-17 17:44] blazzter commented on #1233
ok thanks, it was more of a question towards documentation, I do not think it is clear in af::dog case

[2016-01-17 18:07] pavanky commented on #1233
@blazzter Thanks we will clear up the documentation. The radius is automatically translated into a particular sigma value. We'll just note down the formula we use up front in the documentation.

[2016-01-18 16:37] pavanky commented on #1234
@mchandra I don't understand what you are trying to ask. If all of the data is already on the GPU, the only thing that you can do to improve performance is to ensure that the data is continuous. In arrayfire's case the arrays should be continuous along the first dimension.

[2016-01-18 19:39] mchandra commented on #1234
@pavanky Suppose `data1, data2, data3, data4` are large arrays whose sizes exceed the capacity of the cache of the GPU/CPU. When `func1` is called, there are 5 round trips to the global memory: 4 loads of `data1, data2, data3, data4` and 1 store of `out1`. Now when `func2` is called, again there are 5 round trips to the global memory. So, everytime one of `func` is called, there are global memory

[2016-01-18 19:45] pavanky commented on #1234
@mchandra This is going to be much much more slower than not using the for loops at all. Especially because each of the indexing operation is doing twice the amount of reads and writes as opposed to doing a simple operation. You can't control the caching mechanism of the GPU from userland. We assume our algorithms and the GPU are clever enough to handle them properly.

[2016-01-18 19:45] #1234 closed

[2016-01-18 22:22] pavanky opened #1238 "OpenCL JIT fails when the generated kernel gets too large on AMD devices"
Code to reproduce:

[code]

[2016-01-18 22:24] pavanky commented on #1238
This seems to be a bug in the driver. It gets stuck at clBuildProgram. Trying to change the max jit length to 16 (from 20) for AMD gpus seems to solve the issue.

[2016-01-19 03:44] #1238 closed

[2016-01-19 05:57] pavanky opened #1239 "Improve heuristics for Memory Management"
Right now the heuristics are fairly simplistic.

Possible improvements:

- Check for maximum available memory
- Check for alternatives to `std::map` to improve garbage collection performance
- Increase the size of max_buffers
- Allow users to tweak the max_buffers, threshold of max memory

[2016-01-22 03:48] shehzan10 opened #1243 "Tests failing in Debug Mode on Windows"
* Meanshift
    * Test copied F32 array into double-pointer array
* ORB
    * In fast_pyramid, vector indices are access after reserve rather than resize
* OCL_EXT
    * New devices are not being pushed to mPlatforms in OpenCL Device Manager

[2016-01-22 05:55] 9prady9 opened #1244 "Correct af::Window default constructors behaviour"
Currently, the following code stub, doesn't do anything which needs to resolved appropriately.

[code]

[2016-01-23 21:19] ArnaudBlanchard opened #1245 "Add proper documentation for deviceInfo"
af::deviceInfo(char *d_name, char *d_platform, char *d_toolkit, char *d_compute);

This is a dangerous function as we do not know the size of the different char* needed. I check (see below) the devprop implementation and it is :  64, 10, 64,10.

It may differ for a different platform ! ...

It should be a define or it should be indicated in the documentation / header of the function

void devprop(

[2016-01-23 22:30] pavanky commented on #1245
@shehzan10 Add minimum sizes for each buffer.

[2016-01-25 13:05] eyalroz commented on #1210
@pavanky  Where exactly would I add this this macro?

[2016-01-25 13:17] 9prady9 commented on #1210
@eyalroz Please see the changes in [this](https://github.com/arrayfire/arrayfire/pull/1211) PR. If you are using CMake for your project, it will be similar change in our project cmake build files. The change is essentially passing on the right symbol for nvcc compiler.

[2016-01-25 14:35] dillerch commented on #1210
Do you know what is causing this compiler error? I am working on a different project which does not use this library or boost at all and adding __STRICT_ANSI__ does not seem to help.

[2016-01-25 16:21] shehzan10 commented on #1245
This method was done the way it is because we did not want errors because of different versions of C to allocate and free memory. This reason was valid prior to adding `freeHost` function (v3.3).

Me recommendation is that we deprecate this API and add a new function that allocated the required memory internally. Users can then call freeHost on the pointers.

The new api would be
[code]

[2016-01-25 17:37] pavanky commented on #1210
@dillerch boost 1.6 added support for `__float128` where as `nvcc` did not. This was causing the issue. Considering that `__float128` is a gcc only extension, it can be disabled by using `__STRICT_ANSI__`. I am not sure what error you are seeing or if this will help.

[2016-01-25 18:43] eyalroz commented on #1210
Well, I did try adding this macro, but it didn't help; on the contrary, I get _more_ error messages with it... plus - I'm not using Boost 1.60, but rather Fedora 22's Boost 1.58.

[2016-01-25 19:59] pavanky commented on #1210
@eyalroz Where are you seeing this error ?

[2016-01-25 22:54] shehzan10 opened #1246 "Solve OpenCL failures on NVIDIA Maxwell"
Solve OpenCL tests fail with value errors for f32 and c32 on NVIDIA Maxwell devices (5.0 and 5.2) when `K % 4` is 1 or 2, where K is the no. of columns in B.
The failure is happening when M > N at magma_gpu_trsm prior or the returning. (https://github.com/arrayfire/arrayfire/blob/devel/src/backend/opencl/solve.cpp#L234)

This does not fail on Kepler devices.

[2016-01-26 02:54] #1243 closed

[2016-01-26 02:54] #1245 closed

[2016-01-26 20:25] mchandra opened #1247 "Give users the ability to compile custom JIT kernels."
Consider the following code:

[code]

The above code results in the firing of 3 separate kernels and hence 3 round trips to the global memory to fetch `a1, a2, a3, a4`. Instead, if there were a command like `eval(result1, result2, result3)` which fires a single kernel to compute `result1, result2, result3`, the memory would be reused inside the kernel and thus save on global reads.

[2016-01-26 20:40] pavanky commented on #1247
@mchandra This feature can not be implemented without easily in the way it is written. However we can implement something like this:

[code]

This may not look as clean as the version you'd like, but it gives more control over our JIT engine to the user.

[2016-01-26 20:42] pavanky commented on #1247
It could be implemented cleaner if we used more C++11ish stuff as well. I will need to look into it.

[2016-01-26 21:15] mchandra commented on #1247
Thanks! Our code using arrayfire has a ~ 5x penalty compared to how fast it could be, because of repeated round trips to global memory. This will help a lot. Do you think it will work on all backends?

[2016-01-26 21:18] pavanky commented on #1247
@mchandra We don't like not having feature parity. If we do it for one backend, we'll do it for everything :)

[2016-01-26 21:18] pavanky commented on #1247
It may take some time to do this though, we'll need to clean up our JIT code a tiny bit.

[2016-01-26 21:30] mchandra commented on #1247
No problem.

Also, right now the arguments of a kernel that JIT produces look like

[code]

It would be a good idea to add the `restrict` keyword to the kernels that the JIT produces, like `_global const double* restrict in0`. I think it explicitly states that the pointers are not aliased, which is indeed the case I think: `in0` and `in1` point to separate memory locations. Stating this allows for

[2016-01-26 21:38] pavanky commented on #1247
@mchandra We can't be sure that `in0` and `in1` will not have overlapping memory locations. For example a user could do something like this:

[code]

This would involve overlapping memory. We could look for special cases when memories don't overlap, but that will blow up the number of kernels being generated and could potentially increase the runtime because similar code may need to be recompiled

[2016-01-26 21:59] mchandra commented on #1247
Yeah I agree, too complicated with perhaps not very much gain in performance.

[2016-01-27 21:18] pavanky opened #1248 "Better error messages for DIM_ASSERT and ARG_ASSERT"
Right now when a dimension mismatch happens, it looks like the following:

[code]

It would be great if we can have something like this:

[code]

One way this can be achieved by adding additional macros to arrayfire like the following: `DIM_ASSERT_EQ`, `DIM_ASSERT_LT`, etc.

[2016-01-27 21:44] yshady opened #1249 "af::select() and af::replace() inconsistent and incorrect behavior across backends"
I have been struggling with those functions lately, and have managed to summarize my problems in the following snippet:

[code]

## CPU Backend
Works as expected for all options (1,2,3), and gives this (correct) output.
[code]

## CUDA Backend
Both Option 1 and Option 2 give incorrect results (in different ways). Option 3 works (same output as the CPU backend) but is 2x slower than Option 1 and 2.

[2016-01-27 22:06] pavanky commented on #1249
yikes that is bad. Thanks for bringing this to our attention. I will try to fix it ASAP.

[2016-01-28 22:21] pavanky commented on #1249
@yshady This is fixed in PR #1251. It should be in the devel branch by tomorrow.

Having said that, I think the most efficient way to implement what you are doing is to do the following:

[code]

`select` and `replace` are a little bit heavy and should ideally only be used when you expect the data to have `NaNs`.

[2016-01-29 05:53] mchandra commented on #1239
I tried out this merge on an Intel CPU and a NVIDIA GPU. On both platforms, `memsize` returns 0 and so the GC starts after 1 GB. Our application uses much more memory than that. I tweaked the threshold to 4 GB and got much better performance. Would be good if there's an option to set the `max_bytes` limit by hand.

[2016-01-29 08:33] mchandra opened #1253 "How to package correctly?"
One of the clusters we want to run our application built on arrayfire does not have gcc and arrayfire refuses to compile with icc. So I decided to compile on my own ubuntu machine, package it and then install the package on the cluster. However, I get the following errors:

[code]

I don't get the errors when I use the package from here http://ci.arrayfire.org/userContent/Linux/ArrayFire-no-gl-v3.

[2016-01-29 08:59] ghisvail opened #1254 "test/data contains copies of non-free lena image"
Please consider using an alternative freely-licensed test image. Lena is [distributable but non-free](https://lintian.debian.org/tags/license-problem-non-free-img-lenna.html), which is incompatible for packaging in most Linux distributions.

Occurences of Lena were found here:
   - test/data/bilateral/lena.png
   - test/data/meanshift/lena.png
   - test/data/morph/lena.png

Example of alternative

[2016-01-29 14:40] pavanky commented on #1253
@mchandra Our installers (including the one linked here) are compiled with MKL. So you should either compile with MKL or install cblas and lapacke on the cluster.

[2016-01-29 20:31] mchandra commented on #1253
Can you paste the command you guys use for the builds here? Thanks

[2016-01-29 21:08] pavanky commented on #1253
If you are using devel branch you can simply do the following:

[code]

[2016-01-29 21:55] mchandra commented on #1253
Thanks, that worked. Now I get this:

[code]

Any clue? I built the package on Ubuntu 14.04 LTS with gcc 4.8.4

[2016-01-29 21:57] pavanky commented on #1253
It looks like the server you are send the library to has an older libstdc++.so

[2016-01-29 22:09] mchandra commented on #1253
What is the configuration of the machine you do your builds on? I can try to match that since your builds seem to work on the cluster.

[2016-01-29 22:28] pavanky commented on #1253
We build on centos 6.x so it is forward compatible with all newer distros. If your desktop has a newer libstdc++ than your server you try to package the newer libstdc++ to your home directory and add it to `LD_LIBRARY_PATH`

[2016-01-29 22:28] #1253 closed

[2016-01-29 23:37] mchandra opened #1255 "Linking errors when compiling with icc"
Configure command:

[code]

Errors:

[code]

[2016-01-31 08:03] shehzan10 opened #1257 "Remove BUILD_GTEST Option from CMake"
The `BUILD_GTEST` option is either redundant or useless at this point.
When building in source, it is obvious that GTEST will need to be built. If using the one on system, then the USE_SYSTEM_GTEST option should be used.
This option is not used in the test/CMakeLists.txt file either.

[2016-01-31 23:06] #1249 closed

[2016-01-31 23:06] #1254 closed

[2016-01-31 23:10] #947 closed

[2016-02-01 03:14] pavanky commented on #291
Looks like this is no longer an issue.

[2016-02-01 03:14] #291 closed

[2016-02-01 23:34] #1255 closed

[2016-02-02 16:28] yshady opened #1258 "Empty array exception"
Declaring an empty array throws an exception.
Running this code:
[code]
outputs the following on the CUDA and OpenCL backends, but passes with no error on the CPU.
[code]

Is this something recreatable? Or is it just my build?

[2016-02-02 16:29] pavanky commented on #1258
Can you print `af::info()` and show us what the output is ?

[2016-02-02 16:31] yshady commented on #1258
Looks like an error because of updating the nVidia drivers this morning. Sorry for the post.
af::info()
[code]

[2016-02-02 16:31] #1258 closed

[2016-02-02 16:33] pavanky commented on #1258
Yeah you'll need to restart after installing the driver.

[2016-02-02 16:43] yshady commented on #1258
Yup. All works now. Thanks for the select/replace bug fix btw :+1:

[2016-02-02 19:01] pavanky commented on #1257
This is fixed in devel.

[2016-02-02 19:01] #1257 closed

[2016-02-02 23:08] mchandra opened #1259 "af::where segfaults in the OpenCL backend"
The following code segfaults in the OpenCL backend but runs fine with CPU backend:

[code]

[2016-02-02 23:53] pavanky commented on #1126
@rggjan Sorry about not following up on this issue earlier! I did not get a notification that you replied to the issue. We fixed a bug recently for in the devel branch that seems to have fixed the issue.

[2016-02-02 23:53] #1126 closed

[2016-02-03 00:21] mchandra opened #1261 "user configurable options"
Would be good if the user has the option of setting the following variables:

1. `MAX_JIT_LEN` in `src/backend/opencl/Array.cpp`
2. `local_0` in `evalNodes()` in `src/backend/opencl/jit.cpp`

I see ~ 40 % improvement in performance by tweaking those numbers. Currently, I have to recompile `arrayfire` every time I change the above options.

[2016-02-03 00:24] pavanky commented on #1261
@mchandra I have already added option for MAX_JIT_LEN, but how significant is the performance improvement for local_0?

[2016-02-03 00:26] mchandra commented on #1261
Most of the 40 % bump I'm seeing on an Intel CPU is by increasing `local_0` from 256 to 1024.

[2016-02-03 00:28] pavanky commented on #1261
@mchandra I can force it to be 1024 for CPU devices. From my experience it didn't change much for GPUs.

[2016-02-03 00:30] mchandra commented on #1261
Yeah sure thing.

[2016-02-03 17:13] rggjan commented on #1126
Great, thanks for letting me know :)

On Wed, Feb 3, 2016, 12:53 AM Pavan Yalamanchili <notifications@github.com>
wrote:

[2016-02-04 16:41] #1261 closed

[2016-02-04 16:41] #1259 closed

[2016-02-04 16:42] #1239 closed

[2016-02-04 18:16] shie0041 opened #1264 "homography() results depend on order of points"
Below is my post from the Google groups page with details on this issue.  It seems that the results of the homography() function depend on the order of the X and Y features passed in.  This should not be the case.

-Eric

I'm trying to use harris() and homography() to do image registration.  I start with an array called imgBase which is a 150x150 array of floats on the range [0,255].  I can plot t

[2016-02-05 08:07] bhack commented on #1098
@pavanky Seems that their are going ahead with a Sycl eigen backend. See https://github.com/tensorflow/tensorflow/issues/22. What it is really missing in the opensource deeplearning scenario is a vendor neutral high performance cudnn like API implementation

[2016-02-07 09:19] gvgit opened #1266 "How to get a video/frame superfast into arrayfire?"
I'm looking for a way to get a video processed much faster than real-time. I already took a look at [Image Processing with ArrayFire and OpenCV on the GPU](http://blog.accelereyes.com/blog/2012/09/19/image-processing-with-arrayfire-and-opencv/). Two nested for loops are shown there! This is much to slow for my needs.
Is there any other possibility to get the data from openCV into arrayfire? I coul

[2016-02-08 05:43] 9prady9 commented on #1266
The blog you read was quite old and is pertinent to an older version (v2.1) of ArrayFire. It may not be relevant to the current version. Among many differences, the current version supports integral data types (int, uint, char, uchar) apart from floating point types. Also, the double for loop you referred to is basically converting format and transposing the input, both of which can be done of GPU

[2016-02-08 20:10] #1244 closed

[2016-02-09 00:34] gvgit opened #1267 "CMake Error"
I try to configure Arrayfire with

`cmake .. -DCMAKE_INSTALL_PREFIX=/opt/arrayfire -DCMAKE_BUILD_TYPE=Release -DBUILD_CUDA=ON -DBUILD_OPENCL=OFF`

but got the error message

`CMake Error at /usr/share/cmake-2.8/Modules/FindPackageHandleStandardArgs.cmake:108 (message):
  Could NOT find CUDA (missing: CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY) (found
  version "7.5")
Call Stack (most recent call first)

[2016-02-09 00:36] pavanky commented on #1267
@gvgit can you do `ls -al /usr/local/cuda-7.5` ?

[2016-02-09 00:48] gvgit commented on #1267
`ls -al /usr/local/cuda-7.5/`
`total 72`
`drwxr-xr-x 15 root root 4096 Feb  8 19:12 .`
`drwxr-xr-x 13 root root 4096 Feb  8 19:14 ..`
`drwxr-xr-x  3 root root 4096 Feb  8 19:12 bin`
`drwxr-xr-x  5 root root 4096 Feb  8 19:12 doc`
`drwxr-xr-x  4 root root 4096 Feb  8 19:12 extras`
`drwxr-xr-x  2 root root 4096 Feb  8 19:12 include`
`drwxr-xr-x  3 root root 4096 Feb  8 19:14 lib64`
`drwxr-xr-x  8 ro

[2016-02-09 01:09] gvgit commented on #1267
It's working with cuda-7.0 but not with cuda-7.5.

[2016-02-09 02:59] pavanky commented on #1267
@gvgit what distro are you trying this on ? I'd like to test this out to see if it can be reproduced.

[2016-02-09 03:07] pavanky commented on #1267
@gvgit I just realized something. Can you try doing this after deleting everything in the build directory ?

If you installed CUDA-7.5 after arrayfire was already configured with CUDA 7.0 in the build directory, it could be causing some issues.

[2016-02-09 03:38] pavanky opened #1268 "Add the ability to copy between host and device memory intelligently"
"Intelligent" copies would benefit the users in the following scenarios:

1) CPU off loading of certain operations
2) Out of core operations (i.e. when GPU memory is not enough)
3) Improved streaming support using double buffering
4) Improved Multi-GPU support (for example all devices share same CPU memory).

Some of these features are independent of others. Some of them can be implemented on top

[2016-02-09 03:39] pavanky commented on #1268
@arrayfire/core-devel discuss away.

These features will most likely complicate threading. We should perhaps implement them once we make arrayfire thread safe.

[2016-02-09 05:03] pavanky opened #1269 "Memory leak when using median"
Code to reproduce:

[code]

Reported here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/zUBQQ1kUVT4/bcIWvZXEGQAJ

[2016-02-09 08:02] ghisvail opened #1271 "FTBFS errors building AF 3.3.alpha for selected architectures"
As promised, I ran the pre-release tagged version on the Debian builders. A few architectures failed to build from source:

- [armel](https://buildd.debian.org/status/fetch.php?pkg=arrayfire&arch=armel&ver=3.3~alpha%2Bdfsg1-1&stamp=1454987821): build failure

- [s390x](https://buildd.debian.org/status/fetch.php?pkg=arrayfire&arch=s390x&ver=3.3%7Ealpha%2Bdfsg1-1&stamp=1454978896): test failure

- [

[2016-02-09 08:43] 9prady9 commented on #1271
Updating with details for future reference.

s390x
[code]
[code]
ImageIO tests failed with value errors and one with the following error
[code]

[2016-02-09 08:43] 9prady9 commented on #1271
armel

[code]

[2016-02-09 08:47] 9prady9 commented on #1271
`sparc64` and `x32` has same error with GCC 6.0.0

[code]

[2016-02-09 08:50] 9prady9 commented on #1271
hppa again with GCC 6.0.0

[code]

[2016-02-09 19:23] pavanky commented on #1271
Oh boy. This is going to be rough.

[2016-02-09 19:36] pavanky commented on #1271
@ghisvail Do you know if we can detect `armel` and `s390x` from either cmake or gcc (using compiler flags perhaps) ?

The armel failure seems to occur because of missing hardware support for some C++11 features. We could disable that part of arrayfire for that hardware using a simple patch.

Not entirely sure why 390x is failing, but I want to try to disable async threads on that architecture as w

[2016-02-09 19:44] pavanky commented on #1271
nvm, figured out we need to use `_M_ARCH >= 6` to fix ARMEL issue.

[2016-02-09 20:02] pavanky commented on #1271
Hmm that seems to be a VS specific flag..

[2016-02-09 20:55] #1269 closed

[2016-02-10 20:02] pavanky opened #1275 "Bug in index + moddims"
Reproducing code:

[code]

output:
[code]

Expected:
[code]

[2016-02-10 20:55] pavanky opened #1276 "OpenCL-OpenGL interop possibly broken on Windows AMD GPUs"
user reported this issue on the forums:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/yaVHXY_SQOc/mJ1Xmh1JGgAJ

Currently only reported on R9 380.

[2016-02-11 07:52] gvgit commented on #1267
Ubuntu 14.04 AMD64.
I fixed it with new CUDA and new openCV installation.
Thanks

[2016-02-11 08:08] gvgit opened #1277 "Weird linker error"
I've installed Arrayfire as described in the doc. When compiling the code below I got following linker error. Besides, ```make test``` compiles fine.

[code]
[code]
[code]

[2016-02-11 09:57] #1267 closed

[2016-02-11 10:13] 9prady9 commented on #1277
I have compiled your code on my machine with the command you have provided and it linked correctly. Are you sure that you have installed ArrayFire to `/usr/local/arrayfire` ? Can you please paste the output of the following command here.

[code]

[2016-02-11 11:12] gvgit commented on #1277
I've realized that I've missed the CUDA lib's.
```nvcc -std=c++11 aftest.cpp -o aftest  -lafcuda  -lcusolver -lcudart -lcufft -lcublas```

[2016-02-11 11:13] #1277 closed

[2016-02-11 11:48] 9prady9 commented on #1277
Well, on my machine i haven't included them because i had /usr/local/cuda in my LD_LIBRARY_PATH.

I am glad you found the problem fast, some times simple mistakes like these take more than an hour to realize the problem :)

[2016-02-12 01:30] #1131 closed

[2016-02-12 01:30] #1177 closed

[2016-02-12 01:30] #1275 closed

[2016-02-12 01:31] pavanky commented on #662
@shehzan10 How about we just offloat to CPU for Intel GPUs on OSX ? We can then just mark this issue as fixed.

[2016-02-12 23:30] pavanky opened #1279 "BUG in CUDA and OpenCL JIT"
`f` should be equal to `-g` should they come out to be identical.
[code]

[2016-02-13 03:00] #1279 closed

[2016-02-13 21:42] FilipeMaia opened #1280 "Obtain arrayfire version at runtime"
It would be very useful to have a function that allows to return the arrayfire version at runtime.
One case where this would be useful is for the python bindings.

[2016-02-13 21:46] pavanky commented on #1280
This is already available since version 3.0!
you can use `af_get_version(&major, &minor, &patch);`

[2016-02-13 21:46] #1280 closed

[2016-02-13 21:46] pavanky commented on #1280
Clearly not well documented :( , but it exists.

[2016-02-13 21:47] FilipeMaia commented on #1280
Oops :flushed:, I tried to search through the documentation website, but I didn't grep the headers.

[2016-02-13 21:48] pavanky commented on #1280
You can also get the commit hash using `char *commit = af_get_revision()` This only exists in devel currently and will be available post 3.3.

[2016-02-13 21:49] FilipeMaia commented on #1280
That's very thorough, thanks :)

[2016-02-14 12:16] ghisvail commented on #1271
@pavanky  All the architecture-specific macros can be found [here](https://sourceforge.net/p/predef/wiki/Architectures/).

If you know which one(s) in particular, I can test providing the corresponding inhibition flag in the rules file. Unless you already have a patch available which I can cheery-pick :-)

[2016-02-15 11:24] jramapuram opened #1282 "Safely release Array independent of what backend is currently running"
Just ran into this issue today in arrayfire-rust. When an array's drop trait gets called and it is on the incorrect backend it segfaults. A simple solution is a popping mechanism as suggested by @9prady9 [here](https://github.com/arrayfire/arrayfire-rust/pull/54#issuecomment-184169960)

[code]

This should ideally lay in the destructor or during a call to `af_release`

[2016-02-15 15:00] gvgit opened #1283 "Issue compiling an example using feature detection and descriptor extraction"
Code below compiles fine, but when running I got following. I know, there's now argument control but I'm handling it carefully.
Can somebody explain what is going wrong?
[code]
[code]

[2016-02-15 15:35] gvgit commented on #1283
I've made an mistake, sift-function uses wrong image X-| Here's the corrected version.
[code]

[2016-02-15 15:35] #1283 closed

[2016-02-16 07:45] gvgit opened #1284 "How to restrict the size of retained best features?"
I'm searching for a way to restrict the size of retained best features. In openCV this is very easy
[code]
like described here [cv::xfeatures2d::SIFT Class Reference](http://docs.opencv.org/master/d5/d3c/classcv_1_1xfeatures2d_1_1SIFT.html#gsc.tab=0).

How can I archieve the same with [Arrayfires sift implementation](http://www.arrayfire.com/docs/group__cv__func__sift.htm)?

[2016-02-16 10:57] FilipeMaia opened #1285 "Minimum CMake version"
The `CMakeLists.txt` file says `CMAKE_MINIMUM_REQUIRED(VERSION 2.8)` but certain files (e.g. `src/backend/cuda/CMakeLists.txt`) use the `PRIVATE` keyword in `TARGET_LINK_LIBRARIES` call which was only introduced in from CMake 3.0.

This causes errors like:
[code]

[2016-02-16 11:02] FilipeMaia commented on #1285
Actually they seem to have been introduced in 2.8.12.

[2016-02-16 18:29] pavanky commented on #1284
@gvgit We use feature ratio instead of a maximum number of features.

If you want `N` features you can pass the feature_ratio to be `(float)(N) / in.elements()`

[2016-02-16 18:29] #1284 closed

[2016-02-16 21:03] shehzan10 opened #1286 "Add BUILD_* Options to Examples and Tests when building standalone"
Currently, the backends can only be turned off by moving the CMake config files.
Add BUILD_* Options only when building out of source.

[2016-02-17 08:01] mchandra opened #1289 "Cubic / Bicubic interpolation for approx1 and approx2 functions."
Documentation indicates the above options : http://www.arrayfire.com/docs/group__signal__func__approx1.htm

Doesn't look like the code exists: https://github.com/arrayfire/arrayfire/blob/devel/src/backend/opencl/approx.cpp

[2016-02-17 08:33] gvgit commented on #1284
thanks

[2016-02-17 09:18] gvgit opened #1290 "arrafire, k-means and beeing out of memory"
My data is too big for any memory, whether gpu or even cpu.

Has anybody implemented something similar to [Fast and Accurate k-means For Large Datasets](http://papers.nips.cc/paper/4362-fast-and-accurate-k-means-for-large-datasets.pdf)?

A dream to let such a k-means running on multiple gpu's.

[2016-02-17 14:13] pavanky commented on #1290
What k-means are you using ? Our example code ?

[2016-02-17 14:17] pavanky commented on #1289
@mchandra `AF_INTERP_BILINEAR` is implemented for `approx2`. for `approx1` you need to use `AF_INTERP_LINEAR`.

As for `AF_INTERP_CUBIC` and `AF_INTERP_BICUBIC`, we put the enums in place before 3.0 was released but decided to error out for now and add it as a feature at a later point.

[2016-02-17 18:28] afhuertass opened #1291 "Building with GLEW in non standar location"
Hi !

more than an issue, is that im trying to build arrayfire in a server in which i have no root access, so i install the GLEW library in my home. I have modified the FindGlew.cmake file and add  my home to some of the paths in that file.. and i can run sucessfully  "cmake . "  but when i run " make "  i get this error:

-- Using Dynamic GLEWmx Lib
CMake Error at CMakeLists.txt:60 (MESSAGE):
  G

[2016-02-17 18:34] shehzan10 commented on #1291
GLEW is also needed by Forge, which is built as an external project. You can use GLEW_ROOT_DIR to set the path when configuring CMake.
[code]
Alternatively, you can also set `BUILD_GRAPHICS` to `OFF`, but this will disable all graphics functions.

[2016-02-17 18:42] shehzan10 commented on #967
Can you check this with the clBLAS updates that were added into devel?

[2016-02-17 18:44] pavanky commented on #967
Still an issue in debug mode.

[2016-02-17 18:45] pavanky commented on #1291
@afhuertass Is there any reason you want to build arrayfire with graphics on a server ? You can follow what shehzan said to disable graphics if you are always using it remotely.

[2016-02-17 18:51] afhuertass commented on #1291
Yes i think i dont need the graphic features... i'm a begginer with this, what kind of features provided by arrayfire? so far i have used it to code some fluid simulations, but for the visualization of the data  i use gnuplot.

[2016-02-17 19:04] pavanky commented on #1291
Arrayfire has basic plotting functionality but it's primary use case high performance visualization in real time. This is achieved by keeping the data on the GPU for the entire time without having to do round trips to the CPU.

For your usecase gnuplot may be a better solution because it is more feature rich at this moment.

[2016-02-18 18:15] #662 closed

[2016-02-18 18:15] #1282 closed

[2016-02-18 18:15] #1285 closed

[2016-02-18 18:15] #1286 closed

[2016-02-18 20:18] pavanky commented on #1049
@pentschev I am assuming this is done and present in devel?

[2016-02-22 16:10] gvgit commented on #1290
Yes and CUDA-Implementations. My multi dimensional array is much larger than 12 GB, so it can't fit into my GPU-Card. I'm looking for some k-Means to handle such big arrays.

[2016-02-22 17:47] pavanky commented on #1290
You can certainly do this with some effort using arrayfire. There is no ready made solution for this. However I am not sure if this is the right avenue to discuss this issue.

[2016-02-22 19:34] Daniel-Noethen opened #1294 "Allow operations on af::seq inside GFOR"
I came up with the following code on the google user group and pavan asked me to create a feature request here on github.

[code]

[2016-02-22 19:44] pavanky commented on #1294
@Daniel-Noethen I just realized a couple of things.

1) When using sequences and GFOR, if you just use one parameter it is (0 to N - 1). If you use two parameters, it is from (first to last). In this case it is trying to access `4001` elements and will cause indexing error. In your case you should either use `gfor(seq i, N)` or `gfor(seq i, 0, N-1)`.

2) Once (1) is fixed, a simple work around wou

[2016-02-22 19:45] pavanky commented on #1294
We are investigating why (2) is necessary at the moment. It looks like multiplying with `i` with `af::Pi` is having some unforseen side effects.

[2016-02-24 09:52] pglock opened #1300 "setUnique on GPU"
setUnique() does not work as expected on a GPU, if a row vector is used.
[code]

For *col* setUnique returns [1,2,3]. For *row* however only 1 is returned.
On the CPU both tests return [1,2,3] as a column vector.

[2016-02-24 12:36] Daniel-Noethen opened #1301 "Update doc for exp() that complex input is supported now"
Hi,

I hope this is the right way to tell you that the doc is still noting that complex numbers are not supported for the exp() function. In fact, complex numbers are supported since #944.

Daniel

[2016-02-24 19:14] dvasiliu opened #1302 "Fontconfig error: Cannot load default config file on Mac OSX 10.11.3"
Hi Everyone,

I have a MacBook PRO with an NVIDIA discrete graphics card (750m) I succeeded to compile arrayfire without errors but when I try to run filters_cuda for example, I get:

ArrayFire v3.3.0 (CUDA, 64-bit Mac OSX, build fd660a0)
Platform: CUDA Toolkit 7.5, Driver: CUDA Driver Version: 7050
[0] GeForce GT 750M, 2048 MB, CUDA Compute 3.0
Fontconfig error: Cannot load default config file
Ar

[2016-02-24 19:57] shehzan10 commented on #1302
We have been able to run this on a OS X 10.11 system. Can you confirm whether you have the **Vera** font installed?

You can run `locate -i vera | grep ttf`. I believe freetype/fontconfig source the font from `/opt/X11/share/fonts/TTF/Vera.ttf`.

[2016-02-24 20:04] dvasiliu commented on #1302
Yes, when I run this command I get:

/opt/X11/share/fonts/TTF/Vera.ttf
/opt/X11/share/fonts/TTF/VeraBI.ttf
/opt/X11/share/fonts/TTF/VeraBd.ttf
/opt/X11/share/fonts/TTF/VeraIt.ttf
/opt/X11/share/fonts/TTF/VeraMoBI.ttf
/opt/X11/share/fonts/TTF/VeraMoBd.ttf
/opt/X11/share/fonts/TTF/VeraMoIt.ttf
/opt/X11/share/fonts/TTF/VeraMono.ttf
/opt/X11/share/fonts/TTF/VeraSe.ttf
/opt/X11/share/fonts/TTF/VeraSeBd

[2016-02-24 20:11] pavanky commented on #1302
@dvasiliu What version of fontconfig and freetype do you have ?

[2016-02-24 20:18] dvasiliu commented on #1302
I have fontconfig-2.11.1_2  and  freetype-2.6.3 .

[2016-02-24 20:19] dvasiliu commented on #1302
I got these packages by using "brew install".

[2016-02-24 20:22] 9prady9 commented on #1302
Can you please check if you have fontconfig installed ?

[2016-02-24 20:29] dvasiliu commented on #1302
Yes, when I type "brew install fontconfig" I get
Warning: fontconfig-2.11.1_2 already installed"

[2016-02-24 20:30] 9prady9 commented on #1302
@dvasiliu Sorry, it was by mistake, i asked you a redundant question.

[2016-02-24 20:33] dvasiliu commented on #1302
Sure, no problem. Also if I try to run the OpenCL version of any examples I get

ArrayFire v3.3.0 (OpenCL, 64-bit Mac OSX, build fd660a0)
[0] APPLE   : GeForce GT 750M, 2048 MB
-1- APPLE   : Iris Pro, 1536 MB
Segmentation fault: 11

[2016-02-24 20:34] pavanky commented on #1302
@dvasiliu what if you have `AF_DISABLE_GRAPHICS=1` before running opencl examples ?

[2016-02-24 20:35] dvasiliu commented on #1302
I tried it but I get verbatim the same error.

[2016-02-24 20:35] 9prady9 commented on #1302
`FT_New_Face` thats the freetype function that is throwing error, which makes me wonder is the font file really being found by fontconfig on your machine.

[2016-02-24 20:37] dvasiliu commented on #1302
Very interesting, I also have a Mac desktop where I installed a Titan X card and I am not getting the same errors for OpenCL but if I run the CUDA versions it is either very slow or in many cases freezes the whole computer.

[2016-02-24 20:39] dvasiliu commented on #1302
How could I check if I have FT_New_Face ?

[2016-02-24 20:40] 9prady9 commented on #1302
did you try reinstalling fontconfig and freetype ?

That is freetype library function, we can't check that unless we write code. You would have to write code using freetype and that would get complicated unless you have experience with freetype.

Let me get back to you on this.

[2016-02-24 20:47] dvasiliu commented on #1302
Yes, I tried to reinstall the libraries but I get exactly the same error. Searching for an answer I saw that some people suggest a rebuilt for fontconfig and freetype form scratch (it is a bit delicate on Mac OSX)

http://freetype-devel.nongnu.narkive.com/OZTIXGOL/ft-new-face-undefined-symbol

[2016-02-24 20:49] 9prady9 commented on #1302
I am trying to put together a small code stub that you can compile & run to see what is the issue. Please wait.

[2016-02-24 20:50] dvasiliu commented on #1302
Sure, thank you very much for all the help.

[2016-02-24 20:52] pavanky commented on #1302
@dvasiliu We've also tried testing this on one of our developer machines with the exact same hardware (and software) you seem to have. Something weird is happening..

[2016-02-24 20:52] pavanky commented on #1302
In any case, if you don't need visualization you can build arrayfire with graphics disabled to keep you going.

[2016-02-24 20:54] dvasiliu commented on #1302
Yes, it is strange as on the Mac desktop I do not get the same error although technically I have the same software and libraries installed. On the desktop the OpenCL versions of all the examples are working but the CUDA ones are very slow and/or freeze the computer.

[2016-02-24 20:57] pavanky commented on #1302
@dvasiliu for the cuda backend, are you building from scratch or did you build on your laptop and move it to the desktop ?

[2016-02-24 20:59] 9prady9 commented on #1302
Please compile and run [this](https://gist.github.com/9prady9/7625a90600df0a90b2b7) on your machine.

I used the following command to compile it.
[code]

Can you please run the executable and let me know the result.

[2016-02-24 20:59] #1300 closed

[2016-02-24 20:59] #1301 closed

[2016-02-24 20:59] #1181 closed

[2016-02-24 20:59] #1223 closed

[2016-02-24 21:01] pavanky commented on #1049
These features should be in current devel.

[2016-02-24 21:01] #1049 closed

[2016-02-24 21:02] pavanky commented on #1302
It need not be `g++`. You can use `clang++`

[2016-02-24 21:04] dvasiliu commented on #1302
Yes, because I also have gcc & gfortran 5.3 installed.

[2016-02-24 21:04] pavanky commented on #1301
Thanks for pointing this out Daniel! This has been fixed in our devel branch. Our documentation should be fixed once 3.3 is out in a couple of days.

[2016-02-24 21:05] pavanky commented on #1300
@pglock This is now fixed in devel. `setUnique` will now return whatever shape input was. `setUnion` and `setIntersect` will however return column vectors.

[2016-02-24 21:09] dvasiliu commented on #1302
When I run
clang++ -I /usr/local/include/freetype2 fc.cpp -o fc  -lfontconfig -lfreetype
it compiles without issues but then when I try to execute fc it shows
Fontconfig error: Cannot load default config file
1 error code
Segmentation fault: 11

[2016-02-24 21:12] 9prady9 commented on #1302
Okay, thats good hint. Can you change the code to call the function `loadFont` directly with this path `/opt/X11/share/fonts/TTF/Vera.ttf` i picked up that path from your earlier comment. Please amend it if necessary.

That should narrow the issue.

[2016-02-24 21:15] dvasiliu commented on #1302
I changed to loadFont("/opt/X11/share/fonts/TTF/Vera.ttf");
and I got Fontconfig error: Cannot load default config file
All is well:)

[2016-02-24 21:17] 9prady9 commented on #1302
fontconfig on your machine is for some reason not able to locate he vera font.

[2016-02-24 21:18] dvasiliu commented on #1302
It definitely seems so, but I wonder how to fix it.

[2016-02-24 21:19] 9prady9 commented on #1302
Can you try printing the `ttf_file_path` variable value before loadFont is called from loadSystemFont and see what it's returning.

[2016-02-24 21:23] dvasiliu commented on #1302
What would be the function name to print ttf_file_path ? is it sprintf(ttf_file_path) ?

[2016-02-24 21:25] dvasiliu commented on #1302
If I try printf(ttf_file_path) I get
fc.cpp:64:5: error: no matching function for call to 'printf'
    printf(ttf_file_path);
    ^~~~~~
/usr/include/stdio.h:259:6: note: candidate function not viable: no known
      conversion from 'std::string' (aka 'basic_string<char, char_traits<char>,
      allocator<char> >') to 'const char *' for 1st argument
int      printf(const char * __restrict, ...) __

[2016-02-24 21:25] 9prady9 commented on #1302
`std::cout<< "file path found is " << ttf_file_path << std::endl;`

[2016-02-24 21:27] dvasiliu commented on #1302
Thank you ! Now it compiles and says that the file path found is                      (blank)

[2016-02-24 21:29] 9prady9 commented on #1302
looks like fontconfig issue rather than code. Try loading other fonts and see if fontconfig  prints any valid path for those.

[2016-02-24 21:37] 9prady9 commented on #1302
If that didn't give any positive results, i would suggest uninstalling fontconfig completely without a trace, reboot and install it again. Hopefully that will remove the problem.

[2016-02-24 21:59] dvasiliu commented on #1302
I think I solved the fontconfig problem : I added a line in my .bash_profile such as
export FONTCONFIG_PATH=/opt/X11/lib/X11/fontconfig:$FONTCONFIG_PATH
But now I get a different error when I try to run filters_cuda (from examples) :

ArrayFire v3.3.0 (CUDA, 64-bit Mac OSX, build fd660a0)
Platform: CUDA Toolkit 7.5, Driver: CUDA Driver Version: 7050
[0] GeForce GT 750M, 2048 MB, CUDA Compute 3.0
l

[2016-02-24 22:12] dvasiliu commented on #1302
Is it possible that if I would work in Linux I will not get such error(s)? Also, what version of Linux would you recommend?

[2016-02-25 05:32] 9prady9 commented on #1302
@dvasiliu Sure, please open a different issue for that. It will be clean and clear to understand for any new readers.

We use wide range of linux distributions among our development machines and build machines, we didn't have to set such an environment variable ever before for fontconfig to function correctly.

Sure, you can give it a try on linux if that is possible for you. Any linux distributio

[2016-02-25 17:14] #1291 closed

[2016-02-25 17:17] pavanky commented on #1224
This can be easily fixed if we support "strides != 1" and negative strides in arrayfire.

[2016-02-25 17:17] #1055 closed

[2016-02-25 17:21] #329 closed

[2016-02-25 17:21] pavanky commented on #185
Not a good idea using current mechanism.

[2016-02-25 17:21] #185 closed

[2016-02-25 17:21] FilipeMaia commented on #1224
@pavanky yes please... :wink:

[2016-02-25 17:28] pavanky commented on #1224
@FilipeMaia @umar456 always wanted the strides to be more general. I always had a  problem with it because of performance concerns.

I think we can have a compromise by having different arrayfire initializing modes. The default will be "PERF" mode similar to what we have now. But  we could potentially initialize arrayfire with "MEMORY" mode where we do this and a bunch of other optimizations to co

[2016-02-25 19:24] pavanky commented on #1271
@ghisvail We tried to fix a bunch of issues as best as we could. There is no way we can test this properly before 3.3.0 release. So I'm changing this to be 3.3.1 mile stone.

As far as I can tell 3.3.0 should work with armel, but I am not sure about S390x.

[2016-02-25 19:26] ghisvail commented on #1271
No problem. I can still submit this to the experimental to get feedback from the builders anyway.

[2016-02-28 18:26] yunhunJang opened #1307 "Error when compile stand-alone examples: undefined reference to "cusolver*""
Hi,

I installed arrayfire with binary on my ubuntu 14.04 machine /usr/local.

I copied example directory into my local home directory and compile it as described in README.

However, these errors comes out, even though I have libafcuda.so.3.2.2 in exact location /usr/local/lib/

[code]

Any help would be appreciated! Thank you

[2016-02-28 18:34] shehzan10 commented on #1307
You are probably missing `/usr/local/cuda/lib64` (assuming you are running a default installation on a 64-bit machine) from your `$LD_LIBRARY_PATH`. You can run
[code]

[2016-02-28 18:36] yunhunJang commented on #1307
@shehzan10
Thank you for your reply.
But, I've already included that path in my ~/.bashrc file..
Still have same problem..
Are there any other reasons?

[2016-02-28 18:39] shehzan10 commented on #1307
What version of CUDA do you have installed?
Can you paste the output of running `cmake -LA | grep CUDA` in the build directory?

[2016-02-28 18:45] yunhunJang commented on #1307
@shehzan10
I use CUDA 7.0.

This is the output

[code]

[2016-02-28 18:48] shehzan10 commented on #1307
ArrayFire >= 3.1.1 requires CUDA 7.5

[2016-02-28 19:48] pavanky commented on #1307
@yunhunJang If you can't install a newer version of CUDA, you should be able to build arrayfire from scratch using CUDA 7.0.

[2016-02-28 19:48] #1307 closed

[2016-02-29 04:57] yunhunJang commented on #1307
@shehzan10 @pavanky
Thank you ! I installed CUDA 7.5 and it works now

[2016-02-29 13:17] pavanky commented on #1271
@ghisvail Now that 3.3.0 is released can you test again ? Right now we suggest you turn off CPU ASYNC because there may be intermittent bugs. You can do this by adding the following flag to cmake `-DBUILD_CPU_ASYNC=OFF`

[2016-02-29 14:33] ghisvail commented on #1271
For all architectures ?

[2016-02-29 14:58] pavanky commented on #1271
@ghisvail x86 and Armv7 more or less works for our tests (for gcc > 4.7.2). It's your call at this point.

[2016-02-29 15:01] ghisvail commented on #1271
Alright, I'll test without first and provide an update for the architectures where async is confirmed working. Congrats to the team for the release btw.

[2016-02-29 17:24] yunhunJang opened #1308 "Connected component on undirected graphical model"
Hi,

I'm trying to get connected component on the undirected graph.
I have adjacency matrix. (and graph is not fully-connected but their are some missing edges), and with that matrix I'm trying to get the labels of components for each node and number of components.

I've been searching, but there is only regions function which is get the connected component on image.

Are there any implementations

[2016-02-29 17:48] pavanky commented on #1308
@yunhunJang How is your adjacency matrix represented ?

[2016-02-29 18:11] shehzan10 commented on #822
Merging into #821

[2016-02-29 18:11] #822 closed

[2016-02-29 18:12] shehzan10 commented on #823
Merging into #821

[2016-02-29 18:12] #823 closed

[2016-02-29 18:16] yunhunJang commented on #1308
@pavanky
I have bipartite undirected graph (like rbm).
So my matrix is (num_vdim, num_hdim) dimension.
Having edge is 1, otherwise 0.
So, for example, if  row 2, col3 element was 1, second visible node is connected to third hidden node, and if it is 0, they are disconnected

[2016-02-29 18:35] shehzan10 commented on #821
The enum for the type of storage will be `af_sparse_type` (could also use `af_sparse_matrix_type` but I think that will be too long).

`af_sparse_type` will contain `dense`, `COO`, `CSR`, `CSC`. Do we need powers of 2 ordering for this or will a natural number sequence be enough?
Note: CSC will not be supported on OpenCL unless,
* clSparse starts supporting it
* We use the CPU fallback implementat

[2016-02-29 19:59] pavanky commented on #1271
Thanks :) but this was a smaller release than we'd hoped for.

[2016-03-01 08:28] ghisvail commented on #821
Just as an FYI, `clSPARSE` is on my packaging backlog but it is not compatible with OpenCL 2.0 yet which is Debian's default. You guys might want to push for it upstream?

[2016-03-01 09:19] pavanky commented on #821
@ghisvail I'll talk it out with Kent :)

Just curious, do you know if Debian (or any other distro) ships a cpu sparse blas library ?  We could not find anything in our search. So we are planning to use MKL for our binary installers and do a separate open source implementation as a fall back.

[2016-03-01 11:58] ghisvail commented on #821
[suitesparse](http://faculty.cse.tamu.edu/davis/suitesparse.html) ?

It's what numpy / scipy uses as a backend for sparse numerics.

[2016-03-01 14:48] pavanky commented on #821
@ghisvail It is GPL and I am not entirely sure it has a sparse matrix * dense matrix library.

[2016-03-02 20:16] pavanky opened #1311 "Return cl_mem when calling requesting device pointer for OpenCL backend."
Right now it is a (void *) of cl::Buffer *. This should not break the behavior too much anyway because people should be using helper functions from opencl.h anyway.

[2016-03-02 21:20] pavanky opened #1312 "Load libraries with SO version on Linux and OSX."
Right now unified backend loads libafXYZ.{so,dylib} instead of libafXYZ.{so.3, 3.dylib}.

[2016-03-03 03:13] anshumang opened #1313 "Speedup of cuda histogram - sanity check"
With the following modified `histogramKernel` -
`template<typename inType, typename outType, bool isLinear>
static __global__
void histogramKernel(Param<outType> out, CParam<inType> in, unsigned long long int *d_nb_blocks_completed, unsigned long long int tot_nb_blocks,
                     int len, int nbins, float minval, float maxval, int nBBS)
{
    __shared__ unsigned long long int s_nb_block

[2016-03-03 03:32] pavanky commented on #1313
@anshumang The performance will not only vary with size but also with the data distribution because of atomic operations.

That said, can you send this in a PR format to `devel` branch ? That way we'd be able to review it by looking at the differences.

[2016-03-03 03:39] pavanky commented on #1313
@anshumang
Actually reading through the kernel code it looks like a solid solution.

Only suggestion is to not hard code the blocks and threads. Instead query the CUDA device properties and launch the appropriate blocks threads from there.

An easy way to get the current device properties is to use
 `cudaDeviceProp prop = getDeviceProp(getActiveDeviceId())`.

A PR with this change will be greatly

[2016-03-03 03:41] pavanky commented on #1313
@anshumang you know what, send the PR to `hotfix-3.3.1` instead since this is not changing the API. Make sure the tests are passing.

[2016-03-03 03:46] pavanky commented on #1313
Can you also move this to the outside of the while loop and see if this improves performance ?
[code]
This change means you'll have to `break` from while instead of calling `return`.

[2016-03-03 04:23] anshumang commented on #1313
Thanks @pavanky for the review and feedback. Getting back with the PR with review comments addressed. Is it ok to only address 1D blocks in this PR?

[2016-03-03 04:29] pavanky commented on #1313
@anshumang You can keep `blocks.y` the same as it was before. It should not drop the performance for 1D  and 2D inputs.

[2016-03-03 15:36] mricherzhagen opened #1316 "af::arrray.device<>() returns NULL without eval"
Not sure if this is intended behavior. But if it is, it should be added to the documentation of `device()`:

[code]

[2016-03-03 15:43] FilipeMaia commented on #1316
This looks like a bug. You should also check if you want to use `device()` or `af_get_raw_ptr()`.

[2016-03-03 15:44] pavanky commented on #1316
I am thinking this changed since 3.3.0 release. @mricherzhagen Can you run the CPU backend by setting environment variable `AF_SYNCHRONOUS_CALLS=1` ?

[2016-03-03 15:45] shehzan10 commented on #1316
I just check this and getDevicePtr() in cpu/Array.hpp is not syncing before returning the pointer. CUDA/OpenCL sync/eval before returning the pointer.

[2016-03-03 15:55] mricherzhagen commented on #1316
I have to admit, i'm still on 3.2.2-1. Should have specified that earlier, sorry.

`AF_SYNCHRONOUS_CALLS=1` does not change anything for me.

[2016-03-03 16:03] pavanky commented on #1316
@mricherzhagen Can you check with 3.3.0, it may be *fixed*

[2016-03-03 16:18] mricherzhagen commented on #1316
I will try to do that, but i will probably not be able to until next week.

Another thing i just noticed: When i compile it without the call to `setBackend` and use `afopencl` it produces a segmentation fault without the `eval`. When the eval is present it doesn't.
Same behavior with the unified backend, because it defaults to OpenCL before CPU, i guess. (I don't have CUDA at the moment)

[2016-03-03 16:22] pavanky commented on #1316
@mricherzhagen Does the OpenCL backend work otherwise?

[2016-03-03 20:12] shehzan10 opened #1318 "Mod Operator % incorrect behaviour"
Code:
[code]

Output: (Consistent with all backends)

[2016-03-04 15:18] katramadosi commented on #1302
I also have the same setup and I installed the precompiled Arrayfire library. I get exactly the same error. I tried looking into the Arrayfire source code but couldn't figure out any bugs. Any help would be greatly appreciated. Thanks!

[2016-03-04 15:47] katramadosi commented on #1302
OK, I found the solution to this problem [here](http://stackoverflow.com/questions/35249881/octave-fontconfig-error). It goes like that:

[2016-03-04 22:22] Botev opened #1320 "Add Winograd Convolution for small filter sizes"
Relevant paper: http://arxiv.org/abs/1509.09308

[2016-03-05 04:53] pavanky commented on #1320
@Botev Read through the paper. It looks interesting. Unfortunately we are fully swamped at the moment. It would be great if you or anyone else watching this can get started with a reference CPU implementation.

[2016-03-05 11:05] Botev commented on #1320
I will potentially try, but I'm also quite berried in work. Potentially, if someone watching has the time that would be nice, otherwise I could try out in a few weeks.
And yeah there is no urgent need for this, but I think it is good to inform you guys when such things come up, so that you know their existence, as it could be quite relevant for Arrayfire.

[2016-03-05 15:42] mricherzhagen commented on #1316
I tried some of the examples and did not encounter any problems with the OpenCL backend

[2016-03-06 06:01] pavanky opened #1321 "Destructors fail when array was created on different device."
Test: benchmark/blas fails when running on non default device.

[2016-03-06 17:33] unbornchikken opened #1323 "Serious performance drop in OpenCL backend after upgrading from 3.2.2 to 3.3"
There are the results:

3.2.2 - OpenCL

[code]

3.3 - OpenCL

[code]

I'm on Windows 10. On the other hand I can see around a +10% CPU performance increase in 3.3 though, so it gotta be an OpenCL only problem.

Do you aware of this?

[2016-03-06 19:22] pavanky commented on #1323
Hmm. We just use upstream clFFT. We assumed the performance was OK. I will report a bug with a stand alone test case. Thanks for doing this btw.

Also internally we are trying to keep track of performance of some key functions to check for performance regressions. It is not automated yet and but we are in the process of doing so.

[2016-03-06 19:42] pavanky commented on #1323
The performance regression seems to have occurred between clFFT 2.8 and clFFT 2.10.

@unbornchikken if you can build arrayfire from source on your machine you can simply change the clFFT tag and rebuild it with v2.8

[2016-03-06 19:42] unbornchikken commented on #1323
The other benchmarks are affected as well, so I really doubt that is a clFFT only issue though.

[2016-03-06 19:44] pavanky commented on #1323
@unbornchikken What other benchmarks ? I just rebuilt arrayfire 3.3.0 with clFFT 2.8 and I get the old performance. Atleast in this case it is clFFT.

[2016-03-06 19:48] unbornchikken commented on #1323
In arrayfire-js the neural network example's performance has been dropped by roughly 50%. I cannot build AF and examples right now, but there should be another issues other than FFT because the NN example doesn't use that for sure.

[2016-03-06 19:49] unbornchikken commented on #1323
Could you try the nn ex at your side?

[2016-03-06 19:55] pavanky commented on #1323
If you meant the neural network example in arrayfire, I just did and the performance is identical.

If you need me to benchmark arrayfire-js, I'll need some time.

[2016-03-06 20:12] pavanky commented on #1323
@unbornchikken I do see a performance hit when I am using Tahiti instead of Hawaii GPU. Here are some numbers:

| GPU| 3.2.2 | 3.3.0|
|:------:|:-------:|:-----:|
|Tahiti| 23s  | 71s |
|Hawaii| 61s| 61s|

We do not do anything special based on architecture inside arrayfire. This could be coming from clBLAS..

[2016-03-06 21:04] unbornchikken commented on #1323
Yeah, that can sucks. Maybe it's worth to report it to upstream.

[2016-03-06 21:26] pavanky commented on #1323
Yeah we are in the process of reproducing the issues in stand alone code so we can report it upstream.

[2016-03-07 09:37] mricherzhagen commented on #1316
I compiled arrayfire from source using tag `v3.3.0` now.

I put this code into `examples/helloworld/devicePtr.cpp`:

[code]

This is the result of running the program from the build directory:
[code]
As you can see: The problem still persists in v3.3.0

Apparently my OpenCl backend in my self-compiled version is kind of broken, but that is a different issue anyway, i think. (The array initialized

[2016-03-07 13:01] FilipeMaia opened #1324 "With OpenCL af_get_data_ptr() seg faults on empty arrays"
When using the OpenCL backend calling `af_get_data_ptr()` on empty arrays causes a seg fault:
[code]

[2016-03-07 16:35] pavanky opened #1325 "Functions to get image moments"
- [x] M00
- [x] M01
- [x] M10
- [x] M11

-----------------------------------------------

Image moments could be used to get the following info about the image regions

- [ ] areas
- [ ] centroids
- [ ] Other central moments

[2016-03-07 16:52] FilipeMaia opened #1326 "Function to get min and max in single pass"
Possible could also provide mean and std deviation, and they can all be computed in the same pass.

[2016-03-07 22:53] syurkevi commented on #1325
Proposed function signature:

T moments(const array &image, af::moment=M00);
AFAPI af_err af_moments(af_array *out, const af_array image, af_moment=M00);

where enum af_moment {
M00 = 0,
M01 = 1,
M10 = 2,
M11 = 3
};

[2016-03-08 13:01] pavanky commented on #1312
Fixed.

[2016-03-08 13:01] #1312 closed

[2016-03-08 13:03] #1318 closed

[2016-03-09 13:37] HarryStorbacka opened #1329 "diag extraction additional zeros"
The example given in http://arrayfire.org/docs/group__data__func__diag.htm doesn't match the output when running the code:

Documentation example:
[code]

However, when running the code, there's an extra zero in the output:

[code]

[2016-03-09 15:22] HarryStorbacka opened #1331 "array.row returns wrong data after solve()"
The function array.row returns incorrect data when called on an af::array returned by af::solve.

[code]

Annotated output of the above code:

[code]

The behavior is the same with cpu and cuda backends. Incorrect results can also be obtained by using `w(0, span)`  and `w.rows(0,2)`.

[2016-03-09 15:35] pavanky commented on #1331
@HarryStorbacka Yikes. We'are going to fix this ASAP.

[2016-03-09 15:55] schwarrx opened #1332 "Convolve3 on multiple devices fails although it succeeds on each device individually"
Calling convolve3 on multiple devices fails with the following code, although the inner loop runs successfully on each device individually. Tested on GeForce GTX TITAN Black, 6144 MB, CUDA Compute 3.5
ArrayFire v3.4.0 (CUDA, 64-bit Linux, build 3dbb7a9)
Platform: CUDA Toolkit 7, Driver: 346.46

try {

		int ndevices = getDeviceCount();
		for (int i = 0; i < ndevices ; i++)
		{
		setDevice(i); // h

[2016-03-09 20:15] shehzan10 commented on #1323
Cross referencing upstream issue: https://github.com/clMathLibraries/clFFT/issues/134

[2016-03-10 05:33] pavanky commented on #1316
@mricherzhagen The OpenCL backend is failing because clBLAS (and arrayfire) requires OpenCL capability 1.2 or greater. The NVS 3100M only supports OpenCL 1.0.

As for the error in the CPU backend, this is going to be fixed by this PR:  https://github.com/arrayfire/arrayfire/pull/1322

[2016-03-13 12:05] zburazin opened #1335 "Setting up Eclipse for ArrayFire on Linux"
Hello

I'm very new to ArrayFire and I'm struggling to set things up to use Eclipse.

I tried using the HelloWorld.cpp example code and the "Makefile with Existing Code" option from eclipse, but I didn't manage to **make** the project:

`No rule to make target`

I guess i need to create a custom make target, but not sure what I need to put in here:

![create make target](https://cloud.githubuserco

[2016-03-13 22:59] pavanky commented on #1335
@zburazin ArrayFire uses CMake which can be used to generate Eclipse projects. Are you trying to use it Linux ? If so we can create a wiki page with some instructions.

P.S. Do not wait for days the next time :)

[2016-03-14 10:40] zburazin commented on #1335
I didn't want to a bother people with stupid questions. :D

Yes, I'm using Linux (Centos 7.2). How exactly do I generate an Eclipse project?

For example, in the meanwhile I downloaded the Project Template (https://github.com/arrayfire/arrayfire-project-templates/tree/master/CMake) and followed the short description and I got this:

[code]

What next?

[2016-03-14 14:03] pavanky commented on #1335
@zburazin What version of CUDA do you have on your system ? More importantly are you working on 64 bit or 32 bit?

[2016-03-14 14:56] zburazin commented on #1335
I have both CUDA 7.0 and 7.5 installed. I'm not sure about 32 or 64, but i presume it's 64 since its a machine used for a bunch of calculations and similar work that would benefit from a 64bit system.

I'm working remotely from home on a server at my college, so I don't have a lot of permissions on the machine itself, but i can ask for confirmation if needed.

[2016-03-14 16:37] pavanky commented on #1335
@zburazin Can you copy  the output of `uname -a` over here?

[2016-03-14 21:01] zburazin commented on #1335
Linux alfa00 3.10.0-327.4.5.el7.x86_64 #1 SMP Mon Jan 25 22:07:14 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-03-14 21:03] pavanky commented on #1335
@zburazin Excellent this should not be a problem. We will get some instructions about how to use arrayfire with eclipse ASAP.

[2016-03-14 22:04] romeric opened #1338 "BLAS benchmark not giving the right throughput for CUDA backend"
I have been running the BLAS benchmark found under examples, and the results I am obtaining with CUDA does not look right to me. I am on Intel Xeon E5-2650 v2 @2.6GHz with Nvidia Quadro K4000 GPU.

Here is performance of `matmul` single precision, with MKL backend (compiled with `-lafcpu -O3`)

    ArrayFire v3.3.0 (CPU, 64-bit Linux, build 5842ed2)
    [0] Intel: Intel(R) Xeon(R) CPU E5-2650 v2 @

[2016-03-14 22:45] pavanky commented on #1338
@romeric We straight up use cuBLAS without any modifications. Even in NVIDIA's [benchmark figures](https://developer.nvidia.com/cublas) the performance of K40 is a little above 2 TFLOPS while the theoretical limit is > 4 TFLOPS. The reason for discrepency *may be* (I am only guessing here) because of the fact NVIDIA counts the flops based on FMAD operations where as BLAS routines may not be using

[2016-03-15 05:58] RBdane2 commented on #1338
I had a similar situation last week when I installed a new gtx970. It turned out I had installed it in a pcie x8 slot (normally x16 unless there is a card in slot1). I was getting exactly half the bandwidth, until I moved slots. Now I get 2.3Tflops on the Blas benchmark.

[2016-03-15 12:12] pavanky commented on #1338
@RBdane2 According to wikipedia the theoretical peak is 3.5 TFLOPS. Also PCIE should not matter for this benchmark.. All the data is on the GPU while the benchmark is running.

[2016-03-15 12:33] pavanky commented on #1331
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:33] #1331 closed

[2016-03-15 12:33] pavanky commented on #1329
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:33] #1329 closed

[2016-03-15 12:34] pavanky commented on #1332
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:34] #1332 closed

[2016-03-15 12:34] pavanky commented on #1311
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:34] #1311 closed

[2016-03-15 12:34] pavanky commented on #1316
Fixed in hotfix 3.3.1 branch.

[2016-03-15 12:34] #1316 closed

[2016-03-15 12:34] pavanky commented on #1321
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:34] #1321 closed

[2016-03-15 12:34] pavanky commented on #1324
Fixed in hotfix-3.3.1 branch.

[2016-03-15 12:34] #1324 closed

[2016-03-15 15:17] romeric commented on #1338
@pavanky That makes sense. I have been looking at some other benchmarks, and they also achieve around the 50-60% peak for `sgemm`. For completeness, here are the `opencl` results:

    ArrayFire v3.3.0 (OpenCL, 64-bit Linux, build 5842ed2)
    [0] NVIDIA  : Quadro K4000, 3071 MB
    Benchmark N-by-N matrix multiply
     128 x  128:    57 Gflops
     256 x  256:    66 Gflops
     384 x  384:   170

[2016-03-15 17:05] pavanky commented on #1338
@romeric For OpenCL we statically link with clBLAS by default. clBLAS's default configuration is not super performant on NVIDIA GPUs but it can be tuned to improve performance. We are trying to see how we can integrate the clBLAS tuner into arrayfire.

I am closing the issue because cuBLAS performance is not a  anymore.

[2016-03-15 17:05] #1338 closed

[2016-03-15 17:55] syurkevi commented on #1335
@zburazin How are you accessing the remote machine?

[2016-03-15 20:29] unbornchikken commented on #1323
I still have performance degradation with NN at my side. Did you see that: https://github.com/clMathLibraries/clBLAS/issues/239 ? This might be the cause.

[2016-03-15 22:35] pavanky commented on #1323
@unbornchikken The fix was on for clFFT. As for clBLAS, the issue you are pointing to is for square, complex matrices. In NN example we use heavily rectangular real matrices. Those are two different issues.

We are still narrowing down the whats causing the slowdown for NN example.

[2016-03-16 08:08] Brainiarc7 commented on #1338
Hey there,

I can explain the discrepancy.

in your Nvidia panel, check whether full   FP64  compute is enabled (Double precision).

Some Quadro and Tesla GPUs have such a control, and when enabled, literally halves FP32 and FP16 compute as a saccrice for greater FP64 (Double precision) performance.

Had a similar issue with the original Titan on Linux.