[2017-06-14 18:10] WilliamTambellini commented on #1823
I just checked and all my gpus are in "default" mode :
$ nvidia-smi  --query | grep 'Compute Mode'
    Compute Mode                    : Default
    Compute Mode                    : Default
    Compute Mode                    : Default
    Compute Mode                    : Default

From man nvidia-smi :
"Default" means multiple contexts are allowed per device.

But still, AF seems to spread array

[2017-06-14 18:13] WilliamTambellini commented on #1823
Here is the current devel cuda setActiveDevice():

`int DeviceManager::setActiveDevice(int device, int nId)
{
    thread_local bool retryFlag = true;

    int numDevices = cuDevices.size();

    if (device > numDevices)
        return -1;

    int old = getActiveDeviceId();

    if(nId == -1)
        nId = getDeviceNativeId(device);

    cudaError_t err = cudaSetDevice(nId);

    if (err == cudaSu

[2017-06-14 18:31] WilliamTambellini commented on #1823
Strange, cudaErrorDeviceAlreadyInUse seems legitimate:

cudaErrorDeviceAlreadyInUse = 54
    This indicates that a call tried to access an exclusive-thread device that is already in use by a different thread.

Should I call setDevice() from all my threads ?

[2017-06-14 18:33] pavanky commented on #1823
@WilliamTambellini Can you try that, but this may still cause the same error.

[2017-06-15 05:11] polarathene opened #1825 "Whining/Squeal caused by ArrayFire program"
I'm using the Rust wrapper for several weeks now. My current program immediately causes a whining sound now for some reason until stopped. I'm a bit concerned if this could lead to hardware component damage.

It may only allocate a few hunded MB and only use 33% GPU load. Another compute program Hashcat can put the GPU at 100% load and use much more vRAM while not causing the squealing sound(presu

[2017-06-15 05:17] pavanky commented on #1825
Are you sure the sound is coming from the gpu and not the cpu fan ?

[2017-06-15 05:33] polarathene commented on #1825
@pavanky I just stressed the CPU to full load with

[code]

I undid the changes in my ArrayFire program and the squealing is removed. I've implemented processing chunks of tiled data, taking my tiled permutations of 26^5 u64 elements and chunking that into two arrays to process was fine, when I chunked it to 26^4 u64 the squealing happens...

[2017-06-15 11:23] #1811 closed

[2017-06-16 07:59] ultimaRatio opened #1827 "issue with strong bilateral"
Hi,

i've run into an issue when using strong sigma values.
I've used this [image](https://upload.wikimedia.org/wikipedia/commons/a/a2/505_W._Wisconsin_St._-_panoramio.jpg) for my example, but i could reproduce this behavior with other images.
[code]
and the result if sometimes full of 16 pixels-wide colored artefacts (like on this [image](https://mega.nz/#!2MMm3YrJ!r8AycVbsuPDDtnKZoGSvdqpxDdIjQ9j

[2017-06-16 13:52] pthon opened #1828 "approx1 support for non-uniform input data"
As far as I understood it, approx1 currently only supports uniformly distributed input data assuming the input to have a x ranging from 0 to N-1. Using translation and rescaling this allows for interpolating data on a uniform mesh.

However, non-uniformly distributed input data seems currently not supported. I would highly appreciate such a feature.

[2017-06-16 15:30] mhdarr commented on #1808
Currently avoiding issue by reverting to older driver, will put together a working example soon

[2017-06-16 15:30] mhdarr opened #1829 "Transpose failed with Large Single Dimension"
Transposing an af::array with one dimension of a value much greater than 1024*1024.
Fails on GPU but passes on CPU

Min Working Example:
[AF Minimal working Example Transpose Issue.zip](https://github.com/arrayfire/arrayfire/files/1081226/AF.Minimal.working.Example.Transpose.Issue.zip)
PC specs:
![specs](https://user-images.githubusercontent.com/13642399/27233242-bf279812-52b0-11e7-96fe-6f70373193

[2017-06-16 15:40] mlloreda commented on #1829
@mhdarr can you describe how things are failing for you?

[2017-06-16 15:54] mhdarr commented on #1829
Unhandled exception at 0x000007FEFD85A06D in AFMinExampleTransposeProblem.exe: Microsoft C++ exception: af::exception at memory location 0x000000000020EBF0.

is the message thats thrown after I call transpose on my input array

[2017-06-16 16:06] pavanky commented on #1808
If the issue is avoided by reverting to an older driver, it is a driver problem not from arrayfire.

[2017-06-16 16:06] #1808 closed

[2017-06-16 16:21] pavanky commented on #1829
@mhdarr you should put an exception handler in your `main` and show what the message is..

[2017-06-16 23:05] LegendaryKim commented on #1384
I made it with "NVIDIA CUDA Installation Guide for Mac OS X
1.1. System Requirements" in [Cuda Toolkit Documantation](http://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html#xcode-version).

My operation is MacOS 10.12.5
and I did downgrade X_Code to X_Code 8.2

1. Download [X_Code 8.2](https://developer.apple.com/download/more/)
2. Unzip "Xcode_8.2.xip" and movie it to "Applicatio

[2017-06-17 05:01] #1725 closed

[2017-06-19 05:10] ShyamSS-95 opened #1837 "Implementation of approx3"
I'd appreciate it if a 3D interpolation function `approx3` could be implemented.Just like, `approx1` and `approx2`, `approx3` should interpolate along the first 3 axes. I only need the function to be supporting linear interpolation.

[2017-06-19 05:55] pavanky commented on #1837
@ShyamSS-95 do you think you can add this to Arrayfire with a little guidance?

@9prady9 I'm traveling now, can you link to the how to guide for adding a function to Arrayfire?

[2017-06-19 06:22] 9prady9 commented on #1837
@ShyamSS-95 You can refer to [this wiki guide](https://github.com/arrayfire/arrayfire/wiki/How-to-Add-a-New-Function-to-ArrayFire) on how to add a new function.

`approx3` should be in `include/af/signal.h` and please don't forget to include version guards.

[2017-06-19 06:40] ShyamSS-95 commented on #1837
@pavanky Definitely. I'd be happy to do that :)
@9prady9  Alright. I'll look it up.

[2017-06-19 07:13] BookmanHan opened #1838 "Could I just shutdown JIT and execute my codes directly?"
JIT makes my program extremely slow, for which I would like to shutdown JIT.
Could I just shutdown JIT and execute the code directly?

Specifically, there will be a very long time for my program to speedup.
Could I just shut the JIT down?

Thanks, a lot.

[2017-06-19 07:18] 9prady9 commented on #1838
@BookmanHan I don't think JIT can be disabled. Can you please share with us a code snippet with which we can reproduce the problem you are experiencing.

[2017-06-19 07:19] BookmanHan commented on #1838
I am very sorry for being unfamiliar with AF, which is indeed a powerful tool.
I use 'for' instead of 'gfor', to make this mistake.

Friendly, if someone encounters my problem (waiting a long time to speed up), he should check the code to replace 'for' with 'gfor'.

Thanks, a lot.

[2017-06-19 07:19] #1838 closed

[2017-06-19 10:11] mhdarr commented on #1829
![exception](https://user-images.githubusercontent.com/13642399/27280485-faa2a144-54df-11e7-922c-49a515781d37.png)

[2017-06-19 10:11] mhdarr commented on #1829
![exception message](https://user-images.githubusercontent.com/13642399/27280502-0d397b8e-54e0-11e7-813c-83baece9ceb9.PNG)

[2017-06-19 15:10] pavanky commented on #1829
This issue is being dealt with in https://github.com/arrayfire/arrayfire/pull/1807

[2017-06-19 21:27] WilliamTambellini commented on #1823
@umar456  @pavanky  ok so just tried to call af::setDevice(0) from all my threads including the main one and still see different GPUs being used.
AF 3.4.2 works ok.
Should nt you mark this bug as a AF 3.5 release blocker ?

[2017-06-20 13:29] BookmanHan opened #1841 "Why my code is slow?"
Code: https://github.com/BookmanHan/CalGraph

I am implementing a computation graph similar as Tensorflow.
Code is in Main.cu, which involves Symbol.hpp and Operation.hpp.

What I encounter is that the code is too slow.
When I implement the same operations with VCL, it is much faster (x10).

ArrayFire performs considerably better than VCL.
I suppose there should be a bug?

How could I fix this pro

[2017-06-20 13:33] BookmanHan commented on #1841
When I run the code.
The memory of GPU is normal, but the load of GPU is almost zero.

[2017-06-20 13:39] BookmanHan commented on #1841
I find the issue from Solver.hpp.
Specifically, the below function is too slow.

[code]

[2017-06-20 13:43] pavanky commented on #1841
How are you benchmarking it? The first iteration is going to be slow because arrayfire compiles kernels using JIT. Subsequent calls should used the cached kernel and be faster.

[2017-06-20 13:54] BookmanHan commented on #1841
Thanks for response.
Indeed, after 10 iterations, the code speeds up nicely.

However, when I modify the code as
`
void gradient(
	af::array& derv_grad,
	af::array& derv_x,
	af::array& elem,
	af::array& grad) const
	{
		elem -= derv_elem;
	}
`
Only after one iteration, the code works very well.

Is there any way to shorten the iterations in the previous version?
Current performance is acceptable,

[2017-06-20 14:04] pavanky commented on #1841
@BookmanHan can you add `af::eval(elem)` at the end of your function ?

As a general rule of thumb, try to add `af::eval()` around the output of all the functions you have if they mostly consist of element wise operations. If there are multiple outputs (that you passed by reference), you can use `af::eval(X1, X2, .. XN)` (as long as they are the same type and dimensions).

[2017-06-20 14:10] BookmanHan commented on #1841
Oh, it works.
Finally, when I modify my code as
`
void gradient(
	af::array& derv_grad,
	af::array& derv_x,
	af::array& elem,
	af::array& grad) const
	{
		derv_grad = moment * derv_grad + (1 - moment) * grad * grad;
		af::eval(derv_grad);

		af::array derv_elem = af::sqrt(derv_x + regularization)
			/ af::sqrt(derv_grad + regularization) * grad;
		af::eval(derv_elem);

		derv_x = moment * derv_x +

[2017-06-20 14:10] #1841 closed

[2017-06-20 14:15] BookmanHan commented on #1841
Well, your suggestion is much faster.
The problem is solved.

Thanks, again.

[2017-06-20 18:04] ibtaylor opened #1842 "bug in fast docs / possible bug in implementation"
https://github.com/arrayfire/arrayfire/blob/2528d711f371b18c0f51d5f545737d5c62ea284f/src/backend/opencl/kernel/fast.cl#L29-L41

- the documentation does not agree with the comments
- the implementation does not agree with the function name
- it likely should be <,>, instead of <=,>=.

I was working on a fast implementation outside of this project and noticed this. Thought I'd drop a quick line.

[2017-06-20 19:09] pavanky commented on #1825
I don't think this has anything to do with arrayfire. This sounds like the GPU fans kicking in when under load.

[2017-06-20 19:09] #1825 closed

[2017-06-20 19:10] pavanky commented on #1801
@WilliamTambellini is this issue fixed by #1815 ?

[2017-06-20 20:15] WilliamTambellini commented on #1801
This issue is prehaps fixed with this one but probably some other recent changes about multithreading.
I would need to retry with the very latest devel branch.
Has anyone multithreaded the NeuralNetwork MNIST AF example to try on your side ?

[2017-06-20 21:12] umar456 commented on #1823
I am unable to reproduce this on a 4x K80 instance. Here is what I executed:

[code]

The code executes as expected on the same GPU as the main thread. @WilliamTambellini Can you try to see if this works on your system.

[2017-06-20 21:39] WilliamTambellini commented on #1823
Hi @umar456  it worked. You can close this one. Tks.

[2017-06-20 21:40] #1823 closed

[2017-06-21 01:35] polarathene commented on #1825
@pavanky it is not the fans and it is not under load. I have a reproducible config for my program. It's not a high pitch noise, I think the term might be coil whine. I can give it lighter work or more heavy stressful work that willl put it under load or get the fans going, this is not that.

I have identified `locate()` and the main arithmetic function in my algorithm to contribute to the noise, c

[2017-06-21 01:46] pavanky commented on #1825
@polarathene Even if we are, there is nothing much that can be done. The only thing that we can solve is if the program fails to finish (or errors out) which would mean we have an infinite loop somewhere.

[2017-06-21 01:47] pavanky commented on #1801
@WilliamTambellini I can give it a shot. Do you want me to multi thread this along the data ?

[2017-06-21 01:52] polarathene commented on #1825
@pavanky, I'm just curious what causes it and if I should be concerned about having the program run for long while that noise is made, it starts immediately and stops immediately when I stop my program. My nvidia control panel only indicates a load of 30% and no fans, temperature at normal levels etc.

It's alright since I intend the program to put the GPU under more load where this doesn't seem t

[2017-06-21 02:09] pavanky commented on #1825
@polarathene If there is some reproducible code it would be interesting to test it out. But I am not entirely sure this is unnatural behavior. GPUs make sounds under various kinds of loads. If the temperature is not rising, I wouldn't be too worried. That said, take my advice with a grain of salt.

The whine could also be coming from the power circuitry at certain power loads. If you have a way to

[2017-06-21 18:31] plavin opened #1845 "Bug in indexing after reorder"
The following code will cause the opencl backend to crash:
[code]
After this, all future calls to reorder will fail.

512 is the smallest number for which this occurs.
The bug only occurs when using span on the large dimension of b.

However, the if you access some other parts of b first, the code will not crash. For example, if you uncomment the commented line, this code will run as expected.

Th

[2017-06-21 18:33] pavanky commented on #1845
@plavin what's the output of `af::info` ?

[2017-06-21 18:35] plavin commented on #1845
[code]

[2017-06-21 18:45] pavanky commented on #1845
The problem is with `b(0, 0, span)` after reorder.

[2017-06-21 22:17] pavanky opened #1846 "Bug in Indexing an already indexed array"
The following code should print all 1s, but it doesn't.

[code]

Related to #1845

[2017-06-21 22:20] pavanky commented on #1846
This is only a problem when the step size > 1 for both indices.

[2017-06-22 03:13] #1845 closed

[2017-06-22 03:13] #1846 closed

[2017-06-22 03:33] pavanky commented on #1845
@plavin can you check the latest devel branch ?

[2017-06-22 03:35] pavanky opened #1848 "Make indexing with step sequences faster"
A more proper fix for https://github.com/arrayfire/arrayfire/pull/1847

[2017-06-22 12:41] plavin commented on #1845
Looks good. Doesn't crash and data is correct after reordering.

[2017-06-23 15:46] plavin opened #1852 "af_unwrap contains incorrect assertions"
af_unwrap() in src/api/c/unwrap.cpp contains wrong assertions on lines 37 and 38. The maximum size for a window dimension should be dim+2*padding as the padding is applied on both sides of the dimension.

For example, to following code should be valid but fails the assertion:

[code]

[2017-06-23 20:26] pavanky opened #1855 "Remove boost as a REQUIRED dependency"
It is no longer needed for CPU and CUDA backends. For the OpenCL backend only boost compute is used and it is built separately anyway.

[2017-06-23 21:10] pavanky opened #1856 "Missing symbol when building on gcc 7.1"
Command used to reproduce:

[code]

Error message:

[code]

[2017-06-23 23:15] mlloreda commented on #1856
This seems to only occur when `-DBUILD_GRAPHICS=OFF`.

[2017-06-25 03:08] pavanky commented on #1856
@mlloreda This is also only happening when I use regular blas / cblas / lapack / lapacke packages (which are single threaded) instead of openblas (which is multi threaded).

It's probably happening because the symbol is inherited from libraries that have pthread already linked to them.

[2017-06-25 03:11] pavanky commented on #1856
@umar456 do you think it is a good idea to link all liba* with thread libraries?

[2017-06-26 14:38] yang2lalang opened #1859 "Indexing for Sparse Matrix (arrays)"
Hello,

I have run into some problems trying to index an af::array that contains a CSR sparse matrix:

dims spAMatrix = [40370176 60]

when i try to index a column :

af::array column = spAMatrix.col(1);

i get an error :

terminate called after throwing an instance of 'af::exception'
  what():  ArrayFire Exception (Invalid input argument:202):
In function const ArrayInfo& getInfo(af_array, bool,

[2017-06-26 15:02] 9prady9 commented on #1859
@yang2lalang I don't think indexing is supported with sparse arrays. @pavanky / @shehzan10 Can you please confirm this.

[2017-06-26 15:24] pavanky commented on #1859
It isn't.

[2017-06-27 06:27] yang2lalang commented on #1859
What i am trying to do is to create a submatrix from this Large sparse matrix e.g. select only 3 columns to form a system  of

dims spAMatrix = [40370176 3]

Is there any suggestion of how this can be done?

Thank you

[2017-07-01 02:10] shehzan10 commented on #1859
The only way I can think of is to multiply the sparse matrix by an "identity" matrix of `Nx3` with the 1s being set in the row that you want to select the column. For example
A =
[code]
B =
[code]

Result =
[code]

Note that the 1s do not have to be in consecutive rows in B.

Stating the obvious, but this method is not good for memory usage. At least until there is support for sparse-sparse multip

[2017-07-02 18:34] EliezerIsrael commented on #1384
After downgrading XCode to 8.2, I found that I had to clear out the `build` directory and start the build from scratch.

[2017-07-02 20:09] pavanky commented on #1098
This is going to be dealt with in arrayfire-ml https://github.com/arrayfire/arrayfire-ml/pull/30

[2017-07-02 20:09] #1098 closed

[2017-07-03 06:28] pavanky opened #1862 "array.allocated is giving the wrong numbers"
code to reproduce:

[code]

[2017-07-03 07:00] pavanky commented on #1862
This is working as per the original expectation. We should probably figure out if we want to change the behavior to specify the memory use by memory manager or the original number of elements * sizeof(datatype)

[2017-07-03 07:01] pavanky commented on #1862
@umar456

[2017-07-04 00:00] gogo40 opened #1863 "Building error in version 3.5 (Ubuntu zesty)"
Hi, I`m getting this compilation error in version 3.5:

[code]

My environment is:

Distributor ID: Ubuntu
Description:    Ubuntu 17.04
Release:        17.04
Codename:       zesty

I`m building only the CPU version.

[2017-07-04 00:02] gogo40 commented on #1863
This building error isn`t happening in previous release.

[2017-07-04 01:18] pavanky commented on #1863
Did you update forge on your system?

[2017-07-04 02:13] gogo40 commented on #1863
Yes.

On Mon, Jul 3, 2017 at 10:18 PM, Pavan Yalamanchili <
notifications@github.com> wrote:

--
*Péricles Lopes Machado*

• PHD candidate at UFRGS • Software Developer

Phone: +55 51 8274 3262

Site: http://newavesoft.com/
E-Mail: pericles@newavesoft.com, pericles.raskolnikoff@gmail.com

[2017-07-04 03:12] 9prady9 commented on #1863
@gogo40 Are you using system forge or letting ArrayFire build it's own internal copy ?

If it is system forge, please make sure forge from your package manager is of v1.0.1.

If it is an ArrayFire internal forge build, kindly remove the `forge` folder under `<path to your build folder>/third_party` so that when we run `cmake <path to ArrayFire's source root>` it will reflect forge's tag update and

[2017-07-04 03:21] gogo40 commented on #1863
I`m using system forge.

Ok, I`ll try it. As I don`t use the system libforge for anything, I can
remove it without problems.

Thanks!

On Tue, Jul 4, 2017 at 12:12 AM, pradeep <notifications@github.com> wrote:

--
*Péricles Lopes Machado*

• PHD candidate at UFRGS • Software Developer

Phone: +55 51 8274 3262

Site: http://newavesoft.com/
E-Mail: pericles@newavesoft.com, pericles.raskolnikoff@gmai

[2017-07-04 03:38] pavanky commented on #1863
@gogo40 closing the issue. We can reopen if it's not fixed.

[2017-07-04 03:38] #1863 closed

[2017-07-09 19:03] FloopCZ opened #1865 "Very long initialization time on GTX 1080"
I have two NVIDIA GPU's in my PC:
[code]

Consider this simple program:
[code]

When it is run on the GTX 760, everything is working as expected. When it is run on the GTX 1080, the `af::range(10)` operation takes 53 seconds to complete. Subsequent operations are fast, though.

[code]

Notes: During the 53 seconds, one CPU thread is fully utilized, GPU seems to be inactive, however, `nvidia-smi` r

[2017-07-09 21:30] pavanky commented on #1865
@FloopCZ How did you install arrayfire ? This can happen when a CUDA application was not compiled for the right toolkit. For example if you only ad GTX 760 when you compiled arrayfire, but ended up adding the 1080 afterwards.

This should't happen if you are using the official installers.

[2017-07-09 21:45] FloopCZ commented on #1865
Hi, thank you for the info. I have installed ArrayFire from the official Arch Linux repository, which [may be missing](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/arrayfire#n35) the CUDA compute capability 6.1. I will try to build AF manually to see if it the issue persists.

[2017-07-09 23:42] FloopCZ commented on #1865
@pavanky With the official installer, the initialization time is normal. Thank you for the quick solution. I will fill a bug report on the Arch package.

[2017-07-09 23:42] #1865 closed

[2017-07-10 20:00] villekf opened #1866 "Sparse-dense matmul failing in 3.5"
Sparse-dense matrix multiplication is failing in 3.5.0 both on Windows and Ubuntu when using either CUDA or OpenCL backend (haven't tested CPU). The same code works fine when using 3.4.2. On Windows the error message is:

`Unexpected  Standard exception from MEX file.
What() is:ArrayFire Exception (Unknown error:999):

In function class af::array __cdecl af::matmul(const class af::array &,const cl

[2017-07-10 20:05] pavanky commented on #1866
@villekf What GPU are you using?

[2017-07-10 20:32] villekf commented on #1866
GTX Titan on Windows and Tesla K40 on Ubuntu.

[2017-07-10 20:55] pavanky commented on #1866
@villekf any chance you can try to send some reproducible code ?

[2017-07-11 08:24] villekf commented on #1866
This kind of code seems to reproduce it:

    float indeksi[5]={1,2,3,4,5};
    int row[2] = {0, 5};
    int col[5] = {0, 10 , 100, 1000, 4000};
    array S1 = sparse(4096, 4096, 5, indeksi, row, col, f32, AF_STORAGE_CSR, afHost);
    output = matmul(S1,constant(1,4096,1));

As a side-note, sparse matrix created from ArrayFire array seems to work fine in matmul.

[2017-07-11 15:24] pavanky commented on #1866
@villekf for CSR, the row should be the size of the actual row + 1. In your case it should be 4097.

This works:
[code]
That said we should probably error out more gracefully when encountering such issues.

[2017-07-11 16:31] Thormidable opened #1867 "Memory leak using rows and cols"
Have produced a memory leak when using rows and cols.
I have a temporary work around, but thought you would be interested in it.

Attached is a Minimum Working Example

[AF Minimal working Example memory leak.zip](https://github.com/arrayfire/arrayfire/files/1139608/AF.Minimal.working.Example.memory.leak.zip)

[2017-07-11 17:37] FloopCZ commented on #1867
I am going to paste your code in here, so that others do not have to extract the VC++ project. The code indeed seems to eat up an increasing amount of memory (tested on build `ArrayFire v3.5.0 (CPU, 64-bit Linux, build 05999f3)`)

[code]

[2017-07-11 17:39] pavanky commented on #1867
@FloopCZ Thanks for this!

[2017-07-11 17:49] pavanky commented on #1867
@umar456 replacing `.rows().cols()` with `(af::seq(), af::seq())` doesn't cause the leak. This makes me think something's up with proxy ? We may be basing it on some assumption that we broke in src/api/c..

Here's a slightly modified test to see the memory leak immediately.

[code]

@Thormidable Can you use the work around shown in `NoLeak2` ? They are functionally the same but `NoLeak2` may be fa

[2017-07-11 20:02] villekf commented on #1866
Works fine when using randu, but with

	array D1 = af::constant(1,4096, 1);

I get the same problem. Also, my actual code has row number + 1.

[2017-07-11 20:03] pavanky commented on #1866
@villekf Your original code has this:
[code]
This is not row number + 1. I'll double check with af::constant

[2017-07-11 20:07] pavanky commented on #1866
@villekf Nvm, I see you said actual code not the bug report.

Anyway, af::constant seems to cause a stall in CUDA backend while OpenCL and CPU backend work. Can you check if other backends are working for you?

[2017-07-11 20:50] villekf commented on #1866
Both OpenCL and CPU backends seem to work. Need to run some more tests tomorrow.

[2017-07-12 09:30] villekf commented on #1866
After some further testing these two test codes do not work on CUDA backend when using sparse matrix (non-sparse is fine):

	int pikselit = 4096;
	float nf = 7e-5f;
	float T = 0.5f;

	array G_ff = identity(pikselit * 2, pikselit)*nf;

	array F = sparse(join(1, identity(pikselit, pikselit), identity(pikselit, pikselit)*T));

	G_ff = matmul(F, G_ff);

and

	array S1 = sparse(identity(pikselit, pikse

[2017-07-12 21:35] plavin opened #1868 "Add Kernels to Support Arrayfire-ml Development"
The following kernels are useful for machine learning. They will benefit from being implemented at a lower level so that we can take advantage of backend specific kernels to accelerate them. cuDNN may help, for instance.

- [ ] StridedConvolve
- [ ] Pooling

[2017-07-13 03:48] juncy opened #1869 "request matrix exponential function"
We are using ArrayFire to calculate millions of spin evolution in quantum physics, in which the matrix exponential (expm) is needed for each spin and it is very time-consuming. The built-in matrix exponential function will be a good feature for the physics simulations. Thanks.

[2017-07-13 04:02] pavanky commented on #1869
Related to https://github.com/arrayfire/arrayfire/issues/904

[2017-07-13 21:39] WilliamTambellini commented on #1868
+1 for 'Batched Matmul' : if I understand right there is a gfor workaround but not optimal I guess ?

[2017-07-13 21:42] WilliamTambellini commented on #1814
Yep I m sharing some read only arrays across threads and AF was crashing whereas it was supposed to work.
I reproduced in front of @umar456  and we fixed it by adding some mutex locks in AF 3.5.
I suppose we could fix this one.

[2017-07-13 21:50] #1814 closed

[2017-07-13 21:51] pavanky commented on #1868
@WilliamTambellini right now matmul doesnt work in gfor either.

[2017-07-13 22:05] WilliamTambellini opened #1870 "topk selection"
Here is a feature request that is more and more needed for MachineLearning/NeuralNetworks but should better be implemented in AF at lowlevel (cuda, ...).

Feature: find the top k values from an input array.
Example of expected behavior:
input [4 2 1 1]
    0.399     0.735
    0.672     0.516
    0.533     0.393
    0.138     0.270

topk(2) desired indices output [2 2 1 1]
         1          0

[2017-07-13 23:09] WilliamTambellini commented on #1870
some more ref:
https://arxiv.org/pdf/0906.0231.pdf
also shows a heap based parallel topk (fig.8).

[2017-07-13 23:15] WilliamTambellini commented on #1870
this slide also briefly presents a parallel k partial sort from slide 29:
http://on-demand.gputechconf.com/gtc/2009/presentations/1034-Multi-GPU-Recommendation-System.pdf

[2017-07-13 23:37] WilliamTambellini commented on #1870
Old discussion from the forum:
https://groups.google.com/forum/#!msg/arrayfire-users/oDtQcI7afZQ/AvN3xLycwWoJ;context-place=searchin/arrayfire-users/partial$20sort%7Csort:relevance

[2017-07-14 23:34] WilliamTambellini commented on #1870
Also found an "old" paper speaking about quickSelect:
"Parallel calculation of the median and order statistics on GPUs with application to robust regression"
[1104.2732.pdf](https://github.com/arrayfire/arrayfire/files/1149867/1104.2732.pdf)

[2017-07-17 21:52] WilliamTambellini commented on #1870
Found a cuda implementation of a "kth element" based on parallel median finder/bubblesort:
https://github.com/mindbane/Parallel-Median-of-Medians-CUDA

[2017-07-18 06:04] WilliamTambellini commented on #1870
Perhaps the best references I ve found:
Google "Grinnell GPU K-Selection" implementation :
https://code.google.com/archive/p/ggks/
The paper:
http://www.math.grin.edu/~blanchaj/Research/ABGS_KSelection.pdf
@umar456  does it sounds good ?

[2017-07-18 16:43] Thormidable commented on #1867
Hey guys, only just seen this last comment.

That new workaround should suit me nicely. Will test it for speed in the next couple of days,

Thank you!

[2017-07-18 17:25] WilliamTambellini commented on #1867
This bug prevents us to upgrade to 3.5.
Could anyone add a "due date" or expected release date to AF 3.5.1 ?
Tks

[2017-07-18 18:10] pavanky commented on #1867
@WilliamTambellini doesn't the workaround help?

[2017-07-19 02:51] WilliamTambellini commented on #1870
Another very good paper: "Randomized Selection on the GPU":
http://www.lanl.gov/orgs/adtsc/publications/science_highlights_2012/docs/D_Monroe.pdf
"Both keys and values are extracted. The original list is untouched." which is exactly what I would like.
[D_Monroe - Randomized selection on the GPU.pdf](https://github.com/arrayfire/arrayfire/files/1157874/D_Monroe.-.Randomized.selection.on.the.GPU.pdf

[2017-07-19 08:45] QuantScientist opened #1873 "RuntimeError : Could not load any ArrayFire libraries (Python)"
Hi,
I installed everything on Ubuntu and I can run C++ examples.
However, when using python I get this error:

![2017-07-19 11_39_50-u7 running - oracle vm virtualbox](https://user-images.githubusercontent.com/18743986/28358391-5e1b6fe0-6c77-11e7-9e62-27ff4d56e52b.png)

What am I doing wrong?

[2017-07-19 08:56] 9prady9 commented on #1873
From the screenshot, it looks like you are using only CPU backend. Can you make sure all the libraries required by CPU backend are also in `LD_LIBRARY_PATH` ?

Going forward, if the issue is related to python bindings, please open the issue over [here](https://github.com/arrayfire/arrayfire-python/issues).

[2017-07-19 08:58] QuantScientist commented on #1873
Hi , thanks,
I am indeed using only a CPU backend for now. Which other libraries are you referring to?

[2017-07-19 09:13] 9prady9 commented on #1873
[CPU backend dependencies](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux#cpu-backend-dependencies)

[2017-07-19 09:15] QuantScientist commented on #1873
Nowhere does thE documentation state having to add CPU dependencies to LD_LIBRARY_PATH.

[2017-07-19 09:23] 9prady9 commented on #1873
If they are installed to standard locations on Ubuntu, they don't need to be added anywhere and the library loading should be smooth without any issues. However, the error you got - "ArrayFire couldn't load libraries" suggests otherwise - some dependency is either missing or not installed in standard location. Hence, I suggested you to make sure you have the dependencies available through LD_LIBRA

[2017-07-19 09:25] QuantScientist commented on #1873
Sure, I understand, but everything is standard, no amendments whatsoever, and as mentioned C++ works without any issues, and no one reported this error before (except for one person on OSX).

[2017-07-19 09:26] 9prady9 commented on #1873
I just noticed that the library SO version number is `3.6.0`. Did you build the library from source(devel branch on git) ?

When you say C++ examples, did you try running the examples with `_unified` suffix ?

[2017-07-19 10:29] QuantScientist commented on #1873
Yes, I built them from source, run the CPU version in C++.

[2017-07-19 10:34] 9prady9 commented on #1873
I am confused by your last comment, did you mean you were able to run `helloworld_unified` C++ example fine ?

[2017-07-19 11:13] 9prady9 commented on #1873
The reason I ask if `helloworld_unified` worked fine is - If the `helloworld_unified` works fine, there is not reason for python bindings to not work because python bindings loads libaf.so(unified af library) that in turn loads the actual backend libraries.

If you want to review the instructions that are listed on arrayfire-python wiki page, here's the link https://github.com/arrayfire/arrayfire-

[2017-07-19 13:48] IgorGanapolsky commented on #1497
I am still getting this error with NDK r13b and cmake 3.6.4111459:

Error:org.gradle.internal.UncheckedException: Build command failed.
Error:error: '../../release/armeabi-v7a/CMakeFiles/feature_tests.c', needed by 'CMakeFiles/andros.dir/__/__/release/armeabi-v7a/CMakeFiles/feature_tests.c.o', missing and no known rule to make it
Error:Build command failed.
Error:error: '../../release/armeabi-v7a/

[2017-07-19 15:31] pavanky commented on #1873
Please move this discussion to arrayfire-python.

[2017-07-19 15:31] #1873 closed

[2017-07-19 17:15] pthon opened #1874 "Optimization request: improve af::convolve for small kernel sizes"
As discussed in [arrayfire-python #145](https://github.com/arrayfire/arrayfire-python/issues/145#issuecomment-315504614), af::convolve is currently falling back to fft+ifft for huger array sizes even if the kernel is very small (e.g. 3x3x3). This results in a performance loss for small sized convolution kernels.

As a benchmark, I timed a convolution with a 3x3x3 kernel against a single fft and pl

[2017-07-19 17:18] FloopCZ commented on #1874
Relates to #1320.

[2017-07-19 17:23] pavanky commented on #1874
@FloopCZ AFAIK winograd is for 1D / 2D kernels. I could be wrong.

[2017-07-19 17:24] pavanky commented on #1874
@pthon I was wrong, for a 3x3x3 kernel, it is performing convolution in time domain. Perhaps what needs to be done is optimize the CUDA kernel for this size.

[2017-07-20 04:52] pavanky opened #1875 "Return the dimensions of the original data being held by the array."

[2017-07-20 05:48] 9prady9 commented on #1497
@IgorGanapolsky We don't test ArrayFire source against Android NDK on any of our build systems. We don't claim the support as well for any ArrayFire version > 3.0. If you are trying to use it with NDK, that would entail some code tweaking on your part for the aforementioned reason. The only ARM setup we test ArrayFire on our build servers is on NVIDIA Tegra boards. You are always welcome to raise

[2017-07-20 06:12] 9prady9 commented on #1497
@schuhschuh DEPENDS argument in `add_custom_target` can take normal FILES also according to CMake documentation. I tried ninja with latest devel on my Ubuntu(16.04) and the target cl2hpp built fine without any changes to `build_cl2hpp` file. Closing the issue for now. If you are still facing the issue, please reopen.

[2017-07-20 06:12] #1497 closed

[2017-07-20 11:33] QuantScientist opened #1878 "ReadinG DCOM image files"
Hi,
I am trying to replicate this Kaggle example: https://www.kaggle.com/ankasor/improved-lung-segmentation-using-watershed but using ArrayFire.

I looked around and couldn't find anything related to that here. I did find other C++/Python libs to read DCOM files, but I want to do everything using ArrayFire. Has anyone done anything like this or will I have to write this on my own?

Thanks,

[2017-07-20 13:01] umar456 commented on #1856
Fixed via #1872

[2017-07-20 13:01] #1856 closed

[2017-07-20 19:58] QuantScientist commented on #1870
very interesting. What is your use case for this?

[2017-07-21 09:03] 9prady9 opened #1880 "Element-wise GCD"
[code]
if there are multiple algorithms to compute gcd, then may be

[code]

[2017-07-21 15:29] pavanky commented on #1880
This is not trivial and there'll be a lot of thread divergence.

[2017-07-21 15:32] 9prady9 commented on #1880
We can move it into `timeless` milestone.

[2017-07-21 21:17] WilliamTambellini commented on #1870
Hi @QuantScientist  My use case is the regular NN post softmax best candidates selection.

News: an openCL/ViennaCL implementation of topk via radix select:
https://github.com/vpa1977/smalltests/blob/master/radix_select.hpp
line 296:
/*
Select N smallest values from basic_type vector
*/
template<typename basic_type>
struct radix_select
{
....
radix_select(int size, const viennacl::context& ctx) {

[2017-07-25 08:46] JosefJerabek opened #1882 "matmulTT(A,B) not same as matmul(transpose(A), transpose(B)) if B is submatrix"
The result obtained by  **af::matmulTT(A, B)** is not same as the result obtained by **af::matmul(af::transpose(A), af::transpose(B))** if B is obtained as submatrix (B = BB(0, af::span))

[code]

[2017-07-25 23:35] WilliamTambellini commented on #1870
Facebook implementation over cuda:
https://github.com/facebook/fbcuda/blob/master/TopKElements.cuh

[2017-07-25 23:49] WilliamTambellini commented on #1870
If I resume correctly, the options are:
- quickSelect
- radixSelect
- bucketSelect
- randomizedSelect
To be continued...

[2017-07-26 00:19] WilliamTambellini commented on #1870
Funny: both Tensorflow and Theano are also working on gpu topk:
https://github.com/tensorflow/tensorflow/issues/5719
https://github.com/Theano/Theano/pull/5959
Looks like they are more into radixSelect:
https://github.com/Theano/Theano/pull/5959/commits/ae212a7680d860879b7abb6f4954b72c8b2e5f15#diff-82c09ae646dfbba2e8ae35c42c61486b

[2017-07-26 10:29] PeterMJ commented on #1175
Although this is an old ticket, I am also getting this issue with window 10 MSVC 2017. info() prints:

The stack trace for the error is:

2  DwmGetDxSharedSurface                                                  USER32                0x7ffe26ace25d
3  DwmGetDxSharedSurface                                                  USER32                0x7ffe26ace0cf
4  SoftModalMessageBox

[2017-07-26 12:15] Tmbao opened #1884 "Sparse - dense Matmul with transpose"
Hello,

I used af::matmul to multiply a sparse matrix and a dense one.

[code]

As sparse matrix type doesn't support transpose, I used the transpose params in the matmul function. However, it threw
[code]

Did I use the matmul function correctly?

[2017-07-26 17:38] jgeorger opened #1885 "Kronecker product"
I would like to see the kronecker product brought back:
https://www.accelereyes.com/arrayfire/c/group__math__func__kron.htm

[2017-07-26 20:13] Chronum94 opened #1886 "Double precision emulation using 2 floats (double-float)"
Consumer-grade GPUs are _severely_ stunted when it comes to FP64 computing power, and many of the scientific applications that can potentially gain speedups of >20-30x are hindered because of that performance gain only being possible on FP32, which may not be possible to use for many purposes (particularly PDE simulations, FDTD, FDFD, BPM, et al)

1. http://hal.archives-ouvertes.fr/docs/00/06/33/5

[2017-07-26 20:24] pavanky commented on #1886
This adds increased complexity in the codebase, increased compilation times, and increased binary sizes. We will also need to implement BLAS and FFT libraries for this data type (across 3 different backends).

Are the benefits from this really worth all this effort?

[2017-07-26 20:29] Chronum94 commented on #1886
Heh. When you put it that way, one is more inclined to just make the application-specific implementation of it. Point taken.

The idea that I had while suggesting it was that  this would allow more affordable hardware to do FP64 work, but the full perspective of the required work presents a near-unnecessary challenge.

[2017-07-26 23:17] pavanky commented on #1867
Fixed in hotfixes-3.5.1

[2017-07-26 23:17] #1867 closed

[2017-07-26 23:18] pavanky commented on #1882
Fixed in hotfixes-3.5.1

[2017-07-26 23:18] #1882 closed

[2017-07-26 23:18] pavanky commented on #1862
Fixed in hotfixes-3.5.1

[2017-07-26 23:18] #1862 closed

[2017-07-26 23:19] pavanky commented on #1852
Fixed in hotfixes-3.5.1

[2017-07-26 23:19] #1852 closed

[2017-07-26 23:19] pavanky commented on #1827
@9prady9 any progress on this?

[2017-07-26 23:25] pavanky commented on #1579
@ghisvail, @umar456 is working on cleaning up cmake files in arrayfire in https://github.com/arrayfire/arrayfire/pull/1861. If you have any feedback on how to improve cblas and lapacke detection, please leave a comment there.

[2017-07-26 23:26] pavanky commented on #1618
This has been implemented in https://github.com/arrayfire/arrayfire/pull/1696

[2017-07-26 23:26] #1618 closed

[2017-07-26 23:28] pavanky commented on #1374
Closing this since we support CLBlast. Any requests for perf improvements can be done upstream.

[2017-07-26 23:28] #1374 closed

[2017-07-26 23:28] pavanky commented on #621
@umar456  will https://github.com/arrayfire/arrayfire/pull/1861 solve this?

[2017-07-26 23:44] umar456 commented on #621
It can. We will still have the header problem listed above. I have added code for it [here](https://github.com/umar456/arrayfire/blob/cmake/CMakeLists.txt#L297). I think we can make this work if we modify the arrayfire.h header to include the framework header it is being compiled on OSX.

[2017-07-27 02:36] 9prady9 commented on #1827
Haven't looked into it yet.

[2017-07-27 05:49] WilliamTambellini commented on #1867
Hi all, I see a crash with AF 3.4 and I m using this kind of chain of rows/cols.
Is nt AF 3.4  also impacted by this bug ?
Kind
W.

[2017-07-27 06:29] pavanky commented on #1867
@WilliamTambellini Generally the bug fixes are not backported older branches (mostly because there hasn't been a request for it).

 But if you are stuck with 3.4 for various reasons you can talk to @umar456 about creating a custom installer.

Alternatively, this bug only comes into play when you use `A.rows(x).cols(y)`. The simpler thing to do would be to use `A(x, y)` which shouldnt have this iss

[2017-07-27 06:41] WilliamTambellini commented on #1867
Hi @pavanky
I m using
af::array(data_.rows(i,i+p)).cols(j, j+q)
- can I use indexes/af::seq to do that ?
- do you confirm the bug is also in AF 3.4 ?
Cheers

[2017-07-27 06:50] pavanky commented on #1867
@WilliamTambellini

code:
[code]

results:
[code]

[2017-07-27 06:52] pavanky commented on #1867
@WilliamTambellini

I haven't personally tested this, but the code changed in this pr hasn't been modified in a long time.

[2017-07-27 09:31] ghisvail commented on #1579
@pavanky thanks for the heads-up. I have not started working on packaging `3.5.x` yet, so I don't have much feedback to provide at the moment. I'll make sure to forward any quirks to the issue you mentioned.

[2017-07-27 23:02] WilliamTambellini opened #1887 "Crash in af_assign_seq() on AWS P2 K80"
Hi all
I m experimenting a crash at least with AF 3.4 with nvidia driver 375.66. Cannot reproduce with older versions like 375.39.
My code (a1 and a2 are 2 dense af arrays):
 a1( af::seq(i, i+a2.dims(0)-1), af::seq(j, j+a2.dims(1)-1) ) = a2;

The bt:
`
(gdb) bt
#0  0x00007f389cae52cc in ?? () from /usr/lib/nvidia-375/libnvidia-ptxjitcompiler.so.375.66
#1  0x00007f389cb2c77d in ?? () from /usr/lib/

[2017-07-27 23:17] pavanky commented on #1887
If it is a problem with a particular driver version, I don't know why this is an arrayfire issue.

[2017-07-27 23:43] WilliamTambellini commented on #1887
corrected with latest investigation: always crash on AWS P2 CentOS7 whatever the nvidia drivers.

[2017-07-27 23:50] pavanky commented on #1887
Please provide reproducible code. If not there's no way to investigate this.

[2017-07-27 23:50] #1887 closed

[2017-07-27 23:51] pavanky commented on #1887
Issue can be reopened if there's reproducible code.

[2017-07-28 00:05] WilliamTambellini commented on #1867
Ok thanks @pavanky. Trying ...

[2017-07-28 00:19] pavanky commented on #1886
BTW as far as I can tell these types of problems are bandwidth bound so the computation flops being low should not be an issue.

Closing this issue for now.

[2017-07-28 00:19] #1886 closed

[2017-07-28 00:20] pavanky commented on #1884
@Tmbao what's the output of `af::info()` ?

[2017-07-28 00:25] pavanky commented on #1884
@Tmbao The options for `af::matmul` is an enum. Using bool is causing the issue. try using `af::matmulTN(a, b)` or `af::matmul(a, b, AF_MAT_TRANS, AF_MAT_NONE);`.

This is not a bug.

[2017-07-28 00:25] #1884 closed

[2017-07-28 16:51] WilliamTambellini commented on #1867
So, I ve valgrinded before and after doing the change and in both case valgrind does not find any leak. Anyway, seems simply safer with AF 3.4 not to use .rows().cols() but indexing with seq.
Thank you @pavanky
W.

[2017-07-28 17:43] pavanky commented on #1867
@WilliamTambellini I am not sure valgrind can catch this (especially if you are not using CPU backend). A simple solution would be to put `af::printMemInfo()` and see if the number of locked buffers are increasing.

[2017-07-28 17:48] WilliamTambellini commented on #1870
Naive cuda implementation of radixSelect from stackoverflow : unknown performance:
[radixSelect.cu.txt](https://github.com/arrayfire/arrayfire/files/1183858/radixSelect.cu.txt)
Makefile:
radixSelect: radixSelect.cu
	nvcc -gencode=arch=compute_60,code=sm_60 -gencode=arch=compute_60,code=compute_60 --compiler-options -fno-strict-aliasing -I/usr/local/cuda/include -I/usr/local/cuda-8.0/samples/common

[2017-07-28 17:52] pavanky commented on #1870
@umar456 Once this is done, don't forget to modify `nearestNeighbour` to use topk internally.

[2017-07-31 21:25] pavanky commented on #1866
Fixed in hotfixes-3.5.1

[2017-07-31 21:25] #1866 closed

[2017-07-31 21:47] pavanky commented on #1842
@9prady9 can you look at this?

[2017-08-01 08:47] 9prady9 commented on #1842
@ibtaylor Thanks for reporting this. I shall send in a fix and this should be available in 3.5.1 release.

[2017-08-02 05:56] 9prady9 opened #1894 "CUDA JIT launch configuration failure at large sizes"
Reported on Google forums by Aaron W. Hsu

Code used to reproduce this. The issue is present in CUDA backend alone. CPU/OpenCL backends are working fine. Also, If I bring the size down low enough (1024 * 1024) then it works, and if I use a constant() form instead of a singleton mutable array value, it also works.
[code]

Error
[code]

I was able to reproduce this on hotifxes branch on my end as we

[2017-08-02 06:04] pavanky commented on #1894
being fixed in https://github.com/arrayfire/arrayfire/pull/1893

[2017-08-02 06:05] 9prady9 commented on #1894
@pavanky You have more commits coming in for that PR ?

[2017-08-02 06:29] pavanky commented on #1894
@9prady9 yes fixing this very case. Apparently my assumption that drvier api and runtime api have same launch limitations was wrong.

[2017-08-02 07:08] pavanky commented on #1894
Shortest way to reproduce the same issue:

[code]

[2017-08-02 07:23] pavanky commented on #1894
@9prady9 check now.

[2017-08-02 07:32] 9prady9 commented on #1894
@pavanky Awesome, that worked.

[2017-08-02 07:42] pavanky commented on #1713
making this duplicate of https://github.com/arrayfire/arrayfire/issues/1379 and fixing the issue.

[2017-08-02 07:42] #1713 closed

[2017-08-02 07:44] pavanky commented on #1842
Fixed in hotfixes-3.5.1

[2017-08-02 07:44] #1842 closed

[2017-08-02 07:48] pavanky commented on #1400
Fixed in https://github.com/arrayfire/arrayfire/pull/1836

[2017-08-02 07:56] 9prady9 commented on #1827
@ultimaRatio Sorry about the delay in looking into this. I have checked with large spatial sigmas (even 21f you use in your example) that are possible on my device with a smaller image and I didn't notice any artifacts.

I was able to test until `10` spatial sigma with your 4kx3k image and didn't notice artifacts. For more larger sigmas, my machines hangs after a while though or the kernel times o

[2017-08-02 08:05] pavanky commented on #1575
@ghisvail closing this for now. Let me know if this is still an issue.

[2017-08-02 08:05] #1575 closed

[2017-08-02 08:06] pavanky opened #1896 "Implement CPU JIT using LLVM"
Keep using TNJ as the fallback if LLVM is not available for a platform.

[2017-08-02 08:12] pavanky commented on #1226
With 3.4.1
[code]

With 3.5.0
[code]

With https://github.com/arrayfire/arrayfire/pull/1890
[code]

[2017-08-02 08:14] pavanky commented on #1226
@mchandra More improvements will come through https://github.com/arrayfire/arrayfire/issues/1401

[2017-08-02 23:33] pavanky commented on #1226
Fixed in hotfixes-3.5.1

[2017-08-02 23:33] #1226 closed

[2017-08-02 23:33] pavanky commented on #1677
Fixed in hotfixes-3.5.1

[2017-08-02 23:33] #1677 closed

[2017-08-02 23:34] pavanky commented on #1379
Fixed in hotfixes-3.5.1

[2017-08-02 23:34] #1379 closed

[2017-08-02 23:34] pavanky commented on #1894
Fixed in hotfixes-3.5.1

[2017-08-02 23:34] #1894 closed

[2017-08-02 23:34] pavanky commented on #1700
Fixed in hotfixes-3.5.1

[2017-08-02 23:34] #1700 closed

[2017-08-07 06:08] JosefJerabek opened #1900 "Documentation: Introduction to vectorization"
https://arrayfire.com/introduction-to-vectorization/
"The details of this vectorization method can be found in the [GFOR documentation](https://arrayfire.com/introduction-to-vectorization/page_gfor.htm#gfor)." ... The mentioned link is invalid.

[2017-08-07 06:40] 9prady9 commented on #1900
@JosefJerabek They should be fixed now, please check. Sorry for the inconvenience.

[2017-08-07 07:03] #1900 closed

[2017-08-07 08:06] JosefJerabek opened #1901 "gfor example matmul failed"
The code in example for gfor http://arrayfire.org/docs/page_gfor.htm (most bottom) fails.
[code]
Error message: matmul can not be used in batch mode

[2017-08-07 08:14] pavanky commented on #1901
This is being fixed in https://github.com/arrayfire/arrayfire/pull/1898

[2017-08-09 09:31] gitansh95 opened #1902 "Stuck at Test #126 (Test_canny_opencl) when I run `make test`"
I built ArrayFire from source :
`mkdir build` (inside arrayfire folder where I cloned the git repo, did `git submodule init` and `git submodule update`)
`cd build`
`cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_OPENCL=ON -DCMAKE_INSTALL_PREFIX=package`

I have installed Intel OpenCL runtime binaries (http://registrationcenter-download.intel.com/akdlm/irc_nas/9019/opencl_runtime_16.1.1_x64_ubuntu_6.4

[2017-08-09 09:50] pavanky commented on #1902
@gitansh95 can you show output of `af::info()` ?

@umar456 Is this the same canny bug you were investigating?

[2017-08-09 10:01] ShyamSS-95 commented on #1902
I have the same issue. I'm also stuck on `Test_canny_opencl` upon running `make test`. This is the output given by `./test/canny_opencl`:
[code]
It's stuck at this point. This is the output given by `af::info()`:
[code]

[2017-08-09 10:09] gitansh95 commented on #1902
The output of `af::info()`:
[code]

[2017-08-10 03:10] pavanky commented on #1902
This seems like an intel bug. I just put a print after the end of the while loop:

[code]
Ideally this should only print  `group (x, y)` only once, but I see stuff like this being printed multiple times.

[code]

[2017-08-12 08:54] Lokkij commented on #1808
I am getting this exact same behaviour with an AMD R9 Fury with the following drivers (latest) and code:
[code]

[code]

I will try rolling back to various driver versions tomorrow, but the fact that this happens on both NVIDIA and AMD cards is interesting -- do both of them have the exact same issue in their drivers, or is there something else going on?

[2017-08-17 06:10] WilliamTambellini commented on #1870
Found an 'old' article but still relevant about radix select strategies:
"Radix selection algorithm for the kth order statistic"
[Radix selection algo for the kth order stat - a4.pdf](https://github.com/arrayfire/arrayfire/files/1230254/Radix.selection.algo.for.the.kth.order.stat.-.a4.pdf)
@umar456  would you have any early ProofOfConcept results from your experiments ?
Cheers

[2017-08-17 06:37] WilliamTambellini commented on #1870
Interesting: few days ago, someone has implemented (at least in cuda) and merged into TensorFlow a  heap-based topk:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/topk_op_gpu.cu.cc
The license is Apache so I suppose it should be allowed to adapt it for AF.
Someone reports tedious performance compared to CPU but he is using very small input arrays.
TBC

[2017-08-17 20:58] hokiedsp opened #1906 "VC++ nagging warning C4275 on af::exception"
Hi,

Compiling my program with Visual Studio 2017, I get this nagging warning from "af/exception.h" header file:

"warning C4275: non dll-interface class 'std::exception' used as base for dll-interface class 'af::exception"

I doesn't appear to be anything major, but just in case...

Thanks

[2017-08-19 05:20] pavanky commented on #1906
This is a warning that an be ignored: https://msdn.microsoft.com/en-us/library/3tdb471s.aspx

You can disable this in userland using `#pragma warning`
 https://stackoverflow.com/questions/7159348/disable-single-warning-error

[2017-08-19 05:20] #1906 closed

[2017-08-19 19:36] stasikz opened #1908 "Performance of slicing 3D arrays depends on the size of the third dimension"
Hallo,

Maybe it is a bug, or I missunderstood something, but it seems, that by increasing a third dimension of the 3D array and trying to access the slice, it slows down the program depending on the size of the 3rd dim.

Here is my example:

[code]

If I increase the Z-dimenstion e.g. from 64 to 128 the speed dropes by 50%.
I thought that by slicing I get a contiguous copy of the data slice from

[2017-08-20 03:29] pavanky commented on #1908
When you are writing to `buffer.slice()` it needs to make an additional copy. This is because arrayfire arrays are copy-on-write.

This is done to ensure the following cases work:
[code]
But if there are no other references to that memory, the additional copy should not happen. You can control this by trying out the following:

1) Try using `buffer(span, span, i)`. I am not sure if `buffer.slice`

[2017-08-20 03:29] #1908 closed

[2017-08-22 20:34] mchandra opened #1909 "Environment variable to choose device given multiple backends"
Suppose one has two backends, say `CUDA` and `OPENCL`, then there is currently no way to choose a device of a specific backend using an environment variable, like the ones listed in http://arrayfire.org/docs/configuring_environment.htm

It'd be great if we have an option like `AF_DEFAULT_DEVICE=OPENCL_1` which would set `device=1` with the `OPENCL` backend.

[2017-08-23 03:49] 9prady9 opened #1910 "JIT Issue on Tegra TX Devices"
NVRTC is failing to compile the kernel strings on tegra devices.

[code]
Reported [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/arrayfire-users/vY-Iex7kuE0/EGQ4SxhQBAAJ) initially. We are also able to reproduce this on our side. [Build server log](http://ci.arrayfire.org/job/arrayfire-tegrax1/job/test/job/devel/49/console).

[2017-08-24 21:22] WilliamTambellini opened #1911 "Add support for sparse sparse arrays addition"
Hi all
Looks like
sparse + sparse = sparse
is not supported at least with 3.5.0:
`  std::vector<float> onefloat; onefloat.push_back(1);
    af::array values(1, &onefloat[0]);

    std::vector<int32_t> oneint; oneint.push_back(1);
    af::array rowIdx(1, &oneint[0]);
    af::array colIdx(1, &oneint[0]);

    af::array A1 = af::sparse(3,3, values, rowIdx, colIdx, AF_STORAGE_COO );
    af::array A2 =

[2017-08-25 03:11] pavanky commented on #1911
@WilliamTambellini

The message in the exception is correct. This operation is not implemented. Sparse arrays do not support all the functions. The most requested ones were added first.

Coming back to the question, I am curios, is this for machine learning ? If so are you trying to add 2 sparse arrays or is your goal to add multiple sparse arrays before adding to a dense array ? I ask because thi

[2017-08-25 04:17] pavanky commented on #1702
Fixed in v3.5

[2017-08-25 04:17] #1702 closed

[2017-08-25 04:17] pavanky commented on #1513
Fixed in v3.5

[2017-08-25 04:17] #1513 closed

[2017-08-25 04:18] pavanky commented on #1513
Fixed in v3.5

[2017-08-25 04:18] pavanky commented on #133
Fixed in v3.5

[2017-08-25 04:18] #133 closed

[2017-08-25 05:09] umar456 commented on #1829
Fixed in #1807

[2017-08-25 05:09] #1829 closed

[2017-08-25 16:41] Chronum94 commented on #1568
Was this moved to v3.6 because of the amount of work required or because of low demand in the community? Because these would be fabulous to have within the lib itself. I imagine a significant number of people currently use self-made implementations using standard matmuls.

[2017-08-25 19:55] WilliamTambellini commented on #1911
Thanks P.
- yes this is for machine learning, at least NeuralNet
- my need is both to do simple sparse+sparse and also adding some sparse to a dense array
- that could also benefit arrayfire-ml: sparse ops are probably a must have for NLP machine learning
W.

[2017-08-28 23:40] velhaco20000 commented on #1673
Hi, Guys.
I am here because I decided to use ArrayFire instead writing my own OpenCL codes.
The future of heterogeneous computing is in C/C++ standard, a solution similar as you are working here.  But This solution will not be in the market before 2020-21.
That's why I've choosen this solution.
So, I just want to write a feedback.
The only backend unsupported is Intel, and this is really not a pro

[2017-08-29 01:39] WilliamTambellini commented on #1673
Hi @velhaco20000
Welcome to AF.
Please keep in mind that int8 support is covered by this one:
https://github.com/arrayfire/arrayfire/issues/1656
I m neither interested by fp16 Intel CPU support as I m mainly into cuda pascal support.
@velhaco20000 : do you have any plan to fork AF and implement fp16 by yourself ?
Cheers
W.

[2017-08-29 02:02] velhaco20000 commented on #1673
Hi Will,
yes ,could be a solution, but I must wait for my VEGA Frontier come.
I am mainly interested in VEGA and OpenCL, but my part will suffer a delay.
I don't plan to buy a TITAN Xp to test the FP16 in the NVIDIA architecture
because, for me the VEGA is much more interesting.

On Mon, Aug 28, 2017 at 10:39 PM, WilliamTambellini <
notifications@github.com> wrote:

[2017-08-29 02:10] pavanky commented on #1673
@WilliamTambellini @velhaco20000 I am going to work on run-time compilation of most (if not all) CUDA kernels (similar to what is happening in OpenCL). This should make it easier to add support for FP16 and Int8. I am going to target this for 3.6 release.

[2017-08-29 02:15] pavanky commented on #1673
@velhaco20000

ArrayFire is going to evolve to incorporate this :) The standard libraries will probably not contain the breadth of the functionality of arrayfire. But the improvements to the C++ standard would mean it would mean a much smaller codebase in arrayfire :)

[2017-08-29 02:16] pavanky commented on #1673
@WilliamTambellini @velhaco20000 also drop by slack: https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ if you want to chat about this.

[2017-08-29 02:39] velhaco20000 commented on #1673
I think I could help to tune performance with OpenCL when I have my VEGA.
Now I am using a notebook with a NVIDIA part.

[2017-08-30 04:52] blazzter opened #1913 "Large array manipulation error (python)"
I have a large 4D array, i.e.:

`array = af.randu(200,200,200,200)
`

the following operation fails:

`array[:,:,10,10] += 1.0
`

with:

[code]

Device memory is on 7GB, well bellow 11GB available, if the array is randu 100^4, it works.
System is current archlinux with arrayfire from repositories.

af.info():
ArrayFire v3.5.0 (CUDA 64bit)
[0] : GeForce_GTX_1080_Ti (Compute 6.1)

[2017-08-30 06:23] pavanky commented on #1913
@blazzter This should be fixed in v3.5 and master branches. Can you try building from source ? If you want to wait v3.5.1 should be released in a few days.

[2017-08-31 06:47] blazzter commented on #1913
I will probably wait it out, tried to compile (from PKGBUILD in arch) but having problems (at forge-ext step)..

[code]

[2017-08-31 07:30] blazzter commented on #1913
I had some compilation problems .. could I suggest an edit in wiki here?

The line `cmake ..` should include a note to use `CC=/usr/bin/gcc5 CXX=/usr/bin/g++5 cmake ..`
if CUDA is needed.

This would save me probably 2 weeks of my life over last 2 years. As a sort of non-programmer (based in physics) trying to figure things out using PKGBUILDs or git approach shown in wiki never gave me anything.

[2017-08-31 07:42] blazzter commented on #1913
with master branch the command works, thanks

[2017-08-31 11:03] pavanky commented on #1913
@blazzter Sorry about that. I am going to modify arrayfire in AUR to build the master branch. I can modify the instructions on the wiki as well.

If you have questions about using arrayfire, feel free to join the slack channel: https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ

[2017-08-31 11:03] #1913 closed

[2017-08-31 18:37] WilliamTambellini commented on #1867
ok thanks P.

[2017-08-31 19:54] WilliamTambellini opened #1915 "AF allocating mem on 1st device whatever af::setDevice(X)"
Hi all
I think I ve found either an undesired behavior or a bug using at least AF 3.4.2:
- modified the unified/basic.cpp example that way: (commenting out the CPU and OpenCL blocks)

[code]

- compiled as usual
cmake .. -DArrayFire_DIR=/home/wtambellini/Downloads/af/arrayfire-3.4.2/share/ArrayFire/cmake/
make -j8
- run the unified basic example targeting cuda while keeping an eye on nvidia-smi (w

[2017-08-31 20:03] WilliamTambellini commented on #1915
I suppose playing with
CUDA_VISIBLE_DEVICES
would do the job but I would prefer setDevice(x) to be consistent.

[2017-08-31 20:18] pavanky commented on #1915
@WilliamTambellini The memory being used is from CUDA context that is created. ArrayFire itself does not create any memory.

You can use `AF_CUDA_DEFAULT_DEVICE=x ./my_program` so that this is not an issue.  More configuration options can be seen here: http://arrayfire.org/docs/configuring_environment.htm

[2017-08-31 22:04] WilliamTambellini commented on #1915
@pavanky  I just tried with AF_CUDA_DEFAULT_DEVICE=x and I still see mem allocated on both GPUs.
This behavior is wasting about 200MB of mem on the 1st GPU for each started process even if these are set to use other GPUs with af::setDevice(x).
Closing the issue immediately does not seem legitimate to me: I would bet that the expected behavior of af::setDevice(x) is to not allocate any mem on any o

[2017-08-31 22:21] pavanky commented on #1915
@WilliamTambellini This should only be happening if `cudaGetDeviceProperties` is creating a context on each gpu. I don't see any other code that may be problematic. This function call is needed for defaulting to the "best" gpu, but if this is indeed the issue and you don't need sorting behavior, this can probably be disabled using an environment flag.

[2017-08-31 23:53] WilliamTambellini commented on #1915
Hi @pavanky
Well perhaps are you looping and calling cudaGetDeviceProperties() on all devices allocating 200MB on all GPUs just for the context.
I suppose this would be acceptable if temporary ie at initialization but as today these 200MB are lost if the process only use 1 GPU.
Why dont you simply delete the context untill setDevice(x) has been called or only if at least 1 array is created on a de

[2017-09-01 00:17] pavanky commented on #1915
@WilliamTambellini "Deleting the context" (calling cudaDeviceReset()) would be fine if arrayfire was the only CUDA library being run in that application. If the app is using any other CUDA library before calling arrayfire, resetting will mess up the state.

[2017-09-01 03:15] blazzter commented on #1913
cool thanks!

[2017-09-01 18:05] WilliamTambellini commented on #1915
I have found a dirty workaround (in my code) in order for AF NOT to allocate any mem on any other device:
      setenv("CUDA_VISIBLE_DEVICES", std::to_string(deviceId).c_str(), 1);

I m not knowledgeable enough in cuda to fix that properly.
Let's at least confirm the purpose of this bugfix/enhancement :
could you (Umar & Pavan) just acknowledge this request is legitimate :
a call to af::setDevice(

[2017-09-01 18:12] pavanky commented on #1915
@WilliamTambellini I already reopened the issue. @umar456 should look into it. I don't have access to multi gpu machines.

[2017-09-02 13:02] mgsloan opened #1916 "Why login + register to download?"
Sorry, I realize this is probably the wrong spot.  But having a registration and login page to download the binaries for arrayfire is not so cool.  Maybe I can understand wanting email addresses, but a huge registration form?  Nope, not filling that out, not going to expect the users of my application to fill that out.  Going to find a different approach than using arrayfire.

[2017-09-02 14:00] janisozaur commented on #1916
What?

I's readily available:
* https://github.com/arrayfire/arrayfire/releases
* https://www.archlinux.org/packages/community/x86_64/arrayfire/

[2017-09-02 14:09] HoneyPatouceul commented on #1910
Seems this happened with last release of cuda 8.0.84 in L4T R28.1.
It was working on my TX2 with L4T R27.0.1 having cuda  8.0.64-1 (although several tests were failing).

Is there any know workaround ?

[2017-09-02 19:36] pavanky commented on #1916
In addition to that Ubuntu, Debian, Gentoo and Homebrew (for osx) also package arrayfire. You can also build arrayfire yourself.

[2017-09-02 19:36] #1916 closed

[2017-09-02 19:42] pavanky commented on #1910
@HoneyPatouceul I suggest sticking with 3.4.2 for now. There is a plan to backport bug fixes from 3.5 to 3.4 at some point.

[2017-09-02 20:15] HoneyPatouceul commented on #1910
I have the same error with my 3.4.2 archives, as with last version pulled from github.
Seems related to cuda version or some different installed libraries.
Any idea, apart from trying to install an older cuda8 package on my TX2 ?

[2017-09-02 20:17] pavanky commented on #1910
@HoneyPatouceul I am not really sure there is a work around..

[2017-09-02 23:07] mgsloan commented on #1916
Here's what happened:

* From https://github.com/arrayfire/arrayfire-rust
* Followed "Download and install binaries" link, got here: https://arrayfire.com/download-splash/?redirect_to=/download
* See this:
![2017-09-02_776x382_scrot](https://user-images.githubusercontent.com/22570/29999309-32e907a2-8ff8-11e7-8f14-319593865ecf.png)
* Click "Login to Download", find that you can't login + register i

[2017-09-02 23:42] pavanky commented on #1916
This is the installer the ci server uses: http://ci.arrayfire.org/userContent/Linux/ArrayFire-v3.5.0_Linux_x86_64.sh

Feel free to download it directly.

[2017-09-03 02:42] mgsloan commented on #1916
@pavanky Thanks!

[2017-09-05 22:23] umar456 commented on #1915
This is an issue in 3.4.2 because ArrayFire created a stream in the setActiveDevice function. This has been resolved in the newer version of ArrayFire.

[2017-09-05 22:23] #1915 closed

[2017-09-05 22:37] pavanky commented on #1915
@umar456 If you still plan to backport fixes to 3.4, I don't think this particular change can be easily cherry-picked into 3.4 branch. It may require a separate fix.

[2017-09-07 07:53] 9prady9 commented on #1568
@Chronum94 As always, we love to add new functionality. However, sometimes we are limited by the amount of bandwidth we have to work on a specific feature. We can't give a definitive ETA on this feature but we shall try to work on it as soon as we can.

We also welcome community contributions and can provide assistance to anyone willing to add the feature.

[2017-09-08 14:11] villekf opened #1918 "Sparse matrix not updated in for loop in OpenCL"
When you create a sparse matrix in for loop with OpenCL backend, the matrix is always the first one, i.e. it doesn't get updated. On CUDA and CPU backend everything works normally. The following minimal example demonstrates this:

	array output;
	float value[] = { 1, 1, 2, 2 };
	int index[] = { -1, 1, 2 };
	int row[] = { 0, 2, 2, 0, 0, 2 };
	int col[] = { 0, 1, 0, 1 };
	array values(4, 1, value, a

[2017-09-08 19:36] WilliamTambellini opened #1919 "Add a wrapper to start/stop backend profiler"
Would be convenient for AF to offer a wrapper to play with the backend profiler (if any).
Example for CUDA:
https://devblogs.nvidia.com/parallelforall/cuda-pro-tip-generate-custom-application-profile-timelines-nvtx/

For example:
af::startProfile(const std::string& rangeName);
af::stopProfile(const std::string& rangeName);

![](http://devblogs.nvidia.com/parallelforall/wp-content/uploads/2013/09/i

[2017-09-09 06:56] umar456 commented on #1683
Fixed via #1892

[2017-09-09 06:56] #1683 closed

[2017-09-09 06:58] umar456 commented on #884
fixed via #1849

[2017-09-09 06:58] #884 closed

[2017-09-09 07:13] umar456 commented on #1919
I have thought about this several times but this is out of the scope for the library. First of all, I am not aware of an OpenCL equivalent and even if there was it would need to support all manufacturers. Secondly, this functionality would be tool specific. It will need to be implemented for Intel tools, AMD tools, etc. Also, something like this is trivial to implement in user code. This function

[2017-09-09 07:13] #1919 closed

[2017-09-11 20:44] pabloheimplatz commented on #1384
@derwentx thanks a lot! Your tip to rename the newer version helped me to solve this issue here.
(and I ran straight into the next problem... (https://github.com/pytorch/pytorch/issues/2682)

[2017-09-13 10:19] damienfir opened #1927 "Memory leak when chaining rows() and cols()"
When chaining the rows() and cols() function to get a sub region of an array, ArrayFire creates 2 or 3 additional buffers locked by ArrayFire that are not release by the GC :
[code]

This is fixed by separating the functions into two steps:
[code]

Device info:
[code]

[2017-09-13 12:27] 9prady9 commented on #1927
@damienfir There is a fix for this problem in 3.5.1 release. We are soon going to release this fix release. Here is the commit that should fix this https://github.com/arrayfire/arrayfire/commit/4684020f5cbf36549dc07ff4000c9f45e8f8e05f I will leave this issue open until we do 3.5.1 release.

[2017-09-13 16:05] pavanky commented on #1927
@9prady9 We are closing issues as soon as they are merged into the appropriate branch. No reason to keep this open. There are identical issues that have been closed.

[2017-09-13 16:05] #1927 closed

[2017-09-13 16:07] pavanky commented on #1927
Duplicate of https://github.com/arrayfire/arrayfire/issues/1867, fixed in https://github.com/arrayfire/arrayfire/pull/1879

[2017-09-13 17:28] 9prady9 commented on #1927
I was aware that there was similar issue reported in the past, but I couldn't find #1867 as I was searching for terms `chainging`, `cascading` and `indexing`, hence left this one open. I was hoping either you or Umar would close this out once you link the duplicate here :smile:

[2017-09-16 02:39] #1910 closed

[2017-09-18 01:34] pavanky opened #1935 "Do not use additional memory when broadcasting weights in mean"
This was done as a quick fix:
https://github.com/arrayfire/arrayfire/pull/1934

Instead of tiling, the strides and offsets should be dealt with kernel side.

[2017-09-21 12:18] fzimmermann89 commented on #1669
@pavanky :
Does the replacement of afcuda.dll work with the current 3.5 release of arrayfire? Is there a new compute2.0 compatible dll for this version? Thanks

[2017-09-21 16:06] pavanky commented on #1669
@fzimmermann89 compute 2.0 will no longer work with cuda backends because nvidia deprecated them. You can use afopencl.dll which will support those devices.

[2017-09-21 17:10] fzimmermann89 commented on #1669
@pavanky
compute 2.0 is still supported by the current cuda sdk 8 (although deprecated and last version that will support 2.0). Is there a technical reason for not supporting compute2.0 in the current arrayfire version or is it possible to compile it using compute 2?

[2017-09-21 17:54] pavanky commented on #1669
@fzimmermann89 you can probably compile 3.5.0 / 3.5.1 with compute 2. But I think there were some assumptions made that we are only going to support compute > 2 for a couple of functions.

If this is a huge blocker, we can help you apply the patches to run on your machine.

[2017-09-22 10:58] fzimmermann89 opened #1937 "Update Windows Build dependencies for VS2015"
The link in the Windows build instructions on the wiki for the dependencies is out of date, the ci builds use versions compiled for vs2015 (vs2013 doesnt compile AF because of local thread store).
Could you supply the versions used by your CI builds?
Thanks

[2017-09-22 14:51] pavanky commented on #1937
@mlloreda ?

[2017-09-22 17:59] mlloreda commented on #1808
@Lokkij were you able to resolve this?

[2017-09-22 18:31] mlloreda commented on #1937
Thank you for bringing this to our attention, @fzimmermann89. Please check the link again for the proper VS2015 dependencies.

[2017-09-22 18:31] #1937 closed

[2017-09-22 22:24] Lokkij commented on #1808
Unfortunately not. I tried a couple different driver versions (though forgot to document which ones) which did not help.
The issue does not appear when calling the compiled program from the command line, so it's not a huge issue for me -- I can deal with an annoying popup in Visual Studio. Since the issue occurs on exit, I'm not sure whether it still happens but is silently ignored when calling fr

[2017-09-22 22:35] umar456 commented on #1808
@Lokkij We made some changes recently which may alleviate the issues you are experiencing. Could you try to update ArrayFire to v3.5.1 to see if it is still throwing that exception?

[2017-09-23 00:45] fzimmermann89 commented on #1669
Thank you, I compiled the current master with compute 2 yesterday and didn't notice any problems so far.

[2017-09-23 10:29] Lokkij commented on #1808
Upgrading to ArrayFire v3.5.1 did not resolve the issue, it is still throwing the same exception:
[code]

[2017-09-23 14:39] pavanky commented on #1669
@fzimmermann89 Try running the tests to see if any of them fail :)

[2017-09-23 15:44] fzimmermann89 commented on #1669
@pavanky
I am trying, but all cuda tests hang on  "global test environment teardown" after passing the test steps, regardless of compute version (I tried compute 3.5 on GTX Titan and 2.0 on 580, both on win7 x64). I am currently recompiling with debug information but don't know the test framework and cant recognize which instructions are running after the environment teardown message is printed.

[2017-09-24 17:53] fzimmermann89 commented on #1669
Callstack of the deadlocked thread:
 ntdll.dll!NtReleaseKeyedEvent()
 ntdll.dll!RtlpWakeConditionVariable()
 ntdll.dll!RtlWakeConditionVariable()
 nvcuda.dll!000007fed66d8efa()
 nvcuda.dll!000007fed6681a21()
 nvcuda.dll!000007fed6685ae1()
 nvcuda.dll!000007fed658c19f()
 nvcuda.dll!000007fed6705fcb()
 afcuda.dll!cudart::deviceMgr::~deviceMgr(void)
 afcuda.dll!cudart::globalState::~globalState(void)

[2017-09-24 18:34] pavanky commented on #1669
@mlloreda @umar456 ^

[2017-09-27 23:39] WilliamTambellini commented on #1656
Seen here:
https://devblogs.nvidia.com/parallelforall/mixed-precision-programming-cuda-8/
"cuBLAS is a GPU library for dense linear algebra— an implementation of BLAS, the Basic Linear Algebra Subroutines. cuBLAS has support for mixed precision in several matrix-matrix multiplication routines. cublasHgemm is a FP16 dense matrix-matrix multiply routine that uses FP16 for compute as well as for inpu

[2017-09-29 12:13] BookmanHan opened #1938 "Forge on Ubuntu could not start."
I install arrayfire and VNC server on Ubuntu Server.
I login in VNC, then execute my codes.

There is the wrong information:
[code]

How should I do?

[2017-09-29 13:46] 9prady9 commented on #1938
@BookmanHan Have you been able to run any GLFW examples ? I believe this is related to your server setup, does it have any display attached ?

[2017-10-03 03:25] nikkadim opened #1940 "System Image viewer showing black image for float tiff images saved by saveImageNative"
arrayfire v.3.5.1 Release
[code]
Original:
![test1_000000](https://user-images.githubusercontent.com/152394/31108679-b6cc398a-a7c8-11e7-8685-67102820071b.png)

AF_BACKEND_CPU
![outt_cpu](https://user-images.githubusercontent.com/152394/31108647-9716391a-a7c8-11e7-89c9-7fd7b999be71.png)
AF_BACKEND_CUDA (8.0)
![outt_cuda](https://user-images.githubusercontent.com/152394/31108651-9b3de31c-a7c8-11e7-9

[2017-10-03 05:13] 9prady9 commented on #1940
@nikkadim by default loadimage returns f32 array, so doing max/min on f32 array with unsigned char as template parameter is first issue in above code. The other issue I did find is that if the output extension is tif(which should be able to store f32 data), the output is coming out as empty black image. I shall look into that.

As a workaround for you, the following code works fine for my on my ma

[2017-10-03 05:38] 9prady9 commented on #1940
@nikkadim I did a quick test of reloading the floating point tiff image back into ArrayFire using `loadImageNative` and it displayed fine. I believe the black image you are seeing is due to the lack of functionality in the image viewer you are using to view the image. Note that GIMP also didn't display this image right. I had to use a package called `nip2` on my ubuntu 16.04 machine to view this i

[2017-10-03 05:42] 9prady9 commented on #1938
@BookmanHan I am closing this issue as you have acknowledged this is a setup related issue on [upstream graphics library github issue](https://github.com/arrayfire/forge/issues/151#issuecomment-333292164).

[2017-10-03 05:42] #1938 closed

[2017-10-03 05:45] 9prady9 commented on #1902
@pavanky This doesn't seem to be like a code related issue. Can we close this bug by adding appropriate tag?

[2017-10-03 14:23] nikkadim commented on #1940
Thanks for your answer.

Here is what I'm getting with your code:

[code]

[2017-10-03 14:29] 9prady9 commented on #1940
I tried it on Linux machine with CUDA 3.0 card. I see that you are using 2.0 card, it could be probably because of that. Can try running the program again after setting the environment variable AF_PRINT_ERRORS=1.

[2017-10-03 14:31] nikkadim commented on #1940
@9prady9 yep, you are right it's a Compute 2.0 card and  NVIDIA deprecated their support in CUDA 8.0 and will be dropping support from CUDA 8.5 :(

[2017-10-03 17:25] nikkadim commented on #1940
@9prady9  I found a new GPU with Compute 6.1 (GTX1070),  ran your code, load image to Imagej (https://imagej.nih.gov/ij/) which is capable to deal with 32-bit images) but it's still shows it's black (zeroes!)

[code]

Images:
![8](https://user-images.githubusercontent.com/152394/31138896-f1f9afc2-a83d-11e7-9921-c0f63d1adeaf.png)
![32](https://user-images.githubusercontent.com/152394/31138895-f1e73

[2017-10-03 17:57] 9prady9 commented on #1940
@nikkadim

I used the code you pasted in your recent comment and generated both `out.tif` and `out32.tif`. `out.tif` was readily displayed by regular image viewer on GNOME since it is a 8-bit unsigned char image. However, I needed to use imagemagick(tried some other tool other than nip2 that is image processing related) to view the image and it is clearly visible.

Following is the imagemagick com

[2017-10-03 19:30] nikkadim commented on #1940
@9prady9  that is interesting, have you been able to display that way out32.tif which I've attached?

Ok, I  found Ubuntu machine with _imagemagick_ on it and used _display_ to load out32.tif - black (all zeros)!
![32](https://user-images.githubusercontent.com/152394/31144766-b44fb92a-a84f-11e7-83d3-33831dd84e0d.png)

This I what I'm getting from  af::info:
[code]
After I changed the GPU card i in

[2017-10-03 20:49] 9prady9 commented on #1940
@nikkadim The out32.tif you provided doesn't display properly - all back.

Ignore my comment about 3.5.1, I was under the impression that you built the code from source.

I believe this may be due to the fact that ArrayFire's installer you get from the website was built with compute versions "30;35;37;50;52;60". We missed adding 6.1 for 3.5.1 release installers. I think this is the reason you are

[2017-10-04 00:18] nikkadim commented on #1940
Thank you for you help @9prady9 , I appreciate it!

Have only one concern, if this is due to compute version, why _dilate_ function gives appropriate results? Thanks!

[2017-10-04 04:17] 9prady9 commented on #1940
This is not a consistent error we have noticed across all functions. I have
experienced this recently with raw cuda code as well. One of my colleagues
has also experienced similar issue using ArrayFire with GTX 1080 - next kin
of 1070. Based on all the reasons, I said MAY be this is similar to the
errors we are seeing with compute version mismatch. Also,  we haven't
touched image load/store functi

[2017-10-04 13:26] nikkadim commented on #1940
Thank you @9prady9, will wait updated installer!

[2017-10-04 13:53] 9prady9 commented on #1940
Hi, I just got word from my colleague that installers have been updated.
Can you please try the new one and check if you are still facing the
problem.

On Wed 4 Oct, 2017, 6:56 PM Nok, <notifications@github.com> wrote:

[2017-10-04 14:58] nikkadim commented on #1940
Sure, from regular link: https://arrayfire.com/download/?

[2017-10-04 15:11] 9prady9 commented on #1940
Yes

On Wed 4 Oct, 2017, 8:28 PM Nok, <notifications@github.com> wrote:

[2017-10-04 15:29] nikkadim commented on #1940
Looks the same.
Modified code, added print for min/max before and after _erode_ call:
[code]
output:
[code]

Should be build number differ? It's the same as yesterday.

[2017-10-04 16:00] nikkadim commented on #1940
Found NVidia TITAN X with Compute 5.2:

[code]

[2017-10-04 16:31] mlloreda commented on #1940
@nikkadim The build number should be the same - the only difference between the installers are the compute versions.

[2017-10-04 17:39] nikkadim opened #1941 "Add support bigger CUDA kernel size for Morphological Operations (erode/dilate)"
Up to 19x19 square kernels are only supported currently in CUDA, it's too small.

PS: Other libs (like OpenCV) works with 150x150px.

[2017-10-04 17:42] pavanky commented on #1941
@nikkadim does OpenCV support that size on the GPU ?

[2017-10-04 18:07] nikkadim commented on #1941
Yes.

[code]

no problem on GeForce GTX 1070, 8192 MB, CUDA Compute 6.1

[2017-10-04 20:19] nikkadim commented on #1941
but here is the reason why prefer ArrayFire :

[code]

output:
[code]

Really hope you can fix 19x19 kernel limitation for Morphological filters!

[2017-10-04 21:22] nikkadim commented on #1940
@9prady9  @mlloreda
I looks like this issue related to #1546

Made a similar test:

[code]

output:
[code]

but then I changed filters call sequence:

[code]

and output looks about right:

[code]

[2017-10-05 02:27] BookmanHan opened #1942 "Why JIT compilation Error?"
I am sorry for always asking stupid questions, but I really work hard on it before asking.

I encounter a JIT issue as below:
[code]

My codes are a bit complex.
Simply, I implement a function, within which there are a lot of array operations then return an array.

Name the function as `af::array get();`
When I use `auto a = get();`, there is no error.
When I use `auto a = get() + get() + get();`,

[2017-10-05 04:49] 9prady9 commented on #1940
@nikkadim We are able to reproduce the issue on our end with snippet you shared in your latest comment. We are looking into it.

[2017-10-05 05:08] pavanky commented on #1942
@BookmanHan This is harder to debug without seeing code. But if you cant share code, would you be willing to build arrayfire from source?

[2017-10-05 05:10] umar456 commented on #1942
@pavanky it sounds like the function is failing when the JIT engine actually eval the expression created by the calls. I think it has to do with the NVRTC paths.

[2017-10-05 05:15] pavanky commented on #1942
@umar456 I know but I cant debug it without seeing what the error is. We should probably have a way to display verbose errors from JIT as a flag.

@BookmanHan You seem to be using an older version of arrayfire. There was a bug in JIT that @umar456 fixed for 3.5.1. Can you check if this is still an issue on your end?

[2017-10-05 05:18] pavanky commented on #1940
@nikkadim The latest code only seems to be an issue for even sized filters. But you seem to be using odd sized kernels in the original code.. It could potentially be multiple issues..

[2017-10-05 13:19] nikkadim opened #1943 "Memory leak when call regions() in loop"
How to recreate:
[code]

[code]

with deviceGC();
[code]

[2017-10-05 16:33] nikkadim opened #1945 "strange result after gfor"
To recreate please use binary image b.tif (packed in [b.zip]
(https://github.com/arrayfire/arrayfire/files/1359891/b.zip)) as an input.  Code below reads **b.tif**, calculates regions, then calculates histogram for that image which represents vector with areas for each region.

Then code makes a binary array of images with each individual region, and to check I calculate histogram for each of this

[2017-10-05 16:47] pavanky commented on #1943
If theres a leak it should happen with deviceGC as well. Can you show the outputs from af::deviceMemIno()?

[2017-10-05 17:00] pavanky commented on #1945
@nikkadim You are creating C incorrectly. Instead of checkin if L is equal to the label, you are checking if it is equal to its area. This will obviously give incorrect results.

To fix this you should use `L == rng(i)` where `rng == af::range(hist.elements()).` should be created outside the loop.

[2017-10-05 17:03] pavanky commented on #1945
@nikkadim The results actually match if you account for this mistake :D Histogram value at location 1 is 6. The area of label 6 is 11 (as seen from histogram). This matches the value at location 1 returned by moments.

[2017-10-05 17:04] #1945 closed

[2017-10-05 17:12] nikkadim commented on #1943
@pavanky
output with deviceMemInfo(...):
[code]

[2017-10-05 17:26] nikkadim commented on #1945
Thanks, my mistake, should be
`
C(span, span, i) = (L == i );	`

[2017-10-05 17:56] pavanky commented on #1943
@nikkadim Can you try changing your code slightly to this:

[code]

[2017-10-05 18:14] nikkadim commented on #1943
done:
[code]

[2017-10-05 18:42] pavanky commented on #1943
@nikkadim Ok I think I know what is happening. ArrayFire allocates new memory when the output size (rounded to the closest KB) is different. Since you are creating new image each time, the temporary buffers used internally are going to be different sizes (depending on the number of unique regions you have). If you created random outside the loop and used a copy of random everytime, you wouldnt see

[2017-10-05 18:44] pavanky opened #1946 "Have variable step size for the memory manager"
Right now the memory manager uses a step size of 1KB universally.

Ideally this needs to be based on the size of the requested buffer.

[2017-10-05 18:45] pavanky commented on #1943
I also created this issue to fix this properly in arrayfire: https://github.com/arrayfire/arrayfire/issues/1946

[2017-10-05 19:08] nikkadim commented on #1943
@pavanky as you said:

**af_set_mem_step_size(1024*1024);**
[code]

**af_set_mem_step_size(1024);**
[code]

Thanks!

[2017-10-05 19:12] nikkadim opened #1947 "Add parameter to function regions() to be able eliminate regions connected to image border"
Almost like in _MATLAB_ function _imclearborder_, but integrated in regions() function. Thanks!

[2017-10-05 19:57] pavanky commented on #1943
@nikkadim Closing this issue. I'll fix this more correctly in #1946

[2017-10-05 19:57] #1943 closed

[2017-10-06 11:54] FloopCZ opened #1949 "af::array::scalar<T> produces wrong numbers"
## Current behavior:
When using `a.scalar<double>()` on an array of type `af::dtype::f32`, the result is wrong.

## Expected behavior:
`scalar<T>` should behave similarly to e.g., `af::sum<T>` and `af::mean<T>` and produce a correct result even if the array dtype and the C++ type do not match or throw an exception.

## Code to reproduce the issue:
[code]

Output:
[code]

## Arrayfire version:
Arra

[2017-10-06 12:35] fzimmermann89 commented on #1669
any help?

[2017-10-06 14:50] 9prady9 commented on #1949
`sum<T>` is doing a reduction operation and the template parameter you give to it is the output variable's type. Thus, whatever the result of reduction is cast to the user provide template type.

`scalar<T>` on the other hand is trying to read the first element of the array a.k.a the first element in the GPU data. In your case, the af::array is of type `f32`(float) while you are trying to access i

[2017-10-06 16:02] pavanky commented on #1949
@9prady9 This shouldn't fail silently. This should throw an exception or return the correct value by copying implicitly.

[2017-10-06 16:06] pavanky commented on #1669
@fzimmermann89 can you create a separate issue for this?

[2017-10-06 21:33] fzimmermann89 opened #1950 "Cuda tests deadlock on Windows 7"
I successfully compiled Arrayfire for Windows, but all cuda tests hang on "global test environment teardown" after passing the test steps, regardless of compute version (I tried compute 3.5 on GTX Titan and 2.0 on 580, both on win7 x64).

Callstack of the deadlocked thread:

ntdll.dll!NtReleaseKeyedEvent()
ntdll.dll!RtlpWakeConditionVariable()
ntdll.dll!RtlWakeConditionVariable()
nvcuda.dll!000007

[2017-10-06 21:33] fzimmermann89 commented on #1669
https://github.com/arrayfire/arrayfire/issues/1950

[2017-10-06 22:31] pavanky commented on #1950
@fzimmermann89 Can you also tell us what version of Visual Studio you compiled with ? Is this happening with the installers from arrayfire's website as well ?

[2017-10-06 22:41] umar456 commented on #1950
Can you also send us your driver version?

Looks like this is the same issue we were experiencing with the OpenCL backend. That error was happening because when you exit main, Windows kills all threads created by the original thread. It looks like main is waiting on a condition variable but since the worker thread is dead without releasing the lock, it blocks forever. Can you add a sync before the

[2017-10-06 23:09] fzimmermann89 commented on #1950
@pavanky
-Vs2015.
-it happens when using the library version downloaded from your website (and the tests compiled from source - there are no binaries of the tests available, correct?)

@umar456
 driver 376.51 with cuda 8.0

[2017-10-07 00:37] fzimmermann89 commented on #1950
ok, I tried it with a custom main()

[code]

and Approx1::TearDown

[code]

This gives the following output:

..and a deadlock without printing the last statements of main

[2017-10-07 00:39] fzimmermann89 commented on #1950
My problem is that neither c++ nor the testing framework are strengths of mine..

[2017-10-07 01:54] umar456 commented on #1950
I remember having problems with the 37x drivers. Could you try installing newer drivers? I believe the latest drivers are version 385. We test on a Windows machine with a 377.48 driver internally. That could also be something you could try.

[2017-10-07 03:38] 9prady9 commented on #1949
@FloopCZ We have fixed the type check in the PR https://github.com/arrayfire/arrayfire/pull/1951

[2017-10-07 03:38] #1949 closed

[2017-10-07 09:53] fzimmermann89 commented on #1950
ok, this is embarrassing: I thought I was using the latest driver.. ;)

An update to seems to 385 fix the problem, the test are running right know. I will update when they are done

[2017-10-07 09:58] FloopCZ commented on #1949
Thank you, the type check is definitely useful. Anyway, I still suggest to consider the automatic type conversion including the check whether the array is actually a scalar. Why?

Consider a function like this:

[code]

Intuitively, I would replace `???` by `result.scalar<double>()` which will, however:
- Throw an exception if the computation is performed with `af::dtype::f32` for no obvious effic

[2017-10-07 16:57] pavanky commented on #1949
@FloopCZ

Even though it works in your case there's a lot of cases supporting automatic conversion results in loss of precision. For example if your array was int64 and asked for int32, asking this may result in silently getting incorrect values.

The `sum<double>` function was done without too much consideration for these cases. But breaking that behavior now would be more harmful than otherwise.

[2017-10-07 17:54] FloopCZ commented on #1949
@pavanky Thanks, I see your point. Considering `sum<T>`, it did not occur to me that loss of precision may be an issue. You are probably right that such a change would be too harmful for the upstream users even if arrayfire would just check for lossless conversions. Maybe one day in some major release. :-)

[2017-10-08 11:29] fzimmermann89 commented on #1950
issue solved, thank you

[2017-10-08 11:29] #1950 closed

[2017-10-08 11:55] BookmanHan commented on #1942
@pavanky

I update to 3.5.1, but it does not fix the bugs.

Codes are https://github.com/BookmanHan/Bearlet
It's a calculus graph with ArrayFire, simply, as an automatic derivation toolset, like TensorFlow.

In Bearlet.cpp:
Each symbol object has two arrays, which are respectively the tensor value and its gradient.

Bugs stem from here:
[code]
When `num_iter = 9`, there is no error.
When `num_iter

[2017-10-08 12:03] fzimmermann89 opened #1952 "Opencl error "double requires cl_khr_fp64" on Nvidia fermi"
The following tests fail for datatype=double using a GTX 580 (fermi, opencl 1.1) on windows 7

- cholesky_dense_opencl
- inverse_dense_opencl
- lu_dense_opencl
- solve_dense_opencl

[clinfo.txt](https://github.com/arrayfire/arrayfire/files/1366854/clinfo.txt)

[2017-10-08 17:06] fzimmermann89 opened #1953 "glbindings are no longer build on windows"
After #1861 glbindings are no longer build on windows. The call to build_glbinding was removed. Is this intentional?

[2017-10-08 18:23] pavanky commented on #1953
@umar456 ?

[2017-10-08 18:26] pavanky commented on #1942
@BookmanHan Thanks for the code I'll try to reproduce it. If you are trying to create a reverse mode autodiff, I implemented something here using arrayfire: https://github.com/arrayfire/arrayfire-ml

Examples can be seen here
- https://github.com/arrayfire/arrayfire-ml/blob/master/examples/autograd.cpp
- https://github.com/arrayfire/arrayfire-ml/blob/master/examples/xor.cpp

[2017-10-08 20:16] umar456 commented on #1953
Yes. I want to remove the building of external libraries from the build system. glbinding seems to be pretty easy to obtain and setup on the system. If you download the installer or build it on your system, CMake will be able to find this library automatically. I would like to remove the building of other libraries from ArrayFire and create a separate CMake script that can be used to set up the ex

[2017-10-08 20:30] umar456 commented on #1952
Interesting. Looks like you are using CUDA 9 which has dropped support for the Fermi cards. I wonder if that applies to OpenCL as well. It would have to be supported if those are the only tests that are failing.

[2017-10-08 20:52] fzimmermann89 commented on #1952
I am building with version 8 of the CUDA SDK, most of the CUDA test are passing (most of the failures seem to be intentional decisions to remove fermi support by deleting code path on your side and easy fixable for now).

This issue is with OpenCL 1.1 which needs to have cl_khr_fp64 enabled to support double. Most of the kernels are correctly build with this option. It seems the underlying kernels

[2017-10-08 21:41] fzimmermann89 commented on #1953
ok, thank you.
(please consider updating your build instructions)

[2017-10-09 02:12] fzimmermann89 commented on #1952
The following Test fail as well:
- Test_mean_opencl
- Test_var_opencl
- Test_stdev_opencl
- Test_covariance_opencl
all fail for (u)int64 and input>4096

Imho the reason is similar :
All those functions use the mean kernel, which fails to build because cl_khr_fp64 is not enabled.
- In https://github.com/arrayfire/arrayfire/blob/v3.5/src/backend/opencl/kernel/mean.hpp#L176 is a check that enables it

[2017-10-09 04:49] BookmanHan commented on #1942
@pavanky
It is very nice of you to introduce arrayfire-ml project.
But, actually, I am implementing something new onto the auto-diff framework for research purpose.

I really hope you could fix this issue.
Because I conjecture the issue may be incurred by overloaded computations.
Maybe, even if I build my idea based on arrayfire-ml, it would probably also trigger something wrong?

Currently, I am

[2017-10-09 08:03] pavanky commented on #1942
@BookmanHan I think you are hitting a corner case that arrayfire's JIT compiler isn't catching. I need some time to investigate this.

[2017-10-09 08:04] pavanky commented on #1952
I am not sure ArrayFire fully supports OpenCL 1.1 anymore.

[2017-10-09 09:30] antibes0415 opened #1954 "Always get an error after every program is closed"
Hi. why do I always get an error after exiting every program, no matter the examples you provided or the programs I write ?
The error message is something like: xxx.exe has stopped working
Maybe the memory is not released in graphic card after exiting the program ?
FYI:
I use the OpenCL backend.
The arrayfire aversion is 3.5.0.
My computer:
i7-4800MQ
Windows 7 Enterprise SP1
Quadro K3100M

Thanks

[2017-10-09 10:39] fzimmermann89 commented on #1952
Right now it doesn't ;) ´
It would be a nice decision to keep supporting Fermi: Those cards have a great fp64/$ value and are therefore still quite common. I can kind of understand why you decided to remove the cuda support (even if it's not strictly necessary as long as you are using cuda 8), but keeping at least opencl 1.1 support doesn't seem like a huge commitment

[2017-10-09 12:16] umar456 commented on #1954
Can you post the version of the driver you are using? We have noticed issues with the 37x drivers on Windows.

[2017-10-09 16:17] pavanky commented on #1952
@fzimmermann89 This was a forced decision because upstream libraries (clBLAS / clFFT) no longer supported OpenCL 1.1

[2017-10-09 16:53] fzimmermann89 commented on #1952
Right now the support in arrayfire is still almost there, and clblas at least has a explicit method of enabling the necessary pragma.
  So it's your decision whether you want to use it and keep supporting opencl 1.1 in your own code

[2017-10-09 19:50] nikkadim commented on #1940
Could you suggest any workaround until 3.5.2?

[2017-10-10 00:56] antibes0415 commented on #1954
Hi, my driver version is 385.08

[2017-10-10 01:03] umar456 commented on #1954
Can you try the newest version([v3.5.1](https://arrayfire.com/download/))? We made a couple of changes recently which address those issues.

[2017-10-10 02:11] antibes0415 commented on #1954
Hi. I have tried v3.5.1. My issues seem to be solved :). But my colleague met with the same issues with v3.5.1. His computer hardware is different from mine. He used two laptops and both have this problem.

His computer 1:
Intel HD 6600, Driver date 2016/4/8, version  10.18.14.4432
Windows 7 64bit
Computer 2:
GTX850M, driver version 22.21.13.8854 (385.54),  date:9/1/2017
Windows 10 64bit

Both use

[2017-10-10 02:46] antibes0415 commented on #1954
And for my computer and v3.5.1, I found that all the examples in machine learning folder failed. The program cannot run and pop up the error message "xxx.exe has stopped working". I tried other examples and they seem good up to now.
For my colleague's two laptops, all the examples he tried failed and has this error message ...
By the way, we all use the OpenCL backend.

[2017-10-10 05:51] pavanky opened #1955 "Implement approx1 and approx2 along a given dimension."

[2017-10-10 05:54] pavanky opened #1956 "Make clblast the default OpenCL blas implementation."
As of now CLBLAST has more support than clBLAS. Some of the issues it would help with:

- https://github.com/arrayfire/arrayfire/issues/1673
- https://github.com/arrayfire/arrayfire/pull/1898

[2017-10-10 05:56] pavanky commented on #1956
@mlloreda @umar456 This would require changes to both CMake and the build system.

[2017-10-10 10:21] 9prady9 commented on #1940
@nikkadim Which problem are you referring to - black images while saving them to disk ? or some values being infinities ?

[2017-10-10 12:20] BookmanHan commented on #1942
@pavanky

Thanks, a lot, but I suppose I finally catch the bug.
It is something abnormal happening to `af::tile` in JIT.
When I add `backward.eval();` before `af::tile(backward, 1, ..);` in `View.hpp`, the bug is fixed.

Does this result make sense?
I am not sure if I make it essentially.
Still waiting for detailed explanations if possible, though it is okay temporally.

Thanks, again.

[2017-10-10 16:00] pavanky commented on #1942
@BookmanHan For element wise operations ArraFire creates an AST internally and only evaluates them we necessary. This ensures a single kernel is created for a lot of operations and decreases the memory used and the number of reads and writes.

For example:

[code]

Now the down side is that in some corner cases the AST can get too big and the driver can't handle a large number of inputs. There are

[2017-10-10 20:06] nikkadim commented on #1940
@9prady9 actual values after filtering.

[2017-10-11 06:11] 9prady9 commented on #1940
For a fix in filtering(erode/dilate), I am afraid you have to wait for the 3.5.2 release - no ETA on that as of now.

If you want to build ArrayFire yourself, you can follow the instructions [here on wiki](https://github.com/arrayfire/arrayfire/wiki) and you can apply the patch from (this github PR](https://github.com/arrayfire/arrayfire/pull/1944). If you do try this route, please let us know if

[2017-10-11 13:37] nikkadim opened #1957 "moments calculation"
Example below shows calculation first-order moment M00 for 4x4 binary array, which should represent area for binary image, but it shows M00 = 1.0;

[code]
output:

[code]

[2017-10-11 17:28] WilliamTambellini commented on #1942
Hey guys the title is funny but bad: it s not "complication" but "compilation" :)

[2017-10-12 15:25] fzimmermann89 commented on #1956
Currently there are at least to minor bugs regarding clbast

- https://github.com/arrayfire/arrayfire/blob/master/CMakeModules/build_CLBlast.cmake#L11
[code]
should probably be
`${prefix}/lib/${CMAKE_STATIC_LIBRARY_PREFIX}clblast${CMAKE_STATIC_LIBRARY_SUFFIX})
`

- https://github.com/arrayfire/arrayfire/blob/master/src/backend/opencl/err_clblast.hpp

missing `#include <mutex>`

[2017-10-13 09:32] fzimmermann89 opened #1963 "Lapack tests fail if CBlast is used"
A couple of BLAS-related tests (e.g. cholesky_dense, solve_dense,inverse_dense and LU) fail on a GTX Titan using OpenCL if compiled with CLBlast on Windows.
Cholesky_dense gives errors like "Matrix C's OpenCL buffer is too small" , so I added some printf debugging to ClBlast's TestMatrixC:
[code]

and Arrayfire's gpu_blas_herk_func in magma_blast_cblast.h:
[code]

with this, cholesky_dense_opencl

[2017-10-13 17:35] pavanky commented on #1957
@nikkadim This should be fixed in master. Let me know if it works for you.

[2017-10-13 17:35] #1957 closed

[2017-10-13 17:48] fzimmermann89 commented on #1963
Just looking at the cholesky-chase right know:
Might it be an issue that cublast::herk is called for double input instead of syrk? herk is expecting complex matrices A and C..
But this doesn't explain the numeric failure for complex input, neither does it explain the other failures

[2017-10-13 19:22] CNugteren commented on #1963
That's a lot of output, perhaps you should make it a gist to make this issue a bit more readable? Anyway, I just took out one of the use-cases (the first for which the C-matrix is too small):
[code]

CLBlast checks the size of matrix C in the HERK routine as follows:
`required_size = (c_ld * (n - 1) + n + c_offset) * sizeof(T);`
Filling this in with the above data (assuming double-complex?) gives:

[2017-10-13 20:10] fzimmermann89 commented on #1963
Thank you for your reply, I think the problem lies between
https://github.com/arrayfire/arrayfire/blob/master/src/backend/opencl/cholesky.cpp,
https://github.com/arrayfire/arrayfire/blob/master/src/backend/opencl/magma/potrf.cpp and
https://github.com/arrayfire/arrayfire/blob/master/src/backend/opencl/magma/magma_blas_clblast.h

You wrote some of that code - do you remember or see how it is ensure

[2017-10-13 23:09] fzimmermann89 commented on #1952
The fix for the statistic functions is quite easy, see PR
The fix for the blas functions is to use clblast, which supports opencl1.1 (after fixing the issues with clblast integration)

After those fixes an opencl1.1 devices can hopefully pass all tests

[2017-10-14 08:26] CNugteren commented on #1963
Yes, that could well be the issue. I never understood what this overwrite of herk to syrk was, but now I get it. I'll try to reproduce the issue later today on my machine and I'll work on a fix.

[2017-10-15 00:22] fzimmermann89 commented on #1952
There is another issue: The bilataral_opencl test fails for double.
In arrayfire/src/backend/opencl/kernel/bilateral.cl exp_native is used for double inputs. But this is not specified in either of the OpenCL specifications even though some implementations seem to support it - Fermi does not ;)

@pavanky already found this issue for POCL (pocl/pocl#385) and @shehzan10 for apple. The current solutio

[2017-10-15 09:17] CNugteren commented on #1963
I managed to implement something similar to what was done in the clBLAS back-end, but a bit more modern using template specialisations:
https://github.com/CNugteren/arrayfire/commit/ce9b124a1d8fdcdde6df76af37ff805780da58f7

However, afterwards, I still see [failing tests everywhere](https://gist.github.com/CNugteren/56121763e5b781ecd287c4784d9c2ebe), although I no longer see any errors from CLBlas

[2017-10-15 12:40] fzimmermann89 commented on #1963
that's progress!
`inverse`, `lu`, `solve` all "numerically" fail on my system as well. Initially I thought that the size errors and the numerical differences might have the same underlying reason, unfortunately that's probably not the case.
I am puzzled. Will you continue investigating?

[2017-10-15 17:30] CNugteren commented on #1963
Yes, I will continue to investigate (although I have some other things on my plate as well). Could it be that all the failing tests use CLBlast's TRMM or TRSM routines?

[2017-10-15 17:35] fzimmermann89 commented on #1963
that's at least something those tests have in common

[2017-10-15 21:59] pavanky commented on #1952
@fzimmermann89 Can you create a new issue for bilateral ? I merged in your changes for fixing the double precision issue.

[2017-10-15 21:59] #1952 closed

[2017-10-15 22:31] fzimmermann89 opened #1966 "Bilateral uses exp_native(double) even though it's not in the OpenCL specifications"
The bilataral_opencl test fails for double on Nvidia Fermi
In arrayfire/src/backend/opencl/kernel/bilateral.cl `exp_native` is used for double inputs. But this is not specified in either of the OpenCL specifications even though some implementations seem to support it, the Nvidia OpenCL implementation (at least for Fermi) doesn't

@pavanky already found this issue for POCL (pocl/pocl#385) and @sheh

[2017-10-15 22:38] #1953 closed

[2017-10-15 22:51] pavanky commented on #1966
@fzimmermann89 I think you mean `native_exp` and it is part of the spec (since 1.0)
https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/exp.html

[2017-10-15 22:58] fzimmermann89 commented on #1966
yes, sorry.
I meant `native_exp` with input type double.
"We use the generic type name gentype to indicate that the functions in table 6.9 can take
float, float2, float3, float4, float8 or float16 as the type for the
arguments." [opencl2.0-spec](https://www.khronos.org/registry/OpenCL/specs/opencl-2.0-openclc.pdf) p.79

The issue stands that it's not supported for input type double for some platfo

[2017-10-15 23:02] pavanky commented on #1966
@fzimmermann89 Ah I see. Then feel free to send in a patch that disables native_exp for doubles!

[2017-10-16 21:59] #1966 closed

[2017-10-17 17:24] CNugteren commented on #1963
I have just run all the tests on an NVIDIA test system, and here are all those that fail:
[code]
I suppose not all failures are CLBlast related?

About TRMM/TRSM: That could well be the issue. I'm not an expert on triangular solvers, but I managed to get something working. However, the results are not correct for any input matrix, that's why I had to generate proper input for the tests. Perhaps th

[2017-10-19 11:39] villekf opened #1972 "Sparse matmul over 20 times slower than dense matmul"
When using the following code, the sparse version is over 20 times slower compared to the dense version, i.e. if the matrix A is dense.

[code]

ArrayFire v3.5.1 (CUDA, 64-bit Linux, build 0a675e8)
Platform: CUDA Toolkit 8, Driver: 375.66
[0] Tesla P100-PCIE-16GB, 16277 MB, CUDA Compute 6.0
-1- Quadro K620, 1998 MB, CUDA Compute 5.0

[2017-10-19 15:52] pavanky commented on #1972
@villekf Sparsity of 16% is way too high and 4096 is way too small. Sparse matrix multiplication is optimized for larger sparser matrices.

[2017-10-19 15:52] #1972 closed

[2017-10-22 18:36] CNugteren commented on #1963
I've made a pull request (#1973) since that should at least solve some things. Not sure if all issues are solved yet, probably not. I've tried to reproduce it on my development machine (with an Intel GPU), but I can't seem to get failing tests (for e.g. `solve_dense_opencl`), not even on master. Any hints what could be the difference between the earlier NVIDIA-based system I tested on?

[2017-10-22 20:23] fzimmermann89 commented on #1963
I am just testing cholesky_dense_opencl as a preliminary test: This test fails on nvidia fermi and kepler with numerical errors, but passes on intel.

[2017-10-22 20:38] pavanky commented on #1963
@fzimmermann89 Intel very likely falls back to using CBLAS / MKL even for OpenCL. I don't think intel passing is a good indicator.

[2017-10-22 21:18] fzimmermann89 commented on #1963
argh, yes, sorry. If I set the env AF_OPENCL_CPU_OFFLOAD=0, the test will fail.

@CNugteren do the tests pass on your system with AF_OPENCL_CPU_OFFLOAD=0?
(if not set, potrf etc. will run on the cpu instead of using clblast if run on intel)

[2017-10-23 06:16] CNugteren commented on #1963
Ah, OK, thanks. I will try that and then I'll start debugging the issues.

[2017-10-23 09:26] fzimmermann89 commented on #1963
(Maybe) interesting observation:
solve produces wrong results if N>128 on clblast

[code]

[2017-10-23 11:56] fzimmermann89 opened #1974 "cmake: lapack on cpu is disabled"
@umar456
In src/backend/cpu/cmakelist  used to be:
[code]

this is checked in solve/cholesky/etc. and causes a ""Linear Algebra is _diabled_  (sic!) on CPU" error if not set.

But after #1861 this is no longer set anywhere. I don't know what your plan is and where this should be in the current cmake structure

[2017-10-23 13:44] umar456 commented on #1974
Good catch! I seemed to have overlooked this. I can add this in a couple of hours.

[2017-10-23 18:31] CNugteren commented on #1963
Thanks for those experiments! I've just increased the matrix size for testing in the CLBlast tests, and I indeed see issues with seriously failing TRSM tests. So most probably that's the source of the issue. I'll investigate that and report on progress.

By the way, still couldn't get the ArrayFire tests working properly on my development system, because I ran into a Beignet issue (https://bugs.fr

[2017-10-24 12:05] Ibex-Bradley opened #1976 "af::sum unclear implementation - Use T as data type to sum into"
When using af::sum<T>(array) the usage of this function is unclear as the type supplied as T is not used as the data type which the sum operation will sum into. This leads to issues when trying to sum an array which has values near the max a datatype can store as the sum operation will be performed and stored in the data type of the underlying array and not type T which if set correctly would prev

[2017-10-24 13:47] fzimmermann89 opened #1977 "Compile fails on windows - missing include <string>"
Since (at least) 104ba5669c01a665b67663b5c70177ce63e0d3b2 the build fails on my VS2015 setup.
(I don't know if I changed anything regarding the build setup)
The error is because

https://github.com/arrayfire/arrayfire/blob/104ba5669c01a665b67663b5c70177ce63e0d3b2/src/backend/common/util.hpp#L12
doesn't include `<string>`, so I get an error at
https://github.com/arrayfire/arrayfire/blob/104ba5669c0

[2017-10-24 13:51] #1974 closed

[2017-10-24 15:23] umar456 commented on #1977
Odd because we test on Windows with VS2015 (http://ci.arrayfire.org/view/All%20PR/job/arrayfire-windows/job/pr-build-cpu/291/) with no errors. It looks like string should be included there. Could you submit a PR for this as I am not able to reproduce it in our setup?

[2017-10-24 16:50] fzimmermann89 commented on #1977
I will create a pr.
Do the ci builds cover the unified backend?
Somehow string seems seems coincidentally be included in all other uses of until.hpp
For reference:
C:\Users\thunder\arrayfire\arrayfire\src\backend\common/util.hpp(16): error C2039: "string": Ist kein Element von "std" [C:\Users\thunder\arrayfire\arrayfire\build-CLBlast\src\api\unified\af.vcxproj]

[2017-10-24 17:09] umar456 commented on #1977
Hmm, perhaps that's the problem. I don't think that test is building the unified backend. I will create a build for that in the next couple of days. Thanks for pointing that out.

[2017-10-25 12:22] BookmanHan commented on #1942
@pavanky It really makes sense to me. Actually, I have triggered this error, again. There is no `af::tile`, this time. Thanks for you explanations. I think you are right about the issue. It is the length of codes that causes the problem. **I extremely force every operation to `eval()`, then this issue is fixed.**

However, current neural networks are bigger and bigger. I have implemented three neu

[2017-10-25 12:22] #1942 closed

[2017-10-25 18:38] CNugteren commented on #1963
I've found a major bug in the TRSM routine: there were missing synchronisations in the host-code after each call to a GEMM routine. This was not discover before, because it doesn't always manifest itself, depending on the device and the problem size. This bug [is now fixed in CLBlast](https://github.com/CNugteren/CLBlast/commit/d49aae236eca2dddc3228791ec367cc0c9d3bc7e).

Hopefully this now also fi

[2017-10-25 22:35] #1977 closed

[2017-10-25 22:38] fzimmermann89 commented on #1963
Unfortunately my quick testing didn't reveal a change in the failed tests, I will take a closer look on the weekend. Too bad that you can't get the tests working :(

[2017-10-27 20:19] CNugteren commented on #1963
I've fixed a few more things:
* Reduced the block size to make numerical errors less likely [commit](https://github.com/CNugteren/CLBlast/commit/449577cf07ac79768555a947e7036ee674c108c5).
* Fixed a similar issue in TRSV as the one I discovered two days ago in TRSM [commit](https://github.com/CNugteren/CLBlast/commit/44f7fa628a42d1e928c7c1c3a1bfca5de37de276).
* Fixed a bug occurring when using the

[2017-10-27 22:01] pavanky commented on #1963
@CNugteren Why is the synchronization required ? Are you using multiple queues ?

[2017-10-28 08:10] fzimmermann89 commented on #1963
Yeay, the tests pass! Thank you!

The only tests that still fail are the MultiGPU tests in test_blas as well as in test_threading:

[code]

It seems like switching the opencl device within one programm doesn't work right.

@CNugteren : can you tag a new version of clblast after those fixes?

[2017-10-28 13:07] CNugteren commented on #1963
Good to hear that it works now! I've also verified on an NVIDIA system, the tests pass. The only two that fail are:
[code]

No, not multiple queues, but I meant putting events in an event waiting list and waiting for the appropriate events.

Yes, I could tag it now, but perhaps I can make a new full release anyway? Let's wait a few more days for the pull request to be accepted and things to settle

[2017-10-29 00:00] fzimmermann89 commented on #1963
@CNugteren: Fantastic! But I think it would be nice if you could tag a version before your PR is accepted so that you can include the version change
https://github.com/arrayfire/arrayfire/blob/42a99a76684b662e30c3d76c896069d820ca9a96/CMakeModules/build_CLBlast.cmake#L16

Do you have any insight regarding the  failure of the MultiGPU tests?
They fail at least on this system (Intel i5 Haswell)
[outp

[2017-10-29 16:30] CNugteren commented on #1963
OK, I've created the `1.2.0_rc1` tag and I've added that to the #1973 pull request.

There's two levels of caching:
* At program level based on the OpenCL context and device ID
* At binary level based on the OpenCL device name
From your clinfo it seems like you have 2 platforms with the same device name, so perhaps that's what is going wrong. I haven't added the OpenCL context to the binary level,

[2017-10-29 18:49] fzimmermann89 commented on #1963
That sounds reasonable to add.
I don't know why all the Intel windows machines I have access to have two different intel opencl platforms...
 If you have a patch ready I can test it. Unfortunately I won't have the time the next weeks to try to implement it myself.

Maybe this fix will make it in 1.2.0?  ;-)

[2017-10-29 19:02] CNugteren commented on #1963
I've just made a [small commit](https://github.com/CNugteren/CLBlast/commit/ac5a58cfe5d2fad1ef248c619ad68611dcabcfc7) to a new branch `binary_cache_platform_dependent`. Could you check it out and see if that solves the issue? Unfortunately I cannot test myself on such a system set-up.

[2017-10-30 08:45] fzimmermann89 commented on #1963
Thank you, this solves all the Opencl issues on the systems I have access to!

I will leave this issue open until your changes are merged and arrayfire pulls in a fixed version of clblast

[2017-10-30 08:47] fzimmermann89 commented on #1956
and It would make arrayfire support OpenCl 1.1 again...

[2017-10-30 18:17] ezavod opened #1981 "Build error when building with OpenCL: ‘cout’ is not a member of ‘std’"
When I try to build Arrayfire (following the [wiki](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux)) with OpenCL (AMD APP SDK 3.0 or Intel SDK) I get the following error (occurs multiple times in this file):
`In file included from /home/<user>/arrayfire/src/backend/opencl/program.cpp:10:0:
/home/<user>/arrayfire/src/backend/opencl/program.cpp: In function ‘void opencl::bu

[2017-10-30 18:44] umar456 commented on #1981
Hi @ezavod,
Thanks for pointing this out. Looks like this was introduce because of #1971. I should have a fix for this later tonight. I am planning on replacing std::cout with printf but your change is also an appropriate solution.

[2017-10-30 23:52] #1981 closed

[2017-10-31 16:40] ezavod opened #1983 "Build error: ‘function’ is not a member of ‘std’"
Hello, thanks very much for the immediate fix of #1981! But it seems that commit c7fd7f8045c31ec2aac0f517f1a8003b49d2cf27 introduces a similar problem:
`#include <functional>` is missing in `src/backend/<backend_name>/memory.hpp`.
I only use cpu and opencl backend but this is probably missing in all backends.

[2017-10-31 17:24] umar456 commented on #1983
I will download gcc-7 later tonight and check it out.

[2017-11-01 16:25] Benoit-Julien commented on #1808
Hi, I have the same problem with OpenCl on Windows. I had installed the last driver of my GPU.
`Exception thrown at 0x00007FFE36B2AE20 (ntdll.dll) in TestArrayFire.exe : 0xC0000005 : Access violation reading location 0x0000000000000010.`

[2017-11-02 06:25] #1983 closed

[2017-11-03 08:33] CNugteren commented on #1963
OK! I'm working towards an official v1.2.0 release which we can use for ArrayFire, I'm doing some testing right now. However I noticed that the [Jenkins automated tests](http://ci.arrayfire.org/view/Other/) fail in some cases because I can't find CMake: see for example [here](http://ci.arrayfire.org/view/Other/job/other/job/CLBlast-Windows-Intel/149/console). Would be great if that can be fixed be

[2017-11-03 14:43] umar456 commented on #1963
Hey @CNugteren, We have been moving to buildbot so I haven't been monitoring things on Jenkins. I have fixed that test. Let me know if there is anything else you want me to look at. I will probably eventually add your project to buildbot eventually but things are pretty hectic here now.

[2017-11-05 12:15] fishfacegit opened #1985 "No Cuda 9.0 Support"
Please add cuda 9 support.

[2017-11-05 18:10] pavanky commented on #1985
@fishfacegit You can build arrrayfire with CUDA 9.0.

@umar456 Any plan to have a bugfix release with the installers supporting 9.0?

[2017-11-06 12:40] gaoyangyiqiao commented on #1384
@mlloreda It works well for me!Thanks a lot!

[2017-11-06 16:19] umar456 commented on #1985
We should have installers updated with CUDA 9 soon.

[2017-11-06 21:09] CNugteren commented on #1963
Thanks a lot @umar456! Does that also mean that the [other build](http://ci.arrayfire.org/view/Other/job/other/job/CLBlast-Windows-NVIDIA/107/console) with a similar error will work fine after I push, or do you have to fix that issue separately?

I also see that the two AMD systems are offline in Jenkins. Are they available in buildbot? Please take your time with everything and let me know if I ca

[2017-11-06 21:17] umar456 commented on #1963
I just fixed the other build as well. Let me know if you had other issues.

[2017-11-07 23:18] WilliamTambellini opened #1986 "Upgrade to latest Intel-MKL for AVX-512"
In order for AF to take advantage of Intel Skylake CPU specially AVX-512, upgrade to the latest/recent Intel MKL SDK:
https://software.intel.com/en-us/articles/intel-math-kernel-library-intel-mkl-2017-release-notes
https://en.wikipedia.org/wiki/AVX-512

Easy test: AWS C5 instance with Skylake CPU:
https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-amazon-ec2-c5-instances-the-next-gener

[2017-11-07 23:34] pavanky commented on #1986
@umar456 can this be done for the next release?

[2017-11-08 00:03] umar456 commented on #1986
We are using MKL 2017.0.098 for the installers. We should be updating to the latest version of MKL with the next release.

[2017-11-08 20:53] CNugteren commented on #1963
@umar456: Thanks a lot :-)

I just released CLBlast 1.2.0. I've updated #1973 to build with that version, so all issues should be resolved once merged in.

[2017-11-09 20:31] WilliamTambellini commented on #1801
We could probably close this one but state of the art CI would indeed impose to multithread for instance the NMIST example. But lets speak about that in another item. Tks.

[2017-11-10 20:06] nikkadim opened #1987 "Can't set axes title with setAxesTitles for af::Window"
Can't set axes title with setAxesTitles:

Code:
[code]
Output:
![afwind](https://user-images.githubusercontent.com/152394/32676419-8ed30aca-c628-11e7-95d2-73de48f40116.png)

[2017-11-10 22:04] 9prady9 commented on #1987
@nikkadim Thank you for reporting this. We will look into it as soon as we can.

[2017-11-13 08:08] villekf opened #1988 "batchFunc only multiplies first column in a sparse matrix"
When using batchFunc to perform element-wise multiplication, only the first column is actually multiplied when using a sparse matrix.

For example, if G is a square sparse matrix and nw is a dense column vector, the following code only applies the multiplication on the first column of G:

[code]
If G is dense, then everything works fine.

ArrayFire v3.5.1 (CUDA, 64-bit Linux, build 0a675e8)
Platfo

[2017-11-13 16:31] pavanky commented on #1988
@villekf batchFuc / GFOR wasn't meant to be used with sparse matrices..

[2017-11-13 19:51] JoaoCosta94 opened #1989 "Error using cmake Find_PACKAGE(ArrayFire)"
Hi!,

Calling cmake for a directory with a simple CMakeLists.txt containing:
[code]

has the following output:

[code]

[2017-11-14 09:54] villekf commented on #1988
Some kind of error/warning when used with sparse matrices might be good. Since currently it seems to work, but actually doesn't.

Though I wouldn't mind sparse support for batchFunc also.

[2017-11-16 09:50] munnybearz opened #1993 "Unit test fails"
Hi guys,

Building the latest Arrayfire master on EC2 g3.4xlarge Ubuntu 16.04 with the latest nvidia drivers and CUDA 9. The unit test fast_cuda and orb_cuda fails. All other cpu and cuda tests pass (except meanshift_cpu which took 15+ minutes so I killed it out of impatiance).

        Start  54: fast_cpu
 54/229 Test  #54: fast_cpu .........................   Passed    0.17 sec
        Start  55

[2017-11-21 11:39] meister87 opened #1994 "Build error: OpenCL with installed Boost greater or equal to 1.61"
Hi,
In the following opencl-based CMakeFiles the target Boost::boost is used:
- src/backend/opencl/kernel/sort_by_key/CMakeLists.txt
- src/backend/opencl/kernel/scan_by_key/CMakeLists.txt
- src/backend/opencl/CMakeLists.txt

The target Boost::boost is only defined in the following file:
- CMakeModules/build_boost_compute.cmake

This file is only included in the following file:
- src/backend/opencl

[2017-11-21 14:57] meister87 commented on #1993
Checked out the current version today:
Build it and got a large number of failing tests.

	  1 - approx1_cpu (SEGFAULT)
	  2 - approx1_cuda (SEGFAULT)
	  3 - approx1_opencl (SEGFAULT)
	  4 - approx2_cpu (SEGFAULT)
	  5 - approx2_cuda (SEGFAULT)
	  6 - approx2_opencl (SEGFAULT)
	 10 - assign_cpu (SEGFAULT)
	 11 - assign_cuda (SEGFAULT)
	 12 - assign_opencl (SEGFAULT)
	 23 - bilateral_cpu (SEGFAULT)

[2017-11-21 18:16] meister87 opened #1995 "Internal error:998 after calling scan in multiple tests within OpenCL application"
Hi,
I try to use the scan operator to compare it with my own implementation.
Unfortunately, I am not able to make the scan work correctly.
Based on the guide regarding interoperability with OpenCl the implementation currently looks like this (tried also some other variants with the same results).

[code]
I included this call within a function of a wrapper.
I defined several test cases using the Te

[2017-11-22 04:18] 9prady9 commented on #1993
@munnybearz I can't say EC2 instance but I use a normal installation of Ubuntu 16.04(Elementary OS) with CUDA 7.5(with driver 384.90) on current master branch and tests work as expected. What is the driver version you have ?

Can you do `export AF_PRINT_ERRORS=1` and run an individual test(any test, info_opencl or info_cuda are the simplest) and share the output shown by those tests.

[2017-11-22 04:32] 9prady9 commented on #1995
@meister87 Can you please share a simple, one-source-file, example that can help us reproduce this on our end.

[2017-11-22 10:19] meister87 commented on #1993
Hi,
Thanks for the hint. most of the segfaults were caused by missing test data.
After including the test data most test cases successfully pass.

Some fail because of timeouts of the GPU.
Considering the timeouts, there is some strang behaviour of my machine.
Sometimes not only the execution of the test is killed, but also my complete desktop crashes.

For the other tests, I attached the  output

[2017-11-22 10:40] 9prady9 commented on #1993
You can safely ignore the clFFT warnings.

What GPU are you running these tests on ? Also please give driver version. Is it windows you are working on ?

[2017-11-22 11:01] meister87 commented on #1995
Thank you for looking into this issue.
Your help is really appreciated.

Here is  the minimal example.
[code]
If the tests are executed one after another and only once, both tests passes.
If both tests are executed together, or a single test is repeated (--gtest_repeat=2) the second execution fails, because af_input is not initialized correctly.

[2017-11-22 11:14] meister87 commented on #1993
I executed the tests on a system with Ubuntu 16.04, Geforce GTX 960M, with the driver 384.90 (nvidia-384)

[2017-11-22 13:14] 9prady9 commented on #1993
I am using same OS & driver with GT 650M. All the tests passed fine on my machine. I wonder if it is because it is a Maxwell card. @umar456 What do you think? Do we have any "M" versions of Maxwell arch in-house ?

[2017-11-22 14:58] meister87 commented on #1995
In TearDown: clRetainMemObject should be clReleaseMemObject.
Independent of that, I get the same results.

[2017-11-23 02:46] BookmanHan opened #1996 "Could current ArrayFire support Matrix-Multply in batch mode?"
Hi, I have read some issues of batched MM.
I think this may be featured in latest version 3.5.1, because this page (http://arrayfire.org/docs/page_gfor.htm) illustrates an usage of gfor-MM.

But, I can't apply a batched-MM as below.
[code]

What should I do?

On the other hand, ArrayFire could not work with OpenMP as below.
[code]
It came up with an exception in `af::gen_assign`.
Could this be fix

[2017-11-23 07:13] pavanky commented on #1996
- Duplicated in #483
- Being implemented in 1898

[2017-11-23 07:13] #1996 closed

[2017-11-24 01:11] BookmanHan commented on #1996
@pavanky How to use batch-mode? just write it in a gfor?

[2017-11-24 03:22] pavanky commented on #1996
@BookmanHan It is isnt supported yet. But once #1898  gets merged, yo can simply do:

[code]

and it will work for 3D or 4D arrays.

[2017-11-24 06:42] BookmanHan commented on #1996
@pavanky
Thanks, very much.
I really need this functionality.

Expect the good news.

Thanks, again.

[2017-11-27 06:58] Varadapavani commented on #1497
Hi ,
Iam compiling Android7 but i got following error . Please help me in solving this error.
make: *** No rule to make target `out/target/common/obj/JAVA_LIBRARIES/tcmiface_intermediates/classes.jar.toc', needed by `out/target/common/obj/JAVA_LIBRARIES/okhttp_intermediates/classes-full-debug.jar'.  Stop.

[2017-11-27 15:34] georgh opened #1997 "Building fails with BUILD_EXAMPLES=ON and BUILD_OPENCL=OFF"
Some examples reference opencl.
Would be great if they could react on the BUILD_OPENCL flag.

Message:

[code]

[2017-11-27 15:38] 9prady9 commented on #1997
@georgh The error indicates either you don't have OpenCL libraries installed or the compilation process is unable to find the installed libraries.

[2017-11-27 15:45] georgh commented on #1997
Yeah I know, but I thought if I specify BUILD_OPENCL=OFF it should not check for OpenCl and not try to build with OpenCL

[2017-11-27 16:10] 9prady9 commented on #1997
Can you paste the output of the following command here
`cmake -LAH`

[2017-11-28 03:07] csverma610 opened #1998 "CMakeLists.txt"
I am unable to compile V3.5.1 with the given CMakeLists.txt. However, I am able
to compile the version that I had downloaded in Aug 2017. The new CMake does give an option for CPU_ASYNC and does not understand Boost.compute even
though it correctly identifies the header files.

[2017-11-28 06:00] pavanky commented on #1998
@umar456 ^

[2017-11-29 05:28] umar456 commented on #1998
Can you give me some information about how its failing?

[2017-11-30 17:57] rstub opened #2000 "SIGSEGV with getDefaultRandomEngine()"
When I try to use getDefaultRandomEngine() I get a SIGSEGV. Example code:

[code]

And gdb log:
[code]

I am using ArrayFire 3.5.1 (installed with the binary installer) on Debian.

[2017-12-01 08:59] lfdmn opened #2001 "canny_cuda test fails on Tegra TX2, AF 3.5.1"
Hi,

I built AF 3.5.1 on my jetson TX2 dev kit.

2 tests fail:
- **canny_cuda**:
[code]
- **backend_unified** also fails but as read in a previous issue it's probably because I have not added the build binaries to the search path, so I'm sure I'll figure this one out.

-Damien

[2017-12-01 12:05] 9prady9 commented on #2001
@lfdmn Can you please rerun the test with `export AF_PRINT_ERRORS=1`, it doesn't look it is value errors - something else is going on - once canny failed, all the other failed tests failed while calling `af_create_array`.

[2017-12-01 12:43] 9prady9 commented on #1993
@munnybearz Can you please share your driver details.

[2017-12-01 13:05] lfdmn commented on #2001
@9prady9 Here are the traces
[code]

[2017-12-01 13:12] 9prady9 commented on #2001
@umar456 Could it be launch configuration issue ? I thought those issues where sent into 3.5.1 or they aren't yet.

[2017-12-01 14:31] umar456 commented on #2001
I don't think these tests are very large. Those only popped up when we exceeded the max global dimension in CUDA.

[2017-12-01 14:33] 9prady9 commented on #2001
@umar456 Any ideas on how he can get more info? Do we have TX2?

On Fri 1 Dec, 2017, 8:01 PM Umar Arshad, <notifications@github.com> wrote:

[2017-12-01 14:51] umar456 commented on #2001
yeah, @mlloreda should have the login info.

[2017-12-01 15:10] umar456 commented on #1997
@georgh It looks like it is still building the OpenCL backend. How did you set the BUILD_OPENCL flag when you ran CMake?

[2017-12-01 15:46] CNugteren commented on #1963
#1973 is now merged in (thanks a lot!), so I think this issue is now resolved. Perhaps @fzimmermann89 can re-run the tests on the latest version to see if this is indeed the case?

[2017-12-01 17:05] 9prady9 commented on #2000
@rstub I was able to reproduce this and I am looking into it.

[2017-12-01 18:09] umar456 commented on #1995
I was able to reproduce this issue and it seems to be a problem with the way we cache kernels. The kernel cache is there to avoid compiling the OpenCL kernels multiple times. It is based on the device tracked by ArrayFire and not the OpenCL device id.

When you destroy the context you are also destroying the device and memory associated with the context. Unfortunately ArrayFire does not know that

[2017-12-01 20:33] WilliamTambellini commented on #1673
Ok so looks like:
- CLBlast seems to be able to support fp16:
https://github.com/CNugteren/CLBlast/blob/master/include/clblast_half.h
- both Tesla P100 and V100 are native fp16 capable and at least cuda introduced half support:
https://devblogs.nvidia.com/parallelforall/new-features-cuda-7-5/

@pavanky @umar456  is there any remaining blocker points to move forward on this issue ?
Cheers

[2017-12-04 06:02] 9prady9 opened #2006 "Add Window method to change axes label format"
Originally reported in upstream graphics library, Forge. https://github.com/arrayfire/forge/issues/152

Code used to reproduce the issue.
[code]

Current work around to for the issue is to explicitly set the limits as follows.
` window.setAxesLimits(0.0f, 0.4f, 0.0f, 0.9f, -1.0f, 1.0f, true);`

[2017-12-04 09:47] meister87 commented on #1995
Still, I find it interesting that the sort works given a similar example, while the scan does not.

Thanks for checking it and giving the hint for the workaround.

[2017-12-04 17:52] pavanky commented on #1995
@umar456 Considering that the opencl backend now have a unified cache, do you think this can be fixed easily?

@meister87 That's probably because sort uses boost.compute which is caching more cleverly than arrayfire is..

[2017-12-04 18:34] 9prady9 commented on #1995
Probably use `cl_device_id` instead of an int, which we have now.

[2017-12-04 22:45] rstub opened #2007 "RNG quality with OpenCL"
As part of https://github.com/RInstitute/rcpparrayfire I am trying to advertise ArrayFire's capability of producing random numbers real fast. But before doing so I wanted to check the RNGs and ran into problems when doing chi^2 tests with lots of random numbers. The original analysis used R in some parts, but I have recoded it in C++ here:
[code]
Here I am drawing 10^8 random numbers, calculate a

[2017-12-04 23:06] pavanky commented on #2007
@rstub Thanks for reporting this. Do you mind contributing a test that will catch these issues in the future ? I can try to use your test as a reference to debug / fix the issue.

[2017-12-05 18:08] rstub commented on #2007
I have given this a shot and this is what I came up with as addition to `test/random.cpp`:
[code]

This produces some test failures right on CPU:

[code]
and OpenCL:
[code]

So it works in principle, but there are several problems:
* Runtime: random_cpu takes 890 s on my machine, more than 600 s due to these new tests. And that is with some tests failing early.
* The failure conditions are fragile

[2017-12-05 18:56] pavanky commented on #2007
@umar456 What do you think of adding tests that we run infrequently ?

[2017-12-05 20:50] umar456 commented on #2007
I think that's a good idea. These types of tests should be done nightly.

[2017-12-05 22:28] WilliamTambellini opened #2008 "Update unified backend doc"
Seen on
http://arrayfire.org/docs/unifiedbackend.htm
"On Linux and OSX, add /usr/local/cuda/nvvm/(lib or lib64) to LD_LIBRARY_PATH or DYLD_LIBRARY_PATH."
Is nt nvvm no more needed from 3.5+ ?
Kind

[2017-12-06 15:02] rstub commented on #2007
I think I have found the reason for this. For some reasons PHILOX and THREEFRY have a period of only 2^32. Consider:
[code]

Output on my machine:
[code]

[2017-12-06 17:12] rstub commented on #2007
I think I have found the reason for this. For some reasons PHILOX and THREEFRY have a period of only 2^32. Consider:
[code]

Output on my machine:
[code]

[2017-12-06 17:18] pavanky commented on #2007
@rstub Thanks for diggging into this. Is the cpu backend also failing after the same amount of draws?

[2017-12-06 17:30] rstub commented on #2007
@pavanky Yes:
[code]
BTW, I have not tried to understand this from the code, but I am really curious how that happens. From reading the Random123 paper on today's commute I have the impression that both PHILOX and THREEFRY variants use 4 32bit integers as counters. If one increases only one of them, then it is easy to get repeating numbers after 2^32 steps. But each step should give 4 32bit number

[2017-12-06 17:40] pavanky commented on #2007
@rstub I'll check the codebase later today to see what the issue is :)

[2017-12-06 18:52] munnybearz opened #2009 "af::lookup fails on CUDA when looking up in a single column array"
Hi team,

I think I've found a bug in the af::lookup() method on the CUDA backend. This example demonstrates it:

[code]

On the CPU backend this produces the correct result:

[code]

However on the CUDA backend the last array is incorrect:

[code]

If the initial array a was a 2+ column array the lookup works as expected on CUDA:

[code]

It just doesn't seem to work when a is a 1 column array!!

[2017-12-07 07:35] 9prady9 commented on #2009
@munnybearz I was able to reproduce this on my end, I will look into it. Thank you for reporting it.

[2017-12-07 12:28] 9prady9 commented on #2009
I found the problem. This is a difference in behavior of `lookup` from **CUDA** backend compared to **CPU**/**OpenCL**. **CUDA** backend has a fast path for **1D** arrays where it is computing first-non singleton dimension and then using that `dim` for lookup instead of the one passed down from the API level.

I will send in a PR soon.

[2017-12-07 12:30] munnybearz commented on #2009
fantastic thank you very much!

On 7 December 2017 at 12:28, pradeep <notifications@github.com> wrote:

[2017-12-07 22:35] rstub commented on #2007
I think I am able to provide some answers. The period of 2^32 comes from two places.

* While a 64 bit counter is used, it is converted to 32 bit before being passed on to the CBRNG:
https://github.com/arrayfire/arrayfire/blob/master/src/backend/cpu/kernel/random_engine.hpp#L100-L105 and https://github.com/arrayfire/arrayfire/blob/master/src/backend/cpu/kernel/random_engine.hpp#L118-L123
* The cou

[2017-12-08 00:02] pavanky commented on #2007
@rstub There was some misunderstand on my part when I originally wrote the philox implementation for opencl based on older version of Random123 a few years ago.

The engineer who followed up on it used my code base as a starting point which seems to have caused the issue. The code shown here is much more reasonable: https://github.com/DEShawResearch/Random123-Boost/tree/master/boost/random. I will

[2017-12-08 09:25] meister87 commented on #1995
You definitely should switch to the device id.
Currently, it seems that the cached kernels are only assigned based on the offset in the cache for devices.
If the device switches (afcl::deleteDevice(d_id,context + afcl::addDevice(d_id,context,command_queue) the same error pops up, even if, device id and context are cached within a static function/ not destroyed.

Nevertheless, I would expect that i

[2017-12-08 12:08] 9prady9 opened #2011 "merge `clamp` utility function across multiple kernel files"
This issue is applicable to all backends I believe. If possible, abstract it across all backends.

[2017-12-08 13:47] 9prady9 commented on #2008
@WilliamTambellini Yes, we moved to nvrtc as part of this PR https://github.com/arrayfire/arrayfire/pull/1836. I will udpate the documentation in the PR https://github.com/arrayfire/arrayfire/pull/2012.

Thank you for reporting it.

[2017-12-08 18:42] 9prady9 opened #2013 "ASSETS_DIR variable not set for examples in CMake"
This an issue only in `image_processing` and `machine_learning` examples where images are being used but the `ASSETS_DIR` was not properly set.

[2017-12-09 09:17] CNugteren commented on #1956
Now that issue #1963 is solved, perhaps it is time to re-evaluate making CLBlast the default back-end? Any thoughts from your side?

[2017-12-09 17:52] WilliamTambellini commented on #1956
On my side I m interested by both fp16 and batched matmul which are supposed to be already implemented in CLBlast, right ?

[2017-12-09 19:20] CNugteren commented on #1956
Yes, CLBlast has FP16 and batched GEMM support, but that's not used by ArrayFire. Anyway, that's a separate issue: this is about making CLBlast the default. If you want to use ArrayFire with CLBlast, you can already do so today.

[2017-12-11 05:45] 9prady9 commented on #1827
Closing the issue as it has been inactive for a while. @ultimaRatio Please reopen if you are still facing the issue with newer fix release.

[2017-12-11 05:45] #1827 closed

[2017-12-12 00:40] syedalamabbas opened #2015 "Cannot run the examples from the fresh install."
I just downloaded the arrayfire library and installed on my machine. But when I try to run the CUDA platform helloworld, I get these missing dlls error. I wonder if I am missing any settings ? Please take a look at this picture.
![image](https://user-images.githubusercontent.com/9631714/33861268-d561c02c-de91-11e7-9fc6-23dfe39fbb17.png)

[2017-12-12 00:44] syedalamabbas commented on #2015
Do I need to install cuBLAS_64, cufft_64 and cusparse_64 separately for CUDA platform arrayfire code to work ?

[2017-12-12 01:06] pavanky commented on #2015
@syedalamabbas What eversion of CUDA do you have installed on your machine ? I think the latest installers only support CUDA 8.0.

If you have CUDA 9.0 installed, can you install the CUDA 8.0 as well ? AFAIK you can have multiple cuda toolkits installed at the same time.

[2017-12-12 02:16] syedalamabbas commented on #2015
Hi Pavan, I tried installing cuda 8.0 but the installer never completes, it says cuBLAS etc already installed.

[2017-12-12 07:00] WilliamTambellini commented on #1673
FYI: TensorFlow implementation of fp16:
https://github.com/tensorflow/tensorflow/issues/1300

[2017-12-12 16:03] syedalamabbas commented on #1985
This is related to my issue, https://github.com/arrayfire/arrayfire/issues/2015. When can the CUDA 9.0 arrive ?

[2017-12-14 01:00] WilliamTambellini opened #2016 "Crash with AF OpenCL backend when multithreading"
Good evening all
I experiment this crash when multi-threading my application through 2 threads doing misc linear algebra with AF :

ArrayFire v3.5.1 (OpenCL, 64-bit Linux, build 0a675e8)
[0] INTEL: Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz, 15925 MB
...
Stack dump:
0    Running pass 'Function Pass Manager' on module 'main'.
1    Running pass 'Live Interval Analysis' on function '@KER17701277504533

[2017-12-14 01:49] pavanky commented on #2016
FYI The stack trace doesnt contain any linear algebra functions.

[2017-12-14 01:50] pavanky commented on #2016
@umar456 probably relevant: https://github.com/boostorg/compute/blob/86211062a771ab0b494116b4223b63a292ad7d11/CMakeLists.txt#L42

[2017-12-14 05:44] WilliamTambellini commented on #1985
Cuda 9.1 just released:
https://docs.nvidia.com a/cuda/cuda-toolkit-release-notes/index.html
NVIDIA has issued CUDA 9.1 as their first feature update to the CUDA 9 compute platform.
CUDA 9.1 development focused on delivering new algorithms and performance optimizations centered around AI and HPC. Also, optimizations are ensuring a great and performant experience on their very latest Volta GPUs. CU

[2017-12-14 17:35] WilliamTambellini commented on #2016
Oh thank you @pavanky  : I did nt know: so basically, the AF openCL backend is using Boost Compute to handle OpenCL. Cool.
@umar456  AF having to be threadsafe, I suppose you have to turn on  BOOST_COMPUTE_THREAD_SAFE for the default AF buid ?
Cheers

[2017-12-14 17:46] pavanky commented on #2016
@WilliamTambellini boost.compute is used for certain functionality only. Most predominantly sort functions.

[2017-12-15 00:59] WilliamTambellini commented on #2016
Thank you @pavanky
I suppose the best place to set BOOST_COMPUTE_THREAD_SAFE is in the file
CMakeModules/build_boost_compute.cmake
?

[2017-12-15 01:12] WilliamTambellini opened #2017 "Compilation failure on ubuntu 16 with OpenCL 2"
when building AF master on a ubuntu (16) with the default openCL (version 2, /usr/lib/x86_64-linux-gnu/libOpenCL.so) then AF is cmaking correctly, compiling correctly but then failing to link:

../../src/backend/opencl/libafopencl.so.3.6.0: undefined reference to `clReleaseMemObject@OPENCL_1.0'
../../src/backend/opencl/libafopencl.so.3.6.0: undefined reference to `clReleaseCommandQueue@OPENCL_1.0'

[2017-12-15 08:02] #2013 closed

[2017-12-15 08:02] #2000 closed

[2017-12-15 08:02] #2008 closed

[2017-12-15 09:04] JosefJerabek opened #2020 "difference between CPU / CUDA while multiplying zero and nan"
`const af::array nan = af::constant(1.0, 1)) / (af::constant(0.0, 1);`
`const af::array zero = af::constant(1.0, 1) < 0.0;`
`const af::array product = zero * nan;`
`af_print(product);`

When linked with afcpu.lib gives this:
product
[1 1 1 1]
 -nan(ind)

When linked with afcuda.lib gives this:
product
[1 1 1 1]
    0.0000

[2017-12-15 19:04] WilliamTambellini commented on #2016
@umar456 as agreed, could you flag this bug  to be fixed in 3.5.2 ? Tks.

[2017-12-17 11:44] munnybearz commented on #1993
@9prady9 info_cuda gives me:

btw this issue is a lower priority from my side as I haven't been using EC2 much recently

[2017-12-17 11:56] 9prady9 commented on #1993
@munnybearz I believe these failures are addressed in PR https://github.com/arrayfire/arrayfire/pull/2019 Fast and Orb and doesn't fail with CUDA 9 anymore on our build servers. Please verify it on your end as well. Closing the issue for now. Feel free to reopen if you are still seeing the problem on master after PR 2019.

[2017-12-17 11:56] #1993 closed

[2017-12-18 15:59] navidR opened #2023 "Need to have default value for FFTW_USE_STATIC_LIBS"
[code]

FindFFTW.cmake cannot sync correctly with the build process. For example, default build process in windows uses static linking, but as you can see findFFTW finds dll version because there is no default value for "FFTW_USE_STATIC_LIBS".

I think a better solution would be changing the internal of FindFFTW.cmake file and making static compilation as default one. But for now I only added
[cod

[2017-12-18 23:47] WilliamTambellini commented on #2016
From the boost compute doc:
http://www.boost.org/doc/libs/1_63_0/libs/compute/doc/html/boost_compute/getting_started.html#boost_compute.getting_started.configuration_macros

"BOOST_COMPUTE_THREAD_SAFE
Builds Boost.Compute in a thread-safe mode. This requires either support for C++11 thread-local storage (via defining the BOOST_COMPUTE_HAVE_THREAD_LOCAL macro) or linking with Boost.Thread.

[2017-12-19 04:18] umar456 commented on #2023
Are you compiling using v3.5? If so this should have been addressed with #2021. The FindFFTW.cmake in that case was incorrectly setting the CMAKE_FIND_LIBRARY_SUFFIX to dll on windows. If you run into this issue on master then that needs to be addressed.

Also I see you are using vcpkg. How do you like it and has it made the build processes easier on Windows?

[2017-12-19 11:31] navidR commented on #2023
Yes, I was under the impression bugfixes would be backported to latest stable release and I was using v3.5.1. I tried the master and it worked. thx. One quick question though, when 3.5.2 is going to get released?

Actually, it has made my life way easier. I use it all the time for everything and I am writing a small port to have Arrayfire in VCPKG repository so people would be able to install Arra

[2017-12-19 12:06] 9prady9 commented on #2023
@navidR Yes, we are backporting fixes. However, the fix needed to resolve your problem hasn't been yet. We will do the next backport to v3.5 branch when we do 3.5.2 release I believe. @umar456 Please confirm.

[2017-12-19 20:02] #2011 closed

[2017-12-20 03:43] umar456 commented on #2023
@navidR The change will be backported. Its currently under review #1992 . It has the #2021 change if you want to give it a try. We want to get a release out soon. I was waiting for #2024 but that was merged in this morning so we are pretty close.

[2017-12-20 08:05] navidR commented on #2023
thanks.

[2017-12-20 08:05] #2023 closed

[2017-12-20 08:27] kwasif opened #2027 "arrayfire using C++ for my existing project on visual studio 2012"
I plan to integrate my current C code with arrayfire. I want to transfer my host array to device compute its absolute value and transfer it back. My code compiles but while running i get an error that var1 is not initialized. Any corrections? I wanted to ensure if i am using the right functions. Appreciate any help. Not much support for Arayfire C library,
float h[]={-1.5};
af_array var1;
af_array

[2017-12-20 09:21] 9prady9 commented on #2027
@kwasif You should look at the function `af_create_array`. `af_write_array` is used to copy given number of bytes from either a `af_array` or host pointer to another `af_array` whose allocation has already been done a.k.a it has been created previously using `af_create_array`. Hence you are getting error that `var1` is not initialized.

We strongly recommend using the C++ API for ArrayFire and lar

[2017-12-20 09:22] 9prady9 commented on #2027
@kwasif Also, if you wanted to have the attention of @pavanky , please do so in a comment, not in the title of the issue.

[2017-12-20 18:34] HoneyPatouceul opened #2028 "JIT Issue on Tegra TX Devices is back ?"
Looks similar to https://github.com/arrayfire/arrayfire/issues/1910, but it may have a different cause.

I have upgraded my TX2 with R28.2 and cuda9.0 and built arrayfire 3.6.0.
The code that was working with R28.1 and cuda8.0 (after bug #1910 had been fixed) no longer works and fails with:
[code]

The failure happens on 6th iteration of code after 5 successful iterations.

[2017-12-20 18:43] umar456 commented on #2028
@pavanky Looks like the kernel was too large.

[code]

I wonder if there is a programmatic way to figure out the limitation of the devices.

[2017-12-20 19:48] pavanky commented on #2028
@HoneyPatouceul Can you add `af::eval(output)` (or whatever it is called) at the end of the iteration ?

If you have more than one output (and if they are the same shape) add `af::eval(output1, output2, output3)` at the end of the loop.

[2017-12-21 18:45] #2016 closed

[2017-12-21 19:08] HoneyPatouceul commented on #2028
**@pavanky**  I had already done that. Adding an intermediate eval in the loop before a call to a function solved it...but now my code failed elsewhere after many iterations (runs about 20 minutes before error, so it's not easy to track) :

Is there a way to limit lazy evaluation ?  The thing is that this code was working fine and fast with TX1 with the last 32bits version (L4T R23.2) and cuda7.0.

[2017-12-21 19:27] pavanky commented on #2028
@HoneyPatouceul you can try playing aroung with `AF_CUDA_MAX_JIT_LEN` environment variable. More here: http://arrayfire.org/docs/configuring_environment.htm#af_cuda_max_jit_len

Btw if something was working on an older version of the toolkit and is broken now, it is a regression from NVIDIA's side. There's not much that can be done from arrayfire's side.

[2017-12-21 20:39] HoneyPatouceul commented on #2028
**@pavanky**

Thanks for the info. Indeed, setting AF_CUDA_MAX_JIT_LEN to 13 or less allows my app to run.
I don't see much difference from 1 or 2 to 13.
Furthermore, maybe off topic, but in the link you mentioned, I feel a bit confused about :
AF_MEM_DEBUG

[code]
So the mem debug is enabled by default ?

[2017-12-22 00:54] HoneyPatouceul commented on #2028
[https://devtalk.nvidia.com/default/topic/1027893/arrayfire-lib-performance-among-l4t-cuda-new-versions/](url)

[2017-12-23 13:03] CNugteren commented on #1963
@fzimmermann89 We could close this issue, right? I also just noted there is a big typo in the title, it should be `CLBlast` rather than `CBlast` ;-)

[2017-12-23 13:19] fzimmermann89 commented on #1963
Oh, yes. I haven't had problems since your fixes and will close this issue.

[2017-12-23 13:19] #1963 closed

[2017-12-23 21:05] #2009 closed

[2017-12-25 08:24] pavanky commented on #2028
@HoneyPatouceul I think the documentation is incorrect. The default is set to zero.

Do you want to send in a patch to fix the docs ? The location of the file is: docs/pages/configuring_arrayfire_environment.md

[2017-12-25 08:28] pavanky commented on #2028
If you are building arrayfire from source, you can print `jit_ker` immediately after this line: https://github.com/arrayfire/arrayfire/blob/master/src/backend/cuda/jit.cpp#L359

There will be multiple kernels that are printed. You can just send them the last kernel that is failing.

[2017-12-25 20:03] HoneyPatouceul commented on #2028
I think it's done. Let me know if you don't see my patch or if it's not correct.

[2017-12-27 16:24] HoneyPatouceul commented on #2028
Running the tests shows 3 tests failing (blas_cuda, canny_cuda that leads to gpu memory fault, and jit_cuda).
For jit_cuda, the unit test failing is JIT.ISSUE_1646 that throws similar exception as reported:
[code]

It fails when setting AF_CUDA_MAX_JIT_LEN to 19 or more, and succeeds with 18 or less.

[2017-12-29 15:39] #1940 closed

[2018-01-01 05:25] irajdeep opened #2034 "error: thread-local storage is not supported for the current target"
Building on macOS Sierra 10.12.6 , I was getting this error

-- Found OpenCL: /System/Library/Frameworks/OpenCL.framework (found suitable version "1.2", minimum required is "1.2")
-- Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES) (found version "1.0")
-- Could NOT find OpenMP_CXX (missing: OpenMP_CXX_FLAGS OpenMP_CXX_LIB_NAMES) (found version "1.0")
-- Could NOT find PkgConfi

[2018-01-01 05:30] irajdeep commented on #2034
After a bit of google search the following solved the issue

Using homebrew clang instead of Apple clang
`brew install llvm --with-clang --with-asan`

Then in the `CMakeCache.txt` change the `CMAKE_CXX_COMPILER` to following:
`//CXX compiler
CMAKE_CXX_COMPILER:FILEPATH=/usr/local/opt/llvm/bin/clang++`

[2018-01-02 17:22] pavanky commented on #2034
Hmm this shouldnt be happening if you have the latest xcode..

[2018-01-02 22:39] HoneyPatouceul commented on #2028
Confirmed the same on TX1 running L4T R28.1. Same limit 18 for AF_CUDA_MAX_JIT_LEN for passing test JIT.ISSUE_1646. Reported to NVIDIA in previously mentioned topic, waiting for their advices.

[2018-01-02 23:38] pavanky commented on #2028
Hmm the generated kernel looks incorrect. @umar456 can you look at the code and see if there is any overflow issues on arrayfire's end ?

[2018-01-02 23:39] pavanky commented on #2028
Nevermind. I misread the kernel code. @HoneyPatouceul Thanks for reporting it to nvidia :)

[2018-01-03 02:37] irajdeep commented on #2034
umm , might be but couldn't use the latest version of xcode because of [this](https://github.com/fireice-uk/xmr-stak-nvidia/issues/137) . Had to downgrade the xcode version to build.

[2018-01-03 04:20] pavanky commented on #2034
@umar456 ^

[2018-01-03 22:31] HoneyPatouceul commented on #2028
Seems that the release build is working fine :-), at least on JIT.ISSUE_1646.
But Debug build (or default, having CMAKE_BUILD_TYPE undefined) leads to this error.
Do you see anything that might explain this ?

[2018-01-04 00:25] pavanky commented on #2028
I am not entirely sure..

@umar456 any thoughts?

[2018-01-04 01:34] umar456 commented on #2028
Perhaps this is the issue:
https://github.com/arrayfire/arrayfire/blob/master/src/backend/cuda/jit.cpp#L285

@HoneyPatouceul Can you delete those lines and check if you run into this issue?

[2018-01-04 02:06] pavanky commented on #2028
@umar456 wasn't this added recently ?

@HoneyPatouceul is the bug reproducible on older versions of arrayfire?

[2018-01-04 08:43] HoneyPatouceul commented on #2028
@umar456   Indeed, commenting those lines solves the issue.

[2018-01-04 13:36] HoneyPatouceul commented on #2028
The debug build with 3.4.2 passes the test.
The debug build with 3.5.1 fails the test.

[2018-01-04 18:41] pavanky commented on #2028
@HoneyPatouceul Thanks for double checking.

@umar456 shouldn't `NDEBUG` be set by default ?

[2018-01-04 18:52] umar456 commented on #2034
Which version of clang are you using? I have
[code]
It is working without issues.

[2018-01-04 19:14] HoneyPatouceul commented on #2028
This would allow a default build to pass.
But how to do with debug builds ? Should be AF_CUDA_MAX_JIT_LEN be set to a lower value for debug builds, or is there a way to solve the "--device-debug" issue ?

[2018-01-04 19:18] pavanky commented on #2028
@HoneyPatouceul The bug still exists on nvidia's side. It is only showing up with the specified flags. Those flags are not necessarily needed for JIT to work. @umar456 can you remove them (or atleast disable them for tegra devices) ?

[2018-01-04 21:33] umar456 commented on #2028
Yeah, I can take care of that in a couple of days.

[2018-01-04 22:48] HoneyPatouceul commented on #2028
I may have been simplistic saying that.
Having NDEBUG defined by default may make debug builds more complicated, unless moving to DEBUG definition instead with many potential side effects.
NVIDIA knows about this, so I expect they can reproduce and advice or fix in a future release.

[2018-01-04 23:11] WilliamTambellini commented on #2017
Looks like it was due to a dirty build folder and/or bad opencl drivers/configs.
Issue to be closed.

[2018-01-04 23:19] #2017 closed

[2018-01-05 00:05] WilliamTambellini commented on #2016
Hi everybody,
I ve retried using the very AF master
commit 5cf32df70d823980d4cd3a4ca94250faf7c69e86
and AF still crashs:
0x7f432327c3c0 INFO  ArrayFire v3.6.0 (OpenCL, 64-bit Linux, build b7bd543)
[0] INTEL: Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz, 15925 MB -- OpenCL 2.0 (Build 475) -- Device driver 1.2.0.475 -- FP64 Support: True -- Unified Memory (True)
...
 Stack dump:
0.	Running pass 'Functi

[2018-01-05 14:10] irajdeep commented on #2034
With `(clang-900.0.37` it didn't work then I downgraded it to `clang-703.0.29` which worked.

[2018-01-06 18:57] shyams2 opened #2035 "Request for implementation of fft functions along a given dimension"
Similar to #1955 , it'll be great if the FFT functions could also take an axes argument that allows us to specify the axes along which the operation is to be performed.

[2018-01-07 20:11] HoneyPatouceul opened #2036 "Tests failing on Tegra TX2 R28.2-DP with AF master-3.6.0"
Similar to 3.5.1 issue #2001, but on master branch I see 2 tests failing in release mode and one more in Debug or default, as already reported in issue #2028.
Here are some additional details:

**Failure with blas_cuda/MatrixMultiply.Batched:**
[code]
**GPU Memory fault (Warp Illegal Address) with canny_cuda/CannyEdgeDetector.OtsuThreshold:**
[code]
leading to these kernel messages:
[code]
**Here

[2018-01-08 08:32] kwasif commented on #2027
Thanks @9prady9 . I was able to integrate arrayfire kernel in my existing application which runs on visual studio 2012. But when i run the application in debug mode i dont get any display for info() or print_af statements. Eventually i am getting the right answer using af_kernel but it takes almost 20 sec compared to 0.08 sec with a CPU implementation.  I have tried using sync n tried to vectorize

[2018-01-08 08:53] 9prady9 commented on #2027
On Windows, I have seen some times that DEBUG mode executions run pretty slow compared to Release mode. As far as the info() call output, it shouldn't matter if you are running in release or debug. Are you sure your application is console program according windows ?

Which API are you using, C/C++ ? It isn't clear from your comment which API you are using. If you are printing an `af_array` you wou

[2018-01-08 10:03] kwasif commented on #2027
I am using C++ API.  I already tried af_print() as well still no output. It is a mfc application but i am able to see other things in the output console.

I ran it in release mode as well it takes around 11 sec but not even comparable to the CPU performance.
Given below is my algorithm. which is mainly taking the template around the non zero pixels positions in image to compute difference with wit

[2018-01-08 10:40] 9prady9 commented on #2027
How are you timing the ArrayFire code execution ? Have you gone through [this](http://arrayfire.org/docs/timing.htm) documentation ? First  call to any function incurrs additional device warm up time and the first iteration run time should be averaged out by running the ArrayFire code multiple times. These details are explained in the above linked documentation tutorial about timing ArrayFire code

[2018-01-08 11:16] kwasif commented on #2027
I have used the timer::start() functionality to measure the time. Tried calling the function multiple times as well by looping over the same template again.
Unfortunately there is no pattern as such, these indices are random based on non zero pixel locations of image and template.

The indices are organized in a single array but the accessing of those indices would have to fetch random locations.

[2018-01-08 11:25] 9prady9 commented on #2027
@kwasif Can you please share a standalone source file with ArrayFire code running your algorithm that runs out of the box. Would be lot easier to understand your code and understand the bottleneck if any exists.

[2018-01-09 00:17] davidwowa commented on #1384
Note that the CUDA 9.1 driver supports macOS 10.13. This means that existing CUDA applications can be run on Mac systems with CUDA 9.1 installed, however new CUDA applications cannot be compiled with CUDA 9.1 on macOS 10.13.

Read more at: http://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html#ixzz53drQrgjs
Follow us: @GPUComputing on Twitter | NVIDIA on Facebook

[2018-01-09 01:52] kwasif commented on #2027
Strangely on visual studio 2013 i get output options in command prompt while using info() where as i dont get any output while using vs2012. The run time i get in release mode is 13 sec for first iteration and 12.3 sec for second iteration. The cpu code takes 0.09 sec. Attached is the algo af code with relevant txt files to load a few arrays. Look forward to your reply.
[test.zip](https://github.c

[2018-01-09 04:53] 9prady9 commented on #2027
@kwasif How long does your test program run ? I ran the code and it seems to be running for a while now (both on CPU and CUDA) ?

[2018-01-09 05:23] #2028 closed

[2018-01-09 05:23] #2036 closed

[2018-01-09 05:26] 9prady9 commented on #2036
Canny test failure is being tracked in #2001

[2018-01-09 05:36] kwasif commented on #2027
The cpu implementation is a part of application which takes close to 0.1 sec for the same computation.
If i use af_cpu option in array fire it takes 14 sec and using af_opencl with gpu device(NVIDIA 940MX) it takes around 12 sec. I tried commenting the entire for loop over non zero points and noticed it takes 12 sec again for no computation. I have installed opencl sdk etc as well.
This is a small

[2018-01-09 05:38] 9prady9 commented on #2027
@kwasif something else is going on your test setup then. For me the test program you gave took a lot more than 14 seconds using CPU backend also. In any case, please take a note of previous comment and try to vectorize your code.

[2018-01-09 07:35] 9prady9 commented on #2020
This is happening only when one of the operands of * operator is a boolean type(may be non float types, I haven't checked other types). But If I do the following, it is working as expected.

[code]

[2018-01-09 08:01] kwasif commented on #2027
Sure, I was doing vectorization with in the Nz for loop to compute diffeernce between 76 (Tz) points and accumulate the sum.

 I shall try to vectorize Nz and transfer all the arrays to device memory. The Nz vector gives rise to Nz*Tz computations when mapped against Tz. If i have a gfor loop for each of Nz is it a good approach or if i replicate Nz vector Tz times and then perform vector based op

[2018-01-09 08:04] 9prady9 commented on #2027
Either way is fine I think, whichever is more readable and understandable
for you. GFOR basically expands into a vectorized operation.

On Tue, Jan 9, 2018 at 1:31 PM W <notifications@github.com> wrote:

[2018-01-09 11:00] HoneyPatouceul commented on #2036
@9prady9
I don't want to bother you, but I still get the blas_cuda test failing on my TX1-R28.1 (cuda8) and on my TX2-R28.2-DP (cuda9).

On TX1-R28.1, canny_cuda OtsuThreshold test passes, but using  dmesg --follow I see it triggers memory errors:
[code]
Are you testing on a tegra or another arm64 platform ?
If you did it on TX1-R28.1 or TX2-R28.2-DP, probably the problem is on my side. In such ca

[2018-01-09 11:47] 9prady9 commented on #2036
I tested it on a tegra, thats the only arm64 platform we test on our servers. It is TX2 that I am testing on.
[code]
on `R27` release. Is it still failing with the same error as earlier ?

[2018-01-09 11:51] 9prady9 commented on #2036
@HoneyPatouceul
[CMakeCache.txt](https://github.com/arrayfire/arrayfire/files/1614956/CMakeCache.txt)
Here is the cmake cache on my local build.

[2018-01-09 12:25] HoneyPatouceul commented on #2036
Thanks.

It may be related to cuda versions.

I've had my TX2 using R27.0.1 (was a pre-realease) with cuda8.0.64-1.
Then I've updated to R28.1 with cuda8.0.84 and got some new problems with jit.
Recently I've upgraded to R28.2-DP (developer preview) with cuda9.0.252 and got new problems.

I have atlas installed while in your case open_blas is used. I'll try to check if it has some relation for bla

[2018-01-09 15:43] 9prady9 commented on #2020
I have debugged it to some extent and given below are my findings.

* Adding `zero.eval()` after zero variable declaration gives correct results.
* Changing zero to be a `constant(0.0, 1, b8)` or constant array of any other type also works as expected.
* Seems to be related to `<` & `>` operators and scalars.
* Printed out the generated kernels from jit module and they checkout fine in terms of th

[2018-01-10 02:54] kwasif commented on #2027
@9prady9 I took the approach of vectorizing the entire computation. Used the following approach by tiling the non zero points (thsLength) to map onto the template points (76). Aggregated the result for all the points then. This approach is still 4 times slower than CPU. Any more suggestions?

                 array current_indices=array(thsLength,76,u32);
		  array start_y2=tile(start_y,1,76);

[2018-01-10 03:10] kwasif commented on #2027
I did a bit of breakdown on the timing and noticed the below step consumed almost 0.12 sec(half of total AF kernel time 0.23)
 array diff_af=af::abs(current_indices_val-transpose(current_template_val2))*0.1;

[2018-01-10 07:20] kwasif commented on #2027
Resolved, apparently it was loading afcpu.lib due to which i wasnt able to see much speedup. Now i am getting a speedup of 6-7 times.

[2018-01-10 07:20] #2027 closed

[2018-01-10 09:18] 9prady9 commented on #2027
Glad, you resolved!

[2018-01-10 10:56] 9prady9 commented on #2027
Leaving a note here for any future references for users who visit this issue.
@kwasif You can also link to `af.lib` which is the unified interface to our library. The advantage of unified interface is that you can use you can set the required backend `setBackend()` call and don't need to worry about changing the linking library and recompile your code every time. You can also avoid problems as abo

[2018-01-10 11:09] kwasif commented on #2027
Sure noted. Just one last thing in my new integrated project which is now working fine i am unable to get any display output while using info() or af_print_mem_info() tried on vs12 n vs13 still no luck. Any particular reason?

[2018-01-10 14:33] 9prady9 commented on #2027
Not sure why that would happen. I have used vs12 for another project a month ago and everything was printing fine.

Where are you trying to see the info() print statements ?

Is your program a win64 console application or a Windows application ? In the later case, I am not sure how printf statements work out - as in where does their output send to. Could it be that ?

[2018-01-10 18:34] nikkadim opened #2038 "abs() behavior"
ArrayFire v3.5.1 (CUDA, 64-bit Windows, build 0a675e8)
Platform: CUDA Toolkit 8, Driver: CUDA Driver Version: 9010
[0] GeForce GTX 1070, 8192 MB, CUDA Compute 6.1

and sobel_hist.type() = 6 (which is u32)

[code]
as a result:

is this a right behavior? I guess it should set tmp absolute difference?

[2018-01-10 18:44] pavanky commented on #2038
@nikkadim sobel_hist is unsigned. The subtract is causing an unsigned underflow. May be cast sobel_hist to int32.

[2018-01-10 18:49] nikkadim commented on #2038
@pavanky thank you for quick reply
`array tmp = abs(sobel_hist.as(s32) - meann_hist);`
does not help:

[2018-01-10 18:57] nikkadim commented on #2038
@pavanky it works only if cast to f32
`array tmp = abs(sobel_hist.as(f32) - meann_hist);`

but why?

[2018-01-10 19:03] pavanky commented on #2038
@nikkadim I think the type inference inside arrayfire is screwed up. I'll look into it.

[2018-01-11 02:40] kwasif commented on #2027
Its a windows application but normal printf statements work fine. Before launching the kernel while setting backend parameters i was using info(). I plan to use the af_print_mem_info("mem",0); to checkout the memory consumption in each iteration. The code seems to crash when i go into next iteration of template with a different size from 76 to 100. Gives me this error af::exception at memory locat

[2018-01-11 04:42] 9prady9 commented on #2027
I am not sure why info() is not printing anything. I can assure that af::info() is internally just bunch of printf statements, so I don't think it is an issue from ArrayFire code. Can you reproduce this print issue on any standalone example that is shipped with ArrayFire ?

As far as the memory related problem, Can you check if it is memory limitation problem ? That is you are running out of memor

[2018-01-11 06:50] kwasif commented on #2027
info() works well with Standalone array fire application. The problem comes when i try to insert an AF kernel into my project.
The memory utilization on GPU goes to 2% only. So its not a case of short of memory. When i make the AF kernel call twice with different size it works fine but when i put a for loop with varying template size it gives me this error. ArrayFire Exception (Invalid input size:

[2018-01-11 08:14] 9prady9 commented on #2027
@kwasif I am afraid it is hard to say anything without code. Since the original question about which this issue has been answered, please close this and kindly open another issue with the code sample that can help us reproduce the memory issue you are facing. Unless, the problem can be reproduced in a standalone example, it is hard debug the code remotely with error messages alone.

[2018-01-14 21:29] HoneyPatouceul commented on #2036
@9prady9
Well, so far I still consider these errors to be active issues on recent L4T versions.
I've tried to build from your config, just translating paths and cuda9 options for ruling out any cmake-gui issue, but still get the same.
Removing atlas doesn't change the blas_cuda issue.
I've built a version on my TX1 using R28.1 that was passing the blas_cuda test, but unsure how I did it (unable to

[2018-01-15 05:02] kwasif opened #2039 "Device out of memory and no speedup with array fire on NVIDIA GPU card"
My application requires a for loop with in which i call my AF kernel. Due to increasing dimension & memory constraint i retained the for loop.  The memory on GPU keeps accumulating in every iteration.

I have tried using eval() but the device memory still gets populated.
I am not allocating memory through alloc() so unable to use free() function. Using free gives the following error
Unhandled exce

[2018-01-15 05:03] kwasif commented on #2039
@9prady9 Any mechanism to flush a few device variables which are initialized without using alloc()?

[2018-01-15 05:41] pavanky commented on #2039
do you have some code that can reproduce this?

[2018-01-15 10:20] kwasif commented on #2039
Its a part of my application. let me put a snippet so that it is easier to understand.
width=1280;
height=1024;
array points_edge_af=randu(width*height,u32);
array image_af=randu(width*height,f32);
array overall_template(1298,f32);
for (int id=2;id<11;id++)
{
array template_X=overall_temlate_af(seq((id-1)*id),id*id-1,1))
af_kernel(result_af,template_x, image_af,points_edge_af,id)
}

void af_kernel

[2018-01-15 17:02] pavanky commented on #2039
Can you try adding af::deviceGC() ?

Also since you are doing transpose(template_x_unwrap) consumes more memory than transposing `template_x` first and then performing the tile.

[2018-01-15 22:06] HoneyPatouceul commented on #2001
Further testing on TX2 with R28.2-DP and cuda9, using cuda-memcheck with AF-3.6.0 debug build (with some jit traces and skipping patch from #2037)  I see:

[code]

Any suggestion ?

[2018-01-16 01:39] kwasif commented on #2039
Thanks, Noted will make changes for the transpose.
Using af::deviceGC() did flush the variables but it also flushed the output result_af. I tried result_af.lock() but it still got flushed away. Do i have to transfer the output back to host array before i flush the kernel variables in every iteration?

Also will it make sense to use eval() since i am flushing away the kernel variables the compiler

[2018-01-16 02:46] kwasif commented on #2039
Also the kernel takes more time than that of CPU implementation.  My code constitutes of 3 for loops of which inner 2 for loops have already been vectorized.  Any suggestions on that?

[2018-01-16 06:02] pavanky commented on #2039
That should not be happening at all. It will only remove memory that is never referenced.

Cant help you without stand alone code.

[2018-01-16 06:38] kwasif commented on #2039
My bad its working now.  Btw should i use eval() before calling deviceGC() or its not required in this case.

Will try to provide a stand alone for further analysis.

[2018-01-16 07:41] kwasif commented on #2039
@pavanky  Attached is the standalone. Input is loaded from text files.
[test.zip](https://github.com/arrayfire/arrayfire/files/1633981/test.zip)

[2018-01-16 10:34] kira505 opened #2041 "Unable to use arrayfire on Windows with Intel HD Graphics 620"
When i select the intel device and try to set the backend as CPU or OPENCL, It gives the following error.

ArrayFire Exception (Internal error:998):
In function int __cdecl cuda::DeviceManager::setActiveDevice(int,int)
In file src\backend\cuda\platform.cpp:594
CUDA Error (10): invalid device ordinal

In function void __cdecl af::setDevice(const int)
In file src\api\cpp\device.cpp:92

[2018-01-16 12:55] 9prady9 commented on #2041
@kira505 Can you please show how you are doing `set*` calls when you are getting this error.

[2018-01-16 13:23] 9prady9 commented on #2036
I will try to upgrade to L4T `28.1` and check for any failed tests on our tegra.

[2018-01-16 13:24] 9prady9 commented on #2001
@HoneyPatouceul I see those errors on normal CUDA device too. I will look into them, thank you for reporting them.

[2018-01-17 01:33] kira505 commented on #2041
When i use unified option the devicecount() returns 1 and hence the error.  where as when i use opencl option through config manager i get devicecount() as 3.

 af::setDevice(1);
af_set_backend(AF_BACKEND_OPENCL);
af::info();

The error comes in when i call af_set_backend() in unified mode.

I have two gpus(NVIDIA,Intel) on my desktop. So total devices are 3. I am fine to use OPENCL mode. I get sp

[2018-01-17 02:41] 9prady9 commented on #2041
@kira505 It seems like you are confused about unified API. Let me clarify it in case you misunderstood the unified API. When you use unified API, you are linking your program against `libaf.dll/lib`(Windows) which lets you choose backend(CPU, CUDA & OpenCL) and select a device among the devices on that chosen backend. Without unified API, you have to link your code against each backend's library e

[2018-01-17 06:49] kira505 commented on #2041
When using device 1(intel HD graphics card) in opencl model it gets hanged. Why am i not able to use the intel gpu?

In af_CPU mode does it perform evaluations in SIMD fashion or just sequential?
[sample.zip](https://github.com/arrayfire/arrayfire/files/1637954/sample.zip)

[2018-01-17 07:10] 9prady9 commented on #2041
CPU backend is a 100% sequential execution.

The sample is one of our examples, `filters.cpp`.  I don't see any `af::setBackend` calls in the sample you shared. Original description says you have getting the following error.

[code]
I am confused whats the problem here. Has the above issue resolved by itself ? Is the hang a different issue ?

There is a known issue with Intel OpenCL driver on Wind

[2018-01-17 08:17] kira505 commented on #2041
My desktop had 2 gpus, when i tried selecting gpu number in unified mode it gave that error. So to reproduce the error you will have to run it on some intel gpu.

The program does finish execution but takes longer than CPU. I will try to update the driver.

[2018-01-17 08:22] 9prady9 commented on #2001
Interestingly, I am not getting these errors with CUDA 7.5. I wonder what is causing this in CUDA 9. The relevant kernel in the error doesn't seem to have any issue in terms of memory accesses.

[2018-01-17 08:40] 9prady9 commented on #2041
With two devices, valid device ids are `0` and `1`. Can you show me the output of `af::info()` function call . I gave the sample ouput below, my machine has only one device, so it shows only one.
[code]
I don't have a Intel integrated GPU readily available for me, so unfortunately I can only guide you through the debugging process at the moment.

*The program does finish execution but takes longer

[2018-01-17 10:26] kwasif commented on #2039
@pavanky Any insights from your end?

[2018-01-17 10:58] kira505 commented on #2041
<img width="663" alt="sample" src="https://user-images.githubusercontent.com/35486217/35039269-51dd3904-fbb8-11e7-9016-6b15e38752a8.png">

I am timing it appropriately. But the problem comes with intel hd graphic card. The drivers are also fine but still takes too much time compared to cpu.

[2018-01-17 17:14] pavanky commented on #2039
@kwasif havent had time to check this yet. @umar456 @9prady9 can one of you look into this?

[2018-01-17 19:39] HoneyPatouceul commented on #2001
@9prady9 With R28.1 on my TX1 (I think it's cuda 8.0.84), I see memory faults as reported in my second post in #2036. Interestingly, the test passes. But running it with cuda-memcheck, the test fails and cuda-memcheck reports similar cudaErrorLaunchFailure errors like above, but no read error like above. Kernel errors are also more detailed, similar to the cuda 9 version (although different).

[2018-01-17 20:13] HoneyPatouceul commented on #2001
@9prady9 Just tried cuda.8.0.84 on my TX2 with L4T R28.2-DP for an arrayfire debug build (configure and built with cuda 8).
It shows mmu faults when running (and test fails), and similar read errors and cudaErrorLaunchFailure as above are shown when run from cuda-memcheck.

[2018-01-18 01:10] selimyoussry opened #2042 "np_to_af_array copy"
Hi everyone, the source code for "np_to_af_array" seems guaranteed to raise a RuntimeError("Copy can not be False for numpy arrays"), shouldn't it only be present in the "else" statement?

I'm thinking of this:

[code]

instead of [the current code](https://github.com/arrayfire/arrayfire-python/blob/master/arrayfire/interop.py#L73)

What do you think?

Thanks!

[2018-01-18 01:21] pavanky commented on #2042
@selimyoussry Can you open an issue on https://github.com/arrayfire/arrayfire-python ?

[2018-01-18 01:21] #2042 closed

[2018-01-18 02:15] selimyoussry commented on #2042
Sure, sorry my bad, I had both Github pages open... Done.

[2018-01-18 05:08] kwasif commented on #2039
Does 3.5 version support opencl backend on CPU? I wanted to exploit the SIMD feature on Neon architecture.
Just to give a heads up the standalone has nested 3 for loops. I have vectorized inner two loops by tiling. Still the performance isnt great inspite of making the entire code vectorized.
@9prady9 You must be familiar with the algo.

[2018-01-18 05:19] 9prady9 commented on #2039
@kwasif I am currently occupied with a task and will look into it as soon as I can.

You can use the CPU via OpenCL backend. Whether the SIMD feature of CPU hardware is taken advantage of is completely dependent on the Vendor's OpenCL implementation. For example, Intel has a special pass where it takes the user's kernel and tries to vectorize it to utilize SSE/AVX support. I am not aware of NEON a

[2018-01-18 05:25] kwasif commented on #2039
Sure, I am currently working on Intel Joule 550 which has intel hd graphics card. But when i use the device with opencl backend it takes almost 10 times slower compared to cpu.

[2018-01-19 03:40] ahmadhasan2k8 opened #2043 "Triangular Linear System Solver"
I have been trying to use ArrayFire to solve a symmetric positive definite matrix which I wrote in Eigen. But while testing I found that Eigen and ArrayFire Produces different results. I also tried the change in the full code that I am running but ArrayFire outputs are not right.

Code to reproduce:

[code]
CMakeLists.txt

[code]
Eigen output
[code]
ArrayFire output
[code]

[2018-01-19 05:33] pavanky commented on #2043
This is because you are doing only half the op in arrayfire. Here's the equivalent code:

[code]

Results:
[code]

[2018-01-19 05:33] #2043 closed

[2018-01-19 05:45] ahmadhasan2k8 commented on #2043
Oh great. Thanks for the help.

[2018-01-20 06:13] BookmanHan opened #2044 "Why my program interrupts by SIGKILL?"
My program always stops after running several hours and notice me
`terminated by signal SIGKILL (Forced quit)`

Does the error cause by ArrayFire?
Is it possible?
Which is more possible, that something wrong happens to my codes or someone kills my program by hand?

Thanks, a lot.

[2018-01-20 10:13] pavanky commented on #2044
if you are on a shared machine, there may be limitations on how much time you can use it. Talk to your administrator. ArrayFire shouldnt kill itself using SGKILL.

[2018-01-20 10:13] #2044 closed

[2018-01-22 07:24] 9prady9 commented on #2041
@kira505
I am not sure why intel HD graphics 620 is running slower than CPU. @pavanky Any thoughts ?

Regarding the invalid device error, I haven't been able to reproduce it on my end yet. Can you please share a very simple code stub that reproduces the invalid error you are getting when you use unified API(`af.dll`).  Try to create an example code from scratch with just the lines that are causing

[2018-01-22 07:42] 9prady9 opened #2045 "Memory access errors after many iterations, cause: convolve or sum ?"
Access Violation Error after

[code]

from below line
[code]
in the code hosted at below URL
https://github.com/Reithan/MachineLearning
https://github.com/Reithan/MNIST_CNN-Toy

Issue originally reported on slack channel by [Reithan](https://github.com/Reithan)

[2018-01-22 08:20] pavanky commented on #2041
There's too much going on in this issue. The original issue seems to have stemmed from the fact that the program was being linked with `afcuda` instead of `af`.

I am not sure why the intel gpu is "slow". If it is hanging, it could be because of various reasons. Have you tried running other OpenCL programs on it?

And in the future, please try to create a new ticket for different issues. A single

[2018-01-22 08:23] pavanky commented on #2045
It probably isn't happening on that line. It could happen elsewhere and caught at a later point.

[2018-01-22 08:27] 9prady9 commented on #2045
Probably, I asked him to submit a smaller code to reproduce the problem on slack.

[2018-01-22 18:03] WilliamTambellini opened #2046 "cmake examples failure on master: OpenMP::OpenMP_CXX not found"
Hi
On recent master, cmake fails with such messages:
[code]

OS: ubuntu 16
Tried with cmake 3.5 and 3.9.

Perhaps a find openmp is missing ?
Kind

[2018-01-22 23:06] Reithan commented on #2045
Ok, to clarify, the first quoted error is one I'm getting in any project using any AF variables upon close. Program works fine until termination, then that gets thrown. I'll try to see if I can get a very small project running with that issue.

The second quoted block containing some of my project code is, after many iterations producing an error such as the following:
[code]
I can attempt to prod

[2018-01-23 01:38] kwasif commented on #2039
Even if i ignore the intel platform for now. The speedup i get on NVIDIA 940 MX is just 1.5X compared to CPU. I have shared the standalone application. Hope you can provide some suggestions.

[2018-01-23 03:48] pavanky commented on #2045
@Reithan You should have a try catch block around the main and display what the error is.. Unhandled exception doesnt tell you much about what is going on..

[2018-01-23 05:32] 9prady9 commented on #2046
@WilliamTambellini

I did a clean build on Ubuntu 16.04 few hours back and I didn't have any issues with OpenMP being not found. My machine uses CMake 3.5.1 that I got from apt package manager. We have [FindOpenMP.cmake](https://github.com/arrayfire/arrayfire/blob/master/CMakeModules/FindOpenMP.cmake) script in the CMakeModules path of ArrayFire repository and it is [included properly in the root

[2018-01-23 09:43] 9prady9 commented on #2039
Couple of changes reduced the time by about 7 to 9% but that is all.

[code]
There are lot of indexing operations, mostly random accesses, in the code that could be potentially be the reason behind such performance numbers. Non-coalesced memory access on GPUs can be very expensive. I suspect that is what is happening here. You can try reducing the number of indexing operations and see how that goe

[2018-01-23 14:18] 9prady9 commented on #1106
Was going through this after a while and found that using FFMPEG seems to be okay as long as we dynamically link to the libraries as quoted in the [LGPL license checklist](https://www.ffmpeg.org/legal.html) on ffmpge site.

1. Compile FFmpeg without "--enable-gpl" and without "--enable-nonfree".
2. Use dynamic linking (on windows, this means linking to dlls) for linking with FFmpeg libraries.

[2018-01-23 15:54] 9prady9 commented on #1106
GStreamer uses plugin model. As long as we don't use patented plugins and link to streamer libraries, we will have a LGPL license on our hands which is good to go with BSD3 I guess, based on prior discussions on this issue.

[2018-01-23 20:26] WilliamTambellini commented on #2046
Thanks.
- I ve checked and libgomp is installed in the standard ubuntu location: /usr/lib/x86_64-linux-gnu/libgomp.so.1
- I did nt copy the examples : I m just trying to build the the examples from a .sh/.run AF installer (arrayfire-no-gl-3.6.0-beta1.sh), which extracts files in (cwd)/share/ArrayFire/examples
In the /share/ArrayFire/cmake/ cmake files, where are you searching for openmp ?
W.

[2018-01-24 04:05] 9prady9 commented on #2046
Yes, that is the location where I found the `libgomp.so.1` file on my machine as well.

That could be because there is no `FindOpenMP.cmake` file under `examples\CMakeModules` which is installed to `share\ArrayFire\examples`.  None of the examples directly link to OpenMP. I wonder why examples are looking for the OpenMP target, I will look into it.

[2018-01-24 04:09] umar456 commented on #2046
I think the problem is with the installer and the arrayfire-config generated by cmake. @9prady9 try to install the library in a docker container and see if you run into the same issue when you try to build the examples.

[2018-01-24 04:18] 9prady9 commented on #2046
I generated the installer using master HEAD and don't get openmp errors on regular machine. I have to try it on docker and see what happens there.

[2018-01-24 07:38] 9prady9 commented on #2046
I generated the installer using master HEAD and don't get openmp errors on regular machine. I have to try it on docker and see what happens there.

[2018-01-24 12:09] 9prady9 commented on #2046
I didn't get such errors with docker either.

@WilliamTambellini Please share some details of the Linux distribution you are using and CMake version.

[2018-01-24 22:25] LeandroMCosta commented on #1985
Any news on when the support for CUDA 9.1 will arrive?

[2018-01-25 03:59] #1345 closed

[2018-01-25 03:59] #1732 closed

[2018-01-25 10:04] pavanky opened #2049 "Fallback to fftw for cpus in OpenCL backend."
This is similar to falling back to cpu blas and lapack for cpu devices in opencl backend.

[2018-01-25 10:40] pavanky opened #2050 "Delay the normalization of the input when performing fft"
This example shows the behavior in python but similar results can be seen in C++ as well.
https://gist.github.com/pavanky/dc64fc83e0fa298e942a3e0ca07ccd15

fft and ifft should be normalized after the transform (not before) for better accuracy.

[2018-01-31 11:21] DrOreo commented on #1954
Hello

I met the same issue.

Following is my info:
ArrayFire v3.5.1 (OpenCL, 64-bit Windows, build 0a675e8)
[0] NVIDIA: GeForce GTX 1050 Ti, 4096 MB
-1- INTEL: Intel(R) HD Graphics 630, 6492 MB
-2- INTEL: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz, 16252 MB

Thanks a lot if you can solve this issue.

[2018-01-31 14:51] 9prady9 commented on #1954
@DrOreo Which examples are failing for you ? Are they giving sort of error message ? Have you tried setting [AF_PRINT_ERRORS=1](http://arrayfire.org/docs/configuring_environment.htm#af_print_errors) ?

[2018-02-01 09:21] DrOreo commented on #1954
@9prady9

Thanks for your reply.

I have tried setting  AF_PRINT_ERRORS=1  in my system's environment variables, but the situation is still happen.

I use arrayfire in my own program, and everything is ok besides close program.
Even I just use the simple code like "af::array test(1,2);", the program still got error when closed.

following code is where the program error :
extern "C" DECLSPEC_GUARD

[2018-02-01 11:08] 9prady9 commented on #1954
@DrOreo There is known issue with Intel OpenCL drivers where they cause this crash upon program exit while cleaning up resources. Can you remove the Intel OpenCL drivers(i.e. remove intel opencl runtime so that ArrayFire doesn't see Intel OpenCL devices) and then run the program ?

[2018-02-01 18:13] HoneyPatouceul commented on #2028
Got this answer from nvidia:
[](https://devtalk.nvidia.com/default/topic/1027893/arrayfire-lib-performance-among-l4t-cuda-new-versions/?offset=25#5236551)
Does this make sense to you ?

[2018-02-01 22:44] pavanky commented on #2028
@HoneyPatouceul
I don't want to create an account (or go digging for my old login credentials) to reply on that thread. The out of resources error could potentially come from multiple places.

I highly doubt this is because of threads. The number of threads are fixed for our JIT kernels (256 or 1024).

In this case I assume it is probably coming from using too much constant memory (which is used t

[2018-02-02 04:09] DrOreo commented on #1954
@9prady9 , I have removed  intel opencl runtime, and the ArrayFire doesn't see Intel OpenCL devices, like below :
ArrayFire v3.5.1 (OpenCL, 64-bit Windows, build 0a675e8)
[0] NVIDIA: GeForce GTX 1050 Ti, 4096 MB.

But still got error when close program.

[2018-02-02 10:26] GeekMe93 commented on #1985
Same here, Any news on when the support for CUDA 9.1 will arrive? Thanks!!!

[2018-02-05 02:29] 9prady9 commented on #1985
We have decided to go ahead and do 3.6 release directly. We will be shipping that release with CUDA 9. We are hoping to do the release in a week or so.

[2018-02-05 23:16] tevaughan opened #2051 "warning, curbe size exceed limitation"
I have been talking to Pradeep Garigipati on the ArrayFire mailing list about a warning that I see issued by Beignet when I run my ArrayFire application on an Atom GPU.  (@9prady9)

Here is a record of our conversation:
[curbe.txt](https://github.com/arrayfire/arrayfire/files/1697100/curbe.txt)

Although Beignet issues the warning, a problem, according to Rong Yang at Intel, is that a hardware res

[2018-02-05 23:46] pavanky commented on #2051
Can you run the failing tests individually ?

This is annoying behavior..

[2018-02-06 04:52] tevaughan commented on #2051
I have run many of them individually. For example, the approx2 test causes some curbe warnings. I am happy to provide whatever information you might like.

Sent from my iPhone

[2018-02-06 08:44] pavanky commented on #2051
A more complete log would be useful.

[2018-02-07 19:02] whiteway11890 opened #2052 "OpenCL FFT Speeds"
I am working on a project that requires the use of many large FFTs. My group is targeting using the OpenCL backend for CPU. We have noticed the the ArrayFire times for FFTs are very slow for both the CPU and OpenCL backends. I ran quite a few tests and the numbers back up my observations.

I wrote a quick tester to look into the issue. I compiled it with icpc and limited the number of runtime thre

[2018-02-07 19:29] pavanky commented on #2052
OpencCL is not optimized for FFT on CPU devices. This situation may change if https://github.com/arrayfire/arrayfire/issues/2049 is resolved.

As for the benchmark, you need to change initialization to be like this for accurate results:

[code]

[2018-02-07 19:50] pavanky commented on #2052
You are also running the benchamrk for *1* iteration. This will not give you completely reliable numbers!

[2018-02-07 20:15] whiteway11890 commented on #2052
The for loop in the code runs each function twice to get past the JIT compilation times:
[code]

I will change the initialization to what you have suggested and rerun my numbers.

[2018-02-07 20:17] whiteway11890 commented on #2052
I won't flood the comments with all of the results I posted above, but here are the times after adding the eval and sync

[code]

[2018-02-07 20:19] whiteway11890 commented on #2052
I could possibly contribute to #2049 if there is a plan to do it. That would help us out immensely. Would that basically constitute falling back to fftw for OpenCL CPU backends?

[2018-02-07 20:58] pavanky commented on #2052
@whiteway11890 yes. If you look at blas.cpp, it falls back to MKL for CPUs. You can do something similar for ffts in OpenCL as well.

Also the new numbers dont entirely make sense :-/ Arrayfire is faster for C64 as opposed to C32 for the larger sizes. It is also faster than fftw at the largest size..

[2018-02-07 21:04] whiteway11890 commented on #2052
I'll have a look at how you implemented the BLAS fallback. We may be willing to write an FFT equivalent and contribute it.

[2018-02-08 03:45] DrOreo commented on #1954
@9prady9
Yes, this happen with helloworld examples, the code I modify like below:

int main(int argc, char *argv[])
{
	system("pause");   //test point(1)

	// Select a device and display arrayfire info
	int device = argc > 1 ? atoi(argv[1]) : 0;
	af::setDevice(device);
	af::info();

	af::array test(2, 3);    //test point(2)
	system("pause");      //test point(2)
	printf("Create a 5-by-3 matrix of

[2018-02-08 06:56] 9prady9 commented on #1954
@DrOreo
Since it is windows, can you try stepping through the code using Visual Studio to see where exactly is the code being thrown off in the example. A stack trace would help a lot.

It may be a long shot but if the code step through doesn't help, you can try updating your CUDA drivers to latest and see if that resolves the error. If it does not, then try a driver version previous to the one yo

[2018-02-08 06:56] 9prady9 commented on #1954
@antibes0415 Can you try getting us a stack trace of where exactly the code faults when you run examples using VS code step through. Thank you.

[2018-02-08 18:23] carstenhag commented on #1954
Hey, just downloaded arrayfire and wanted to try out some of the examples.

I've got Windows 10 x64 and a R9 290 with Radeon 18.2.1 Drivers. Here's the output of `clinfo`:
[clinfo.log](https://github.com/arrayfire/arrayfire/files/1708274/clinfo.log)

I've first ran the helloworld example binaries and all of those work fine. The binaries in the financial folder and the benchmarks folder (I've teste

[2018-02-08 18:27] carstenhag commented on #1954
Stepped through `heston_model`, and up until the `return 0` it was fine. After the breakpoint at that line it crashed.

[2018-02-09 04:35] 9prady9 commented on #1954
@carstenhag Looks like it is the resource cleanup issue I was talking about in earlier comments. We didn't notice that on AMD or NVIDIA cards so far. We are going to release 3.6 soon. Hopefully, these at-exit crashes are not an issue on that. The reason I say hopefull is that, I have been playing around with examples from git master branch on Windows box and they seem to be working as expected wit

[2018-02-12 18:37] WilliamTambellini commented on #1997
I have the same issue on my ubuntu 16 by setting BUILD_OPENCL=OFF through ccmake. Perhaps a cache issue / cmake bug.

[2018-02-12 18:51] WilliamTambellini opened #2054 "Add support for indexing sparse array"
Good morning all
This is probably just an enhancement request in order to add support for indexing sparse arrays in order to extract a sparse sub block from a sparse array :
if the sparse matrix is:
[code]
then
mysparseArray(af:seq(0,1), af::seq(0,1))
should contain (ideally still in sparse format):
[code]
With 3.5.1 this exception is thrown when trying to :
af::exception: ArrayFire Exception (Inv

[2018-02-13 01:07] tevaughan commented on #2051
Attached is a tar file containing output for each test in a complete run of
the unit tests.

I wrote a shell script that also captured the syslog output that occurred
during each test.

So there are two files for each unit test: <test>.out and <test>.syslog.

On Tue, Feb 6, 2018 at 1:44 AM, Pavan Yalamanchili <notifications@github.com

--
Thomas E. Vaughan

[2018-02-13 09:49] 9prady9 commented on #1997
@georgh @WilliamTambellini

Can you please patch your build with changes from https://github.com/arrayfire/arrayfire/pull/2056 and try reproducing the problem again. Thank you.

[2018-02-13 17:30] rstub commented on #2007
Any news on this issue?

[2018-02-13 18:47] pavanky commented on #2007
Sorry I haven't had time to look into it yet :(

[2018-02-15 22:53] nlsweet opened #2057 "ArrayFire throwing exceptions for some devices and not others"
Note: The below example is running on RHEL 7.4.

Using ArrayFire 3.5.1 (installing with the pre-compiled RPM downloaded from your installer archive), the following code crashes on some CUDA devices and not others.

First the code:

[code]

And outputs from various devices:
(Note that the binary is compiled on system 1 and then run on the other systems.)

System 1:

ArrayFire v3.5.1 (CUDA, 64-bit L