[2019-10-10 19:23] bkimbrough opened #2651 "gfor usage"
I am trying to use gfor as shown below.

gfor(seq i, 1)
	{
       A.col(i + 1) = flat(range(dim4(xsize, ysize)), i);
	}

Both the A.col(i+1) expression and the ,i in the flat function are flagged.  The error on the flat function is:   error C2660: 'af::flat': function does not take 2 arguments.

How can I make this work.  I noticed in your examples that math with the seq i should work.

Thanks.
Br

[2019-10-11 16:21] umar456 commented on #2651
There are several restrictions to the gfor construct and it has some limited use cases. Often gfor constructs can be implemented more clearly using batching constructs.

In this case it looks like you used the flat function incorrectly. [Flat](http://arrayfire.org/docs/group__manip__func__flat.htm) only takes one argument instead of 2. Here you are passing `i` as the second argument to flat.

I su

[2019-10-11 16:21] #2651 closed

[2019-10-14 20:25] WilliamTambellini commented on #2645
Oh no I m sure it was on my side, I was trying to ref a null ptr. All good.

[2019-10-14 20:25] #2645 closed

[2019-10-14 20:27] WilliamTambellini opened #2652 "Half data type support for single dim mean"
Hi
Looks like af::mean not yet supporting f16 :

  std::vector<float> d = { 1, 2, 3,
        5, 6, 7,
        5, 6, 7,
        1, 2, 3 };
  r = af::mean(af::array(3, 2, 2, d.data()).as(f16), 0);

unknown location(0): fatal error: in "testAF": af::exception: ArrayFire Exception (Function does not support this data type:204):
In function af_err af_mean(void**, af_array, dim_t)
In file src/api/c/mean

[2019-10-15 11:42] 9prady9 commented on #2650
Is the behavior same on non-Intel devices too ?

[2019-10-15 11:45] 9prady9 commented on #2493
Is the behavior similar with 3.6.4 release also ?

[2019-10-16 20:51] raulbocanegra commented on #2493
If I remove 3.6.2 installation and install 3.6.4 the module is imported without freezing.

[2019-10-16 22:20] WilliamTambellini commented on #2652
Please limit the scope of that item to single dimension mean.

[2019-10-16 22:20] WilliamTambellini commented on #2652
https://github.com/arrayfire/arrayfire/pull/2653

[2019-10-17 07:08] 9prady9 commented on #2652
The reason I expanded the scope to statistics is that mean, var, statistics - all of these are usually interlinked in some sort of way in the code. It is easier and better to group this change together instead of handling just mean function.

[2019-10-17 07:09] 9prady9 commented on #2493
That is good. Is there any limitation on your end that's preventing 3.6.4 usage ?

[2019-10-19 01:51] WilliamTambellini commented on #2652
Tks.
Though I m calling here for a divide and conquer approach here in order to keep the scope as minimalist as possible and merge it asap. I ve renamed the tille to "single dim mean" because that s all I need at the moment.
Could you please check the jenkins failures ?
Tks

[2019-10-19 06:10] 9prady9 commented on #2652
@umar456 Is working on buildbot related things at the moment.

[2019-10-19 06:55] csy19960309 opened #2655 "building failure with clFFT-ext missing"
I was trying to build the arrayfire source code by strictly following the instructions offered in the wiki except that I used VS2019 Build Tools instead of VS2017. It has been said that clfft is automatically downloaded by Cmake.
    When the building was nearly finished, however, I saw

[2019-10-20 01:20] luozhiping opened #2656 "How can I use fft result array?"
when i use fft function i got a result which has two data in one dim each row,why this happen?I don't know how to use this data.
------------
af::array af = af::fft(cudaBegin);
  af_print(af);
-------

af
[512 1 1 1]
         (-315.5409,0.0000)
         (82.7528,-68.1437)
         (-175.7214,18.1366)
         (-196.3230,-172.5630)
         (-240.9106,331.1880)
         (121.6817,33.6136)

[2019-10-20 07:03] #2656 closed

[2019-10-21 06:08] 9prady9 commented on #2655
Can you please share the output of cmake command on your system.

Please also do share the contents of the `build/third_party` folder.

[2019-10-21 06:57] ipostr08 opened #2657 "Internal error:998"
ArrayFire Exception (Internal error:998):
In function To cuda::kernel::reduce_all<Ti, To, op>(cuda::CParam<Ti>, bool, double)
In file src\backend\cuda\kernel/reduce.hpp:383
CUDA Error (6): the launch timed out and was terminated

In function float __cdecl af::sum<float>(const class af::array &)
In file src\api\cpp\reduce.cpp:126

This happened while I was running my code that uses GPU and fills al

[2019-10-21 07:25] csy19960309 commented on #2655
@9prady9 .

The output is :

-- The CXX compiler identification is MSVC 19.23.28105.4
-- Check for working C compiler: f:/Program Files (x86)/Microsoft Visual Studio/2019/BuildTools/VC/Tools/MSVC/14.23.28105/bin/Hostx64/x64/cl.exe
-- Check for working C compiler: f:/Program Files (x86)/Microsoft Visual Studio/2019/BuildTools/VC/Tools/MSVC/14.23.28105/bin/Hostx64/x64/cl.exe -- works
-- Detecting C

[2019-10-23 08:12] 9prady9 commented on #2655
The cmake output looks fine and if you have clFFT folder, that would mean clFFT has been fetched correctly.

Please try removing the clFFT folder under third_party folder and re-run cmake and build command

[2019-10-23 08:13] 9prady9 commented on #2657
Have you tried running your algorithm on smaller size and check if that's running fine ?

[2019-10-25 13:57] cschreib-ibex opened #2658 "Memory curruption issues with af_get_device_ptr() when not followed by sync()"
In our project we need to pull out a device pointer to the data of some ArrayFire arrays to do some custom processing, either in CPU or in CUDA. Reading the [Documentation](http://arrayfire.org/docs/interop_cuda.htm), the recommended way appears to be:
[code]

However, experimenting with this setup, we found that adding a second call to ```af_sync()``` after ```af_get_device_ptr()``` is required t

[2019-10-28 14:59] umar456 commented on #2658
I think this side effect was introduced commit https://github.com/arrayfire/arrayfire/commit/2cb2b7f89f33f4519154c00f2c2db8e1782da1fa. In the past we were calling cudaMemcpy on the default backend. Because cudaMemcpy was being performed on the default stream this was synchronizing everything. With this commit we enqueue the operation on the ArrayFire queue and if you are calling subsequent operati

[2019-10-30 12:54] cschreib-ibex commented on #2658
Ok, thank you!

[2019-10-30 15:27] cschreib-ibex opened #2659 "Inconsistent output for af::matmul(matrix,vector)"
Using ArrayFire 3.6.4 binaries for Windows 64bit, downloaded from the ArrayFire website.

We are experiencing small inconsitencies in the calculations done in our project, which I managed to trace back to one function and these lines:
[code]

This is executed using the CPU backend, and all arrays are 32bit floats.

Depending on what was executed before this function is called, and even though the

[2019-10-31 09:10] cschreib-ibex commented on #2659
Thank you very much for the pointer, this may very well be the issue. I'll look into it.

[2019-10-31 22:38] WilliamTambellini opened #2660 "cmake not searching/checking the cudnn header file"
Looks like the afcuda cmake is not searching/checking that the required cudnn.h file is available:

cmake
success
make afcuda
...
In file included from /local1/wtambellini/arrayfire/src/backend/cuda/convolve.cpp:15:0:
/local1/wtambellini/arrayfire/src/backend/cuda/cudnn.hpp:13:19: fatal error: cudnn.h: No such file or directory
 #include <cudnn.h>

Expected behavior : cmake to at least fail if cud

[2019-10-31 22:40] WilliamTambellini commented on #2650
I think I ve seen afopencl via nvidia opencl behaving the same but TBC.

[2019-11-04 04:17] 9prady9 commented on #2655
@csy19960309 Can you please update on the issue status.

[2019-11-04 04:18] 9prady9 commented on #2657
@ipostr08 Did you get a chance to look into it again ?

[2019-11-04 05:46] 9prady9 commented on #2660
Can you please test the changes from https://github.com/arrayfire/arrayfire/pull/2661

I have tried on Ubuntu 18.04 where cudnn was installed via deb file. Both of these (ubuntu 18.04 or Arch Linux) setups have `cudnn.h` under `/usr/include` directly or via update-alternatives configuration. How did you install cudnn on your development setup ?

[2019-11-04 12:48] 9prady9 commented on #2646
Here is the current status quo on `pow` API from C++ standard library, CUDA and OpenCL APIs.

- C++: Starting from C++11, API with integer exponents are discontinued.
- CUDA: Math API doesn't provide `pow` functions that accept integer exponents.
- OpenCL: The builtin math function `pow` in OpenCL specification does have a API variant where it takes integer exponent. However, it is very likely tha

[2019-11-05 10:30] 9prady9 commented on #2647
@WilliamTambellini Please try these https://github.com/arrayfire/arrayfire/pull/2663 changes. I have tested on centos docker image with no gl headers and works as expected.

[2019-11-05 16:18] cschreib-ibex commented on #2659
Confirmed. Perhaps it is worth exposing a function in the AF API to control this, so that the end user (like myself) doesn't have to deal with MKL directly?

[2019-11-05 16:34] cschreib-ibex commented on #2503
This seems like a very desirable feature for improving runtime performances. Is there any plan to include this in ArrayFire in a coming release?

[2019-11-06 00:42] 9prady9 commented on #2503
Unfortunately, this won't make the next release, v3.7. We shall update this issue for future discussions and/or progress related to this feature.

[2019-11-06 04:56] csy19960309 commented on #2655
@9prady9. Sorry for forgetting this. I tried what  you had suggested, but failed in the same old way. I found directory clFFT/include empty after the cmake work is done.
Do I have to close this issue now? I am new to Github and have no idea about the procedures.

[2019-11-06 05:01] 9prady9 commented on #2655
I am not sure how to reproduce the issue on my end - clFFT clones and gets
built fine for me. Is it possible for you to create a docker file that can
help us reproduce it on our end?

Thank you.

On Wed, 6 Nov, 2019, 10:26 lsCoco, <notifications@github.com> wrote:

[2019-11-06 10:48] noughtmare opened #2664 "neg is listed as logical operator in the documentation"
I think it should be listed in the numeric functions category.

[2019-11-06 11:07] cschreib-ibex commented on #2503
Ok, thank you for the update!

[2019-11-06 15:36] 9prady9 commented on #2664
@noughtmare Are you referring to `array array::operator!() const` method ? Can you please point us tthe documentation URL. Thank you.

[2019-11-06 15:37] noughtmare commented on #2664
I mean this one: http://arrayfire.org/docs/group__arith__func__neg.htm

[2019-11-06 15:38] noughtmare commented on #2664
It is listed in the logic category here: http://arrayfire.org/docs/group__logic__mat.htm

[2019-11-06 15:39] 9prady9 commented on #2664
That is not a logical operation. `-` operation returns negated values of whatever values are present in the input array i.e. positive values become negative values and vice versa.

[2019-11-06 15:39] noughtmare commented on #2664
Yeah, that is what I mean, it is wrongly listed in the logic category here: http://arrayfire.org/docs/group__logic__mat.htm.

[2019-11-06 15:42] 9prady9 commented on #2664
Ah right, our bad. Thank you!

[2019-11-06 17:02] #2664 closed

[2019-11-07 09:40] csy19960309 commented on #2655
@9prady9 Sorry for being too busy to make a prompt reply. I am a freshman to the docker and afraid that it is a little hard for me to make a Windows container as required. Now I decide to build the source code on WSL instead. As for the building failure on Windows, I suppose that the cause is the cmake argument  _-G "Visual Studio 16 2019" -A x64_.
Anyway, thanks for the help.
Should I close the i

[2019-11-08 00:46] ipostr08 commented on #2657
I wanted to create a better update than my previous one but now I also have CUDA code intertwined with AF code, so it takes a bit of work to isolate. I'll do it shortly.

[2019-11-11 06:18] 9prady9 commented on #2655
Can you please try the following diff and let me know how that works out.

[code]

[2019-11-11 11:09] sangyx opened #2667 "ArrayFire Exception In file src/api/c/print.cpp:87 when run lin_algebra cuda examples"
the error info is:

`./cholesky_cuda`

[code]

`./svd_cuda `

[code]
but I can run hello_world example correctly.

[2019-11-12 04:48] ipostr08 commented on #113
In the documentation, I don't see anything like setStream or an extra parameter for a stream in functions. Was this idea abandoned?

[2019-11-12 07:20] 9prady9 commented on #2667
@sangyx Is it possible for you to try master branch of our repository ? Just CUDA backend is sufficient for this case. We have added few lines of code that prints out the build log on master which isn't available in 3.6.4 release.

[2019-11-12 13:27] sangyx commented on #2667
When I build arrayfire, I meet an error:

[code]

I installed cudnn in /usr/local/cuda/include and /usr/local/cuda/lib64

[2019-11-12 13:32] 9prady9 commented on #2667
Can you please try setting CUDA_cudnn_LIBRARY manually ? You can do using the following command.

`cmake .. -DCUDA_cudnn_LIBRARY:FILEPATH=/usr/local/cuda/lib64/libcudnn.so`

You can also set the file path via cmake curses gui - `ccmake` command.

[2019-11-12 14:34] sangyx commented on #2667
Thanks for your help. Now I cmake success. But I meet the error when I run `make V=1 -j8`:
[code]

my gcc version is 7.4:
[code]

[2019-11-12 14:37] 9prady9 commented on #2667
CUDA 10.1 should work fine with GCC 7 I think. which version of CUDA toolkit do you have ?

[2019-11-12 14:45] sangyx commented on #2667
I have cuda 10.1. But I have updated cuda 9.1 to cuda 10.1. Then the `nvidia-smi` show cuda 10 but
 `nvcc -V ` show cuda 9.1. So I `ln -s /usr/local/cuda/bin/nvcc /usr/bin/nvcc`. Does this have relation with the problem.

[2019-11-12 14:49] 9prady9 commented on #2667
I am not sure, but it looks like something in the cuda installation isn't complete  because CUDA 10.1 works fine with GCC 8 too - I am using that setup as of now.

[2019-11-12 16:28] sangyx commented on #2667
I have reinstalled the cuda. Now the code work fine. Thank you for your help! When will the 3.6.5 be released?

[2019-11-12 18:43] 9prady9 commented on #2667
We are trying for 3.7 actually. Don't have an ETA as of now, perhaps before Christmas or new year. We will send out the release notice as soon as we publish the next release.

[2019-11-12 18:43] #2667 closed

[2019-11-13 15:57] flori-uni opened #2671 "static linking mkl"
I try to create an application using arrayfire for a heterogeneous system. Probably I'll use the CPU as well as the GPU. So far the first results are amazing!

I'm only struggling in finding a suitable solution how to distribute the whole application? Must arrayfire also be installed on the target machine? Currently, I get some errors concerning MKL....

[2019-11-14 01:39] WilliamTambellini opened #2672 "Dynamic load cusolver"
The cusolver library is pretty big (150MB) and a hard dep of libafcuda:

$ LD_LIBRARY_PATH=. ldd libafcuda.so
	linux-vdso.so.1 =>  (0x00007ffd67883000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f0f70e6c000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f0f70c68000)
	librt.so.1 => /lib/x86_64-linux-gnu/librt.so.1 (0x00007f0f70a60000)
	libnvrtc.so.10.0 => ./libnvrtc

[2019-11-14 23:29] WilliamTambellini opened #2673 "AF unified master up to 30% slower than 3.6.4"
Hello,
I have to call that as today with
c30d5455f3d60582cb81968551b69fadcfc7c880
AF master is up to 30% slower than 3.6.4 in some cases.
For some (non-batched) NN inference :
3.6.4  2.81 secs
3.7.0  3.99 secs

One of the root causes is definitely the new event creation introduced in
https://github.com/arrayfire/arrayfire/pull/2526
The fix in
https://github.com/arrayfire/arrayfire/pull/2574
just r

[2019-11-18 13:23] krish021195 opened #2674 "How to copy a sequence of elements from one array to sequence in another array?"
Hi,

Trying to copy a sequence of elements from one array to a sequence in another array. How to do this in a minimum span of time?

Example code snipet:
      ` array ar_A = constant(0,10,10,u8);
	array ar_B = constant(5,10,10,u8);

	ar_A(seq(0,ar_A.dims(0)-1,2),span) = ar_B(seq(0,ar_B.dims(0)-1,2),span);
     `

Thanks

[2019-11-18 14:09] 9prady9 commented on #2674
@krish021195 Did you time the above code snippet ? It shouldn't take too much of time ? If you did time the code, how did you time the code, please share the timing code snippet also .

[2019-11-18 14:15] krish021195 commented on #2674
@9prady9 The above code snippet does not actually does the work expected. Still the values in array ar_A is same as before. No copy from array ar_B is performed.
I need to copy the sequence from array ar_B to a sequence in array ar_A with minimum time. How do I do this?

[2019-11-18 14:31] 9prady9 commented on #2674
What is the error message ? The sequence length seems to be same since `A.dims(0)` and `B.dims(0)` are same, and the step size is also same.

Note: You can try running setting the environment variable `AF_PRINT_ERRORS` to `1` to give more detailed error message.

[2019-11-18 17:38] WilliamTambellini commented on #2673
Reproduced with the simple NN example:

$ machine_learning/neural_network_cuda
ArrayFire v3.6.4 (CUDA, 64-bit Linux, build 1b8030c)
Platform: CUDA Toolkit 10.0, Driver: 418.56
[0] GeForce GTX 1060, 6079 MB, CUDA Compute 6.1
** ArrayFire ANN Demo **
...
Training time: 5.2342 s

$ examples/machine_learning/neural_network_cuda
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build c30d545)
Platform: CUDA Toolki

[2019-11-18 19:27] WilliamTambellini commented on #2673
Note: the speed was better (still slower than 3.6.4) just before the "event" change ("Enforce dependencies between allocs and frees using events"): e62570abcbdd7f3fca1552368665be0cbd4fe4a0
$ examples/machine_learning/neural_network_cuda
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build e62570a)
Platform: CUDA Toolkit 10.0, Driver: 418.56
[0] GeForce GTX 1060, 6079 MB, CUDA Compute 6.1
** ArrayFire ANN D

[2019-11-18 19:31] krish021195 commented on #2674
@9prady9 I do not get any error messages when running the above code. But still the value in array ar_A is 0.

[2019-11-18 19:33] umar456 commented on #2673
I was able to reproduce it on my system and I am looking into it. I need to run a couple of tests to see what is the source of the slowdown. I noticed during our discussions on Skype that the runtimes of the kernels were slower in the new versions.

[2019-11-18 19:37] WilliamTambellini commented on #2673
Cool. I m using nvrtc 10.0.130:
$ ll /usr/local/cuda-10.0/lib64/libnvrtc*
lrwxrwxrwx 1 root root       25 Jun 19 17:25 /usr/local/cuda-10.0/lib64/libnvrtc-builtins.so -> libnvrtc-builtins.so.10.0*
lrwxrwxrwx 1 root root       29 Jun 19 17:25 /usr/local/cuda-10.0/lib64/libnvrtc-builtins.so.10.0 -> libnvrtc-builtins.so.10.0.130*
-rwxr-xr-x 1 root root  4612768 Jun 19 17:25 /usr/local/cuda-10.0/lib64

[2019-11-18 19:57] WilliamTambellini commented on #2673
Let's prune :
b1f3955c09eabb861fabb1489f2bf16ad24e3e02
sounds good :
$ examples/machine_learning/neural_network_cuda
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build b1f3955)
Platform: CUDA Toolkit 10.0, Driver: 418.56
[0] GeForce GTX 1060, 6079 MB, CUDA Compute 6.1
** ArrayFire ANN Demo **
...
Training time: 5.2371

[2019-11-18 20:16] WilliamTambellini commented on #2673
I see a 1st speed drop coming from 6d6053c84c1cca5ca31322a8df6e117dd9d0d550

$ examples/machine_learning/neural_network_cuda
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build 6d6053c)
Platform: CUDA Toolkit 10.0, Driver: 418.56
[0] GeForce GTX 1060, 6079 MB, CUDA Compute 6.1
** ArrayFire ANN Demo **
....
Training time: 5.3258 s

@9prady9  were/are you aware about that ?

[2019-11-18 20:23] umar456 commented on #2673
I don't see how that would cause a slowdown. Its just adding a -DOS_LNX flag to the nvcc compilation command.

[2019-11-19 06:42] 9prady9 commented on #2674
@krish021195 I was able to reproduce this on v3.6.4 tag, however this seems to have been fixed in our development branch(master) already. Kindly wait for the next release where this will be addressed.

[2019-11-19 07:34] krish021195 commented on #2674
@9prady9 Thanks for the update. For the current situation I have tried a work around but it seems to take more time. For testing I have increased the size of the array.

When running the below code It is taking around **~1ms** for just adding a scalar and an array.

`array ar_A = constant(0,1920,1080,3,u8);
	array ar_B = constant(5,1920,1080,3,u8);
	int i=0;
	while(i<40)
	{
	 af::sync();
	 start1

[2019-11-19 07:55] 9prady9 commented on #2674
Is it working if you do `af::sync()` after the assign call ? If so, can you try `ar_A.eval()` instead of `af::sync()` and let me know what happens.

In the code I tried, I just did a `af_print(ar_A)` which does an implicit `af::sync()` which didn't print the expected output on v3.6.4 tag.

[2019-11-19 08:06] krish021195 commented on #2674
@9prady9 I have performed a copy by adding the array ar_B with 0 and assigning the result to array ar_A.
It is working because of the addition operation performed. I have used af::sync() for timing the code.

[2019-11-19 08:39] 9prady9 commented on #2674
You can keep that work around if it is working. I doubt it is going to add a significant runtime to the copy operation by itself. The entire line will be converted into a single kernel(generated at runtime - JIT). Adding a scalar to the input array element before assigning to output element shouldn't increase assignment cost by too much.

Also, please use `timeit` functionality described in our tu

[2019-11-19 10:25] 9prady9 commented on #2674
Adding a scalar shouldn't take too long that is what I am saying.

The snippet you shared below took me around half millisecond on GTX 1060. Whats the GPU you are running this code on ?

[2019-11-19 10:52] krish021195 commented on #2674
@9prady9 I am using Nvidia Jetson Xavier. Yes I am using cuda as my backend.
I see that when using operator() the time increases. I checked by running code
1 : `ar_A = ar_B + 0`
2 : `ar_A(seq(0,ar_A.dims(0)-1,2),span) = ar_B(seq(0,ar_B.dims(0)-1,2),span) + 0`

I expect the second code should take less time than the first since only half the original size of the array is involved in the operation.

[2019-11-19 11:28] 9prady9 commented on #2674
Speedups on GPU doesn't exactly always translate like that.

In your second case, we are accessing every alternate element which means
the access to global memory are not coalesced. For example of float arrays.
Thread 0 fetches first float and thread 1 fetches 3rd element and so on.
Even GPUs fetch data from memory by word sizes , each word can be 32 bytes,
64 bytes or 128 bytes. Whichever is the

[2019-11-19 12:39] krish021195 commented on #2674
Thanks on the response. It was really helpful.

[2019-11-19 12:39] #2674 closed

[2019-11-20 07:47] vineelpratap opened #2675 "Next release ?"
Hi,
 We would like to make use of fp16 support in arrayfire for our project. I understand it works with master but we would be more comfortable using a release branch for the project. Could you cut a release with all the new improvements ?

Thanks~

[2019-11-20 18:29] WilliamTambellini commented on #2675
I m calling for a release too but will need that to be fixed/, or at least a workaround first :
https://github.com/arrayfire/arrayfire/issues/2673

[2019-11-21 08:09] krish021195 opened #2676 "How to use borderType AF_PAD_SYM for convolve operations?"
Hi,

The convolve operations in ArrayFire seems to use the AF_PAD_ZERO borderType. How to change this borderType to AF_PAD_SYM?

Thanks

[2019-11-21 08:12] 9prady9 commented on #2676
Currently, border type can be set only for median, min and max filters only. Convolutions only do zero padding as of now.

[2019-11-21 09:25] krish021195 commented on #2676
Can it be expected in the next release?

For a workaround , Trying to provide a border replicated array to the convolve function.
My method seems to take more time for just replicating the border.

Is the process of replicating the borders done directly in cuda kernel of median or min or max filters? Is there any simple way of replicating the borders in ArrayFire?

[2019-11-21 12:32] 9prady9 commented on #2676
Unfortunately, we don't have it in the line for the next release.

http://arrayfire.org/docs/indexing.htm You can use indexing feature to create padding with the values of your choice.

Can you please share the code that you used. It would help to see whats exactly is going from code.

[2019-11-21 13:06] krish021195 commented on #2676
I am trying to use indexing feature for padding aswell. But it seems to take more time , the time taken for padding nearly equals the time for convolution operation with the padded array.

I have used the below code for padding,

`
array ar_A = constant(0,1924,1084,3,2,u8);
array ar_B = randu(1920,1080,3,2,u8);

ar_A(seq(2,ar_A.dims(0)-3,1),seq(2,ar_A.dims(1)-3,1)) = ar_B;
ar_A(0,seq(2,ar_A.dims(1

[2019-11-22 12:50] krish021195 commented on #2676
@9prady9 , Any suggestions on how to improve the timings of the above code?

[2019-11-22 15:04] 9prady9 commented on #2676
Sorry, I haven't looked into it yet, i will get back to you over the
weekend.

On Fri, 22 Nov, 2019, 18:20 krish021195, <notifications@github.com> wrote:

[2019-11-26 03:56] 9prady9 commented on #2676
The code seems okay, it wasn't too slow on GTX 1060 GPU - the padding operation took about approximately 2.1 ms on an average for two 3-channel HD images. Can you please share the details of your system, GPU & backend along with the times you are getting on your device.

Note: I used `timeit` (http://arrayfire.org/docs/timing.htm ) to benchmark the code

[2019-11-26 22:57] WilliamTambellini commented on #2673
Hi @umar456

$ examples/machine_learning/neural_network_cuda
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build ee68916)
Platform: CUDA Toolkit 10.0, Driver: 418.56
[0] GeForce GTX 1060, 6079 MB, CUDA Compute 6.1
** ArrayFire ANN Demo **
...
Training time: 5.6016 s

which is much better than 6.4s from the master branch.
Good for me,
Tks.
W.

[2019-11-27 03:37] ipostr08 opened #2680 "scanByKey / constructor / assignment operator bug"
Ran with the latest AF release in VS 2019. I haven't checked the Master. Two GPU setup: Titan V and 2080Ti (both show the same bug). cuda-memcheck does not report any errors.

[code]

Expected result:
1
1

Actual result:
1
34561

Note the double assignment of keysAF and valsAF.

[2019-11-27 13:55] krish021195 commented on #2676
@9prady9  I am also using timeit to benchmark the code. Using Nvidia Jetson Xavier and backend as cuda. I am getting around ~4ms. Just curious on why the time taken for border replicate is nearly equal to a convolution operation of a 5*5 kernel on two 3-channel HD images.

[2019-11-27 14:36] 9prady9 commented on #2676
I think that is a coincidence. For example, if we keep increasing the kernel size, I doubt padding using the above code will run at same time as convolution as the default zero padding done by convolve operation is much faster compared to looking up values across image border to create mirror padding for larger kernel sizes. Perhaps, a custom kernel would help for larger padding sizes. We have an

[2019-11-28 06:48] krish021195 commented on #2676
@9prady9 Thanks on the comment. When can we expect that new padding function? Also can you share us the code?

What time does it take when running with two 3-channel HD images on GTX 1060 GPU with cuda backend?

[2019-12-02 04:36] 9prady9 commented on #2676
Hopefully, this week. Open github file finder https://github.com/arrayfire/arrayfire/find/master and search for the term **pad_array_border** that should point to all the files related to array border padding implementation.

As I said earlier, I don't have any benchmarking numbers for this kernel based padding approach yet. There are no numbers on that yet, I will generate them once I create the

[2019-12-02 07:48] 9prady9 commented on #2680
Thank you for reporting it. This seems to be a problem only in CUDA backend. I am looking into it.

[2019-12-02 07:54] 9prady9 commented on #2680
Also, the code you posted can be further shortened as follows
[code]

[2019-12-02 14:29] 9prady9 commented on #2680
Something weird is going on, I was able to reproduce the problem couple of times in the initial runs but I am unable to reproduce it anymore.

@umar456 @mark-poscablo @syurkevi Can you please try master branch with above code snippet on your NVIDIA cards and let us know what the result looks like.

[2019-12-02 17:27] mmmaat opened #2681 "error in gfor documentation"
In the introduction of the [gfor documentation](http://arrayfire.org/docs/page_gfor.htm), the 3 prototypes of `gfor` are explained:
[code]
The third one is not "gfor(var,first,incr,last)" but "gfor(var,first,**last,incr**)", as the parameters are directly forwarded to the `seq` constructor [here](https://github.com/arrayfire/arrayfire/blob/4b450a7aac2c1a70dd90494ea4ebc878f2665095/include/af/gfor.h

[2019-12-02 18:19] ipostr08 commented on #2680
Thank you for looking into this. Even a small change in the code changes this behavior. Here is another example but it's much more complex and I couldn't reduce it further.

[code]

[2019-12-03 09:16] 9prady9 commented on #2676
Here are some numbers for the HD image dimensions

[code]

kernel version of padding is giving about **2.6 times** speedup than the indexing based one. Of course this is for symmetric padding, there probably wouldn't be too much of difference for zero padding I would think.

As we increase the padding size, there could be much higher speedup and the code would still look the same where as the inde

[2019-12-03 10:54] 9prady9 commented on #2680
I was able to reproduce it again after reverting the change I made to the code you posted originally. Do you face the issue even after the change I suggested above ?

Also, the way you are filling the array's in [this](https://github.com/arrayfire/arrayfire/issues/2680#issuecomment-560517096) code snippet is very inefficient - accessing elements of `af::array` individually one at a time.

`Data::i

[2019-12-03 16:52] ipostr08 commented on #2680
After the change, it works fine. But I cannot just do this in my production code - I had other scans break.

No worries about performance, this is not my production code. It's just a way to demo the bug without accidentally fixing it. I've actually done quite a bit in order to get the best possible performance, including rewriting some code in CUDA. I think the AF is actually leaving quite a lot o

[2019-12-03 17:35] sebastienleclaire opened #2683 "Request change in ArrayFire API for empty array."
Hi,

I would like to request a change in the API behavior of ArrayFire for empty array.

At the moment, when an array is empty by the result of a declaration or an operation (such as with the “where” function), the resulting array has its dimension fixed until a new assignation to this array variable is made (well this is my interpretation of the results I have observed, it might not be completely

[2019-12-03 19:43] DarkStar1997 opened #2684 "How to set the color of the function while plotting?"
[code]

The colour of the line is still red and doesn't change.

[2019-12-03 23:04] StefanBruens commented on #2640
You can force the old behavior by setting Boost_NO_BOOST_CMAKE=ON and CMP0093=OLD

[2019-12-04 00:02] StefanBruens opened #2685 "spdlog-utests not build although ENABLE_TESTING is set to on"
As `extern/spdlog` has `EXCLUDE_FROM_ALL` set, spdlog-utests is not build.

When the testsuite is run via `ctest`, spdlog-utest is picked up as a target (as CMake decends into the directory and `enable_testing()` is set), but obviously it can not run it.

[2019-12-04 05:03] ipostr08 commented on #2680
If case this helps, scoresAF array also gets modified even if its copy is passed as an argument to scanByKey:

[code]

[2019-12-04 06:38] 9prady9 commented on #2684
Plots have hard coded colors at the moment, the color map only effects the image renderings.

[2019-12-04 07:03] ipostr08 commented on #2680
This could be useful:
[code]

[2019-12-04 07:57] krish021195 commented on #2676
@9prady9 thanks on sharing the timings. Will keep in track with the issue #2682 .

Can you share me the gpu utilization of the api to pad array borders?

Also Is there anything needs to be done at installation or building steps of ArrayFire to increase the performance ?

[2019-12-04 12:31] 9prady9 commented on #2676
The utilization was at 80% constantly. There is no need to make any changes at environment level to draw maximum performance, that will happen automatically depending on your device and other current loads on the GPU at that moment.

[2019-12-04 12:57] 9prady9 commented on #2685
I am unable to grasp the cause of concern to be honest.

Do we need to build tests for spdlog while building ArrayFire unit tests ? The answer is no, we don't want to. Hence they are turned off in https://github.com/arrayfire/arrayfire/blob/master/CMakeLists.txt#L140

[2019-12-04 13:22] StefanBruens commented on #2685
And here its is turned on again:
https://github.com/gabime/spdlog/blob/caff7296b162d97e44d6a1cc039adf689cfc02b3/CMakeLists.txt#L28-L31

[2019-12-04 13:29] 9prady9 commented on #2685
True, but `add_subdirectory` call on tests folder under spdlog is only done if `SPDLOG_BUILD_TESTING` is set to `ON` - lines 46-48

[2019-12-04 13:32] StefanBruens commented on #2685
Why don't you try it?
[code]
ENABLE_TESTING turns on SPDLOG_BUILD_TESTING using `cmake_dependent_option`, read the linked fragment.

[2019-12-04 13:35] 9prady9 commented on #2685
I do run `ctest` when running all tests, I didn't see spdlog tests being run so far. Infact, our ci jobs run ctest, I am not sure why it being enabled in your tests. What version of cmake are you using ?

[2019-12-04 14:28] StefanBruens commented on #2685
cmake/ctest 3.15.5

[2019-12-04 14:30] StefanBruens commented on #2685
try `cmake help | grep spdlog`. If spdlog-utests appears it is part of the targets, which can only happen when `spdlog/test/CMakeLists.txt` has been processed.

[2019-12-04 14:38] 9prady9 commented on #2685
The following is what I see
[code]
I don't see `spdlog-utests` as expected. Try upgrading cmake to 3.16, perhaps it is a bug in cmake and they fixed - I am not sure - I use cmake 3.16, I don't see what you are seeing on your system.

Are you using master branch or v3.6.4 tag ?

[2019-12-04 14:43] StefanBruens commented on #2685
should have been
[code]

This is arrayfire 3.6.4. (release tarball)
Same happens with cmake 3.16.0

[2019-12-04 14:47] 9prady9 commented on #2680
The first iteration high runtime is expected as that includes device warmup(app startup) and kernel compilations(new type of kernel instantiation happens). I am not sure entirely if streams will help for the case you mentioned. Can you please share some benchmarks you did regarding the less performance for elements lesser than certain threshold. It would help us understand what functions/features

[2019-12-04 14:54] 9prady9 commented on #2685
Thats fine, I have tests enabled on my development work trees - I didn't copy paste your command exactly. I don't see utests target on neither master nor v3.6.4. Can you please try our latest master branch.

If you still see utests target even then, we would appreciate if you can create a simple `Dockerfile` that can help recreate the issue on our end reliably as I am unable to on my end at the mo

[2019-12-04 16:39] ipostr08 commented on #2680
Note that cuda-memcheck and my complex example show that the first version does not actually fix the bug. Cuda-memcheck still shows reads from uninitialized memory and my code shows an incorrect result from scanByKey.

I will start a new ticket with the benchmarks as not to clutter this thread. It's not a hard threshold where the performance falls off.

I think the slow first iteration is a result

[2019-12-05 00:41] DarkStar1997 commented on #2684
![plots](https://github.com/sayansil/Ecosystem/blob/master/outputs/2019-12-05_02-10.png)

It'd have been nice if different colours could have been chosen to plot each grid. Moreover, the font quality is really substandard. Should I open a new issue for that?

[2019-12-05 04:24] 9prady9 commented on #2684
We will try to add that functionality soon. What's the resolution of the image you posted ? Which version of ArrayFire are you using ?

Please raise graphics related issues in the upstream https://github.com/arrayfire/forge

[2019-12-05 13:50] DarkStar1997 commented on #2684
The resolution of the image is 1920x1080. I am using the latest Arrayfire 3.6.4-2 present in the Arch repository. I will raise the graphics issue in the upstream. I'm closing this issue.

[2019-12-05 17:29] DarkStar1997 commented on #2684
I think I have understood the problem.
[code]
The problem lies in the repeated calling of the plot function again and again over the same grid because of which the text gets darker and bolder on repeated overwrites (100 times in this case). Is there any way to sort of overlay the lines without doing it repeatedly for the axes?

[2019-12-05 18:21] 9prady9 commented on #2684
@DarkStar1997 Well, that explains why the font looked blocky in your screen shot. You are rendering different plots into same viewport thus the overlap of renderings is taking place.

Plot overlays in charts is not yet available in arrayfire graphics functionality although that feature is available in our graphics upstream project - https://github.com/arrayfire/forge

The blog post you refered to

[2019-12-05 18:41] DarkStar1997 commented on #2684
Okay sure!

[2019-12-06 03:52] #2660 closed

[2019-12-06 03:54] #2647 closed

[2019-12-06 03:54] #2655 closed

[2019-12-06 19:38] WilliamTambellini commented on #2673
Seems to be an afunified speed drop : the speed of master is ok when linking with afcuda:
afcuda 364			28.511 secs
afcuda master (Dec6):	29.289 secs

[2019-12-08 09:19] keichi opened #2687 "af::nearestNeighbour() returns incorrect results"
af::nearestNeighbour returns incorrect results with the OpenCL backend. Here are the output of ctest: [CPU (passing)](https://gist.github.com/keichi/37d0746ecd16ed6ccf74e8847f585c7b) and [OpenCL (failing)](https://gist.github.com/keichi/def6faae719ceac2a013eb251a15d019)

- ArrayFire: master(6f5812f1)
- OS: macOS Catalina 10.15.1 (19B88)
- CMake: 3.15.5
- Compiler: Apple clang version 11.0.0 (clang

[2019-12-09 12:29] 9prady9 commented on #2687
The log shows `Intel(R) Iris(TM) Plus Graphics 655` as the OpenCL device. Did you install Intel's OpenCL runtime or Are you using Apple's OpenCL implementation ?

If you have installed Intel's OpenCL implementation, can you please make sure the program is picking up that during execution.

If program is however using Apple's OpenCL implementation, then I am not sure it is worth the effort to put i

[2019-12-09 13:35] keichi commented on #2687
No, I didn't install Intel's OpenCL runtime so I guess I'm using Apple's runtime. I couldn't find Intel's OpenCL runtime on their website. Could you provide a URL?

If Intel isn't providing an OpenCL runtime, I'm okay with the CPU backend since I use Linux servers for large production runs. I was using the OpenCL backend on my macOS just because it has priority over the CPU backend and used by def

[2019-12-09 13:56] 9prady9 commented on #2687
That's the link

https://software.intel.com/en-us/opencl-sdk/choose-download

Interestingly i didnt see MacOS download option. So, i don't think we can
do anything over there.

You can use CPU backend for your testing by setting the backend as following

af::setBackend(AF_BACKEND_CPU); as the first ArrayFire API call.

On Mon, 9 Dec, 2019, 19:05 Keichi Takahashi, <notifications@github.com>
wrote:

[2019-12-09 14:35] keichi commented on #2687
Thanks, should I close this issue?

[2019-12-09 14:43] 9prady9 commented on #2687
Sure if that was the only problem you faced.

On Mon, 9 Dec, 2019, 20:05 Keichi Takahashi, <notifications@github.com>
wrote:

[2019-12-09 14:44] #2687 closed

[2019-12-09 15:13] umar456 commented on #2687
@keichi is using the Apple platform. Intel doesn't provide an OpenCL runtime on macOS.

I have an older Iris Pro on an older version of macOS and I didn't run into this issue. I am not sure if I can reproduce this error on my end. I am unsure how I can debug this issue without that version of the hardware.

[2019-12-09 16:09] 9prady9 opened #2688 "Disable half type specilizations when using clBLAS upstream"

[2019-12-11 02:05] WilliamTambellini commented on #2673
I m "rewinding" the master branch from 3.6.4 :

d1180ec76696152d292df427b81fcb76b4dfae0e 24.3 s Fix array_proxy move constructor.
...
f50155d36e1dce384506927451bc2f25f6ca41ab 24.5 s	Create a make_handle factory for unique_handle
...
c69ec15483cc85f9c7d42dfbabea35c2c8c308b9 24.1 s	Create a unique_handle class to manage C library handles
...
e4e14eb392aae09aa981060fcfab8aa232c219d8 24.6 s Refactor M

[2019-12-12 07:30] rstub commented on #2671
Maybe related: #2372

[2019-12-12 11:49] 9prady9 commented on #2671
@rstub I think @umar456 already addressed that by linking MKL libs directly with unified lib - see this file  https://github.com/arrayfire/arrayfire/blob/master/src/api/unified/CMakeLists.txt#L80-L92 This fix was introduced in 3.6.0 release. @flori-uni which version of ArrayFire are you using ?

Also, you titled the issue as static linking mkl ? We don't do static linking at the moment, you can do

[2019-12-12 12:49] rstub commented on #2671
@9prady9 #2372 was reported against 3.6.2 and is still present in 3.6.4.

[2019-12-12 16:31] #2634 closed

[2019-12-17 11:09] eix128 opened #2692 "crypto support in future ?"
Hi ,
is there any plan for
SHA1 , ... , SHA512 and PBKDF2, Elliptic Curve Crypto etc... for Arrayfire ?
Fast XOR hash

[2019-12-17 21:18] WilliamTambellini commented on #1656
Could we please remove that one from the 3.7.0 scope ?

[2019-12-17 21:23] WilliamTambellini opened #2694 "Set libafcuda.so RPATH to $ORIGIN"
Adding $ORIGIN to libafcuda.so allows for any high level application like python/java to successfully let the afunified backend dynamically load afcuda without having to set LD_LIBRARY_PATH manually.
This is just a proposal to set libafcuda RPATH to '$ORIGIN' in the afcuda cmake script.
Any cons ?
Kind
W.

[2019-12-18 09:06] ipostr08x commented on #2680
I see that a pull request has been made, awesome! I'm wondering how to get this fix working in my program though. Will I need to wait for a new release? If so, any estimate when it might happen? I think it's a pretty substantial bug, so maybe an update to the latest release could be made available? Or might there be a binary Windows version of the Master made available? Or maybe a working x64 VS s

[2019-12-19 08:48] 9prady9 commented on #2680
We understand the bug fix is an important one. We have been rejuvenating our CI framework since a few weeks which is partially the reason for delay in our next 3.7 release. If you like to raise an expedited request for early binary release for specific OS, you may try our support(https://arrayfire.com/support/) channel. Having said that, We will try to get 3.7 release out there as soon as we can a

[2019-12-19 19:52] WilliamTambellini opened #2696 "Add support for matmul f32sparse f16dense in afcuda"
As today (master), it's not possible to do a matmul of a f32sparse with a f16dense:
example:
  std::vector<float> d = {9, 9, 1, 3, 1, 2};
  float values[] = {9, 9};
  int rowIdxs[] = {1, 3};
  int colIdxs[] = {1, 2};
  af::array cooArray = af::sparse(4, 3, 2, (void*)values, rowIdxs, colIdxs, f32, AF_STORAGE_COO);
  af::array csrArray = af::sparseConvertTo(cooArray, AF_STORAGE_CSR);
  r = af::matmu

[2019-12-20 12:02] #2680 closed

[2019-12-23 18:31] WilliamTambellini commented on #2696
Note @umar456  : a f16sparse matmul f16dense would also do the job but If I remember right half sparse arrays is not yet implemented in af master, is nt it ?

[2019-12-23 18:34] WilliamTambellini commented on #2673
Seems to be fixed by
https://github.com/arrayfire/arrayfire/pull/2695
at least on Pascal GPUs.
To be triple confirmed on recent GPUs, testing, please hold few hours before closing that one.

[2019-12-26 19:46] WilliamTambellini opened #2698 "add support for f16 afcuda topk"
Just a reminder to add support for f16 afcuda topk.

[2019-12-27 07:36] AlbertLiDesign opened #2699 "CUDA Error: out of memory"
Hello everyone,
I'm a beginner of arrayfire. I just wanna test the speed of solving matrics. But I found if I defined a 20000 by 20000 matrix, complier will return "CUDA Error: out of memory".  What should I do? Could you please help me to solve it?

Best wishes

[code]

![image](https://user-images.githubusercontent.com/39052060/71507165-7fb9c600-28be-11ea-95c1-8211c455a556.png)

[2019-12-27 07:37] AlbertLiDesign commented on #2699
The error information is:
Running Time 1: 0.655
ArrayFire Exception (Device out of memory:101):
In function void *__cdecl cuda::MemoryManager::nativeAlloc(const unsigned __int64)
In file src\backend\cuda\memory.cpp:149
CUDA Error (2): out of memory

In function class af::array __cdecl af::solve(const class af::array &,const class af::array &,const af_mat_prop)
In file src\api\cpp\lapack.cpp:89

[2019-12-27 10:14] 9prady9 commented on #2699
Each 20kx20k matrix of float type is about ~ 1.4G, and you created two of them. solve's implementation might create additional workspace location, this size might need some good amount of device memory.

What is the device you are using and how much memory does it have ?

[2019-12-27 10:48] AlbertLiDesign commented on #2699
Hi, thank you for your help. My gpu is RTX2060 which has 6G memory. I guess it is not enough to occupy all the memory. But how to manage my gpu memory?

[2019-12-27 16:31] 9prady9 commented on #2699
As I said earlier, I believe the upstream implementation, i.e. cuSolver since you are using CUDA backend, is trying to allocate more memory for rough workspace.

Is it possible to divide your problem into smaller problems , for example divide the problem along one of the dimensions into smaller sets ?

[2019-12-27 16:43] AlbertLiDesign commented on #2699
Thank you again.
My problem just is a test. In fact, I just wanna to learn how to implement solving big matrices. Could you please give me an example? How to divide a big matrix into smaller problems? I'm sorry to prompt this problem that looks so basic.

[2019-12-28 00:06] WilliamTambellini opened #2700 "f16 array scalar multiplication"
As today f16array * myfloat outputs a f32 array :

af::array f16array(1,1, f16);
float scal = 2.0f;
af::array o = scal * f16array;

see o is f32.
Is there a way today to do f16 scalar mult in native half (perhaps using af_half) ?

[2019-12-28 06:16] 9prady9 commented on #2699
Got you.

Usually, when matrices are that large you should look at the possibility of them being sparse. If they are, then storing the entire matrix is a irrelevant question.

You should look at the similar questions on **[ResearchGate](https://www.researchgate.net/post/What_is_an_efficient_algorithm_to_solve_a_large_106_106_linear_equation_system)** and **[MathExchange](https://math.stackexchange

[2019-12-28 06:16] #2699 closed

[2019-12-30 21:44] WilliamTambellini opened #2701 "f16 vector-vector and matrix-vector afcuda matmul bug"
Hello
vector-vector (kind of dotprod) does nt seem to work at half prec but does at f32 :
auto left = af::array(1, 1024, f16);
auto right = af::array(1024, 1, f16);
af::matmul(left, right) :

ArrayFire Exception (Function not supported:301):
In function af_err af_matmul(void**, af_array, af_array, af_mat_prop, af_mat_prop)
In file src/api/c/blas.cpp:241
In function af::array af::matmul(const af::a

[2019-12-31 20:43] WilliamTambellini commented on #2701
Confirming with such unittest : af_gemm at f32 accepts vectors inputs but does not at f16:

TEST(MatrixMultiply, vectorvector) {
    array A32 = array(1, 3, h_lhs); // 1 4 7
    float r[3] = { 9, 8, 7};
    array B32 = array(3, 1, r); // 9 8 7
    af_array C32 = 0;
    const float alpha32 = 1.0f;
    const float beta32 = 0.0f;
    af_gemm(&C32, AF_MAT_NONE, AF_MAT_NONE, &alpha32, A32.get(), B32.ge

[2019-12-31 20:47] WilliamTambellini commented on #2701
Seen in cuda blas.cpp

BLAS_FUNC_DEF(gemv)
BLAS_FUNC(gemv, float, S)
BLAS_FUNC(gemv, cfloat, C)
BLAS_FUNC(gemv, double, D)
BLAS_FUNC(gemv, cdouble, Z)

template<>
gemv_func_def<half> gemv_func<half>() {
    assert(1 != 1 && "GEMV for half is not available.");
    return gemv_func_def<half>();
}

// BLAS_FUNC(gemv, __half, S)  // TODO(umar): Not implemented in CUDA

[2019-12-31 20:52] WilliamTambellini commented on #2701
hum, indeed, when trying to instantiate cublasSgemv with half :
/home/wtambellini/repos/AFWT/src/backend/cuda/blas.cpp:
In function ‘cuda::gemv_func_def<T> cuda::gemv_func()
[with T = __half; cuda::gemv_func_def<T> = std::function<cublasStatus_t(cublasContext*, cublasOperation_t, int, int, const __half*, const __half*, int, const __half*, int, const __half*, __half*, int)>]’:

/home/wtambellini/re

[2019-12-31 20:55] WilliamTambellini commented on #2701
Hum, apparently, no cublasGemv for half in cublas 10.2 :
https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-gemv

[2019-12-31 21:16] WilliamTambellini commented on #2701
Confirming, from cublas_v2.h from 10.2 :

/* Blas2 Routines */
#define cublasSgemv          cublasSgemv_v2
#define cublasDgemv          cublasDgemv_v2
#define cublasCgemv          cublasCgemv_v2
#define cublasZgemv          cublasZgemv_v2

Looking at cublasLt ...

[2019-12-31 22:45] WilliamTambellini commented on #2701
Hum, no gemv example in
/usr/local/cuda-10.2/samples

[2020-01-04 01:08] StefanBruens commented on #1698
It has happened again ...

[2020-01-04 17:56] DarkStar1997 opened #2703 "af::print terminates program under CUDA backend"
[code]
The code above gives the following output:

[code]

I am on an updated Arch Linux system with Arrayfire 3.6.4 installed from the repos with CUDA  10.2 and GCC 9.2

[2020-01-06 12:39] 9prady9 commented on #2703
@DarkStar1997 I use Arch Linux as my regular dev system and my packages are update to date. When I try `af::print` function instead of `af_print` macro, I don't face any issues using 3.6.4 tag. There is probably however the difference that, I have the tag built in a separate worktree for testing purposes. I assume you are using our website binary. If that is the case, can you please try with `AF_P

[2020-01-06 12:41] 9prady9 commented on #1698
@StefanBruens Sorry about the inconvenience. We are aware of the issue and we are looking into it. Thanks for reporting it.

[2020-01-06 23:36] WilliamTambellini opened #2706 "test dot_cuda failing on half"
Just an error with dot_cuda on half when run through a GTX1080Ti with cuda10.0 :
$ test/print_info
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build 70ef1989)
Platform: CUDA Toolkit 10.0, Driver: 440.33.01
[0] GeForce GTX 1080 Ti, 11179 MB, CUDA Compute 6.1

/local/nbuild/jenkins/workspace/AF-Release-Linux/test/dot.cpp:94: Failure
The difference between abs(goldData[elIter]) and abs(outData[elIter]) is

[2020-01-06 23:48] WilliamTambellini opened #2707 "test/threading_cuda random crash at exit"
Worrying crash in test/threading_cuda :
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build 70ef1989)
Platform: CUDA Toolkit 10.0, Driver: 440.33.01
[0] GeForce GTX 1080 Ti, 11179 MB, CUDA Compute 6.1

$ test/threading_cuda
Running main() from /local/nbuild/jenkins/workspace/AF-Release-Linux/test/gtest/googletest/src/gtest_main.cc
[==========] Running 9 tests from 1 test case.
[----------] Global test env

[2020-01-07 04:24] 9prady9 commented on #2706
I was able to reproduce this with CUDA 10.2 with 440.44 driver too.

[2020-01-07 04:27] 9prady9 commented on #2707
I was unable to reproduce this using neither CUDA 10.0 nor 10.2. I am on Arch Linux, what linux-distro are you using ?

[2020-01-07 18:02] 9prady9 commented on #2707
I used gcc-7

[2020-01-07 19:47] WilliamTambellini opened #2708 "af meanvar cpp api"
Hello guys, just a reminder that strangely the cpp api for meanvar has not been added :

$ nm libaf.so | grep meanv
000000000014d5f0 T af_meanvar
000000000026a020 r _ZZ10af_meanvarE19__PRETTY_FUNCTION__
0000000000269ff8 r _ZZ10af_meanvarE8__func__

I ll have a look.

[2020-01-08 14:31] pthon opened #2709 "af::convolve returns erroneous zero values if third-dimension of input array > 4 (only on CUDA)"
I found a strange error affecting the af::convolve function which only occurs using the CUDA backend.

Considering the following snipped, the af::convolve function should return an array with ones, but returns zeros for the fifth element onward:

    #include <arrayfire.h>

    int main(void){
        af::setBackend(AF_BACKEND_CUDA);
        af::info();

        const int n2 = 8; // error occurs f

[2020-01-08 14:38] 9prady9 commented on #2709
@pthon What is the rank of convolution, 1D/2D/3D ?

[2020-01-08 14:41] 9prady9 commented on #2709
Current master doesn't have this issue. Most likely, it has been fixed after 3.6.4 release. Let me get back to you with the change that fixes the issue - would help for future reference.

[2020-01-08 14:42] pthon commented on #2709
In the application we calculate a 3D laplace operation. Here, I adapted the snippet to a minimum working example.

[2020-01-08 14:45] 9prady9 commented on #2709
b5286ef8257993c3edc91317b12d215213ec679a
I believe that fixed this issue.

[2020-01-08 14:54] pthon commented on #2709
Perfect, thanks a lot!

[2020-01-08 14:54] #2709 closed

[2020-01-08 19:34] umar456 commented on #1579
Use -DUSE_CPU_MKL=ON and -DUSE_OPENCL_MKL=ON when running CMake

[2020-01-08 20:24] tbenst commented on #2271
@mboisson did you ever resolve this? Just hit the same error on Ubuntu (using nix) and compiling against MKL

[2020-01-08 20:29] umar456 commented on #2271
You can set that variable manually to the path of the libiomp5.so library on your system.

[2020-01-08 22:26] WilliamTambellini commented on #2707
Warning : the crash seems random.

[2020-01-08 22:46] tbenst commented on #2271
@umar456. I just tried `MKL_ThreadingLibrary_LINK_LIBRARY:FILEPATH="${mkl}/lib/libiomp5.so"` and I get the surprising error, `line 87: MKL_ThreadingLibrary_LINK_LIBRARY:FILEPATH=/nix/store/faikg391wg128zji6hq3bkzfsjykb6pz-mkl-2019.5.281/lib/libiomp5.so: No such file or directory`

[code]

[2020-01-08 22:50] umar456 commented on #2271
Can you give me the context around line 87? How did you set that variable. I think this sort of thing would be better addressed on our [slack](https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ) channel. That is a better platform for these types of issues.

[2020-01-09 00:31] WilliamTambellini opened #2711 "Compilation error on cudaStreamCaptureMode with cuda 10.2"
Hum, I got a strange compilation error with cuda 10.2 on gcc 6.1 (Ubuntu16):

In file included from /usr/local/cuda-10.2/include/channel_descriptor.h:61:0,
                 from /usr/local/cuda-10.2/include/cuda_runtime.h:95,
                 from /home/wtambellini/repos/arrayfire/src/backend/cuda/platform.hpp:13,
                 from /home/wtambellini/repos/arrayfire/src/backend/cuda/cublas.cpp:

[2020-01-09 20:30] WilliamTambellini commented on #2708
done in
https://github.com/arrayfire/arrayfire/pull/2710
closing

[2020-01-09 20:30] #2708 closed

[2020-01-09 21:17] WilliamTambellini commented on #2711
A similar issue:
https://webcache.googleusercontent.com/search?q=cache:0U61o-m6XvcJ:https://devtalk.nvidia.com/default/topic/1064351/tensorrt/compilation-error-for-tensorrt-samples/+&cd=2&hl=en&ct=clnk&gl=us&client=ubuntu

[2020-01-10 21:32] WilliamTambellini commented on #2706
so the compare in dot.cpp is not flexible enough to support approximation of half:
template<typename T>
void compare(double rval, double /*ival*/, T gold) {
    ASSERT_NEAR(gold, rval, 0.03);
}
The best would be to specialize the compare for half and use:
https://en.cppreference.com/w/cpp/numeric/math/nextafter

TBC

[2020-01-11 01:44] umar456 commented on #2700
Even though it's not how the types are calculated in standard C++ I can see why we need to return an f16 array in this case. I will try to get a fix for this next week.

[2020-01-13 18:36] nsakharnykh commented on #1673
Hi, any update on fp16 support in release? Is there any timeline for this?

[2020-01-14 20:22] WilliamTambellini commented on #2698
https://github.com/arrayfire/arrayfire/pull/2702

[2020-01-14 20:22] #2698 closed

[2020-01-14 20:23] #2673 closed

[2020-01-15 03:20] 9prady9 commented on #2706
This could be likely an issue related to driver/toolkit or GPU or combination of both. Although the unit test in discussion did fail on GTX 1060 with CUDA 10.2, the same unit test didn't fail on GT 650M with CUDA 9.1

[2020-01-15 03:34] 9prady9 commented on #1673
fp16 support for some functions/features will be available in next release, 3.7. We are still ironing out some issues which held up the release at the moment. We are sorry for extended waiting, we will try to publish a release as soon as we can. We shall send a release email/post as soon as we do it. I shall update this issue as well once we make a release.

[2020-01-15 17:15] WilliamTambellini commented on #1673
Hello @nsakharnykh
On my side, one of the last issues blocking the release is probably that one :
https://github.com/arrayfire/arrayfire/issues/2701
For some reasons, gemv for half is not implemented in cublas. Would you know why ?
Kind

[2020-01-15 18:36] WilliamTambellini opened #2721 "speed drop for gemm at f16"
Hi
The current master seems to run f16 gemm very slowly :

$ examples/benchmarks/blas_cuda 0 f16
Device 0 isHalfAvailable ? yes
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build e557d7e)
Platform: CUDA Toolkit 10.0, Driver: 440.33.01
[0] TITAN V, 12067 MB, CUDA Compute 7.0
Benchmark N-by-N matrix multiply at f16
 128 x  128:   209 Gflops
 256 x  256:  1877 Gflops
 384 x  384:  5125 Gflops
 512 x  512:

[2020-01-15 21:20] WilliamTambellini commented on #2721
hum seems related to version of cuda (10.0 vs 10.1+, cublaLt or not) and/or version of the drivers. TBC.

[2020-01-15 21:53] umar456 commented on #2721
I tested this on a GV100 and the times were pretty good. I noticed you are comparing two different GPUs there. I would suggest running the benchmark on the same card even if the underlying architecture is the same.

[2020-01-16 16:39] elsucht opened #2722 "arrayfire uses CPU on Jetson Nano"
I successfully compiled arrayfire from git src without CPU- and OpenCL-backend. Only CUDA backend was activated.
However I am struggling using the library. It looks like that my executables (and some of the examples) are using the CPU and not the CUDA gpu. My small test program (simple additions) is resulting in 100% CPU core usage, but 0% GPU usage.
` af::setBackend(AF_BACKEND_CUDA);
int width =

[2020-01-16 17:47] umar456 commented on #2722
I think this is happening because not  alot of work is being performed on the GPU. Try calling matmul instead of addition. Also these types of questions are better suited for our slack or the google groups. You can find how to join at the bottom of the main README

[2020-01-18 19:04] safi-huss opened #2724 "Exception(dimension mismatch) during element-wise multiplication"
While running the following code:

`        dim4 dim_cond = {3, d_num_cond_elems, 1, 1};

        array af_conductor(3, d_num_cond_elems, pf_conductor);
        array af_r = constant(0, dim_cond);
        array af_cross = constant(0, dim_cond);

        af_cross(1, span) = af_conductor(2, span) * af_r(3, span);
`

I get a exception for Invalid input size (which the two arrays are not).
![2020-01-1

[2020-01-18 19:24] #2724 closed

[2020-01-21 22:21] WilliamTambellini commented on #2711
cmake was mixing cuda 10.0 and 10.2.
rm CMakeCache.txt.

[2020-01-21 22:21] #2711 closed

[2020-01-21 22:23] WilliamTambellini commented on #2721
According to the doc the TitanV and GV100 should run f16 at about the same speed if I remember right.
Anyway, the speed seems to be simply sensitive to the cuda and driver versions. Tks.

[2020-01-21 22:23] #2721 closed

[2020-01-21 22:30] WilliamTambellini commented on #2701
Note : matrix-vector matmul does not seem to work neither at f16:
left=2 4 1 1 right=4 1 1 1
ArrayFire Exception (Function not supported:301):
In function af_err af_matmul(void**, af_array, af_array, af_mat_prop, af_mat_prop)
In file src/api/c/blas.cpp:241
Would be cool to add a unittest.

[2020-01-25 06:09] shersoni610 opened #2729 "simple pad and crop functions"
Hello,

I could not find any simple Pad and Crop Image functions? Are they available with some other names?

Thanks;

[2020-01-25 06:31] 9prady9 commented on #2729
@shersoni610 We don't have functions per say, it is indexing (http://arrayfire.org/docs/indexing.htm ) operation that helps you achieve what you are looking for.

However, recently, we added https://github.com/arrayfire/arrayfire/pull/2682 padding function that is more performant than indexing for certain cases.

I am closing the issue since it is not an actual feature request. Questions such as t

[2020-01-25 06:31] #2729 closed

[2020-01-25 17:37] kriswuollett opened #2731 "variance bias parameter"
Does [`af::var(array, bool, dim_t)`](https://github.com/arrayfire/arrayfire/blob/af665bc30b36502e0b164a59a124f43a21100daf/include/af/statistics.h#L57) need to change to `af::var(array, af_var_bias, dim_t)` like as in [`af::meanvar`](https://github.com/arrayfire/arrayfire/blob/af665bc30b36502e0b164a59a124f43a21100daf/include/af/statistics.h#L86)? I am working on learning ML and was trying to debug

[2020-01-25 19:29] kriswuollett commented on #2731
BTW, it seems like the documentation in [`statistics.h`](https://github.com/arrayfire/arrayfire/blob/af665bc30b36502e0b164a59a124f43a21100daf/include/af/statistics.h#L49) is now out of date? The var and af_var method docs both say:

While the [code](https://github.com/arrayfire/arrayfire/blob/af665bc30b36502e0b164a59a124f43a21100daf/src/api/c/var.cpp#L179) that does the conversion from the `bool`

[2020-01-25 19:54] umar456 commented on #2731
Hey @kriswuollett,

I think you are looking at an older commit. This should have been fixed in #2710.

[code]

 Can you make sure that biased variance(sample) gives the correct results?

[2020-01-25 20:41] kriswuollett commented on #2731
@umar456, thanks for checking for me!

Looking again, the ArrayFire docs/code seem ok. The tests for var (cpu, cuda, and opencl) pass for me at https://github.com/arrayfire/arrayfire/commit/8f767a026290ae2fbde975757b64032e9832c43c. Sorry... looks like I may have browsed to the wrong version of code again on github after clicking on a specific commit!

I just need to figure out what I need to do wi

[2020-01-25 20:41] #2731 closed

[2020-01-25 20:44] umar456 commented on #2731
Yeah, we are trying to move away from boolian parameters as well. Thats why I added that enum. I should port that over to the var function as well.

[2020-01-27 23:12] mtmd commented on #1673
@WilliamTambellini
Have you tried calling `FP16` `GEMM` with `n=1`? That should address the issue.

[2020-01-28 08:31] #2701 closed

[2020-01-29 17:39] pthon commented on #1113
Thanks for the tip, i tested an implementation using the af::shift method, which yields sometimes better performance, especially on the OpenCL backend. For CUDA it is faster for most array sizes. However, on the cpu backend performance is worse by a factor of approx. 6. If you are interested, i can share the script.

@pavanky @mlloreda Is there any schedule for the implementation? Thank you in adv

[2020-01-29 20:04] umar456 commented on #2706
This should be a pretty easy fix. Like you suggested. the nextafter and nextbefore functions could alleviate this issue for f16.

This is the line that needs to be fixed: https://github.com/arrayfire/arrayfire/blob/master/test/dot.cpp#L94

[2020-01-31 07:32] #2640 closed

[2020-02-02 00:00] kriswuollett commented on #2685
I encounter the `spdlog-utests` issue too with CMake 3.16.3 and the 3.6.4 release tarball. I do notice warnings about policies `CMP0063` and `CMP0077`. Perhaps it is the behavior change and not necessarily a bug on the part of CMake?

I've tried various ways to work around this issue. I don't set any testing-related variables with CMake:

[code]

This works properly for me and includes running of

[2020-02-02 07:06] 9prady9 commented on #2685
@kriswuollett Have you tried with latest master branch ?

[2020-02-03 06:47] 9prady9 commented on #2685
@kriswuollett @StefanBruens Recently, we [modified the set command for variable to spdlog testing](https://github.com/arrayfire/arrayfire/blob/master/CMakeLists.txt#L157). That removes quite a few spdlog targets from our project's target list. Please try the latest master and let us know how it goes.

Having said that, I still don't observe the exact behavior you guys are experiencing - I don't se

[2020-02-03 15:10] kriswuollett commented on #2685
@9prady9, sorry didn't get a chance to test yet. I'm running on Ubuntu 18.04.3 LTS with the binary release of CMake installed in `/usr/local/cmake-3.16.3` without the system CMake package installed. I'll try out latest master again, I was skipping it due to a downstream library's tests failing at latest from the variance bias parameter change.

I ran across the `ldconfig` instruction in https://gi

[2020-02-03 21:27] WilliamTambellini commented on #2700
This one is done if I remember right, is nt it @umar456  ?

[2020-02-03 21:32] umar456 commented on #2700
Yes fixed via #2723

[2020-02-03 21:32] #2700 closed

[2020-02-04 17:00] umar456 commented on #2652
Fixed via #2653

[2020-02-04 17:00] #2652 closed

[2020-02-05 14:34] kriswuollett opened #2740 "OpenCL Pinverse/3 (af_cdouble) Large tests fail"
Priority not that high for me since I don't plan on using OpenCL at the moment -- just thought I'd try building all.

Build info:

* Ubuntu 18.04.4 LTS (newly installed)
* CMake 3.16.3 installed in `/usr/local`
* Installed all recommended / OpenBLAS packages in the [Linux install wiki (current revision)](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux/cda4af51217c6e5606535

[2020-02-05 14:42] kriswuollett commented on #2685
At master latest I do not have `spdlog-utests` issue. However for the `ldconfig` side issue I did need to run it on a fresh install of Ubuntu and just installing prerequisites noted below, otherwise a handful of tests fail:

* Ubuntu 18.04.4 LTS (newly installed)
* CMake 3.16.3 installed in `/usr/local`
* Installed all recommended / OpenBLAS packages in the [Linux install wiki (current revision)](

[2020-02-05 14:46] umar456 commented on #2740
That's strange. The relative difference is pretty small. The tests should be failing only if the difference is less than 1.e-5 for cdoubles. The values look ok here. @mark-poscablo can you look at what's going on here?

[2020-02-05 14:59] kriswuollett commented on #2740
Forgot to mention above I am also using Boost 1.72.0 built from source with:

[code]

[2020-02-05 16:54] 9prady9 commented on #2685
@kriswuollett That is good. About the ldconfig problem, not sure if that would cause segfaults - the program should complain about missing shared library object if one is missing. If your program is seg-faulting, then it must be something else. Since you are building from arrayfire source, what does the gdb backtrace look like when the program seg faults ?

[2020-02-06 22:15] mark-poscablo commented on #2740
Looks like this specific test case doesn't use the fixed value of 1e-5 as the accepted error - it calculates it instead based on the dtype and input arrays:

https://github.com/arrayfire/arrayfire/blob/2a2d6ff52c7f66dec24caa15a0ee5e9ef1cef1f2/test/pinverse.cpp#L110-L115

The calculated accepted error looks like it's too strict for this test case. We can modify the test case to use the fixed accept

[2020-02-07 04:56] #2740 closed

[2020-02-08 16:24] elsucht commented on #2722
You are correct.

[2020-02-08 16:24] #2722 closed

[2020-02-09 03:13] gaika opened #2750 "af_isinf, af_isnan, af_iszero for f16 arrays convert inputs to f32"
https://github.com/arrayfire/arrayfire/blob/c1e141691187c4a56f17fffbc52b832d3fa3d2c9/src/api/c/unary.cpp#L671-L674

[2020-02-09 06:47] gaika opened #2752 "speed up f16 on CUDA with hmul2, hadd2, etc."
f16 CUDA can be faster with specialized half ops that operate on vector inputs. Correct me if I'm wrong, but I don't see them being used in the source code.

[2020-02-09 06:52] umar456 commented on #2752
Yes, this is correct. You could get 2x speedup over regular ops with this change. Unfortunately, this will require a good bit of work to get it work correctly and there are very few functions that would take advantage of these ops because most kernels are memory bound.

[2020-02-09 20:07] #2750 closed

[2020-02-10 15:28] sangyx opened #2756 "assign operator work incorrectly in travis"
I run the code in my machine correct. But it can't work currectly in travis.
code:
[code]

the output is:
[code]

.travis.yml
[code]

[2020-02-10 15:38] umar456 commented on #2756
I am not sure I understand. Is the code giving incorrect results or you can't compile on Travis? Could you give me more information about the result or the error you are experiencing.

[2020-02-10 15:52] sangyx commented on #2756
For example, I want to assign `X.row(0)` (= [1.1966     4.9519]) to `X_train.row(1)`. But the code `X_train.row(1) = X.row(0);` doesn't work correctly. After assign, the X_train.row(1) = [1.6953     0.0000] is a random value.

[2020-02-10 16:20] umar456 commented on #2756
I am unable to reproduce this on my machine. I tested using CPU and CUDA backends. Here is the code:

[code]

Can you test the above code and tell me if you are seeing the same issue?

[2020-02-11 00:03] WilliamTambellini commented on #2694
Note : at least 2 ways to set rpath:
chrpath -r '$ORIGIN' libaf.so (but needs rpath to be non empty/non null)
patchelf --set-rpath '$ORIGIN' libaf.so
Setting via cmake is not straightforward.
tbc

[2020-02-11 01:48] sangyx commented on #2756
I run it correctly in my machine. But the same issue happened in the travis. The output is:
···
a
[10 2 1 1]
    0.6010     0.1583
    0.0278     0.3712
    0.9806     0.3543
    0.2126     0.6450
    0.0655     0.9675
    0.5497     0.3636
    0.2864     0.4165
    0.3410     0.5814
    0.7509     0.8962
    0.4105     0.3712
b
[2 2 1 1]
    0.6755     0.5232
    0.6105     0.5567
a
[10 2 1 1]

[2020-02-11 01:53] umar456 commented on #2756
This is strange. Can you try to build ArrayFire on travis and use that instead of our official installers?

[2020-02-11 03:35] sangyx commented on #2756
I build ArrayFire on travis and the problem solved.

[2020-02-11 09:21] #2694 closed

[2020-02-11 18:41] WilliamTambellini commented on #2752
Note: kind of related to
https://github.com/arrayfire/arrayfire/issues/2635
@umar456  would using hmul2/hadd2 jit kernels  speed up f16 gemv and/or non multiple of 4 gemm ?

[2020-02-11 22:21] umar456 commented on #2752
Its unlikely that we will speedup JIT kernels. I suspect most of those kernels are memory bound. gemm is already optimized by cublas and other libraries so those times will not improve. I have tested this with reduce and there wasn't a huge difference between the two approaches.

[2020-02-13 11:01] rstub commented on #1711
Any news on this issue? It still is present using

[code]

[2020-02-13 20:30] WilliamTambellini commented on #2752
Hum, I would prefer to keep that item opened : gemv perf is important for me.
Note : related change :
https://gitlab.com/libeigen/eigen/-/merge_requests/51

[2020-02-14 03:42] sebastienleclaire opened #2763 "Bug report: Problem with ArrayFire 3.7.0 and AF_BACKEND_CPU"
Hi,

I want to thank you for your hard work on this release. I'm sorry to report a bug on release day.

Note that the following code snippet is extracted from my code base and give generally random different values with the AF_BACKEND_CPU at every execution even if seed is the same. This is a bug not present in version 3.6.4. The results are constants and I believe as expected with the CUDA and Op

[2020-02-14 06:03] umar456 commented on #2763
Thanks for submitting the bug report. I was able to reproduce the issue. As a workaround can you store the sequences objects in an array and call eval on it before sending it to the join function. That seemed to have fixed things on my machine. I will put together a fix shortly.

[2020-02-14 08:20] umar456 commented on #2763
I have a bug fix that should address this issue in the morning. In the mean time you can replace your code using the pad function that was added in 3.7.

[code]

This should be equivalent to what you have.

[2020-02-14 13:12] sebastienleclaire commented on #2763
Thank you Umar. I'll use your fixes.

[2020-02-14 21:35] tlikhomanenko opened #2767 "Error during build in docker image (for CPU and CUDA backends)"
Hi, thanks for the new release!
Trying to build in docker image the new version 3.7.0 and have some troubles.

For CUDA backend I have error during cmake:
[code]

and for CPU backend:
[code]
in case I add `sudo apt-get install libboost-all-dev` for CPU backend the following error occurs during make:
[code]

I am using the following docker files:
- for CUDA:
[code]
- for CPU:
[code]

This docker fi

[2020-02-14 21:37] umar456 commented on #2767
What version of boost do you have on the system? We require boost stacktrace for this version.

[2020-02-14 21:41] umar456 commented on #2767
We install boost using the following commands:

[code]

[2020-02-15 06:03] tlikhomanenko commented on #2767
I am using image of clear ubuntu 16.04, so as I know there is no boost. And previously I didn't need to install it. Did you add this additional requirement for both CPU and CUDA backend in 3.7.0 (don't see this requirement on the wiki https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux)?

Will try to add installation of boost 1.70.0 in my docker image and will come back.

[2020-02-15 07:02] umar456 commented on #2767
Sorry about that. I have updated the instructions. Thanks for pointing that out.

[2020-02-15 17:11] #2763 closed

[2020-02-16 17:36] ncorgan commented on #2707
I've been running into the same thing (identical stack trace). It happens more reliably the more ArrayFire CUDA calls are made in a multi-threaded program, but running this minimal code in quick succession will result in the same crash.

[code]
Device configuration:
[code]
Ubuntu 18.04.3, uname -a output:
[code]

[2020-02-16 17:41] umar456 commented on #2707
@ncorgan Can you try again with the v3.7 or the master branch. That is a pretty old commit.

[2020-02-16 19:32] ncorgan commented on #2707
I've confirmed the same behavior with both the v3.7 and master branches.

[2020-02-16 19:41] umar456 commented on #2707
@ncorgan Are you saying that the code you posted results in this stacktrace?

Program received signal SIGSEGV, Segmentation fault.
0x0000000000000000 in ?? ()
(gdb) bt
#0 0x0000000000000000 in ?? ()
#1 0x00007fffe3f9f8ad in ?? () from /usr/local/cuda-10.0/lib64/libnvrtc.so.10.0
#2 0x00007fffe3f9f8d5 in ?? () from /usr/local/cuda-10.0/lib64/libnvrtc.so.10.0
#3 0x00007fffe5577d9d in __cxa_finalize (

[2020-02-16 19:48] ncorgan commented on #2707
In rerunning, that stacktrace appears when running more intensive code. I'm seeing this with the minimal code example, in the thread spawned when running `af::info` with the CPU backend:

[code]

This is possibly a separate issue, but I can confirm that the stacktrace you posted is still present with master. I'm looking further into it.

[2020-02-16 19:50] umar456 commented on #2707
Hmm. thats in the standard library. I am using 8.3 to compile my code. Let me switch to an older version and try on Ubuntu.

[2020-02-16 19:51] ncorgan commented on #2707
I'm starting a bisect on the CUDA threading crash issue. Given build times, this will take a while, but I'll let you know what comes out of it.

[2020-02-16 22:22] umar456 commented on #2707
@ncorgan can you give me the value for `CUDA_architecture_build_targets` from your `CMakeCache.txt` in your build folder?

[2020-02-16 23:50] ncorgan commented on #2707
I ran into a slightly different stacktrace in v3.5.0, but I suspect the root is similar:
[code]

I'm running into build issues going further back than that, but a common thread here (for both the OP and my tests) is the CUDA driver (440.33.01). I'm not sure if it's related, but the common behavior between ArrayFire releases two years apart might be explained by this.

[2020-02-16 23:51] ncorgan commented on #2707
CUDA_architecture_build_targets:STRING='7.5 '

[2020-02-17 00:40] umar456 commented on #2707
Thanks for debugging this with me. In order to debug the nvrtc issue we need to change source(I will updated it so that we don't have to in the future). Could you apply [this](https://github.com/arrayfire/arrayfire/files/4211315/nvrtc.txt) patch and run your program like this:

[code]

[2020-02-17 01:34] umar456 commented on #2707
I am able to reproduce this in a docker container. Looking into the issue now. Thanks again for your help.

[2020-02-17 01:38] umar456 commented on #2707
Actually I have a different stack trace. The output of the command above would still be useful

[2020-02-17 01:43] ncorgan commented on #2707
[AFTraceOutput.txt](https://github.com/arrayfire/arrayfire/files/4211424/AFTraceOutput.txt)

[2020-02-17 01:58] umar456 commented on #2707
I am kind of confused about the output. How many threads are you running this on? I counted 36. This is not creating the nvrtc error is it?

[2020-02-17 02:05] ncorgan commented on #2707
This is indeed what was producing the nvrtc error.

The majority of those threads are generated by the underlying dataflow framework that's calling into ArrayFire. There should only be 7 threads making calls at once.

[2020-02-17 02:09] umar456 commented on #2707
Interesting. the kernels seem to be compiling correctly. Thanks so much for this. I need to perform a few experiments.

[2020-02-17 02:23] usryokousha opened #2768 "pow2 function returns incorrect result"
I was recently using arrayfire in some of my C++ code and I was getting inconsistent results between the CPU and GPU versions of my algorithm.  It turned out that pow2(af::array) and pow(af::array, 2) are returning different results.  This should be a simple fix and I just wanted to put the news out.

[2020-02-17 02:35] umar456 commented on #2768
pow2(af::array) is the same as pow(2, af::array).

[2020-02-17 03:16] #2768 closed

[2020-02-17 06:56] 9prady9 commented on #2767
@tlikhomanenko If the issue has been resolved, please close the issue. Thank you.

[2020-02-17 07:12] 9prady9 commented on #1711
@rstub The commit hash from your info is from a very old commit dated June 14, 2019. We recently made a feature release 3.7.0. Can you please test that out and let us know. You can checkout the tag v3.7.0 if you want to build the project on your own.

[2020-02-17 10:04] rstub commented on #1711
I had realized that, which is why I asked about building Debian packages on Slack. Anyway, I have now tested with the new version, and the error persists:

[code]

yields

[code]

Devices 0 and 2 work without problems.

[2020-02-17 11:16] 9prady9 commented on #1711
@rstub Thank you for testing it out. Can you please re-run the executable with following options.
[code]

[2020-02-17 11:20] rstub commented on #1711
Here you are

[code]

[2020-02-17 12:06] 9prady9 commented on #1711
@rstub Thanks once again. The trace looks good until it fails on OpenCL API call `clEnqueueMapBuffer` which is only used in cpu-fallback implementation of gemm(for OpenCL backend). However, that code-path runs only under OSX which makes me think it could be a Intel-OpenCL implementation bug given that same code runs fine on the other two OpenCL implementations(BEIGNET and POCL). I don't have HD gr

[2020-02-17 23:50] umar456 commented on #2707
@ncorgan Could you give PR #2769 a go and see if you experience the same error?

[2020-02-18 01:28] ncorgan commented on #2707
4cd67145adb7839c457a97ead32774e445cb8e3b

[code]

[2020-02-18 02:08] umar456 commented on #2707
Ok. I think I am finally able to reproduce this.

[2020-02-18 03:45] umar456 commented on #2707
Seems like nvrtc stores some thread local state when its first called. If you first use it in a thread that exits before the main thread, it will try to access this memory and segfault. At least thats what I am gathering from my experiments.

@ncorgan Can you try to run the following two lines in your main thread before you launch your other threads:

[code]

Just having those two lines in the mai

[2020-02-18 04:10] umar456 commented on #2707
Here is the minimal reproducible code for the nvrtc error:

[code]

[code]

[2020-02-18 04:11] ncorgan commented on #2707
Confirmed. I added your af::constant snippet to the beginning of main() and ran my program 100+ times in succession. The segfault typically happened in the first five runs.

[2020-02-18 04:12] ncorgan commented on #2707
You mentioned that you had a workaround in mind? Unfortunately, this isn't a viable long-term option for me, as I'm developing a plugin for a more general toolkit.

[2020-02-18 04:15] umar456 commented on #2707
I am going to file a bug report for this with NVIDIA. but in the mean time I will call the nvrtc calls in our initialization code. Assuming that one of the ArrayFire functions are called from the main thread(there may be problems with this assumption), the problem could be avoided for the general case. Its not the ideal solution but as a library developer that is the best we can do. Of course I am

[2020-02-18 04:27] ncorgan commented on #2707
Does ArrayFire have a mechanism in place (environment variable, config file, etc) to force the unified infrastructure to ignore afcuda before attempting to load it? Even if I force my layer to never make CUDA calls, I still encounter the crash unless I remove afcuda.so.

[2020-02-18 04:49] umar456 commented on #2707
Hmm. I can only reproduce this segfault if a JIT based function is called.

There isn't a way to prevent ArrayFire from loading only that backend. One approach would be to set CUDA_VISIBLE_DEVICES so that none of the GPUs are visible but I don't think thats what you want. All the other approaches are hacks involving creating dummy libafcuda.so libraries with a `af_get_device_count` symbol to inter

[2020-02-18 17:45] tlikhomanenko commented on #2767
Hi @umar456, @9prady9

I added

[code]

So now boost is found during cmake for CUDA backend, but this error still persists `Could not extract tarball filename from url:`

Full log of cmake:
[code]

[2020-02-18 17:48] umar456 commented on #2767
Can you pass  -DAF_TEST_WITH_MTX_FILES=NO to your cmake command. It should avoid downloading those files. They are only there for sparse tests.

[2020-02-18 17:49] 9prady9 commented on #2767
You can turn off mtx data based tests by turning OFF the following cmake variable.

AF_TEST_WITH_MTX_FILES

That should do the trick as work around. I will try to check if i can reproduce this on docker.

[2020-02-18 17:54] 9prady9 commented on #2767
Sorry about the issue. I know what happened, the download no extract option for external project cmake command is not available in cmake 3.5.2. I will send in a fix soon. Thanks!

[2020-02-18 18:07] tlikhomanenko commented on #2767
Ohh, I see. Thanks! Will use this flag `-DAF_TEST_WITH_MTX_FILES=NO`

[2020-02-18 21:39] ncorgan commented on #2707
Looks like I was mistaken. Maybe I was running the wrong install before, but when hardcoding the backend to OpenCL, my stuff works fine.

[2020-02-18 21:50] umar456 commented on #2767
I see you are using different versions of cmake on the different backends. It seems we haven't tested in the older CMake which does not create the Booost::boost target. I think we need to update our ci to take this into account or update the minimal versions. For now I suggest you use the same command you use to install CMake on the cpu backend in the CUDA backend for now.

[2020-02-19 00:11] tlikhomanenko commented on #2767
Yep, the error occurs because of old cmake version (tested right before you @umar456 posted). Using now 3.10 for both CPU and CUDA backends and everything is configured correctly.

Could you add in the build instructions the cmake version requirements (the one you are using, so no troubles with this anymore :) )?

During build for CUDA backend now the error during make
[code]

If I switch to Ubunt

[2020-02-19 00:11] #2767 closed

[2020-02-19 11:21] 9prady9 commented on #2767
@tlikhomanenko With fixes from PRs #2771 and #2772 . You should be able to just the cmake(3.5.1) package from Ubuntu 16.04 package manager. You would however need version of boost that has stacktrace though.

[2020-02-19 16:40] #2707 closed

[2020-02-20 04:13] umar456 commented on #1711
I am able to reproduce it. I will look at it sometime tomorrow.

[2020-02-20 12:37] #2703 closed

[2020-02-21 17:46] #1711 closed

[2020-02-21 23:38] tlikhomanenko commented on #2767
If I am using cmake 3.13 then I don't need to add any boost installation steps, it will be done automatically during cmake.

[2020-02-22 20:08] rstub commented on #1711
Thanks. #2774 fixed the issue for me.

[2020-02-23 17:35] ivbsd1 opened #2776 "ArrayFire on ARMv7 32 bits"
Hi,
I succeeded to build ArrayFire  for **ARMv7 32 bits** platform (Tinker Board S),
Debian Linux, Mali Midgard GPU, OpenCL 1.2.
I built only OpenCL backend.

But after I run tests, part of them passed, part failed - see attached log.
I trued to run number of example - once again, part of them passed, part of them failed.
Find below examples of failures:

linaro@tinkerboard:~/arrayfire/build/examp

[2020-02-24 20:36] ivbsd1 commented on #2776
I did more investigations and see that most of tests failed on transpose function.
In the end, I finished with below simple code which gives exception:

using namespace af;
int main(int argc, char* argv[])
{
        // Select a device and display arrayfire info
        int device = argc > 1 ? atoi(argv[1]) : 0;
        setDevice(device);
        info();
	printf("Create a 5-by-3 matrix of random fl

[2020-02-25 23:12] WilliamTambellini opened #2777 "Layer normalization kernel for afcuda"
This is just an enhancement proposal for a fast optimized layer normalization algo in at least afcuda (ml.h) :
https://github.com/MycChiu/fast-LayerNorm-TF
TBD

[2020-02-26 07:07] kapilg1997 opened #2778 "undefined reference to `pthread_create'"
I am trying to build arrayfire on ubuntu 18.04
cmake version = 3.6.0
I followed build procedure given [here](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux) :

I have tried the procedure with CPU, CUDA and penCL backend but error is the same.

But while using cmake in build i am getting following errors

Determining if the pthread_create exist failed with the following ou

[2020-02-26 09:20] 9prady9 commented on #2778
I have tried reproducing the problem using the following docker file and haven't been able to. Can you please edit it as per your environment so that it can help me reproduce the issue on my end.
[code]

[2020-02-26 09:50] kapilg1997 commented on #2778
Actually I just purge removed cuda and opencl and then installed using CPU dependencies with

mkdir build && cd build
cmake .. -DCMAKE_BUILD_TYPE=AF_BUILD_CPU

It seems to work. Closing the issue for now

[2020-02-26 09:50] #2778 closed

[2020-02-27 00:51] jstrom2002 opened #2779 "Using ArrayFire with GLFW3/OpenGL causes issues with the JIT compiler"
When I run a simple glfw/ogl program, if I use arrayfire, creating a window causes the following error: 'tls->win32.allocated == GL_TRUE' at line 64 of win32_thread.c. This isn't entirely unexpected, I'm sure GLFW/OpenGL will have issues with arrayfire's threading. Just wanted to point it out.

[2020-02-27 05:39] 9prady9 commented on #2779
When you run a program that uses GLFW while another program is using ArrayFire(with Graphics), the above stated error happens. Is that a correct understanding of the issue ?

Can you also please provide your code snippet to reproduce the issue on our end.

Kindly provide the following details also.
- Windows version
- ArrayFire version if you have installed via our website installer
- ArrayFire br

[2020-02-27 16:33] lfdmn opened #2780 "array::device<> performance issues using CUDA backend."
In a multi-threaded application, one thread does the processing and another one is supposed to fetch the results back to host, in the background, without interfering the processing ArrayFire CUDA stream.

The expected host transfer timings are in range of microseconds and should be as constant as possible

I have a dedicated CUDA stream for the transfer back to host.

af::host isn’t an option so t

[2020-02-28 14:30] matkraj opened #2781 "blas CUDA benchmark fails on RTX GPU with v3.7 binary"
Gravity_CUDA from examples fails on RTX 2060 with:
[code]
(fresh install, v3.7 binary, ubuntu 19.10, other examples and openCL version work)

[code]

[2020-03-01 04:34] 9prady9 commented on #2780
You understanding of af::Host is correct, that is not the solution for this scenario.

af::device does a copy under very specific situations such as the following, not always.
    * array is not owner of the memory - for example indexed arrays.
    * array has internal reference count of greater than one - this sometimes overlaps with first scenario as well.

I believe a copy is taking place in yo

[2020-03-01 04:42] 9prady9 commented on #2781
Have you tried the following to get a verbose error message ?

- When AF_PRINT_ERRORS is set to 1, the exceptions thrown are more verbose and detailed. This helps in locating the exact failure. `AF_PRINT_ERRORS=1 ./myprogram`
- ` AF_TRACE=all` to print all device, kernel compilation related messages to the console.

Can you please try `examples/benchmarks/blas.cpp` also and let us know if that als

[2020-03-01 20:05] lfdmn commented on #2780
I'll get back to you after a week with some code example.

What I ended up doing was to patch arrayfire to add a void* parameter with default value of nullptr to af::device where, for CUDA backend, I pass the CUDA stream. So I don't break the existing functionality.

I also added a macro to launch CUDA kernels from a different stream than the arrayfire stream.

With all this I'm able to perform th

[2020-03-02 07:23] 9prady9 commented on #113
@ipostr08 As of now, users can only fetch ArrayFire's CUDA stream. The support to set a user created CUDA stream is not yet available. No this feature is not abandoned. We are adding things (Events in 3.7 release - helps with streams) progressively, in smaller increments. Unfortunately, we don't have a ETA on this feature right now but we will update this issue with updates as we move forward.

[2020-03-02 07:23] 9prady9 commented on #2780
Sounds good.

Sure, raise the PR. We have two open issues that have ongoing discussions about the solutions to this very problem.

#1268
#113

You are welcome to add your inputs, opinions and feedback to those issues.

[2020-03-02 21:22] WilliamTambellini commented on #2675
@umar456  3.7.0 released so that one could be closed.
@vineelpratap  have you tried 3.7.0 ?

[2020-03-02 21:24] WilliamTambellini commented on #1326
note : af::meanvar() now available in 3.7.0.

[2020-03-02 21:36] WilliamTambellini opened #2782 "Ragged max reduction"
This feature request is just about a way to do a ragged max reduction:

input
1 2
3 4
5 6
keys
3 2
expected output of ragged max on given keys:
5 4

- the max of the first col is 5 because we are considering the 3 elements of the first column
- the max of the 2nd col is supposed to be 6 but that max reduction returns 4 because the algo only has to look at the 2 first elements of the 2nd column

Th

[2020-03-02 21:51] #2675 closed

[2020-03-03 01:12] WilliamTambellini commented on #2706
@umar456  ok, I m on it

[2020-03-03 13:43] matkraj commented on #2781
with print errors:

[code]

[2020-03-03 13:45] matkraj commented on #2781
blas benchmark cuda:
[code]

[2020-03-03 18:47] WilliamTambellini commented on #2706
hum, actually fixed by:
https://github.com/arrayfire/arrayfire/pull/2775
which was nt only for opencl but also cuda.
Closing.

[2020-03-03 18:47] #2706 closed

[2020-03-03 18:50] WilliamTambellini commented on #2564
@ZeroCool11000  could you please check if AF 3.7.0 now please you ?

[2020-03-03 19:10] WilliamTambellini opened #2783 "test/convolve_cuda failure"
Using today's master:
95038c3e3bda61b53a9c417fd931ba2cdd760f80
on ubuntu 16 running on GTX1060 using cuda 10.2:

AF_PRINT_ERRORS=1 test/convolve_cuda
...
[----------] 11 tests from Convolve
[ RUN      ] Convolve.Separable_TypeCheck
In function af_err convolve2_sep(void**, af_array, af_array, af_array) [with bool expand = true; af_array = void*]
In file src/api/c/convolve.cpp:178
Invalid argument a

[2020-03-03 19:18] 9prady9 commented on #2783
These are not test failures. The tests themselves check for invalid inputs.

https://github.com/arrayfire/arrayfire/blob/master/test/convolve.cpp#L332
https://github.com/arrayfire/arrayfire/blob/master/test/convolve.cpp#L362

With AF_PRINT_ERRORS=1, I think the exception and related messages are captured by google test and printed to console.

[2020-03-03 20:24] WilliamTambellini commented on #2783
Oh thks @9prady9  my bad: here is the failure bt :

[ RUN      ] ConvolveStrided/0.Strided_sig1010_filt33_s11_p11_d11
/home/wtambellini/repos/AFWT/test/testHelpers.hpp:192: Failure
Failed
TEST FILE NOT FOUND

Thread 1 "convolve_cuda" received signal SIGSEGV, Segmentation fault.
0x00007fffef5564e0 in af::dim4::dim4(af::dim4 const&) () from /home/wtambellini/repos/AFWT/Release/src/backend/cuda/libaf

[2020-03-03 20:32] WilliamTambellini commented on #2783
My bad, tks @9prady9
So it s still a crash at exit:

[----------] Global test environment tear-down
[==========] 474 tests from 23 test cases ran. (66202 ms total)
[  PASSED  ] 474 tests.

  YOU HAVE 1 DISABLED TEST

Segmentation fault

gdb/bt coming soon.

[2020-03-03 20:37] WilliamTambellini commented on #2783
Ok seems to come from somewhere in afcuda but I guess would need a debug build :

Program received signal SIGSEGV, Segmentation fault.
0x00007fff687df500 in ?? ()
Missing separate debuginfos, use: debuginfo-install xorg-x11-drv-nvidia-libs-440.33.01-1.el6.x86_64
(gdb) bt
#0  0x00007fff687df500 in ?? ()
#1  0x00007fffde3866e9 in __tcf_1 () from /local1/nbuild/jenkins/workspace/AF-Release-Linux/rele

[2020-03-03 20:41] WilliamTambellini commented on #2783
No additional hint with AF_TRACE : perhaps could we add some AF logs when destroying the cuda handles (cublas, cudnn, ...) at least to know which one is crashing.

[2020-03-03 20:42] WilliamTambellini commented on #2783
[platform][1583267921][010711] [ /local/nbuild/jenkins/workspace/AF-Release-Linux/src/backend/common/DependencyModule.cpp:73 ] Attempting to load: libcudnn.so
[platform][1583267921][010711] [ /local/nbuild/jenkins/workspace/AF-Release-Linux/src/backend/common/DependencyModule.cpp:76 ] Found: libcudnn.so
[platform][1583267921][010711] [ /local/nbuild/jenkins/workspace/AF-Release-Linux/src/backend/c

[2020-03-03 20:43] 9prady9 commented on #2783
That is definitely different from what I am observing on my GTX 1060. the test doesn't crash and exit code is 0 for me.

The link in https://github.com/arrayfire/arrayfire/issues/2783#issuecomment-594156148 seems broken, can you please re-share it.

I can try on my Ubuntu setup tomorrow and check what happens. I doubt it would fail because all the current ci jobs use Ubuntu I believe, but I can't

[2020-03-03 20:44] 9prady9 commented on #2783
Does switching to right toolkit fix it ?

[2020-03-03 20:54] WilliamTambellini commented on #2783
hum strange, the loaded cudnn is the right one :
[platform][1583268516][013929] [ /local/nbuild/jenkins/workspace/AF-Release-Linux/src/backend/common/DependencyModule.cpp:73 ] Attempting to load: libcudnn.so
     13929:	find library=libcudnn.so [0]; searching
     13929:	 search path=/usr/local/cuda-10.2/lib64:tls/x86_64:tls:x86_64:		(RPATH from file /local1/nbuild/jenkins/workspace/AF-Release-Lin

[2020-03-03 21:01] WilliamTambellini commented on #2783
$ AF_TRACE=all LD_DEBUG=libs test/convolve_cuda --gtest_filter=Conv2Consistency*
does crash at exit:

   16717:	calling init: /usr/local/cuda-10.2/lib64/libcublasLt.so.10
     16717:	calling init: /usr/lib64/nvidia/libcuda.so.1
     16717:	calling init: /usr/local/cuda-10.2/lib64/libcusparse.so.10
     16717:	calling init: /usr/local/cuda-10.2/lib64/libcusolver.so.10
     16717:	calling init: /usr

[2020-03-03 21:11] 9prady9 commented on #2783
thank you for narrowing it down further. Conv2Consistency tests check `convolve2NN` which do use cuDNN. So, It seems like it is related to cudnn. I haven't checkout the latest cudnn yet, will test with it and update here.

[2020-03-03 21:33] WilliamTambellini commented on #2783
Tks, but not a high priority for me though, just noising jenkins.

[2020-03-04 05:31] 9prady9 commented on #2781
Can you please make sure the examples are picking up the right set of shared libraries. You can check the output of `ldd <program>` to check that.

Do you have any other CUDA toolkit installed on this system ?

[2020-03-04 05:34] 9prady9 commented on #2779
@jstrom2002 Has the issue been resolved ?

[2020-03-04 11:14] matkraj commented on #2781
Hi @9prady9, no it is only a single CUDA toolkit from repos on a fresh ubuntu 19.10
ldd:
[code]

[2020-03-04 11:30] 9prady9 commented on #2781
Basic things seems to be okay, this needs more investigation. We will update this issue once we have something to share. Thank you.

[2020-03-05 16:06] KaunilD commented on #2777
I spent my last weekend working on normalizing images in cuda. taking this up.

[2020-03-09 12:02] lfdmn commented on #2780
I've attached the patch for ArrayFire 3.6.4. I'll port it to 3.7 next.

I made a helper class for the streamed memcpy. Here is a stripped down version to focus on the essential:
[code]

Usage. In main.cpp
[code]

The producer thread has a ring buffer. It consists in a single large pinned memory buffer which is then partitioned in smaller blocks.
[code]
To this buffer the frames (2D arrays) are cop

[2020-03-10 01:01] WilliamTambellini opened #2787 "DotProductAttention kernel"
This is just a feature request to discuss about the possibility to add a fast optimized DPA (Dot Product Attention) kernel.

https://i2.wp.com/mlexplained.com/wp-content/uploads/2017/12/scaled_dot_product_attention.png?w=840

PyTorch implementation:
https://github.com/pytorch/translate/pull/65/commits/24e58246855fa092e333940956606ef77619cc4e

ToBeDiscussed

[2020-03-10 06:36] 9prady9 commented on #2787
Isn't this a better candidate for https://github.com/arrayfire/arrayfire-ml ?

[2020-03-10 07:27] lfdmn opened #2788 "cudnnModule.hpp:70:73: error: converting to ‘std::tuple<int, int, int>’ from initializer list..."
I get this error when trying to build ArrayFire 3.7

[code]

Environment:
- Arrayfire 3.7
- CUDA 9.2
- cuDNN 7.6.5
- boost 1.72
- gcc 5.4.0

[2020-03-10 09:49] lfdmn commented on #2788
Problem solved by upgrading GCC to 7.4. Please update the [general dependencies for Linux](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux)

For Ubuntu 16.04 based distributions, the latest GCC from package manager is 5.4. So I had to compile and install GCC manually.

I posted some instructions [https://lfdm.net/2020/03/10/compile-and-install-gcc-on-linux/](https://lfdm.n

[2020-03-10 10:16] 9prady9 commented on #2788
@lfdmn Sorry about the issue. Thank you for reporting it.

We moved to C++14 standard for non-API source code. We will look into it and update build instructions accordingly.

[2020-03-12 16:12] cschreib-ibex opened #2794 "No attempt at garbage collection when memory allocation fails in thrust/cublas/..."
In our software we are running a large number of calculations using ArrayFire, using a large fraction of the memory on the GPU. These calculations can be repeated an indefinite number of times by our customers, and because of ArrayFire's garbage collector policy, memory usage increases continously until out-of-memory. For best performance, we never call the garbage collector manually: we just let

[2020-03-13 14:38] Fabsch93 opened #2795 "Program is running out of GPU memory space / Problem with while loop"
Dear arrayfire programmers,

I'm trying to use arrayfire for an signal processing application (written in C) with large amounts of data. The occurring problem is that the arrayfire arrays, which are used inside an (indefinitely long running) while loop, use up more and more of the GPU memory until it runs out of space. Each iteration of the loop adds five new memory pointers of about 1 MB size.

T

[2020-03-13 20:02] WilliamTambellini commented on #2787
Well, I would nt be against reusing afml as long as it is integrated inside the main AF repository (here) to be guarantee to be maintained with uptodate regression tests.
Short term, adding new ML algos in the ml.hpp is really good enough:
https://github.com/arrayfire/arrayfire/blob/master/include/af/ml.h

[2020-03-14 09:15] 9prady9 commented on #2787
That is true. As long as the implementation is basic/fundamental enough, we can do a function in arrayfire via `ml.h` header. My concern is, from the picture in original description, it seems to be a simple function that can be written on top of existing ArrayFire functions. I could be wrong though, I will investigate a bit on what this `dot product attention` does in detail. I would like to work

[2020-03-15 21:04] WilliamTambellini commented on #2536
Probably fixed in 3.7.0

[2020-03-15 21:04] #2536 closed

[2020-03-15 21:06] WilliamTambellini commented on #2456
3.6.4 released 1 year ago and 3.7.0 few weeks ago.
Could be closed ?

[2020-03-15 21:07] #2474 closed

[2020-03-15 21:09] #2310 closed

[2020-03-15 21:10] #2266 closed

[2020-03-15 21:17] WilliamTambellini commented on #1673
@pavanky  That one could be now closed I guess ?

[2020-03-15 21:21] WilliamTambellini commented on #1396
Could anyone summarize here what would be needed to tackle that one ?

[2020-03-15 21:29] WilliamTambellini commented on #1204
Note : to move forward a little, it should be simple and totally worth it to add a simple non invasive/optional tracer/profiler writing the results (events, kernel execs, GC, ...) in the chrome tracer file format, which is just a simple json :
https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/preview#!
It would allow to at least visualize what's happening in af :
http

[2020-03-15 21:44] WilliamTambellini opened #2796 "AF benchmarker"
As today, AF still does nt have a benchmarker.
There is just a tiny gemm bench example.
There is definitely Umar's one but it does also bench other external libs so would need to be cleaned up:
https://github.com/umar456/arrayfire-benchmarks

The proposal here is just to bring a neutral version of Umar's benchmarker with just AF ops.
At least for 2 or 3 ops (gemm/gemv, some reductions, ..., good e

[2020-03-15 21:46] #2456 closed

[2020-03-16 09:16] cschreib-ibex commented on #2795
My guess is you forgot to call [af_release_array()](http://arrayfire.org/docs/group__method__mat.htm#gad6c58648ed0db398e170dabf045e8309) to tell AF when arrays are not used anymore. For example when you call ``af_mul(&d_signal, d_signal, d_window, 1)`` you overwrite the handle of ``d_signal``, and loose the original handle. This should be replaced by
[code]

[2020-03-16 10:07] Fabsch93 commented on #2795
Well, that looks promising! The first tries seemed to have solved the problem. Thank you very much!
Hopefully this call will be documented better in the future, as I have never seen it before and the documentation only has a short, uninformative information about af_relase_array()

[2020-03-16 11:37] 9prady9 commented on #2795
@Fabsch93 Sorry about the inconvenience. What @cschreib-ibex suggested could very well be the reason behind what you are experiencing. To add to what he suggested, all API calls that has the suffix `af_create` should have a matching API call with `af_release` suffix with appropriate input parameters. Apart from that, all functions allocate (using ArrayFire memory manager - pooled fashion) memory r

[2020-03-16 11:48] 9prady9 commented on #2796
@WilliamTambellini If ArrayFire only benchmark is what you mean by neutral version, then https://github.com/umar456/arrayfire-benchmarks benchmark's arrayfire only at the moment. There are no other libraries that we compare against, although that is plan. There is a pending PR that has some changes to benchmark corresponding ITK functions, but that is experimental and can be disabled in cmake.

I

[2020-03-16 12:33] Fabsch93 commented on #2795
@9prady9 Thank you for your answer, the support here ist really great. I will soon be testing this way of releasing arrays in my full program, however, in the standalone code it worked well.

Also thank you for explaining why it is not mentioned in the documentation. I first started using the C++ API in a standalone program (just for testing) and no problems occurred there. Since the real program

[2020-03-16 12:47] 9prady9 commented on #2795
In that case, do make sure that all af_arrays are released appropriately. If the number functions you use is smaller, it shouldn't be hard to manage the release calls. In any case, you can also reach out to us on our slack channel https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ for any questions you may have in the future.

[2020-03-16 14:51] 9prady9 commented on #1673
I have marked the finished items. `convolve2NN` and `convolve2GradientNN` are the only convolutions that support `f16` type. Standard convolutions don't have half support yet.

[2020-03-16 20:54] vineelpratap opened #2799 "device ptr const override ?"
Hi,
 We use Arrayfire for ML training and here is simplified version of the code that we are trying to optimize.
[code]
and here is the memory allocations at the end of of each step
[code]
In the above code, Arrayfire `evaluates` the array `B` when (3) is called. But it is not really necessary as `moddims` doesn't change the underlying data order and  we can directly access the array `A` for the s

[2020-03-17 10:30] 9prady9 commented on #2799
I don't think what you are asking (const float*) is same as what you are trying to achieve with the code.

Given that your `B` is just a change of dimensions while keeping the number of elements same. You can very well do the following.
[code]

That way, there is always single memory allocation.

I understand that in this case the moddims output might not seem to require an eval, but I am not yet

[2020-03-17 11:05] vineelpratap commented on #2799
@9prady9 Thanks !

My intention was - given that we are explicitly asking `const` pointer, there is no need to require an `eval()`. Otherwise, `eval()` would be required.

Sure ! For reference, my goal is to have a same behavior to https://pytorch.org/docs/stable/tensors.html#torch.Tensor.view

[2020-03-17 12:27] 9prady9 commented on #2799
Okay, I understand what you mean now.

Well, I think the semantic meaning of `eval()` is not same as what you are expecting from `const pointer`. `eval()` evaluates the internal representation of that particular `af::array` into actual memory location/values (by allocation of space if required - happens with JIT, sub-arrays etc.) which doesn't violate `const pointer` semantics of C++ I think.

I h

[2020-03-17 14:44] #2788 closed

[2020-03-17 15:43] umar456 commented on #2794
Yes, ArrayFire should handle this internally. I will take a look at this and patch this behavior soon. Just FYI, with 3.7 we expose the memory manager API to the user so you can change the behavior to your specific program.

[2020-03-18 10:59] matkraj commented on #2781
@9prady9 also forgot to say it works with v3.6.4 (nothing else changed)

[2020-03-19 20:00] vineelpratap commented on #2799
@9prady9  Got it. I would like to rephrase my question then :)

What does it take for me to implement function like `af::view` which performs a shallow copy of the array but calling `dims()` could return different values.

To be more specific
[code]

[2020-03-20 05:48] 9prady9 commented on #2799
@vineelpratap I have tested your code on my develop branch, and output seems fine - B isn't modified.

[code]
 given below is the output
[code]

which version of ArrayFire are you using ?

[2020-03-20 05:49] 9prady9 commented on #2799
Well, I checked cpu backend for quick testing though. Let me check CUDA backend also.

[2020-03-20 06:17] 9prady9 commented on #2799
Yeah, no issues in all backends. Please let me know which version of ArrayFire are you using.

[2020-03-20 14:14] vineelpratap commented on #2799
Hi @9prady9 - Thanks for your help. I'm using AF 3.7.0 .
Using `af::moddims` doesn't work for me because A and B won't share the same data pointer. I would like array B to be modified as well when array A is modified i.e., they should share the same data pointer always.

For example. I could do
[code]
Then, modifying A will automatically modify B BUT I can't have A.dims() and B.dims() return a dif

[2020-03-20 16:17] glavaux2 opened #2800 "OpenCL kernel failing to compile on Clover"
I have an AMD Radeon running on Fedora 31, its device signature is:

Clover: Radeon RX 580 Series (POLARIS10, DRM 3.36.0, 5.5.8-200.fc31.x86_64, LLVM 9.0.0), 8192 MB

However running a number of examples like "surface_opencl" (master branch as of now) produces this kind of error:

ArrayFire v3.8.0 (OpenCL, 64-bit Linux, build bc37e8a9)
[0] Clover: Radeon RX 580 Series (POLARIS10, DRM 3.36.0, 5.5.8

[2020-03-21 02:11] umar456 commented on #2799
Hey @vineelpratap. Have you looked into af::getRawPtr in the internal.h header. Its will return the pointer without performing an eval. See:

[code]

[code]

[2020-03-21 02:22] umar456 commented on #2800
Hey @glavaux2,

This looks like its an error in the OpenCL headers and not ArrayFire source. Looks like you are trying to print kernels in the example above. Try passing AF_JIT_KERNEL_TRACE=stdout to print the kernels. This will print it to screen. You can also pass a path to that variable and it will dump the kernels to a folder AF_JIT_KERNEL_TRACE=/tmp. This may give us more information.

[2020-03-21 04:26] vineelpratap commented on #2799
Perfect! `af::getRawPtr` works for my use.

Thank you :)

[2020-03-21 04:26] #2799 closed

[2020-03-21 06:43] glavaux2 commented on #2800
Hi @umar456,

Here is the last kernel printed before the error. There is nothing wrong that I can see.

[code]

The error printed by thanks to AF_OPENCL_SHOW_BUILD_INFO=1 is the following:
[code]

I was quoting that line in in the first report:
`_CLC_DECL size_t get_global_offset(uint dim);`

which, with `-D dim=0`, would become:
`_CLC_DECL size_t get_global_offset(uint 0);`

which is wrong.

Of c

[2020-03-21 07:38] glavaux2 commented on #2800
I have made a fix that solve my problem by renaming "dim" to _af_dim_ in kernels. I am not sure that I caught all instances yet.

You can find the relevant commit there at the moment: https://github.com/arrayfire/arrayfire/commit/a6d915185070bf9f69bf2f84a13b77d44e928695

[2020-03-21 07:43] 9prady9 commented on #2800
Good catch, it is what it is I guess. If AMD OpenCL implementation doesn't work without this, then we would have to work around it like you are doing. However, it is very bad implementation on their part, `dim` is not even a keyword or reserved-word. This shouldn't have happened. Can you please send in a PR. I will check for other instances of where this is happening.

Thank you!

[2020-03-21 18:34] WilliamTambellini commented on #2796
Hi @9prady9
Atm Umar's benchmarker also benchs at least cudnn and as you say perhaps some others.
I m also ok for the benchmarker to potentially search, build and benchs external thirdparties as long as it can build and run without these third parties at least to bench pure AF, meaning we seem to agree.
That issue is consequently now just to move Umar's benchmarker to the main AF repo (here).
@uma

[2020-03-22 20:48] umar456 commented on #2796
I toyed with the idea of merging the benchmarker into the main repository but I moved against it because it allows you to test multiple versions of ArrayFire without changing the code in the benchmark library.

Consider you had made a couple of changes in the master branch after we had implemented the benchmark in the main library and we wanted to test an older version. Because the older version w

[2020-03-23 08:43] WeiLi233 commented on #2731
Hi @umar456 I think https://github.com/arrayfire/arrayfire/blob/bc37e8a9942b9af7507c87926b25e21298760aeb/src/api/c/var.cpp#L182 is not correct, as I know, setting biased to true means population variance and to false means sample variance, this result is opposite to the var() function in flashlight, and   will cause a test failure in AutogradTest of flashlight.

[2020-03-23 09:20] glavaux2 opened #2803 "OpenCL: Non-kernel function variable cannot be declared in local address space"
In https://github.com/arrayfire/arrayfire/tree/master/src/backend/opencl/kernel/reduce_blocks_by_key_dim.cl (and similar kernels), arrayfire make us of the following construct:

[code]

My OpenCL compiler complains about it with that error:
input.cl:152:16: error: non-kernel function variable cannot be declared in local address space

It seems that this error is legit from the compiler side accord

[2020-03-23 09:52] 9prady9 commented on #2803
Thank you for reporting this. Interestingly, nvidia OpenCL implementation doesn't complain about this.

I think we can use local address pointer declarations inside non-kernel functions, but not the array declarations. I will raise a PR with fix soon and update here.

[2020-03-23 11:44] 9prady9 commented on #2803
@glavaux2 Can you please test the following patch.

You can apply the patch via `git apply ocl_rbk.txt`

[ocl_rbk.txt](https://github.com/arrayfire/arrayfire/files/4369051/ocl_rbk.txt)

[2020-03-23 12:17] glavaux2 commented on #2803
Thanks it now compiles, though the OpenCL library now complains about something else
`CL user error: clEnqueueFillBuffer() requires OpenCL version 1.2 or greater.` (that implementation is CL1.1)

I guess that this one is fine, I will try to test that with another OpenCL driver.

[2020-03-23 12:19] 9prady9 commented on #2803
That is odd, we don't use `clEnqueueFillBuffer` anywhere internally. Are you using any custom kernels and using this function ?

[2020-03-23 12:24] glavaux2 commented on #2803
There are those calls in opencl/kernel/reduce_by_key.hpp
[code]

[2020-03-23 12:30] 9prady9 commented on #2803
Ah, okay. I see. I searched for the OpenCL C API call. My bad.

We almost always had OpenCL 1.1 work fine till now. Looks like this is added recently. We will have to verify if that is going to be problem with different OpenCL implementations. Will keep this issue posted.

[2020-03-23 15:07] 9prady9 commented on #2795
@Fabsch93 We have reorganized C API a little for better grouping. https://github.com/arrayfire/arrayfire/pull/2797 You will see this reflected in next release docs update.

[2020-03-23 22:01] WilliamTambellini opened #2805 "Remove dependancy between afunified and mkl"
As today, afunified is still linking directly with mkl :
$ ldd Linux/libraries/arrayfire-3.7.0/lib64/libaf.so
	linux-vdso.so.1 =>  (0x00007fffbe7ae000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f44f43ae000)
	libmkl_core.so => libmkl_core.so (0x00007f44f00d9000)
	libmkl_intel_lp64.so => libmkl_intel_lp64.so (0x00007f44ef561000)
	libmkl_gnu_thread.so => libmkl_gnu_thread.so (0x00007f44

[2020-03-23 22:07] WilliamTambellini commented on #2805
slightly related to:
https://github.com/arrayfire/arrayfire/issues/2671

[2020-03-23 22:51] WilliamTambellini commented on #2805
Draft of possible solutions:
1- dynamically loading MKL just before dynloading afcpu : reported not to work perfectly or unsafe
2- building afcpu with openblas : suboptimal perf and no dynamic JIT CPU architecture support (SSE, AVX, AVX2, AVX512, ...) capable
3- build afcpu with tiny MKL : https://stackoverflow.com/questions/60707784/howto-build-mkl-tiny
4- static linking with mkl : would severly

[2020-03-24 04:09] #2803 closed

[2020-03-25 05:04] #2794 closed

[2020-03-25 08:55] cschreib-ibex commented on #2794
Thank you for the fix! Was Thrust the only third-party library affected by the issue? What about cuBLAS or cuFFT?

[2020-03-25 10:07] 9prady9 opened #2807 "Manage workarea allocations for CUDA dependencies"
- [ ] cuFFT
- [ ] cuBLAS
- [ ] cuSolver
- [ ] cuSparse

[2020-03-25 10:07] 9prady9 commented on #2794
@cschreib-ibex That is true. other cuda upstream dependencies also can use similar changes. We will look into it. I have created a separate issue https://github.com/arrayfire/arrayfire/issues/2807 to track the progress for those upstream dependencies.

[2020-03-25 10:55] Freewavs commented on #313
support build with static library now?

[2020-03-25 11:20] cschreib-ibex commented on #2794
Great thanks, I will follow that.

[2020-03-25 14:55] umar456 commented on #313
We have made a little bit of progress on this front with #2785  . I will attempt to do this again in the next minor release.

[2020-03-26 06:20] 9prady9 commented on #2800
Closing as it has been addressed in relevant locations in #2802

[2020-03-26 06:20] #2800 closed

[2020-03-26 06:27] #2795 closed

[2020-03-26 06:29] 9prady9 commented on #2779
Closing due to inactivity.

@jstrom2002 Please feel free to reopen when you get the chance to verify the info I shared earlier. While reopening, please also share the additional details I have requested.

[2020-03-26 06:29] #2779 closed

[2020-03-26 10:48] Fabsch93 commented on #2795
@9prady9 Sorry to bother you again, but is there any chance to select specific data from an array within the C API? The only workaround I can think of right now is copying the array back to the host, selecting the wanted data points and copy it back to the device. To my understanding, things like `col` or `row` only work in C++, as I cannot find anything like `af_col` or similar.

[2020-03-26 10:54] 9prady9 commented on #2795
@Fabsch93 You would have to use C API from the following group of functions.

[Assignment & Indexing operation on arrays](http://arrayfire.org/docs/group__index__mat.htm)

- [af_assign_seq and af_assign_gen](http://arrayfire.org/docs/group__index__func__assign.htm)
- [af_index and af_index_gen](http://arrayfire.org/docs/group__index__func__index.htm)
- [af_lookup](http://arrayfire.org/docs/group__

[2020-03-26 12:31] Fabsch93 commented on #2795
@9prady9 Thank you so much! I guess now my program is finally able to shoot for the moon.

[2020-03-26 12:32] 9prady9 commented on #2795
@Fabsch93 :+1: Good luck, glad to be of help.

[2020-03-26 14:48] kapilg1997 opened #2808 "MKL not found error"
I am trying to build Arrayfire on Ubuntu 16.04 as a prerequisite to flashlight. I have installed Intel MKL in opt/intel. I have also installed Intel DNNL built from source. But I get the following output. I know MKL is not mandatory for building arrayfire but for flashlight it is needed.

I also ran
export MKLROOT=opt/intel/mkl

admin1@ubuntu:~/Computer/arrayfire/build$ sudo cmake ..
-- Could NOT

[2020-03-26 17:21] 9prady9 commented on #2808
Sorry about the inconvenience. We have a couple of MKL related cmake
options that aren't made available via cmake-gui. However, you can pass
these to indicate cmake to use Intel MKL wherever possible.

cmake .. -DUSE_CPU_MKL:BOOL=ON -DUSE_OPENCL_MKL:BOOL=ON

Use the command to enable Intel MKL usage while building ArrayFire CPU and
OpenCL backends, respectively.

On Thu, Mar 26, 2020 at 8:18 PM ka

[2020-03-26 18:03] kapilg1997 commented on #2808
I tried that. Now I am getting

admin1@ubuntu:~/Computer/arrayfire/build$ export MKLROOT=opt/intel/mkl
admin1@ubuntu:~/Computer/arrayfire/build$ cmake .. -DUSE_CPU_MKL:BOOL=ON
-- Could NOT find OpenCL (missing:  OpenCL_LIBRARY OpenCL_INCLUDE_DIR)
CUDA_TOOLKIT_ROOT_DIR not found or specified
-- Could NOT find CUDA (missing:  CUDA_TOOLKIT_ROOT_DIR CUDA_NVCC_EXECUTABLE CUDA_INCLUDE_DIRS CUDA_CUDART_L

[2020-03-26 18:17] 9prady9 commented on #2808
Is that happening even on clean build folder with the new variables I suggested ?

[2020-03-26 18:20] kapilg1997 commented on #2808
Yes

[2020-03-27 03:38] 9prady9 commented on #2808
@kapilg1997 I just noticed that `/` is missing in the export command in original description. Can you please verify if that is the problem or it was just a typo in the description alone.

[2020-03-27 17:20] WilliamTambellini commented on #113
Seen at GDC 2020:
![HowtoBetterUtilizeGPU](https://user-images.githubusercontent.com/109458/77782419-81f20480-7014-11ea-8fae-8ad3970c1781.jpg)

@umar456  any news about stream support in AFcuda ?

[2020-03-27 17:26] umar456 commented on #113
We have implemented events which should improve support for streams. The main problem is the memory manager and its current implementation and how the streams are associated with each device. We will need to create a context to enable this sort of behavior.

[2020-03-28 06:47] kapilg1997 commented on #2808
This is what I'm getting.

admin1@ubuntu:~/comp/arrayfire$ export MKLROOT=/opt/intel/mkl
admin1@ubuntu:~/comp/arrayfire$ mkdir -p build && cd build
admin1@ubuntu:~/comp/arrayfire/build$ cmake .. -DUSE_CPU_MKL:BOOL=ON
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc

[2020-03-28 14:02] 9prady9 commented on #2808
@kapilg1997 That looks like the you haven't initialized submodules.

Can you please clean up the build folder. Then do the following from repository root folder
[code]
Now, You can move forward with the cmake step and it should and the subdirectory related errors should be resolved.

[2020-03-29 04:06] kapilg1997 commented on #2808
Tried your suggestion. Now getting following errors. What is the reason for MKL not being found?

admin1@ubuntu:~/comp/arrayfire/build$ cmake .. -DUSE_CPU_MKL:BOOL=ON -DUSE_OPENCL_MKL:BOOL=ON
CUDA_TOOLKIT_ROOT_DIR not found or specified
-- Could NOT find CUDA (missing: CUDA_TOOLKIT_ROOT_DIR CUDA_NVCC_EXECUTABLE CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY) (Required is at least version "7.0")
-- Could NO

[2020-03-29 04:17] umar456 commented on #2808
Hey @kapilg1997

Go into your intel installation and source the compilersvars.sh or mklvars.sh with the intel64 parameter. For example my installation is located in /opt/intel/system_studio_2019/bin so I would run the following command:

[code]
OR
[code]

Then call cmake and everything should work.

[2020-03-30 10:42] pauljurczak opened #2811 "Examples can't find existing libforge.so"
I've built `arrayfire` from source on Ubuntu 18.04. `libforge.so`, `libforge.so.1` and `libforge.so.1.0.5` are in `/usr/local/lib` directory. When I run an example program requiring graphics, I get:
[code]
What is wrong?

[2020-03-30 10:47] 9prady9 commented on #2811
To use forge lib from built path, you can do the following
`LD_LIBRARY_PATH=./build/extern/forge/src/backend ./build/graphics/conway_cpu`

If the path to which ArrayFire is installed(even if built from source) is searchable for executable for running programs, then forge should be found automatically. Can you please check your LD_LIBRARY_PATH value.

[2020-03-30 11:08] mahmudemam opened #2812 "Run on Bare-metal"
Can anyone advice, if I can use arrayfire library directly on HW without using LINUX

[2020-03-30 11:09] pauljurczak commented on #2811
Thank you for fast response.

`LD_LIBRARY_PATH` doesn't include, `/usr/local/lib`, but it should be on default library search path on Ubuntu. I fixed the problem just by running `ldconfig`.

[2020-03-30 11:22] pauljurczak commented on #2811
I may reinstall to non-system path the next time, but for now it's good enough evaluation.

[2020-03-30 11:22] #2811 closed

[2020-03-30 11:51] 9prady9 commented on #2812
We haven't tried that as far as I know.

I would think, we may need to do a major set of changes (depending on target HW) to the STL stuff we use internally, exceptions etc. for ArrayFire to used in embedded HW without Linux. What I can say for certain is that ArrayFire in it's current form cannot be utilized right away on bare-metal setup.

I haven't personally used GPUs in any bare-metal setup.

[2020-03-31 13:32] jacobkahn commented on #2731
@WeiLi233 — we don't directly use `af::var` in flashlight, but we're changing the behavior of that test so things work. Thanks for flagging.

[2020-04-01 21:07] PierreBizouard opened #2814 "Array takes ownership of externally provided pointer"
Hello,

When using the CPU backend, I am passing the pointer on preallocated array to avoid creating a copy. Then I lock the array using the device<T> function. But i end up with buffers allocated with 0 size in the memory manager and I probably endup with reaching MAX_BUFFERS value.

I am aware that is similar to the view issues mentionned elsewhere.
There is a conflict beetween portability polic

[2020-04-02 06:29] pauljurczak opened #2815 "3D scatter-plot has too small extent"
This code snippet
[code]
displays truncated volume, i.e. the first point (0, 0, 0) is not visible

![scatter](https://user-images.githubusercontent.com/4933032/78217243-e54abf00-7478-11ea-978b-74875cdf3182.png)

[2020-04-02 09:17] 9prady9 commented on #2814
@PierreBizouard Can you please share a small example that exhibits this behavior, it would be helpful for us to debug the problem quickly.

[2020-04-02 09:37] 9prady9 commented on #2815
@pauljurczak This is a known issue that hasn't been fixed in the upstream yet. The viewport clipping is off, the data is being rendered though. You would be able to see the cross at origin if you pan the scene using pan.

Please use the following work around temporarily to view the data that avoids any mouse interaction. Sorry about the inconvenience.
[code]

[2020-04-02 09:46] pauljurczak commented on #2815
@9prady9 No problem. Are there any plans to allow setting the camera parameters (zoom, rotation) for visualizations?

[2020-04-02 09:51] pauljurczak commented on #2815
@9prady9 I just found the rotation with right mouse button held. What about zoom?

[2020-04-02 09:55] 9prady9 commented on #2815
I assume, you are asking about setting those programmatic-ally ? If yes, we haven't looked into yet. If there is enough demand(requests), we will add the required support eventually.

Having said that, we have mouse interaction now that enables the following:
- zoom (Alt + Mouse Left Click Move up & down)
- pan (Just left click and move up & down)
- rotation (Mouse right click - track ball rotatio

[2020-04-02 10:09] pauljurczak commented on #2815
I meant both, but I see now that zoom is supported by visualizer too. Is there a way to not display grid and axes, since they don't rescale with zoom?

[2020-04-02 10:21] 9prady9 commented on #2815
Not at the moment.

[2020-04-02 12:16] geq1t opened #2817 "Padding in convolve2NN"
Hi,

Is there any particular reason why I can't use padding of zero in convolve2NN() to get a valid convolution? Right now, the padding argument must not contain any non-zero elements, which feels overly restrictive to me.

Thanks for any insights you can give me.

Regards,
Gé Vissers

[2020-04-02 12:22] 9prady9 commented on #2817
@geq1t Do you mean `convolve2NN(signal, filter, strides, dim4(0, 0), dilation)` is not working ?

I couldn't find any checks in at the entry point of API that ensures non-zero values in padding argument.

 Can you please show me the `convolve2NN` with necessary parameter values of `dim4` arguments.

[2020-04-02 12:38] geq1t commented on #2817
That is eactly what I mean:
[code]
gives the following output
[code]

The check is in src/api/c/convolve.cpp, line 334:
[code]

[2020-04-02 12:41] 9prady9 commented on #2817
Oh yea, I get what is going now. `dim4::ndims()` returns zero if the number of elements are zero. Let me look into what can be done here. Thanks for reporting it.

Note: You should be able to overcome this particular issue using C API though, but it would make your code more verbose and you would end up managing af_array just for that case. Not ideal or desirable I would think.

[2020-04-02 12:47] geq1t commented on #2817
Thanks you looking into this so quickly!

Thanks, that could work. In my project I am using arrayfire from Rust through the arrayfire-rust bindings, though. If at all possible, I'd like to stay away from writing my own custom wrappers and the associated headaches :)

[2020-04-02 12:48] geq1t commented on #2817
(Closed the issue by mistake, sorry)

[2020-04-02 12:50] 9prady9 commented on #2817
@geq1t If you are using rust-wrapper, may be we can handle it over there because rust wrapper is written on top of arrayfire's C-API so it could be handled over there as well. But I believe we need to verify if there is anything else that can be done in C++ API to avoid similar issue.

[2020-04-02 13:26] erksch opened #2818 "libcublasLt.so.10 missing"
Hey guys!

After downloading ArrayFire-v3.7.1_Linux_x86_64.sh and installing I ran a small sample project inspired by the examples with:

CMakeLists.txt
[code]

It builds successfully but I get the following error when executing:
[code]

What confuses me, because I am using Cuda 10.0.130 on my machine, and to my knowledge the `libcublasLt` was added with Cuda 10.1, so I don't have it in my cuda-10

[2020-04-02 13:30] 9prady9 commented on #2818
@erksch Did you complete the steps mentioned here - http://arrayfire.org/docs/installing.htm#Linux after installation ?

[2020-04-02 13:44] erksch commented on #2818
Ah yes, I am an idiot! Thank you for your super fast reply!!

[2020-04-02 13:44] #2818 closed

[2020-04-02 16:37] PierreBizouard commented on #2814
Here is some code, you can reproduce the problem.
After the sequence, the pointer is kept marked as owned by arrayfire.
I can't even try to unlock without crashing. Thank you.

`		LOG("allocation of image array");
		bool leak_locked_buffer = true;
		bool free_because_ownership = false;
		bool device_lock = true;
		setBackend(AF_BACKEND_CPU);
		uint8_t* alloc_ptr = static_cast<uint8_t*>(malloc(64 *

[2020-04-04 03:46] xichaoqiang opened #2822 "afcuda.dll is too big"
The size of afcuda.dll is too  big ,about 1G.
Can I get a smaller one about tens Mbs?

[2020-04-04 06:30] 9prady9 commented on #2822
Is there any specific hardware/GPU you are targeting ? If so, you can custom build for that GPU alone which would reduce the binary size by a good amount.

What is the OS ?

[2020-04-04 06:37] xichaoqiang commented on #2822
Thanks for your reply.

My OS is Windows 10 X64.

Here is some informations about my system.

ArrayFire v3.7.1 (CUDA, 64-bit Windows, build d9d9b65)
Platform: CUDA Runtime 10.1, Driver: 10010
[0] GeForce GTX 1060, 6144 MB, CUDA Compute 6.1

![image](https://user-images.githubusercontent.com/30900789/78420408-755b5500-7681-11ea-8049-1bc614896379.png)

[2020-04-04 06:47] xichaoqiang opened #2823 "Error message about mkl_intel_thread.dll"
Here is some informations about my system.

ArrayFire v3.7.1 (CUDA, 64-bit Windows, build d9d9b65)
Platform: CUDA Runtime 10.1, Driver: 10010
[0] GeForce GTX 1060, 6144 MB, CUDA Compute 6.1

ArrayFire v3.7.1 was installed with binary package, and I try run ArrayFire-VS2015 project.

CPU_X64 and OpenCl will show an Error messsage,only Cuda x64(Debug /Release) can be complied and run.

![image](http

[2020-04-04 06:48] 9prady9 commented on #2822
If your target GPU is going to be just GTX 1060, the binary can be reduced by a good bit using a custom build for just that architecture.  But if your target GPU isn't fixed, then the earlier suggested specific custom build won't help.

[2020-04-04 06:49] 9prady9 commented on #2823
What does the error message say ? (I can see the dll name etc, but the error message isn't in english)

[2020-04-04 06:51] xichaoqiang commented on #2823
It means "The ordinal 242 could not be located in the dynamic link library"

[2020-04-04 06:56] 9prady9 commented on #2823
Do you have any other Intel MKL installation somewhere else on the system ? Can you please use [dependency walker](https://www.dependencywalker.com/) and check if the right dlls are being used.

Alternatively for a simpler test, you can copy the example executable into the `lib` folder of ArrayFire installation and run it to check if it still shows the same problem.

[2020-04-04 06:59] xichaoqiang commented on #2823
It will be OK under lib folder of ArrayFire.So it is very strang.

[2020-04-04 07:01] 9prady9 commented on #2823
Then that would mean, some other Intel MKL dll of mostly different version is being picked up the program instead of the one present under `arrayfire/lib` folder. Can you please check if there are other Intel MKL installations on your system.

[2020-04-04 07:06] xichaoqiang commented on #2823
![image](https://user-images.githubusercontent.com/30900789/78420862-be150d00-7685-11ea-8d70-432a16ddc014.png)
It seems an other MKL is in the computer.How can I do ?

[2020-04-04 07:19] 9prady9 commented on #2823
I don't think there is anything that can be done from ArrayFire installation or settings to resolve this. This is a traditional windows issue - dll conflicts.

I would suggest you remove both paths from `PATH` environment varialbe and set them up in repsective development projects so that the right dll gets picked by anaconda and ArrayFire for their programs.

[2020-04-04 07:44] xichaoqiang commented on #2823
Yes,you are right.I think this issue can be closed.

[2020-04-04 07:44] #2823 closed

[2020-04-04 08:02] xichaoqiang commented on #2822
My program is very lightweight, only a few Mb. This library file is too large to distribute.

Arrayfire is brilliant.Here is my result of helloword.cpp

ArrayFire v3.7.1 (CPU, 64-bit Windows, build d9d9b65)
[0] Intel: Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz, 24449 MB, Max threads(12)
Dense Conjugate Gradient Time: 39.45ms
Sparse Conjugate Gradient Time: 19.31ms

ArrayFire v3.7.1 (CUDA, 64-bit Win

[2020-04-05 02:23] xichaoqiang opened #2824 "cuda.h shows Error"
I want use cudaMalloc in my code but meet some errors.
Here is my OS information
ArrayFire v3.7.1 (CUDA, 64-bit Windows, build d9d9b65)
Platform: CUDA Runtime 10.1, Driver: 10010
[0] GeForce GTX 1060, 6144 MB, CUDA Compute 6.1

Here is my code.
![image](https://user-images.githubusercontent.com/30900789/78465296-6d092580-7726-11ea-9744-cfe2335100e9.png)
E0020  ： identifier "cudaMalloc" is undefine

[2020-04-06 06:57] 9prady9 commented on #2824
@xichaoqiang We provide [`include/af/cuda.h`](https://github.com/arrayfire/arrayfire/blob/master/include/af/cuda.h) for advanced users who want to write custom kernels in the event that existing ArrayFire functionality doesn't server their needs.

To use this advanced API, you need to include the header `af/cuda.h` (I see that you are doing that - so that is good) in your application code **while

[2020-04-06 07:01] 9prady9 commented on #2822
Unfortunately, at the moment the only way to reduce the windows binary further is to do custom build ArrayFire for specific compute version of nvidia GPU.

Having said that, if you want to ship ArrayFire dlls just for demo purpose and performance is not of great implication you can do a `MinSizeRel` build of ArrayFire and ship that. I haven't done configuration build earlier, so I can't exactly te

[2020-04-06 08:33] 9prady9 commented on #2814
I think there is a misunderstanding on the usage of array class methods `array::device()` and `array::unlock()`. They are meant to be used only when the memory allocation was done by the memory manager (default) of ArrayFire.

In your case, you are providing the memory location to array class constructor (afDevice) and we are merely just wrapping the pointer (internally using a `std::shared_ptr` t

[2020-04-06 09:18] PierreBizouard commented on #2814
That's why I would except but in my release using CPU code

`ArrayFire v3.7.1 (CPU, 64-bit Windows, build d9d9b65)
[0] Intel: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz, 32619 MB, Max threads(8)
after test_array constructor call
---------------------------------------------------------
|     POINTER      |    SIZE    |  AF LOCK  | USER LOCK |
--------------------------------------------------------

[2020-04-06 09:47] 9prady9 commented on #2814
May be I wasn't clear earlier. `array::device()`(locks implicitly) and `array::unlock()` shouldn't be used for user provided device pointer. The reason you are seeing those `Yes` in `printMemInfo()` call is because you are calling `array::device()` which isn't necessary in your case at all.

Change the following in your code, the table wouldn't show anything at all.
[code]

[2020-04-06 11:52] pauljurczak opened #2825 "af::array constructor from initializer list"
As an option for short array, in addition to
[code]
can we get
[code]
which will allocate the memory and initialize it with values from initializer list.

[2020-04-06 13:13] PierreBizouard commented on #2814
Hello,

Setting :
`bool device_lock = false;`

Indeed it does not shows anything.

but

`bool free_because_ownership = true;`

But it crashes as soon as the array goes out of scope. I have browsed the code but it's quite dense.

[2020-04-06 13:31] 9prady9 commented on #2814
I have corrected my earlier response, sorry about that. `af::array` assumes ownership and calls free once it is out of scope.

You want to avoid that free call by arrayfire memory manager. What is the intended use for the detached pointer ?

The reason I ask is as follows: If you want to just use that pointer in some custom function and return the control to arrayfire, you can use the `array::devi

[2020-04-06 15:52] umar456 commented on #2814
Hey @PierreBizouard,

If you want to avoid calling free on the user allocated pointer. You can use the [lock](http://arrayfire.org/docs/classaf_1_1array.htm#a0af0c6e3920cd67025211889c98807db) function once you create the array with it. This will prevent the memory manager from calling the free function.

Example:

[code]

Output:
[code]

[2020-04-06 16:02] umar456 commented on #2822
@xichaoqiang

This is unfortunately an issue with the way CUDA libraries are built. Because each generation of the NVIDIA GPUs have different assemblies, we need to include all versions with our library. As @9prady9 said you can reduce the size of your own build if you limit it to a small number of GPUs but that may not be an option. We have been working on reducing the size of the binaries with e

[2020-04-06 16:02] #2822 closed

[2020-04-06 19:45] PierreBizouard commented on #2814
Hello,

The target was to perform in array computation without copy with the CPU backend.

If I call lock on the array, it remains in the lock list of the memory manager. As the destination buffer position can change based on configuration, it will likely leak after some time. I don't know if there is a way to remove it in the memory manager.

A "detach" pointer option would be to tell the memory

[2020-04-06 23:45] WilliamTambellini opened #2826 "AF bytesToString crash when trying to alloc a giant array"
Bad crash in afcpu 3.7.1 when trying to alloc a giant array :

size_t nr = nc = 1000000000
af::array a(nr, nc);

Expected behavior: bad alloc exception, no crash.

1  __strlen_avx2 strlen-avx2.S         62   0x7fffe6a4f5a1
2 fmt::v5::internal::result_of<fmt::v5::arg_formatter<fmt::v5::back_insert_range<fmt::v5::internal::basic_buffer<char>>> (int)>::type fmt::v5::visit<fmt::v5::arg_formatter<fmt::

[2020-04-07 05:09] umar456 commented on #2814
We don't have a way to remove that entry at this time. I can look at adding a function to do this but this is a very small "leak". We are talking a pointer and an integer here. As a temporary workaround you can use the same pointer so that this doesn't get out of control if that is possible for your application.

[2020-04-07 07:57] 9prady9 commented on #2825
Yes, that could be helpful for short arrays.
[code]

However, these could very easily implemented around existing constructors, which is the most probable implementation we might do as well.
[code]

@umar456 what do you think ?

[2020-04-07 08:10] 9prady9 commented on #2825
Now that I have written it out, I am doubtful if the above implementation would work with CUDA/OpenCL backend because the copy to GPU memory is asynchronous in nature and the initializer list allocation may not stay valid for that long. I would have to verify that. Neverthless, it could be easily implemented on top existing constructors I think.

[2020-04-07 09:25] pauljurczak commented on #2825
Looks good to me. For the moment, I'm using CPU only, so it should work fine.

[2020-04-07 15:42] #2826 closed

[2020-04-07 15:44] WilliamTambellini commented on #2826
Tks

[2020-04-08 04:12] xichaoqiang opened #2828 "3D Array Error: element-wise multiplication"
I want element-wise multiplication two 3D error.But  met an error.

With Matlab or Numpy, I can get the correct result.
The result cube dimensions: 1000x1000x100
[code]

[2020-04-08 05:17] syurkevi commented on #2828
ArrayFire does not perform broadcasting. Instead, the user must manually specify how the inputs need to be tiled. In your example
[code]

We've considered adding broadcasting in the past and are not against adding it in the future, however it has some ambiguous cases that we haven't reached an agreement on.
Keep in mind you can also get support for quick questions on our slack channel and google g

[2020-04-08 05:17] #2828 closed

[2020-04-08 06:57] 9prady9 commented on #2817
Fixed in #2820

[2020-04-08 06:57] #2817 closed

[2020-04-08 07:14] 9prady9 commented on #2336
Closing the issue due to inactivity. @csverma610  Please feel free to reopen if you are still having the problem.

[2020-04-08 07:14] #2336 closed

[2020-04-08 07:33] 9prady9 commented on #2045
@Reithan Is convovle3 still causing issues in your code ? Also, latest release has added couple of Machine learning specific functions

- [convolve2GradientNN](http://arrayfire.org/docs/group__ml__convolution.htm#gaad86c9831ef20ca900eae5e094da9764)
- [convolve2NN](http://arrayfire.org/docs/group__signal__func__convolve2.htm#ga8a6da9b0bf8e0287d71d02e2cd763cde)

I believe they will address your logi

[2020-04-08 07:39] #2034 closed

[2020-04-08 08:45] 9prady9 commented on #1356
I don't think this issue is valid anymore. I have checked the freeimage documentation and our code base. We are already handling the color model layout appropriately for 24 bit and 32 bit DIB(bpp - bits per pixel formats) at given below locations.
- https://github.com/arrayfire/arrayfire/blob/master/src/api/c/imageio.cpp#L63
- https://github.com/arrayfire/arrayfire/blob/master/src/api/c/imageio.cp

[2020-04-08 08:45] #1356 closed

[2020-04-08 08:58] 9prady9 commented on #2824
@xichaoqiang Were you able to resolve the issue ?

[2020-04-08 09:26] 9prady9 commented on #413
Finite difference time domain example is still pending I think
[fdtd.txt](https://github.com/arrayfire/arrayfire/files/4449526/fdtd.txt)

[2020-04-08 10:06] 9prady9 commented on #2089
@marty1885 Is this still an active issue ?

[2020-04-08 10:07] 9prady9 commented on #2447
glbinding is not an dependency of arrayfire anymore.

[2020-04-08 10:07] #2447 closed

[2020-04-08 10:24] 9prady9 commented on #2564
Half precision support is added to the following convolution functions only at the moment.

[2020-04-08 10:27] 9prady9 commented on #2564
@ZeroCool11000 If the above mentioned suffices your case, you may close the issue. If you need f16 support for regular convolution functions. Feel free to rename the issue as feature request to add f16 support for convolutions in general

[2020-04-08 10:33] 9prady9 commented on #2808
Closing due to inactivity. @kapilg1997 Feel free to reopen if the problem is still present.

[2020-04-08 10:33] #2808 closed

[2020-04-08 10:36] 9prady9 commented on #1509
Closing due to inactivity. Please reopen if similar resurfaces with latest release.

[2020-04-08 10:36] #1509 closed

[2020-04-08 12:26] 9prady9 commented on #1175
We have fixed couple of bugs related to use of ArrayFire on headless systems, cleaned up forge management and fixed order of destruction of device manager class in all backends. This issue may have been fixed in the later releases, @paolobardella Can you please verify the examples with latest release - v3.7.1

[2020-04-08 12:51] 9prady9 commented on #2685
Closing since the original issue related to `spdlog-utests` is resolved. @kriswuollett If you are still having issues with ldconfig, please create a new issue with all relevant info - kindly try out the latest release v3.7.1

[2020-04-08 12:51] #2685 closed

[2020-04-08 12:57] #1698 closed

[2020-04-08 14:03] 9prady9 commented on #2825
I checked CUDA and OpenCL backends, what I suggested should work fine for those also.

[2020-04-08 16:50] 9prady9 commented on #492
Below implementation on top of existing functions seems to be working fine. It assumes, values in `in` array are within the range of `width`.
[code]

I have timed it using our [timeit](http://arrayfire.org/docs/timing.htm) to check the timings for generating such a matrix from a vector of 1000 elements provided the width is 1000 (same as `in.elements()` in my test case only).
[code]
For 10 K eleme

[2020-04-08 16:50] #492 closed

[2020-04-08 16:53] 9prady9 commented on #1941
For large kernel sizes, I think convolution based approach would be faster.

[2020-04-08 17:04] umar456 commented on #2659
I am not sure if this is the ideal approach. Because MKL is not the only blas library we use, this function will not be portable. You will need to be aware of which blas library you are linking against to be effective and it may not work with other libraries and therefore give users incorrect expectations. It would be better to just directly call the MKL functions.

[2020-04-08 17:04] #2659 closed

[2020-04-08 17:08] umar456 commented on #2276
Closing due to inactivity

[2020-04-08 17:08] #2276 closed

[2020-04-08 17:09] umar456 commented on #2782
Addressed by #2786

[2020-04-08 17:09] #2782 closed

[2020-04-08 17:11] umar456 commented on #2355
Closing due to inactivity.

[2020-04-08 17:11] #2355 closed

[2020-04-08 17:12] umar456 commented on #1685
Fixed.

[2020-04-08 17:12] #1685 closed

[2020-04-08 19:16] WilliamTambellini opened #2830 "Add an envvar to set af trace output (eg AF_TRACE_OUT)"
As today, there does nt seem to be a way to order AF TRACE where to log to : it seems to be hardcoded to stdout :

shared_ptr<logger> loggerFactory(string name) {
    shared_ptr<logger> logger;
    if (!(logger = get(name))) {
        logger = stdout_logger_mt(name);
        logger->set_pattern("[%n][%E][%t] %v");

        // Log mode
        string env_var = getEnvVar("AF_TRACE");
        if (env

[2020-04-09 00:01] umar456 commented on #2812
You can probably only get the CPU backend to work in this way if you are lucky. This is not something we intend to support.

[2020-04-09 00:01] #2812 closed

[2020-04-09 05:00] #2825 closed

[2020-04-09 06:32] marty1885 commented on #2089
@marty1885 I eventually moved to building my own tensor library and didn't figure out why. Closing

[2020-04-09 06:32] #2089 closed

[2020-04-09 08:47] ZHAOZETAO opened #2832 "how to add arrayfire library to path"
I am new to linux and I do not have sudo permission. I download arrayfire.sh and extract to home/Download/ArrayFire. But in python, it still can not find arrayfire library. I guess I need to add something to path. The instruction says you will need to set the LD_LIBRARY_PATH environment variable in order to let your shared library loader find the ArrayFire libraries. but I don't know how to do thi

[2020-04-09 08:50] 9prady9 commented on #2832
@ZHAOZETAO https://github.com/arrayfire/arrayfire-python/wiki

[2020-04-09 09:19] samuelpowell opened #2833 "OpenCL backend on thread causes abort due to GLFW (MacOS)"
If I link against the OpenCL backend, and launch computations outside of my main thread, I get an exception and crash.

This appears to be because GLFW initialisation functions (which I understand can only be called from the main thread, at least on OSX) are called, _despite_ the fact I am not using any of the graphics output provided by forge.

The problem goes away if I launch with the ```AF_DIS

[2020-04-09 09:25] samuelpowell commented on #2833
I'm guessing this is related: https://github.com/arrayfire/arrayfire/issues/2062

It appears you have to do some initialisation for potential use of Forge irrespective of usage, is that correct?

[2020-04-09 09:33] 9prady9 commented on #2833
I don't think so, it is headless configuration. Is your setup also without a display ?

In a multi-threaded program, each thread has to call `af::setDevice` before doing any computation on that thread. Can you check if that is happening.

Note that graphics related setup is carried out during the program initialization: `af::info()` or `af::setDevice()` that happens in the main thread takes care o

[2020-04-09 09:38] 9prady9 commented on #2832
Please raise issues related to wrappers in their respective projects.

I am closing this one. If the python wiki URL I shared earlier doesn't resolve your problem. Feel free to open the issue in https://github.com/arrayfire/arrayfire-python project.

[2020-04-09 09:38] #2832 closed

[2020-04-09 10:14] samuelpowell commented on #2833
Thank you @9prady9.

Yes, I was calling `af::setDevice` in the processing thread, but I was not initialising in the main thread, as it doesn't call arrayfire. Adding `af::info` to the main thread causes the GLFW init to happen there, and all is well.

Is this particular case documented?

[2020-04-09 10:24] 9prady9 opened #2834 "Add new tutorial with guidelines for multi-threaded programs using ArrayFire"

[2020-04-09 10:25] 9prady9 commented on #2833
I am not sure, but I am certain we have mentioned in quite a few https://github.com/arrayfire/arrayfire/issues related threaded programs . This is a common practice w.r.t CUDA / OpenCL. But I see your concern about how one can miss this without explicit direction.

We could definitely add a tutorial to our [tutorials section](http://arrayfire.org/docs/tutorials.htm) that has some guidelines, tips

[2020-04-09 10:30] samuelpowell commented on #2833
Before I close this, one final question. Whatever GLFW init Arrayfire is doing, it stops my GUI (which runs in the main thread) from rendering. Again, things are fine when the graphics disable environment variable is passed.

If there is no programatic way to inhibit this behaviour, would you be able to point me in the direction of the source so I can see what is being done, and try to interact wi

[2020-04-09 10:31] samuelpowell commented on #2833
Ahhh, okay, I see why I couldn't find it - this actually happens in forge, against which you are linked. In particular, [here](https://github.com/arrayfire/forge/blob/c0a0ee909a4f9f661f244d54b8796261e7e4c815/src/backend/opengl/glfw/window.cpp), do I understand correctly?

[2020-04-09 10:46] 9prady9 commented on #2833
There are couple of things here to understand when it comes to OpenCL.

- The device contexts that support inter-operation between OpenGL and OpenCL buffers have to be created right in the beginning i.e. we need to use OpenGL context to create contexts, queues etc.
- Forge is ArrayFire's graphics upstream dependency is loaded at runtime. ArrayFire programs will work fine even if they cannot find t

[2020-04-09 10:55] xichaoqiang commented on #2824
I haven't tried to write a kernel function myself recently. So i didn't check it again.

[2020-04-09 10:59] samuelpowell commented on #2833
Thank you for your detailed explanation, whilst I'm very comfortable with CUDA and OpenGL interop, I have very limited experience with OpenCL, so it is helpful to understand the process. Furthermore, I now understand your point regarding the difficulties of having an API for disabling graphics.

I am happy to use the environment variable in practice, I just wanted to dig down to make sure I unders

[2020-04-09 11:11] 9prady9 commented on #2833
Perhaps, it could be related to issue such as the one mentioned in this https://github.com/glfw/glfw/issues/927 ? I am not sure though, in that github-issue they talk about same but on Windows.

[2020-04-09 11:25] samuelpowell commented on #2833
Yes, and this

may explain why there is no error.

If I manage to get any further finding out the issue and a potential workaround I will open another issue. For now, thank you for your help with this.

[2020-04-09 11:25] #2833 closed

[2020-04-09 11:32] 9prady9 commented on #2780
I have looked at your patch. Implementation (backend specific and otherwise) changes can be ported over to latest master but the API changes are going break ABI and/or API compatibility.

We have to first finalize the approach we want to take for for user provided streams/queues - #113

For the moment, events should help you out. Have you got the chance to try them ?

[2020-04-10 14:34] 9prady9 commented on #1941
https://github.com/9prady9/arrayfire/commit/d2436c0e708ce61b1ae78eff566ad838d94c7a9f

That removes kernel size limitation for `b8` type `af::array` inputs in dilate/erode functions. Erode/dilate will automatically switch to fft based algorithm after certain kernel size (determined based on some benchmarks for different fft upstream libs/backends).

[2020-04-10 21:40] jzupka opened #2837 "Performance problems on AMD cpu"
It looks like that arrayfire has some big performance problems on EPYC cpu
https://www.phoronix.com/scan.php?page=article&item=intel-5220r-6226r&num=3
compared to this https://www.phoronix.com/scan.php?page=article&item=intel-5220r-6226r&num=4
the performance should be competitive with others cpus.

[2020-04-11 02:31] 9prady9 commented on #2837
Our CPU backend is for a purely sequential backend (no native SIMD magic etc.) except for few cases where usage of upstream libraries for BLAS, FFT, LAPACK functionalities gives an extra boost. That is the case because of upstream's own implementation being multi-threaded or SIMD.

I believe phoronix benchmarks are generated using installers available on our website. Our website installers are bui

[2020-04-11 03:18] 9prady9 commented on #2518
Okay, found the relevant info on CUDA documentation. linking here for future references
https://docs.nvidia.com/cuda/cufft/index.html#data-layout

[2020-04-11 06:51] jzupka commented on #2837
Oh ok thank you for explanation. Then  `export MKL_DEBUG_CPU_TYPE=5`
should be enough for almost fixing the problem. I don't tested this but it works with matlab.

[2020-04-11 07:57] 9prady9 commented on #2837
Yes, I have read about this environment variable, although it is not documented in Intel MKL documentation. So, I am not sure how reliably we can use it.

[MKL_DEBUG_CPU_TYPE](https://www.pugetsystems.com/labs/hpc/How-To-Use-MKL-with-AMD-Ryzen-and-Threadripper-CPU-s-Effectively-for-Python-Numpy-And-Other-Applications-1637/#UsingMKL_DEBUG_CPU_TYPE=5withAMDCPU\'s) That article talks about it being u

[2020-04-11 09:38] 9prady9 commented on #2518
@umar456 @gaika Can you please help verify if this is still happening with latest release and newer drivers.

I tried it on my setup (shared below) and I don't see input changes (for neither normal array nor sub-array) for 1D, 2D & 3D complex-to-real ffts.
[code]

[2020-04-11 14:25] umar456 commented on #2518
Did you uncomment the tests [here](https://github.com/arrayfire/arrayfire/blob/master/test/fft.cpp#L790)

This is what I get on my computer:

[code]

[2020-04-11 15:04] 9prady9 commented on #2518
I used the code stub from this one. I will check out these commented tests.

[2020-04-11 15:16] 9prady9 commented on #2518
Ran those commented out tests and they are green as of today.
[code]

What is your driver version ?

[2020-04-13 04:13] 9prady9 commented on #2518
@syurkevi Can you verify if [these](https://github.com/arrayfire/arrayfire/blob/master/test/fft.cpp#L790) tests are failing or passing with latest CUDA toolkit + driver combo. I will verify this on my Windows box today.

[2020-04-13 11:44] 9prady9 commented on #1175
@PeterMJ Can you also please check latest release and let us know if the problem is resolved or not.

[2020-04-14 09:41] xichaoqiang opened #2841 "How can I use bessel function now?"
I can see af_bessel functions in the documents.

Can I use it is 3.70 ?

[2020-04-14 09:46] 9prady9 commented on #2841
@xichaoqiang There are no bessel functions in ArrayFire since v3.0. They could be added in future depending on future demand.

[2020-04-14 09:47] 9prady9 commented on #2841
@syurkevi @umar456 do you guys know if we can implement bessel functions on top of existing functionality at C++ level ?

[2020-04-14 09:51] xichaoqiang commented on #2841
Thanks,Sir. I think Bessel function is the basic function of research in many fields. Its removal is very regrettable.

[2020-04-14 10:44] xichaoqiang commented on #2841
I define the bessel j0 function for float number.
How can I use this function for every number in array with for loop?
[code]

[2020-04-14 10:52] 9prady9 commented on #2841
Can you please show me the implementation of this function?

[2020-04-14 10:54] xichaoqiang commented on #2841
http://jean-pierre.moreau.pagesperso-orange.fr/c_bessel.html
I use the bessel j0 function download form the above website.

[code]

[2020-04-14 11:11] 9prady9 commented on #2841
@xichaoqiang This function looks like it could be implemented on top of existing arrayfire functions and JIT. Let me get back to you with an implementation.

[2020-04-14 11:14] xichaoqiang commented on #2841
Thank you.

On 04/14/2020 19:12, pradeep wrote:

@xichaoqiang This function looks like it could be implemented on top of existing arrayfire functions and JIT. Let me get back to you with an implementation.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-14 13:20] 9prady9 commented on #2841
@xichaoqiang I think the following will do. There will some redundant computation because of the paralllelization but it should be faster than a for loop for large data sets.

All the operations in this function will be converted into a single JIT kernel, so it should have good performance.

[code]

[2020-04-14 13:29] xichaoqiang commented on #2841
Dear Sir,Thanks for your codes.

I check the reuslt with matlab.Entirely same.

Thank you.

[2020-04-14 14:19] #2841 closed

[2020-04-14 14:27] xichaoqiang opened #2842 "Slice array error by define range."
I want make slice sqe with  the binomial coefficient function.

And I save the combinations result into a array.

Can I use a column of array as a seq to slice another array?

Here is my code

[code]
![image](https://user-images.githubusercontent.com/30900789/79236180-36a67580-7e9f-11ea-9277-0044777e8fde.png)
Error E0304 There is no overloaded function that matches the parameter list
Here is examp

[2020-04-14 14:44] 9prady9 commented on #2842
for (int i = 0; i < nck2.size(); i++)
 {
	for (int j = 0; j < 2; j++)
	{
		C(i, j) = nck2[i][j];
	}
 }

Indexing individual elements when the memory is residing on a GPU is going to be very inefficient in terms of performance.

If `nck2` is just another `std::vector` you can easily pass on the data to GPU using
[code]
You can get columns from array using `array::col` method
[code]
Does the above c

[2020-04-14 14:46] xichaoqiang commented on #2842
OK,thank you.
I correct it with flat funtion.

[2020-04-14 15:35] xichaoqiang commented on #2842
My programming habits are still Matlab.Thank you.

[2020-04-14 15:35] #2842 closed

[2020-04-14 15:38] 9prady9 commented on #2518
@syurkevi Tested on the following devices/toolkit combo and the commented tests pass.
[code]

[2020-04-14 15:47] 9prady9 commented on #2518
@umar456 Has raised a bug report on nvidia wesbite, we haven't heard from them yet.

@umar456 tested on a the following devices where tests failed to preserve input values.

-  `Quadro T2000` with driver version 440 and toolkit version 10.2
-  `Tesla k80` with driver version 418.67 and toolkit version 10.1

[2020-04-15 01:58] xichaoqiang opened #2843 "How to apply existing function(norm) to each row？"
I want compute the norm of each row of s matrix and r matrix.How can I do without for loop?
[code]

[2020-04-15 03:35] xichaoqiang commented on #2843
Here is my code. Is there any more effective way to code it?
[code]

[2020-04-15 09:10] 9prady9 commented on #2843
@xichaoqiang I don't think there is an alternative to for-loop at the moment for this particular function `norm` since it doesn't have batch support yet.

[2020-04-15 10:08] cschreib-ibex commented on #2503
This has become an important issue for us. Because of the kernel compilation overhead, our processing pipeline takes about 20 seconds when run "cold" (first time run), and just 2 seconds when "hot" (second run within the same process).

Our current solution to keep the processing time more constant is to execute an "initialization" phase when the program starts up, which essentially boils down to

[2020-04-15 11:49] xichaoqiang opened #2844 "Can I give a implement to 2D matrix with specified axis(0 or 1)"
I have a 2d matirx. And I want implemet fft to each coloumn of it.
How can I do ?

[2020-04-15 11:52] 9prady9 commented on #2844
[fft](http://arrayfire.org/docs/group__signal__func__fft.htm#ga8b445e474508d96da691a9608dec5403) shuld be able to handle a bunch of vectors.

`fft(in)`

[2020-04-15 12:00] xichaoqiang commented on #2844
Thanks for your reply.

[2020-04-15 13:03] umar456 commented on #2844
These types of questions should be directed to our Slack channel or google groups. Closing this because this is not a bug in ArrayFire.

[2020-04-15 13:03] #2844 closed

[2020-04-15 13:05] umar456 commented on #2843
This is not a bug in ArrayFire. Please post these types of questions in the Slack channel or Google groups. You can find the links for these in the README.md file.

[2020-04-15 13:05] #2843 closed

[2020-04-15 13:08] umar456 commented on #2503
We would be interested in this feature but I am not sure if the safe and load approach will work in all cases. Each device will generate different binaries for the kernel because they target different architectures. If your customers are running on a new device or one that is not compiled in house you could crash your program. You would still be able to assign a directory where you could dump the

[2020-04-16 12:48] cschreib-ibex opened #2845 "Compilation fails with Visual Studio 2015"
The current master branch of ArrayFire does not compile with Visual Studio 2015:
[code]

Solved by removing ``constexpr`` from ``half2int`` and from the move constructor of ``unique_handle``.

Also a few worrisome warning:
[code]

There were quite a few other warnings of potentially lossy conversions from ``dim_t`` to ``int`` and ``double`` to ``float``. I assume these are mostly harmless, but her

[2020-04-17 09:13] clive-g-brown opened #2847 "Thanks"
for making ArrayFire. I've had some success with it (via Julia about to look at Nim) on OSX/AMD - a frustrating wasteland for machine learning libraries unless youre into Python/PlaidML. Now ive got options. [ PS tests fail on FFT].

[2020-04-17 20:16] umar456 commented on #2847
Hi @clive-g-brown

Thanks for the kind words. We are glad that you are enjoying the library. Its great to hear about how our work is beneficial in the open source community.

With regard to FFT. Could you provide which tests and the configuration of your system?

Official installers or local build
Distribution and hardware details
other relevant software.

[2020-04-18 07:57] 9prady9 commented on #2045
Closing due to inactivity.

[2020-04-18 07:57] #2045 closed

[2020-04-18 07:58] 9prady9 commented on #1175
Closing due to inactivity.

[2020-04-18 07:58] #1175 closed

[2020-04-18 07:59] #2837 closed

[2020-04-20 12:30] #2845 closed

[2020-04-22 23:12] #1941 closed

[2020-04-23 05:11] 9prady9 commented on #2824
Closing due to inactivity. Please redirect non-bug queries to our [slack-channel](https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ)

[2020-04-23 05:11] #2824 closed

[2020-04-23 08:10] 9prady9 commented on #1484
Closing due to inactivity.

[2020-04-23 08:10] #1484 closed

[2020-04-23 08:19] 9prady9 commented on #1520
This doesn't seem relevant given that arrayfire-extras is currently empty. We can have an issue/PR to discuss the corresponding changes once arrayfire-extras repository intent/usage is solidified.

[2020-04-23 08:19] #1520 closed

[2020-04-23 08:21] 9prady9 commented on #1518
A similar discussion is going on in https://github.com/arrayfire/arrayfire/issues/2796 Closing this as duplicate.

[2020-04-23 08:21] #1518 closed

[2020-04-23 10:13] 9prady9 commented on #1752
I don't think this (automatic accumulation of results for same indices) can be done via indexing alone. Theoretically it can be done using atomic updates to identical locations, but I think that would cause a severe performance downgrade.

If accumulation of results for identical indices is the expected behavior, then some kind of sorting the indices+reduction has to be carried out.

[2020-04-23 10:35] 9prady9 commented on #1819
I am not sure why and how I missed this at the time this issue was raised. There are equivalent functions and features in rust wrapper too @polarathene

Please look at the following tutorial (http://arrayfire.org/arrayfire-rust/arrayfire/book/indexing.html) - needs more improvements, but it does mention how to set columns and rows in the last section.

You would have to create a constant(http://ar

[2020-04-23 10:35] #1819 closed

[2020-04-23 10:59] 9prady9 commented on #1878
Sorry about the extreme delay, we missed this one. ArrayFire uses freeimage to load images which doesn't support DCOM format yet as far as I know. The work around is to write a DCOM loader or most likely use DCOM loader library.

We may eventually add DCOM loading capability, perhaps as a plugin to https://github.com/arrayfire/arrayfire-extras repository.

[2020-04-23 10:59] #1878 closed

[2020-04-23 11:03] 9prady9 commented on #2039
Closing due to inactivity.

[2020-04-23 11:03] #2039 closed

[2020-04-23 11:04] 9prady9 commented on #2051
Closing due to inactivity.

[2020-04-23 11:04] #2051 closed

[2020-04-23 11:08] 9prady9 commented on #2102
Closing due to inactivity. @vakopian Please open the PR if you have the changes ready for this  feature. We can continue the discussion over there. It would be easy for us to test the changes too.

[2020-04-23 11:08] #2102 closed

[2020-04-23 11:25] 9prady9 commented on #2564
Closing due to inactivity.

[2020-04-23 11:25] #2564 closed

[2020-04-23 11:27] 9prady9 commented on #2539
Self note: Use Spectre from Windows setup where it is 2.0 OpenCL.

[2020-04-23 11:29] 9prady9 commented on #2493
Issues seems to be resolved per https://github.com/arrayfire/arrayfire-python/issues/215

closing due to inactivity and the above.

[2020-04-23 11:29] #2493 closed

[2020-04-23 11:31] 9prady9 commented on #2489
Closing due to inactivity.

[2020-04-23 11:31] #2489 closed

[2020-04-23 11:35] 9prady9 commented on #2478
@umar456 Do we have more work to do w.r.t this issue ? If so you can please outline as list for future reference.

[2020-04-23 11:37] 9prady9 commented on #2467
We have some working going on w.r.t kernel caching, we hope to improve startup times with those.

#2503

[2020-04-23 11:38] 9prady9 commented on #2467
Please redirect questions related to caching to #2503 . Closing this as duplicate.

[2020-04-23 11:38] #2467 closed

[2020-04-23 11:41] 9prady9 commented on #2429
Addressed in https://github.com/arrayfire/arrayfire/pull/2435

[2020-04-23 11:41] #2429 closed

[2020-04-23 11:44] #2397 closed

[2020-04-23 11:46] 9prady9 commented on #2372
@umar456 Is this still a problem ?

[2020-04-23 11:47] 9prady9 commented on #2364
@umar456 Haven't you already changed these ?

[2020-04-23 11:49] 9prady9 commented on #2346
@umar456 With stack trace, trace output showing which backend library failed to load. Can we save this is complete or are we still missing something ?

[2020-04-23 11:50] 9prady9 commented on #2338
Closing due to inactivity.

[2020-04-23 11:50] #2338 closed

[2020-04-23 11:59] 9prady9 commented on #2776
It could be possible that some size value has overflow turning it into some large garbage value. It is a guess.

[2020-04-23 12:08] 9prady9 commented on #2676
@krish021195 pad is available now via 3.7.1 release. Closing this issue.

[2020-04-23 12:08] #2676 closed

[2020-04-23 12:10] 9prady9 commented on #2657
Closing due to inactivity.

[2020-04-23 12:10] #2657 closed

[2020-04-23 12:16] 9prady9 commented on #2618
@mickeyil What is the status of this issue ? Have you been able to successfully use arrayfire (arrayfire-python) from python ?

[2020-04-23 12:29] mickeyil commented on #2618
@9prady9, no open issue. I confirmed there was a missing  LD_LIBRARY_PATH in the environment. arrayfire-python works great!

[2020-04-23 12:30] 9prady9 commented on #2618
Just wanted to confirm as I wasn't sure. Thanks, enjoy prototyping with arrayfire-python!

[2020-04-23 12:30] #2618 closed

[2020-04-23 16:29] 9prady9 commented on #1308
This operation is not supported with ArrayFire. Although af::array can store adjacency matrix, I am not sure there is an algorithm that operates solely on the adjacency matrix to generated the connected components list of the graph.

[2020-04-23 16:29] #1308 closed

[2020-04-23 20:31] Tikhon03 opened #2856 "cuda error on Ubuntu linux with arrayfire version v3.7.1-1"
I am getting the following error when compiling with cuda:

ArrayFire Exception (Internal error:998):
In function std::vector<char> cuda::compileToPTX(const char*, std::string)
In file src/backend/cuda/jit.cpp:291
NVRTC Error(5): NVRTC_ERROR_INVALID_OPTION

I do not get any such error when compiling for the cpu. I have Ubuntu 20.04, installed just today. Arrayfire v3.7.1-1 installed in /opt via th

[2020-04-23 21:08] umar456 commented on #2856
That is not the issue. As long as the version listed by the drive is higher than the version listed in the toolkit it should be ok. Can you run your program with these environment variables set:

AF_PRINT_ERRORS=1 AF_TRACE=all

[2020-04-24 00:27] Tikhon03 commented on #2856
I was able to get a little more information:

[mem][5240] [ ../src/backend/cuda/memory.cpp:191 ] nativeAlloc: 4.38 MB 0x7f41fe000000
[mem][5240] [ ../src/backend/cuda/memory.cpp:191 ] nativeAlloc: 4.38 MB 0x7f41fe600000
[mem][5240] [ ../src/backend/cuda/memory.cpp:191 ] nativeAlloc:    1 KB 0x7f41fec00000
In function std::vector<char> cuda::compileToPTX(const char*, std::string)
In file src/backen

[2020-04-24 03:08] umar456 commented on #2372
This is fixed in master.

[2020-04-24 03:08] #2372 closed

[2020-04-24 11:11] cschreib-ibex commented on #2503
Thanks for merging these changes! Any idea when that will be available in a formal release?

[2020-04-24 11:22] 9prady9 commented on #2503
We are hoping to make a fix release soon, like end of month or so. It is not yet set in stone, but that's the goal. Since these are internal changes and doesn't meddle with API/ABI, we will push this in the fix release. Will keep you posted.

I am closing this one since it is in master @cschreib-ibex Thanks once again for the contribution!

[2020-04-24 11:22] #2503 closed

[2020-04-24 11:23] 9prady9 opened #2857 "Create a common API to cache CUDA/OpenCL kernels"
This would include caching to disk feature as well.

- [x] Create unified API for caching kernels - WIP
- [x] Port CUDA kernels to use new API - #2560 #2790
- [x] Port OpenCL kernels to use new API
- [x] (Optional) Add disk store support for OpenCL binaries
- [x] ~(Optional) Unify disk store feature for compiled kernels~

[2020-04-24 15:17] sebastienleclaire opened #2859 "Custom code functionality with a “af ::kernel” variadic function to interface ArrayFire data with CUDA/OpenCL code."
Hi,

Based on an exchange with Umar, I have a feature request that would tremendously improve the accessibility of writing custom high performance code interfacing with ArrayFire. The current state of interfacing ArrayFire with custom Cuda/OpenCL code is very time consuming and not user-friendly. Indeed one needs to call “.device” on af::array, set the kernel arguments, launch the kernel and relea

[2020-04-24 20:03] #2681 closed

[2020-04-29 11:07] scottmudge opened #2863 "Windows Binary Installer -- afcuda.dll is absolutely massive... why?"
I have compiled my fair share of CUDA-dependent libraries, many of them massive... OpenCV, TensorFlow, custom-rolled libraries, etc. Even the largest and most complex of these libraries is smaller than the pre-compiled afcuda.dll distributed on the ArrayFire website.

afcuda.dll is 963,264 KB (~940 MB) -- why on earth is it so massive? The '.nv_fatb' PE section, constituting all of the nvcc compil

[2020-04-29 12:10] scottmudge commented on #2863
Never-mind, I see this is a duplicate.

Well I hope it can be shrunk down in the future. In the meanwhile I'll just compile it myself w/ the appropriate build configuration.

[2020-04-29 12:10] #2863 closed

[2020-04-29 12:53] 9prady9 commented on #2863
That is alright, here is summary of the reason.

We are aware of the large binary size problem, in fact it is not just windows even Linux binary is considerably large because of the following mentioned reasons .
- We can't anticipate/assume what GPU the user will target or run their arrayfire based program/application on. Therefore, to ensure the user can run it on any target GPU, we build for eac

[2020-05-02 18:44] vakopian opened #2869 "BUG: batch matmul wrong results with cuda"
There seems to be a bug with the **cuda** version of `matmul` in **batch** mode. Below I try to multiply a `16x36` array by a `36x1x256x404` array, both constant 1s. I expect the output to have `36` everywhere. But it's only partially `36` - all columns starting from 256 are `0`.
The following code produces the wrong results at the "right side" of the output:
[code]
The output is:
[code]
This is w

[2020-05-04 11:40] 9prady9 commented on #2869
I have tried to reproduce on latest v3.7.1 release tag and I am unable to reproduce this issue on any of the backends.

Can you please tell us the following information.

1. version of arrayfire you have
2. installed via binary provided on our website or built yourself
3. CUDA GPU info - running helloworld or `af::info()` should get you the basic info we need.

[2020-05-04 18:31] vakopian commented on #2869
@9prady9 Thanks for looking into this. Indeed it turns out this is only happening when linking with arrayfire that I built locally. It works correctly with binaries provided on the website. Here is the other information you asked for:

1. I've tried it with both 3.7.0 and 3.7.1
2. Built myself using
[code]
3. af::info() for 3.7.0:
[code]
af::info() for 3.7.1:
[code]

I'm going to run the arrayfire

[2020-05-04 18:36] 9prady9 commented on #2869
You can verify if the executable and/or `libafcuda.so` are using the right set of CUDA libraries using `ldd` . Ideally, we want them to use the same set for both building and executing the program. I am guessing that is the issue.

[2020-05-04 18:44] vakopian commented on #2869
It looks like pretty much every cuda test is failing in my build.
I only have a single version of cuda installed on the machine (which is both the build machine and where the program is executed). Here is the output `ldd ./src/backend/cuda/libafcuda.so.3.7.0` in my build directory
[code]
Anything suspicious here?

[2020-05-04 18:47] 9prady9 commented on #2869
@vakopian Can you please come up on slack, would be easy to exchange messages quickly.

[2020-05-04 18:59] vakopian commented on #2869
Look like I need an invite for that. Would you send one to me please? Thanks.

[2020-05-04 19:01] 9prady9 commented on #2869
Here is it, my bad I assumed you were already on the channel.

https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ

[2020-05-05 15:25] 9prady9 commented on #2869
After some extensive testing with different toolkit versions and different tags of ArrayFire. The error was only happening with CUDA toolkit 10.0. Newer toolkit versions don't have this problem.

[2020-05-05 16:11] 9prady9 commented on #2869
[code]

[2020-05-05 16:19] 9prady9 commented on #2869
Above snippet provided by @vakopian was tested on 10.0, 10.1 and 10.2 toolkit versions. The error is only happening on 10.0.

[2020-05-05 16:21] vakopian commented on #2869
@9prady9 Thank you so much for all your time and effort to uncover this!
As always amazing support from the AF team!

[2020-05-05 16:21] #2869 closed

[2020-05-05 19:29] WilliamTambellini opened #2874 "Compilation failure with gcc 6"
Hello
The master branch does not compile anymore with gcc6.1 under Linux:

In file included from repos/arrayfire/src/api/c/type_util.cpp:12:0:
repos/arrayfire/src/api/c/type_util.cpp: In function ‘size_t size_of(af_dtype)’:
repos/arrayfire/src/backend/common/err_common.hpp:160:62: error: use of deleted function ‘TypeError::TypeError(TypeError&&)’
                         type, boost::stacktrace::s

[2020-05-06 00:27] ArchakGoel commented on #1258
I am running into exact same issue. What worked for you @ynashed ? Did you have to install a specific driver?

[2020-05-06 10:12] #2874 closed

[2020-05-06 11:51] 9prady9 commented on #2847
@clive-g-brown Did you get the chance to revisit your arrayfire build ? We would appreciate if you can provide us the info @umar456 mentioned above. Thank you.

[2020-05-06 13:52] clive-g-brown commented on #2847
I think its a known issue (exactly same report in windows10):

Stacktrace:
 [1] top-level scope at /Users/cbrown/.julia/packages/ArrayFire/wYxcd/test/fft.jl:113
 [2] include(::String) at ./client.jl:439
 [3] top-level scope at /Users/cbrown/.julia/packages/ArrayFire/wYxcd/test/runtests.jl:14
 [4] top-level scope at /Users/julia/buildbot/worker/package_macos64/build/usr/share/julia/stdlib/v1.4/Test

[2020-05-06 14:11] clive-g-brown opened #2878 "Feature Request"
Metal Backend.

[2020-05-06 15:51] 9prady9 commented on #2847
These seem to be tests from Julia wrapper and not the tests arrayfire project. What is the other known issue you are referring to ?

[2020-05-06 16:09] #2671 closed

[2020-05-06 20:01] patelpreet422 commented on #2781
I'am also getting the same error. But all the benchmarks seems to be running fine on all the using all three (i.e., CPU, CUDA and OpenCL) backend. But runtime exception is thrown in most of the examples in graphics directory. However, OpenCL and CPU examples are running only CUDA examples in graphics are throwing runtime error.

[code]
I downloaded `arrayfire 3.7.1-1` from Manjaro official repo.

[2020-05-06 21:16] pavanky commented on #2781
Can you run `nvidia-smi` and check if the gpu device is active? If you updated the driver you may have to restart.

[2020-05-07 04:16] 9prady9 commented on #2781
@patelpreet422 The v3.7.1 installer provided on our website is made using CUDA toolkit 10.0. But the info output from your example seems to be saying 10.2. Do you have CUDA toolkit installed anywhere else ? I believe you do since there is no other way info output would show 10.2 instead of 10.0. Please make the right set of dependencies are being used by the example program by checking `LD_LIBRARY

[2020-05-10 07:34] glavaux2 opened #2879 "enqueueFillBuffer not existing in OpenCL 1.1"
There are those calls in opencl/kernel/reduce_by_key.hpp
[code]

_Originally posted by @glavaux2 in https://github.com/arrayfire/arrayfire/issues/2803#issuecomment-602558969_

[2020-05-10 07:35] glavaux2 commented on #2879
This issue is still present in the current master. I have developped a work around in https://github.com/glavaux2/arrayfire/tree/gl/remove_fill_buffer, but there may be more optimal way of doing that.

[2020-05-11 06:55] xichaoqiang opened #2880 "MKL lib files request"
Hello, I am using arrayfire to develop software, but I also want to use mkl to develop other functions. I want to use the mkl version used by arrayfire. Can you share the relevant lib files with me?

![image](https://user-images.githubusercontent.com/30900789/81532746-804b8880-9397-11ea-8b57-0871ae1b03aa.png)

[2020-05-11 07:26] 9prady9 opened #2881 "Add bias parameter for stdev functions"

[2020-05-11 09:17] 9prady9 opened #2882 "Add batching support for vision functions"
- [ ] fast
- [ ] orb
- [ ] harris
- [ ] sift
- [ ] susan

[2020-05-11 09:51] maksimpiriyev commented on #2882
awesome

[2020-05-11 14:06] 9prady9 commented on #2880
@xichaoqiang The best way to handle this would be download relevant Intel MKL and use that. Given below is the version we used.

Intel MKL Version: 2019.4.245
Intel MKL Download name on website: 2019 Update 4

[2020-05-11 15:25] #2880 closed

[2020-05-11 21:12] #2879 closed

[2020-05-12 00:32] maksimpiriyev commented on #2882
fft and ifft would also be great functions to do inside gfor

[2020-05-13 18:02] JonathanWoollett-Light opened #2885 "Unneccessary usage of enum parameter `af_border_type` in `af_maxfilt` and `af_minfilt`"
For both `af_maxfilt` and `af_minfilt` the enum `af_border_type` is used for the `edge_pad` parameter.

The documentation ([max](http://arrayfire.org/docs/group__image__func__maxfilt.htm), [min](http://arrayfire.org/docs/group__image__func__minfilt.htm)) notes only 2 values of the enum can be used, `AF_PAD_ZERO` and `AF_PAD_SYM` (which if true I would suggest should mean a different parameter type

[2020-05-14 06:30] 9prady9 commented on #2885
The idea behind having the enum parameter is to enable potential future expansion of types of border padding. This is also the reason we have a default parameter value in our C++ API. So far, we haven't had any requests for other types of border padding, hence the delay in expanding the padding support for this function. You are welcome to contribute or raise a feature request if it is needed for

[2020-05-14 16:09] daniel-dsouza opened #2887 "using af::histequal() inside gfor()"
hello all,

I am trying to use the `af::histequal` function inside gfor, and am having trouble understanding how to input the desired histogram.

I am trying something like this:

[code]

where `unwrapped` is a representation of an image with sliding windows as columns and `ahist` is an array with the histogram of each window as a column.

The problem I am running into is that `af::histEqual` chec

[2020-05-15 02:57] ZHAOZETAO opened #2888 "RuntimeError: Could not load any ArrayFire libraries."
I have include export LD_LIBRARY_PATH=/home/ztzhao/Downloads/arrayfire/lib64:$LD_LIBRARY_PATH  in my ~/.bashrc, but when I want to run  python -m arrayfire.tests it still can not load arrayfire libraries.

[2020-05-15 03:03] #2888 closed

[2020-05-18 09:18] villekf opened #2889 "Linux installer's Forge causes MATLAB to crash"
The Forge included in the official Linux installer is currently causing MATLAB to crash (segfault) when an ArrayFire mex-code is run (the below example causes this).

[code]
On Windows, using the installer and MATLAB has no issues. Furthermore, building AF from source with Forge ON (or OFF) also works. If these built Forge libraries are replaced with the ones from the installer, the crashes start

[2020-05-18 13:49] 9prady9 commented on #2889
@villekf Did you check if right set of libraries are being used when arrayfire is being used from ArrayFire ? You can run the program with `export AF_TRACE=all` to see which libraries are being loaded.

[2020-05-18 14:12] villekf commented on #2889
With `export AF_TRACE=all` the output is

`[platform][1589810797][014006] [ ../src/backend/common/DependencyModule.cpp:55 ] Attempting to load: libforge.so`

after which the crash occurs. libforge.so can only be found from the AF install lib64-folder.

[2020-05-18 14:34] 9prady9 commented on #2889
It should have continued without a crash - that's the expected behavior, even if it didn't load forge library. Can you please the entire log of all trace output.

[2020-05-18 14:39] villekf commented on #2889
If the Forge files are in the library folder, that is all the output there is (MATLAB segfaults).

If I remove them, the output becomes this on OpenCL (and everything works without crashes):

[code]

[2020-05-18 14:46] 9prady9 commented on #2889
Which backend are you using ?

Based on your output, the program does progress after trying to load forge and it fails. I am guessing somehow the forge lib is corrupt because we do handle the scenario when forge loading fails, in all backends.

Can you try reproducing this using regular C++ example - try any C++ graphics example that get's shipped with out installer ? If yes, then the problem is w

[2020-05-18 19:42] villekf commented on #2889
I'm using OpenCL, but the same thing happens for both CPU and CUDA as well.

Running the conway_opencl example produces the following when using the installer libraries:

[code]

CUDA:

[code]

On the other hand, building from source (no crashes in MATLAB, this time the current master) produces the following with conway_opencl:

[code]

Non-graphics related examples work fine in both cases, e.g. h

[2020-05-19 08:06] 9prady9 commented on #2889
@villekf Is it possible for you to reach out to me on https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ we can continue discussion over there. I have some questions, a quick back and forth may resolve the problem quickly which is much easier on slack.

[2020-05-19 18:04] 9prady9 commented on #2857
Main features are done, will handle disk caching for OpenCL now.

[2020-05-19 20:02] daniel-dsouza commented on #2887
alternatively, is there a way to use `lookup()` inside a gfor loop?

[2020-05-19 23:58] JonathanWoollett-Light opened #2892 "`convole2NN`: Why can't 0 padding be used?"
The function [`convole2NN`](http://arrayfire.org/docs/group__signal__func__convolve2.htm#ga8a6da9b0bf8e0287d71d02e2cd763cde) does not allow for any of the of the values of the `padding` parameter to be 0.

It is relatively common practice to use 0 padding in convolutional layers.

Is this an oversight or a decision? If a decision, why?

[2020-05-20 00:03] syurkevi commented on #2892
This has been fixed in #2820
If you don't want to rebuild master I think the C api does not have this issue.

[2020-05-20 00:03] #2892 closed

[2020-05-20 08:07] 9prady9 commented on #2887
@daniel-dsouza there is not batching support (thus no gfor too) for histEqual at the moment. I will look into this soon. Don't have ETA though unfortunately.

Can you show some code where you are trying to use lookup inside gfor. It would depend on what kind of operation you are doing using lookup inside gfor.

[2020-05-20 08:10] 9prady9 commented on #2887
@daniel-dsouza As long as the inputs to histEq call match it's requirements, in this case the histogram being a vector, it should work fine. Can you please share a full stand alone code snippet for histeq usage also.

[2020-05-20 10:37] 9prady9 commented on #2885
@JonathanWoollett-Light Closing the since the original query has been answered. Feel free to raise a feature request for other types of padding if they are required for your use cases.

[2020-05-20 10:37] #2885 closed

[2020-05-20 14:53] daniel-dsouza commented on #2887
[code]
Where `result`, `lut`, and `indices` are 2D matrices in which operations on columns are independent. af::lookup has an issue that `indices` is not a vector.

I have replaced the above gfor loop with the following snippet, but it seems to be creating a CPU bottleneck:

[code]

[2020-05-20 19:16] WilliamTambellini opened #2895 "AF does not forward AF exceptions thrown in a custom mem manager"
As today, AF does not correctly forward any af exception done in a custom memory manager.
To reproduce:
- create your own mem mgr alloc
- throw a AF OOM (101) exception from the alloc of your mem manager
- see that at the user level, AF has strangeley converted the AF OOM exception to a unknown 999  exception preventing to get the root cause of the exception

Example :
  const unsigned N = 99999;

[2020-05-20 22:55] WilliamTambellini opened #2896 "arrayfire_test compilation error"
Hello
This is 'just' a compilation error with todays master when building AF in a build folder not called 'build' (eg 'release', or 'debug'):
...
[ 23%] Built target af_cuda_static_cuda_library
In file included from /home/wtambellini/repos/arrayfire/test/./testHelpers.hpp:17:0,
                 from /home/wtambellini/repos/arrayfire/test/arrayfire_test.cpp:11:
/home/wtambellini/repos/arrayfire/tes

[2020-05-20 23:53] WilliamTambellini commented on #2895
Hum, please hold @umar456 , I cannot reproduce with the AF mem unittest so perhaps a flashlight thing. TBC.

[2020-05-21 07:16] 9prady9 commented on #2896
Thank you for reporting it. Fixed it in #2898

[2020-05-21 07:19] 9prady9 commented on #2887
@daniel-dsouza Thank you, will get back to you over in the next couple of days.

[2020-05-21 15:00] umar456 commented on #2895
The test is not returning the correct error code from the af_memory_manager_native_alloc call. The test can be fixed by the following diff:

[code]

This returns the correct error code in case of an out of memory exception. I will add a relevant test for this.

[2020-05-21 15:00] #2895 closed

[2020-05-21 15:48] #2896 closed

[2020-05-22 00:03] WilliamTambellini commented on #2895
Tks @umar456

[2020-05-22 21:03] WilliamTambellini opened #2900 "af::allReduce(list<af::array&>)"
This is a RFC for a new function in AF in order to do Xdevice (cross GPU) reduction (at least sum atm) :
example:
`
// say at least 2 gpus locally
af::setDevice(0);
af::array g0 = af::constant<float>(1.0, 2, 2);
af::setDevice(1);
af::array g1 = af::constant<float>(2.0, 2, 2);

af::allReduce({g0, g1}); // let's sum cross GPU
assert(g0.dims() = {2,2});
assert(g0 == af::constant(3.0, 2,2));
assert(g1

[2020-05-24 07:04] jjqcat opened #2903 "Build fails with source downloaded from release asset when git is not available"
Hi, I use vckpg to install the latest version arrayfire, got the result as below, and can't solve the problem "CMake Error at src/backend/cuda/kernel/thrust_sort_by_key/CMakeLists.txt:8 (file):
  file STRINGS file
  "E:/CCD-VisionController/Source/DependLib/arrayfire-full-3.7.1/src/backend/cuda/kernel/thrust_sort_by_key/thrust_sort_by_key_impl.cu"
  cannot be read."

E:\CCD-VisionController\Source

[2020-05-24 07:12] 9prady9 commented on #2903
I am unable to follow what is the problem. VCPK dependencies aren't used by CUDA backend. In fact to build CUDA backend, you don't need any external dependencies except the CUDA toolkit & boost(you may use vcpkg for this, but that is not mandatory, you can just download headers and use them).

The file that is being reported as `cannot read` is part of the main repository, I wonder how that may go

[2020-05-24 09:31] jjqcat commented on #2903
oh, sorry, the problem is occurred in the version arrayfire-full-3.7.1, after clone the latest source, nothing happens , thanks.

[2020-05-24 09:32] 9prady9 commented on #2903
do you mean there is no issue now ?

[2020-05-24 09:45] jjqcat commented on #2903
yes, all works well

[2020-05-24 10:00] 9prady9 commented on #2903
What was the problem actually ? using https://github.com/arrayfire/arrayfire/releases/download/v3.7.1/arrayfire-full-3.7.1.tar.bz2 caused issues ? If yes, that shouldn't have happended.

[2020-05-24 10:26] jjqcat commented on #2903
OK, I will try it.  another compile problem is that af library compile with AF_UNIFIED, the  INSTANTIATE defined in array.cpp and vs2017 report error like below:

INSTANTIATE(double) : error C2910: 'af::array::{ctor}': cannot be explicitly specialized

[2020-05-24 10:37] 9prady9 commented on #2903
We use VS2017 for our CI builds, it is interesting that it isn't failing on ours. What is the toolset version that is being used when you use vs2017 cmake generator ?

[2020-05-24 10:44] jjqcat commented on #2903
Microsoft Visual Studio Community 2017
Version 15.9.23
VisualStudio.15.Release/15.9.23+28307.1146
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Community

Visual C++ 2017   00369-60000-00001-AA608
Microsoft Visual C++ 2017

ASP.NET and Web Tools 2017   15.9.04012.0
ASP.NET and Web Tools 2017

Azure App Service Tools v3.0.0   15.9.03024.0
Azure App Service Tools v3.0.0

C# Tools

[2020-05-24 10:52] 9prady9 commented on #2903
Here is what on our CI

`-- The C compiler identification is MSVC 19.16.27031.1
-- The CXX compiler identification is MSVC 19.16.27031.1
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.16.27023/bin/Hostx64/x64/cl.exe
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.16.2702

[2020-05-24 10:56] 9prady9 commented on #2903
It could be possible that this problem is fixed in master but not 3.7.1 source since the fixes (such as https://github.com/arrayfire/arrayfire/commit/ce851753975fc4acd1098e8170216f0f18e6b38c) for older vs2015 came after the fix release.

[2020-05-24 12:12] jjqcat commented on #2903
Iuse the command like as cmake -Tv141 -G "Visual Studio 15 2017 Win64"

[2020-05-24 12:27] 9prady9 commented on #2903
If it works with current master, then the fixes are already in master. They will be available with the next fix release.

[2020-05-24 12:37] jjqcat commented on #2903
I get the source code of tag 3.7  from github to replace all, only leave project file, it compiles well.

[2020-05-24 12:48] 9prady9 commented on #2903
I downloaded https://github.com/arrayfire/arrayfire/releases/download/v3.7.1/arrayfire-full-3.7.1.tar.bz2 and was able to do the following successfully.
- Extract the compressed files
- Ran cmake without the issue of "src/backend/cuda/kernel/thrust_sort_by_key/thrust_sort_by_key_impl.cu"
- built unified library

I did these on Linux, I wouldn't expect any difference of behavior from cmake at least

[2020-05-24 12:52] jjqcat commented on #2903
I use cmake-3.17.1-win64-x64

[2020-05-24 12:55] 9prady9 commented on #2903
I have 3.17.2 on my Windows setup, will try to reproduce on windows. It doesn't seem to happen on Linux though.

[2020-05-24 13:00] jjqcat commented on #2903
ok, I will decompress version 3.71 source and try to cmake it again,maybe it is my mistakes.

[2020-05-24 13:06] jjqcat commented on #2903
my CL toolset is
E:\CCD-VisionController\Source\DependLib\array3.71\build>cmake -Tv141 -G "Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="E:\CCD-VisionController\Source\DependLib\vcpkg\scripts\buildsystems\vcpkg.cmake" ..
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.18362.
-- The C compiler identification is MSVC 19.16.27040.0
-- The CXX compiler identification is MSV

[2020-05-24 13:25] 9prady9 commented on #2903
Can you trying building unedited version of those files?

[2020-05-24 13:37] jjqcat commented on #2903
It's  sure  the version 3.7.1 is right and cmake successfully and compile it without errrors.

[2020-05-24 15:17] 9prady9 commented on #2903
Perhaps I wasn't clear enough. I was asking you to compile uncompressed arrayfire 3.7.1 folder without editing any cmake files. If it doesn't build even then, then we have an issue in the code.

[2020-05-25 12:22] jjqcat commented on #2903
I have tested with origin cmakelists.txt file , failed to config and output as:

E:\CCD-VisionController\Source\DependLib\arrayfire-full-3.7.1\build>cmake -Tv141 -G "Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="E:\CCD-VisionController\Source\DependLib\vcpkg\scripts\buildsystems\vcpkg.cmake" ..
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.18362.
-- The C compiler ide

[2020-05-25 13:09] jjqcat commented on #2903
In,addition, I can't install boost by vcpkg tool, my env is windows 10 X64 OS, I got errors as below:

E:\CCD-VisionController\Source\DependLib\vcpkg>vcpkg install --triplet x64-windows forge
Computing installation plan...
The following packages will be built and installed:
  * boost-assert[core]:x64-windows
  * boost-compatibility[core]:x64-windows
  * boost-config[core]:x64-windows
  * boost-con

[2020-05-25 13:59] jjqcat opened #2904 "CUDA is lower than CPU version?"
I test the demo  with CUDA version, get  time spend by image threshold about 3000ms, but with CPU version is about 740ms.

CPU version:
E:\CCD-VisionController\Source\DependLib\array3.71\build\bin\Release>adaptive_thresholding_cpu.exe
ArrayFire v3.7.1 (CPU, 64-bit Windows, build default)
[0] Intel: Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz, 16234 MB, Max threads(12)
time elapse 739 ms
Press ESC whi

[2020-05-25 14:05] 9prady9 commented on #2904
First run of the functions includes kernel compilation and device warm up.  Please use timeit from our timing tutorial to see the actual average run time. http://arrayfire.org/docs/timing.htm

[2020-05-25 14:12] 9prady9 commented on #2903
This error is not same as the earlier one. I see only one error in this and that is about git being unavailable for cmake to fetch the external project source code. This is something that could use a fix I think but it requires cmake changes and perhaps including these projects as gut subtree.

Current workaround for this issue is to simply install git so that cmake can fetch relevant external rep

[2020-05-25 14:15] 9prady9 commented on #2903
Seems like a network issue. We don't do set any vcpkg things specifically, Cmake uses the toolchain file directly. You can direct this question on vcpkg repository, they would be of better help. Having said that, I didn't have issues like these installing boost on vcpkg but that was few months ago.

[2020-05-25 14:24] jjqcat commented on #2904
I have use timeit function to evaluate it.
CUDA version:
E:\CCD-VisionController\Source\DependLib\array3.71\build\bin\Release>adaptive_thresholding_cuda.exe
ArrayFire v3.7.1 (CUDA, 64-bit Windows, build default)
Platform: CUDA Runtime 10.2, Driver: 11000
[0] GeForce GTX 1660 Ti, 6144 MB, CUDA Compute 7.5
pi_function took 0.0107953 seconds
Press ESC while the window is in focus to exit

CPU version

[2020-05-25 15:18] ebarjou opened #2905 "Unexpected CPU usage from af_is_real"
Hello, not sure if this is a bug or a misunderstanting from my part :
Using unified backend 3.7.1 with CUDA, the thread running this function is always at 100% CPU usage and the execution time is far above what I expected compared to other calculations I do in the same program :

[code]
All array used are f32.

Using a profiler, "af_is_real" represent consistently more than 99% of the time spent i

[2020-05-25 18:16] 9prady9 commented on #2904
Closing since the query has been addressed. @jjqcat Our slack channel is a better place for questions such as these. Here's the invite https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ